﻿@model IEnumerable<TonyMultipurpose.Areas.Accounts.ViewModels.AccountCountViewModel>

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-8">
        <div>
            <h2>Accounts Summary</h2>

            <table class="table table-bordered table-striped table-condensed">
                <colgroup>
                    <col/>
                    <col class="text-center"/>
                    <col class="text-center"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Account Head</th>
                    <th>Live</th>
                    <th>Closed</th>
                </tr>
                </thead>
                <tbody>

                    @foreach (var countAccount in Model)
                    {
                        <tr>
                            <td>Total Savings Account (With interest)</td>
                            <td>@countAccount.LiveSavingsWI</td>
                            <td>@countAccount.ClosedSavingsWI</td>
                        </tr>
                        <tr>
                            <td>Total Savings Account (Without interest)</td>
                            <td>@countAccount.LiveSavingsWithoutI</td>
                            <td>@countAccount.ClosedSavingsWithoutI</td>
                        </tr>
                        <tr>
                            <td>Total FDR Account</td>
                            <td>@countAccount.LiveFD</td>
                            <td>@countAccount.ClosedFD</td>
                        </tr>
                        <tr>
                            <td>Total DBDS Account</td>
                            <td>@countAccount.LiveDB</td>
                            <td>@countAccount.ClosedDB</td>
                        </tr>
                        <tr>
                            <td>Total MBDS Account</td>
                            <td>@countAccount.LiveMB</td>
                            <td>@countAccount.ClosedMB</td>
                        </tr>
                        <tr>
                            <td>Total CSS Account</td>
                            <td>@countAccount.LiveCSS</td>
                            <td>@countAccount.ClosedCSS</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>