﻿@model IEnumerable<TonyMultipurpose.Areas.Accounts.ViewModels.AccountsViewModel>

@{
    WebGrid gridClosedAccounts = new WebGrid(Model, canPage: true,
        canSort: true, rowsPerPage: 500, ajaxUpdateContainerId: "grdClosedAccounts");
    int rowValClosedAccounts = 0;
}
<h2>Closed Accounts</h2>
<div class="form-group">
    <div class="input-group col-md-3 col-sm-4 col-xs-6">
        <span class="input-group-addon">Search</span>
        <input type="text" id="searchClosedAccounts" class="form-control input-sm" placeholder="Enter Search Kewords" />
    </div>
</div>
<div class="table-responsive">
    @gridClosedAccounts.GetHtml(
        tableStyle: "table table-bordered table-striped table-condensed",
        htmlAttributes: new { id = "grdClosedAccounts" },
        columns: gridClosedAccounts.Columns
            (
                gridClosedAccounts.Column("SL No.", format: item => rowValClosedAccounts = rowValClosedAccounts + 1),
                gridClosedAccounts.Column("AccountNumber", "Account Number"),
                gridClosedAccounts.Column("CustomerName", "Customer Name"),
                gridClosedAccounts.Column("Mobile", "Mobile No"),
                gridClosedAccounts.Column("BranchName", "Branch Name"),
                gridClosedAccounts.Column("AccountType", "Account Type"),
                gridClosedAccounts.Column("CustomerId", "Customer Id"),
                gridClosedAccounts.Column("OpeningDate", "Account Opening Date"),
                gridClosedAccounts.Column("AccountBalance", "Account Balance"),

                gridClosedAccounts.Column("Photo", format: @<text><img src="@item.CustomerImage" class="grid-image" /></text>),
                gridClosedAccounts.Column(format: @<text>@Html.ActionLink("Print", "CreatePDF", new {item.AccountNumber, item.AccountTypeId }, new { target = "_blank" }) </text>,
                    header: "Print")

            )
        )
</div>