﻿<h3 style="text-align:center;">TMC Limited</h3>
<h4 class="center-aligned slateblue">@Model.dtCommon.Rows[0]["AccountType"]</h4>
<h4 class="center-aligned">@Model.dtCommon.Rows[0]["CustomerName"]</h4>
<h4 class="center-aligned">Account No : <span style="color:green"> @Model.dtCommon.Rows[0]["AccountNumber"]</span></h4>
<h4 class="center-aligned slateblue">Customer ID : @Model.dtCommon.Rows[0]["CustomerId"]</h4>
<br />

<div class="row">
    <div class="col-xs-4">
        <p class="slateblue">
            The Manager,
            <br /> TMC Limited.
            <br /> @Model.dtCommon.Rows[0]["BranchName"]
        </p>
    </div>
    <div class="col-xs-6 pull-right">

        <table class="table table-bordered table-condensed">
            <tr>
                <td class="td-title-column">Date</td>
                <td class="td-colon-column">:</td>
                <td>@string.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["OpeningDate"])</td>
            </tr>
            <tr>
                <td class="td-title-column">Inputer Name</td>
                <td class="td-colon-column">:</td>
                <td class="blanchedalmond">@Model.dtCommon.Rows[0]["Username"]</td>
            </tr>
            <tr>
                <td class="td-title-column">Branch Code</td>
                <td class="td-colon-column">:</td>
                <td>@Model.dtCommon.Rows[0]["BranchCode"]</td>
            </tr>
            <tr>
                <td class="td-title-column">Branch Name</td>
                <td class="td-colon-column">:</td>
                <td>@Model.dtCommon.Rows[0]["BranchName"]</td>
            </tr>
        </table>
    </div>

</div>