﻿@model IEnumerable<TonyMultipurpose.Areas.Accounts.ViewModels.AccountsViewModel>

@{
    WebGrid gridLiveAccounts = new WebGrid(Model, canPage: true,
        canSort: true, rowsPerPage: 500, ajaxUpdateContainerId: "grdLiveAccounts");
    var rowValLiveAccounts = 0;
}
<h2>Live Accounts</h2>
<div class="form-group">
    <div class="input-group col-md-3 col-sm-4 col-xs-6">
        <span class="input-group-addon">Search</span>
        <input type="text" id="searchLiveAccounts" class="form-control input-sm" placeholder="Enter Search Kewords" />
    </div>
</div>

<div class="table-responsive">
    @gridLiveAccounts.GetHtml(
        tableStyle: "table table-bordered table-striped table-condensed",
        htmlAttributes: new { id = "grdLiveAccounts" },
        columns: gridLiveAccounts.Columns
            (
                gridLiveAccounts.Column("SL No.", format: item => rowValLiveAccounts = rowValLiveAccounts + 1),
                gridLiveAccounts.Column("AccountNumber", "Account Number"),
                gridLiveAccounts.Column("CustomerName", "Customer Name"),
                gridLiveAccounts.Column("Mobile", "Mobile No"),
                gridLiveAccounts.Column("BranchName", "Branch Name"),
                gridLiveAccounts.Column("AccountType", "Account Type"),
                gridLiveAccounts.Column("CustomerId", "Customer Id"),
                gridLiveAccounts.Column("OpeningDate", "Account Opening Date"),
                gridLiveAccounts.Column("AccountBalance", "Account Balance"),

                gridLiveAccounts.Column("Photo", format: @<text><img src="@item.CustomerImage" class="grid-image" /></text>),

                gridLiveAccounts.Column(style: "grid-action-column", format: @<text>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.AccountNumber }, new { target = "_blank" })</li>
                        <li>@Html.ActionLink("Details", "Details", new { id = @item.AccountNumber }, new { target = "_blank" })</li>
                        <li>@Html.ActionLink("Print", "CreatePDF", new { item.AccountNumber, item.AccountTypeId }, new { target = "_blank" })</li>
                    </ul>
                </div>
                </text>,
                    header: "Action")

                    @*gridLiveAccounts.Column(format: @<text>@Html.ActionLink("Edit", "Edit", new { id = item.AccountNumber }) </text>,
                        header: "Edit"),*@
                    @*gridLiveAccounts.Column(format: @<text>@Html.ActionLink("Details", "Details", new { id = @item.AccountNumber }, new { target = "_blank" }) </text>,header: "Details"),*@
                    @*gridLiveAccounts.Column(format: @<text>@Html.ActionLink("Print", "CreatePDF", new {item.AccountNumber, item.AccountTypeId }, new { target = "_blank" }) </text>,header: "Print")*@
            )
        )
</div>
