﻿<div class="row">
    <div class="col-xs-8">
        <div class="text-justify">
            Dear Sir, I/ We Do hereby nominate the following person(s) to receive the entire amount deposited in the  above account in the event of
            my/ our death. I/We do hereby reserve the right to cancel of change the said nominee at any time.
            I/We do hereby also declare that the TMC Ltd. will not be held responsible
            for any transaction given me/us.
        </div>
    </div>
    <div class="col-xs-2">
        <div class="pull-right">
            <img src="@Model.dtCommon.Rows[0]["FirstNomineeImagePath"]" alt="No Image" class="img-responsive img-thumbnail nominee-image" />
        </div>
    </div>
    <div class="col-xs-2">
        <div class="pull-right">
            <img src="@Model.dtCommon.Rows[0]["SecnondNomineeImagePath"]" alt="No Image" class="img-responsive img-thumbnail nominee-image" />
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered table-condensed">
            <tr class="slateblue blanchedalmond">
                <td class="td-number-column"></td>
                <td class="td-title-column">Data</td>
                <td class="td-colon-column"></td>
                <td class="nominee-column">Nominee 01</td>
                <td class="td-colon-column"></td>
                <td class="nominee-column">Nominee 02</td>
            </tr>
            <tr>
                <td class="td-number-column">01</td>
                <td class="td-title-column">Name</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["FirstNomineeName"]</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["SecnondNomineeName"]</td>
            </tr>
            <tr>
                <td class="td-number-column">02</td>
                <td class="td-title-column">Father's Name</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["FirstNomineeFatherName"]</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["SecnondNomineeFatherName"]</td>
            </tr>
            <tr>
                <td class="td-number-column">03</td>
                <td class="td-title-column">Mothers' Name</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["FirstNomineeMotherName"]</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["SecnondNomineeMotherName"]</td>
            </tr>
            <tr>
                <td class="td-number-column">04</td>
                <td class="td-title-column">Spouse Name</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["FirstNomineeSpouseName"]</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["SecnondNomineeSpouseName"]</td>
            </tr>
            <tr>
                <td class="td-number-column">05</td>
                <td class="td-title-column">Nationlity</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["FirstNomineeNationality"]</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["SecnondNomineeNationality"]</td>
            </tr>
            <tr>
                <td class="td-number-column">06</td>
                <td class="td-title-column">NID</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["FirstNomineeNationalId"]</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["SecnondNomineeNationalId"]</td>
            </tr>
            <tr>
                <td class="td-number-column">07</td>
                <td class="td-title-column">Date of Birth</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["FirstNomineeDateOfBirth"]</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["SecnondNomineeDateOfBirth"]</td>
            </tr>
            <tr>
                <td class="td-number-column">08</td>
                <td class="td-title-column">Mobile No</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["FirstNomineeMobile"]</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["SecnondNomineeMobile"]</td>
            </tr>
            <tr>
                <td class="td-number-column">09</td>
                <td class="td-title-column">Occupation</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["FirstNomineeOccupation"]</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["SecnondNomineeOccupation"]</td>
            </tr>
            <tr>
                <td class="td-number-column">10</td>
                <td class="td-title-column">Designation</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["FirstNomineeDesignation"]</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["SecnondNomineeDesignation"]</td>
            </tr>
            <tr>
                <td class="td-number-column">11</td>
                <td class="td-title-column">Adress</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["FirstNomineeAddress"]</td>
                <td class="td-colon-column">:</td>
                <td class="nominee-column">@Model.dtCommon.Rows[0]["SecnondNomineeAddress"]</td>
            </tr>
        </table>

    </div>
</div>
