﻿<div>
    <table class="table text-center borderless">
        <tr>
            <td>
                <p class="sign-line"></p>
                <p>
                    <b>@Model.dtCommon.Rows[0]["Username"]</b><br />Signature with Seal
                </p>
            </td>
            <td>
                <p class="sign-line"></p>
                <p>
                    <b>Authorized Officer</b> <br />Signature with Seal
                </p>
            </td>
            <td>
                <p class="sign-line"></p>
                <p>
                    <b>Manager </b><br />Signature with Seal
                </p>
            </td>
            <td>
                <p class="sign-line"></p>
                <p>
                    <b>Customer </b>
                </p>
            </td>
        </tr>
    </table>
</div>