﻿@if (!string.IsNullOrEmpty(Convert.ToString(@Model.dtCommon.Rows[0]["TermsAndConditions"])))
{
    <div class="row breakhere">
        <div class="col-xs-12">
            <h1 style="color: red; text-align: center">Terms & Conditions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.Raw(@Model.dtCommon.Rows[0]["TermsAndConditions"])

        </div>
    </div>
}
