﻿@using System.Data
@model TonyMultipurpose.Areas.Accounts.Models.Account

@{
    ViewBag.Title = "Double Benifit";
    Layout = null;
}
<!-- Latest compiled and minified CSS -->

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@
<style>
    .tableBorder {
        border: 1px inset black !important;
    }

    .tableBorderset {
        border: 1px inset black !important;
        width: 100% !important;
    }

    .mainHedder {
        text-align: center;
        font-weight: bold;
    }

    .GroupBold {
        font-weight: bold;
        padding-bottom: 50px;
    }

    #rowLine {
        color: #f00;
        background-color: black;
        height: 1px;
    }

    .borderSet > th {
        border: 1px inset black !important;
    }

    .borderSetTr {
        border-collapse: collapse;
    }

    .borderSetTr, th, td {
        border: 1px inset black!important;
    }

    .borderSet > td {
        border: 1px inset black !important;
    }

    #tdDelete {
        border: 0px !important;
    }

    #tdWidth {
        width: 50px !important;
    }

    .trRightLeftBorder {
        border-left: 1px inset black !important;
        border-right: 1px inset black !important;
    }

    .bordertop {
        border-top: 1px inset black !important;
        border-left: 1px inset black !important;
        border-right: 1px inset black !important;
    }

    .borderbottom {
        border-bottom: 1px inset black !important;
        border-left: 1px inset black !important;
        border-right: 1px inset black !important;
    }

    .rightClear {
        border-right: 0px inset black !important;
    }
    #borderdelete{
        border:0px!important;
    }
    .breakhere {
        display: block;
        clear: both;
        page-break-before: always;
    } 
</style>


<div class="container">
    <div class="form-group">
        <h2 style="text-align:center;font-weight:bold">TMC Limited</h2>
        <div class="">
            <h3 class="mainHedder" style="color:slateblue">@Model.dtCommon.Rows[0]["AccountType"]</h3>
            <h2 class="mainHedder" style="color:black;font-weight:bold">@Model.dtCommon.Rows[0]["CustomerName"]</h2>
            <h3 class="mainHedder">Account No : <span style="color:green"> @Model.dtCommon.Rows[0]["AccountNumber"]</span></h3>
            <h3 class="mainHedder" style="color:slateblue">Customer ID : @Model.dtCommon.Rows[0]["CustomerId"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="pull-right">
                <table class="table" style="font-size:20px;width:450px;height:105px!important;">
                    <tr class="bordertop">
                        <td id="tdDelete"> Date</td>
                        <td id="tdDelete"> : </td>
                        <td id="tdDelete">@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["OpeningDate"])</td>
                    </tr>
                    <tr class="trRightLeftBorder">
                        <td id="tdDelete">Inputer Name</td>
                        <td id="tdDelete"> : </td>
                        <td id="tdDelete" style="background-color:blanchedalmond">@Model.dtCommon.Rows[0]["Username"]</td>
                    </tr>
                    <tr class="trRightLeftBorder">
                        <td id="tdDelete">Branch Code</td>
                        <td id="tdDelete"> : </td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["BranchCode"]</td>
                    </tr>
                    <tr class="trRightLeftBorder">
                        <td id="tdDelete">Branch Name</td>
                        <td id="tdDelete"> : </td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["BranchName"]</td>
                    </tr>
                    <tr class="borderbottom">
                        <td id="tdDelete">Reference Name</td>
                        <td id="tdDelete"> : </td>
                        <td id="tdDelete"></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <p style="color:slateblue;font-size:25px">
                    The Manager,
                    <br /> TMC Limited.
                    <br /> Chanduria  Branch,
                    <br /> <span style="text-decoration:underline">Chanduria</span> Kalaroa, Satkhira
                </p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <p style="color:slateblue; font-size: 25px; text-align: justify;">
            Dear Sir,
            <br /> I/We want to open a deposit Account in your TMC Limited<span style="color:forestgreen"> "Contributory Savings Scheme" </span> with a monthly deposit of Tk. <span style="color:red"> @Model.dtCommon.Rows[0]["Credit"] </span> only for <span style="color:red"> @Model.dtCommon.Rows[0]["Duration"] </span> month in the following name. I/We have read and understood and shall abide by all the rules and
            <br /> regulations of Tony Multi-purpose Co-Operative Society Limited (as per overleaf), governing the said account.  I/We also agree to be bound by such terms & conditions as may be amended or supplemented from time to time by TMC limited Governing Body.
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="pull-right">
                <div class="img-responsive">
                    <img src="" alt="No Image" width="150px" height="150px" id="CustomerImage" />
                    <input type="hidden" id="hdfCustomerImage" value="@Model.dtCommon.Rows[0]["CustomerImage"]" />
                </div>
            </div>
            <div class="col-md-4">
                <table class="table" style="width:500px;height:150px!important;font-size:25px">
                    <tr class="bordertop" style="color:slateblue; background-color:blanchedalmond">
                        <td id="tdDelete">01</td>
                        <td id="tdDelete">Account Titel</td>
                        <td id="tdDelete"></td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["CustomerName"]</td>
                    </tr>
                    <tr class="bordertop">
                        <td id="tdDelete">02</td>
                        <td id="tdDelete">Name In Bangla </td>
                        <td id="tdDelete">:</td>
                        <td id="tdDelete"></td>
                    </tr>
                    <tr class="trRightLeftBorder">
                        <td id="tdDelete">03</td>
                        <td id="tdDelete">Father Name</td>
                        <td id="tdDelete">:</td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["FatherName"]</td>
                    </tr>
                    <tr class="trRightLeftBorder">
                        <td id="tdDelete">04</td>
                        <td id="tdDelete">Mother Name</td>
                        <td id="tdDelete">:</td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["MotherName"]</td>
                    </tr>
                    <tr class="borderbottom">
                        <td id="tdDelete">05</td>
                        <td id="tdDelete">NID No</td>
                        <td id="tdDelete">:</td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["NationalId"]</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <p style="font-size:25px">
            Dear Sir, I/ We Do hereby nominate the following person(s) to receive the entire amount deposited in the  above account in <br />the event of
            my/ our death. I/We do hereby reserve
        </p>
    </div>
    <div class="row">
        <div class="pull-right col-md-6">
            <div class="img-responsive">
                <img src="" alt="No Image" width="120px" height="120px" id="FirstNomineeImage" />
                <input type="hidden" id="hdfFirstNomineeImage" value="@Model.dtCommon.Rows[0]["FirstNomineeImagePath"]" />

                <img src="" alt="No Image" width="120px" height="120px" id="SeconNomineeImage" />
                <input type="hidden" id="hdfSeconNomineeImage" value="@Model.dtCommon.Rows[0]["SecnondNomineeImagePath"]" />
            </div>
        </div>
        <div class="col-md-4">
            <p style="font-size:25px">
                the right to cancel of change the said nominee at any time.
                I/We do hereby also declare <br />that the TMC Ltd. will not be held responsible
                for any transaction given me/us.
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <table class="tableBorderset" style="font-size:25px">
            <tr class="borderSetTr" style="color:slateblue;background-color:blanchedalmond">
                <td id="tdDelete"></td>
                <td id="tdDelete">Data</td>
                <td id="tdDelete"></td>
                <td>Nominee 01</td>
                <td class="rightClear"></td>
                <td>Nominee 02</td>
            </tr>
            <tr>
                <td>01</td>
                <td>Name of Nominee</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeName"]</td>
            </tr>
            <tr>
                <td>02</td>
                <td>Father Name</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeFatherName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeFatherName"]</td>
            </tr>
            <tr>
                <td>03</td>
                <td>Mother Name</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeMotherName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeMotherName"]</td>
            </tr>
            <tr>
                <td>04</td>
                <td>Spouse Name</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeSpouseName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeSpouseName"]</td>
            </tr>
            <tr>
                <td>05</td>
                <td>Nationlity</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeNationality"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeNationality"]</td>
            </tr>
            <tr>
                <td>06</td>
                <td>NID</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeNationalId"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeNationalId"]</td>
            </tr>
            <tr>
                <td>07</td>
                <td>Date of Birth</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeDateOfBirth"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeDateOfBirth"]</td>
            </tr>
            <tr>
                <td>08</td>
                <td>Mobile No</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeMobile"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeMobile"]</td>
            </tr>
            <tr>
                <td>09</td>
                <td>Occupation</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeOccupation"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeOccupation"]</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Designation</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeDesignation"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeDesignation"]</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Adress</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeAddress"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeAddress"]</td>
            </tr>
        </table>
    </div>
    <br />
    <div class="row">
        <table class="table" style="font-size:25px">
            <tr style="color:slateblue;background-color:blanchedalmond">
                <td colspan="5" style="text-align:center"><span style="text-decoration: underline"> Office Use Only</span></td>
            </tr>
            <tr>
                <td>Date of openingA/C </td>
                <td>Monthly Contribution</td>
                <td>Date of Maturity</td>
                <td>Amount to be paid at Maturity (Tk)</td>
                <td rowspan="2" style="text-align:center;padding-top:10px">Original Passport / ID sighted and photocopy obtained</td>
            </tr>
            <tr style="height:80px!important">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                @*<td></td>*@
            </tr>
        </table>
    </div>
    <br />
    <br />
    <br />
    <p id="rowLine" style="margin-left:1265px; width:140px"></p>
    <p style="text-align:right;"><span><b>Customer  Signature</b></span></p>
    <div>
        <table class="table" style="font-size:15px">
            <tr class="borderSet">
                <td id="tdDelete"></td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p style="width:140px"><span style="background-color:blanchedalmond;text-decoration-line: overline;"><b>@Model.dtCommon.Rows[0]["Username"]</b></span>  <br />with seal and sign</p>
                </td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p><span><b>Authorized Officer</b></span> <br />with seal and sign</p>
                </td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p><b>Manager </b><br />with seal and sign</p>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="row">
        <p style="float:right">F-04/CSS/Back</p>
    </div>
    @if (!string.IsNullOrEmpty(Convert.ToString(@Model.dtCommon.Rows[0]["TermsAndConditions"])))
    {
        <div class="row breakhere">
            <h1 style="color: red; text-align: center">Terms & Condition</h1>
        </div>
        <div class="row">
            @Html.Raw(@Model.dtCommon.Rows[0]["TermsAndConditions"])
        </div>
    }
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    a();

    function a() {
        var image = $('#hdfCustomerImage').val();
        $('#CustomerImage').attr('src', image);
        var FirstNomineeImage = $('#hdfFirstNomineeImage').val();
        $('#FirstNomineeImage').attr('src', FirstNomineeImage);
        var SeconNomineeImage = $('#hdfSeconNomineeImage').val();
        $('#SeconNomineeImage').attr('src', SeconNomineeImage);
        if (FirstNomineeImage == '') {
            $('#FirstNomineeImage').hide();
        }
        if (SeconNomineeImage == '') {
            $('#SeconNomineeImage').hide();
        }
    }
</script>


@*old harcoded terms & conditions*@
@*<div class="row">
    <h1 style="color:red; text-align:center">Terms & Condition</h1>
</div>
<div class="row">
    <h3>1. Minimum size of the monthly installment shall be Tk 50.00 and Maximum installment size shall be TK.25000/-</h3>
</div>
<div class="row">
    <h3>2. The Deposit shall be for a period of 3/4/5/6/7/8/9/10 years.</h3>
</div>
<div class="row">
    <h3>
        3. Lump sum ammount shall be paid after maturity or monthly pension shall be paid after maturity of the said scheme according to the size of deposit.
        For example, brief charts of lump sum amoun pension installment payable are shown below:
    </h3>
</div>
<div class="row">
    <table class="tableBorderset" style="font-size:20px">
        <tr>
            <td>SL NO</td>
            <td>Size of monthly Deposit </td>
            <td width="300px" style="padding:10px">After      years the terminal value according to the size of installment</td>
            <td style="padding:10px">pension for next 5 years According to the size Of installment</td>
        </tr>
        <tr>
            <td>01</td>
            <td>50</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>02</td>
            <td>1,00</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>03</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>04</td>
            <td>2,00</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>05</td>
            <td>3,00</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>06</td>
            <td>4,00</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>07</td>
            <td>5,00</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>08</td>
            <td>6,00</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>09</td>
            <td>7,00</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>09</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<br />
<div class="row">
    <table class="table" style="font-size:20px;">
        <tr>
            <td id="tdDelete" width="15px">4. </td>
            <td id="tdDelete" width="400px">Any Charge in Govt. rule of taxation, TMC Limited reserves the right to deduct Income Tax. </td>
            <td id="tdDelete" width="300px">ভবিষ্যতে লাভের উপর সরকারী নীতিমালা অনুযায়ী আয়কর কর্তন করার অধিকার TMC Limited সংরক্ষণ করে ।</td>
        </tr>
        <tr>
            <td id="tdDelete">5. </td>
            <td id="tdDelete">ANY one can open more then one account for different size of installments.</td>
            <td id="tdDelete">সমিতির যেকোনো সমস্যা এই স্কিম টি খুলতে পারবে ।</td>
        </tr>
        <tr>
            <td id="tdDelete">6.</td>
            <td id="tdDelete">
                The Installment shall be payable by the 10th day  <span style="font-weight:bold">(Dated 15 to 25)</span>
                of every month. Advance payment of any number of installments is acceptable
            </td>
            <td id="tdDelete">এই স্কিমের আওতায় একজন সঞ্চয়কারী উপরে বর্ণিত যে কোন পরিমাণ মাসিক জমা ও মেয়াদে হিসাব খুলতে পারবেন , তবে হিসাব খোলার পরিবর্তীতে এই মাসিক জমার পরিমান ও মেয়াদ আর পরিবর্তন করা যাবে না । প্রয়োজনে একই গ্রাহক একাধিক ডিপিএস খুলতে পারবে ।</td>
        </tr>
        <tr>
            <td id="tdDelete">7.</td>
            <td id="tdDelete">
                Normally no withdrawal shall be allowed before maturity. if any depositor intends to withdraw his/her savings due to certain unavoidable reasons before matuity years, But
                the depositor shall be allowed interest on the prevalling Savings Deposit rate after completion of 1 (one )
                year from the date of opening of the account.a
            </td>
            <td id="tdDelete">প্রতি মাসের ১০-২৫ তারিখের মধ্যে মাসিক কিস্তি প্রদান করতে হবে ।</td>
        </tr>
        <tr>
            <td id="tdDelete">8. </td>
            <td id="tdDelete">
                When  a depositor fails to deposit any installment, he/she will have to pay a fine 8% of the ovcrduc account payable at the time of depositing the next installment. <span style="font-weight:bold">Not over 3 (three) month</span>
                at a time
            </td>
            <td id="tdDelete">এই স্কিমের আওতায় সঞ্চয়কারী মেয়াদপুতির আগে কোন টাকা উওোলন করতে চাইলে ক) সঞ্চয়ের মেয়াদ ১ (এক) বছরের কম হলে কোন প্রকার লভ্যাংশ পাবেন না, খ) সঞ্চয়ের মেয়াদ ১ (এক) বছরের বেশি হলে সাধারন সঞ্চয়ী হিসাবে রেট অনুযায়ী লভ্যাংশ পাবেন ।</td>
        </tr>
        <tr>
            <td id="tdDelete">9. </td>
            <td id="tdDelete">
                in case of death of a depositor, the scheme will cease to be operative and the amount
                deposited so far shall be paid to hte nominee, and in absence of nominee, to the legal heirs of
                deceased as per rules in force.
            </td>
            <td id="tdDelete">কোন সঞ্চয়ী নির্ধারিত সময়ে মাসিক কিস্তির টাকা জমা দিতে ব্যর্থ হলে , পরবর্তী কিস্তির সাথে মোট বকেয়া ৮% টাকা বেশি জমাদিতে হবে । সর্ত থাকে যে পর পর তিন মাসের বেশি যদি কিস্তি বাকি পড়ে যায় তাহলে তার বর্তমান সঞ্চয় হিসাব তি ফরমে উল্লেখিত স্কিম এর পরিবর্তে সাধারন “সঞ্চয় হিসাব” বলে গণ্য হবে এবং উক্ত হিসাবের উপর নুন্যতম ১ (এক) বছর মেয়াদপুরতির সাপেক্ষে সাধারন হিসাবের হার অনুযায়ী লভ্যাংশ প্রদান করা হবে ।</td>
        </tr>
        <tr>
            <td id="tdDelete">10.</td>
            <td id="tdDelete">
                Loan may be allowed up to 80% of the deposited amount against lein on the same after at least (two)
                2 Years of regular payment of installment and minimum limit of loan shall be Tk. 25000.
            </td>
            <td id="tdDelete">এই স্কিমের কোন সঞ্চয়কারী মৃতু্ হলে হিসাব টি তার নোমিনী নির্ধারিত সময় পর্যন্ত চলতে পারেন অথবা হিসাবটি স্থগিত হবে । বিধি মোতাবেক তার নোমিনী/ওয়ারেশগন গচ্ছিত ডিপিএস এর টাকা তুলতে পারবে ।</td>
        </tr>
        <tr>
            <td id="tdDelete"></td>
            <td id="tdDelete">
                I have gone through the terms and conditions mentioned above and understood them in entirety and undertake
                to abide by those terms and condition relating to the account. I also agree to be bound by such terms
                & conditions as may be amended or supplemented from time to time
            </td>
            <td id="tdDelete"></td>
        </tr>
        <tr>
            <td id="tdDelete"></td>
            <td id="tdDelete"></td>
            <td id="tdDelete">
                <table class="table">
                    <tr class="borderSet">
                        <td>গ্রাহকের স্বাক্ষর </td>


                    </tr>
                    <tr class="borderSet">
                        <td>গ্রাহকের নাম :</td>
                    </tr>
                    <tr>
                        <td id="tdDelete"> Full Name & Signature of the Applicant</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>*@