﻿@using TonyMultipurpose.Areas.Accounts.Models
@model Account
@{
    ViewBag.Title = "Account Details";
   
}

@using (Html.BeginForm("Index", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="container panel panel-default" style="float: left">
        <div class="panel-heading">
            <h3>Account Openning</h3>
        </div>
        <div class="panel-body">
            <table class="table" style="width: 55%">
                <tr>
                    <td> <label class="control-label">A/C No.</label></td>
                    <td><input type="text" id="AccountNumber" name="AccountNumber" readonly="readonly" class="form-control" value="@Model.AccountNumber" /></td>
                </tr>
                <tr>
                    <td> <label class="control-label">Account Title</label></td>
                    <td>
                        @Html.DropDownList("AccountTitle", new List<SelectListItem>()
                        {
                            new SelectListItem {Text = "-Select Account Title-", Value = ""},
                            new SelectListItem {Text = "Loan", Value = "Loan"},
                            new SelectListItem {Text = "Deposit", Value = "Deposit"}
                        }, new { @class = "form-control", id = "AccountTitle", @readonly = "readonly", @disabled = "disabled" })
                    </td>
                    <td><span class="error">**</span></td>
                </tr>
                <tr>
                    <td> <label class="control-label">Account Type</label></td>
                    <td><select name="AccountType" id="AccountType" class="form-control" readonly="readonly" disabled="disabled"></select></td>
                    <td><span class="error">**</span></td>
                </tr>
            </table>
        </div>
        <div class="panel-heading">
            <h4>Customer Info</h4>
        </div>
        <div class="panel-body">
            <table width="100%" class="formatedTable">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <label class="control-label">Customer Id</label>
                                </td>
                                <td>
                                    <input type="text" id="CustomerId" class="form-control" readonly="readonly" value="@Model.CustomerId" />
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Title of Account</label>
                                </td>
                                <td>
                                    <input type="text" id="CustomerName" class="form-control" readonly="readonly" />

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Father's Name</label>
                                </td>
                                <td>
                                    <input type="text" id="FatherName" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Mother's Name</label>
                                </td>
                                <td>
                                    <input type="text" id="MotherName" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Name of Spouse</label>
                                </td>
                                <td>
                                    <input type="text" id="SpouseName" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Nationality</label>
                                </td>
                                <td>
                                    <input type="text" id="Nationality" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">National ID No</label>
                                </td>
                                <td>
                                    <input type="text" id="NationalId" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Date Of Birth</label>
                                </td>
                                <td>
                                    <input type="text" id="DateOfBirth" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Passport No</label>
                                </td>
                                <td>
                                    <input type="text" id="PassportNo" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <label class="control-label">Passport Expire Date</label>
                                </td>
                                <td>
                                    <input type="text" id="PassportExpireDate" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Occupation & Designation</label>
                                </td>
                                <td>
                                    <input type="text" id="OccupationAndPosition" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Source of Income</label>
                                </td>
                                <td>
                                    <input type="text" id="CustomerIncomeSource" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Present Address</label>
                                </td>
                                <td>
                                    <textarea id="PresentAddress" style="width: 100%" class="form-control" readonly="readonly"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Permanent Address</label>
                                </td>
                                <td>
                                    <textarea id="PermanentAddress" style="width: 100%" class="form-control" readonly="readonly"></textarea>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label class="control-label">Telephone(Office)</label>
                                </td>
                                <td>
                                    <input type="text" id="Home" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Telephone(Res.)</label>
                                </td>
                                <td>
                                    <input type="text" id="Office" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Mobile</label>
                                </td>
                                <td>
                                    <input type="text" id="Mobile" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Special Instruction (if any)</label>
                                </td>
                                <td>
                                    <textarea id="SpecialInstructions" style="width: 100%" class="form-control" readonly="readonly"></textarea>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-heading">
            <h4>Nominee Info</h4>
        </div>
        <div class="panel-body">
            <table width="100%" class="formatedTable" style="display: none;">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><label class="control-label">Position</label></td>
                                <td>
                                    @Html.DropDownList("NomineePosition", new List<SelectListItem>()
                                    {
                                        new SelectListItem {Text = "-Select Nominee Position-", Value = ""},
                                        new SelectListItem {Text = "First", Value = "First"},
                                        new SelectListItem {Text = "Second", Value = "Second"}
                                    }, new { @class = "form-control nomineeFields", id = "NomineePosition" })
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Name of Nominee</label>
                                </td>
                                <td>
                                    <input type="text" id="NomineeName" class="form-control nomineeFields" />
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Nominee's Father's Name</label>
                                </td>
                                <td>
                                    <input type="text" id="NomineeFatherName" class="form-control nomineeFields" />
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Nominee's Mother's Name</label>
                                </td>
                                <td>
                                    <input type="text" id="NomineeMotherName" class="form-control nomineeFields" />
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Nominee's Spouse Name</label>
                                </td>
                                <td>
                                    <input type="text" id="NomineeSpouseName" class="form-control nomineeFields" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Nationality</label>
                                </td>
                                <td>
                                    <input type="text" id="NomineeNationality" class="form-control nomineeFields" />
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">National ID No</label>
                                </td>
                                <td>
                                    <input type="text" id="NomineeNationalId" class="form-control nomineeFields" />
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Date Of Birth</label>
                                </td>
                                <td>
                                    <input type="text" id="NomineeDateOfBirth" class="form-control nomineeFields" />
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Mobile</label>
                                </td>
                                <td>
                                    <input type="text" id="NomineeMobile" class="form-control nomineeFields" />
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Occupation</label>
                                </td>
                                <td>
                                    <input type="text" id="NomineeOccupation" class="form-control nomineeFields" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Designation</label>
                                </td>
                                <td>
                                    <input type="text" id="NomineeDesignation" class="form-control nomineeFields" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Address</label>
                                </td>
                                <td>
                                    <textarea id="NomineeAddress" style="width: 100%" class="form-control nomineeFields"></textarea>
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">Nominee's Photo</label>
                                </td>
                                <td>
                                    <input type="file" id="NomineePhoto" class="form-control nomineeFields" />
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            @*<div style="margin-left: 17.8%;"><input type="button" id="add" value="Add Nominee" class="btn btn-primary" style="padding: 10px 40px" /></div>*@
        </div>

        <hr />
        <div id="Nominees" class="tablecontainer table table-striped table-hover">

        </div>
        <div style="padding:10px 0px; text-align:right">
            <input id="back" type="submit" value="Back To List" class="btn btn-success" style="padding: 10px 40px" />
        </div>
    </div>

    
}
@section styles
{
    <style>
        .table {
            border-bottom: 0px !important;
        }

        .table th, .table td {
            border: 1px !important;
        }

        .fixed-table-container {
            border: 0px !important;
        }

        .formatedTable td {
            padding-bottom: 6px;
        }

        .formatedTable input {
            padding-right: 210px;
        }

        .container {
            border: none;
        }

        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 100%;
        }
    </style>

}
@section scripts
{

    <script>
        var accountType = @Html.Raw(Json.Encode(Model.AccountType));
        var existingNominees = @Html.Raw(Json.Encode(Model.Nominees));   
    </script>
    <script src="~/Scripts/Custom/Accounts/Details.js"></script>
}



