﻿@using TonyMultipurpose.Areas.Accounts.Models
@model Account
@{
    ViewBag.Title = "Account Edit";
    ViewBag.MatureDate = Model.MatureDate.HasValue ? Model.MatureDate.Value.ToString("dd/MMM/yyyy") : String.Empty;
}

@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class=" panel panel-default" style="" id="tabs">
        <ul>
            <li><a href="#accountInfo">Account Information</a></li>
            <li><a href="#nomineeInfo">Nominee Information</a></li>
        </ul>      
        <div id="accountInfo" class="row">          
        <div class="col-md-9">
        <div class="form-group">
            <div class="col-md-5">
                
            </div>
            <div class="col-md-4">
                <input type="button" id="btnNewEntry" value="New" class="btn btn-group-sm btn-primary" />
                <input type="button" id="btnFind" value="Edit" class="btn btn-group-sm btn-info" />
            </div>
            <div class="col-md-5">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">1. A/C No.</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="AccountNumber" name="AccountNumber" readonly="readonly" class="form-control" value="@Model.AccountNumber"/>
            </div>
            
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">2. Opening Date</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="OpeningDate" name="OpeningDate" class="form-control" readonly="readonly" value=" @Model.OpeningDate.ToString("dd/MMM/yyyy")"/>

            </div>
            <div class="col-md-1">
                <span class="error">**</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">3. Customer Id</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="CustomerId" class="form-control" readonly="readonly" value="@Model.CustomerId"/>
            </div>
            <div class="col-md-1">
                <span class="error">**</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">4. Title of Account</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="CustomerName" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">5. Father's Name</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="FatherName" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">6. Mother's Name</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="MotherName" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">7. Name of Spouse</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="SpouseName" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">8. Nationality</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="Nationality" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">9. National ID No</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="NationalId" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">10. Date Of Birth</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="DateOfBirth" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">11. Passport No</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="PassportNo" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">12. Passport Expire Date</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="PassportExpireDate" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">13. Occupation & Designation</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="OccupationAndPosition" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">14. Source of Income</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="CustomerIncomeSource" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">15. Present Address</label>
            </div>
            <div class="col-md-5">
                <textarea id="PresentAddress" style="width: 100%" class="form-control" readonly="readonly"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">16. Permanent Address</label>
            </div>
            <div class="col-md-5">
                <textarea id="PermanentAddress" style="width: 100%" class="form-control" readonly="readonly"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">17. Telephone(Home)</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="Home" class="form-control" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">18. Telephone(Office)</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="Office" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">19. Mobile</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="Mobile" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">20. Special Instruction (if any)</label>
            </div>
            <div class="col-md-5">
                <textarea id="SpecialInstructions" style="width: 100%" readonly="readonly" class="form-control">@Model.SpecialInstructions</textarea>
            </div>
        </div>
        <div class="form-group" style="display: none">
            <div class="col-md-5">
                <label class="control-label">21. Account Title</label>
            </div>
            <div class="col-md-5">
                @Html.DropDownList("AccountTitle", new List<SelectListItem>()
                {
                    new SelectListItem {Text = "--Select Account Title--", Value = ""},
                    new SelectListItem {Text = "Loan", Value = "Loan"},
                    new SelectListItem {Text = "Deposit", Value = "Deposit"}
                }, new {@class = "form-control", id = "AccountTitle"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label">22. Account Type</label>
            </div>
            <div class="col-md-5">
                <select name="AccountType" id="AccountType" class="form-control" readonly="readonly" value="@Model.AccountType"></select>
            </div>
            <div class="col-md-1">
                <span class="error">**</span>
            </div>
        </div>
        <div class="form-group" id="COA_ACName">
            <div class="col-md-5">
                <label class="control-label">23. COA Code</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="COA_accountName" name="COA_accountName" readonly="readonly" class="form-control" value="@Model.COAcode"/>
            </div>
            <div class="col-md-1">
                <span class="error">**</span>
            </div>
        </div>
        <div class="form-group" style="display: none" id="IRate">
            <div class="col-md-5">
                <label class="control-label">24. Interest Rate</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="InterestRate" name="InterestRate" readonly="readonly" class="form-control" value="@Model.InterestRate"/>
            </div>
            <div class="col-md-1">
                <span class="error">**</span>
            </div>
        </div>
        <div class="form-group" style="display: none" id="DAmount">
            <div class="col-md-5">
                <label class="control-label">25. Deposit Amount</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="DepositAmount" name="DepositAmount" readonly="readonly" class="form-control" value="@Model.DepositAmount"/>
            </div>
            <div class="col-md-1">
                <span class="error">**</span>
            </div>
        </div>
        <div class="form-group" style="display: none" id="DurationY">
            <div class="col-md-5">
                <label class="control-label">27. Duration Of Year</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="DurationYear" name="DurationYear" readonly="readonly" class="form-control"/>
            </div>
        </div>
        <div class="form-group" style="display: none" id="DurationM">
            <div class="col-md-5">
                <label class="control-label">28. Duration Of Month</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="Duration" name="Duration" readonly="readonly" class="form-control" value="@Model.Duration"/>
            </div>
        </div>
        <div class="form-group" style="display: none" id="DurationSelect">
            <div class="col-md-5">
                <label class="control-label">29. Duration of Month</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="Selectduration" name="Selectduration" readonly="readonly" class="form-control" value="@Model.Duration"/>
                @*@Html.DropDownList("Selectduration", new List<SelectListItem>()
                                    {
                                        new SelectListItem {Text = "-- Select duration --", Value = ""},
                                        new SelectListItem {Text = "3", Value = "1"},
                                        new SelectListItem {Text = "6", Value = "2"},
                                        new SelectListItem {Text = "12", Value = "3"}
                                    }, new { @class = "form-control", id = "Selectduration"})*@
            </div>
            <div class="col-md-1">
                <span class="error">**</span>
            </div>
        </div>
        <div class="form-group" style="display: none" id="MaturedDate">
            <div class="col-md-5">
                <label class="control-label">30. Mature Date</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="MatureDate" name="MatureDate" readonly="readonly" class="form-control" value="@ViewBag.MatureDate"/>
            </div>
        </div>
        <div class="form-group" style="display: none" id="IAmountM">
            <div class="col-md-5">
                <label class="control-label">31. Interest Amount(Monthly)</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="InterestAmountM" name="InterestAmountM" readonly="readonly" class="form-control" value="@Model.MonthlyBenefit"/>
            </div>
        </div>

        <div class="form-group" style="display: none" id="MatureAmount">
            <div class="col-md-5">
                <label class="control-label">32. Matured Amount</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="MaturedAmount" name="MaturedAmount" readonly="readonly" class="form-control" value="@Model.MatureAmount"/>
            </div>
        </div>
        </div>
            <div class="col-md-3">
                <div>
                    <img src="" alt="No Image" width="300px" height="300px" id="customerImage" class="img-responsive" />
                </div>
            </div>
        </div>

        <div id="nomineeInfo">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">1. Position</label>
                        </div>
                        <div class="col-md-5">
                            @Html.DropDownList("NomineePosition", new List<SelectListItem>()
                                    {
                                        new SelectListItem {Text = "-Select Nominee Position-", Value = ""},
                                        new SelectListItem {Text = "First", Value = "First"},
                                        new SelectListItem {Text = "Second", Value = "Second"}
                                    }, new { @class = "form-control nomineeFields", id = "NomineePosition" })
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">2. Name of Nominee</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="NomineeName" class="form-control nomineeFields" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">3. Nominee's Father's Name</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="NomineeFatherName" class="form-control nomineeFields" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">4. Nominee's Mother's Name</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="NomineeMotherName" class="form-control nomineeFields" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">5. Nominee's Spouse Name</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="NomineeSpouseName" class="form-control nomineeFields" />
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">6. Nationality</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="NomineeNationality" class="form-control nomineeFields" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">7. National ID No</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="NomineeNationalId" class="form-control nomineeFields" />
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">8. Date Of Birth</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="NomineeDateOfBirth" readonly="readonly" style="background-color: #fff;" class="form-control nomineeFields" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">9. Mobile</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="NomineeMobile" class="form-control nomineeFields" onchange="return mobileNumber(this)" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">10. Occupation</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="NomineeOccupation" class="form-control nomineeFields" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">11. Designation</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="NomineeDesignation" class="form-control nomineeFields" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">12. Address</label>
                        </div>
                        <div class="col-md-5">
                            <textarea id="NomineeAddress" class="form-control nomineeFields"></textarea>
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label class="control-label">13. Nominee's Photo</label>
                        </div>
                        <div class="col-md-5">
                            <img src="" alt="No Image" width="300px" height="300px" id="imageDisplay" class="" />
                            <input type="file" name="fileUpload" id="fileUpload" class="nomineeFields" />
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                    <div class="form-group" style="margin-top:10px;">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-5">
                            <input type="button" id="add" value="Add Nominee" class="btn btn-group-sm btn-info" />
                            <input type="button" id="edit" value="Update Nominee" class="btn btn-group-sm btn-info" />
                            <input type="button" id="clear" value="Clear" class="btn btn-group-sm btn-warning" />
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
            <div id="Nominees" class="tablecontainer table table-striped table-hover" style="margin-top:10px;">

            </div>
        </div>
        <div style="margin-bottom:30px;" class="row">
            <div class="form-group col-md-9">
                <div class="col-md-5">

                </div>
                <div class="col-md-5">
                    <input id="submit" type="button" value="Update" class="btn btn-success" style="padding: 12px 48px;margin-left:20px;" />
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
        <input type="hidden" id="hiddenNomineeId" />
        <input type="hidden" id="hiddenImagePath" />
        <input type="hidden" id="hiddenAccountNumber" />

    </div>

    
}
@section styles
{
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
        .table {
            border-bottom: 0px !important;
        }

        .table th, .table td {
            border: 1px !important;
        }

        .fixed-table-container {
            border: 0px !important;
        }

        .formatedTable td {
            padding-bottom: 6px;
        }

        .formatedTable input {
            padding-right: 210px;
        }

        .container {
            border: none;
        }

        span.error {
            display: block;
            visibility: hidden;
            color: red;
            /*font-weight: bold;*/
            font-size: 100%;
        }
        .form-group {
            margin-bottom: 0px;
        }
    </style>
}
@section scripts
{
    
    <script>
        var accountType = @Html.Raw(Json.Encode(Model.AccountType));
        var existingNominees = @Html.Raw(Json.Encode(Model.Nominees));

    </script>
<script src="~/Scripts/Custom/Accounts/AccountEdit.js"></script>
}


