﻿@using System.Data
@model TonyMultipurpose.Areas.Accounts.Models.Account

@{
    ViewBag.Title = "Customer Detils";
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<style>
    .tableBorder {
        border: 1px solid black;
        height: 100%;
        width: 100%;
    }

    .mainHedder {
        text-align: center;
        font-weight: bold;
    }

    .GroupBold {
        font-weight: bold;
        padding-bottom: 50px;
    }

    #rowLine {
        color: #f00;
        background-color: black;
        height: 1px;
    }

    #tdWidth {
        width: 50px !important;
    }
</style>


<div class="container">
    <div class="form-group">
        <h2 style="text-align:center;font-weight:bold">Tony Multi Purpose Co-Operative Society Ltd. </h2>
        <h2 style="text-align:center;font-weight:bold">TMC Limited</h2>
        <div class="">
            <h3 class="mainHedder" style="color:slateblue">@Model.dtCommon.Rows[0]["CustomerName"]</h3>
            <h3 class="mainHedder">@Model.dtCommon.Rows[0]["AccountNumber"]</h3>
            <h3 class="mainHedder" style="color:slateblue">@Model.dtCommon.Rows[0]["AccountType"]</h3>
            <h3 class="mainHedder" style="color:slateblue">@Model.dtCommon.Rows[0]["CustomerId"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="pull-right" style="width:300px;height:25px;">
                <table class="table" style="font-size:20px">
                    <tr>
                        <td> Date</td>
                        <td> : </td>
                        <td>@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["OpeningDate"])</td>
                    </tr>
                    <tr>
                        <td>Inputer Name</td>
                        <td> : </td>
                        <td style="background-color:blanchedalmond">@Model.dtCommon.Rows[0]["Username"]</td>
                    </tr>
                    <tr>
                        <td>Branch Code</td>
                        <td> : </td>
                        <td>@Model.dtCommon.Rows[0]["BranchCode"]</td>
                    </tr>
                    <tr>
                        <td>Branch Name</td>
                        <td> : </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Reference Name</td>
                        <td> : </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <p style="color:slateblue;font-size:25px">
                    The Manager,
                    <br /> TMC Limited.
                    <br /> @Model.dtCommon.Rows[0]["BranchName"]
                </p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <p style="color:slateblue; font-size:25px">
            Dear Sir,
            <br />I/We want to open a Fixed deposit Account in your TMC Limited as scheme title FDR, amount of Tk. 200000.00 in word (Taka. Two Lac) only for the interest period of time Three (3) Months as duration of time .................... (..........) Years 
            <br />at 12.00% in the following name. I/We have read and understood and shall abide by all the rules and regulations of Tony Multi-purpose Co-Operative Society Limited (as per deed), governing the said account. I/We also agree to be bound 
            <br /> by such terms & conditions as may be amended or supplemented from time to time by TMC limited Governing Body.

        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="pull-right">
                <div class="img-responsive">
                    <img src="" alt="No Image" width="120px" height="120px" id="CustomerImage" />
                    <input type="hidden" id="hdfCustomerImage" value="@Model.dtCommon.Rows[0]["CustomerImage"]" />
                </div>
            </div>
            <div class="col-md-4">
                <table class="table" style="width:300px;height:40px;font-size:25px">
                    <tr style="color:slateblue; background-color:blanchedalmond">
                        <td></td>
                        <td>Account Titel</td>
                        <td></td>
                        <td>@Model.dtCommon.Rows[0]["CustomerName"]</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Father Name</td>
                        <td>:</td>
                        <td>@Model.dtCommon.Rows[0]["FatherName"]</td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Mother Name</td>
                        <td>:</td>
                        <td>@Model.dtCommon.Rows[0]["MotherName"]</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>NID No</td>
                        <td>:</td>
                        <td>@Model.dtCommon.Rows[0]["NationalId"]</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <p style="font-size:25px">
            Dear Sir, I/ We Do hereby nominate the following person(s) to receive the entire amount deposited in the  above account in <br />the event of
            my/ our death. I/We do hereby reserve
        </p>
    </div>
    <div class="row">
        <div class="pull-right col-md-6">
            <div class="img-responsive">
                <img src="" alt="No Image" width="120px" height="120px" id="FirstNomineeImage" />
                <input type="hidden" id="hdfFirstNomineeImage" value="@Model.dtCommon.Rows[0]["FirstNomineeImagePath"]" />

                <img src="" alt="No Image" width="120px" height="120px" id="SeconNomineeImage" />
                <input type="hidden" id="hdfSeconNomineeImage" value="@Model.dtCommon.Rows[0]["SecnondNomineeImagePath"]" />
            </div>
        </div>
        <div class="col-md-4">
            <p style="font-size:25px">
                the right to cancel of change the said nominee at any time.
                I/We do hereby also declare <br />that the TMC Ltd. will not be held responsible
                for any transaction given me/us.
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <table class="table" style="font-size:25px">
            <tr style="color:slateblue;background-color:blanchedalmond">
                <td></td>
                <td>Data</td>
                <td></td>
                <td>Nominee 01</td>
                <td></td>
                <td>Nominee 02</td>
            </tr>
            <tr>
                <td>01</td>
                <td>Name of Nominee</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeName"]</td>
            </tr>
            <tr>
                <td>02</td>
                <td>Father Name</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeFatherName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeFatherName"]</td>
            </tr>
            <tr>
                <td>03</td>
                <td>Mother Name</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeMotherName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeMotherName"]</td>
            </tr>
            <tr>
                <td>04</td>
                <td>Spouse Name</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeSpouseName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeSpouseName"]</td>
            </tr>
            <tr>
                <td>05</td>
                <td>Nationlity</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeNationality"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeNationality"]</td>
            </tr>
            <tr>
                <td>06</td>
                <td>NID</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeNationalId"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeNationalId"]</td>
            </tr>
            <tr>
                <td>07</td>
                <td>Date of Birth</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeDateOfBirth"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeDateOfBirth"]</td>
            </tr>
            <tr>
                <td>08</td>
                <td>Mobile No</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeMobile"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeMobile"]</td>
            </tr>
            <tr>
                <td>09</td>
                <td>Occupation</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeOccupation"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeOccupation"]</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Designation</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeDesignation"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeDesignation"]</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Adress</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeAddress"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeAddress"]</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table class="table" style="font-size:25px">
            <tr style="color:slateblue;background-color:blanchedalmond">
                <td colspan="6"><span style="text-align:center;font-weight:bold;"> Office Use Only</span></td>               
            </tr>
            <tr>
                <td>01</td>
                <td>Name of Nominee</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeName"]</td>
            </tr>
            <tr>
                <td>01</td>
                <td>Name of Nominee</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeName"]</td>
            </tr>
        </table>
    </div>

    <p id="rowLine" style="margin-left:1265px; width:140px"></p>
    <p style="text-align:right;"><span><b>Customer  Signature</b></span></p>
    <div>
        <table class="table" style="font-size:15px">
            <tr class="borderSet">
                <td id="tdDelete"></td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p style="width:140px"><span style="background-color:blanchedalmond;text-decoration-line: overline;"><b>Fathema</b></span>  <br />with seal and sign</p>
                </td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p><span><b>Authorized Officer</b></span> <br />with seal and sign</p>
                </td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p><b>Manager </b><br />with seal and sign</p>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
        a();
        function a(){
            var image = $('#hdfCustomerImage').val();
            $('#CustomerImage').attr('src', image);
            var FirstNomineeImage = $('#hdfFirstNomineeImage').val();
            $('#FirstNomineeImage').attr('src', FirstNomineeImage);
            var SeconNomineeImage = $('#hdfSeconNomineeImage').val();
            $('#SeconNomineeImage').attr('src', SeconNomineeImage);
            if (FirstNomineeImage==null) {
                $('#FirstNomineeImage').hide();
            }
            if (SeconNomineeImage == null) {
                $('#SeconNomineeImage').hide();
            }
        }
</script>