﻿@using System.Data
@model TonyMultipurpose.Areas.Accounts.Models.Account

@{
    ViewBag.Title = "Fixed Deposit";
    Layout = null;
}
<!-- Latest compiled and minified CSS -->
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@
<style>
    .tableBorder {
        border: 1px inset black!important;
    }
    .tableBorderset {
        border: 1px inset black!important;   
        width:100%!important;     
    }
    .mainHedder {
        text-align: center;
        font-weight: bold;
    }

    .GroupBold {
        font-weight: bold;
        padding-bottom: 50px;
    }

    #rowLine {
        color: #f00;
        background-color: black;
        height: 1px;
    }
    .borderSet > th {
        border: 1px inset black!important;
    }
.borderSetTr {
    border-collapse: collapse;
}
    .borderSetTr, th, td {
    border: 1px solid black;
}
    .borderSet > td {
        border: 1px inset black!important;
    }
     #tdDelete {
        border: 0px !important;
    }

    #tdWidth {
        width: 50px !important;
    }
    .trRightLeftBorder{
        border-left: 1px inset black!important;
        border-right: 1px inset black!important;
    }
    .bordertop{
        border-top:1px inset black!important;
        border-left:1px inset black!important;
         border-right:1px inset black!important;
    }
    .borderbottom{
        border-bottom:1px inset black!important;
        border-left:1px inset black!important;
         border-right:1px inset black!important;
    }
    .rightClear{
        border-right:0px inset black!important;
    }
    .breakhere {
        display: block;
        clear: both;
        page-break-before: always;
    }
</style>


<div class="container">
    <div class="form-group">
        <h2 style="text-align:center;font-weight:bold">TMC Limited</h2>
        <div class="">
            <h3 class="mainHedder" style="color:slateblue">@Model.dtCommon.Rows[0]["AccountType"]</h3>
            <h2 class="mainHedder" style="color:black;font-weight:bold">@Model.dtCommon.Rows[0]["CustomerName"]</h2>
            <h3 class="mainHedder">Account No : <span style="color:green"> @Model.dtCommon.Rows[0]["AccountNumber"]</span></h3>
            <h3 class="mainHedder" style="color:slateblue">Customer ID : @Model.dtCommon.Rows[0]["CustomerId"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="pull-right">
                <table class="table" style="font-size:20px;width:450px;height:105px!important;">
                    <tr class="bordertop">
                        <td id="tdDelete"> Date</td>
                        <td id="tdDelete"> : </td>
                        <td id="tdDelete">@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["OpeningDate"])</td>
                    </tr>
                    <tr class="trRightLeftBorder">
                        <td id="tdDelete">Inputer Name</td>
                        <td id="tdDelete"> : </td>
                        <td id="tdDelete" style="background-color:blanchedalmond">@Model.dtCommon.Rows[0]["Username"]</td>
                    </tr>
                    <tr class="trRightLeftBorder">
                        <td id="tdDelete">Branch Code</td>
                        <td id="tdDelete"> : </td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["BranchCode"]</td>
                    </tr>
                    <tr class="trRightLeftBorder">
                        <td id="tdDelete">Branch Name</td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["BranchName"]</td>
                        <td id="tdDelete"></td>
                    </tr>
                    <tr class="borderbottom">
                        <td id="tdDelete">Reference Name</td>
                        <td id="tdDelete"> : </td>
                        <td id="tdDelete"></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <p style="color:slateblue;font-size:25px">
                    The Manager,
                    <br /> TMC Limited.
                    <br /> <span style="text-decoration:underline">Chanduria</span>  Branch,
    <br /> Chanduria Kalaroa, Satkhira
</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <p style="color:slateblue; font-size: 25px; text-align: justify;">
            Dear Sir,
            <br />I/We want to open a Fixed deposit Account in your TMC Limited as scheme title FDR, amount of Tk.<span style="color:red"> @Model.dtCommon.Rows[0]["Balance"] </span> only for the interest period of time <span style="color:red"> @Model.dtCommon.Rows[0]["DurationofMonth"]</span> Months as duration of time .................... (..........) Years
            <br />at<span style="color:red"> @Model.dtCommon.Rows[0]["InterestRate"] % </span>in the following name. I/We have read and understood and shall abide by all the rules and regulations of Tony Multi-purpose Co-Operative Society Limited (as per deed), governing the said account. I/We also agree to be bound
            <br /> by such terms & conditions as may be amended or supplemented from time to time by TMC limited Governing Body.

        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="pull-right">
                <div class="img-responsive">
                    <img src="" alt="No Image" width="150px" height="150px" id="CustomerImage" />
                    <input type="hidden" id="hdfCustomerImage" value="@Model.dtCommon.Rows[0]["CustomerImage"]" />
                </div>
            </div>
            <div class="col-md-4">
                <table class="table" style="width:500px;height:150px!important;font-size:25px">
                    <tr class="bordertop" style="color:slateblue; background-color:blanchedalmond">
                        <td id="tdDelete">01</td>
                        <td id="tdDelete">Account Titel</td>
                        <td id="tdDelete"></td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["CustomerName"]</td>
                    </tr>
                    <tr class="bordertop" >
                        <td id="tdDelete">02</td>
                        <td id="tdDelete">Name In Bangla </td>
                        <td id="tdDelete">:</td>
                        <td id="tdDelete"></td>
                    </tr>
                    <tr class="trRightLeftBorder">
                        <td id="tdDelete">03</td>
                        <td id="tdDelete">Father Name</td>
                        <td id="tdDelete">:</td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["FatherName"]</td>
                    </tr>
                    <tr class="trRightLeftBorder">
                        <td id="tdDelete">04</td>
                        <td id="tdDelete">Mother Name</td>
                        <td id="tdDelete">:</td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["MotherName"]</td>
                    </tr>
                    <tr class="borderbottom">
                        <td id="tdDelete">05</td>
                        <td id="tdDelete">NID No</td>
                        <td id="tdDelete">:</td>
                        <td id="tdDelete">@Model.dtCommon.Rows[0]["NationalId"]</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <p style="font-size:25px">
            Dear Sir, I/ We Do hereby nominate the following person(s) to receive the entire amount deposited in the  above account in <br />the event of
            my/ our death. I/We do hereby reserve
        </p>
    </div>
    <div class="row">
        <div class="pull-right col-md-6">
            <div class="img-responsive">
                <img src="" alt="No Image" width="120px" height="120px" id="FirstNomineeImage" />
                <input type="hidden" id="hdfFirstNomineeImage" value="@Model.dtCommon.Rows[0]["FirstNomineeImagePath"]" />

                <img src="" alt="No Image" width="120px" height="120px" id="SeconNomineeImage" />
                <input type="hidden" id="hdfSeconNomineeImage" value="@Model.dtCommon.Rows[0]["SecnondNomineeImagePath"]" />
            </div>
        </div>
        <div class="col-md-4">
            <p style="font-size:25px">
                the right to cancel of change the said nominee at any time.
                I/We do hereby also declare <br />that the TMC Ltd. will not be held responsible
                for any transaction given me/us.
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <table class="tableBorderset" style="font-size:25px">
            <tr class="borderSetTr" style="color:slateblue;background-color:blanchedalmond">
                <td id="tdDelete"></td>
                <td id="tdDelete">Data</td>
                <td id="tdDelete"></td>
                <td >Nominee 01</td>
                <td class="rightClear"></td>
                <td >Nominee 02</td>
            </tr>
            <tr>
                <td>01</td>
                <td>Name of Nominee</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeName"]</td>
            </tr>
            <tr>
                <td>02</td>
                <td>Father Name</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeFatherName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeFatherName"]</td>
            </tr>
            <tr>
                <td>03</td>
                <td>Mother Name</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeMotherName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeMotherName"]</td>
            </tr>
            <tr>
                <td>04</td>
                <td>Spouse Name</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeSpouseName"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeSpouseName"]</td>
            </tr>
            <tr>
                <td>05</td>
                <td>Nationlity</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeNationality"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeNationality"]</td>
            </tr>
            <tr>
                <td>06</td>
                <td>NID</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeNationalId"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeNationalId"]</td>
            </tr>
            <tr>
                <td>07</td>
                <td>Date of Birth</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeDateOfBirth"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeDateOfBirth"]</td>
            </tr>
            <tr>
                <td>08</td>
                <td>Mobile No</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeMobile"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeMobile"]</td>
            </tr>
            <tr>
                <td>09</td>
                <td>Occupation</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeOccupation"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeOccupation"]</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Designation</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeDesignation"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeDesignation"]</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Adress</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["FirstNomineeAddress"]</td>
                <td>:</td>
                <td>@Model.dtCommon.Rows[0]["SecnondNomineeAddress"]</td>
            </tr>
        </table>
    </div>
    <br />
    <div class="row">
        <table class="table" style="font-size:25px">
            <tr style="color:slateblue;background-color:blanchedalmond">
                <td colspan="5" style="text-align:center"><span style="text-decoration: underline"> Office Use Only</span></td>
            </tr>
            <tr>
                <td>Opening Date of FDR</td>
                <td>Deposited Amount </td>
                <td>Duration</td>
                <td>Interest Rate</td>
                <td>Interest Amount <span style="color:red">(3M)</span></td>
            </tr>
            <tr style="height:80px!important">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <br />
    <p id="rowLine" style="margin-left:1265px; width:140px"></p>
    <p style="text-align:right;"><span><b>Customer  Signature</b></span></p>
    <div>
        <table class="table" style="font-size:15px">
            <tr class="borderSet">
                <td id="tdDelete"></td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p style="width:140px"><span style="background-color:blanchedalmond;text-decoration-line: overline;"><b>@Model.dtCommon.Rows[0]["Username"]</b></span>  <br />with seal and sign</p>
                </td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p><span><b>Authorized Officer</b></span> <br />with seal and sign</p>
                </td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p><b>Manager </b><br />with seal and sign</p>
                </td>
            </tr>
        </table>
    </div>
    @if (!string.IsNullOrEmpty(Convert.ToString(@Model.dtCommon.Rows[0]["TermsAndConditions"])))
    {
        <div class="row breakhere">
            <h1 style="color: red; text-align: center">Terms & Condition</h1>
        </div>
            <div class="row">
                @Html.Raw(@Model.dtCommon.Rows[0]["TermsAndConditions"])
            </div>
    }
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    a();
    function a() {
        var image = $('#hdfCustomerImage').val();
        $('#CustomerImage').attr('src', image);
        var FirstNomineeImage = $('#hdfFirstNomineeImage').val();
        $('#FirstNomineeImage').attr('src', FirstNomineeImage);
        var SeconNomineeImage = $('#hdfSeconNomineeImage').val();
        $('#SeconNomineeImage').attr('src', SeconNomineeImage);
        if (FirstNomineeImage == '') {
            $('#FirstNomineeImage').hide();
        }
        if (SeconNomineeImage == '') {
            $('#SeconNomineeImage').hide();
        }
    }
</script>