﻿@model TonyMultipurpose.Areas.Accounts.ViewModels.BothAccountViewModel
@{
    ViewBag.Title = "Accounts";
}

<a class="btn btn-primary btn-sm" href="@Url.Action("Save", "Account")">+ Add New Account </a>

@Html.Partial("_AccountsSummery", Model.AccountCountViewModels)

<hr />


@Html.Partial("_LiveAccountList", Model.ActiveAccounts)

<hr />

@Html.Partial("_ClosedAccountList", Model.ClosedAccounts)
<script src="@Url.Content("~/Scripts/CustomLibrary/SearchInGrid.js")"></script>
<script src="@Url.Content("~/Scripts/Custom/Accounts/AccountList.js")"></script>



