﻿@model TonyMultipurpose.Areas.Accounts.Models.Account

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TMC</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Report.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="container">
        @Html.Partial("_Heading")

        <div class="text-justify slateblue">
            Dear Sir,
            <br />I/We want to open a Monthly Benefit Deposit Scheme (MBDS) in your TMC Limited amount of Tk. <span style="color:red">@Model.dtCommon.Rows[0]["Credit"]</span> for the period of time <span style="color:red">@Model.dtCommon.Rows[0]["DurationofYear"]</span> Year(s) in the following name. I/We have read and understood and shall abide by all the rules  and regulations of Tony Multi-purpose Co-Operative Society Limited (as per deed), governing the said account. I/We also agree to be bound by such terms & conditions as may be amended or supplemented from time to time by TMC limited Governing Body.
        </div>
        <br />
        @Html.Partial("_Customer")


        @Html.Partial("_Nominee")
        <div class="row">
            <table class="table table-bordered">
                <tr class="slateblue blanchedalmond">
                    <td colspan="5" class="text-center"><span style="text-decoration: underline"> Office Use Only</span></td>
                </tr>
                <tr>
                    <td>Opening Date</td>
                    <td>Deposited Amount</td>
                    <td>Duration</td>
                    <td>Interest Rate</td>
                    <td>Monthly Payable tk.</td>
                </tr>
                <tr style="height:30px!important">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <br />
        <br />
        <br />
        @Html.Partial("_Signature")
        @Html.Partial("_TermsAndConditions")
    </div>
</body>
</html>
