﻿@using System.Data
@model TonyMultipurpose.Areas.Accounts.Models.Account

@{
    ViewBag.Title = "Customer Detils";
    Layout = null;
    var a = "";
    var row = 0;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<style>
    .borderSet > th {
        border: 1px solid black;
    }

    .borderSet > td {
        border: 1px solid black;
    }

    .mainHedder {
        text-align: center;
        font-weight: bold;
    }

    .GroupBold {
        font-weight: bold;
        padding-bottom: 50px;
    }

    .table > tr  > td {
        border-top: 0px !important;
    }

    #rowLine {
        color: #f00;
        background-color: black;
        height: 1px;
    }

    #tdDelete {
        border: 0px !important;
    }

    #tdWidth {
        width: 50px !important;
    }

    #borderRight {
        border-right: 1px !important;
    }

    #tableBorder {
        border: 1px !important;
    }
</style>

<div class="container">
    <div class="form-group">
        <h2 style="text-align:center;font-weight:bold">Tony Multi Purpose Co-Operative Society Ltd. </h2>
        <div class="">
            <h4 class="mainHedder" style="color:slateblue">@Model.dtCommon.Rows[0]["CustomerName"]</h4>
            <h3 class="mainHedder">@Model.dtCommon.Rows[0]["AccountNumber"]</h3>
            <h4 class="mainHedder" style="color:slateblue">@Model.dtCommon.Rows[0]["AccountType"]</h4>
            <h4 class="mainHedder" style="color:slateblue">@Model.dtCommon.Rows[0]["CustomerId"]</h4>
        </div>
    </div>
    <br />
   <section class="text-center">
       <div class="row">
           <div class="col-md-4">
               <p style="color:slateblue">
                   The Manager,
                   <br /> TMC Limited.
                   <br /> .......................................
                   <br />........................Branch
               </p>
           </div>
           <div class="col-md-4">
               <p style="color:slateblue">
                   The Manager,
                   <br /> TMC Limited.
                   <br /> .......................................
                   <br />........................Branch
               </p>
           </div>
           <div class="col-md-4">
               <table>
                   <tr>
                       <td> Date</td>
                       <td> : </td>
                       <td>@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["OpeningDate"])</td>
                   </tr>
                   <tr>
                       <td>Inputer Name</td>
                       <td> : </td>
                       <td>@Model.dtCommon.Rows[0]["Username"]</td>
                   </tr>
                   <tr>
                       <td>Branch Code</td>
                       <td> : </td>
                       <td>@Model.dtCommon.Rows[0]["BranchCode"]</td>
                   </tr>
                   <tr>
                       <td>Branch Name</td>
                       <td> : </td>
                       <td>@Model.dtCommon.Rows[0]["BranchName"]</td>
                   </tr>

               </table>
           </div>
       </div>
   </section>
   
    <div class="form-group">
        <p style="color:slateblue">
            Dear Sir,
            <br /> I/ We hereby request you to open a Savings Account With Interest (SB) base account in the books
            <br /> of your TMC limited in the name/Title mentioned as under and agree to comply with and abide by
            <br /> the TMC Limited`s rules in force for the conduct of the account and any amendment here to;
        </p>
    </div>
</div>
@*<div class="img-responsive" style="width:300px; margin-left:400px">
            <img src="" alt="No Image" width="120px" height="120px" id="CustomerImage" />
            <input type="hidden" id="hdfCustomerImage" value="@Model.dtCommon.Rows[0]["CustomerImage"]" />
        </div>
        <div style="width:300px; margin-left:550px;clear:left">
            <table class="table">
                <tr>
                    <td> Date</td>
                    <td> : </td>
                    <td>@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["CustomerEntryDate"])</td>
                </tr>
                <tr>
                    <td>Inputer Name</td>
                    <td> : </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Branch Code</td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["BranchCode"]</td>
                </tr>
                <tr>
                    <td>Branch Name</td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["BranchName"]</td>
                </tr>

            </table>
        </div>

        <div>
            <p style="color:blueviolet">
                Cutomer Details Information as per customer declaration
            </p>
        </div>
        <div>
            <table class="table">
                <tr class="borderSet">
                    <td id="tdDelete">01.</td>
                    <td id="tdWidth"> Father Name</td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["FatherName"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">02.</td>
                    <td> Mother Name</td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["MotherName"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">03.</td>
                    <td>Spouse Name</td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["SpouseName"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">04.</td>
                    <td>NID No</td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["NationalId"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">05.</td>
                    <td>Birth cert. ID</td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["BirthCertificateNo"] </td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">06.</td>
                    <td>Date Of Birth</td>
                    <td> : </td>
                    <td>@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["DateOfBirth"])</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">07.</td>
                    <td>Natinality </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["Nationality"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">08.</td>
                    <td>Gender</td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["Gender"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">09.</td>
                    <td>Present Address </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["PresentAddress"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">10.</td>
                    <td>Permanent Address </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["PermanentAddress"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">11.</td>
                    <td>Mobile No </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["Mobile"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">12.</td>
                    <td>Another Cell No </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["AnotherCellNo"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">13.</td>
                    <td>Email iD </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["Email"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">14.</td>
                    <td>Income Source </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["CustomerIncomeSource"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">15 a.</td>
                    <td>Occupation </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["OccupationAndPosition"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">b</td>
                    <td>Position </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["Position"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">16</td>
                    <td>Tin No </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["TINNo"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">17 a.</td>
                    <td>Trade License </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["TradeLicenseNo"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete" style="text-align:right">b.</td>
                    <td>Issue Date </td>
                    <td> : </td>
                    <td>@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["TradeLicenseDate"])</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete" style="text-align:right">c.</td>
                    <td style="background-color:yellow!important"> Issue Authority </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["RegistrationAuthority"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">18 a.</td>
                    <td>Office Address </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["OfficeAddress"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete" style="text-align:right">b.</td>
                    <td>Office Cell No. </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["Office"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete" style="text-align:right">c.</td>
                    <td> T&T No</td>
                    <td> : </td>
                    <td></td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">19.</td>
                    <td>Driving License No </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["DrivingLicenseNo"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">20 a.</td>
                    <td>Registration No </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["RegistrationNo"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete" style="text-align:right">b.</td>
                    <td>Registration Authority </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["RegistrationAuthority"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">21 a.</td>
                    <td>Passport No. </td>
                    <td> : </td>
                    <td>@Model.dtCommon.Rows[0]["PassportNo"]</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete" style="text-align:right">b.</td>
                    <td>Expire date  </td>
                    <td> : </td>
                    <td>@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["PassportExpireDate"])</td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete">22.</td>
                    <td id="tdDelete">Bank/NGO Details</td>
                    <td>:</td>
                    <td>
                        <table class="table">
                            <tr style="background-color:blanchedalmond;margin-bottom:3px">
                                <td>Bank Name</td>
                                <td></td>
                                <td>Branch</td>
                                <td>Account Type</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="borderSet">
                    <td id="tdDelete"></td>
                    <td id="tdDelete"></td>
                    <td>a</td>
                    <td>
                        <table class="table">
                            <tr>
                                <td>@Model.dtCommon.Rows[0]["BankName"]</td>
                                <td></td>
                                <td>@Model.dtCommon.Rows[0]["BankBranchName"]</td>
                                <td>@Model.dtCommon.Rows[0]["AccountType"]</td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr class="borderSet">
                    <td id="tdDelete"> </td>
                    <td id="tdDelete"></td>
                    <td>b</td>
                    <td>
                        <table class="table">
                            <tr>
                                <td>@Model.dtCommon.Rows[0]["BankName"]</td>
                                <td></td>
                                <td>@Model.dtCommon.Rows[0]["BankBranchName"]</td>
                                <td>@Model.dtCommon.Rows[0]["AccountType"]</td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr class="borderSet">
                    <td id="tdDelete"></td>
                    <td id="tdDelete"></td>
                    <td>c</td>
                    <td>
                        <table class="table">
                            <tr>
                                <td>@Model.dtCommon.Rows[0]["BankName"]</td>
                                <td></td>
                                <td>@Model.dtCommon.Rows[0]["BankBranchName"]</td>
                                <td>@Model.dtCommon.Rows[0]["AccountType"]</td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
        </div>
        <br />
        <p id="rowLine" style="margin-left:780px; width:140px"></p>
        <p style="text-align:right;"><span><b>Customer  Signature</b></span></p>
        <div>
            <table class="table">
                <tr class="borderSet">
                    <td id="tdDelete"></td>
                    <td id="tdDelete">
                        <p id="rowLine" style="width:140px"></p>
                        <p style="width:140px"><span style="background-color:blanchedalmond;text-decoration-line: overline;"><b>Fathema</b></span>  <br />with seal and sign</p>
                    </td>
                    <td id="tdDelete">
                        <p id="rowLine" style="width:140px"></p>
                        <p><span><b>Authorized Officer</b></span> <br />with seal and sign</p>
                    </td>
                    <td id="tdDelete">
                        <p id="rowLine" style="width:140px"></p>
                        <p><b>Manager </b><br />with seal and sign</p>
                    </td>
                    <td id="tdDelete"></td>

                </tr>
            </table>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        a();
        function a(){
            var image = $('#hdfCustomerImage').val();
            $('#CustomerImage').attr('src', image);
        }
    </script>*@