﻿@using TonyMultipurpose.Areas.Accounts.Models
@model Account
@{
    ViewBag.Title = "Account Openning";
}

@using (Html.BeginForm("Save", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div id="tabs">

        <ul>
            <li>
                <a href="#accountInfo">Account Information</a>
            </li>
            <li>
                <a href="#nomineeInfo">Nominee Information</a>
            </li>
        </ul>
        <br />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <label id="showErrorMessage" style="margin-left: 10px; color: red; font-size: medium"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">
                        <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 12px 48px; margin-left: 12px;" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </div>
        </div>

        <div id="accountInfo" class="row">
            @*class="tab-pane fade in active"*@
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">1. A/C No.</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="AccountNumber" name="AccountNumber" readonly="readonly" class="form-control" value="****<<< New Entry >>>****" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" id="btnNewEntry" value="New" class="btn btn-group-sm btn-primary" />
                        <input type="button" id="btnFind" value="Edit" class="btn btn-group-sm btn-primary" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">2. Opening Date</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="OpeningDate" name="OpeningDate" class="form-control" readonly="readonly" value="@DateTime.Now.ToString("dd/MMM/yyyy")" />
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">3. Customer Id</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="CustomerId" class="form-control" />
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">4. Title of Account</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="CustomerName" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">5. Father's Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="FatherName" class="form-control" readonly="readonly" />
                    </div>

                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">6. Mother's Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="MotherName" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">7. Name of Spouse</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="SpouseName" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">8. Nationality</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="Nationality" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">9. National ID No</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="NationalId" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">10. Date Of Birth</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="DateOfBirth" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">11. Passport No</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="PassportNo" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">12. Passport Expire Date</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="PassportExpireDate" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">13. Occupation & Designation</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="OccupationAndPosition" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">14. Source of Income</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="CustomerIncomeSource" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">15. Present Address</label>
                    </div>
                    <div class="col-md-6">
                        <textarea id="PresentAddress" style="width: 100%" class="form-control" readonly="readonly"></textarea>
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">16. Permanent Address</label>
                    </div>
                    <div class="col-md-6">
                        <textarea id="PermanentAddress" style="width: 100%" class="form-control" readonly="readonly"></textarea>
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">17. Telephone(Home)</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="Home" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">18. Telephone(Office)</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="Office" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-3">
                        <label class="control-label">19. Mobile</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="Mobile" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group" style="display: none">
                    <div class="col-md-3">
                        <label class="control-label">21. Account Title</label>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownList("AccountTitle", new List<SelectListItem>()
                {
                    new SelectListItem {Text = "--Select Account Title--", Value = ""},
                    new SelectListItem {Text = "Loan", Value = "Loan"},
                    new SelectListItem {Text = "Deposit", Value = "Deposit"}
                }, new { @class = "form-control", id = "AccountTitle" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">4. Account Type</label>
                    </div>
                    <div class="col-md-6">
                        <select name="AccountType" id="AccountType" class="form-control"></select>
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>

                <div class="form-group" style="display: none" id="DAmount">
                    <div class="col-md-3">
                        <label class="control-label">5. Deposit Amount</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="DepositAmount" name="DepositAmount" class="form-control" onkeypress="return IsInteger(event);" maxlength="16" />
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>

                <div class="form-group" style="display: none" id="IRate">
                    <div class="col-md-3">
                        <label class="control-label">6. Interest Rate</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="InterestRate" name="InterestRate" class="form-control" onkeypress="return IsDouble(event);" maxlength="4" />
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>

                <div class="form-group" style="display: none" id="DurationY">
                    <div class="col-md-3">
                        <label class="control-label">7. Duration Of Year</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="DurationYear" name="DurationYear" class="form-control" maxlength="3" />
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>

                <div class="form-group" style="display: none" id="DurationM">
                    <div class="col-md-3">
                        <label class="control-label">8. Duration Of Month</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="Duration" name="Duration" readonly="readonly" class="form-control" />
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>

                <div class="form-group" style="display: none" id="DurationSelect">
                    <div class="col-md-3">
                        <label class="control-label">8. Duration of Month</label>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownList("Selectduration", new List<SelectListItem>()
                {
                    new SelectListItem {Text = "-- Select duration --", Value = ""},
                    new SelectListItem {Text = "3", Value = "1"},
                    new SelectListItem {Text = "6", Value = "2"},
                    new SelectListItem {Text = "12", Value = "3"}
                }, new { @class = "form-control", id = "Selectduration" })
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>

                <div class="form-group" style="display: none" id="COA_ACName">
                    <div class="col-md-3">
                        <label class="control-label">9.Received In</label>
                    </div>
                    <div class="col-md-6">
                        <select name="AccountName" id="COA_accountName" class="form-control"></select>
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>

                @*<div class="form-group" style="display:none" id="COA_ACNameCompany">
                        <div class="col-md-3">
                            <label class="control-label">10. Chart Of Account Code</label>
                        </div>
                        <div class="col-md-6">

                            <select name="COAId" id="ChartOfAccount" class="form-control"></select>
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>*@

                <div class="form-group" style="display: none" id="MaturedDate">
                    <div class="col-md-3">
                        <label class="control-label">11. Mature Date</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="MatureDate" name="MatureDate" readonly="readonly" class="form-control" />
                    </div>
                </div>

                <div class="form-group" style="display: none" id="IAmountM">
                    <div class="col-md-3">
                        <label class="control-label">12. Interest Amount(Monthly)</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="InterestAmountM" name="InterestAmountM" class="form-control" onkeypress="return IsInteger(event);" maxlength="16" />
                    </div>
                </div>

                <div class="form-group" style="display: none" id="IAmount">
                    <div class="col-md-3">
                        <label class="control-label">13. Interest Amount(After Matured)</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="InterestAmount" name="InterestAmount" readonly="readonly" class="form-control" />
                    </div>
                </div>

                <div class="form-group" style="display: none" id="MatureAmount">
                    <div class="col-md-3">
                        <label class="control-label">14. Matured Amount</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="MaturedAmount" name="MaturedAmount" readonly="readonly" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">15. Special Instruction (if any)</label>
                    </div>
                    <div class="col-md-6">
                        <textarea id="SpecialInstructions" style="width: 100%" class="form-control" maxlength="299"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <img src="" alt="No Image" style="width: 250px; height: 250px;" id="customerImage" class="img-responsive" />
                </div>
                <div class="panel panel-default" id="CustomerInfo" style="display: none;">
                    <div class="panel-heading">
                        <h2>Customer Info</h2>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">1.Name:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelCustomerName"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">2.Father Name:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelFatherName"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">3.Mother Name:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelMotherName"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">4.Spouse Name:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelSpouseName"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">5.Nationality:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelNationality"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">6.NationalID:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelNationalId"></label>
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">7.Date Of Birth:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelDateOfBirth"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">8.Occupation:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelOccupationAndPosition"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">9.Present Address:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelPresentAddress"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">10.Permanent Address:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelPermanentAddress"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">11.Home:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelHome"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">12.Mobile:</label>
                        </div>
                        <div class="col-md-6">
                            <label id="LabelMobile"></label>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div id="nomineeInfo">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">1. Position</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownList("NomineePosition", new List<SelectListItem>()
                            {
                                new SelectListItem {Text = "-Select Nominee Position-", Value = ""},
                                new SelectListItem {Text = "First", Value = "First"},
                                new SelectListItem {Text = "Second", Value = "Second"}
                            }, new { @class = "form-control nomineeFields", id = "NomineePosition" })
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">2. Name</label> @*of Nominee*@
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="NomineeName" class="form-control nomineeFields" maxlength="99" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">3. Father's Name</label> @*Nominee's*@
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="NomineeFatherName" class="form-control nomineeFields" maxlength="99" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">4. Mother's Name</label> @*Nominee's*@
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="NomineeMotherName" class="form-control nomineeFields" maxlength="99" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">5. Spouse Name</label> @*Nominee's*@
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="NomineeSpouseName" class="form-control nomineeFields" maxlength="99" />
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">6. Nationality</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="NomineeNationality" class="form-control nomineeFields" maxlength="99" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">7. National ID No</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="NomineeNationalId" class="form-control nomineeFields" maxlength="49" />
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">8. Date Of Birth</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="NomineeDateOfBirth" readonly="readonly" style="background-color: #fff;" class="form-control nomineeFields" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">9. Mobile</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="NomineeMobile" class="form-control nomineeFields" onchange="return mobileNumber(this.value)" maxlength="19" />
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">10. Occupation</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="NomineeOccupation" class="form-control nomineeFields" maxlength="79" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">11. Designation</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="NomineeDesignation" class="form-control nomineeFields" maxlength="79" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">12. Relation</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="Relation" class="form-control nomineeFields" maxlength="49" />
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">13. Address</label>
                        </div>
                        <div class="col-md-6">
                            <textarea id="NomineeAddress" class="form-control nomineeFields" maxlength="299"></textarea>
                        </div>
                        <div class="col-md-1">
                            <span class="error">**</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">14. Nominee's Photo</label>
                        </div>
                        <div class="col-md-6">
                            <img src="" alt="No Image" width="300px" height="300px" id="imageDisplay" class="" />
                            <input type="file" name="fileUpload" id="fileUpload" class="nomineeFields" />
                        </div>
                        <div class="col-md-1">
                            @*<span class="error">**</span>*@
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <input type="button" id="add" value="Add Nominee" class="btn btn-group-sm btn-primary" />
                            <input type="button" id="edit" value="Update Nominee" class="btn btn-group-sm btn-primary" />
                            <input type="button" id="clear" value="Clear" class="btn btn-group-sm btn-primary" />
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
            <div id="Nominees" class="tablecontainer table table-striped table-hover" style="margin-top: 10px;">

            </div>
        </div>

        <input type="hidden" id="hiddenNomineeId" />
        <input type="hidden" id="hiddenImagePath" />
        <input type="hidden" id="hiddenAccountNumber" />

    </div>
}
@section styles
{

    <style>
        .table {
            border-bottom: 0px !important;
        }

            .table th, .table td {
                border: 1px !important;
            }

        .fixed-table-container {
            border: 0px !important;
        }



        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 100%;
        }
    </style>
}
@section scripts
    {
    <script src="@Url.Content("~/Scripts/Custom/Accounts/CreateAccount.js")"></script>
}


