﻿@model TonyMultipurpose.Areas.Accounts.Models.Account

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TMC</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Report.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="container">
        @Html.Partial("_Heading")


        <div class="text-justify slateblue">
            Dear Sir,
            <br /> I/ We hereby request you to open a <span style="color:black"> Savings Account With Interest</span> (SB) base account in the books
            of your TMC limited in the name/Title   mentioned as under and agree to comply with and abide by
            the TMC Limited`s rules in force for the conduct of  the account and any amendment here to:
        </div>
        <br />
        @Html.Partial("_Customer")


        @Html.Partial("_Nominee")
        <br />
        <br />
        <br />
        <br />
        @Html.Partial("_Signature")
        @Html.Partial("_TermsAndConditions")
    </div>
</body>
</html>
