﻿@model TonyMultipurpose.Areas.Setup.Models.NoticeInfo


@{
    ViewBag.Title = "Notice Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <fieldset>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 200px;">
                            Title
                        </th>
                        <td>
                            @Html.DisplayFor(m => m.NoticeTitle)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Notice
                        </th>
                        <td>
                            @Html.Raw(Model.NoticeContent)
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.NoticeFileName))
                    {
                        <tr>
                            <th>
                                File
                            </th>
                            <td>
                                <a href="@Url.Content("~/Uploads/Notices/" + Model.NoticeFileName)" target="_blank">View file</a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </fieldset>
       
    </div>
</div>


