﻿
@model IEnumerable<TonyMultipurpose.Areas.Setup.Models.NoticeInfo>

@{
    ViewBag.Title = "Notice Entry";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    div.row {
        margin-bottom: 5px;
    }
</style>
    }



    <div class="row form-group">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color:red;font-size:medium"></label>
                <input type="hidden" id="hdfNoticeInfoId" name="NoticeInfoId" value="0" />
            </div>
        </div>
    </div>
    <div class="row form-group">

        <fieldset>

            <div class="col-md-10">

                <table cellspacing="10" cellpadding="10" class="table table-bordered" style="width:100%;">
                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Notice Title </label>
                            <span class="error">*</span>
                        </td>
                        <td >
                            <input type="text" id="NoticeTitle" name="NoticeTitle" class="form-control" placeholder="Type Notice Title" />
                        </td>

                        
                    </tr>
                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Notice For </label>
                            <span class="error">*</span>
                        </td>
                        <td>
                            <select name="RoleId" id="RoleId" class="form-control"></select>
                        </td>

                        
                    </tr>
                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Notice Content</label>
                            <span class="error">*</span>
                        </td>
                        <td><textarea type="text" id="NoticeContent" name="NoticeContent" class="form-control" placeholder="Type Notice Content" ></textarea></td>
                    </tr>
                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Notice File</label>
                            <span class="error">*</span>
                        </td>
                        <td>
                            <input type="file" name="NoticeFile" id="NoticeFile" accept="application/msword, application/vnd.ms-excel,
                   application/vnd.ms-powerpoint,text/plain, application/pdf, image/*" />
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td colspan="2">
                            <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
                            <input id="clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                            <input id="delete" type="button" value="Delete" class="btn btn-success" style="padding: 8px 24px;" />
                        </td>

                    </tr>
                </table>
            </div>

        </fieldset>
    </div>


<div class="tablecontainer table-responsive">
    <table id="NoticeInfoTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th>Notice Title</th>
                <th>Notice Content</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <script src="//cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
    <script src="@Url.Content("~/Scripts/Custom/Setup/NoticeInfo_Save.js")"></script>
}






