﻿@model TonyMultipurpose.Areas.CSS.Models.CSSModel
@{
    ViewBag.Title = "Css Mature Encashment";
}


@using (Html.BeginForm("Index", "MatureEncashment", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.Id > 0)
    {
        @Html.HiddenFor(d => d.Id)
    }
    <div class="container panel panel-default" style="float: left">
        @*<div class="panel-heading">
            <h3>Css Mature Encashment</h3>
        </div>*@
        <br />
        <div class="col-md-12 col-sm-10">
            <div class="col-md-9 col-sm-7">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">A/C No.</label>
                    </div>
                    <div class="col-md-6" style="height:40px !important">
                        <input type="text" id="AccountNumber" name="AccountNumber" class="form-control" onkeypress="return IsDouble(event);" placeholder="Type account no" />                        
                        <span class="error">Account Number Is Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Customer Id</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="CustomerId" name="CustomerId" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Customer Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="CustomerName" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Interest Rate</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="InterestRate" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Duration</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="Duration" name="Duration" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Mature Date</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="MatureDate" name="MatureDate" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Mature Amount</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="MatureAmount" name="MatureAmount" class="form-control" readonly="readonly"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Paid From</label>
                    </div>
                    <div class="col-md-6">
                        <select name="COAId" id="ChartOfAccount" class="form-control"></select>
                        <span class="error">Select Value</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">
                        <input type="hidden" id="InstallmentNumber" name="InstallmentNumber" class="form-control" readonly="readonly" />
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div valign="top">
                    <div class="img-responsive" style="vertical-align: top">
                        <img src="" alt="No Image" width="200px" height="200px" id="CustomerImage" />
                    </div>
                </div>
            </div>

        </div>
            <div style="padding-right: 50px; text-align: center">
                <input id="submit" type="button" value="Withdraw" class="btn btn-success" style="padding: 10px 40px" />
            </div>
           

        </div>
}

@section styles
{
<style type="text/css">
    .table {
        border-bottom: 0px !important;
    }

        .table th, .table td {
            border: 1px !important;
        }

    .fixed-table-container {
        border: 0px !important;
    }

    .formatedTable td {
        padding-bottom: 6px;
    }

    .formatedTable input {
        padding-right: 210px;
    }

    .container {
        border: none;
    }

    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 100%;
    }

    .form-group {
        margin-bottom: 12px;
    }
</style>

}

@section scripts
{
  
<script src="~/Scripts/Custom/CSS/MatureEncashmentIndex.js"></script>
}
