﻿@model IEnumerable<TonyMultipurpose.Areas.Accounts.ViewModels.AccountsViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Transaction Approval";
    var grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 20, ajaxUpdateContainerId: "checkableGrid"); /*ajaxUpdateCallback: "checkBoxHeader();"*/
    int rowVal = 0;
    
}
@section Styles{
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        /*table.gridtable td{color: green;}*/

        table.gridtable td a:visited {
            color: red;
        }
    </style>

}


<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>
<hr />
@using (Html.BeginForm("UnApprove", "Approval", FormMethod.Post))
{
    <div id="grid">


        @*@grid.GetHtml(
            tableStyle: "gridtable",
            htmlAttributes: new {id = "checkableGrid"},
            columns: grid.Columns
                (
                    //Here I am going to add checkbox column
                    grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@(item.TransactionId + "_" + item.AccountSetupId)" name="Id"/> </text>,
                        header: "{checkall}"
                        ),
                    grid.Column("AccountType", "Account Type"),
                    grid.Column("TransactionId", "Transaction Id"),
                    grid.Column("TransactionType", "Transaction Type"),
                    grid.Column("TransactionDate", "Transaction Date", format:
                        (item) => string.Format("{0:dd/MMM/yyyy}", item.TransactionDate)),
                    grid.Column("CustomerId", "Customer Id"),
                    grid.Column("CustomerName", "Account Title"),
                    grid.Column("Mobile", "Mobile"),
                    grid.Column("AccountNumber", "Account Number"),
                    grid.Column("InterestRate", "Interest Rate"),
                    grid.Column("Amount", "Amount"),
                    grid.Column("MatureAmount", "Mature Amount"),
                    grid.Column("MatureDate", "Mature Date", format:
                        (item) => string.Format("{0:dd/MMM/yyyy}", item.MatureDate)),
                    grid.Column("Fine", "Fine"),
                    grid.Column("InstallmentNumber", "Installment Number"),
                    grid.Column("InstallmentMonth", "Installment Month"),
                    grid.Column("Username", "Created By")
                )
            )*@

        @grid.GetHtml(
            tableStyle: "gridtable", footerStyle: "foot",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                    //Here I am going to add checkbox column
                    grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                    grid.Column("Productname", "Transaction Name"),
                    //grid.Column("TotalUnapproved", "Total Unapproved"),
                    grid.Column("TotalUnapproved", format: @<text><a href="@Url.Action("UnApprove", new { ac = @item.Productname})">@item.TotalUnapproved</a>  </text>,
                        header: "No. of Transaction")
                )
            )
    </div>

    @*<div>
        
        <input type="submit" value="Approve" class="btn btn-success" />
    </div>*@
}



@* Here I am going to add some Jquery Code *@

@*<style>
    .price {
    }
</style>*@


@section scripts
{
    <script src="~/Scripts/Custom/Accounts/AccountApproval.js"></script>
@*<script>


    //$(document).ready(function () {

    //    // 1st replace first column header text with checkbox
    //    checkBoxHeader();

    //    //3rd click event for checkbox of each row
    //    $("input[name='ids']").click(function () {
    //        var totalRows = $("#checkableGrid td :checkbox").length;
    //        var checked = $("#checkableGrid td :checkbox:checked").length;

    //        if (checked == totalRows) {
    //            $("#checkableGrid").find("input:checkbox").each(function () {
    //                this.checked = true;
    //            });
    //        }
    //        else {
    //            $("#cbSelectAll").removeAttr("checked");
    //        }
    //    });

    //    $("#search").keyup(function () {
    //        filter = new RegExp($(this).val(), 'i');
    //        $("#checkableGrid tbody tr").filter(function () {
    //            $(this).each(function () {
    //                found = false;
    //                $(this).children().each(function () {
    //                    content = $(this).html();
    //                    if (content.match(filter)) {
    //                        found = true;
    //                    }
    //                });
    //                if (!found) {
    //                    $(this).hide();
    //                }
    //                else {
    //                    $(this).show();
    //                }
    //            });
    //        });
    //    });


    //});
    //function checkBoxHeader() {
    //    $("#checkableGrid th").each(function() {
    //        if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
    //            $(this).text('');
    //            $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
    //            $(this).append("<span>Select All</span>");
    //        }
    //    });

    //    $("#cbSelectAll").on("click", function () {
    //        var ischecked = this.checked;
    //        $('#checkableGrid').find("input:checkbox").each(function () {
    //            this.checked = ischecked;
    //        });
    //    });
    //}


</script>*@
}
   
    




