﻿@using TonyMultipurpose.Infrastructure.Helpers
@model TonyMultipurpose.Areas.Loan.ViewModels.LoanBasicViewModel

@Html.AntiForgeryToken()
<div>
    

    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="form-group">
        @Html.BootstrapLabelFor(model => model.LoanTypeId)
        <div class="col-md-9">
            @Html.BootstrapDropDownListFor(model => model.LoanTypeId, Model.LoanTypeSelectListItems)
            @Html.BootstrapValidationMessageFor(model => model.LoanTypeId)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(model => model.LoanId)
        <div class="col-md-9">
            @Html.BootstrapTextBoxFor(model => model.LoanId)
            @Html.BootstrapValidationMessageFor(model => model.LoanId)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(model => model.ReferenceName)
        <div class="col-md-9">
            @Html.BootstrapTextBoxFor(model => model.ReferenceName)
            @Html.BootstrapValidationMessageFor(model => model.ReferenceName)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(model => model.LoanDate)
        <div class="col-md-9">
            @Html.BootstrapTextBoxFor(model => model.LoanDate)
            @Html.BootstrapValidationMessageFor(model => model.LoanDate)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(model => model.LoanAmount)
        <div class="col-md-9">
            @Html.BootstrapTextBoxFor(model => model.LoanAmount)
            @Html.BootstrapValidationMessageFor(model => model.LoanAmount)
        </div>
    </div>



</div>