﻿
@model TonyMultipurpose.Areas.Loan.Models.BankCheckList
@{
    ViewBag.Title = "Bank Inormation";
    Layout = null;
}

@section Styles{
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 100%;
        }
    </style>
}
<form>

    <div class="row">
        <div class="col-md-4">
            <label id="BankCheckList_showMessage" style="color: red; font-size: medium"></label>
        </div>
        <div class="col-md-2">
            <input type="hidden" id="hdfBankCheckListId" name="BankCheckListId" value="">
            <input type="hidden" id="hdfGuarantorId" name="GuarantorId" value="">
        </div>
    </div>
    <div class="row">
        <h4>Bank/NGO Performance Info</h4>
        <hr />
    </div>



    <table cellspacing="0" class="table table-bordered" width="100%">
        <tr>
            <td width="150px"><label>Loan Id</label></td>
            <td width="300px">@Html.TextBoxFor(a => a.LoanId, new { @class = "form-control", id = "BankCheckList_LoanId", @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td width="150px"><label>1. Bank/NGO Name</label></td>
            <td width="300px">
                <select name="BankId" id="BankId" class="form-control"></select>
                @Html.ValidationMessageFor(l => l.BankId, "", new { @class = "text-danger", @style = "color:red" })
            </td>
        </tr>
        <tr>
            <td width="150px"><label>2. Account No</label></td>
            <td width="300px">
                @Html.TextBoxFor(l => l.AccountNumber, new { @class = "form-control", id = "BankCheckList_AccountNumber" })
                @Html.ValidationMessageFor(l => l.AccountNumber, "", new { @class = "text-danger", @style = "color:red" })
            </td>
        </tr>
        <tr>
            <td width="150px"><label style="color: red">3. AC Name/Title</label></td>
            <td width="300px"><input type="text" class="form-control" value="" /></td>
        </tr>
        <tr>
            <td width="150px"><label style="color: red">4. Type of Account</label></td>
            <td width="300px"><input type="text" class="form-control" value="" /></td>
        </tr>
        <tr>
            <td width="150px"><label style="color: red">5. Loan Type</label></td>
            <td width="300px"><input type="text" class="form-control" value="" /></td>
        </tr>
        <tr>
            <td width="150px"><label style="color: red">6. Installment No</label></td>
            <td width="300px"><input type="text" class="form-control" value="" /></td>
        </tr>
        <tr>
            <td width="150px"><label style="color: red">7. Start Date</label></td>
            <td width="300px"><input type="text" class="form-control" value="" /></td>
        </tr>
        <tr>
            <td width="150px"><label style="color: red">8. Expiry Date</label></td>
            <td width="300px"><input type="text" class="form-control" value="" /></td>
        </tr>
        <tr>
            <td width="150px"><label style="color: red">9. Present Outs Tk</label></td>
            <td width="300px"><input type="text" class="form-control" value="" /></td>
        </tr>

        <tr>
            <td width="150px"><label style="color: red">10. Total Debit Amount</label></td>
            <td width="300px"><input type="text" class="form-control" value="" /></td>
        </tr>
        <tr>
            <td width="150px"><label style="color: red">11. Total Credit Amount</label></td>
            <td width="300px"><input type="text" class="form-control" value="" /></td>
        </tr>
        <tr>
            <td width="150px"><label style="color: red">12. Avg. Balance</label></td>
            <td width="300px"><input type="text" class="form-control" value="" /></td>
        </tr>
        <tr>
            <td width="150px"><label>13. Cheque No</label></td>
            <td width="300px">
                @Html.TextBoxFor(l => l.ChequeId, new { @class = "form-control", id = "ChequeId" })
            </td>
        </tr>

        <tr>
            <td width="150px"><label>14. Cheque Scan Photo</label></td>
            <td width="300px">
                <img src="" alt="No Image" width="80px" height="80px" id="imageDisplay" />
                <input type="file" name="fileUpload" id="Path" />
            </td>
        </tr>
        <tr>
            <td width="150px"><label>15. Description</label></td>
            <td width="300px">
                @Html.TextBoxFor(l => l.Description, new { @class = "form-control", id = "Description" })
            </td>
        </tr>
        <tr>
            <td width="150px"></td>
            <td width="300px">
                <input id="saveBankCheckList" type="button" value="Save" class="btn btn-success" style="padding: 8px 15px;" />
                <input id="UpdateBankCheckList" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
                <input id="deleteBankCheckList" type="button" value="Delete" class="btn btn-success" style="padding: 8px 15px;" />
                <input id="BankCheckList_Clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 15px;" />
            </td>
        </tr>

    </table>

    <input type="hidden" id="hiddenChequeId" />
    <input type="hidden" id="hiddenChequeImagePath" />







    @*NEW POP UP DESIGN END*@



    @*==OLD DESIGN START==*@

    @*<div class="form-group">
            @Html.TextBoxFor(a => a.LoanId, new {@class = "form-control", id = "BankCheckList_LoanId", @readonly = "readonly"})
            <input type="hidden" id="hdfBankCheckListId" name="BankCheckListId" value="">
            <label id="BankCheckList_showMessage" style="color: red; font-size: medium"></label>
        </div>*@

    @*<div class="form-group">
            <label class="control-label">Bank Name</label>
            <select name="BankId" id="BankId" class="form-control"></select>
            @Html.ValidationMessageFor(l => l.BankId, "", new { @class = "text-danger", @style = "color:red" })
        </div>*@
    @*<div class="form-group">
            <label class="control-label">Account Number</label>
            @Html.TextBoxFor(l => l.AccountNumber, new { @class = "form-control", id = "BankCheckList_AccountNumber" })
            @Html.ValidationMessageFor(l => l.AccountNumber, "", new { @class = "text-danger", @style = "color:red" })
        </div>*@
    @*<div class="form-group">
            <label class="control-label">Chuque Number</label>
            @Html.TextBoxFor(l => l.ChequeId, new { @class = "form-control", id = "ChequeId" })
            @Html.ValidationMessageFor(l => l.ChequeId, "", new { @class = "text-danger", @style = "color:red" })
        </div>*@
    @*<div class="form-group">
            <label class="control-label">Description</label>
            @Html.TextBoxFor(l => l.Description, new { @class = "form-control", id = "Description" })
            @Html.ValidationMessageFor(l => l.Description, "", new { @class = "text-danger", @style = "color:red" })
        </div>*@
    @*<div class="form-group">
            <label class="control-label">Upload</label>
            <img src="" alt="No Image" width="80px" height="80px" id="imageDisplay" />
            <input type="file" name="fileUpload" id="Path" />
            <span class="error">**</span>
        </div>*@

    @*<div class="form-group row" style="margin-left: 0px;">
            <input id="saveBankCheckList" type="button" value="Save" class="btn btn-success" style="padding: 8px 15px;" />
            <input id="UpdateBankCheckList" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
            <input id="deleteBankCheckList" type="button" value="Delete" class="btn btn-success" style="padding: 8px 15px;" />
            <input id="BankCheckList_Clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 15px;" />
        </div>*@




    @*<input type="hidden" id="hiddenChequeId" />
        <input type="hidden" id="hiddenChequeImagePath" />*@

    @*==OLD DESIGN END==*@

</form>

<div class="tablecontainer table-responsive" id="refresh">
    <table id="BankCheckListTable" class="display" cellspacing="0" style="width: 100%;">
        <thead>
            <tr>
                <th>Loan Id</th>
                <th>Bank Name</th>
                <th>Account Number</th>
                <th>Cheque Number</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script>
    $('#UpdateBankCheckList').hide();
    $('#deleteBankCheckList').hide();
    // Load Function function
    var oBankCheckListTable;
    BankCheckListTable();
    function BankCheckListTable() {
        oBankCheckListTable = $('#BankCheckListTable').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllBankCheckListInfo", "Loan", new { Area = "Loan" })',
                "type": "get",
                "data": {
                    "LoanId": $('#BankCheckList_LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "LoanId" },
                { "data": "BankName" },
                { "data": "AccountNumber" },
                { "data": "ChequeId" },
                { "data": "Description" },
                {
                    "data": "Path",
                    "render": function (data, type, row) {
                        return '<img src="' + data + '" width="40px" height="40px"/>';
                    }
                }
            ],
            "order": [[0, "desc"]],
            searching: false,
            paging: false,
            "bInfo": false
        });
        $('#BankCheckListTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oBankCheckListTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            bindDataBankCheckList(oBankCheckListTable.row(this).data());
        });
    }
    function bindDataBankCheckList(data) {
        $('#hdfBankCheckListId').val(data.BankCheckListId);
        $('#LoanId').val(data.LoanId);
        $('#BankId').val(data.BankId);
        $('#BankCheckList_AccountNumber').val(data.AccountNumber);
        $('#ChequeId').val(data.ChequeId);
        $('#Description').val(data.Description);
        $('#imageDisplay').attr('src', data.Path);
        $('#hiddenChequeImagePath').val(data.Path),
        $('#saveBankCheckList').hide();
        $('#UpdateBankCheckList').show();
        $('#deleteBankCheckList').show();
    }
    //function BankCheckListClearAll() {
    //    $('#BankCheckList_TypeId').val('');
    //    $('#BankCheckList_Amount').val('');
    //    $('#saveBankCheckList').show();
    //    $('#UpdateBankCheckList').hide();
    //    $('#deleteBankCheckList').hide();
    //}
    //// caler function
    //$('#BankCheckList_Clear').click(function () {
    //    BankCheckListClearAll();
    //});
    //// data load function
    function Binddata() {
        var data = {
            BankCheckListId: $('#hdfBankCheckListId').val(),
            LoanId: $('#BankCheckList_LoanId').val(),
            BankId: $('#BankId option:selected').val(),
            ChequeId: $('#ChequeId').val(),
            Description: $('#Description').val(),
            AccountNumber: $('#BankCheckList_AccountNumber').val(),
            Path: 'arya',
        }
        return data;
    }
    //income type load function
    BankName();
    function BankName() {
        $("#BankId").empty();
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetBankName", "Loan", new { Area = "Loan" })',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#BankId").append('<option value="0">--Select Bank Name--</option>');
                $.each(data, function (key, value) {
                    $("#BankId").append('<option value=' + value.BankId + '>' + value.BankName + '</option>');
                });
            }
        });
    }
    $("#Path").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imageDisplay').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
    // Save function
    $('#saveBankCheckList').click(function () {
        var isAllDataValid = true;
        var newImage = 'arya';
        var data = {
            LoanId: $('#BankCheckList_LoanId').val(),
            BankId: $('#BankId option:selected').val(),
            ChequeId: $('#ChequeId').val(),
            Description: $('#Description').val(),
            AccountNumber: $('#BankCheckList_AccountNumber').val(),
            Path: $('#hiddenChequeImagePath').val(),
        }
        if (isAllDataValid) {
            var file = document.getElementById('Path').files[0];

            //var data = Binddata();
            if (file != null) {
                data.Path = 'Cersi';
                NewImage = 'Cersi';
            }
            $.ajax({
                url: '@Url.Action("BankCheckListSave", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status === true) {
                        alert('successfully saved');
                        if (NewImage !== 'arya') {
                            var fd = new FormData();
                            fd.append("Imagefile", document.getElementById('Path').files[0]);
                            fd.append("ChequeId", d.Id);
                            fd.append("Path", d.image);
                            $('#hiddenChequeImagePath').val(d.image);
                            $.ajax({
                                url: '@Url.Action("SaveImageFile", "Loan", new {Area = "Loan" })',
                                type: "POST",
                                data: fd,
                                dataType: "JSON",
                                contentType: false,
                                processData: false,
                                success: function (obj) {
                                    if (obj.status == true) {
                                        //alert('successfully saved');
                                        $('#hiddenChequeImagePath').val(obj.Path);
                                        oBankCheckListTable.ajax.reload();
                                        ClearAllData();
                                    } else {
                                        alert("failed");
                                    }
                                },
                                error: function () {
                                    alert('Error. Please try again.');

                                }
                            });
                        }
                    } else {
                        alert('Failed');
                    }
                    //$('#submit').val('Save');

                },
                error: function () {
                    alert('Error. Please try again.');
                    //$('#submit').val('Save');

                }
            });
        }
    });

    function ClearAllData() {
        $('#BankId').val('');
        $('#ChequeId').val('');
        $('#Description').val('');
        $('#BankCheckList_AccountNumber').val('');
        $('#Path').val('');
        $('#imageDisplay').attr('src', '');

        $('#UpdateBankCheckList').hide();
        $('#deleteBankCheckList').hide();
    }
    $('#BankCheckList_Clear').click(function () {
        ClearAllData();
        $('#UpdateBankCheckList').hide();
        $('#deleteBankCheckList').hide();
        $('#saveBankCheckList').show();
    });
    $('#UpdateBankCheckList').click(function () {
        var isAllDataValid = true;
        var newImage = 'arya';
        var data = {
            LoanId: $('#BankCheckList_LoanId').val(),
            BankId: $('#BankId option:selected').val(),
            ChequeId: $('#ChequeId').val(),
            Description: $('#Description').val(),
            AccountNumber: $('#BankCheckList_AccountNumber').val(),
            Path: $('#hiddenChequeImagePath').val(),
            BankCheckListId: $('#hdfBankCheckListId').val(),
        }
        if (isAllDataValid) {
            var file = document.getElementById('Path').files[0];

            //var data = Binddata();
            if (file != null) {
                data.Path = 'Cersi';
                NewImage = 'Cersi';
            }
            $.ajax({
                url: '@Url.Action("UpdateBankCheckList", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status === true) {
                        alert('successfully Update');
                        if (NewImage !== 'arya') {
                            var fd = new FormData();
                            fd.append("Imagefile", document.getElementById('Path').files[0]);
                            fd.append("ChequeId", d.Id);
                            fd.append("Path", d.image);
                            $('#hiddenChequeImagePath').val(d.image);
                            $.ajax({
                                url: '@Url.Action("SaveImageFile", "Loan", new {Area = "Loan" })',
                                type: "POST",
                                data: fd,
                                dataType: "JSON",
                                contentType: false,
                                processData: false,
                                success: function (obj) {
                                    if (obj.status == true) {
                                        $('#hiddenChequeImagePath').val(obj.Path);
                                        oBankCheckListTable.ajax.reload();
                                        ClearAllData();
                                        $('#saveBankCheckList').show();
                                        $('#UpdateBankCheckList').hide();
                                        $('#deleteBankCheckList').hide();
                                    } else {
                                        alert("Image Update failed");
                                    }
                                },
                                error: function () {
                                    alert('Error. Please try again.');

                                }
                            });
                        }
                    } else {
                        alert('Failed');
                    }
                    //$('#submit').val('Save');

                },
                error: function () {
                    alert('Error. Please try again.');
                    //$('#submit').val('Save');

                }
            });
        }
    });
    $('#deleteBankCheckList').click(function () {
        if (confirm("Are you sure?")) {
            var newImage = 'Cersi';
            var data = {
                ChequeId: $('#ChequeId').val(),
                Path: newImage,
                BankCheckListId: $('#hdfBankCheckListId').val(),
            }
            $.ajax({
                url: '@Url.Action("DeleteBankCheckList", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        oBankCheckListTable.ajax.reload();
                        ClearAllData();
                        $('#saveBankCheckList').show();
                        $('#UpdateBankCheckList').hide();
                        $('#deleteBankCheckList').hide();
                    }
                },
                error: function () {

                }
            });
        }
        return false;
    });


    </script>
}


