﻿@model TonyMultipurpose.Areas.Loan.Models.AddtionalInfoModel
@{
    Layout = null;
}



    <style>
            span.error {
                display: block;
                visibility: hidden;
                color: red;
                font-weight: bold;
                font-size: 100%;
            }

            #imageDisplay {
                max-width: 280px;
                max-height: 280px;
            }

            /*#fileDisplay{
            max-width: 500px;
            max-height: 400px;
        }*/
    </style>




<div class="row">
    <div class="col-md-2">
        <label id="showMessage" style="color: red; font-size: medium"></label>
    </div>

</div>

<div class="row" style="display: none;">
    <div class="col-md-2">
        <label> Loan Referrence Id<span class="error">*</span></label>
    </div>
    <div class="col-md-6">
        @Html.TextBoxFor(a => a.LoanId, new { @class = "form-control", id = "RefId", @readonly = "readonly", @style = "width: 500px;" })
    </div>
</div>
<br />



<table style="width: 50%; min-width: 600px;">
    <tr>
        <td width="170px" height="10px"><label>1. Customer Detail</label></td>
        <td><textarea type="text" id="CustomerDetail" name="CustomerDetail" class="form-control" style="min-height: 70px;"></textarea></td>
    </tr>
    <tr>
        <td width="170px" height="10px"><label>2. Gurantor Detail</label></td>
        <td><textarea type="text" id="GuarantorsDetail" name="GuarantorsDetail" class="form-control" style="min-height: 70px;"></textarea></td>
    </tr>
    <tr>
        <td width="170px" height="10px"><label>3. Deviation</label></td>
        <td><textarea type="text" id="Deviation" name="Deviation" class="form-control" style="min-height: 70px;"></textarea></td>
    </tr>
    <tr>
        <td width="170px" height="10px"><label>4. Approver Comment</label></td>
        <td><textarea type="text" id="ApproverComment" name="ApproverComment" class="form-control" readonly="readonly" style="min-height: 70px;"></textarea></td>
    </tr>

    <tr>
        <td></td>
        <td>
            <input id="submitCustomerData" type="button" value="Save" class="btn btn-success" style="padding: 8px 15px;" />
        </td>
    </tr>

</table>
<input type="hidden" id="hdfCustomerDeviationId" name="CustomerDeviationId" />
<input type="hidden" id="hdfLoanIdForAddtioanlInfo" name="LoanId" value="">
<h3>Loan Documents</h3>



<table style="width: 790px;">

    <tr>
        <td><label>1. Document Name<span class="error">*</span></label></td>
        <td><input type="text" name="DocumentName" id="DocumentName" class="form-control" style="width: 250px;" /></td>
        <td>
            <input type="file" name="fileUpload" id="fileUpload" accept="application/msword, application/vnd.ms-excel,
                   application/vnd.ms-powerpoint,text/plain, application/pdf, image/*" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            <img src="" alt="No Image" id="imageDisplay" />
            <iframe id="fileDisplay" src="" width='300' height='300' allowfullscreen webkitallowfullscreen></iframe>
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            <input id="saveScanDocument" type="button" value="Add" class="btn btn-success" style="padding: 8px 15px;" />
            <input id="updateScanDocument" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
            <input id="DeleteScanDocument" type="button" value="Delete" class="btn btn-success" style="padding: 8px 15px;" />
            <input id="ScanDocument_Clear" type="button" value="Close" class="btn btn-success" style="padding: 8px 15px;" />
        </td>
    </tr>

</table>
<input type="hidden" id="hiddenLoanId" />
<input type="hidden" id="hiddenScanDocumnetId" name="Id" />
<input type="hidden" id="hiddenScanDocumentImagePath" />

<div style="width: 50%; min-width: 600px;">
    <div class="tablecontainer table-responsive" id="refresh">
        <table id="ScanDocumentTable" class="display" cellspacing="0">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Loan Id</th>
                    <th>Document Name</th>
                </tr>
            </thead>
        </table>
    </div>

</div>

<h3>Signatories</h3>
<table style="width: 50%; min-width: 600px;">
    <tr>
        <td><label>1. Name of Officer<span class="error">*</span></label></td>
        <td>
            <select name="EmpCode" id="EmpCode" class="form-control js-example-basic-single"></select>
        </td>
    </tr>
    <tr>
        <td><label>2. Functional Position<span class="error">*</span></label></td>
        <td><label id="FunctionalPosition"></label></td>
    </tr>

    <tr>
        <td rowspan="1"><label>3. Designation<span class="error">*</span></label></td>
        <td>
            <label id="DesignationName"></label>
        </td>
    </tr>


    <tr>
        <td></td>
        <td>
            <input id="saveSignatories" type="button" value="Add" class="btn btn-success" style="padding: 8px 15px;" />

            <input id="updateSignatories" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
            <input id="deleteSignatories" type="button" value="Delete" class="btn btn-danger" style="padding: 8px 15px;" />
            <input id="Signatories_Clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 15px;" />
        </td>
    </tr>

</table>

<input type="hidden" id="hdfSignatoryId" name="Id" />
<input type="hidden" id="hdfLoanIdForSignatory" name="LoanId" />
<input type="hidden" id="isSignatoryUpdateMode" name="isSignatoryUpdateMode" />


<div style="width: 50%; min-width: 600px;">
    <div class="tablecontainer table-responsive" id="refresh">
        <table id="SignatoryDataTable" class="display" cellspacing="0" style="width: 100%;">
            <thead>
                <tr>
                    <th>Loan Id</th>
                    <th>SL</th>
                    <th>Functional Position</th>
                    <th>Name of Officer</th>
                    <th>Designation</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


    <script>
    //json to date converter
    function FormateDate(jsonDate) {
        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Novr", "Dec"
        ];
        var date = new Date(parseInt(jsonDate.substr(6)));
        var dd = date.getDate();
        var mm = monthNames[date.getMonth()];
        var yyyy = date.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        var formmatedDate = dd + '/' + mm + '/' + yyyy;
        return formmatedDate;
    }

    //date picker
    $('.datepicker').datepicker({
        dateFormat: "dd/M/yy",
        changeMonth: true,
        changeYear: true,
        yearRange: "-60:+0"
    });
    //$('#LoanDate').datepicker({
    //    dateFormat: 'dd/M/yy',
    //    changeMonth: true,
    //    changeYear: true,
    //    yearRange: "-100:+60", type: Text
    //}).click(function () { $(this).focus(); });



    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        $('#fileDisplay').hide();
        document.getElementById('showMessage').innerHTML = '';
        //Deviation INFO AREA
        $('#UpdateCustomerData').hide();
        GetAddtionalInfoData();

        function GetAddtionalInfoData() {
            var LoanId = $('#RefId').val();
            var data = { loanId: LoanId };
            $.ajax({
                url: '@Url.Action("GetAddtionalInfoData", "Loan", new {Area = "Loan"})',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (data) {
                    bindAddtionalInfoData(data);

                }
            });
        }

        function bindAddtionalInfoData(data) {

            $('#hdfLoanIdForAddtioanlInfo').val(data.data[0].LoanId);
            $('#hdfCustomerDeviationId').val(data.data[0].Id);
            $('#CustomerDetail').val(data.data[0].CustomerDetail);
            $('#GuarantorsDetail').val(data.data[0].GuarantorsDetail);
            $('#Deviation').val(data.data[0].Deviation);
            $('#ApproverComment').val(data.data[0].ApproverComment);

            $('#submitCustomerData').show();
            $('#CustomerDatar_Clear').show();
        }

        //Addtional Info Data table end

        $('#submitCustomerData').click(function () {

            var isValid = CheckValidation();
            if (isValid) {
                var data = Bindata();
                $.ajax({
                    url: '@Url.Action("SaveLoanCustomerDetails", "Loan", new { Area = "Loan" })',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            document.getElementById('showMessage').style.color = "green";
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                        //$('#hdfLoanId').val('');
                    }
                });

            }
        });

        function Bindata() {

            var data = {
                Id: $('#hdfCustomerDeviationId').val(),
                LoanId: $('#RefId').val(),
                CustomerDetail: $('#CustomerDetail').val(),
                GuarantorsDetail: $('#GuarantorsDetail').val(),
                Deviation: $('#Deviation').val(),
                ApproverComment: $('#ApproverComment').val()
            }
            return data;
        }

        function ClearAddtionalInfoData() {
            //$('#hdfCustomerDeviationId').val('');
            $('#CustomerDetail').val('');
            $('#GuarantorsDetail').val('');
            $('#Deviation').val('');
            $('#ApproverComment').val('');
            $('#submitCustomerData').show();
            $('#UpdateCustomerData').hide();
            $('#deleteCustomerData').hide();
            document.getElementById('showMessage').innerHTML = '';
        }

        $('#CustomerDatar_Clear').click(function () {
            ClearAddtionalInfoData();
            $('#submitCustomerData').show();
            $('#UpdateCustomerData').hide();
            $('#deleteCustomerData').hide();
            $('#CustomerDatar_Clear').show();
        });


        function CheckValidation() {
            var isValid = true;

            if ($('#RefId').val().trim() === '') {
                isValid = false;
                $('#RefId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#RefId').parent().prev().find('span').css('visibility', 'hidden');
            }


            if ($('#CustomerDetail').val().trim() === '' && $('#Deviation').val().trim() === '' && $('#ApproverComment').val().trim() === '' && $('#ApproverComment').val().trim() === '') {
                isValid = false;
                $('#CustomerDetail').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#CustomerDetail').parent().prev().find('span').css('visibility', 'hidden');
            }

            //if ($('#CustomerDetail').val().trim() === '') {
            //    isValid = false;
            //    $('#CustomerDetail').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#CustomerDetail').parent().prev().find('span').css('visibility', 'hidden');
            //}
            //if ($('#GuarantorsDetail').val().trim() === '') {
            //    isValid = false;
            //    $('#GuarantorsDetail').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#GuarantorsDetail').parent().prev().find('span').css('visibility', 'hidden');
            //}
            //if ($('#Deviation').val().trim() === '') {
            //    isValid = false;
            //    $('#Deviation').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#Deviation').parent().prev().find('span').css('visibility', 'hidden');
            //}
            //if ($('#ApproverComment').val().trim() === '') {
            //    isValid = false;
            //    $('#ApproverComment').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#ApproverComment').parent().prev().find('span').css('visibility', 'hidden');
            //}

            return isValid;
        }



        $('#clear').click(function () {
            window.location.reload();
        });


        //=====================ADDTIONAL INFO AREA END=================


        //----------------------------------------


        // Load Function function
        var oScanDocumentTable;
        ScanDocumentTable();
        function ScanDocumentTable() {
            oScanDocumentTable = $('#ScanDocumentTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetScanDocumnetInfo", "Loan", new { Area = "Loan" })',
                    "type": "get",
                    "data": {
                        "LoanId": $('#RefId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": null,
                        "width": "10px",
                        "className": "dt-center"
                    },
                    {
                        "data": "LoanId",
                        "targets": 0
                    },
                    {
                        "data": "DocumentName",
                        "targets": 0
                    }
                    //{
                    //    "data": "ImagePath",
                    //    "render": function (data, type, row) {
                    //        return '<img src="' + data + '" width="40px" height="40px"/>';
                    //    }
                    //}
                ],

                // "order": [[0, "desc"]],
                ordering: false,
                //searching: false,
                sorting: false,
                paging: false,
                "bInfo": false
            });
            $('#ScanDocumentTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oScanDocumentTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindDataForScanDocumentTable(oScanDocumentTable.row(this).data());
            });
        }

        oScanDocumentTable.on('order.dt search.dt', function () {
            oScanDocumentTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        function bindDataForScanDocumentTable(data) {
            $('#hiddenScanDocumnetId').val(data.Id);
            $('#LoanId').val(data.LoanId);
            $('#imageDisplay').attr('src', '');
            $('#fileDisplay').attr('src', '');
            $('#DocumentName').val(data.DocumentName);
            if (data.ImagePath.indexOf('.jpg') !== -1 || data.ImagePath.indexOf('.jpeg') !== -1 || data.ImagePath.indexOf('.png') !== -1 || data.ImagePath.indexOf('.gif') !== -1) {
                $('#fileDisplay').hide();
                $('#imageDisplay').show();
                $('#imageDisplay').attr('src', data.ImagePath);
            } else {
                $('#imageDisplay').hide();
                $('#fileDisplay').show();
                var imgPath = data.ImagePath;
                imgPath = imgPath.split(/\//g).join("/");
                $('#fileDisplay').attr('src', '/ViewerJS/#../' + imgPath);
            }
            $('#hiddenScanDocumentImagePath').val(data.OldImagePath),
            $('#saveScanDocument').hide();
            $('#updateScanDocument').show();
            $('#DeleteScanDocument').show();
        }

        //scan document save area

        $("#fileUpload").change(function () {
            if (this.files && this.files[0]) {
                $('#fileDisplay').attr('src', '');
                $('#fileDisplay').hide();
                $('#imageDisplay').attr('src', '');
                $('#imageDisplay').show();
                var reader = new FileReader();
                var file = this.files[0];
                var fileType = file["type"];
                var validImageTypes = ["image/gif", "image/jpeg", "image/png"];
                if ($.inArray(fileType, validImageTypes) < 0) {
                } else {
                    reader.onload = function (e) {
                        $('#imageDisplay').attr('src', e.target.result);
                    }
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        //imgage save

        $('#saveScanDocument').click(function () {
            var isAllDataValid = CheckValidationForScanDocument();
            if (isAllDataValid) {
                var fd = new FormData();
                fd.append("LoanId", $('#RefId').val());
                fd.append("DocumentName", $('#DocumentName').val());
                var file = document.getElementById('fileUpload').files[0];
                if (file != null) {
                    fd.append("ImagePath", 'Cersi');
                    fd.append("Imagefile", document.getElementById('fileUpload').files[0]);
                } else {
                    fd.append("ImagePath", 'arya');
                }
                $.ajax({
                    url: '@Url.Action("SaveScanDocumentInfo", "Loan", new { Area = "Loan" })',
                    type: "POST",
                    data: fd,
                    dataType: "JSON",
                    contentType: false,
                    processData: false,
                    success: function (d) {
                        if (d.status === true) {
                            //document.getElementById('showMessage').innerHTML = 'Save Sucessful';
                            if (d.image !== 'arya') {
                                saveImage(d);
                            }
                        } else {
                            document.getElementById('showMessage').innerHTML = 'Error';
                        }


                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';


                    }
                });
            }
        });


        function CheckValidationForScanDocument() {
            var isValid = true;

            if ($('#RefId').val().trim() === '') {
                isValid = false;
                $('#RefId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#RefId').parent().prev().find('span').css('visibility', 'hidden');
            }

            if ($('#DocumentName').val().trim() === '') {
                isValid = false;
                $('#DocumentName').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#DocumentName').parent().prev().find('span').css('visibility', 'hidden');
            }
            var file = document.getElementById('fileUpload').files[0];
            if (file == null) {
                isValid = false;
                alert('Select a file first.');
            }
            else {
                isValid = true;
            }
            return isValid;
        }


        function saveImage(d) {
            var fd = new FormData();
            fd.append("Imagefile", document.getElementById('fileUpload').files[0]);
            fd.append("LoanId", d.Id);
            fd.append("ImagePath", d.image);
            $('#hiddenLoanId').val(d.Id);
            $('#hiddenScanDocumentImagePath').val(d.image);
            //$('#hiddenCustomerName').val(obj.name);
            $.ajax({
                url: '@Url.Action("SaveScanDocumentImageFile", "Loan", new {Area = "Loan"})',
                type: "POST",
                data: fd,
                dataType: "JSON",
                contentType: false,
                processData: false,
                success: function (obj) {
                    if (obj.status == true) {
                        $('#hiddenScanDocumentImagePath').val(obj.image);
                        oScanDocumentTable.ajax.reload();
                        ClearAllData();
                        document.getElementById('showMessage').innerHTML = 'Save Sucessful';
                    } else {
                        document.getElementById('showMessage').innerHTML = 'Upload failed';
                    }
                },
                error: function () {
                    document.getElementById('showMessage').innerHTML = 'Error. plz try again';
                }
            });
        }

        function ClearAllData() {
            $('#DocumentName').val('');
            $('#LoanId').val('');
            $('#fileUpload').val('');
            $('#imageDisplay').attr('src', '');
            $('#fileDisplay').attr('src', '');
            $('#fileDisplay').hide();
            document.getElementById('showMessage').innerHTML = '';
            $('#updateScanDocument').hide();
            $('#DeleteScanDocument').hide();
        }
        $('#ScanDocument_Clear').click(function () {
            ClearAllData();
            $('#updateScanDocument').hide();
            $('#DeleteScanDocument').hide();
            $('#saveScanDocument').show();
        });

        $('#updateScanDocument').hide();
        $('#DeleteScanDocument').hide();




        //update scan document area
        $('#updateScanDocument').click(function () {
            var isAllDataValid = CheckValidationForScanDocument();
            if (isAllDataValid) {
                var fd = new FormData();
                fd.append("Id", $('#hiddenScanDocumnetId').val());
                fd.append("LoanId", $('#RefId').val());
                fd.append("DocumentName", $('#DocumentName').val());
                fd.append("OldImagePath", $('#hiddenScanDocumentImagePath').val());
                var file = document.getElementById('fileUpload').files[0];
                var newfile = false;
                if (file != null) {
                    newfile = true;
                    fd.append("ImagePath", 'Cersi');
                    fd.append("Imagefile", document.getElementById('fileUpload').files[0]);
                } else {
                    fd.append("ImagePath", $('#hiddenScanDocumentImagePath').val());
                }
                if (newfile) {
                    $.ajax({
                        url: '@Url.Action("UpdateScanDocumentInfo", "Loan", new { Area = "Loan" })',
                        type: "POST",
                        data: fd,
                        dataType: "JSON",
                        contentType: false,
                        processData: false,
                        success: function (d) {
                            if (d.status === true) {
                                //document.getElementById('showMessage').innerHTML = 'Save Sucessful';
                                oScanDocumentTable.ajax.reload();
                                var fd = new FormData();
                                fd.append("Imagefile", document.getElementById('fileUpload').files[0]);
                                fd.append("LoanId", d.loanId);
                                fd.append("ImagePath", d.image);
                                fd.append("Id", d.scanId);
                                $('#hiddenScanDocumnetId').val(d.scanId);
                                $('#hiddenScanDocumentImagePath').val(d.image);
                                $('#hiddenLoanId').val(d.loanId);

                                $.ajax({
                                    url: '@Url.Action("SaveScanDocumentImageFile", "Loan", new {Area = "Loan"})',
                                    type: "POST",
                                    data: fd,
                                    dataType: "JSON",
                                    contentType: false,
                                    processData: false,
                                    success: function (obj) {
                                        if (obj.status == true) {
                                            $('#hiddenScanDocumentImagePath').val(obj.ImagePath);
                                            oScanDocumentTable.ajax.reload();
                                            ClearAllData();
                                            document.getElementById('showMessage').innerHTML = 'Update Sucessful';
                                        } else {
                                            document.getElementById('showMessage').innerHTML = 'Upload Failed';
                                        }


                                    },
                                    error: function () {
                                        document.getElementById('showMessage').innerHTML = 'Error. plz try again';

                                    }
                                });
                            } else {
                                document.getElementById('showMessage').innerHTML = 'Error';
                                oScanDocumentTable.ajax.reload();
                            }


                        },
                        error: function () {
                            document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                            oScanDocumentTable.ajax.reload();
                        }
                    });
                }
            }
        });

        $('#DeleteScanDocument').click(function () {
            var Id = $('#hiddenScanDocumnetId').val();
            var json = {
                Id: Id
            };
            $.ajax({
                url: '@Url.Action("DeleteScanDocumentInfo", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(json),
                dataType: "JSON",
                contentType: "application/json",
                success: function () {
                    oScanDocumentTable.ajax.reload();
                    ClearAllData();
                    document.getElementById('showMessage').innerHTML = 'Delete Sucessfully.';
                },
                error: function () {
                    document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                    oScanDocumentTable.ajax.reload();
                }
            });
        });
        //=============== end scan document area===============

        //=======Signatory Area======

        $('#updateSignatories').hide();
        $('#deleteSignatories').hide();


        LoadEmployee();
        function LoadEmployee() {
            $("#EmpCode").empty();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetBranchWiseEmployee", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#EmpCode").append('<option value="0">--Select Employee--</option>');
                    $.each(data, function (key, value) {
                        $("#EmpCode").append('<option value=' + value.EmpCode + '>' + value.EmployeeName + '</option>');
                    });
                }
            });
        }
        // Get Designation
        $("#EmpCode").change(function () {
            var EmpCode = $("#EmpCode").val();
            var json = {
                EmpCode: EmpCode
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDesignationByEmpCode", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {

                    document.getElementById('DesignationName').innerHTML = data.DesignationName;
                    document.getElementById('FunctionalPosition').innerHTML = data.FunctionalPosition;
                    //exitsEmployeeSignatoriesTable();
                }
            });
        });


        function exitsEmployeeSignatoriesTable(handleData) {
            var empCode = $("#EmpCode").val();
            var loanId = $('#RefId').val();
            var json = { empCode: empCode, loanId: loanId };
            $.ajax({
                type: "POST",
                url: '@Url.Action("ExitsEmployeeSignatoriesTable", "Loan", new {Area= "Loan" })',
                contentType: "application/json",
                data: JSON.stringify(json),
                success: function (data) {
                    //$("#saveSignatories").removeAttr('disabled');
                    //$("#updateSignatories").removeAttr('disabled');
                    if (data === false) {
                        //$("#saveSignatories").attr('disabled', 'disabled');
                        //$("#updateSignatories").attr('disabled', 'disabled');
                        alert('This Employee already Exists!');
                    }
                    handleData(data);
                }
            });
        }


        $('#saveSignatories').click(function () {
            var isValid = CheckSignatoryDataValidation();
            if (isValid) {
                var data = BindSignatoryData();
                var myPromise = new Promise(function (resolve, reject) {
                    exitsEmployeeSignatoriesTable(function (output) {
                        if (output === true) {
                            resolve();
                        } else {
                            reject();
                        }
                    });
                });
                myPromise.then(function () {
                    $.ajax({
                        url: '@Url.Action("SaveSignatoryData", "Loan", new { Area = "Loan" })',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            if (d.oCommonResult.Status === true) {
                                oSignatoryDataTable.ajax.reload();
                                document.getElementById('showMessage').style.color = "green";
                                ClearSignatoryData();
                            }
                            document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                        },
                        error: function () {
                            document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                        }
                    });
                }).catch(function () {
                    ClearSignatoryData();
                });

            }
        });

        $('#deleteSignatories').click(function () {

            var isValid = CheckSignatoryDataValidation();
            if (isValid) {
                var data = BindSignatoryData();
                $.ajax({
                    url: '@Url.Action("DeleteSignatoryData", "Loan", new { Area = "Loan" })',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            oSignatoryDataTable.ajax.reload();
                            document.getElementById('showMessage').style.color = "green";
                            ClearSignatoryData();
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                    }
                });

            }
        });

        function CheckSignatoryDataValidation() {
            var isValid = true;

            if ($('#RefId').val().trim() === '') {
                isValid = false;
                $('#RefId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#RefId').parent().prev().find('span').css('visibility', 'hidden');
            }

            //if ($('#FunctionalPosition').val().trim() === '') {
            //    isValid = false;
            //    $('#FunctionalPosition').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#FunctionalPosition').parent().prev().find('span').css('visibility', 'hidden');
            //}

            if ($('#EmpCode').val().trim() === '0') {
                isValid = false;
                $('#EmpCode').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#EmpCode').parent().prev().find('span').css('visibility', 'hidden');
            }
            return isValid;
        }
        function BindSignatoryData() {

            var data = {
                LoanId: $('#RefId').val(),
                FunctionalPosition: document.getElementById('FunctionalPosition').innerHTML,
                EmpCode: $('#EmpCode option:selected').val()
            }
            return data;
        }
        function ClearSignatoryData() {
            //$('#FunctionalPosition').val('');
            $('#EmpCode').val('0').trigger('change');
            document.getElementById('DesignationName').innerHTML = '';
            document.getElementById('FunctionalPosition').innerHTML = '';
            $('#saveSignatories').show();
            $('#updateSignatories').hide();
            $('#deleteSignatories').hide();
        }
        $('#Signatories_Clear').click(function () {
            ClearSignatoryData();
            $('#updateSignatories').hide();
            $('#deleteSignatories').hide();
            $('#saveSignatories').show();
            $("#saveSignatories").removeAttr('disabled');
            $("#updateSignatories").removeAttr('disabled');
        });



        //signatory data table add
        var oSignatoryDataTable;
        LoadSignatoryDataTable();
        function LoadSignatoryDataTable() {
            oSignatoryDataTable = $('#SignatoryDataTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetSignatoryDataForDataTable", "Loan", new { Area = "Loan" })',
                    "type": "get",
                    "data": {
                        "LoanId": $('#RefId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "LoanId",
                        "targets": 0
                    },
                    {
                        "data": null,
                        "width": "10px",
                        "className": "dt-center"
                    },
                    {
                        "data": "FunctionalPosition",
                        "targets": 0
                    },
                    {
                        "data": "EmployeeName",
                        "targets": 0
                    },
                    {
                        "data": "DesignationName",
                        "targets": 0
                    }
                ],
                //"order": [[0, "desc"]],
                ordering: false,
                //searching: false,
                sorting: false,
                paging: false,
                "bInfo": false
            });
            $('#SignatoryDataTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    oSignatoryDataTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindSignatoryData(oSignatoryDataTable.row(this).data());
            });
        }

        oSignatoryDataTable.on('order.dt search.dt', function () {
            oSignatoryDataTable.column(1, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        function bindSignatoryData(data) {
            $('#hdfSignatoryId').val(data.Id);
            $('#hdfLoanIdForSignatory').val(
                data.LoanId);
            $('#EmpCode').val(data.EmpCode).trigger('change');
            //$('#EmpCode').val(data.EmpCode);
            //$('#FunctionalPosition').val(data.FunctionalPosition);
            document.getElementById('FunctionalPosition').innerHTML = data.FunctionalPosition;
            document.getElementById('DesignationName').innerHTML = data.DesignationName;

            $('#saveSignatories').hide();
            $('#updateSignatories').show();
            $('#deleteSignatories').show();
            $('#Signatories_Clear').show();
        }

        //update signatory


        $('#updateSignatories').click(function () {

            var isValid = CheckSignatoryDataValidationForUpdate();
            if (isValid) {
                var data = BindSignatoryDataForUpdate();
                var myPromise = new Promise(function (resolve, reject) {
                    exitsEmployeeSignatoriesTable(function (output) {
                        if (output === true) {
                            resolve();
                        } else {
                            reject();
                        }
                    });
                });
                myPromise.then(function () {
                    $.ajax({
                        url: '@Url.Action("UpdateSignatoryData", "Loan", new {Area = "Loan"})',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            if (d.oCommonResult.Status == true) {
                                oSignatoryDataTable.ajax.reload();
                                document.getElementById('showMessage').style.color = "green";
                                ClearSignatoryData();
                            }
                            document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                        },
                        error: function () {
                            document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                        }
                    });
                });
            }
        });


        function CheckSignatoryDataValidationForUpdate() {
            var isValid = true;


            if ($('#hdfSignatoryId').val().trim() === '') {
                isValid = false;
                $('#hdfSignatoryId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#hdfSignatoryId').parent().prev().find('span').css('visibility', 'hidden');
            }

            if ($('#RefId').val().trim() === '') {
                isValid = false;
                $('#RefId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#RefId').parent().prev().find('span').css('visibility', 'hidden');
            }

            //if ($('#FunctionalPosition').val().trim() === '') {
            //    isValid = false;
            //    $('#FunctionalPosition').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#FunctionalPosition').parent().prev().find('span').css('visibility', 'hidden');
            //}

            if ($('#EmpCode').val().trim() === '0') {
                isValid = false;
                $('#EmpCode').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#EmpCode').parent().prev().find('span').css('visibility', 'hidden');
            }
            return isValid;
        }
        function BindSignatoryDataForUpdate() {

            var data = {
                Id: $('#hdfSignatoryId').val(),
                LoanId: $('#RefId').val(),
                FunctionalPosition: document.getElementById('FunctionalPosition').innerHTML,
                EmpCode: $('#EmpCode option:selected').val()
            }
            return data;
        }

        //=======Signatory Area END======


    });






    </script>

