﻿
@model TonyMultipurpose.Areas.Loan.Models.MonthlyExpend
@{
    ViewBag.Title = "Expend";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    <div class="form-group">
        <label class="control-label"> Loan Id</label>
        <label id="MonthlyExpend_showMessage" style="color:red;font-size:medium"></label>
        @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "MonthlyExpend_LoanId", @readonly = "readonly" })
        @Html.ValidationMessageFor(l => l.LoanId, "", new { @class = "text-danger", @style = "color:red" })
        <input type="hidden" id="hdfMonthlyExpendId" name="MonthlyExpendId" value="">

    </div>
    <div class="form-group">
        <label class="control-label">Expend Type</label>
        <select name="MonthlyExpendId" id="MonthlyExpend_TypeId" class="form-control"></select>
        @Html.ValidationMessageFor(l => l.MonthlyExpendId, "", new { @class = "text-danger", @style = "color:red" })
    </div>
    <div class="form-group">
        <label class="control-label">Amount</label>
        @Html.TextBoxFor(l => l.Amount, new { @class = "form-control", id = "MonthlyExpend_Amount" })
        @Html.ValidationMessageFor(l => l.Amount, "", new { @class = "text-danger", @style = "color:red" })
    </div>

    <div class="form-group row" style="margin-left:0px;">
        <input id="saveMonthlyExpend" type="button" value="Save" class="btn btn-success" style="padding: 8px 15px;" />
        <input id="UpdateMonthlyExpend" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
        <input id="deleteMonthlyExpend" type="button" value="Delete" class="btn btn-success" style="padding: 8px 15px; " />
        <input id="MonthlyExpend_Clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 15px; " />
    </div>


    <div class="tablecontainer table-responsive">
        <table id="MonthlyExpendTable" class="display" cellspacing="0" style="width:100%;">
            <thead>
                <tr>
                    <th>Loan Id</th>
                    <th>ExpendType</th>
                    <th>Amount</th>
                </tr>
            </thead>
        </table>
    </div>
</form>
<script>
    $('#UpdateMonthlyExpend').hide();
    $('#deleteMonthlyExpend').hide();
    // Load Function function
    var oMonthlyExpendTable;
    MonthlyExpendTable();
    function MonthlyExpendTable() {
        oMonthlyExpendTable = $('#MonthlyExpendTable').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllMonthlyExpendInfo", "Loan", new { Area = "Loan" })',
                "type": "get",
                "data": {
                    "LoanId": $('#MonthlyExpend_LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "LoanId" },
                { "data": "ExpendType" },
                { "data": "Amount" },
            ],
            "order": [[0, "desc"]],
            searching: false,
            paging: false,
            "bInfo": false
        });
        $('#MonthlyExpendTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oMonthlyExpendTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            bindDataGuarantor(oMonthlyExpendTable.row(this).data());
        });
    }
    function bindDataGuarantor(data) {
        $('#hdfMonthlyExpendId').val(data.MonthlyExpendId);
        $('#MonthlyExpend_TypeId').val(data.IncomeTypeId);
        $('#MonthlyExpend_Amount').val(data.Amount);
        $('#MonthlyExpend_LoanId').val(data.LoanId);
        $('#saveMonthlyExpend').hide();
        $('#UpdateMonthlyExpend').show();
        $('#deleteMonthlyExpend').show();
    }
    function MonthlyExpendClearAll() {
        $('#MonthlyExpend_TypeId').val('');
        $('#MonthlyExpend_Amount').val('');
    }
    // caler function
    $('#MonthlyExpend_Clear').click(function () {
        MonthlyExpendClearAll();
    });
    // data load function
    function Binddata() {
        var LoanId = $('#MonthlyExpend_LoanId').val();
        var IncomeTypeId = $('#MonthlyExpend_TypeId ').val();
        var Amount = $('#MonthlyExpend_Amount').val();
        var MonthlyExpendId = $('#hdfMonthlyExpendId').val();
        var data = {
            LoanId: $('#MonthlyExpend_LoanId').val(),
            IncomeTypeId: $('#MonthlyExpend_TypeId option:selected').val(),
            Amount: $('#MonthlyExpend_Amount').val(),
            MonthlyExpendId:$('#hdfMonthlyExpendId').val()
        }
        return data;
    }
    // income type load function
    $(function () {
        $("#MonthlyExpend_TypeId").empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetIncomeType", "Loan", new { Area = "Loan" })',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#MonthlyExpend_TypeId").append('<option value="0">--Select Income Type--</option>');
                $.each(data, function (key, value) {
                    $("#MonthlyExpend_TypeId").append('<option value=' + value.IncomeTypeId + '>' + value.IncomeType + '</option>');
                });
            }
        });
    });
    // Save function
    $('#saveMonthlyExpend').click(function () {
        var isAllDataValid = true;
        if (isAllDataValid) {
            var data = Binddata();
            $.ajax({
                url: '@Url.Action("SaveIncome", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.oCommonResult.Status == true) {
                        oMonthlyExpendTable.ajax.reload();
                        $('#saveMonthlyExpend').show();
                        $('#UpdateMonthlyExpend').hide();
                        $('#deleteMonthlyExpend').hide();
                        document.getElementById('MonthlyExpend_showMessage').style.color = "green";
                    }
                    document.getElementById('MonthlyExpend_showMessage').innerHTML = d.oCommonResult.Message;
                },
                error: function () {
                    document.getElementById('MonthlyExpend_showMessage').innerHTML = 'Error. Please try again.';
                }
            });
        }
    });
    $('#UpdateMonthlyExpend').click(function () {

        var isAllDataValid = true;

        if (isAllDataValid) {

            var data = Binddata();
            $.ajax({
                url: '@Url.Action("UpdateMonthlyExpend", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        oMonthlyExpendTable.ajax.reload();
                        MonthlyExpendClearAll();
                        oMonthlyExpendTable.ajax.reload();
                        $('#saveMonthlyExpend').show();
                        $('#UpdateMonthlyExpend').hide();
                        $('#deleteMonthlyExpend').hide();
                    }
                },
                error: function () {

                }
            });
        }
    });
    $('#deleteMonthlyExpend').click(function () {
        if (confirm("Are you sure?")) {
            var data = Binddata();
            $.ajax({
                url: '@Url.Action("DeleteMonthlyExpend", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        oMonthlyExpendTable.ajax.reload();
                        MonthlyExpendClearAll();
                        $('#saveMonthlyExpend').show();
                        $('#UpdateMonthlyExpend').hide();
                        $('#deleteMonthlyExpend').hide();
                    }
                },
                error: function () {

                }
            });
        }
        return false;
    });
</script>