﻿@model TonyMultipurpose.Areas.Loan.Models.MonthlyIncome
@{
    Layout = null;

}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>


<table>
    <tr>
        <td>
            <input id="UpdateMonthlyExpense" type="button" value="Save" class="btn btn-success" style="padding: 8px 15px;" />
        </td>
    </tr>
    <tr>
        <td><label id="MonthlyExpense_showMessage" style="color: red; font-size: medium"></label></td>
    </tr>
    <tr>
        <td style="width: 49%">
            <fieldset style="padding-top: 10px; border: 1px solid #666; border-radius: 8px; box-shadow: 0 0 10px #666; background: #fff; min-height: 440px;">
                <h3>Monthly Income</h3>
                <div class="col-md-10">
                    <label id="MonthlyIncome_showMessage" style="color: red; font-size: medium"></label>
                </div>
                <table cellspacing="0" class="table table-bordered" style="width: 100%;">
                    <tr>
                        <td style="width:200px">
                            <label class="control-label"> Loan Id</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "MonthlyIncome_LoanId", @readonly = "readonly" })
                            @Html.ValidationMessageFor(l => l.LoanId, "", new { @class = "text-danger", @style = "color:red" })
                            <input type="hidden" id="hdfMonthlyIncomeId" name="MonthlyIncomeId" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownList("IncomeType", new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Agriculture", Value = "1"},
                                new SelectListItem {Text = "Salary", Value = "2"},
                                new SelectListItem {Text = "House Rent", Value = "3"},
                                new SelectListItem {Text = "Business", Value = "4"},
                                new SelectListItem {Text = "Select Income Type", Value = "0", Selected = true}
                            }, new { id = "IncomeType", @class = "form-control" })

                        </td>
                        <td><input type="text" name="Amount" id="Amount" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownList("SpouseIncomeType", new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Agriculture", Value = "1"},
                                new SelectListItem {Text = "Salary", Value = "2"},
                                new SelectListItem {Text = "House Rent", Value = "3"},
                                new SelectListItem {Text = "Business", Value = "4"},
                                new SelectListItem {Text = "Spouse Income", Value = "0", Selected = true}
                            }, new { id = "SpouseIncomeType", @class = "form-control" })

                        </td>
                        <td><input type="text" name="SpouseAmount" id="SpouseAmount" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Other Income</label></td>
                        <td><input type="text" name="OtherIncomeAmount" id="OtherIncomeAmount" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Foreign Remittance</label></td>
                        <td><input type="text" name="ForeignRemitAmount" id="ForeignRemitAmount" class="form-control" /></td>

                    </tr>
                    <tr>
                        <td><label class="control-label">Total</label></td>
                        <td><input type="text" name="TotalAmount" id="TotalAmount" class="form-control" readonly="readonly" /></td>

                    </tr>
                    <tr style="display: none">
                        <td colspan="2">
                            <div class="tablecontainer table-responsive">
                                <table align="left" id="MonthlyIncomeTable" class="display" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Loan Id</th>
                                            <th>IncomeType</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th colspan="2" style="text-align: right">Total:</th>
                                            <th id="xx"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </td>
                    </tr>

                </table>
            </fieldset>
        </td>
        <td style="width: 2%"></td>
        <td style="width: 49%">
            <fieldset style="padding-top: 10px; border: 1px solid #666; border-radius: 8px; box-shadow: 0 0 10px #666; background: #fff;">
                <h3>Monthly Expense</h3>

                <table cellspacing="0" class="table table-bordered" style="width: 100%;">
                    <tr>
                        <td style="width:200px"><label class="control-label"> Loan Id</label></td>
                        <td>
                            @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "MonthlyExpense_LoanId", @readonly = "readonly" })
                            @Html.ValidationMessageFor(l => l.LoanId, "", new { @class = "text-danger", @style = "color:red" })
                            <input type="hidden" id="hdfMonthlyExpenseId" name="MonthlyExpenseId" value="">
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Family Expense</label></td>
                        <td><input type="text" name="FamilyExpense" id="FamilyExpense" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Children Education</label></td>
                        <td><input type="text" name="ChildrenEducation" id="ChildrenEducation" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Existing EMI</label></td>
                        <td><input type="text" name="ExistingEMI" id="ExistingEMI" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Others Expense</label></td>
                        <td><input type="text" name="OthersExpense" id="OthersExpense" class="form-control" /></td>
                    </tr>

                    <tr>
                        <td><label class="control-label">Total</label></td>
                        <td><input type="text" name="TotalExpense" id="TotalExpenseAmount" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="">Surplus Income : </label></td>
                        <td><label id="labelSurplusIncome" class="form-control"></label></td>
                    </tr>

                </table>
            </fieldset>
        </td>
    </tr>
</table>

<h3>Additional Loan Info</h3>

<table cellspacing="0" class="table table-bordered" style="width: 790px; display:none;">
    <tr>
        <td>
            <input type="hidden" id="hdfAdditionalLoanDetail" name="AdditionalLoanDetail" value="">
            <label>Referrence Id</label>
            @Html.EditorFor(model => model.LoanId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </td>
    </tr>

</table>

<div class="tablecontainer table-responsive">
    <table id="AdditionalTable" class="table" style="min-width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th style="min-width: 200px;">Institute Name</th>
                <th>Loan Amount</th>
                <th>Loan Type</th>
                <th>Installment Amount</th>
                <th>Account No</th>
                <th>Account Name</th>
                <th style="min-width: 90px;">Start Date</th>
                <th style="min-width: 90px;">Expire Date</th>
                <th>Present Outs Tk.</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="4" style="text-align: right">Total:</th>
                <th></th>
                <th colspan="4"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <input type="button" id="addadditonLoan" value="+" class="btn btn-success" />
    <input type="button" id="DeductadditonLoan" value="-" class="btn btn-success" />
</div>


<h3>Bank/NGO Performance</h3>
<table class="table table-bordered" style="width: 790px;">
    <tr style="display:none;">
        <td>
            <label class="control-label"> Loan Id</label>
            <label id="Bankperformance_showMessage" style="color: red; font-size: medium"></label>
            @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "Bankperformance_LoanId", @readonly = "readonly" })
            <input type="hidden" id="hdfBankperformanceId" name="BankperformanceId" value="">
        </td>

    </tr>

</table>

<div class="tablecontainer table-responsive">
    <table id="BankperformanceTable" class="table" style="min-width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th style="min-width: 200px;">Bank/NGO name</th>
                <th>Acc No</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Debit Amount</th>
                <th>Credit Amount</th>
                <th>Avg</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="5" style="text-align: right">Total:</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <input id="AddBankperformance" type="button" value="+" class="btn btn-success" />
    <input type="button" id="DeductBankperformance" value="-" class="btn btn-success" />
</div>

<table style="width: 100%">
    <tr>
        <th width="50%">
            <fieldset>
                <legend>Financial Justification</legend>
                <table border="1">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Installment Type</th>
                            <th style="width: 100px;">Weekly</th>
                            <th style="width: 100px;">Monthly</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Loan Amount</td>
                            <td><label id="labelweeklyLoanAmount" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyLoanAmount" class="col-sm-2 col-form-label"></label></td>
                        </tr>
                        <tr>
                            <td>Installment Type</td>
                            <td><label id="labelweeklyInstallmentType" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyInstallmentType" class="col-sm-2 col-form-label"></label></td>
                        </tr>
                        <tr>
                            <td>Interest Rate</td>
                            <td><label id="labelweeklyInterestRate" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyInterestRate" class="col-sm-2 col-form-label"></label></td>
                        </tr>
                        <tr>
                            <td>Total Installment</td>
                            <td><label id="labelweeklyNoInstallment" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyNoInstallment" class="col-sm-2 col-form-label"></label></td>
                        </tr>
                        <tr>
                            <td>Installment Amount</td>
                            <td><label id="labelweeklyInstallmentAmount" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyInstallmentAmount" class="col-sm-2 col-form-label"></label></td>
                        </tr>
                        <tr>
                            <td>Customer Equity</td>
                            <td><label id="labelweeklyEquity" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyEquity" class="col-sm-2 col-form-label"></label></td>
                        </tr>
                        <tr>
                            <td>DBR Ratio</td>
                            <td><label id="labelweeklyDbr" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyDbr" class="col-sm-2 col-form-label"></label></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        <td width="2%"></td>
    </tr>
    <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="NotASavedLoan">
    <input type="hidden" id="hdfAccounts" name="hdfAccounts" value="">
    <input type="hidden" id="hdfCustomerId" name="hdfCustomerId" value="">
</table>



    <script>
    document.getElementById('showMessage').innerHTML = '';
    var emiTotal;
    var oAdditionalTable;
    (function () {

        //  var emiTotal;
        var z;
        //   var oAdditionalTable;
        ShowData();
        //functions
        function ShowData() {
            oAdditionalTable = $('#AdditionalTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetAdditionalLoanInfoById", "Loan", new {Area = "Loan"})',
                    "type": "get",
                    "data": {
                        "LoanId": $('#LoanId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "AdditionalLoanDetailId",
                        "width": "25px",
                        "className":"dt-center",
                        "render": function (data) {
                            return '<input class="form-control" id="AdditionalLoanDetailId" name="AdditionalLoanDetailId" type="text" readonly="readonly"  value="' + data + '">';
                        }
                    },
                    {
                        "data": "InstituteName",
                        "width":"130px",
                        "render": function (data) {
                            return '<input class="form-control" id="InstituteName" name="InstituteName" type="text"  value="' + data + '">';
                        }
                    },
                    {
                        "data": "LoanAmount",
                        "render": function (data) {
                            return '<input class="form-control" id="LoanAmount" name="LoanAmount" type="text"  value="' + data + '">';
                        }
                    },
                    {
                        "data": "LoanType",
                        "render": function (data) {
                            return '<input class="form-control" id="LoanType" name="LoanType" type="text"  value="' + data + '">';
                        }
                    },
                    {
                        "data": "Installment",
                        "render": function (data) {
                            return '<input class="form-control" id="Installment" name="Installment" type="text"  value="' + data + '">';
                        }
                    },

                    {
                        "data": "AccountNo",
                        "render": function (data) {
                            return '<input class="form-control" id="AccountNo" name="AccountNo" type="text"  value="' + data + '">';
                        }
                    },
                    {
                        "data": "AccountName",
                        "render": function (data) {
                            return '<input class="form-control" id="AccountName" name="AccountName" type="text"  value="' + data + '">';
                        }
                    },
                    {
                        "data": "StartDate",
                        "render": function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            var mon = monthNumToName(month);
                            var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                            bindDatePickerforstdate();
                            return '<input class="form-control" id="StartDate" name="StartDate" type="text"  value = "' + datadate + '"  >';
                        }
                    },
                    {
                        "data": "ExpireDate",
                        "render": function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            var mon = monthNumToName(month);
                            var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                            bindDatePickerforexdate();
                            return '<input class="form-control" id="ExpireDate" name="ExpireDate" type="text"  value = "' + datadate + '"  >';
                        }
                    },
                    {
                        "data": "PresentOutAmount",
                        "render": function (data) {
                            return '<input class="form-control" id="PresentOutAmount" name="PresentOutAmount" type="text"  value="' + data + '">';
                        }
                    }
                ],
                ordering: false,
                searching: false,
                paging: false,
                "bInfo": false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    emiTotal = api
                        .column(4, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);



                    var PresentOut = api
                        .column(9, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(4).footer()).html(
                        emiTotal
                    );

                    $(api.column(9).footer()).html(
                        PresentOut
                    );


                    //z = emiTotal;
                }
            });
        };






        function bindDatePickerforstdate() {
            $("#AdditionalTable tbody tr").each(function (item) {
                $(this).find("#StartDate").datepicker({
                    dateFormat: 'dd/M/yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+60", type: Text
                }).click(function () { $(this).focus(); });
            });
        }

        function bindDatePickerforexdate() {
            $("#AdditionalTable tbody tr").each(function (item) {
                $(this).find("#ExpireDate").datepicker({
                    dateFormat: 'dd/M/yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+60", type: Text
                }).click(function () { $(this).focus(); });
            });
        }

        Finance();

    })();

    /**********************************************************************/

    function Finance() {
        var data = {
            LoanId: $('#MonthlyIncome_LoanId').val()
        }
        $.ajax({
            url: '@Url.Action("Finance", "Loan", new {Area = "Loan"})',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (obj) {

                $('#hdfLoanId').val(obj.info.LoanId);
                $('#hdfAccounts').val(obj.info.AccountSetupId);
                $('#hdfCustomerId').val(obj.info.CustomerId);
                var netEmi = emiTotal;

                var netIncome = obj.netIncome.TotalIncome !== null ? obj.netIncome.TotalIncome : 0;
                var netExpense = obj.netExpense.TotalExpense !== null ? obj.netExpense.TotalExpense : 0;

                var surplusIncome = parseFloat(netIncome - netExpense);
                document.getElementById('labelSurplusIncome').innerHTML = surplusIncome;

                if (obj.info.AccountSetupId === 1 || obj.info.AccountSetupId === 12) {
                    if (obj.info.InstallmentTypeId == 1) {
                        //var parcent = obj.info.InterestRate+'%';
                        document.getElementById('labelweeklyLoanAmount').innerHTML = obj.info.LoanAmount;
                        if (obj.info.AccountSetupId === 12) {
                            document.getElementById('labelweeklyInterestRate').innerHTML =
                                obj.info.InterestRateToDisplay + '%';
                        } else {
                            document.getElementById('labelweeklyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        }                       
                        document.getElementById('labelweeklyNoInstallment').innerHTML = obj.info.NumberOfInstallment;
                        document.getElementById('labelweeklyInstallmentAmount').innerHTML = obj.info.InstallmentAmount;
                        document.getElementById('labelweeklyInstallmentType').innerHTML = obj.info.InstallmentTypeName;
                        var db = parseFloat((obj.info.InstallmentAmount + netEmi) / surplusIncome);
                        var dbR = Math.round(db * 100);
                        document.getElementById('labelweeklyDbr').innerHTML = Math.round(dbR) + '%';

                        var eq = parseFloat((obj.info.TotalAssetCost - obj.info.LoanAmount) / obj.info.TotalAssetCost);
                        var eqR = parseFloat(eq * 100).toFixed(2);
                        document.getElementById('labelweeklyEquity').innerHTML = Math.round(eqR) + '%';

                        /***********************************************************************************************************/

                        document.getElementById('labelmonthlyLoanAmount').innerHTML = obj.info.LoanAmount;
                        if (obj.info.AccountSetupId === 12) {
                            document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRateToDisplay + '%';
                        }
                            else
                        {
                            document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        }
                        
                        document.getElementById('labelmonthlyNoInstallment').innerHTML = 12;
                        document.getElementById('labelmonthlyInstallmentType').innerHTML = 'Monthly';

                        var r = parseFloat(obj.info.InterestRate) / 1200;
                        var a = parseFloat(obj.info.LoanAmount * r);
                        var b = parseFloat(Math.pow(1 + r, -12));
                        var c = 1 - b;
                        var installmentAmount = Math.round(a / c);
                        document.getElementById('labelmonthlyInstallmentAmount').innerHTML = installmentAmount.toFixed(2);

                        var mdb = parseFloat((installmentAmount + netEmi) / surplusIncome);
                        var mdbR = Math.round(mdb * 100);
                        document.getElementById('labelmonthlyDbr').innerHTML = mdbR + '%';
                        document.getElementById('labelmonthlyEquity').innerHTML = Math.round(eqR) + '%';

                    }

                    if (obj.info.InstallmentTypeId == 2) {
                        document.getElementById('labelmonthlyLoanAmount').innerHTML = obj.info.LoanAmount;
                        if (obj.info.AccountSetupId === 12) {
                            document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRateToDisplay + '%';
                        }
                        else {
                            document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        }
                        //document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        document.getElementById('labelmonthlyNoInstallment').innerHTML = obj.info.NumberOfInstallment;
                        document.getElementById('labelmonthlyInstallmentAmount').innerHTML = obj.info.InstallmentAmount;
                        document.getElementById('labelmonthlyInstallmentType').innerHTML = obj.info.InstallmentTypeName;
                        var db = parseFloat((obj.info.InstallmentAmount + netEmi) / surplusIncome);
                        var dbR = Math.round(db * 100);
                        document.getElementById('labelmonthlyDbr').innerHTML = dbR + '%';

                        var eq = parseFloat((obj.info.TotalAssetCost - obj.info.LoanAmount) / obj.info.TotalAssetCost);
                        var eqR = parseFloat(eq * 100).toFixed(2);
                        document.getElementById('labelmonthlyEquity').innerHTML = Math.round(eqR) + '%';

                        /***********************************************************************************************************/
                        document.getElementById('labelweeklyLoanAmount').innerHTML = obj.info.LoanAmount;
                        if (obj.info.AccountSetupId === 12) {
                            document.getElementById('labelweeklyInterestRate').innerHTML =
                                obj.info.InterestRateToDisplay + '%';
                        } else {
                            document.getElementById('labelweeklyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        }
                        //document.getElementById('labelweeklyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        document.getElementById('labelweeklyInstallmentType').innerHTML = 'Weekly';
                        document.getElementById('labelweeklyNoInstallment').innerHTML = 46;

                        var r = parseFloat(obj.info.InterestRate) / 5200;
                        var a = parseFloat(obj.info.LoanAmount * r);
                        var b = parseFloat(Math.pow(1 + r, -46));
                        var c = 1 - b;
                        var installmentAmount = Math.round(a / c);
                        document.getElementById('labelweeklyInstallmentAmount').innerHTML = installmentAmount.toFixed(2);

                        var wdb = parseFloat((installmentAmount + netEmi) / surplusIncome);
                        //var wdbR = parseFloat(wdb * 100).toFixed(2);
                        var wdbR = Math.round(wdb * 100);
                        document.getElementById('labelweeklyDbr').innerHTML = wdbR + '%';
                        document.getElementById('labelweeklyEquity').innerHTML = Math.round(eqR) + '%';
                    }
                } else if (obj.info.AccountSetupId === 3) {
                    document.getElementById('labelweeklyLoanAmount').innerHTML = obj.info.LoanAmount;
                    document.getElementById('labelweeklyInterestRate').innerHTML = obj.info.InterestRate + '%';
                    document.getElementById('labelmonthlyLoanAmount').innerHTML = obj.info.LoanAmount;
                    document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRate + '%';
                }
            },
            error: function () {
            }
        });
    }





    $('#addadditonLoan').click(function () {
        var loanId = $('#LoanId').val();
        var data = { loanId: loanId };
        $.ajax({
            url: '@Url.Action("AddaddintionLoan", "Loan", new {Area = "Loan"})',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function () {
                //ShowData();
                oAdditionalTable.ajax.reload();
            },
            error: function () {
            }
        });
    });

    $('#DeductadditonLoan').click(function () {
        var loanId = $('#LoanId').val();
        var data = { loanId: loanId };
        $.ajax({
            url: '@Url.Action("DeductAdditonLoan", "Loan", new {Area = "Loan"})',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function () {
                //ShowData();
                oAdditionalTable.ajax.reload();
            },
            error: function () {
            }
        });
    });
    @*function Finance() {
        var data = {
            LoanId: $('#MonthlyIncome_LoanId').val()
        }
        $.ajax({
            url: '@Url.Action("Finance", "Loan", new {Area = "Loan"})',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (obj) {

                document.getElementById('labelweeklyLoanAmount').innerHTML = obj.info.LoanAmount;
                document.getElementById('labelweeklyInterestRate').innerHTML = obj.info.InterestRate;
                document.getElementById('labelweeklyNoInstallment').innerHTML = obj.info.NumberOfInstallment;
                document.getElementById('labelweeklyInstallmentAmount').innerHTML = obj.info.InstallmentAmount;
                document.getElementById('labelweeklyInstallmentType').innerHTML = obj.info.InstallmentTypeName;
                var netEmi = obj.netEmi;
                var netExpense = obj.netExpense;
                var netIncome = obj.netIncome;
                var surplusIncome = parseFloat(netIncome - netExpense);

                document.getElementById('labelSurplusIncome').innerHTML = surplusIncome;
                var db = parseFloat((obj.info.InstallmentAmount + netEmi) / surplusIncome);
                var dbR = parseFloat(db * 100).toFixed(2);
                document.getElementById('labelweeklyDbr').innerHTML = dbR;

                var eq = parseFloat((obj.info.TotalAssetCost - obj.info.LoanAmount) / obj.info.TotalAssetCost);
                var eqR = parseFloat(eq * 100).toFixed(2);
                document.getElementById('labelweeklyEquity').innerHTML = eqR;
            },
            error: function () {
            }
        });
    }*@
    </script>
    <script>
    BankperformanceTable();

    function BankperformanceTable() {
        oBankperformanceTable = $('#BankperformanceTable').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllBankperformanceInfo", "Loan", new {Area = "Loan"})',
                "type": "get",
                "data": {
                    "LoanId": $('#Bankperformance_LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
            {
                "data": "BankperformanceId",
                //"visible": false,
                "width": "25px",
                "className": "dt-center",
                "render": function(data) {
                    return '<input class="form-control" id="BankperformanceId" name="BankperformanceId" type="text" readonly="readonly"  value="' + data + '">';
                }
            },
            {
                "data": "NgoName",
        "render": function (data) {
            return '<input class="form-control" id="NgoName" name="NgoName" type="text"  value="'+ data +'">';
        }
    },
                {
                    "data": "AccNo",
                    "render": function (data) {
                        return '<input class="form-control" id="AccNo" name="AccNo" type="text"   value="' + data + '">';
                    }
                },
                {
                    "data": "FromDate",
                    //"visible": false,
                    "render": function (data) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        var mon = monthNumToName(month);
                        var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                        bindDatePickers();
                        return '<input class="form-control" id="FromDate" name="FromDate" type="text"   value =" ' + datadate + '"  >';
                    }
                },
                {
                    "data": "ToDate",
                    "render": function (data) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        var mon = monthNumToName(month);
                        var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                        bindDatePicker();
                        return '<input class="form-control" id="ToDate" name="ToDate" type="text"   value = "' + datadate + '"  >';
                    }
                },
                {
                    "data": "DebitAmount",
                    "render": function (data) {
                        return '<input class="form-control" id="DebitAmount" name="DebitAmount" type="text"   value = "' + data + '"  >';
                    }
                },
                {
                    "data": "CreditAmount",
                    "render": function (data) {
                        return '<input class="form-control" id="CreditAmount" name="CreditAmount" type="text"  value="' + data + '">';
                    }
                },
                {
                    "data": "Avg",
                    "render": function (data) {
                        return '<input class="form-control" id="Avg" name="Avg" type="text" readonly="readonly"  value="' + Math.round(data) + '">';
                    }
                }
            ],
            //"order": [[0, "desc"]],
            ordering: false,
            searching: false,
            paging: false,
            "bInfo": false,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };

                // Total over all pages
                total = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                var drTotal = api
                    .column(5, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var crTotal = api
                    .column(6, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var avgTotal = api
                    .column(7, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Update footer
                $(api.column(5).footer()).html(
                    drTotal
                );
                $(api.column(6).footer()).html(
                    crTotal
                );
                $(api.column(7).footer()).html(
                    Math.round(avgTotal)
                );
            }
        });


        /*******************************************************/


        //var expenseTotal;
        //var y;
        // Load Function function

        //$('#ToDate').datepicker({
        //    dateFormat: 'dd/M/yy',
        //    changeMonth: true,
        //    changeYear: true,
        //    yearRange: "-100:+60", type: Text
        //}).click(function () { $(this).focus(); });

        $('#DateFrom').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+60", type: Text
        }).click(function () { $(this).focus(); });
    }

    //$('#ToDate').datepicker({
    //    dateFormat: 'dd/M/yy',
    //    changeMonth: true,
    //    changeYear: true,
    //    yearRange: "-100:+60", type: Text
    //}).click(function () { $(this).focus(); });


    function bindDatePicker() {
        $("#BankperformanceTable tbody tr").each(function (item) {
            $(this).find("#ToDate").datepicker({
                dateFormat: 'dd/M/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+60", type: Text
            }).click(function () { $(this).focus(); });
        });
    }

    function bindDatePickers() {
        $("#BankperformanceTable tbody tr").each(function (item) {
            $(this).find("#FromDate").datepicker({
                dateFormat: 'dd/M/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+60", type: Text
            }).click(function () { $(this).focus(); });
        });
    }


    // ========== BankperformanceBinddata ========
    function BankperformanceBinddata() {

        var data = [];
        $("#BankperformanceTable tbody tr").each(function (item) {
            var bank = {};
            bank["BankperformanceId"] = $(this).find("#BankperformanceId").val();
            bank["NgoName"] = $(this).find("#NgoName").val();
            bank["AccNo"] = $(this).find("#AccNo").val();
            bank["FromDate"] = $(this).find("#FromDate").val();
            bank["ToDate"] = $(this).find("#ToDate").val();
            bank["DebitAmount"] = $(this).find("#DebitAmount").val();
            bank["CreditAmount"] = $(this).find("#CreditAmount").val();
            bank["Avg"] = $(this).find("#Avg").val();
            data.push(bank);
        });
        return data;
    }


    function DifferenceMonth() {
        var fromDate = $('#Bankperformance_FromDate').val();
        var toDate = $('#Bankperformance_ToDate').val();
        var usrDate = new Date(fromDate);
        var curDate = new Date(toDate);
        var usrYear, usrMonth = usrDate.getMonth() + 1;
        var curYear, curMonth = curDate.getMonth() + 1;
        if ((usrYear = usrDate.getFullYear()) < (curYear = curDate.getFullYear())) {
            curMonth += (curYear - usrYear) * 12;
        }
        var diffMonths = curMonth - usrMonth;
        if (usrDate.getDate() > curDate.getDate()) diffMonths--;

        return diffMonths;
    }


    function UpdateBankperformance() {

        var isAllDataValid = true;

        if (isAllDataValid) {

            var data = BankperformanceBinddata();
            $.ajax({
                url: '@Url.Action("UpdateBankperformance", "Loan", new {Area = "Loan"})',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        //BankperformanceClearAll();
                        oBankperformanceTable.ajax.reload();
                        //$('#saveBankperformance').show();
                        //$('#UpdateBankperformance').hide();
                        //$('#deleteBankperformance').hide();

                        Finance();
                    }
                },
                error: function () {

                }
            });
        }
    }

    $('#AddBankperformance').click(function () {
        var loanId = $('#LoanId').val();
        var data = { loanId: loanId };
        $.ajax({
            url: '@Url.Action("AddbankPerformance", "Loan", new {Area = "Loan"})',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function () {
                oBankperformanceTable.ajax.reload();
            },
            error: function () {
            }
        });
    });

    $('#DeductBankperformance').click(function () {
        var loanId = $('#LoanId').val();
        var data = { loanId: loanId };
        $.ajax({
            url: '@Url.Action("Deductbankperformance", "Loan", new {Area = "Loan"})',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function () {
                oBankperformanceTable.ajax.reload();
            },
            error: function () {
            }
        });
    });

    </script>
    <script>
    var incomeTotal;
    var x;
    var oMonthlyIncomeTable;
    MonthlyIncomeTable();

    function MonthlyIncomeTable() {
        oMonthlyIncomeTable = $('#MonthlyIncomeTable').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllMonthlyIncomeInfo", "Loan", new {Area = "Loan"})',
                "type": "get",
                "data": {
                    "LoanId": $('#MonthlyIncome_LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "LoanId" },
                { "data": "IncomeType" },
                { "data": "Amount" },
            ],
            "order": [[0, "desc"]],
            searching: false,
            paging: false,
            "bInfo": false,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };

                // Total over all pages
                total = api
                    .column(2)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                incomeTotal = api
                    .column(2, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(2).footer()).html(
                    incomeTotal
                );
                x = incomeTotal;
            }
        });
        MonthlyInformatiom();
    }

    /// ======== Monthly Informtion========
    function MonthlyInformatiom()
    {
        var loanId = $('#MonthlyIncome_LoanId').val();
        var data = { loanId: loanId};
        $.ajax({
            url: '@Url.Action("GetAllMonthlyIncomeInfo", "Loan", new {Area = "Loan"})',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (data) {
                //console.log(data);
                if (data.data[0].Amount === 0) {
                    $('#Amount').val('');
                } else {
                    $('#Amount').val(data.data[0].Amount);
                }
                if (data.data[0].SpouseAmount === 0) {
                    $('#SpouseAmount').val('');
                } else {
                    $('#SpouseAmount').val(data.data[0].SpouseAmount);
                }
                if (data.data[0].OtherIncomeAmount === 0) {
                    $('#OtherIncomeAmount').val('');
                } else {
                    $('#OtherIncomeAmount').val(data.data[0].OtherIncomeAmount);
                }
                if (data.data[0].ForeignRemitAmount === 0) {
                    $('#ForeignRemitAmount').val('');
                } else {
                    $('#ForeignRemitAmount').val(data.data[0].ForeignRemitAmount);
                }
                $('#IncomeType').val(data.data[0].IncomeType);
                $('#SpouseIncomeType').val(data.data[0].SpouseIncomeType);
                $('#TotalAmount').val(data.data[0].TotalIncome);
            }
        });
    }

    // ========= data load function ======
    function BindMonthlydata() {
        var data = {
            LoanId: $('#MonthlyIncome_LoanId').val(),
            IncomeType: $('#IncomeType option:selected').val(),
            SpouseIncomeType: $('#SpouseIncomeType option:selected').val(),
            Amount: $('#Amount').val(),
            SpouseAmount: $('#SpouseAmount').val(),
            OtherIncomeAmount: $('#OtherIncomeAmount').val(),
            ForeignRemitAmount: $('#ForeignRemitAmount').val()
        }
        return data;

    }

    // income type load function
    @*$(function () {
        $("#MonthlyIncome_TypeId").empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetIncomeType", "Loan", new {Area = "Loan"})',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#MonthlyIncome_TypeId").append('<option value="0">--Select Income Type--</option>');
                $.each(data, function (key, value) {
                    $("#MonthlyIncome_TypeId").append('<option value=' + value.IncomeTypeId + '>' + value.IncomeType + '</option>');
                });
            }
        });
    });*@

    @*$('#UpdateMonthlyIncome').click(function () {
        var isAllDataValid = CheckValidation();
        var data = null;
        if (isAllDataValid) {
            var loanIdcheck = $('#MonthlyIncome_LoanId').val();
            if (loanIdcheck == 'NotASavedLoan') {
                document.getElementById('MonthlyExpense_showMessage').innerHTML = 'Please select loanId from basic info';
                return false;
            } else {
                data = BindMonthlydata();
            }
            $.ajax({
                url: '@Url.Action("UpdateMonthlyIncome", "Loan", new {Area = "Loan"})',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {

                       // oMonthlyIncomeTable.ajax.reload();
                       //// MonthlyIncomeClearAll();
                       // $('#saveMonthlyExpense').show();
                       // $('#UpdateMonthlyExpense').hide();
                       // $('#deleteMonthlyExpense').hide();
                        document.getElementById('MonthlyExpense_showMessage').style.color = "green";
                        //Finance();
                    }
                    document.getElementById('MonthlyExpense_showMessage').innerHTML = d.oCommonResult.Message;

                    //
                },
                error: function () {
                    document.getElementById('MonthlyExpense_showMessage').innerHTML = 'Error. Please try again.';
                },



            });
        }
    });*@


    function MonthlyUpdatedata() {
        var isAllDataValid = CheckValidation();
        var data = null;
        if (isAllDataValid) {
            var loanIdcheck = $('#MonthlyIncome_LoanId').val();
            if (loanIdcheck === 'NotASavedLoan') {
                document.getElementById('MonthlyExpense_showMessage').innerHTML = 'Please select loanId from basic info';
                return false;
            } else {
                data = BindMonthlydata();
            }
            $.ajax({
                url: '@Url.Action("UpdateMonthlyIncome", "Loan", new {Area = "Loan"})',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        //location.reload();
                        // oMonthlyIncomeTable.ajax.reload();
                        //// MonthlyIncomeClearAll();
                        // $('#saveMonthlyExpense').show();
                        // $('#UpdateMonthlyExpense').hide();
                        // $('#deleteMonthlyExpense').hide();
                        document.getElementById('MonthlyExpense_showMessage').style.color = "green";

                        Finance();
                    }
                    document.getElementById('MonthlyExpense_showMessage').innerHTML = d.oCommonResult.Message;

                    //
                },
                error: function () {
                    document.getElementById('MonthlyExpense_showMessage').innerHTML = 'Error. Please try again.';
                },



            });
        }
    }

    function CheckValidation() {
        //var isValid = true;
        //if ($('#Amount').val().trim()  === '') {
        //    isValid = false;
        //    $('#Amount').parent().prev().find('span').css('visibility', 'visible');
        //}
        //else {
        //    $('#Amount').parent().prev().find('span').css('visibility', 'hidden');
        //}
        //if ($('#SpouseAmount').val().trim()  === '') {
        //    isValid = false;
        //    $('#SpouseAmount').parent().prev().find('span').css('visibility', 'visible');
        //}
        //else {
        //    $('#SpouseAmount').parent().prev().find('span').css('visibility', 'hidden');
        //}
        return true;
    }

    var months = [
        'Jan', 'Feb', 'Mar', 'Apr', 'May',
        'Jun', 'Jul', 'Aug', 'Sep',
        'Oct', 'Nov', 'Dec'
    ];

    function monthNumToName(monthnum) {
        return months[monthnum - 1] || '';
    }

    </script>
    <script>

    var expenseTotal;
    var y;
    var oMonthlyExpenseTable;
    MonthlyExpenseTable();

    function MonthlyExpenseTable() {
        oMonthlyExpenseTable = $('#MonthlyExpenseTable').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllMonthlyExpenseInfo", "Loan", new {Area = "Loan"})',
                "type": "get",
                "data": {
                    "LoanId": $('#MonthlyExpense_LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "LoanId" },
                { "data": "FamilyExpense" },
                { "data": "ChildrenEducation" },
            ],
            "order": [[0, "desc"]],
            searching: false,
            paging: false,
            "bInfo": false,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };

                // Total over all pages
                total = api
                    .column(2)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                expenseTotal = api
                    .column(2, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(2).footer()).html(
                    expenseTotal
                );
                y = expenseTotal;
            }
        });
        MonthlyExpenseInformatiom();
    }

    /// ========= MonthlyExpenseInformatiom ============

    function MonthlyExpenseInformatiom() {
        var loanId = $('#MonthlyExpense_LoanId').val();
        var data = { loanId: loanId };
        $.ajax({
            url: '@Url.Action("GetAllMonthlyExpenseInfo", "Loan", new {Area = "Loan"})',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (data) {
                //console.log(data);
                if (data.data[0].FamilyExpense === 0) {
                    $('#FamilyExpense').val('');
                } else {
                    $('#FamilyExpense').val(data.data[0].FamilyExpense);
                }
                if (data.data[0].ChildrenEducation === 0) {
                    $('#ChildrenEducation').val('');
                } else {
                    $('#ChildrenEducation').val(data.data[0].ChildrenEducation);
                }
                if (data.data[0].ExistingEMI === 0) {
                    $('#ExistingEMI').val('');
                } else {
                    $('#ExistingEMI').val(data.data[0].ExistingEMI);
                }
                if (data.data[0].OthersExpense === 0) {
                    $('#OthersExpense').val('');
                } else {
                    $('#OthersExpense').val(data.data[0].OthersExpense);
                }
                $('#TotalExpenseAmount').val(data.data[0].TotalExpense);
            }
        });
    }



    function MonthlyExpenseClearAll() {
        $('#FamilyExpense').val('');
        $('#ChildrenEducation').val('');
        $('#ExistingEMI').val('');
        $('#OthersExpense').val('');
        $('#saveMonthlyExpense').show();
        $('#UpdateMonthlyExpense').hide();
        $('#deleteMonthlyExpense').hide();
    }

    // caler function
    $('#MonthlyExpense_Clear').click(function () {
        MonthlyExpenseClearAll();
    });


    ///=========== BindDataMonthly Expense =========
    function Binddata() {
        var data = {
            LoanId: $('#MonthlyExpense_LoanId').val(),
            FamilyExpense: $('#FamilyExpense').val(),
            ChildrenEducation: $('#ChildrenEducation').val(),
            ExistingEMI: $('#ExistingEMI').val(),
            OthersExpense: $('#OthersExpense').val(),
            //Amount: $('#MonthlyExpense_Amount').val(),
            MonthlyExpenseId: $('#hdfMonthlyExpenseId').val()
        }
        return data;

    }

    function UpdateAdditionalLoan() {

        var isAllDataValid = true;

        if (isAllDataValid) {

            var data = AdditionalLoanBinddata();
            $.ajax({
                url: '@Url.Action("UpdateAdditionalLoanInfo", "Loan", new {Area = "Loan"})',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.oCommonResult.Status == true) {
                        oAdditionalTable.ajax.reload();
                        //$('#saveBankperformance').show();
                        //$('#UpdateBankperformance').hide();
                        //$('#deleteBankperformance').hide();
                        //window.ShowData();
                        Finance();
                    }
                },
                error: function () {

                }
            });
        }
    }

    $('#UpdateMonthlyExpense').click(function () {
        var loanIdcheck = $('#MonthlyExpense_LoanId').val();
        if (loanIdcheck == 'NotASavedLoan') {
            document.getElementById('MonthlyExpense_showMessage').innerHTML = 'Please select loanId from basic info';
        } else {
            MonthlyUpdatedata();
            UpdateBankperformance();
            UpdateAdditionalLoan();
            var isAllDataValid = true;
            var data = null;
            if (isAllDataValid) {
                var loanIdcheck = $('#MonthlyExpense_LoanId').val();
                if (loanIdcheck == 'NotASavedLoan') {
                    document.getElementById('MonthlyExpense_showMessage').innerHTML = 'Please select loanId from basic info';
                    return false;
                } else {
                    data = Binddata();
                }
                $.ajax({
                    url: '@Url.Action("UpdateMonthlyExpense", "Loan", new {Area = "Loan"})',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            document.getElementById('MonthlyExpense_showMessage').style.color = "green";
                            NetIncomeCalculation();
                            NetExpenseCalculation();
                            //SurplusCal();
                            oAdditionalTable.ajax.reload();
                            oBankperformanceTable.ajax.reload();
                            Finance();


                        }
                        document.getElementById("MonthlyExpense_showMessage").innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('MonthlyExpense_showMessage').innerHTML = 'Error. Please try again.';
                    },


                });
            }
        }

    });
    function NetIncomeCalculation() {

        var Amount = parseFloat($('#Amount').val() === '' ? 0 : $('#Amount').val());
        var SpouseAmount = parseFloat($('#SpouseAmount').val() === '' ? 0 : $('#SpouseAmount').val());
        var OtherIncomeAmount = parseFloat($('#OtherIncomeAmount').val() === '' ? 0 : $('#OtherIncomeAmount').val());
        var ForeignRemitAmount = parseFloat($('#ForeignRemitAmount').val() === '' ? 0 : $('#ForeignRemitAmount').val());
        var totalAmount = parseFloat(SpouseAmount + Amount + OtherIncomeAmount + ForeignRemitAmount);
        $('#TotalAmount').val(totalAmount);


    }

    function NetExpenseCalculation() {
        var FamilyExpense = parseFloat($('#FamilyExpense').val() === '' ? 0 : $('#FamilyExpense').val());
        var ChildrenEducation = parseFloat($('#ChildrenEducation').val() === '' ? 0 : $('#ChildrenEducation').val());
        var ExistingEMI = parseFloat($('#ExistingEMI').val() === '' ? 0 : $('#ExistingEMI').val());
        var OthersExpense = parseFloat($('#OthersExpense').val() === '' ? 0 : $('#OthersExpense').val());
        var totalAmount = parseFloat(FamilyExpense + ChildrenEducation + ExistingEMI + OthersExpense);
        $('#TotalExpenseAmount').val(totalAmount);

    }
    function AdditionalLoanBinddata() {

        var data = [];
        $("#AdditionalTable tbody tr").each(function (item) {
            var additionalloan = {};
            additionalloan["AdditionalLoanDetailId"] = $(this).find("#AdditionalLoanDetailId").val();
            additionalloan["InstituteName"] = $(this).find("#InstituteName").val();
            additionalloan["LoanAmount"] = $(this).find("#LoanAmount").val();
            additionalloan["LoanType"] = $(this).find("#LoanType").val();
            additionalloan["Installment"] = $(this).find("#Installment").val();
            additionalloan["AccountNo"] = $(this).find("#AccountNo").val();
            additionalloan["AccountName"] = $(this).find("#AccountName").val();
            additionalloan["StartDate"] = $(this).find("#StartDate").val();
            additionalloan["ExpireDate"] = $(this).find("#ExpireDate").val();
            additionalloan["PresentOutAmount"] = $(this).find("#PresentOutAmount").val();
            data.push(additionalloan);
        });
        return data;

    }
    </script>









