﻿

@model TonyMultipurpose.Areas.Loan.Models.Guarantor

@{
    ViewBag.Title = "Loan";
    Layout = null;

}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 100%;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    #img-upload {
        width: 100%;
    }
</style>



<form id="Guarantor_ClearAll ">
    <div class="row form-group">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <label id="Guarantor_showMessage" style="color: red; font-size: medium"></label>
                </div>
                <div class="col-md-2">
                    <input type="hidden" id="hdfGuarantorId" name="GuarantorId" value="">
                    <input type="hidden" id="hdfImagePath" name="hdfImagePath" value="">
                </div>
            </div>

            <table cellspacing="0">
                <tr>
                    <td width="150px"><label>Loan Id</label></td>
                    <td width="300px">@Html.TextBoxFor(a => a.LoanId, new { @class = "form-control", id = "Guarantor_LoanId", @readonly = "readonly" })</td>
                </tr>

                <tr>
                    <td width="150px"><label>1. Guarantor Roll<span class="error">*</span></label></td>
                    <td width="300px">
                        <select id="Guarantor_GuarantorRoll" class="form-control">
                            <option value="0">-Select Guarantor Position-</option>
                            <option value="First">First</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>
                        </select>
                    </td>

                    <td colspan="2" rowspan="4">
                        <table>
                            <tr>
                                <td width="200px"></td>
                                <td width="200px">
                                    <div class="form-group">
                                        <label>Upload Image</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    Browse… <input type="file" id="ImageFile">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                        <img id='img-upload' width="300" height="150" style="border:2px solid orange;" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="150px"><label>2. Guarantor Name</label></td>
                    <td width="300px"><input type="text" id="Guarantor_GuarantorName" name="GuarantorName" class="form-control" value="" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>3. Father's Name</label></td>
                    <td width="300px"><input type="text" id="Guarantor_FatherName" name="FatherName" class="form-control" value="" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>4. Mother's Name</label></td>
                    <td width="300px"><input type="text" id="Guarantor_MotherName" name="MotherName" class="form-control" value="" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>5. Spouse Name</label></td>
                    <td width="300px"><input type="text" id="Guarantor_SpouseName" name="SpouseName" class="form-control" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>6. Relation with Applicant</label></td>
                    <td width="300px"><input type="text" id="Guarantor_RelationWithApplicant" name="RelationWithApplicant" class="form-control" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>7. Date of Birth</label></td>
                    <td width="300px"><input type="text" id="Guarantor_DateofBirth" name="DateofBirth" class="form-control" readonly="readonly" /></td>
                </tr>
                @*<tr>
                        <td width="150px"><label style="color: red">8. NID/Birth Id/Driving Lic</label></td>
                        <td width="300px"><input type="text"  class="form-control" /></td>
                    </tr>*@
                <tr>
                    <td width="150px"><label>9. Occupation</label></td>
                    <td width="300px"><input type="text" id="Guarantor_Occupation" name="Occupation" class="form-control" value="" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>10. Designation</label></td>
                    <td width="300px"><input type="text" id="Guarantor_Designation" name="Designation" class="form-control" value="" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>11. Institute Name</label></td>
                    <td width="300px"><input type="text" id="Guarantor_InstituteName" name="InstituteName" class="form-control" value="" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>12. Institute / Business Address</label></td>
                    <td width="300px"><input type="text" id="Guarantor_InstituteAddress" name="InstituteAddress" class="form-control" value="" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>13. Monthly Income<span class="error">*</span></label></td>
                    <td width="300px"><input type="text" id="Guarantor_MonthlyIncome" name="MonthlyIncome" class="form-control" value="" onkeypress="return IsInteger(event);" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>14. Present Address</label></td>
                    <td width="300px"><input type="text" id="Guarantor_CurrentAddress" name="CurrentAddress" class="form-control" value="" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>15. Residential Condition</label></td>
                    <td width="300px"><select name="ResidentialConditionId" id="GResidentialCondition" class="form-control"></select></td>
                </tr>
                @*<tr>
                        <td width="150px"><label>16. Business Address</label></td>
                        <td width="300px"><input type="text" id="Guarantor_BusinessAddress" name="BusinessAddress" class="form-control" /></td>
                    </tr>*@
                <tr>
                    <td width="150px"><label>16. Permanent Address</label></td>
                    <td width="300px"><input type="text" id="Guarantor_PermanentAddress" name="PermanentAddress" class="form-control" value="" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>17. Mobile No</label></td>
                    <td width="300px"><input type="text" id="Guarantor_ContactNo" name="ContactNo" class="form-control" value="" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>18. NID No</label></td>
                    <td width="300px"><input type="text" id="Guarantor_NID" name="NID" class="form-control" value="" /></td>
                </tr>
                <tr>
                    <td width="150px"><label>19. Loan Status with TMC</label></td>
                    <td width="300px"><input type="text" class="form-control" id="Guarantor_LoanStatusWithTmc" name="LoanStatusWithTmc" /></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input id="saveGuarantor" type="button" value="Save" class="btn btn-success" style="padding: 8px 15px;" />
                        <input id="UpdateGuarantor" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
                        <input id="deleteGuarantor" type="button" value="Delete" class="btn btn-success" style="padding: 8px 15px;" />
                        <input id="Guarantor_Clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 15px;" />
                    </td>

                </tr>
            </table>
        </div>
    </div>


</form>


<div class="tablecontainer table-responsive">
    <table id="GuarantorTable" class="display" cellspacing="0" style="width:50%;">
        <thead>
            <tr>
                <th>Loan Id</th>
                <th>Guarantor Roll</th>
                <th>Name</th>
                @*<th>NID</th>
                    <th>Father Name</th>
                    <th>Mother Name</th>
                    <th>Occupation</th>
                    <th>Designation</th>
                    <th>Institute Name</th>
                    <th>Institute Address</th>
                    <th>Current Address</th>
                    <th>Permanent Address</th>*@
                <th>Contact No</th>
            </tr>
        </thead>
    </table>
</div>


<script>

    $(function () {
        document.getElementById('showMessage').innerHTML = '';
        $("#GResidentialCondition").empty();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetResidentialConditionInfo", "Loan", new { Area = "Loan" })',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#GResidentialCondition").append('<option value="0">--Select Type--</option>');
                $.each(data, function (key, value) {
                    $("#GResidentialCondition").append('<option value=' + value.ResidentialConditionId + '>' + value.ResidentialConditionType + '</option>');
                });
            }
        });
    });

    $(function () {

        $('#Guarantor_DateofBirth').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+60", type: Text
        }).click(function () { $(this).focus(); });


        $('#UpdateGuarantor').hide();
        $('#deleteGuarantor').hide();
        // Load Function function
        var oGuarantorTable;
        LoadGuarantorTable();
        function LoadGuarantorTable() {
            oGuarantorTable = $('#GuarantorTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetAllGurantorInfo", "Loan", new { Area = "Loan" })',
                    "type": "get",
                    "data": {
                        "LoanId": $('#Guarantor_LoanId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "LoanId" },
                    { "data": "GuarantorRoll" },
                    { "data": "GuarantorName" },
                    //{ "data": "NID" },
                    //{ "data": "FatherName" },
                    //{ "data": "MotherName" },
                    //{ "data": "Occupation" },
                    //{ "data": "Designation" },
                    //{ "data": "InstituteName" },
                    //{ "data": "InstituteAddress" },
                    //{ "data": "CurrentAddress" },
                    //{ "data": "PermanentAddress" },
                    { "data": "ContactNo" },
                ],
                "order": [[0, "asc"]],
                searching: false,
                paging: false,
                "bInfo": false
            });
            $('#GuarantorTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oGuarantorTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindDataGuarantor(oGuarantorTable.row(this).data());
            });
        }
        function bindDataGuarantor(data) {
            $('#Guarantor_GuarantorRoll').attr('disabled', 'disabled');
            var num = Math.random();
            var imagePath = data.ImagePath + "?v=" + num;
            $('#img-upload').attr('src', imagePath);
            $('#hdfImagePath').val(data.OldImagePath);
            $('#hdfGuarantorId').val(data.GuarantorId);
            $('#Guarantor_GuarantorName').val(data.GuarantorName);
            $('#Guarantor_NID').val(data.NID);
            $('#Guarantor_FatherName').val(data.FatherName);
            $('#Guarantor_MotherName').val(data.MotherName);
            $('#Guarantor_Occupation').val(data.Occupation);
            $('#Guarantor_Designation').val(data.Designation);
            $('#Guarantor_InstituteName').val(data.InstituteName);
            $('#Guarantor_InstituteAddress').val(data.InstituteAddress);
            $('#Guarantor_CurrentAddress').val(data.CurrentAddress);
            $('#Guarantor_PermanentAddress').val(data.PermanentAddress);
            $('#Guarantor_ContactNo').val(data.ContactNo);
            $('#Guarantor_GuarantorRoll').val(data.GuarantorRoll);
            $('#Guarantor_SpouseName').val(data.SpouseName);
            $('#Guarantor_RelationWithApplicant').val(data.RelationWithApplicant);
            $('#Guarantor_DateofBirth').val(data.DateofBirth);
            $('#Guarantor_MonthlyIncome').val(data.MonthlyIncome);
            $('#Guarantor_BusinessAddress').val(data.BusinessAddress);
            $('#Guarantor_LoanStatusWithTmc').val(data.LoanStatusWithTmc);
            //$('#GResidentialCondition').val(data.ResidentialConditionId);
            if (data.ResidentialConditionId != null) {
                $('#GResidentialCondition').val(data.ResidentialConditionId);
            }
            $('#saveGuarantor').hide();
            $('#UpdateGuarantor').show();
            $('#deleteGuarantor').show();
        }
        // caler function
        $('#Guarantor_Clear').click(function () {
            GuarantorClearAll();
        });
        function GuarantorClearAll() {
            //$('#Guarantor_LoanId').val('');
            $('#img-upload').attr('src', '');
            $('#Guarantor_GuarantorName').val('');
            $('#Guarantor_NID').val('');
            $('#Guarantor_FatherName').val('');
            $('#Guarantor_MotherName').val('');
            $('#Guarantor_Occupation').val('');
            $('#Guarantor_Designation').val('');
            $('#Guarantor_InstituteName').val('');
            $('#Guarantor_InstituteAddress').val('');
            $('#Guarantor_CurrentAddress').val('');
            $('#Guarantor_PermanentAddress').val('');
            $('#Guarantor_ContactNo').val('');
            $('#Guarantor_GuarantorRoll').val('0');
            $('#Guarantor_SpouseName').val('');
            $('#Guarantor_RelationWithApplicant').val('');
            $('#Guarantor_DateofBirth').val('');
            $('#Guarantor_MonthlyIncome').val('');
            $('#Guarantor_BusinessAddress').val('');
            $('#Guarantor_LoanStatusWithTmc').val('');
            $('#GResidentialCondition').val(0);
            $('#saveGuarantor').show();
            $('#deleteGuarantor').hide();
            $('#UpdateGuarantor').hide();
            $('#Guarantor_GuarantorRoll').removeAttr('disabled', 'disabled');
            document.getElementById('showMessage').innerHTML = '';
        }
        function CheckGuarantorRoll() {
            var LoanId = $('#Guarantor_LoanId').val();
            var json = {
                LoanId: LoanId
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetGuarantorRoll", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    console.log(data);
                    var gRoll = $('#Guarantor_GuarantorRoll').val();
                    if (gRoll == data[0] || gRoll == data[1] || gRoll == data[2]) {
                        alert('There is already a guarantor at ' + gRoll + ' position');
                        return;
                    } else {
                        saveGuarantor();
                    }
                }
            });
        }

        function saveGuarantor() {
            var isAllDataValid = CheckValidation();

            if (isAllDataValid) {
                var data = bindData();
                $.ajax({
                    url: '@Url.Action("Guarantor", "Loan", new { Area = "Loan" })',
                    type: "POST",
                    data: data,
                    dataType: "JSON",
                    contentType: false,
                    processData: false,
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            oGuarantorTable.ajax.reload();
                            $('#saveGuarantor').show();
                            $('#deleteGuarantor').hide();
                            $('#UpdateGuarantor').hide();
                            document.getElementById('showMessage').style.color = "green";
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                    }
                });
            }
        }

        function bindData() {
            var fd = new FormData();
            fd.append('LoanId', $('#Guarantor_LoanId').val());
            fd.append('GuarantorName', $('#Guarantor_GuarantorName').val());
            fd.append('NID', $('#Guarantor_NID').val());
            fd.append('FatherName', $('#Guarantor_FatherName').val());
            fd.append('MotherName', $('#Guarantor_MotherName').val());
            fd.append('Occupation', $('#Guarantor_Occupation').val());
            fd.append('Designation', $('#Guarantor_Designation').val());
            fd.append('InstituteName', $('#Guarantor_InstituteName').val());
            fd.append('InstituteAddress', $('#Guarantor_InstituteAddress').val());
            fd.append('CurrentAddress', $('#Guarantor_CurrentAddress').val());
            fd.append('PermanentAddress', $('#Guarantor_PermanentAddress').val());
            fd.append('ContactNo', $('#Guarantor_ContactNo').val());
            fd.append('GuarantorRoll', $('#Guarantor_GuarantorRoll').val());
            fd.append('SpouseName', $('#Guarantor_SpouseName').val());
            fd.append('RelationWithApplicant', $('#Guarantor_RelationWithApplicant').val());
            fd.append('DateofBirth', $('#Guarantor_DateofBirth').val());
            fd.append('MonthlyIncome', $('#Guarantor_MonthlyIncome').val());
            fd.append('BusinessAddress', $('#Guarantor_BusinessAddress').val());
            fd.append('LoanStatusWithTmc', $('#Guarantor_LoanStatusWithTmc').val());
            fd.append('ResidentialConditionId', $('#GResidentialCondition option:selected').val());
            fd.append('ImageFile', document.getElementById('ImageFile').files[0]);
            return fd;
        }

        // Save function
        $('#saveGuarantor').click(function () {

            if ($("#GuarantorTable > tbody > tr").length === 3) {
                alert('Maximun Three Guaranror can be added');
                return;
            }
            CheckGuarantorRoll();

        });
        $('#UpdateGuarantor').click(function () {

            var isAllDataValid = CheckValidation();

            if (isAllDataValid) {
                var data = updateBindData();
                $.ajax({
                    url: '@Url.Action("UpdateGuarantor", "Loan", new { Area = "Loan" })',
                    type: "POST",
                    data: data,
                    dataType: "JSON",
                    contentType: false,
                    processData: false,
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            oGuarantorTable.ajax.reload();
                            GuarantorClearAll();
                            $('#saveGuarantor').show();
                            $('#Guarantor_Clear').show();
                            $('#deleteGuarantor').hide();
                            $('#UpdateGuarantor').hide();

                            document.getElementById('showMessage').style.color = "green";
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                    }
                });
            }
        });


        function updateBindData() {
            var fd = new FormData();
            var file = document.getElementById('ImageFile').files[0];
            if (file != null) {
                fd.append('ImageFile', document.getElementById('ImageFile').files[0]);
            } else {
                fd.append('ImagePath', $('#hdfImagePath').val());
            }
            fd.append('GuarantorId', $('#hdfGuarantorId').val());
            fd.append('LoanId', $('#Guarantor_LoanId').val());
            fd.append('GuarantorName', $('#Guarantor_GuarantorName').val());
            fd.append('NID', $('#Guarantor_NID').val());
            fd.append('FatherName', $('#Guarantor_FatherName').val());
            fd.append('MotherName', $('#Guarantor_MotherName').val());
            fd.append('Occupation', $('#Guarantor_Occupation').val());
            fd.append('Designation', $('#Guarantor_Designation').val());
            fd.append('InstituteName', $('#Guarantor_InstituteName').val());
            fd.append('InstituteAddress', $('#Guarantor_InstituteAddress').val());
            fd.append('CurrentAddress', $('#Guarantor_CurrentAddress').val());
            fd.append('PermanentAddress', $('#Guarantor_PermanentAddress').val());
            fd.append('ContactNo', $('#Guarantor_ContactNo').val());
            fd.append('GuarantorRoll', $('#Guarantor_GuarantorRoll').val());
            fd.append('SpouseName', $('#Guarantor_SpouseName').val());
            fd.append('RelationWithApplicant', $('#Guarantor_RelationWithApplicant').val());
            fd.append('DateofBirth', $('#Guarantor_DateofBirth').val());
            fd.append('MonthlyIncome', $('#Guarantor_MonthlyIncome').val());
            fd.append('BusinessAddress', $('#Guarantor_BusinessAddress').val());
            fd.append('LoanStatusWithTmc', $('#Guarantor_LoanStatusWithTmc').val());
            fd.append('ResidentialConditionId', $('#GResidentialCondition option:selected').val());

            return fd;
        }

        $('#deleteGuarantor').click(function () {
            if (confirm("Are you sure?")) {
                var data = {
                    LoanId: $('#Guarantor_LoanId').val(),
                    GuarantorId: $('#hdfGuarantorId').val()
                }
                $.ajax({
                    url: '@Url.Action("DeleteGuaranorInfo", "Loan", new { Area = "Loan" })',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            oGuarantorTable.ajax.reload();
                            GuarantorClearAll();
                            $('#saveGuarantor').show();
                            $('#Guarantor_Clear').show();
                            $('#deleteGuarantor').hide();
                            $('#UpdateGuarantor').hide();
                            document.getElementById('showMessage').style.color = "green";
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                    }
                });
            }
            return false;
        });


        function CheckValidation() {
            var isValid = true;
            if ($('#Guarantor_GuarantorRoll').val().trim() === '0') {
                isValid = false;
                $('#Guarantor_GuarantorRoll').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#Guarantor_GuarantorRoll').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#RefId').val().trim() === '') {
                isValid = false;
                $('#RefId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#RefId').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#Guarantor_MonthlyIncome').val().trim() === '') {
                isValid = false;
                $('#Guarantor_MonthlyIncome').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#Guarantor_MonthlyIncome').parent().prev().find('span').css('visibility', 'hidden');
            }

            return isValid;
        }

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
		        log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ImageFile").change(function () {
            readURL(this);
        });




    });

    function IsInteger(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;

        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        else if (charCode == 13 || charCode == 46) {
            return false;
        }
        status = "";
        return true;
    }
</script>



