﻿@model TonyMultipurpose.Areas.Loan.Models.MonthlyIncome


@{
    ViewBag.Title = "Income";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    <div class="row form-group">
        <div class="col-md-8">
            <label class="control-label"> Loan Id</label>
            <label id="MonthlyIncome_showMessage" style="color:red;font-size:medium"></label>
            @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "MonthlyIncome_LoanId", @readonly = "readonly" })
            @Html.ValidationMessageFor(l => l.LoanId, "", new { @class = "text-danger", @style = "color:red" })
            <input type="hidden" id="hdfMonthlyIncomeId" name="MonthlyIncomeId" value="">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <label class="control-label"> Income Type</label>
            <select name="IncomeTypeId" id="MonthlyIncome_TypeId" class="form-control"></select>
            @*@Html.DropDownListFor(l => l.IncomeTypeId, new List<SelectListItem>()
                {
                    new SelectListItem {Text = "-Select Income Type-", Value = ""},
                    new SelectListItem {Text = "Business", Value = "1"},
                    new SelectListItem {Text = "Government Job", Value = "2"}
                }, new { @class = "form-control", id = "MonthlyIncome_TypeId" })*@
            @Html.ValidationMessageFor(l => l.IncomeTypeId, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <label class="control-label">Amount</label>
            @Html.TextBoxFor(l => l.Amount, new { @class = "form-control", id = "MonthlyIncome_Amount" })
            @Html.ValidationMessageFor(l => l.Amount, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group row" style="margin-left:0px;">
        <input id="saveMonthlyIncome" type="button" value="Save" class="btn btn-success" style="padding: 8px 15px;" />
        <input id="UpdateMonthlyIncome" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
        <input id="deleteMonthlyIncome" type="button" value="Delete" class="btn btn-success" style="padding: 8px 15px; " />
        <input id="MonthlyIncome_Clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 15px; " />
    </div>


    <div class="tablecontainer table-responsive">
        <table id="MonthlyIncomeTable" class="display" cellspacing="0" style="width:50%;">
            <thead>
                <tr>
                    <th>Loan Id</th>
                    <th>IncomeType</th>
                    <th>Amount</th>
                </tr>
            </thead>
            @*<tfoot><td></td><th>Total</th></tfoot>*@
            <tfoot>
                <tr>
                    <th colspan="2" style="text-align:right">Total:</th>
                    <th id="xx"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</form>
<script>
    $('#UpdateMonthlyIncome').hide();
    $('#deleteMonthlyIncome').hide();
    var incomeTotal;
    var x;
    // Load Function function
    var oMonthlyIncomeTable;
    MonthlyIncomeTable();
    function MonthlyIncomeTable() {
        oMonthlyIncomeTable = $('#MonthlyIncomeTable').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllMonthlyIncomeInfo", "Loan", new { Area = "Loan" })',
                "type": "get",
                "data": {
                    "LoanId": $('#MonthlyIncome_LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "LoanId" },
                { "data": "IncomeType" },
                { "data": "Amount" },
            ],
            "order": [[0, "desc"]],
            searching: false,
            paging: false,
            "bInfo": false,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };

                // Total over all pages
                total = api
                    .column(2)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                incomeTotal = api
                    .column(2, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(2).footer()).html(
                     incomeTotal

                );
                x = incomeTotal;
            }
        });
        $('#MonthlyIncomeTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oMonthlyIncomeTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            bindDataGuarantor(oMonthlyIncomeTable.row(this).data());
        });
    }

    function bindDataGuarantor(data) {
        $('#hdfMonthlyIncomeId').val(data.MonthlyIncomeId);
        $('#MonthlyIncome_TypeId').val(data.IncomeTypeId);
        $('#MonthlyIncome_Amount').val(data.Amount);
        $('#MonthlyIncome_LoanId').val(data.LoanId);
        $('#saveMonthlyIncome').hide();
        $('#UpdateMonthlyIncome').show();
        $('#deleteMonthlyIncome').show();
    }
    function MonthlyIncomeClearAll() {
        $('#MonthlyIncome_TypeId').val('');
        $('#MonthlyIncome_Amount').val('');
        $('#saveMonthlyIncome').show();
        $('#UpdateMonthlyIncome').hide();
        $('#deleteMonthlyIncome').hide();
    }
    // caler function
    $('#MonthlyIncome_Clear').click(function () {
        MonthlyIncomeClearAll();
    });
    // data load function
    function Binddata() {
        var LoanId = $('#MonthlyIncome_LoanId').val();
        var IncomeTypeId = $('#MonthlyIncome_TypeId ').val();
        var Amount = $('#MonthlyIncome_Amount').val();
        var MonthlyIncomeId = $('#hdfMonthlyIncomeId').val();
        var data = {
            LoanId: $('#MonthlyIncome_LoanId').val(),
            IncomeTypeId: $('#MonthlyIncome_TypeId option:selected').val(),
            Amount: $('#MonthlyIncome_Amount').val(),
            MonthlyIncomeId:$('#hdfMonthlyIncomeId').val()
        }
        return data;
    }
    // income type load function
    $(function () {
        $("#MonthlyIncome_TypeId").empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetIncomeType", "Loan", new { Area = "Loan" })',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#MonthlyIncome_TypeId").append('<option value="0">--Select Income Type--</option>');
                $.each(data, function (key, value) {
                    $("#MonthlyIncome_TypeId").append('<option value=' + value.IncomeTypeId + '>' + value.IncomeType + '</option>');
                });
            }
        });
    });
    // Save function
    $('#saveMonthlyIncome').click(function () {
        var isAllDataValid = true;
        if (isAllDataValid) {
            var data = Binddata();
            alert(data.IncomeTypeId);
            $.ajax({
                url: '@Url.Action("SaveIncome", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.oCommonResult.Status == true) {
                        oMonthlyIncomeTable.ajax.reload();
                        $('#saveMonthlyIncome').show();
                        $('#UpdateMonthlyIncome').hide();
                        $('#deleteMonthlyIncome').hide();
                        document.getElementById('MonthlyIncome_showMessage').style.color = "green";
                    }
                    document.getElementById('MonthlyIncome_showMessage').innerHTML = d.oCommonResult.Message;
                },
                error: function () {
                    document.getElementById('MonthlyIncome_showMessage').innerHTML = 'Error. Please try again.';
                }
            });
        }
    });
    $('#UpdateMonthlyIncome').click(function () {

        var isAllDataValid = true;

        if (isAllDataValid) {

            var data = Binddata();
            $.ajax({
                url: '@Url.Action("UpdateMonthlyIncome", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        oMonthlyIncomeTable.ajax.reload();
                        MonthlyIncomeClearAll();
                        oMonthlyIncomeTable.ajax.reload();
                        $('#saveMonthlyIncome').show();
                        $('#UpdateMonthlyIncome').hide();
                        $('#deleteMonthlyIncome').hide();
                    }
                },
                error: function () {

                }
            });
        }
    });
    $('#deleteMonthlyIncome').click(function () {
        if (confirm("Are you sure?")) {
            var data = Binddata();
            $.ajax({
                url: '@Url.Action("DeleteMonthlyIncome", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        oMonthlyIncomeTable.ajax.reload();
                        MonthlyIncomeClearAll();
                        $('#saveMonthlyIncome').show();
                        $('#UpdateMonthlyIncome').hide();
                        $('#deleteMonthlyIncome').hide();
                    }
                },
                error: function () {

                }
            });
        }
        return false;
    });
</script>