﻿@using TonyMultipurpose.Areas.Loan.Models;
@model IEnumerable<LoanModel>

@{
    ViewBag.Title = "Loan";

}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<style>
    span.error {
        display: block inline;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    div.row {
        margin-bottom: 5px;
    }
</style>

<div class="container">
    <div class="row form-group" id="popUpBtn">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color: red; font-size: medium"></label>
                <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="NotASavedLoan">
            </div>
        </div>

    </div>
    <div class="row form-group">
        <div class="col-md-8">
            @*new menu added here start*@
            <div class="row">

                @*<table class="table table-bordered" style="width:300px">
                        <tr>
                            <td><input id="clear" type="button" value="Add New" class="btn btn-primary" style="padding: 8px 24px;width: 250px" /></td>
                            <td><a class="popup btn btn-primary" style="width: 250px" data-title="Guarantor" href='@Url.Action("Guarantor", "Loan", new {Area = "Loan"})'>Guarantor</a></td>
                            <td><a class="popup btn btn-primary" style="width: 250px" data-title="Additional Loan Information" href='@Url.Action("SaveAdditionalLoanInfo", "Loan", new {Area = "Loan"})'>Addtional Loan Info</a></td>
                            <td><a class="popup btn btn-primary" style="width: 250px" data-title="Monthly Income" href='@Url.Action("Income", "Loan", new {Area = "Loan"})'>Monthly Income</a></td>
                        </tr>
                        <tr>
                            <td><a class="popup btn btn-primary" style="width: 250px" data-title="Monthly Expense" href='@Url.Action("Expense", "Loan", new {Area = "Loan"})'>Monthly Expense</a></td>
                            <td><a class="popup btn btn-primary" style="width: 250px" data-title="Bank Check List" href='@Url.Action("BankCheckList", "Loan", new {Area = "Loan"})'>Bank Inormation</a></td>
                            <td><a class="popup btn btn-primary" style="width: 250px" data-title="Notification" href='@Url.Action("NotificationCheckList", "Loan", new {Area = "Loan"})'>Notification</a></td>
                            <td><input id="submit" type="button" value="Save" class="btn btn-primary" style="padding: 8px 24px;" /></td>
                        </tr>
                    </table>*@
                @*<div class="col-md-2">
                        <input id="GuarantorSubmit" type="button" value="Guarantor" class="btn btn-success" style="padding: 8px 24px;"/>
                        <a class="popup btn btn-primary" data-title="Guarantor" href='@Url.Action("Guarantor", "Loan", new {Area = "Loan"})'>Guarantor</a>
                    </div>
                    <div class="col-md-3">
                        <input id="AddtionalLoanInfoSubmit" type="button" value="Addtional Loan Info" class="btn btn-success" style="padding: 8px 24px;"/>
                    </div>
                    <div class="col-md-2">
                        <input id="MonthlyIncomeSubmit" type="button" value="Monthly Income" class="btn btn-success" style="padding: 8px 24px;"/>
                    </div>*@
                <div class="col-md-3">
                    <input id="clear" type="button" value="Add New" class="btn btn-primary" style="padding: 8px 24px;width: 150px" />
                </div>
                <div class="col-md-3">
                    <a class="popup btn btn-primary" style="width: 150px" data-title="Guarantor" href='@Url.Action("Guarantor", "Loan", new {Area = "Loan"})'>Guarantor</a>
                </div>
                <div class="col-md-3">
                    <a class="popup btn btn-primary" style="width: 150px" data-title="Additional Loan Information" href='@Url.Action("SaveAdditionalLoanInfo", "Loan", new {Area = "Loan"})'>Addtional Loan Info</a>
                </div>
                <div class="col-md-3">
                    <a class="popup btn btn-primary" style="width: 150px" data-title="Monthly Income" href='@Url.Action("Income", "Loan", new {Area = "Loan"})'>Monthly Income</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <a class="popup btn btn-primary" style="width: 150px" data-title="Monthly Expense" href='@Url.Action("Expense", "Loan", new {Area = "Loan"})'>Monthly Expense</a>
                </div>
                <div class="col-md-3">
                    <a class="popup btn btn-primary" style="width: 150px" data-title="Bank Check List" href='@Url.Action("BankCheckList", "Loan", new {Area = "Loan"})'>Bank Check List</a>
                </div>
                <div class="col-md-3">
                    <a class="popup btn btn-primary" style="width: 150px" data-title="Notification" href='@Url.Action("NotificationCheckList", "Loan", new {Area = "Loan"})'>Notification</a>
                </div>
                <div class="col-md-3">
                    <input id="submit" type="button" value="Save" class="btn btn-primary" style="padding: 8px 24px;width: 150px" />
                </div>

            </div>


            @*new menu added end*@

            @*NEW LOAN INFORMATION ARRENGED*@
            <br />
            <div class="form-group">
                <table cellspacing="0" class="table table-bordered" width="100%">

                    <tr>
                        <td width="150px" height="10px"><label>1. Loan Type<span class="error">*</span></label></td>
                        <td width="300px"><select name="LoanTypeId" id="LoanType" class="form-control"></select></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>2. Referrence Id<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="RefId" name="LoanId" class="form-control" value="" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label style="color: red">3. Deskpatch/Ref<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>4. Referencee Name<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="RefName" name="ReferenceName" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>5. Customer ID<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="CustomerId" name="CustomerId" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>6. Customer Name<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="CustomerName" class="form-control" value="" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>7. Account Number<span class="error">*</span></label></td>
                        <td width="300px"><select name="AccountNumber" id="AccountNumber" class="form-control"></select></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>8. Date<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="LoanDate" name="LoanDate" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>9. Loan Request Amount<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="LoanAmount" name="LoanAmount" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>10. Interest Rate<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="InterestRate" name="InterestRate" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>11. Installment Type<span class="error">*</span></label></td>
                        <td width="300px"><select name="InstallmentTypeId" id="InstallmentTypeId" class="form-control"></select></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>12. Installment No<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="NumberOfInstallment" name="NumberOfInstallment" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>13. Extra Fee<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="ExtraFee" name="ExtraFee" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>14. Purpose<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="PurposeOfLoan" name="PurposeOfLoan" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>15. Purpose Cost<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="TotalAssetCost" name="TotalAssetCost" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>16. Supplier<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="DistributorName" name="DistributorName" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>17. Total Purchase Amount<span class="error">*</span></label></td>
                        <td width="300px"><input type="text" id="TotalPurchaseAmount" name="TotalPurchaseAmount" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>18. Residental Condition<span class="error">*</span></label></td>
                        <td width="300px"><select name="ResidentialConditionId" id="ResidentialCondition" class="form-control"></select></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>19. Db Ratio<span class="error">*</span></label></td>
                        <td width="300px"><label id="dbRatio"><span class="danger"></span></label></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>20. Is Deposit From Saving<span class="error">*</span></label></td>
                        <td width="300px"><input checked="checked" class="form-check-input" id="IsDepositsFromSaving" name="IsDepositsFromSaving" type="checkbox" value="1" /></td>
                    </tr>
                    <tr>
                        <td width="150px"><label>21. COA Code<span class="error">*</span></label></td>
                        <td width="300px"><select name="AccountName" id="COA_accountName" class="form-control"></select></td>
                    </tr>
                </table>
            </div>

            @*NEW LOAN INFORMATION ARRENGED END*@


            <div class="row"></div>

            <div class="row">
                @*<div class="col-md-2">
                        <label>Loan Type<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <select name="LoanTypeId" id="LoanType" class="form-control"></select>
                    </div>*@
                @*<div class="col-md-2">
                        <label>Referrence Id<span class="error">*</span> </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="RefId" name="LoanId" class="form-control" value="" readonly="readonly" />
                    </div>*@
            </div>
            <div class="row">
                @*<div class="col-md-2">
                        <label>Referred Name</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="RefName" name="ReferenceName" class="form-control" value="" />
                    </div>*@
                @*<div class="col-md-2">
                        <label>Customer Id<span class="error">*</span> </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="CustomerId" name="CustomerId" class="form-control" value="" />
                    </div>*@
            </div>
            <div class="row">
                @*<div class="col-md-2">
                        <label>Account Number<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <select name="AccountNumber" id="AccountNumber" class="form-control"></select>
                    </div>*@
                @*<div class="col-md-2">
                        <label>Loan Date</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="LoanDate" name="LoanDate" class="form-control" value="" />
                    </div>*@
            </div>
            <div class="row">
                @*<div class="col-md-2">
                        <label>Loan Amount</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="LoanAmount" name="LoanAmount" class="form-control" value="" />
                    </div>*@
                @*<div class="col-md-2">
                        <label>Interest Rate</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="InterestRate" name="InterestRate" class="form-control" value="" />
                    </div>*@
            </div>
            <div class="row">
                @*<div class="col-md-2">
                        <label>Installment Type</label>
                    </div>
                    <div class="col-md-4">
                        <select name="InstallmentTypeId" id="InstallmentTypeId" class="form-control"></select>
                    </div>*@
                @*<div class="col-md-2">
                        <label>No of Installment</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="NumberOfInstallment" name="NumberOfInstallment" class="form-control" value="" />
                    </div>*@
            </div>
            <div class="row">
                @*<div class="col-md-2">
                        <label>Extra Fee</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="ExtraFee" name="ExtraFee" class="form-control" value="" />
                    </div>*@
                @*<div class="col-md-2">
                        <label>Purpose Of Loan</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="PurposeOfLoan" name="PurposeOfLoan" class="form-control" value="" />
                    </div>*@
            </div>
            <div class="row">
                @*<div class="col-md-2">
                        <label>T. Pur. Amount</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="TotalPurchaseAmount" name="TotalPurchaseAmount" class="form-control" value="" />
                    </div>*@
                @*<div class="col-md-2">
                        <label>Purpose Cost</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="TotalAssetCost" name="TotalAssetCost" class="form-control" value="" />
                    </div>*@
            </div>
            @*purpose cost = total asset cost*@
            <div class="row">
                @*<div class="col-md-2">
                        <label>Distributor Name</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="DistributorName" name="DistributorName" class="form-control" value="" />
                    </div>*@
                @*<div class="col-md-2">
                        <label>Db Ratio<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <label id="dbRatio"><span class="danger"></span></label>
                    </div>*@
            </div>
            <div class="row">
                @*<div class="col-md-2">
                        <label>COA Code<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <select name="AccountName" id="COA_accountName" class="form-control"></select>
                        <span class="error">**</span>
                    </div>*@
                @*<div class="col-md-2">
                        <label>Is Deposits From Saving</label>
                    </div>
                    <div class="col-md-4">
                        <input checked="checked" class="form-check-input" id="IsDepositsFromSaving" name="IsDepositsFromSaving" type="checkbox" value="1" />
                    </div>*@

            </div>
            @*<div class="row">
                    <div class="col-md-2">
                        <label>Residential Condition<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <select name="ResidentialConditionId" id="ResidentialCondition" class="form-control"></select>
                    </div>
                </div>*@
            @*<div class="row">
                    <div class="col-md-1">
                        <label>Guarantor</label>
                    </div>
                    <div class="col-md-1">
                        <a class="popup btn btn-primary" data-title="Guarantor" href='@Url.Action("Guarantor", "Loan", new {Area = "Loan"})'>...</a>
                    </div>
                    <div class="col-md-2">
                        <label>Additional Loan Info</label>
                    </div>
                    <div class="col-md-1">
                        <a class="popup btn btn-primary" data-title="Additional Loan Information" href='@Url.Action("SaveAdditionalLoanInfo", "Loan", new {Area = "Loan"})'>...</a>
                    </div>
                    <div class="col-md-2">
                        <label>Monthly Income</label>
                    </div>
                    <div class="col-md-1">
                        <a class="popup btn btn-primary" data-title="Monthly Income" href='@Url.Action("Income", "Loan", new {Area = "Loan"})'>...</a>
                    </div>
                    <div class="col-md-2">
                        <label>Monthly Expense</label>
                    </div>
                    <div class="col-md-1">
                        <a class="popup btn btn-primary" data-title="Monthly Expense" href='@Url.Action("Expense", "Loan", new {Area = "Loan"})'>...</a>
                    </div>
                </div>*@

            @*<div class="row">
                    <div class="col-md-2">
                        <label>Bank Check List</label>
                    </div>
                    <div class="col-md-1">
                        <a class="popup btn btn-primary" data-title="Bank Check List" href='@Url.Action("BankCheckList", "Loan", new {Area = "Loan"})'>...</a>
                    </div>
                    <div class="col-md-2">
                        <label>Notification</label>
                    </div>
                    <div class="col-md-1">
                        <a class="popup btn btn-primary" data-title="Notification" href='@Url.Action("NotificationCheckList", "Loan", new {Area = "Loan"})'>...</a>
                    </div>
                </div>*@
        </div>
        <div class="col-md-4" id="CustomerInfo" style="display:none;">
            <div class="col-md-12">
                <img src="" alt="No Image" id="customerImage" class="img-responsive" style="height:150px;width:150px;" />
            </div>
            <div class="row">
                @*<div class="col-md-4">
                            <label>Customer Name:</label>
                        </div>
                        <div class="col-md-8">
                            <label id="CustomerName"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Father's Name:</label>
                        </div>
                        <div class="col-md-8">
                            <label id="FatherName"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Mother's Name:</label>
                        </div>
                        <div class="col-md-8">
                            <label id="MotherName">Manuara</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Nationality:</label>
                        </div>
                        <div class="col-md-8">
                            <label id="Nationality"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Date of Birth:</label>
                        </div>
                        <div class="col-md-8">
                            <label id="DateofBirth"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Mobile:</label>
                        </div>
                        <div class="col-md-8">
                            <label id="Mobile">:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Present Address:</label>
                        </div>
                        <div class="col-md-8">
                            <label id="PAddress">Uttara</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Occupation:</label>
                        </div>
                        <div class="col-md-8">
                            <label id="Occupation">Software Engineer</label>
                        </div>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
            @* <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />*@
        </div>
        <div class="col-md-2">
            @*<input id="clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />*@
        </div>
    </div>
</div>

<div class="tablecontainer table-responsive">
    @*<a class="popup btn btn-primary" href='@Url.Action("Save", "Loan", new {Area = "Loan"})'>Add New</a>*@
    <table id="LoanTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th>Loan Id</th>
                <th>Loan Type Name</th>
                <th>Loan Date</th>
                @*<th>Loan Expire Date</th>*@
                <th>Customer Name</th>
                <th>Account Number</th>
                <th>Loan Amount</th>
                <th>Interest Rate</th>
                <th>EMI</th>
                <th>Installment Type Name</th>
                <th>User Name</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    (function () {
        var oTable;
        $(document).ready(function () {
            loadTable();
        });
        function loadTable() {
            oTable = $('#LoanTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("Save", "Loan", new {Area = "Loan" })',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "LoanId" },
                    { "data": "LoanTypeName" },
                    { "data": "LoanDate" },
                    //{ "data": "LoanExpiryDate" },
                    { "data": "CustomerName" },
                    { "data": "AccountNumber" },
                    { "data": "LoanAmount" },
                    { "data": "InterestRate" },
                    { "data": "InstallmentAmount" },
                    { "data": "InstallmentTypeName" },
                    { "data": "UserName" }
                ],
                "order": [[0, "desc"]],
            });
            $('#LoanTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindDataToControls(oTable.row(this).data());
            });
        }

        function bindDataToControls(data) {
            $('#CustomerId').val(data.CustomerId);
            $("#CustomerId").change();
            $(document).ajaxComplete(function () {
                $('#AccountNumber').val(data.AccountNumber);
            });

            $('#LoanType').val(data.LoanTypeId);
            $('#RefId').val(data.LoanId);
            $('#hdfLoanId').val(data.LoanId);
            $('#RefName').val(data.ReferenceName);
            $('#LoanDate').val(data.LoanDate);
            $('#LoanAmount').val(data.LoanAmount);
            $('#InterestRate').val(data.InterestRate);
            $('#InstallmentTypeId').val(data.InstallmentTypeId);
            $('#NumberOfInstallment').val(data.NumberOfInstallment);
            $('#ExtraFee').val(data.ExtraFee);
            $('#PurposeOfLoan').val(data.PurposeOfLoan);
            $('#TotalPurchaseAmount').val(data.TotalPurchaseAmount);
            $('#TotalAssetCost').val(data.TotalAssetCost);
            $('#DistributorName').val(data.DistributorName);
            $('#LoanExpiryDate').val(data.LoanExpiryDate);
            $('#LoanExpiryDate').val(data.LoanExpiryDate);
            $('#COA_accountName').val(data.COAId);
            $('#ResidentialCondition').val(data.ResidentialConditionId);
            var emi = data.InstallmentAmount;
            var Eemi = data.ExistingEmi;
            var netI = data.NetIncome;
            var ratio = parseFloat((emi + Eemi) / netI);
            var per = parseFloat(ratio * 100).toFixed(2);
            document.getElementById('dbRatio').innerHTML = per;
            if (data.IsDepositsFromSaving == true) {
                $("#IsDepositsFromSaving").attr('checked', true);
            }
            else {
                $("#IsDepositsFromSaving").attr('checked', false);
            }

            //var loanId = data.LoanId;
            //dbRatio(loanId);
            $('#submit').val('Update');
        }



        // chart of account load
        LoadCOA();
        function LoadCOA() {
            $("#COA_accountName").empty();
            $.ajax({
                type: "GET",
                url: '@Url.Action("Get_COAaccountCodeInfo", "Loan", new { Area = "Loan" })',
                //contentType: "application/json; charset=utf-8",
                //data: JSON.stringify(json),
                success: function (data) {
                    //$("#COA_accountName").append('<option value="0">--Select Code--</option>');
                    $.each(data, function (key, value) {
                        $("#COA_accountName").append('<option value=' + value.COAId + '>' + value.AccountCode + '</option>');
                        //alert(value.AccountCode);
                    });
                }
            });
        }

        // load Loan Type
        $(function () {
            $("#LoanType").empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetLoanType", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#LoanType").append('<option value="0">--Select Type--</option>');
                    $.each(data, function (key, value) {
                        $("#LoanType").append('<option value=' + value.LoanTypeId + '>' + value.LoanTypeName + '</option>');
                    });
                }
            });
        });

        $(function () {
            $("#ResidentialCondition").empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetResidentialConditionInfo", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#ResidentialCondition").append('<option value="0">--Select Type--</option>');
                    $.each(data, function (key, value) {
                        $("#ResidentialCondition").append('<option value=' + value.ResidentialConditionId + '>' + value.ResidentialConditionType + '</option>');
                    });
                }
            });
        });

        // Get loan id
        $("#LoanType").change(function () {
            var loanType = $("#LoanType").val();
            var json = {
                loanType: loanType
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetLoanId", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $('#RefId').val(data);
                }
            });
        });

        // Load installment type
        $(function () {
            $("#InstallmentTypeId").empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetInstallmentType", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //$("#InstallmentTypeId").append('<option value="0">--Select installment Type--</option>');
                    $.each(data, function (key, value) {
                        $("#InstallmentTypeId").append('<option value=' + value.InstallmentTypeId + '>' + value.InstallmentTypeName + '</option>');
                    });
                }
            });
        });

        // AutoComplete Customer Id
        $("#CustomerId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("AutoCompleteCustomerId", "Loan", new { Area = "Loan" })',
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }));
                    }
                });
            },
            messages: {
                noResults: "",
                results: ""
            }
        });
// Get customer Information
        $("#CustomerId").change(function () {
            $('#AccountNumber').empty();
            var customerId = $("#CustomerId").val();
            var json = { customerId: customerId };

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCustomerInfo", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $('#CustomerInfo').show();
                    $('#customerImage').attr('src', data.CustomerImage);

                    $('#CustomerName').val(data.CustomerName);
                    //document.getElementById('CustomerName').innerHTML = data.CustomerName;
                    //document.getElementById('FatherName').innerHTML = data.FatherName;
                    //document.getElementById('MotherName').innerHTML = data.MotherName;
                    //document.getElementById('DateofBirth').innerHTML = FormateDate(data.DateOfBirth);
                    //document.getElementById('Nationality').innerHTML = data.Nationality;
                    //document.getElementById('Occupation').innerHTML = data.OccupationAndPosition;
                    //document.getElementById('PAddress').innerHTML = data.PresentAddress;
                    //document.getElementById('Mobile').innerHTML = data.Mobile;
                    GetAccountNumber(customerId);
                }
            });
        });

        function GetAccountNumber(customerId) {
            $("#AccountNumber").empty();
            var json = { customerId: customerId };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetSavingsAccounNumber", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $("#AccountNumber").append('<option value="0">--Select Account Number--</option>');
                    $.each(data, function (key, value) {
                        $("#AccountNumber").append('<option value=' + value.AccountNumber + '>' + value.AccountName + '</option>');
                    });
                }
            });
        }

        $('#submit').click(function () {
            var isValid = CheckValidation();
            if (isValid) {
                var data = Bindata();

                $.ajax({
                    url: '@Url.Action("Save", "Loan", new { Area = "Loan" })',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        $('#hdfLoanId').val('');
                        if (d.oCommonResult.Status == true) {
                            oTable.ajax.reload();
                            $('#submit').val('Save');
                            document.getElementById('showMessage').style.color = "green";
                            $('#hdfLoanId').val(data.LoanId);
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                        $('#hdfLoanId').val('');
                    }
                });

            }
        });

        $('#clear').click(function () {
            window.location.reload();
        });
        function Bindata() {
            var loanAmount = parseInt($('#LoanAmount').val());
            var interestRate = parseFloat($('#InterestRate').val()) / 100;
            var numberOfInstallment = parseInt($('#NumberOfInstallment').val());

            if ($('#InstallmentTypeId').val() == 2) {
                var interestAmount = parseFloat((loanAmount * interestRate) / 12);
                var r = parseFloat($('#InterestRate').val()) / 1200;
                var a = parseFloat(loanAmount * r);
                var b = parseFloat(Math.pow(1 + r, -numberOfInstallment));
                var c = 1 - b;
                var installmentAmount = (a / c);
                var principleWithInterest = parseFloat(installmentAmount * numberOfInstallment);
                var totalInterest = parseFloat(principleWithInterest - loanAmount);

            }
            if ($('#InstallmentTypeId').val() == 1) {
                var interestAmount = parseFloat((loanAmount * interestRate) / 52);
                var r = parseFloat($('#InterestRate').val()) / 5200;
                var a = parseFloat(loanAmount * r);
                var b = parseFloat(Math.pow(1 + r, -numberOfInstallment));
                var c = 1 - b;
                var installmentAmount = (a / c);
                var principleWithInterest = parseFloat(installmentAmount * numberOfInstallment);
                var totalInterest = parseFloat(principleWithInterest - loanAmount);
            }





            var IsDeposits;
            if ($('#IsDepositsFromSaving').prop("checked") === true) {
                IsDeposits = 1;
            }
            else {
                IsDeposits = 0;
            }
            var data = {
                IsDepositsFromSaving: IsDeposits,
                COAId: $('#COA_accountName option:selected').val(),
                LoanTypeId: $('#LoanType option:selected').val(),
                LoanId: $('#RefId').val(),
                ReferenceName: $('#RefName').val(),
                CustomerId: $('#CustomerId').val(),
                AccountNumber: $('#AccountNumber option:selected').val(),
                LoanDate: $('#LoanDate').val(),
                LoanAmount: $('#LoanAmount').val(),
                InterestRate: $('#InterestRate').val(),
                InstallmentTypeId: $('#InstallmentTypeId option:selected').val(),
                NumberOfInstallment: $('#NumberOfInstallment').val(),
                ExtraFee: $('#ExtraFee').val(),
                PurposeOfLoan: $('#PurposeOfLoan').val(),
                TotalPurchaseAmount: $('#TotalPurchaseAmount').val(),
                TotalAssetCost: $('#TotalAssetCost').val(),
                DistributorName: $('#DistributorName').val(),
                LoanExpiryDate: $('#LoanExpiryDate').val(),
                InterestAmount: interestAmount,
                InstallmentAmount: installmentAmount,
                TotalInterest: totalInterest,
                ResidentialConditionId: $('#ResidentialCondition option:selected').val()
            }

            return data;

        }
        function CheckValidation() {
            var isValid = true;
            if ($('#LoanType').val().trim() === '0') {
                isValid = false;
                $('#LoanType').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#LoanType').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#RefId').val().trim() === '') {
                isValid = false;
                $('#RefId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#RefId').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#CustomerId').val().trim() === '') {
                isValid = false;
                $('#CustomerId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#CustomerId').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#AccountNumber').val() === '0') {
                isValid = false;
                $('#AccountNumber').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#AccountNumber').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#COA_accountName').val().trim() === '0') {
                isValid = false;
                $('#COA_accountName').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#COA_accountName').parent().prev().find('span').css('visibility', 'hidden');
            }
            //if ($('#LoanDate').val().trim() === '') {
            //    isValid = false;
            //    $('#LoanDate').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#LoanDate').parent().prev().find('span').css('visibility', 'hidden');
            //}
            //if ($('#LoanAmount').val().trim() === '') {
            //    isValid = false;
            //    $('#LoanAmount').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#LoanAmount').parent().prev().find('span').css('visibility', 'hidden');
            //}
            //if ($('#InterestRate').val().trim() === '') {
            //    isValid = false;
            //    $('#InterestRate').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#InterestRate').parent().prev().find('span').css('visibility', 'hidden');
            //}
            if ($('#InstallmentTypeId').val() === '0') {
                isValid = false;
                $('#InstallmentTypeId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#InstallmentTypeId').parent().prev().find('span').css('visibility', 'hidden');
            }
            //if ($('#NumberOfInstallment').val().trim() === '') {
            //    isValid = false;
            //    $('#NumberOfInstallment').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#NumberOfInstallment').parent().prev().find('span').css('visibility', 'hidden');
            //}
            //if ($('#ExtraFee').val().trim() === '') {
            //    isValid = false;
            //    $('#ExtraFee').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#ExtraFee').parent().prev().find('span').css('visibility', 'hidden');
            //}
            //if ($('#LoanExpiryDate').val().trim() === '') {
            //    isValid = false;
            //    $('#LoanExpiryDate').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#LoanExpiryDate').parent().prev().find('span').css('visibility', 'hidden');
            //}
            return isValid;
        }

        //json to date converter
        function FormateDate(jsonDate) {
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Novr", "Dec"
            ];
            var date = new Date(parseInt(jsonDate.substr(6)));
            var dd = date.getDate();
            var mm = monthNames[date.getMonth()];
            var yyyy = date.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            var formmatedDate = dd + '/' + mm + '/' + yyyy;
            return formmatedDate;
        }

        //date picker
        $('.datepicker').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });
        $('#LoanDate').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+60", type: Text
        }).click(function () { $(this).focus(); });
        $('#LoanExpiryDate').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+60", type: Text
        }).click(function () { $(this).focus(); });

        //popup
        $('.popup').on('click', function (e) {
            e.preventDefault();
            var loanId = $('#hdfLoanId').val();
            if ($('#hdfLoanId').val() === 'NotASavedLoan') {
                return false;
            }
            else {
                var link = $(this).attr('href') + "?loanId=" + loanId;
                OpenPopup(link, $(this).data("title"));
            }

        });

        function OpenPopup(pageUrl, title) {
            var $pageContent = $('<div/>');
            $pageContent.load(pageUrl, function () {
                $('#popupForm', $pageContent).removeData('validator');
                $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
            });

            $dialog = $('<div class="popupWindow"  style="color:Black;"></div>')
                .html($pageContent)
                .dialog({
                    draggable: true,
                    autoOpen: false,
                    resizable: true,
                    model: true,
                    title: title,
                    height: 750,
                    width: 850,
                    close: function () {
                        $dialog.dialog('destroy').remove();
                    }
                });
            $dialog.dialog('open');
        }

    })();
</script>



