﻿@using TonyMultipurpose.Infrastructure.Helpers
@model TonyMultipurpose.Areas.Loan.ViewModels.LoanBasicViewModel
@{
    ViewBag.Title = "New Loan";
}



@using (Html.DefaultBox("Box Test"))
{
    using (Html.BeginForm(""))
    {

    }
}


<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">Basic Information</a></li>
        <li><a href="@Url.Action("GuarantorInfo", new { id=Model.LoanId})" data-toggle="tab">Guarantor</a></li>
        <li><a href="@Url.Action("FinancialInfo", new { id=Model.LoanId})" data-toggle="tab">Financial</a></li>
        <li><a href="#tab_3" data-toggle="tab">Comments And Signatory</a></li>
        <li><a href="#tab_3" data-toggle="tab">Customers Cheque</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">

            A wonderful serenity has taken possession of my entire soul,
            like these sweet mornings of spring which I enjoy with my whole heart.
            I am alone, and feel the charm of existence in this spot,
            which was created for the bliss of souls like mine. I am so happy,
            my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
            that I neglect my talents. I should be incapable of drawing a single stroke
            at the present moment; and yet I feel that I never was a greater artist than now.
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            The European languages are members of the same family. Their separate existence is a myth.
            For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
            in their grammar, their pronunciation and their most common words. Everyone realizes why a
            new common language would be desirable: one could refuse to pay expensive translators. To
            achieve this, it would be necessary to have uniform grammar, pronunciation and more common
            words. If several languages coalesce, the grammar of the resulting language is more simple
            and regular than that of the individual languages.
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
            like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>