﻿@using TonyMultipurpose.Areas.Loan.Models;
@model IEnumerable<LoanModel>
@{
    ViewBag.Title = "Loan";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    @*<style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 1px solid #BFAEAE !important;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: left;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }

        #hideid {
            display: none;
        }

        .formatedTable td {
            padding-bottom: 6px;
        }

        .formatedTable input {
            padding-right: 210px;
        }

        .form-group {
            margin-bottom: 7px;
        }
    </style>*@
}


    <div class="panel panel-default" style="float: left" id="tabs">
        <ul>
            <li><a href="#basicInfo">Basic Information</a></li>
            <li id="gaurantorInfoTab"><a href="#gaurantorInfo">Gaurantor</a></li>
            <li id="financialInfoTab"><a href="#Financial">Financial</a></li>
            <li id="commentsAndSignatoryInfoTab"><a href="#CommentsAndSignatory">Comments And Signatory</a></li>
            <li id="customersChequeInfoTab"><a href="#CustomersCheque">Customers Cheque</a></li>
            

            <input id="clear" type="button" value="Add New" class="btn btn-primary" style="padding: 8px 24px;width: 180px" />
            <input id="submit" type="button" value="Save" class="btn btn-danger" style="padding: 8px 24px; width: 150px" />
            <input id="submitForCheck" type="button" value="Submit For Check" class="btn btn-primary" style="padding: 8px 24px; width: 150px" />
            
        </ul>
        

        <div class="row" style="margin-left: 50px;">
            <label id="showMessage" style="color: red; font-size: medium"></label>
            <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="NotASavedLoan">
        </div>
        <div id="basicInfo">
            <div class="container">
                <div class="row form-group">
                    <div class="col-md-8">
                        <div class="row">

                        </div>

                        
                        <div class="form-group">

                            <table cellspacing="0">

                                <tr>
                                    <td width="150px" height="10px"><label>1. Loan Typeq<span class="error">*</span></label></td>
                                    <td width="300px"><select name="LoanTypeId" id="LoanType" class="form-control"></select></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>2.  Loan Proposal No<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="RefId" name="LoanId" class="form-control" value="" readonly="readonly" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>3. Referencee Name<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="RefName" name="ReferenceName" class="form-control" value="" maxlength="49" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>4. Branch Name<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="BrName" name="BranchName" class="form-control" value="" maxlength="49" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>5. Date<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="LoanDate" name="LoanDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" readonly="readonly" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>6. Customer ID<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="CustomerId" name="CustomerId" class="form-control" value="" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>7. Customer Name<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="CustomerName" class="form-control" value="" readonly="readonly" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>8. Account Number<span class="error">*</span></label></td>
                                    <td width="300px"><select name="AccountNumber" id="AccountNumber" class="form-control"></select></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>9. Loan Request Amount<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="LoanAmount" name="LoanAmount" class="form-control" value="" maxlength="16" onkeypress="return IsInteger(event);" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label> In Words</label></td>
                                    <td width="300px"><textarea type="text" id="Inwords" name="Inwords" class="form-control" style="height: 50px;" readonly="readonly"></textarea></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>10. Interest Rate<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="InterestRate" name="InterestRate" class="form-control" value="" onkeypress="return IsDouble(event);" maxlength="6" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>11. Installment Type<span class="error">*</span></label></td>
                                    <td width="300px"><select name="InstallmentTypeId" id="InstallmentTypeId" class="form-control"></select></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>12. Installment No<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="NumberOfInstallment" name="NumberOfInstallment" class="form-control" value="" onkeypress="return IsInteger(event);" maxlength="4" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>13.  Extra Deposit Tk<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="ExtraFee" name="ExtraFee" class="form-control" value="" onkeypress="return IsDouble(event);" maxlength="10" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>14. Purpose<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="PurposeOfLoan" name="PurposeOfLoan" class="form-control" value="" maxlength="299" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>15. Purpose Cost Tk<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="TotalAssetCost" name="TotalAssetCost" class="form-control" value="" onkeypress="return IsDouble(event);" maxlength="16" /></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>16. Supplier<span class="error">*</span></label></td>
                                    <td width="300px"><input type="text" id="DistributorName" name="DistributorName" class="form-control" value="" maxlength="49" /></td>
                                </tr>

                                @*<tr>
            <td width="150px"><label>16. Profession / Income Source <span class="error">*</span></label></td>
            <td width="300px"><input type="text" id="TotalPurchaseAmount" name="TotalPurchaseAmount" class="form-control" value="" /></td>
        </tr>*@

                                <tr>
                                    <td width="150px"><label>17. Residential Condition <span class="error">*</span></label></td>
                                    <td width="300px"><select name="ResidentialConditionId" id="ResidentialCondition" class="form-control"></select></td>
                                </tr>

                                <tr>
                                    <td width="150px"><label>18. Is Deposit From Saving<span class="error">*</span></label></td>
                                    <td width="300px"><input checked="checked" class="form-check-input" id="IsDepositsFromSaving" name="IsDepositsFromSaving" type="checkbox" value="1" /></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="col-md-4" id="CustomerInfo" style="display:none;">
                        <div class="col-md-12">
                            <img src="" alt="No Image" id="customerImage" class="img-responsive" style="height: 150px; width: 150px;" />
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>Customer Name</label>
                            </div>
                            <div class="col-md-8">
                                : &nbsp; <label id="LabelCustomerName"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Father's Name</label>
                            </div>
                            <div class="col-md-8">
                                : &nbsp;  <label id="FatherName"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Mother's Name</label>
                            </div>
                            <div class="col-md-8">
                                : &nbsp;  <label id="LabelMotherName"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Spouse Name</label>
                            </div>
                            <div class="col-md-8">
                                : &nbsp;  <label id="LabelSpouseName"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Date Of Birth</label>
                            </div>
                            <div class="col-md-8">
                                : &nbsp;  <label id="LabelDateOfBirth"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>NID</label>
                            </div>
                            <div class="col-md-8">
                                : &nbsp; <label id="LabelNationalId"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Organization / Institution </label>
                            </div>
                            <div class="col-md-8">
                                : &nbsp; <label id="LabelOccupationAndPosition"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Present Address</label>
                            </div>
                            <div class="col-md-8">
                                : &nbsp; <label id="LabelPresentAddress"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Permanent Address</label>
                            </div>
                            <div class="col-md-8">
                                : &nbsp; <label id="LabelPermanentAddress"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label> Designation / Position</label>
                            </div>
                            <div class="col-md-8">
                                : &nbsp; <label id="LabelPosition"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>  Profession / Income Source</label>
                            </div>
                            <div class="col-md-8">
                                : &nbsp; <label id="LabelProfession"></label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="tablecontainer table-responsive">
                <table id="LoanTable" class="display" cellspacing="0" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Loan Id</th>
                            <th>Loan Type Name</th>
                            <th>Loan Date</th>
                            @*<th>Loan Expire Date</th>*@
                            <th>Customer Name</th>
                            <th>Account Number</th>
                            <th>Loan Amount</th>
                            <th>Interest Rate</th>
                            <th>EMI</th>
                            <th>Installment Type Name</th>
                            <th>User Name</th>
                            <th>Print</th>
                        </tr>
                    </thead>
                </table>
            </div>


        </div>

        <div id="gaurantorInfo">
        </div>
        <div id="CommentsAndSignatory">
        </div>

        <div id="Financial">

        </div>
        <div id="CustomersCheque">

        </div>

        <div id="customersChequeInfoTab11">

        </div>
    </div>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script>
        $(function() {
            $("#tabs").tabs();
        });
    </script>

    <script>
        (function() {
            $('#submitForCheck').attr('disabled', 'disabled');
            var oTable;
            $(document).ready(function() {
                loadTable();
            });

            function loadTable() {
                oTable = $('#LoanTable').DataTable({
                    "ajax": {
                        "url": '@Url.Action("Save", "Loan", new {Area = "Loan"})',
                        "type": "get",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "LoanId" },
                        { "data": "AccountTypeName" },
                        { "data": "LoanDate" },
                        //{ "data": "LoanExpiryDate" },
                        { "data": "CustomerName" },
                        { "data": "AccountNumber" },
                        { "data": "LoanAmount" },
                        { "data": "InterestRateToDisplay" },
                        { "data": "InstallmentAmount" },
                        { "data": "InstallmentTypeName" },
                        { "data": "UserName" },
                        {
                            "data": "LoanId",
                            "width": "50px",
                            "render": function(data) {
                                return '<a class="btn btn-info" target="_blank" href="@Url.Action("PrintLoanApplication", "Loan")?loanId=' +
                                    data +
                                    '">Print</a>';

                                //Loan/Loan/PrintLoanApplication/?loanId=' + data + '"
                            }
                        }

                        //<a href="/Reports/Index/' + data + '">Print</a>
                    ],
                    "order": [[0, "desc"]],

                });
                $('#LoanTable tbody').on('click',
                    'tr',
                    function() {
                        $('#submitForCheck').removeAttr('disabled');
                        if ($(this).hasClass('selected')) {
                            $(this).removeClass('selected');
                        } else {
                            oTable.$('tr.selected').removeClass('selected');
                            $(this).addClass('selected');
                        }
                        bindDataToControls(oTable.row(this).data());

                    });
            }


            function bindDataToControls(data) {
                $('#submit').val('Update');
                $('#CustomerId').val(data.CustomerId);
                $("#CustomerId").change();
                $(document).ajaxComplete(function() {
                    $('#AccountNumber').val(data.AccountNumber);
                });
                document.getElementById("LoanType").disabled = true;
                $('#LoanType').val(data.AccountSetupId);
                $('#RefId').val(data.LoanId);
                $('#BrName').val(data.FullName);
                $('#hdfLoanId').val(data.LoanId);
                $('#RefName').val(data.ReferenceName);
                $('#LoanDate').val(data.LoanDate);
                $('#LoanAmount').val(data.LoanAmount);
                $('#InterestRate').val(data.InterestRateToDisplay);
                $('#InstallmentTypeId').val(data.InstallmentTypeId);
                $('#NumberOfInstallment').val(data.NumberOfInstallment);
                $('#ExtraFee').val(data.ExtraFee);
                $('#PurposeOfLoan').val(data.PurposeOfLoan);
                $('#TotalPurchaseAmount').val(data.TotalPurchaseAmount);
                $('#TotalAssetCost').val(data.TotalAssetCost);
                $('#DistributorName').val(data.DistributorName);
                $('#LoanExpiryDate').val(data.LoanExpiryDate);
                $('#LoanExpiryDate').val(data.LoanExpiryDate);
                //$('#COA_accountName').val(data.COAId);
                $('#ResidentialCondition').val(data.ResidentialConditionId);
                if (data.IsDepositsFromSaving == true) {
                    $("#IsDepositsFromSaving").attr('checked', true);
                } else {
                    $("#IsDepositsFromSaving").attr('checked', false);
                }
                $("#LoanAmount").keyup();
                //document.getElementById('labelweeklyLoanAmount').innerHTML = data.LoanAmount;
                //document.getElementById('labelweeklyInterestRate').innerHTML = data.InterestRate;
                //document.getElementById('labelweeklyNoInstallment').innerHTML = data.NumberOfInstallment;
                //document.getElementById('labelweeklyInstallmentAmount').innerHTML = data.InstallmentAmount;
                //document.getElementById('labelweeklyInstallmentType').innerHTML = data.InstallmentTypeName;

                //$('#submit').val('Update');

            }

            $("#print").click(function() {
                alert(3);

            });

            // chart of account load
            @*LoadCOA();
        function LoadCOA() {
          //  $("#COA_accountName").empty();
            $.ajax({
                type: "GET",
                url: '@Url.Action("Get_COAaccountCodeInfo", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                //data: JSON.stringify(json),
                success: function (data) {
                 //   $("#COA_accountName").append('<option value="0">--Select Code--</option>');
                    $.each(data, function (key, value) {
                        $("#COA_accountName").append('<option value=' + value.COAId + '>' + value.AccountCode + '</option>');
                        //alert(value.AccountCode);
                    });
                }
            });
        }*@


            @*$(function () {
            $("#COA_accountName").empty();
            $.ajax({
                type: "GET",
                url: '@Url.Action("Get_COAaccountCodeInfo", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                //data: JSON.stringify(json),
                success: function (data) {
                      $("#COA_accountName").append('<option value="0">--Select Code--</option>');
                    $.each(data, function (key, value) {
                        $("#COA_accountName").append('<option value=' + value.COAId + '>' + value.AccountCode + '</option>');
                        //alert(value.AccountCode);
                    });
                }
            });
        });*@

            // load Loan Type
            $(function() {
                $("#LoanType").empty();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetLoanTypeByAccountTitle", "Loan", new {Area = "Loan"})',
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        $("#LoanType").append('<option value="0">--Select Type--</option>');
                        $.each(data,
                            function(key, value) {
                                $("#LoanType").append('<option value=' +
                                    value.AccountSetupId +
                                    '>' +
                                    value.AccountTypeName +
                                    '</option>');
                            });
                    }
                });
            });

            $(function() {
                $("#ResidentialCondition").empty();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetResidentialConditionInfo", "Loan", new {Area = "Loan"})',
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        $("#ResidentialCondition").append('<option value="0">--Select Type--</option>');
                        $.each(data,
                            function(key, value) {
                                $("#ResidentialCondition").append('<option value=' +
                                    value.ResidentialConditionId +
                                    '>' +
                                    value.ResidentialConditionType +
                                    '</option>');
                            });
                    }
                });
            });

            // Get loan id
            $("#LoanType").change(function() {
                var loanType = $("#LoanType").val();
                var json = {
                    loanType: loanType
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetLoanId", "Loan", new {Area = "Loan"})',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $('#RefId').val(data.loanId);
                        loadReferrencdData();
                        $('#InterestRate').val(data.interestInfo.InterestRate);
                    }
                });
            });

            function loadReferrencdData() {
                var loanType = $("#LoanType").val();
                var json = {
                    loanType: loanType
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetRefName", "Loan", new {Area = "Loan"})',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //alert($('#RefName').val(data.substring(0, 13)));
                        $('#RefName').val(data.substring(0, 14));
                        $('#BrName').val(data.substring(data.length, 15));
                    }
                });
            }

            // Load installment type str.substring(0, 2);
            $(function() {
                $("#InstallmentTypeId").empty();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetInstallmentType", "Loan", new {Area = "Loan"})',
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        $("#InstallmentTypeId").append('<option value="0">--Select installment Type--</option>');
                        $.each(data,
                            function(key, value) {
                                $("#InstallmentTypeId").append('<option value=' +
                                    value.InstallmentTypeId +
                                    '>' +
                                    value.InstallmentTypeName +
                                    '</option>');
                            });
                    }
                });
            });

            // AutoComplete Customer Id
            $("#CustomerId").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoCompleteCustomerId", "Loan", new {Area = "Loan"})',
                        type: "GET",
                        dataType: "json",
                        data: { term: request.term },
                        success: function(data) {
                            response($.map(data,
                                function(item) {
                                    return { label: item, value: item };
                                }));
                        }
                    });
                },
                messages: {
                    noResults: "",
                    results: ""
                }
            });
// Get customer Information
            $("#CustomerId").change(function() {
                $('#AccountNumber').empty();
                var customerId = $("#CustomerId").val();
                var json = { customerId: customerId };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCustomerInfo", "Loan", new {Area = "Loan"})',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $('#CustomerInfo').show();
                        $('#customerImage').attr('src', data.CustomerImage);

                        $('#CustomerName').val(data.CustomerName);
                        document.getElementById('LabelCustomerName').innerHTML = data.CustomerName;
                        document.getElementById('FatherName').innerHTML = data.FatherName;
                        document.getElementById('LabelMotherName').innerHTML = data.MotherName;
                        document.getElementById('LabelSpouseName').innerHTML = data.SpouseName;
                        document.getElementById('LabelDateOfBirth').innerHTML = formateDate(data.DateOfBirth);
                        document.getElementById('LabelNationalId').innerHTML = data.NationalId;
                        document.getElementById('LabelOccupationAndPosition').innerHTML = data.OccupationAndPosition;
                        document.getElementById('LabelPresentAddress').innerHTML = data.PresentAddress;
                        document.getElementById('LabelPermanentAddress').innerHTML = data.PermanentAddress;
                        document.getElementById('LabelPosition').innerHTML = data.Position;
                        document.getElementById('LabelProfession').innerHTML = data.CustomerIncomeSource;
                        getAccountNumber(customerId);
                    }
                });
            });

            function getAccountNumber(customerId) {
                $("#AccountNumber").empty();
                var json = { customerId: customerId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSavingsAccounNumber", "Loan", new {Area = "Loan"})',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $("#AccountNumber").append('<option value="0">--Select Account Number--</option>');
                        $.each(data,
                            function(key, value) {
                                $("#AccountNumber").append('<option value=' +
                                    value.AccountNumber +
                                    '>' +
                                    value.AccountName +
                                    '</option>');
                            });
                    }
                });
            }

            $('#submit').click(function() {
                var isValid = checkValidation();
                if (isValid) {
                    var data = bindata();

                    $.ajax({
                        url: '@Url.Action("Save", "Loan", new {Area = "Loan"})',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function(d) {
                            $('#hdfLoanId').val('');
                            if (d.oCommonResult.Status == true) {
                                oTable.ajax.reload();
                                $('#submit').val('Save');
                                document.getElementById('showMessage').style.color = "green";
                                $('#hdfLoanId').val(data.LoanId);
                            }
                            document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                        },
                        error: function() {
                            document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                            $('#hdfLoanId').val('');
                        }
                    });

                }
            });

            $('#submitForCheck').click(function() {
                if (true) {
                    var loanId = $('#hdfLoanId').val();
                    var data = { loanId: loanId }

                    $.ajax({
                        url: '@Url.Action("SubmitForCheck", "Loan", new {Area = "Loan"})',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function(d) {
                            $('#hdfLoanId').val('');
                            if (d.oCommonResult.Status == true) {
                                window.location.reload();
                                //document.getElementById('showMessage').style.color = "green";
                            }
                            // document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;

                        },
                        error: function() {
                            document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                            $('#hdfLoanId').val('');
                        }

                    });

                }
            });

            $('#clear').click(function() {
                window.location.reload();
            });

            function bindata() {
                var loanAmount = parseInt($('#LoanAmount').val());
                var interestRate;
                if ($('#LoanType').val() == 12) {
                    interestRate = (parseFloat($('#InterestRate').val()) * 2) / 100;
                } else {
                    interestRate = parseFloat($('#InterestRate').val()) / 100;
                }

                var numberOfInstallment = parseInt($('#NumberOfInstallment').val());

                var r;
                var interestAmount;
                var installmentAmount;
                var principleWithInterest;
                var totalInterest;
                var a;
                var b;
                var c;
                if ($('#InstallmentTypeId').val() === 2) {
                    interestAmount = Math.round((loanAmount * interestRate) / 12);
                    if ($('#LoanType').val() == 12) {
                        r = (parseFloat($('#InterestRate').val()) * 2) / 1200;
                    } else {
                        r = parseFloat($('#InterestRate').val()) / 1200;
                    }
                    a = parseFloat(loanAmount * r);
                    b = parseFloat(Math.pow(1 + r, -numberOfInstallment));
                    c = 1 - b;
                    installmentAmount = Math.round(a / c);
                    principleWithInterest = parseFloat(installmentAmount * numberOfInstallment);
                    totalInterest = Math.round(principleWithInterest - loanAmount);

                }
                if ($('#InstallmentTypeId').val() == 1) {
                    interestAmount = parseFloat((loanAmount * interestRate) / 52);
                    if ($('#LoanType').val() == 12) {
                        r = (parseFloat($('#InterestRate').val()) * 2) / 5200;
                    } else {
                        r = parseFloat($('#InterestRate').val()) / 5200;
                    }
                    a = parseFloat(loanAmount * r);
                    b = parseFloat(Math.pow(1 + r, -numberOfInstallment));
                    c = 1 - b;
                    installmentAmount = Math.round(a / c);
                    principleWithInterest = parseFloat(installmentAmount * numberOfInstallment);
                    totalInterest = Math.round(principleWithInterest - loanAmount);
                }

                var isDeposits;
                if ($('#IsDepositsFromSaving').prop("checked") === true) {
                    isDeposits = 1;
                } else {
                    isDeposits = 0;
                }
                var iR;
                var iRtd;

                if ($('#LoanType').val() == 12) {
                    iR = parseFloat($('#InterestRate').val()) * 2;
                    iRtd = $('#InterestRate').val();
                } else {
                    iR = $('#InterestRate').val();
                    iRtd = $('#InterestRate').val();
                }
                var data = {
                    IsDepositsFromSaving: isDeposits,
                    AccountSetupId: $('#LoanType option:selected').val(),
                    LoanId: $('#RefId').val(),
                    ReferenceName: $('#RefName').val(),
                    CustomerId: $('#CustomerId').val(),
                    AccountNumber: $('#AccountNumber option:selected').val(),
                    LoanDate: $('#LoanDate').val(),
                    LoanAmount: $('#LoanAmount').val(),
                    InterestRate: iR,
                    InterestRateToDisplay: iRtd,
                    InstallmentTypeId: $('#InstallmentTypeId option:selected').val(),
                    NumberOfInstallment: $('#NumberOfInstallment').val(),
                    ExtraFee: $('#ExtraFee').val(),
                    PurposeOfLoan: $('#PurposeOfLoan').val(),
                    TotalPurchaseAmount: $('#TotalPurchaseAmount').val(),
                    TotalAssetCost: $('#TotalAssetCost').val(),
                    DistributorName: $('#DistributorName').val(),
                    LoanExpiryDate: $('#LoanExpiryDate').val(),
                    InterestAmount: interestAmount,
                    InstallmentAmount: installmentAmount,
                    TotalInterest: totalInterest,
                    ResidentialConditionId: $('#ResidentialCondition option:selected').val()
                }

                return data;

            }

            function checkValidation() {
                var isValid = true;
                if ($('#LoanType').val().trim() === '0') {
                    isValid = false;
                    $('#LoanType').parent().prev().find('span').css('visibility', 'visible');
                } else {
                    $('#LoanType').parent().prev().find('span').css('visibility', 'hidden');
                }
                if ($('#RefId').val().trim() === '') {
                    isValid = false;
                    $('#RefId').parent().prev().find('span').css('visibility', 'visible');
                } else {
                    $('#RefId').parent().prev().find('span').css('visibility', 'hidden');
                }
                if ($('#CustomerId').val().trim() === '') {
                    isValid = false;
                    $('#CustomerId').parent().prev().find('span').css('visibility', 'visible');
                } else {
                    $('#CustomerId').parent().prev().find('span').css('visibility', 'hidden');
                }
                if ($('#AccountNumber').val() === '0') {
                    isValid = false;
                    $('#AccountNumber').parent().prev().find('span').css('visibility', 'visible');
                } else {
                    $('#AccountNumber').parent().prev().find('span').css('visibility', 'hidden');
                }
                //if ($('#COA_accountName').val().trim() === '0') {
                //    isValid = false;
                //    $('#COA_accountName').parent().prev().find('span').css('visibility', 'visible');
                //}
                //else {
                //    $('#COA_accountName').parent().prev().find('span').css('visibility', 'hidden');
                //}

                //if ($('#InstallmentTypeId').val() === '0') {
                //    isValid = false;
                //    $('#InstallmentTypeId').parent().prev().find('span').css('visibility', 'visible');
                //}
                //else {
                //    $('#InstallmentTypeId').parent().prev().find('span').css('visibility', 'hidden');
                //}
                return isValid;
            }

            //json to date converter
            function formateDate(jsonDate) {
                var monthNames = [
                    "Jan", "Feb", "Mar", "Apr", "May", "Jun",
                    "Jul", "Aug", "Sep", "Oct", "Novr", "Dec"
                ];
                var date = new Date(parseInt(jsonDate.substr(6)));
                var dd = date.getDate();
                var mm = monthNames[date.getMonth()];
                var yyyy = date.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                var formmatedDate = dd + '/' + mm + '/' + yyyy;
                return formmatedDate;
            }

            //date picker
            $('.datepicker').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
            $('#LoanDate').datepicker({
                dateFormat: 'dd/M/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+60",
                type: Text
            }).click(function() { $(this).focus(); });
            $('#LoanExpiryDate').datepicker({
                dateFormat: 'dd/M/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+60",
                type: Text
            }).click(function() { $(this).focus(); });


            $('#gaurantorInfoTab').on('click',
                function() {
                    $('#gaurantorInfo').load('@Url.Action("Guarantor", "Loan")?loanId=' + $('#hdfLoanId').val());
                });


            $('#commentsAndSignatoryInfoTab').on('click',
                function() {
                    $('#CommentsAndSignatory').load('@Url.Action("CommentsAndSignatory", "Loan")?loanId=' +
                        $('#hdfLoanId').val());
                });


            $('#financialInfoTab').on('click',
                function() {
                    $('#Financial').load('@Url.Action("FinancialJustification", "Loan")?loanId=' +
                        $('#hdfLoanId').val());
                    @*$('#MonthlyIncome').load('@Url.Action("Income", "Loan")?loanId=' + $('#hdfLoanId').val());
            $('#MonthlyExpense').load('@Url.Action("Expense", "Loan")?loanId=' + $('#hdfLoanId').val());*@
                });

            $('#customersChequeInfoTab').on('click',
                function() {
                    $('#CustomersCheque').load('@Url.Action("CustomersChequeInfo", "Loan")?loanId=' +
                        $('#hdfLoanId').val());
                });

            $("#LoanAmount").keyup(function() {
                var amount = parseFloat($('#LoanAmount').val().replace(/,/g, ''));
                var user = $.trim(amount);
                if (user.length >= 1) {
                    $.post("/Transaction/Transaction/GetConvertNumberToWord",
                        { number: amount },
                        function(data) {
                            var money = data + 'Tk Only';
                            $('#Inwords').val(money);

                        });
                }
            });

        })();

        function IsInteger(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;

            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            } else if (charCode == 13 || charCode == 46) {
                return false;
            }
            status = "";
            return true;
        }

        function IsDouble(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;

            if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
                return false;
            } else if (charCode == 13) {
                return false;
            }
            status = "";
            return true;
        }
    </script>
}















