﻿@model TonyMultipurpose.Areas.Loan.Models.NotificationCheck
@{
    ViewBag.Title = "Notification";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    <div class="form-group">
        <label class="control-label"> Loan Id</label>
        <label id="Notification_showMessage" style="color: red; font-size: medium"></label>
        @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "NotificationCheck_LoanId", @readonly = "readonly" })
        @Html.ValidationMessageFor(l => l.LoanId, "", new { @class = "text-danger", @style = "color:red" })
        <input type="hidden" id="hdfNotificationCheckId" name="NotificationCheckId" value="">
        <input type="hidden" id="hdfNotificationStatus" name="NotificationStatus" value="">

    </div>

    <div class="form-group">
        <label class="control-label">Notification</label>
        @Html.TextBoxFor(l => l.Notification, new { @class = "form-control", id = "NotificationCheck_Notification" })
        @Html.ValidationMessageFor(l => l.Notification, "", new { @class = "text-danger", @style = "color:red" })
    </div>
    <div class="form-group">
        <label class="control-label">Status</label>
        @Html.DropDownList("Status", new List<SelectListItem>()
        {
            new SelectListItem {Text = "Pending", Value = "false"},
            new SelectListItem {Text = "Done", Value = "true"}
        }, new { @class = "form-control" })
        @Html.ValidationMessageFor(l => l.Status, "", new { @class = "text-danger", @style = "color:red" })
    </div>
    <div class="form-group row" style="margin-left: 0px;">
        <input id="saveNotification" type="button" value="Save" class="btn btn-success" style="padding: 8px 15px;" />
        <input id="UpdateNotification" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
        <input id="deleteNotification" type="button" value="Delete" class="btn btn-success" style="padding: 8px 15px;" />
        <input id="Notification_Clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 15px;" />
    </div>


    <div class="tablecontainer table-responsive">
        <table id="NotificationTable" class="display" cellspacing="0" style="width: 100%;">
            <thead>
                <tr>
                    <th>Loan Id</th>
                    <th>Notification</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
</form>

<script>
    $('#UpdateNotification').hide();
    $('#deleteNotification').hide();
    // Load Function function
    var oNotificationTable;
    NotificationTable();
    function NotificationTable() {
        oNotificationTable = $('#NotificationTable').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllNotificationInfo", "Loan", new { Area = "Loan" })',
                "type": "get",
                "data": {
                    "LoanId": $('#NotificationCheck_LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "LoanId" },
                { "data": "Notification" },
                { "data": "Msg" },
            ],
            "order": [[0, "desc"]],
            searching: false,
            paging: false,
            "bInfo": false
        });
        $('#NotificationTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oNotificationTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            bindDataNotification(oNotificationTable.row(this).data());
        });
    }
    function bindDataNotification(data) {
        $('#hdfNotificationCheckId').val(data.NotificationCheckId);
        $('#NotificationCheck_Notification').val(data.Notification);
        $('#NotificationCheck_LoanId').val(data.LoanId);
        $('#hdfNotificationStatus').val(data.Status);
        $('#Status').val($('#hdfNotificationStatus').val());
        $('#saveNotification').hide();
        $('#UpdateNotification').show();
        $('#deleteNotification').show();
    }
    function NotificationClearAll() {
        $('#NotificationCheck_Notification').val('');
        //$('#Status option:selected').val("false");
        $('#saveNotification').show();
        $('#UpdateNotification').hide();
        $('#deleteNotification').hide();
    }
    // caler function
    $('#Notification_Clear').click(function () {

        NotificationClearAll();
    });

    // Save function
    $('#saveNotification').click(function () {
        var isAllDataValid = true;
        if (isAllDataValid) {
            var data = Binddata();
            $.ajax({
                url: '@Url.Action("SaveNotification", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.oCommonResult.Status == true) {
                        oNotificationTable.ajax.reload();
                        NotificationClearAll();
                        $('#saveNotification').show();
                        $('#UpdateNotification').hide();
                        $('#deleteNotification').hide();
                        document.getElementById('Notification_showMessage').style.color = "green";
                    }
                    document.getElementById('Notification_showMessage').innerHTML = d.oCommonResult.Message;
                },
                error: function () {
                    document.getElementById('Notification_showMessage').innerHTML = 'Error. Please try again.';
                }
            });
        }
    });

    function Binddata() {
        var data = {
            LoanId: $('#NotificationCheck_LoanId').val(),
            Notification: $('#NotificationCheck_Notification').val(),
            NotificationCheckId: $('#hdfNotificationCheckId').val(),
            Status: $('#Status').val()
        }
        return data;
    }

    $('#UpdateNotification').click(function () {

        var isAllDataValid = true;

        if (isAllDataValid) {

            var data = Binddata();
            $.ajax({
                url: '@Url.Action("UpdateNotification", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        NotificationClearAll();
                        oNotificationTable.ajax.reload();
                        $('#saveNotification').show();
                        $('#UpdateNotification').hide();
                        $('#deleteNotification').hide();
                    }
                },
                error: function () {

                }
            });
        }
    });
    $('#deleteNotification').click(function () {
        if (confirm("Are you sure?")) {
            var data = Binddata();
            $.ajax({
                url: '@Url.Action("DeleteNotification", "Loan", new { Area = "Loan" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        oNotificationTable.ajax.reload();
                        NotificationClearAll();
                        $('#saveNotification').show();
                        $('#UpdateNotification').hide();
                        $('#deleteNotification').hide();
                    }
                },
                error: function () {

                }
            });
        }
        return false;
    });
</script>

