﻿@using TonyMultipurpose.Areas.Loan.Models;
@model IEnumerable<LoanModel>
@{
    ViewBag.Title = "Rject Loan Loan";

}
@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <style>
        /*Adding some css for looks good*/
        span.error {
            display: block inline;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 1px solid #BFAEAE !important;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: left;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }

        #hideid {
            display: none;
        }

        .formatedTable td {
            padding-bottom: 6px;
        }

        .formatedTable input {
            padding-right: 210px;
        }

        .form-group {
            margin-bottom: 7px;
        }
    </style>
}





<div class="clearfix"></div>

<div class="table table-bordered">
    <table id="LoanTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th>Loan Id</th>
                <th>Loan Type Name</th>
                <th>Loan Date</th>
                <th>Loan Expire Date</th>
                <th>Customer Name</th>
                <th>Account Number</th>
                <th>Loan Amount</th>
                <th>Interest Rate</th>
                <th>EMI</th>
                <th>Installment Type Name</th>
                <th>User Name</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script>
    (function () {
        var oTable;
        $(document).ready(function () {
            loadTable();
        });
        function loadTable() {
            oTable = $('#LoanTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetrejectLoanList", "Loan", new {Area = "Loan" })',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "LoanId" },
                    { "data": "AccountTypeName" },
                    { "data": "LoanDate" },
                    { "data": "LoanExpiryDate" },
                    { "data": "CustomerName" },
                    { "data": "AccountNumber" },
                    { "data": "LoanAmount" },
                    //{ "data": "InterestRate" },
                    { "data": "InterestRateToDisplay" },
                    { "data": "InstallmentAmount" },
                    { "data": "InstallmentTypeName" },
                    { "data": "UserName" },
                    {
                        "data": "LoanId",
                        "width": "50px",
                        "render": function (data) {
                            return '<a class="btn btn-danger" onclick="confirmToSubmit(\'' + data + '\')">Reopen</a>';
                            }
                    }
                ],
                "order": [[0, "desc"]],
            });
        }


    })();

    function confirmToSubmit(loanId) {
        var isConfirmed = confirm('Are you sure?');
        if (isConfirmed) {
            window.location.href = "@Url.Action("ReopenLoan", "Loan",new { Area ="Loan"})" + "?loanId=" + loanId;
        }
    }

    </script>
}







