﻿@model TonyMultipurpose.Areas.Loan.Models.AdditionalLoanDetail
@{
    ViewBag.Title = "Save Additional Loan Info";
    Layout = null;
}
<form id="popupForm">
    <input type="hidden" id="hdfAdditionalLoanDetail" name="AdditionalLoanDetail" value="">
    <div class="row form-group">
        <div class="col-md-8">
            <label>Referrence Id</label>
            @Html.EditorFor(model => model.LoanId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @*@Html.ValidationMessageFor(a => a.LoanId, "", new { @class = "text-danger", @style = "color:red" })*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <label for="" class="control-label">Institute Name<span class="error">*</span></label>
            <input class="form-control" type="text" id="AdditionalInstituteName" name="AdditionalInstituteName">
            @*@Html.ValidationMessageFor(a => a.InstituteName, "", new { @class = "text-danger", @style = "color:red" })*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <label for="" class="control-label">Loan Amount<span class="error">*</span></label>
            <input class="form-control" type="text" id="AdditionalLoanAmount" name="AdditionalLoanAmount">
            @*@Html.ValidationMessageFor(a => a.LoanAmount, "", new { @class = "text-danger", @style = "color:red" })*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <label for="" class="control-label">Existing Emi<span class="error">*</span></label>
            <input class="form-control" type="text" id="AdditionalExistingEmi" name="AdditionalExistingEmi">
            @*@Html.ValidationMessageFor(a => a.ExistingEmi, "", new { @class = "text-danger", @style = "color:red" })*@
        </div>
    </div>
    <div class="form-group row" style="margin-left:0px;">
        <input id="saveAdditionalLoanInfo" type="button" value="Save" class="btn btn-primary" />
        <input id="updateAdditionalLoanInfo" type="button" value="Update" class="btn btn-primary" />
        <input id="deleteAdditionalLoanInfo" type="button" value="Delete" class="btn btn-primary" />
        <input id="clearAdditionalLoanInfo" type="button" value="Clear" class="btn btn-primary" />
    </div>
</form>
<div class="tablecontainer table-responsive">
    <table id="AdditionalTable" class="display" cellspacing="0" style="width: 50%;">
        <thead>
            <tr>
                <th>Loan Id</th>
                <th>Institute Name</th>
                <th>Loan Amount</th>
                <th>Existing Emi</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="3" style="text-align:right">Total:</th>
                <th></th>
            </tr>
        </tfoot>
        @*<tbody class="" id="result"></tbody>*@
    </table>
</div>

<script>
    (function () {
        $('#deleteAdditionalLoanInfo').hide();
        $('#updateAdditionalLoanInfo').hide();

        var emiTotal;
        var z;
        var oAdditionalTable;
        ShowData();

        $('#saveAdditionalLoanInfo').click(function () {
            var isValid = checkAdditionalLoanDetailsValidation();
            if (isValid) {
                var data = {
                    LoanId: $('#LoanId').val(),
                    InstituteName: $('#AdditionalInstituteName').val(),
                    LoanAmount: $('#AdditionalLoanAmount').val(),
                    ExistingEmi: $('#AdditionalExistingEmi').val()
                }
                $.ajax({
                    url: '@Url.Action("SaveAdditionalLoanInfo", "Loan", new { Area = "Loan" })',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status === true) {
                            oAdditionalTable.ajax.reload();
                            clearAdditionalFields();
                        }
                    },
                    error: function () {
                    }
                });
            }
        });

        $('#updateAdditionalLoanInfo').click(function () {
            var isValid = checkAdditionalLoanDetailsValidation();
            if (isValid) {
                var data = {
                    AdditionalLoanDetailId: $('#hdfAdditionalLoanDetail').val(),
                    LoanId: $('#LoanId').val(),
                    InstituteName: $('#AdditionalInstituteName').val(),
                    LoanAmount: $('#AdditionalLoanAmount').val(),
                    ExistingEmi: $('#AdditionalExistingEmi').val()
                }
                $.ajax({
                    url: '@Url.Action("UpdateAdditionalLoanInfo", "Loan", new { Area = "Loan" })',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status === true) {
                            oAdditionalTable.ajax.reload();
                            clearAdditionalFields();
                        }
                    },
                    error: function () {
                    }
                });
            }
        });

        $('#deleteAdditionalLoanInfo').click(function () {
                if (confirm("Are you sure?")) {
                var data = {
                    LoanId: $('#LoanId').val(),
                    AdditionalLoanDetailId: $('#hdfAdditionalLoanDetail').val()
                }
                $.ajax({
                    url: '@Url.Action("DeleteAdditionalLoanInfo", "Loan", new { Area = "Loan" })',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status === true) {
                            oAdditionalTable.ajax.reload();
                            clearAdditionalFields();
                        }
                    },
                    error: function () {
                    }
                });
            }
            return false;
        });

        $('#clearAdditionalLoanInfo').on('click', function () {
            clearAdditionalFields();
        });



        //functions
        function ShowData() {
            oAdditionalTable = $('#AdditionalTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetAdditionalLoanInfoById", "Loan", new {Area = "Loan" })',
                    "type": "get",
                    "data": {
                        "LoanId": $('#LoanId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "LoanId" },
                    { "data": "InstituteName" },
                    { "data": "LoanAmount" },
                    { "data": "ExistingEmi" }
                ],
                searching: false,
                paging: false,
                "bInfo": false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(3)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    emiTotal = api
                        .column(3, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(3).footer()).html(
                         emiTotal
                    );
                    z = emiTotal;
                }
            });

            $('#AdditionalTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oAdditionalTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindAdditionalLoanData(oAdditionalTable.row(this).data());
            });
        };

        function bindAdditionalLoanData(data) {
            $('#hdfAdditionalLoanDetail').val(data.AdditionalLoanDetailId);
            $('#AdditionalInstituteName').val(data.InstituteName);
            $('#AdditionalLoanAmount').val(data.LoanAmount);
            $('#AdditionalExistingEmi').val(data.ExistingEmi);
            $('#deleteAdditionalLoanInfo').show();
            $('#updateAdditionalLoanInfo').show();
            $('#saveAdditionalLoanInfo').hide();
        }

        function checkAdditionalLoanDetailsValidation() {
            var isValid = true;
            if ($('#AdditionalInstituteName').val().trim() === '') {
                isValid = false;
                $('#AdditionalInstituteName').prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#AdditionalInstituteName').prev().find('span').css('visibility', 'hidden');
            }
            if ($('#AdditionalLoanAmount').val().trim() === '') {
                isValid = false;
                $('#AdditionalLoanAmount').prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#AdditionalLoanAmount').prev().find('span').css('visibility', 'hidden');
            }
            return isValid;
        }
        function clearAdditionalFields() {
            $('#AdditionalInstituteName').val('');
            $('#AdditionalLoanAmount').val('');
            $('#AdditionalExistingEmi').val('');
            $('#deleteAdditionalLoanInfo').hide();
            $('#updateAdditionalLoanInfo').hide();
            $('#saveAdditionalLoanInfo').show();
        }

    })();
</script>


