﻿@using System.Globalization
@using Microsoft.Ajax.Utilities
@using Microsoft.SqlServer.Server
@using TonyMultipurpose.Areas.Customer.Models
@model CustomerModel
@{
    ViewBag.Title = "CustomerDetail";
    ViewBag.trade = Model.TradeLicenseDate.HasValue ? Model.TradeLicenseDate.Value.ToString("dd/MMM/yyyy"): String.Empty;
    ViewBag.expire = Model.PassportExpireDate.HasValue ? Model.PassportExpireDate.Value.ToString("dd/MMM/yyyy") : String.Empty;
}


<div class="container panel panel-default" style="float: left">
    <div class="panel-heading"><h2>Customer Information </h2></div>
    <div class="panel-body">
        <table width="100%">

            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <label class="control-label">1. Entry Date</label>
                            </td>
                            <td>
                                <input type="text" id="CustomerEntryDate" class="form-control" value="@Model.CustomerEntryDate.ToString("dd/MMM/yyyy")" readonly="readonly"/>
                                <span class="error">Entry Date required (ex. MMM-dd-yyyy)</span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                              <label class="control-label">2. Customer Name</label>
                            </td>
                            <td>
                                <input type="text" id="CustomerName" class="form-control" value="@Model.CustomerName" readonly="readonly"/>
                                <span class="error">Customer Name is required</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="control-label">3. Trade License</label>
                            </td>
                            <td>
                                <input type="text" id="TradeLicenseNo" class="form-control" value="@Model.TradeLicenseNo" readonly="readonly"/>
                                <span class="error">Trade License required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                              <label class="control-label">4. Trade License Date</label>
                            </td>
                            <td>
                                <input type="text" id="TradeLicenseDate" class="form-control" value="@ViewBag.trade" readonly="readonly"/>
                                <span class="error">Trade License Date is required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                             <label class="control-label">5. Registration No</label>
                            </td>
                            <td>
                                <input type="text" id="RegistrationNo" class="form-control" value="@Model.RegistrationNo" readonly="readonly"/>
                                <span class="error">Registration No required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <label class="control-label">6. Registration Authority</label>
                            </td>
                            <td>
                                <input type="text" id="RegistrationAuthority" class="form-control" value="@Model.RegistrationAuthority" readonly="readonly"/>
                                <span class="error">Registration Authority is required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <label class="control-label">7. Father Name</label>
                            </td>
                            <td>
                                <input type="text" id="FatherName" class="form-control" value="@Model.FatherName" readonly="readonly"/>
                                <span class="error">Father Name required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <label class="control-label">8. Mother Name</label>
                            </td>
                            <td>
                                <input type="text" id="MotherName" class="form-control" value="@Model.MotherName" readonly="readonly"/>
                                <span class="error">Mother Name required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <label class="control-label">9. Spouse Name</label>
                            </td>
                            <td>
                                <input type="text" id="SpouseName" class="form-control" value="@Model.SpouseName" readonly="readonly"/>
                                <span class="error">Spouse Name required</span>
                            </td>

                        </tr>
                        <tr>

                            <td>
                                <label class="control-label">10.Nationality</label>
                            </td>
                            <td>
                                <input type="text" id="Nationality" class="form-control" value="@Model.Nationality" readonly="readonly"/>
                                <span class="error">Nationality required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">11. NID No</label>
                            </td>
                            <td>
                                <input type="text" id="NationalId" class="form-control" value="@Model.NationalId" readonly="readonly"/>
                                <span class="error">NID No required</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                               <label class="control-label">12. Date Of Birth</label>
                            </td>
                            <td>
                                <input type="text" id="DateOfBirth" class="form-control" value="@Model.DateOfBirth.ToString("dd/MMM/yyyy")" readonly="readonly"/>
                                <span class="error">Date Of Birth is required</span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                               <label class="control-label"> 13. Gender</label>
                            </td>
                            <td>
                                @Html.DropDownListFor(a => a.Gender, new List<SelectListItem>()
            {
                new SelectListItem {Text = "Male", Value = "male"},
                new SelectListItem {Text = "Female", Value = "female"},
                new SelectListItem {Text = "Others", Value = "other"}
            }, new { @class = "form-control" ,@disabled="disabled"})
                                <span class="error">Gender is required</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="control-label">14. Occupation & Designation</label>
                            </td>
                            <td>
                                <input type="text" id="OccupationAndPosition" class="form-control" value="@Model.OccupationAndPosition" readonly="readonly"/>
                                <span class="error">Occupation & Designation required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <label class="control-label">15. Passport No</label>
                            </td>
                            <td>
                                <input type="text" id="PassportNo" class="form-control" value="@Model.PassportNo" readonly="readonly"/>
                                <span class="error">Passport No required</span>
                            </td>

                        </tr>
                        <tr>

                            <td>
                                <label class="control-label">16. Passport Expire Date</label>
                            </td>
                            <td>
                                <input type="text" id="PassportExpireDate" class="form-control" value="@ViewBag.expire" readonly="readonly"/>
                                <span class="error">Passport Expire Date required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">17. TIN NO</label>
                            </td>
                            <td>
                                <input type="text" id="TINNo" class="form-control" value="@Model.TINNo" readonly="readonly"/>
                                <span class="error">TIN NO Is required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <label class="control-label">18. Driving License No</label>
                            </td>
                            <td>
                                <input type="text" id="DrivingLicenseNo" class="form-control" value="@Model.DrivingLicenseNo" readonly="readonly"/>
                                <span class="error">Driving License No required</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="control-label">19. Present Address</label>
                            </td>
                            <td>
                                <textarea id="PresentAddress" style="width: 100%" class="form-control" readonly="readonly">@Model.PresentAddress</textarea>
                                <span class="error">Present Address required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">20. Permanent Address</label>
                            </td>
                            <td>
                                <textarea id="PermanentAddress" style="width: 100%" class="form-control" readonly="readonly">@Model.PermanentAddress</textarea>
                                <span class="error">Permanent Address required</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="control-label">21. Office Address</label>
                            </td>
                            <td>
                                <textarea id="OfficeAddress" style="width: 100%" class="form-control" readonly="readonly">@Model.OfficeAddress</textarea>
                                <span class="error">Office Address required</span>
                            </td>

                        </tr>


                        <tr>
                            <td>
                                <label class="control-label">22. Home</label>
                            </td>
                            <td>
                                <input type="text" id="Home" class="form-control" value="@Model.Home" readonly="readonly"/>
                                <span class="error">Home No required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">23. Office No</label>
                            </td>
                            <td>
                                <input type="text" id="Office" class="form-control" value="@Model.Office" readonly="readonly"/>
                                <span class="error">Office No required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">24. Mobile</label>
                            </td>
                            <td>
                                <input type="text" id="Mobile" class="form-control" value="@Model.Mobile" readonly="readonly"/>
                                <span class="error">Mobile No required</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="control-label">25. Email</label>
                            </td>
                            <td>
                                <input type="text" id="Email" class="form-control" value="@Model.Email" readonly="readonly"/>
                                <span class="error">Email required</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                               <label class="control-label">26. Income Source</label>
                            </td>
                            <td>
                                <input type="text" id="CustomerIncomeSource" class="form-control" value="@Model.CustomerIncomeSource" readonly="readonly"/>
                                <span class="error">Income Source is required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">27. Image</label>
                            </td>
                            <td>
                                <img src="@Model.CustomerImage" alt="No Image" width="300px" height="300px" id="imageDisplay" />
                                <input type="file" id="CustomerImage" class="form-control" readonly="readonly"/>
                                <span class="error">Customer Image required</span>
                            </td>
                            <input type="hidden" id="CustomerId" class="form-control" value="@Model.CustomerId"/>
                            @*<input type="hidden" id="CustomerImage" class="form-control" value="@Model.CustomerId" />*@
                        </tr>
                    </table>
                </td>
            </tr>


        </table>
        <hr />
        <div id="BankItems" class="tablecontainer table table-striped table-hover">

        </div>
        
        <div style="padding: 10px 0px; text-align: right">
            <a class="btn btn-primary" href="~/Customer/Approval/Index">Back To List</a>
        </div>
       
            @*<div class="form-group">
                <div class=" col-sm-offset-1 col-sm-2 " style="padding:10px 0px; text-align:right">
                    @Html.ActionLink("Back To List", "Index")
                </div>
            </div>*@
        

    </div>
</div>


@section styles
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
    /*Adding some css for looks good*/
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 90%;
        }


        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 1px solid #BFAEAE !important;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: left;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }

        #hideid {
            display: none;
        }
    </style>
} 

@section scripts
{
    <script>
        var banks = @Html.Raw(Json.Encode(Model.CustomerBankDetails));   
    </script>
<script src="~/Scripts/Custom/Customer/ApprovalDetail.js"></script>
}

















