﻿@model IEnumerable<TonyMultipurpose.Areas.Customer.Models.CustomerModel>
@{
    ViewBag.Title = "Customer Approval";
    WebGrid grid = new WebGrid(Model, canPage: true,
        canSort: true, rowsPerPage: 20, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
}



<h2>Customer Approval</h2>
<hr />
<div class="form-group">
    <div class="input-group col-md-3 col-sm-4 col-xs-6">
        <span class="input-group-addon">Search</span>
        <input type="text" id="search" class="form-control input-sm" placeholder="Enter Search Kewords" />
    </div>
</div>
@using (Html.BeginForm("Approve", "Approval", FormMethod.Post))
{
    <div class="table-responsive">
        @grid.GetHtml(
            tableStyle: "table table-bordered table-striped table-condensed",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                    grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@item.CustomerID" name="CustomerId" /> </text>,
                        header: "{checkall}"
                        ),
                    grid.Column("CustomerEntryDate", "Entry date", (item) => string.Format("{0:dd/MMM/yyyy}", item.CustomerEntryDate)),
                    grid.Column("CustomerId", "Customer Id"),
                    grid.Column("CustomerName", "Customer Name"),
                    grid.Column("FatherName", "Father Name"),
                    grid.Column("MotherName", "Mother Name"),
                    grid.Column("DateOfBirth", "Birth Date", (item) => string.Format("{0:dd/MMM/yyyy}", item.DateOfBirth)),
                    grid.Column("NationalId", "NID No"),
                    grid.Column("Mobile", "Mobile"),
                    grid.Column("PresentAddress", "Present Address"),
                    grid.Column("Username", "Created By"),
                    grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new { id = item.CustomerId }, new { target = "_blank" })  </text>,
                        header: "Detail")
                )
            )
    </div>

            <div>
                <input type="submit" value="Approve" class="btn btn-success btn-sm" />
            </div>
}

@section scripts
{
    
<script src="~/Scripts/Custom/Customer/ApprovalIndex.js"></script>
}
