﻿@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.Customer.Models.CustomerModel>
@{
    ViewBag.Title = "CustomerApproval";
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 5, ajaxUpdateContainerId: "checkableGrid",ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
}


@* Here  I am going to add some css for better looks *@

<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        /*table.gridtable td{color: green;}*/

         table.gridtable td a:visited {color: red;}


</style>

<h2>Customer Approval</h2>
<hr/>
   <div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
       <input type="text" id="search" class="form-control" placeholder="search" />
</div>
<hr />
@using (Html.BeginForm("Approve", "Approval", FormMethod.Post))
{
        <div class="table-responsive">
        @grid.GetHtml(
            tableStyle: "table gridtable",
            htmlAttributes: new {id = "checkableGrid"},
            columns: grid.Columns
                (
                    //Here I am going to add checkbox column
                    grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@item.CustomerID" name="CustomerId"/> </text>,
                        header: "{checkall}"
                        ),
                    grid.Column("CustomerEntryDate", "Entry date", format:
        (item) => string.Format("{0:dd/MMM/yyyy}", item.CustomerEntryDate)),
                    grid.Column("CustomerId", "Customer Id"),
                    grid.Column("CustomerName", "Customer Name"),
                    grid.Column("FatherName", "Father Name"),
                    grid.Column("MotherName", "Mother Name"),
                    grid.Column("DateOfBirth", "Birth Date", format:
        (item) => string.Format("{0:dd/MMM/yyyy}", item.DateOfBirth)),
                    grid.Column("NationalId", "NID No"),
                    grid.Column("Mobile", "Mobile"),
                    grid.Column("PresentAddress", "Present Address"),
                    grid.Column("Username", "Created By"),
                    grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new {id = @item.CustomerId },new {target="_blank"})  </text>,
                        header: "Detail")
                    @*grid.Column(format: @<text>@Html.ActionLink("Delete", "Delete", new { id = @item.CustomerId }, new { onclick = "return ConfirmDelete('Are you sure?');" }) </text>,
                    header: "Delete")*@
                )
            )
            </div>
    
                <div>
                    <input type="submit" value="Approve" class="btn btn-success"/>
                </div>
}



    @* Here I am going to add some Jquery Code *@


<script src="~/Scripts/jquery-3.1.1.js"></script>

 

<script>
    
    $(document).ready(function () {

        //debugger;
        //$('#checkableGrid > tbody > tr').each(function (index) {

        //    if ($(this).children('td:nth-child(10)').Text() == "visited") {
        //        $(this).children('td').css("background-color", "#33CC99");
        //    } else {
        //        $(this).children('td').css("background-color", "#FFCC99");
        //    }

        //});

       

                        // 1st replace first column header text with checkbox
                        checkBoxHeader();

                        //3rd click event for checkbox of each row
                        $("input[name='ids']").click(function () {
                            var totalRows = $("#checkableGrid td :checkbox").length;
                            var checked = $("#checkableGrid td :checkbox:checked").length;

                            if (checked == totalRows) {
                                $("#checkableGrid").find("input:checkbox").each(function () {
                                    this.checked = true;
                                });
                            }
                            else {
                                $("#cbSelectAll").removeAttr("checked");
                            }
                        });

                        $("#search").keyup(function () {
                            filter = new RegExp($(this).val(), 'i');
                            $("#checkableGrid tbody tr").filter(function () {
                                $(this).each(function () {
                                    found = false;
                                    $(this).children().each(function () {
                                        content = $(this).html();
                                        if (content.match(filter)) {
                                            found = true
                                        }
                                    });
                                    if (!found) {
                                        $(this).hide();
                                    }
                                    else {
                                        $(this).show();
                                    }
                                });
                            });
                        });


                    });
                    function checkBoxHeader() {
                        $("#checkableGrid th").each(function() {
                            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                                $(this).text('');
                                $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                                $(this).append("<span>Select All</span>");
                            }
                        });

                        $("#cbSelectAll").on("click", function () {
                            var ischecked = this.checked;
                            $('#checkableGrid').find("input:checkbox").each(function () {
                                this.checked = ischecked;
                            });
                        });
                    }

                    function ConfirmDelete() {

                        var result = confirm("Are you sure?");
                        if (result) {
                            return true;
                        } else {
                            return false;
                        }
                    }

        </script>
    

@*<div class="table table-responsive">

    @Html.Grid(Model).Columns(columns =>
{

    columns.Add()
        .Titled("<input id=\"allChk\" type=\"checkbox\"/>")
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => Html.CheckBox("shovon", false, new { name = "selectedIds", value = o.CustomerId, OnClick = "selectedCheckbox(this," + o.CustomerId + ");", id= o.CustomerId }));
    columns.Add(a => a.CustomerEntryDate).Titled("Entry Date").Sortable(true).Filterable(true);
    //.RenderValueAs(a => Html.CheckBox("checked", false, new { name = "selectedIds", value = a.CustomerId}));
    columns.Add(a => a.CustomerName).Titled("Name").Sortable(true).Filterable(true);
    columns.Add(a => a.FatherName).Titled("Father Name").Sortable(true).Filterable(true);
    columns.Add(a => a.MotherName).Titled("Mother Name").Sortable(true).Filterable(true);
    columns.Add(a => a.NationalId).Titled("National Id").Sortable(true).Filterable(true);
    columns.Add(a => a.DateOfBirth).Titled("Birth Date").Sortable(true).Filterable(true);
    columns.Add(a => a.Mobile).Titled("Mobile").Sortable(true).Filterable(true);
    columns.Add(a => a.PresentAddress).Titled("Present Address").Sortable(true).Filterable(true);

    //columns.Add(a => a.EmployeeId).Titled("Employee Id").Sortable(true).Filterable(true);
    columns.Add().Titled("Detail")
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(a => Html.ActionLink("Detail", "Detail", new {id = a.CustomerId}));
}).WithPaging(5).Sortable(true)

    <a class="popup btn btn-primary" href="/Customer/Approve/Create/0" style="margin-bottom: 20px; margin-top: 20px;">Approve</a>

</div>*@

 





