﻿@model TonyMultipurpose.Areas.Accounts.Models.COACategory

@{
    ViewBag.Title = "Chart of Accounts Category";
}

@using (Html.BeginForm("Delete", "COACategory", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()


    <div class="container panel panel-default" style="float: left">
        <div class="panel-heading">
            <h3>Chart of Accounts Category</h3>
        </div>
        <div class="panel-body">
            @if (Model != null && Model.Id > 0)
            {
                @Html.HiddenFor(c => c.Id)
            }
            <div class="form-group">
                @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">

            <a class="popup btn btn-primary" href="~/Accounts/COACategory/Index" style="margin-bottom:20px; margin-top:20px;">Back to List</a>
            <input type="submit" value="Delete" class="btn btn-primary" style="margin-bottom:20px; margin-top:20px;" />
        </div>

    </div>
}
