﻿@model TonyMultipurpose.Areas.Accounts.Models.COACategory

@{
    ViewBag.Title = "Update Chart of Accounts Category";
}

@using (Html.BeginForm("Edit", "COACategory", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()


    <div>
        <div class="panel-body">
            @if (Model != null && Model.Id > 0)
            {
                @Html.HiddenFor(c => c.Id)
            }
            <div class="form-group">
                <div class="col-md-6">
                    <label id="showErrorMessage" style="margin-left: 10px;color:red;font-size:medium"></label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label col-lg-1 col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(x => x.GroupId, new SelectList(Model.AccountGroupInfo, "GroupId", "GroupName"),
                        "--Select Account Group Name--"
                        , new { @class = "form-control", id = "GroupId'" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-lg-1 col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" }, id = "CategoryName" })
                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-1 col-md-offset-2 col-md-10">

                    <a class=" btn btn-link" href="~/Accounts/COACategory/Index" style="margin-bottom:20px; margin-top:20px;"><i class="glyphicon glyphicon-arrow-left"></i> Back to List</a>
                    @*<input type="submit" value="Update" class="btn btn-primary" style="margin-bottom:20px; margin-top:20px;" id="btn_submit" />*@
                    <button type="submit" value="Update" class="btn btn-yahoo" style="margin-bottom:20px; margin-top:20px;" id="btn_submit">
                        <i class="glyphicon glyphicon-floppy-saved"></i> Update
                    </button>
                </div>
            </div>
        </div>
    </div>

}


@section scripts
{

    <script src="~/Scripts/Custom/Accounts/CoaCategoryEdit.js"></script>
}
