﻿@model IEnumerable<TonyMultipurpose.Areas.Accounts.Models.COACategory>
@using GridMvc.Html

@{
    ViewBag.Title = "Chart of Accounts Category";
    int rowVal = 0;
}

<div class="table table-responsive">

    <a class="popup btn btn-primary" href="~/Accounts/COACategory/Save" style="margin-bottom:20px; margin-top:20px;">Add New COACategory </a>

    @Html.Grid(Model).Columns(columns =>
{
    columns.Add().Titled("Sr.No.").RenderValueAs(item => (rowVal = rowVal + 1).ToString());
    columns.Add(a => a.CategoryName).Titled("Category Name").Sortable(true).Filterable(true);
    columns.Add(a => a.GroupId).Titled("Group Name").Sortable(true).Filterable(true);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.Id, @class = "btn btn-primary" })).Titled("Edit");
    // columns.Add()
    //.Encoded(false)
    //.Sanitized(false)
    //.SetWidth(30)
    //.RenderValueAs(a => Html.ActionLink("Delete", "Delete", new { id = a.Id })).Titled("Delete");
}).WithPaging(500).Sortable(true)

    
</div>
