﻿@model TonyMultipurpose.Areas.FinancialTransactions.Models.FinancialTransactionsModel

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        span.error {
            display: block inline;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

@using (Html.BeginForm("Save", "AccountsPayable", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="container panel panel-default" style="float: left">
        <div class="panel-heading">
            <h3>Accounts Payable</h3>
        </div>

        <div class="panel-body">
            <div class="row form-group">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <label id="showMessage" style="color:red;font-size:medium"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label>Voucher Type</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="VoucherType" name="VoucherType" value="A/C Payable" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label>Date<span class="error">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="TransactionDate" name="TransactionDate" class="form-control datepicker" readonly="readonly" value="@DateTime.Now.ToString("dd-MMM-yyyy")"/>
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label>Voucher No</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="VoucherNo" name="VoucherNo" class="form-control" readonly="readonly" />
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label>Voucher Code</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="VoucherCode" name="VoucherCode" class="form-control" />
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <br />
            <div class="form-group">
                <div class="col-md-1">
                    <label>Entry Type<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <select name="EntryType" id="EntryType" class="form-control">
                        <option value="">Entry Type</option>
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <label>Account Code<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <select name="AccountCode" id="AccountCode" class="form-control"></select>
                </div>
                <div class="col-md-1">
                    <label>Account Name</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="AccountName" name="AccountName" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <label>Particular<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="Particular" name="Particular" placeholder="Particular" class="form-control" />
                </div>
                <div class="col-md-1">
                    <label>Debit<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <input type="number" id="Debit" name="Debit" placeholder="Debit" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-1">
                    <label>Credit<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <input type="number" id="Credit" name="Credit" placeholder="Credit" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <label>Remarks</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="Remarks" name="Remarks" placeholder="Remarks" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <input type="checkbox" name="CheckEntry" id="CheckEntry">
                    <label>Cheque Entry<span class="error">*</span></label>
                </div>
                <div class="col-md-1 cheque">
                    <label>Cheque No<span class="error">*</span></label>
                </div>
                <div class="col-md-3 cheque">
                    <input type="text" id="ChequeNo" name="ChequeNo" placeholder="Cheque No" class="form-control" />
                </div>
                <div class="col-md-1 cheque">
                    <label>Issue Date<span class="error">*</span></label>
                </div>
                <div class="col-md-3 cheque">
                    <input type="text" id="IssueDate" name="IssueDate" placeholder="Issue Date" readonly="readonly" class="form-control datepicker" />
                </div>
            </div>
            <div class="form-group cheque">
                <div class="col-md-1">
                    <label>Bank Name<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="BankName" name="BankName" placeholder="Bank Name" readonly="readonly" class="form-control">
                </div>
                <div class="col-md-1">
                    <label>Branch Name</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="BranchName" name="BranchName" placeholder="Branch Name" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-1">
                    <label>A/C No<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="BankAccountNo" name="BankAccountNo" placeholder="A/C No" readonly="readonly" class="form-control" />
                </div>
            </div>
            <input type="hidden" id="hdnRowId" />
            <input type="hidden" id="hdnAccountCode"/>
            <input type="hidden" id="hdnGroupId"/>
            <input type="hidden" id="hdnGroupName"/>
            <input type="hidden" id="hdnCategoryId"/>
            <input type="hidden" id="hdnCategoryName"/>
            <input type="hidden" id="hdnClientCode"/>
            <input type="hidden" id="hdnClientName"/>
            <input type="hidden" id="hdnSupplierCode"/>
            <input type="hidden" id="hdnSupplierName" />
            <div class="form-group">
                <div class="col-md-1">
                    
                </div>
                <div class="col-md-11">                   
                    <div class="form-group row" style="margin-left:0px;">
                        <input type="button" id="btnAdd"  value="Add" class="btn btn-primary"/>
                        <input type="button" id="btnUpdate" value="Update" class="btn btn-primary" />
                        <input type="button" id="btnDelete" value="Delete" class="btn btn-primary" />
                        <input type="button" id="btnClear" value="Clear" class="btn btn-primary" />
                    </div>
                </div>
            </div>

            <div class="tablecontainer table-responsive">
                <table id="tblTransaction" class="display" cellspacing="0" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Sl.</th>
                            <th>Entry Type</th>
                            <th>Account Code</th>
                            <th>Account Name</th>
                            <th>Particular</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Cheque No.</th>
                            <th>Bank Name</th>
                            <th>Branch Name</th>
                            <th>A/C No.</th>
                        </tr>
                    </thead>
                </table>
            </div>


            <div class="form-group">
                <div class="col-md-10">

                </div>
                <div class="col-md-1">
                    <input type="button" value="Save" class="btn btn-primary" style="margin-bottom:20px; margin-top:20px;" id="btnSave" />
                </div>
                <div class="col-md-1">
                    <input type="button" value="New" class="btn btn-primary" style="margin-bottom:20px; margin-top:20px;" id="btnNew" />
                </div>
            </div>
        </div>


    </div>

    <script>
        (function () {
            $('#btnUpdate').hide();
            $('#btnDelete').hide();
            var transactions = [];
            var transactionTable;
            var rowNo = 0;

            $('.datepicker').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
            LoadAccountCode();
            $('.cheque').hide();

            $('#CheckEntry').change(function () {
                if (this.checked) {
                    $('.cheque').show();
                }
                else {
                    $('.cheque').hide();
                }
            });

            var debit = $('#Debit');
            var credit = $('#Credit');
            $('#EntryType').change(function () {
                debit.val('');
                credit.val('');
                var entryType = $('#EntryType').val();               
                if (entryType == "Debit") {
                    debit.removeAttr('readonly');
                    credit.attr('readonly', 'readonly');
                }
                else if (entryType == "Credit") {
                    credit.removeAttr('readonly');
                    debit.attr('readonly', 'readonly');
                }
                else {
                    debit.attr('readonly', 'readonly');
                    credit.attr('readonly', 'readonly');
                }
            });

            function LoadAccountCode() {
                $("#AccountCode").empty();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetAllAccountCode", "AccountsPayable", new { Area = "FinancialTransactions" })',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#AccountCode").append('<option value="0">--Select Type--</option>');
                        $.each(data, function (key, value) {
                            $("#AccountCode").append('<option value=' + value.COAId + '>' + value.AccountCode + '</option>');
                        });
                    }
                });
            }

            $('#AccountCode').change(function () {
                //if (checkDuplicateAccountCode()) {
                    var coaId = $("#AccountCode").val();
                    var json = {
                        coaId: coaId
                    };
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetAccountCodeInfo", "AccountsPayable", new { Area = "FinancialTransactions" })',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {
                            $('#AccountName').val(data.AccountName);
                            $('#BankName').val(data.BankName);
                            $('#BranchName').val(data.BranchName);
                            $('#BankAccountNo').val(data.BankAccountNo);
                            $('#hdnAccountCode').val(data.AccountCode);
                            $('#hdnGroupId').val(data.GroupId);
                            $('#hdnGroupName').val(data.GroupName);
                            $('#hdnCategoryId').val(data.COACategoryId);
                            $('#hdnCategoryName').val(data.CategoryName);
                            $('#hdnClientCode').val(data.ClientCode);
                            $('#hdnClientName').val(data.ClientName);
                            $('#hdnSupplierCode').val(data.SupplierCode);
                            $('#hdnSupplierName').val(data.SupplierName);
                        }
                    });
                //}               
            });

            function CheckTransactionFieldsValidation() {
                var isValid = true;
                if ($('#EntryType').val() === '') {
                    isValid = false;
                    $('#EntryType').parent().prev().find('span').css('visibility', 'visible');
                }
                else {
                    $('#EntryType').parent().prev().find('span').css('visibility', 'hidden');
                }
                if ($('#AccountCode').val() === '0') {
                    isValid = false;
                    $('#AccountCode').parent().prev().find('span').css('visibility', 'visible');
                }
                else {
                    $('#AccountCode').parent().prev().find('span').css('visibility', 'hidden');                
                }
                
                if ($('#Particular').val() === '') {
                    isValid = false;
                    $('#Particular').parent().prev().find('span').css('visibility', 'visible');
                }
                else {
                    $('#Particular').parent().prev().find('span').css('visibility', 'hidden');
                }

                if ($('#EntryType').val() === 'Debit') {
                    if ($('#Debit').val() === '') {
                        isValid = false;
                        $('#Debit').parent().prev().find('span').css('visibility', 'visible');
                    }
                    else if (parseInt($('#Debit').val()) === 0) {
                        isValid = false;
                        $('#Debit').parent().prev().find('span').css('visibility', 'visible');
                    }
                    else {
                        $('#Debit').parent().prev().find('span').css('visibility', 'hidden');
                    }
                }

                if ($('#EntryType').val() === 'Credit') {
                    if ($('#Credit').val() === '') {
                        isValid = false;
                        $('#Credit').parent().prev().find('span').css('visibility', 'visible');
                    }
                    else if (parseInt($('#Credit').val()) === 0) {
                        isValid = false;
                        $('#Credit').parent().prev().find('span').css('visibility', 'visible');
                    }
                    else {
                        $('#Credit').parent().prev().find('span').css('visibility', 'hidden');
                    }
                }

                if ($('#CheckEntry').is(":checked")) {
                    if ($('#ChequeNo').val() === '') {
                        isValid = false;
                        $('#ChequeNo').parent().prev().find('span').css('visibility', 'visible');
                    }
                    else {
                        $('#ChequeNo').parent().prev().find('span').css('visibility', 'hidden');
                    } 
                    if ($('#IssueDate').val() === '') {
                        isValid = false;
                        $('#IssueDate').parent().prev().find('span').css('visibility', 'visible');
                    }
                    else {
                        $('#IssueDate').parent().prev().find('span').css('visibility', 'hidden');
                    }
                    if ($('#BankName').val() === '') {
                        isValid = false;
                        $('#BankName').parent().prev().find('span').css('visibility', 'visible');
                    }
                    else {
                        $('#BankName').parent().prev().find('span').css('visibility', 'hidden');
                    }
                    if ($('#BankAccountNo').val() === '') {
                        isValid = false;
                        $('#BankAccountNo').parent().prev().find('span').css('visibility', 'visible');
                    }
                    else {
                        $('#BankAccountNo').parent().prev().find('span').css('visibility', 'hidden');
                    }
                }
                return isValid;
            }

            function checkDuplicateAccountCode() {
                isUnique = true;
                if (transactions.length > 0) {
                    var accountCode = $('#AccountCode').val();
                    transactions.forEach(function (item) {
                        if (accountCode === item.COAId) {
                            isUnique = false;
                            alert('Duplicate Account Code.')
                        }
                    });
                }
                return isUnique;
            }
            $('#btnAdd').click(function () {
                var isValidTransaction = CheckTransactionFieldsValidation();

                if (isValidTransaction && checkDuplicateAccountCode()) {
                    var isChequePayment = false;
                    if ($('#CheckEntry').is(":checked")) {
                        isChequePayment = true;
                    }
                    transactions.push({
                        RowNo:++rowNo,
                        EntryType: $("#EntryType option:selected").val(),
                        COAId: $('#AccountCode').val(),
                        AccountCode: $('#hdnAccountCode').val(),
                        AccountName: $('#AccountName').val(),
                        Particular: $('#Particular').val(),
                        Debit: $('#Debit').val(),
                        Credit: $('#Credit').val(),
                        Remarks: $('#Remarks').val(),
                        IsChequePayment: isChequePayment,
                        ChequeNo: $('#ChequeNo').val(),
                        IssueDate: $('#IssueDate').val(),
                        BankName: $('#BankName').val(),
                        BranchName: $('#BranchName').val(),
                        BankAccountNo: $('#BankAccountNo').val(),
                        GroupId: $('#hdnGroupId').val(),
                        GroupName: $('#hdnGroupName').val(),
                        CategoryId: $('#hdnCategoryId').val(),
                        CategoryName: $('#hdnCategoryName').val(),
                        ClientCode: $('#hdnClientCode').val(),
                        ClientName: $('#hdnClientName').val(),
                        SupplierCode: $('#hdnSupplierCode').val(),
                        SupplierName: $('#hdnSupplierName').val()
                    });

                    if (transactions.length === 1) {
                        LoadTrnsactionTable(transactions);
                    }
                    else {
                        transactionTable.destroy();
                        LoadTrnsactionTable(transactions);
                    }
                    clearTransactionFields();
                }
            });

            function LoadTrnsactionTable(transactions) {
                transactionTable = $('#tblTransaction').DataTable({
                    data: transactions,
                    "columns": [
                    { "data": "RowNo" },
                    { "data": "EntryType" },
                    { "data": "AccountCode" },
                    { "data": "AccountName" },
                    { "data": "Particular" },
                    { "data": "Debit" },
                    { "data": "Credit" },
                    { "data": "ChequeNo" },
                    { "data": "BankName" },
                    { "data": "BranchName" },
                    { "data": "BankAccountNo" }
                    ],
                    searching: false,
                    paging: false,
                    "bInfo": false
                });
                $('#tblTransaction tbody').on('click', 'tr', function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    }
                    else {
                        transactionTable.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                    bindTransactionData(transactionTable.row(this).data());
                });
            }

            function bindTransactionData(data) {
                $('#hdnRowId').val(data.RowNo);
                $('#EntryType').val(data.EntryType);
                $('#EntryType').change();
                $('#AccountCode').val(data.COAId);
                $('#AccountCode').change();
                $('#Particular').val(data.Particular);
                $('#Debit').val(data.Debit);
                $('#Credit').val(data.Credit);
                $('#Remarks').val(data.Remarks);
                if (data.IsChequePayment == true) {
                    $('#CheckEntry').prop('checked', true);
                    $('#CheckEntry').change();
                    $('#ChequeNo').val(data.ChequeNo);
                    $('#IssueDate').val(data.IssueDate);
                }
                $('#btnUpdate').show();
                $('#btnDelete').show();
                $('#btnAdd').hide();
            }

            function clearTransactionFields() {
                $('#EntryType').val('');
                $('#EntryType').change();
                $('#AccountCode').val('0');
                $('#AccountName').val('');
                $('#Particular').val('');
                $('#Debit').val('');
                $('#Credit').val('');
                $('#Remarks').val('');
                $('#CheckEntry').prop('checked', false);
                $('#CheckEntry').change();
                $('#ChequeNo').val('');
                $('#IssueDate').val('');
                $('#BankName').val('');
                $('#BranchName').val('');
                $('#BankAccountNo').val('');
                $('#hdnAccountCode').val('');
                $('#hdnGroupId').val('');
                $('#hdnGroupName').val('');
                $('#hdnCategoryId').val('');
                $('#hdnCategoryName').val('');
                $('#hdnClientCode').val('');
                $('#hdnClientName').val('');
                $('#hdnSupplierCode').val('');
                $('#hdnSupplierName').val('');
                $('#btnUpdate').hide();
                $('#btnDelete').hide();
                $('#btnAdd').show();
            }

            function checkDuplicateAccountCodeForUpdate() {
                isUnique = true;
                if (transactions.length > 0) {
                    var accountCode = $('#AccountCode').val();
                    var rowNo = parseInt($('#hdnRowId').val());
                    transactions.forEach(function (item) {
                        if (accountCode === item.COAId && item.RowNo !== rowNo) {
                            isUnique = false;
                            alert('Duplicate Account Code.')
                        }
                    });
                }
                return isUnique;
            }

            $('#btnUpdate').click(function () {
                var isValidTransaction = CheckTransactionFieldsValidation();
                if (isValidTransaction && checkDuplicateAccountCodeForUpdate()) {
                    var isChequePayment = false;
                    if ($('#CheckEntry').is(":checked")) {
                        isChequePayment = true;
                    }
                    transactions.forEach(function (item) {
                        if(item.RowNo === parseInt($('#hdnRowId').val()) && (item.COAId === $('#AccountCode').val())){
                            item.EntryType = $("#EntryType option:selected").val(),
                            item.COAId = $('#AccountCode').val(),
                            item.AccountCode = $('#hdnAccountCode').val(),
                            item.AccountName = $('#AccountName').val(),
                            item.Particular = $('#Particular').val(),
                            item.Debit = $('#Debit').val(),
                            item.Credit = $('#Credit').val(),
                            item.Remarks = $('#Remarks').val(),
                            item.IsChequePayment = isChequePayment,
                            item.ChequeNo = $('#ChequeNo').val(),
                            item.IssueDate = $('#IssueDate').val(),
                            item.BankName = $('#BankName').val(),
                            item.BranchName = $('#BranchName').val(),
                            item.BankAccountNo = $('#BankAccountNo').val(),
                            item.GroupId = $('#hdnGroupId').val(),
                            item.GroupName = $('#hdnGroupName').val(),
                            item.CategoryId = $('#hdnCategoryId').val(),
                            item.CategoryName = $('#hdnCategoryName').val(),
                            item.ClientCode = $('#hdnClientCode').val(),
                            item.ClientName = $('#hdnClientName').val(),
                            item.SupplierCode = $('#hdnSupplierCode').val(),
                            item.SupplierName = $('#hdnSupplierName').val()
                        }
                    });
                    clearTransactionFields();
                    transactionTable.destroy();
                    LoadTrnsactionTable(transactions);
                }
            });

            $('#btnDelete').click(function () {
                if (confirm("Are you sure?")) {
                    transactions = transactions.filter(function (item) {
                        return (item.RowNo !== parseInt($('#hdnRowId').val())) && (item.COAId !== $('#AccountCode').val());
                    });
                    rowNo = transactions.length;
                    clearTransactionFields();
                    transactionTable.destroy();
                    LoadTrnsactionTable(transactions);
                }
                return false;
            });

            $('#btnClear').click(function () {
                clearTransactionFields();
            });

            function checkValidation() {
                var isvalid = true;
                if ($('#TransactionDate').val().trim() === '') {
                    isValid = false;
                    $('#TransactionDate').parent().prev().find('span').css('visibility', 'visible');
                }
                else {
                    $('#TransactionDate').parent().prev().find('span').css('visibility', 'hidden');
                }
                if (transactions.length < 1) {
                    isvalid = false;
                    alert('Add some transactios');
                    return isvalid;
                }
                var totalDebit = 0, totalCredit = 0;
                transactions.forEach(function (item) {
                    if (item.Debit !== '') {
                        totalDebit = totalDebit + parseFloat(item.Debit)
                    }
                    if (item.Credit !== '') {
                        totalCredit = totalCredit + parseFloat(item.Credit)
                    }
                });
                if (totalDebit !== totalCredit) {
                    isvalid = false;
                    alert('Debit and Credit Amount should be equal.');
                }
                return isvalid;
            }

            $('#btnSave').click(function () {
                var isValid = checkValidation();
                if (isValid) {
                    transactions.forEach(function (item) {
                        item.VoucherType = $('#VoucherType').val();
                        item.TransactionDate = $('#TransactionDate').val();
                        item.VoucherCode = $('#VoucherCode').val();
                    });
                    $.ajax({
                        url: '@Url.Action("Save", "AccountsPayable", new { Area = "FinancialTransactions" })',
                        type: "POST",
                        data: JSON.stringify(transactions),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            if (d.oCommonResult.Status == true) {
                                document.getElementById('showMessage').style.color = "green";
                                $('#VoucherNo').val(d.VoucherNo);
                                $('#btnSave').prop('disabled', true);
                            }
                            document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                        },
                        error: function () {
                            document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                            $('#VoucherNo').val('');
                        }
                    });
                }
            });

            $('#btnNew').click(function () {
                location.reload();
            });

        })();
    </script>
}
