﻿@model TonyMultipurpose.Areas.TermLoan.Models.Guarantor
@{
//Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    var prod = ViewData["MyProduct"];
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .col-md-12 {
            margin-bottom: 8px;
        }

        .borderSet > th {
            border: 1px solid black !important;
        }

        .borderSet > td {
            border: 1px solid black !important;
        }
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        th {
            background-color: lightcyan;
        }
        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 45%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;
        }

        /* Add Animation */
        -webkit-keyframes animatetop {
            from;

        {
            top: -300px;
            opacity: 0;
        }

        to {
            top: 0;
            opacity: 1;
        }

        }

        keyframes animatetop {
            from;

        {
            top: -300px;
            opacity: 0;
        }

        to {
            top: 0;
            opacity: 1;
        }

        }

        /* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .modal-header {
            padding: 2px 16px;
            background-color: antiquewhite;
            color: forestgreen;
        }

        .modal-body {
            padding: 2px 16px;
            /*background-color: beige;*/
        }

        .modal-footer {
            padding: 2px 16px;
            /*background-color: antiquewhite;*/
            color: white;
        }
    </style>
</head>
<body>
@using (Html.BeginForm("Save", "TermLoan", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.GuarantorId > 0)
    {
        @Html.HiddenFor(d => d.GuarantorId)
    }

    <div>
        <div class="col-md-12">
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7  col-md-4">
                    <label class="control-label">Generate User Id</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8 ">
                    <input type="text" readonly="readonly" name="UserUniqId" class="form-control" value="@ViewBag.showData" />
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">

                </div>
                <div class="col-sm-11 col-md-7 col-lg-8 ">

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">LoanReference ID</label>
                </div>
                <div class="col-sm-11  col-md-7 col-lg-8   ">
                    <input type="text" id="LoanRefId" name="LoanRefId" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Loan Date</label>
                </div>
                <div class="col-sm-11  col-md-7   col-lg-8 ">
                    <input type="text" id="LoanDate" name="LoanDate" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">LoanReference ID</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="CustomerName" name="CustomerName" value="Nasir" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">LoanReference ID</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="CustomerName" name="CustomerName" value="Nasir" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Customer Name</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="CustomerName" name="CustomerName" value="Nasir" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Father's Name</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="FatherName" name="FatherName" value="Rabbani" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Mother's Name</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="MotherrName" name="MotherrName" value="Manuara" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Mobile</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="Mobile" name="Mobile" value="01923697817" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Referred Name</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="ReferredName" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Loan Amount</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="LoanAmount" name="LoanAmount" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Number Of Installment</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="DurationofMonth" name="DurationofMonth" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Interest Rate</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="InterestRate" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Interest Rate</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="InterestRate" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Loan ID</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="TransactionDate" name="TransactionDate" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Purpose Of Loan</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="MatureDate" name="MatureDate" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Loan ID</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="TransactionDate" name="TransactionDate" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Distributor Name</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="InterestAmount" name="InterestAmount" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">
                    <label class="control-label">Loan Type ID</label>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">
                    <input type="text" id="InterestAmount" name="InterestAmount" class="form-control" />
                </div>
            </div>

        </div>


        <br />
        <br />
        <br />
        <div class="col-md-12">
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">

                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  ">

                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-5">
                <div class="col-sm-7 col-md-4">

                </div>
                <div class="col-sm-11 col-md-7 col-lg-8  " style="text-align:right">
                    <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 10px 40px" />
                    <button type="button" id="myBtn" class="btn btn-info btn-md">Add Guarantor</button>
                </div>
            </div>
        </div>

        @* Start Propup *@
    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2> Add Guarantor</h2>
            </div>
            <div class="modal-body" style="height:60%">
                <br />
                <div class="col-md-12 ">
                    <div class=" col-sm-11 col-md-6 col-lg-5 ">
                        <div class="col-sm-11 col-md-4">
                            <label class="control-label ">Customer Id</label>
                        </div>
                        <div class="  col-sm-11 col-md-7 col-lg-8    ">
                            <input type="text" class="form-control" id="GCustomerId" name="CustomerId" placeholder="Search.." />

                        </div>
                    </div>
                    <div class=" col-sm-11 col-md-6 col-lg-5 ">
                        <div class="col-sm-11 col-md-4">
                            <label class="control-label">Loan Referance Id</label>
                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8    ">
                            <input type="text" class="form-control" id="LoanID" name="LoanID" />

                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class=" col-sm-11 col-md-6 col-lg-5 ">
                        <div class="col-sm-12 col-md-4">
                            <label for="message-text" class="control-label">Name</label>
                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8 ">
                            <input type="text" id="GuarantorName"  name="Name" class="form-control" />
                            @*@Html.TextAreaFor(a=>a.Name,new { id = "GuarantorName" , @class="form-control"});*@
                        </div>
                    </div>
                    <div class=" col-sm-11 col-md-6 col-lg-5  ">
                        <div class="col-sm-12 col-md-4">
                            <label for="message-text" class="control-label">Father's Name</label>
                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8 ">
                            <input type="text" id="FatherName" name="FatherName" class="form-control" />

                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="col-sm-11 col-md-6 col-lg-5  ">
                        <div class="col-sm-11 col-md-4">
                            <label for="message-text" class="control-label">Mother's Name</label>
                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8  ">
                            <input type="text" id="MotherName" name="MotherName" class="form-control" />

                        </div>
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-5  ">
                        <div class="col-sm-11 col-md-4">
                            <label for="message-text" class="control-label">Occupation</label>
                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8  ">
                            <input type="text" id="Occupation" name="Occupation" class="form-control" />

                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class=" col-sm-11 col-md-6 col-lg-5 ">
                        <div class="col-sm-11 col-md-4">
                            <label for="message-text" class="control-label">Institute Name</label>
                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8  ">
                            <input type="text" id="InsName" class="form-control" />

                        </div>
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-5  ">
                        <div class="col-sm-11 col-md-4">
                            <label for="message-text" class="control-label">Institute Address</label>
                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8 ">
                            <input type="text" id="InsAddress" class="form-control" />

                        </div>
                    </div>

                </div>
                <div class="col-md-12 ">
                    <div class=" col-sm-11 col-md-6 col-lg-5 ">
                        <div class="col-sm-11 col-md-4">
                            <label for="message-text" class="control-label">Current Address</label>
                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8  ">
                            <input type="text" id="CAddress" class="form-control" />

                        </div>
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-5  ">
                        <div class="col-sm-11 col-md-4">
                            <label for="message-text" class="control-label">Parmanent Address</label>
                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8 ">
                            <input type="text" id="PAddress" class="form-control" />

                        </div>
                    </div>

                </div>
                <div class="col-md-12 ">
                    <div class=" col-sm-11 col-md-6 col-lg-5 ">
                        <div class="col-sm-11 col-md-4">
                            <label for="message-text" class="control-label">Contact Number</label>
                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8  ">
                            <input type="text" id="GPhoneNo" name="PhoneNo" class="form-control" />

                        </div>
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-5  ">
                        <div class="col-sm-11 col-md-4">

                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8 ">


                        </div>
                    </div>

                </div>
                <br />

                <div class="col-md-12 ">
                    <div class=" col-sm-11 col-md-6 col-lg-5 ">
                        <div class="col-sm-11 col-md-4">

                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8  ">

                        </div>
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-5  ">
                        <div class="col-sm-11 col-md-4">
                            <button type="button" id="dialogclose" class="btn btn-danger" onclick="closeButton();">Cancle</button>
                        </div>
                        <div class="   col-sm-11 col-md-7 col-lg-8 ">
                            <button type="submit" id="submitGuarantor" class="btn btn-success" style="margin-left:20px;">Save</button>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>

                <br />
                <br />
                <br />
                <div class="col-sm-3 col-md-10 col-lg-12" id="divRefress">

                    <table class="table-responsive table" id="hideTableAll">
                        <tr class="borderSet">
                            <th>Name</th>
                            <th>NID</th>
                            <th>Phone No</th>
                            <th>Edit</th>
                        </tr>
                        <tbody id="allDataShowForCssDeposit"></tbody>
                    </table>
                </div>


            </div>
            <div class="modal-footer">
                <p></p>
            </div>
        </div>

    </div>

}


    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }


        //window.onclick = function (event) {
        //    if (event.target == modal) {
        //        modal.style.display = "none";
        //    }
        //}
    </script>

</body>
</html>



<script>

    //Autocomplete Customer Id for Guarantor
    $(document).ready(function () {
        $('#GCustomerId').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("AutoCompleteCustomerIdForGuarantor", "TermLoan")',
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }));
                    }
                });
            },
            messages: {
                noResults: "",
                results: ""
            }
        });

    });

    //CustomerId wise Guarantor show

    $("#GCustomerId").change(function () {
        var customerId = $("#GCustomerId").val();
        var json = { customerId: customerId };
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetGuarantorInfoByCustomerId", "TermLoan")',
            contentType: "application/json",
            data: JSON.stringify(json),
            success: function (data) {
                $.each(data, function (key, value) {
                    $("#allDataShowForCssDeposit").append('<tr class="borderSet"><td class="borderSet">' + value.Name + '</td><td class="borderSet">' + value.NID + '</td><td class="borderSet">' + value.PhoneNo + '</td><td id="GuarantorId" class="borderSet">' + '<a href="/TermLoan/TermLoan/Edit/?GuarantorId=' + value.GuarantorId + '">Edit</a>' + '</td></tr>  ');
                    console.log(value.GuarantorId);
                });

            }
        });

    });


    function closeButton() {
        $("#dialogclose").click(function () {
            var modal = document.getElementById('myModal');
            modal.style.display = "none";
        });
    }




    //Guarantor Save area

    $('#submitGuarantor').click(function () {

        var isAllDataValid = true;

        if ($('#GCustomerId').val().trim() == '') {
            $('#GCustomerId').siblings('span.error').css('visibility', 'visible');
            isAllDataValid = false;
        } else {
            $('#GCustomerId').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#GuarantorName').val().trim() == '') {
            $('#GuarantorName').siblings('span.error').css('visibility', 'visible');
            isAllDataValid = false;
        } else {
            $('#GuarantorName').siblings('span.error').css('visibility', 'hidden');
        }


        if (isAllDataValid) {

            var data = {
                CustomerId: $('#GCustomerId').val(),
                Name: $('#GuarantorName').val(),
                NID: $('#GNID').val(),
                PhoneNo: $('#GPhoneNo').val()

            }
            $.ajax({
                url: '@Url.Action("SaveGuarantor", "TermLoan")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status === true) {
                        alert('Successfully done.');
                        // new data show
                        @*$("#hideTableAll").load(location.href + " #hideTableAll");
                        var customerId = $("#GCustomerId").val();
                        var json = { customerId: customerId };
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetGuarantorInfoByCustomerId", "TermLoan")',
                            contentType: "application/json",
                            data: JSON.stringify(json),
                            success: function (data) {
                                $.each(data, function (key, value) {
                                    $("#allDataShowForCssDeposit").append('<tr class="borderSet"><td class="borderSet">' + value.Name + '</td><td class="borderSet">' + value.NID + '</td><td class="borderSet">' + value.PhoneNo + '</td><td id="GuarantorId" class="borderSet">' + '<a href="/TermLoan/TermLoan/Edit/?GuarantorId=' + value.GuarantorId + '">Edit</a>' + '</td></tr>  ');
                                });

                            }
                        });*@
                        $("#GCustomerId").val('');
                        $("#GuarantorName").val('');
                        $("#GNID").val('');
                        $("#GPhoneNo").val('');

                    }
                    else {
                        alert('Failed');
                    }
                    $('#submitGuarantor').val('Save');


                },
                error: function () {
                    alert('Error. Please try again.');
                    $('#submitGuarantor').val('Save');
                }
            });
        }


        $('#GuarantorId').click(function () {

            var data = {
                GuarantorId: $('#GuarantorId').val(),
            }
            alert(GuarantorId);
            $.ajax({
                url: '@Url.Action("Edit", "TermLoan")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    $("#GuarantorName").val(d.GuarantorName);
                    $("#GNID").val(d.GNID);
                    $("#GPhoneNo").val(d.GPhoneNo);

                }
            });

        });


        //});

    });
</script>