﻿@{
//Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
}
<html>
<head>

    <style>
        .modal-dialog {
            width: 900px !important;
        }

        .modal-body {
            height: 650px !important;
            background-color: beige;
        }

        .danger {
            display: none;
        }

        span.error {
            display: block;
            visibility: hidden;
            color: red;
            /*font-weight: bold;*/
            font-size: 100%;
        }

        #exampleModal {
            width: 960px;
            height: 800px;
            margin: 20px auto;
            padding-top: 20px;
            display: block;
        }
        .col-md-12{
            margin-bottom:7px!important;
        }
    </style>
</head>
<body>

    <br/>
    <div class="panel-heading">
        <h3>Customer Entry </h3>
    </div>
    <div >
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Generate User Id</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" readonly="readonly" name="UserUniqId" class="form-control" value="@ViewBag.showData" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                   
                </div>
                <div class="col-md-8 col-sm-6">
                    
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">LoanReference ID</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="LoanRefId" name="LoanRefId" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Loan Date</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="LoanDate" name="LoanDate" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Customer ID</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="CustomerID" name="CustomerID" class="form-control" onchange="CustomerInformation();" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">LoanReference ID</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="CustomerName" name="CustomerName" value="Nasir" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Customer Name</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="CustomerName" name="CustomerName" value="Nasir" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Father's Name</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="FatherName" name="FatherName" value="Rabbani" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Mother's Name</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="MotherrName" name="MotherrName" value="Manuara" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Mobile</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="Mobile" name="Mobile" value="01923697817" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Referred Name</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="ReferredName" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Loan Amount</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="LoanAmount" name="LoanAmount" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Number Of Installment</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="DurationofMonth" name="DurationofMonth" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Interest Rate</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="InterestRate" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Interest Rate</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="InterestRate" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Loan ID</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="TransactionDate" name="TransactionDate" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Purpose Of Loan</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="MatureDate" name="MatureDate" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Loan ID</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="TransactionDate" name="TransactionDate" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Distributor Name</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="InterestAmount" name="InterestAmount" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Loan Type ID</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="InterestAmount" name="InterestAmount" class="form-control" />
                </div>
            </div>

        </div>


        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Loan Name</label>
                </div>
                <div class="col-md-8 col-sm-6">
                    <input type="text" id="InterestAmount" name="InterestAmount" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                   
                </div>
                <div class="col-md-8 col-sm-6">
                    
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Open modal for </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>New message</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="col-md-12">
                            <div class=" col-md-6 ">
                                <div class="col-md-3">
                                    <label for="message-text" class="control-label ">Customer Id</label>
                                </div>
                                <div class="  col-md-8  input-group ">
                                    <input type="text" class="form-control" />
                                    <span class="error input-group-btn"><button class="btn btn-default btn-color" type="button">**</button></span>
                                </div>
                            </div>
                            <div class=" col-md-6 ">
                                <div class="col-md-3">
                                    <label for="message-text" class="control-label">Loan Referance Id</label>
                                </div>
                                <div class="   col-md-8   input-group ">
                                    <input type="text" class="form-control" />
                                    <span class=" error input-group-btn"><button class="btn btn-default btn-color" type="button">**</button></span>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class=" col-md-6 ">
                                <div class="col-md-3">
                                    <label for="message-text" class="control-label">Name</label>
                                </div>
                                <div class="   col-md-8   input-group ">
                                    <input type="text" class="form-control" />
                                    <span class=" error input-group-btn"><button class="btn btn-default btn-color" type="button">**</button></span>

                                </div>
                            </div>
                            <div class=" col-md-6 ">
                                <div class="col-md-3">
                                    <label for="message-text" class="control-label">Designatin</label>
                                </div>
                                <div class="   col-md-8   input-group ">
                                    <input type="text" class="form-control" />
                                    <span class=" error input-group-btn"><button class="btn btn-default btn-color" type="button">**</button></span>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class=" col-md-6 ">
                                <div class="col-md-3">
                                    <label for="message-text" class="control-label">Name</label>
                                </div>
                                <div class="   col-md-8   input-group">
                                    <input type="text" class="form-control" />
                                    <span class=" error input-group-btn"><button class="btn btn-default btn-color" type="button">**</button></span>

                                </div>
                            </div>
                            <div class=" col-md-6 ">
                                <div class="col-md-3">
                                    <label for="message-text" class="control-label">Designatin</label>
                                </div>
                                <div class="   col-md-8   input-group">
                                    <input type="text" class="form-control" />
                                    <span class=" error input-group-btn"><button class="btn btn-default btn-color" type="button">**</button></span>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class=" col-md-6 ">
                                <div class="col-md-3">
                                    <label for="message-text" class="control-label">Name</label>
                                </div>
                                <div class="   col-md-8   input-group">
                                    <input type="text" class="form-control" />
                                    <span class=" error input-group-btn"><button class="btn btn-default btn-color" type="button">**</button></span>

                                </div>
                            </div>
                            <div class=" col-md-6 ">
                                <div class="col-md-3">
                                    <label for="message-text" class="control-label">Designatin</label>
                                </div>
                                <div class="   col-md-8   input-group">
                                    <input type="text" class="form-control" />
                                    <span class=" error input-group-btn"><button class="btn btn-default btn-color" type="button">**</button></span>

                                </div>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('New message to ' + recipient)
                modal.find('.modal-body input').val(recipient)
            })
        });

    </script>

</body>

</html>




