﻿@model TonyMultipurpose.Models.UserLogin
@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TMC Limited</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/custom.min.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
</head>
<body class="login" style="background-color:#fff;">
    <div class="login_wrapper">
        <div class="animate form login_form">
            
            <section class="login_content">
               @using (Html.BeginForm())
               {
                   @Html.AntiForgeryToken()

                <h2 style="margin-bottom: 20px;">Welcome To TMC Limited</h2>
                   <div>
                       @Html.ValidationSummary(true, "", new { @class = "text-danger", @Style="text-align: left"
                       })
                   </div>

                <div style="margin-bottom: 20px;">
                    @Html.DropDownListFor(
                               model => model.BranchId,
                               new SelectList(@ViewBag.BranchInfo, "BranchId", "BranchName"),
                               "--Select Branch--", new { @class = "form-control" , @Style = "width:350px" }
                               )
                    @*@Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })*@
                </div>
                    <div>
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @Style = "width:350px" ,PlaceHolder="Username"} })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @Style = "width:350px", PlaceHolder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>



                   
                   <div style="text-align:center; float:left; width:100%;">
                       <input type="submit" style="float:none; margin:0 auto;" value="Login" class="btn btn-default" />
                   </div>
                 
                   <div class="clearfix"></div>
                   <div class="separator" style="margin-top:20px;">
                     
                       <div class="login_footer">
                           <h1 style="margin-bottom:20px;"><i class="fa fa-paw"></i> Juvenile PacersBD
                           </h1>
                           <p> Copyright &copy; @DateTime.Now.Year.ToString() <a style="margin-right:0;" target="_blank" href="http://juvenilepacersbd.com/">Juvenile PacersBD</a>. All rights reserved.</p>
                           @*<p>Copyright © 2017<a href="http://juvenilepacersbd.com/">Juvenile PacersBD.</a>
                           </p>*@
                           <div class="clearfix"></div>
                       </div>
                   </div>
               }
            </section>
        </div>
    </div>
</body>
</html>
