﻿@model TonyMultipurpose.Models.UserLogin
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TMC Limited | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome/font-awesome.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ionicons/ionicons.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/AdminLTE/css/AdminLTE.min.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">

            <a href="@Url.Action("Login")">
                <img src="@Url.Content("~/AdminLTE/img/logo-50.jpg")" />
                <b>TMC</b> Limited
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form action="@Url.Action("Login")" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new
           {
               @class = "text-danger",
               @Style = "text-align: left"
           })
                <div class="form-group">
                    @Html.DropDownListFor(
                        model => model.BranchId,
                        new SelectList(ViewBag.BranchInfo, "BranchId", "BranchName"),
                        "--Select Branch--", new { @class = "form-control" }
                        )
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Username" } })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Password" } })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Sign In">
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
