﻿@using TonyMultipurpose.Areas.Transaction.Models
@model TransactionModel
@{
    ViewBag.Title = " Saving Transaction Detail";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;

}

<div>
    <table>

        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <label class="control-label">Transaction Id</label>
                        </td>
                        <td>
                            <input type="text" id="TransactionId" class="form-control" value="@Model.TransactionId" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label class="control-label">Transaction Date</label>
                        </td>
                        <td>
                            <input type="text" id="TransactionDate" class="form-control" value="@Model.TransactionDate.ToString("dd-MMM-yyyy")" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="control-label">Customer Id</label>
                        </td>
                        <td>
                            <input type="text" id="CustomerId" class="form-control" value="@Model.CustomerId" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Name</label>
                        </td>
                        <td>
                            <input type="text" id="CustomerName" class="form-control" value="@Model.CustomerName" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="control-label">Father Name</label>
                        </td>
                        <td>
                            <input type="text" id="FatherName" class="form-control" value="@Model.FatherName" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="control-label">AccountNumber</label>
                        </td>
                        <td>
                            <input type="text" id="AccountNumber" class="form-control" value="@Model.AccountNumber" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="control-label">Center Name</label>
                        </td>
                        <td>
                            <input type="text" id="BranchName" class="form-control" value="@Model.BranchName" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="control-label">Transaction Type</label>
                        </td>
                        <td>
                            <input type="text" id="TransactionType" class="form-control" value="@Model.TransactionType" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Particular</label>
                        </td>
                        <td>
                            <input type="text" id="Particular" class="form-control" value="@Model.Particular" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label class="control-label">InterestRate</label>
                        </td>
                        <td>
                            <input type="text" id="InterestRate" class="form-control" value="@Model.InterestRate" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="control-label">Debit</label>
                        </td>
                        <td>
                            <input type="text" id="Debit" class="form-control" value="@Model.Debit" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label class="control-label">Credit</label>
                        </td>
                        <td>
                            <input type="text" id="Credit" class="form-control" value="@Model.Credit" readonly="readonly"/>
                            <span class="error">space </span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a class="popup btn btn-primary" href="@Url.Action("Index", "SavingsApproval", new {Area = "Transaction"})">Back To List</a></td>
                    </tr>
                </table>

            </td>
        </tr>


    </table>
</div>

@section styles
{
  <style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }


    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 1px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }

    #hideid {
        display: none;
    }
</style>  
}
