﻿@using GridMvc.Html
@using TonyMultipurpose.Areas.Setup.Models
@using TonyMultipurpose.Infrastructure.Common
@using TonyMultipurpose.Infrastructure.Helpers
@model IEnumerable<Branch>
@{
    ViewBag.Title = "TMC Limited Branch List";
    WebGrid grid = new WebGrid(Model, canPage: true,
        canSort: true, rowsPerPage: 20, ajaxUpdateContainerId: "grdBranch");
}

@*<div class="table table-responsive">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(a => a.BranchName).Titled("Branch Name").Sortable(true).Filterable(true);
    columns.Add(a => a.FullName).Titled("Full Name").Sortable(true).Filterable(true);
    columns.Add(a => a.BranchCode).Titled("Branch Code").Sortable(true).Filterable(true);
    columns.Add(a => a.Address).Titled("Address").Sortable(true).Filterable(true);
    columns.Add(a => a.Phone).Titled("Phone").Sortable(true).Filterable(true);
    columns.Add(a => a.Fax).Titled("Fax").Sortable(true).Filterable(true);
    columns.Add(a => a.Email).Titled("Email").Sortable(true).Filterable(true);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.BranchId, @class = "btn btn-primary" })).Titled("Edit");
    columns.Add()
   .Encoded(false)
   .Sanitized(false)
   .SetWidth(30)
   .RenderValueAs(a => Html.ActionLink("Delete", "Delete", new { id = a.BranchId })).Titled("Delete");
}).WithPaging(10).Sortable(true)

    <a class="popup btn btn-primary" href="@Url.Action("Save", "Branch",new { Area = "Setup" })" style="margin-bottom:20px; margin-top:20px;">Add New Branch </a>
</div>*@

<div class="table-responsive">
    @grid.Table(
    tableStyle: "table table-bordered table-striped table-condensed",
        htmlAttributes: new { id = "grdBranch" },
        columns: grid.Columns
        (
            grid.Column("SL", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("FullName", "Full Name"),
            grid.Column("BranchName", "Nick Name"),
            grid.Column("BranchCode", "Branch Code"),
            grid.Column("Address", "Address"),
            grid.Column("Phone", "Phone"),
            grid.Column("Fax", "Fax"),
            grid.Column("Email", "Email"),
            grid.Column(style: "grid-action-column", format: @<text>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.BranchId }, new { target = "_blank" })</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.BranchId }, new { target = "_blank" })</li>
                    </ul>
                </div>
            </text>,
                header: "Action")
        ))


    @grid.PagerList(WebGridPagerModes.All, paginationStyle: "pagination", numericLinksCount: 10)



</div>
<div class="form-group">
    <a class="popup btn btn-primary" href="@Url.Action("Save", "Branch",new { Area = "Setup" })" style="margin-bottom:20px; margin-top:20px;">Add New Branch </a>

    </div>