﻿
@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.Loan.Models.InstallmentInformation>
@{

    ViewBag.Title = "Installment Information Approval";
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 500, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
}

@section Styles{
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
        /*#mainDiv{
        overflow-y: scroll;
    }*/
</style>
    }
<h2>Unapproved Installment</h2>
<hr />
<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>
<hr />
@using (Html.BeginForm("", "LoanInstallmentApproval", FormMethod.Post))
{
    <div id="mainDiv">
        @grid.GetHtml(
            tableStyle: "gridtable",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@item.TransactionId" name="Id" /> </text>,
                        header: "{checkall}"
                        ),
                grid.Column("LoanNo", "Loan No"),
                 grid.Column("VoucherNo", "Voucher No"),
                    grid.Column("CustomerId", "Customer Id"),
                    grid.Column("CustomerName", "Customer Name"),
                    grid.Column("PrincipleAmount", "Principle Amount"),
                    grid.Column("InstallmentNo", "Installment No"),
                    grid.Column("InstallmentDate", "Installment Date", format:
                    (item) => string.Format("{0:dd/MMM/yyyy}", item.InstallmentDate)),
                    grid.Column("InstallmentAmount", "Schedule Payment"),
                    grid.Column("TotalAmount", "Total Amount"),
                    grid.Column("Particular", "Particular"),
                    grid.Column("BeginningBalance", "Beginning Balance"),
                    grid.Column("Principle", "Principle"),
                    grid.Column("Interest", "Interest"),
                    grid.Column("EndingBalance", "Ending Balance"),
                    grid.Column("UnpaidPrinciple", "Unpaid Principle"),
                    grid.Column("FineInterest", "Fine Interest"),
                    grid.Column("TotalUnpaidPrinciple", "Total Unpaid Principle"),
                    grid.Column("TotalFineInterest", "Total Fine Interest"),

                  @*grid.Column(
                        format: @<text> <input type="text" name="@item.Id" /> </text>,
                        header: "Reject Reason"
                        ),*@
                    grid.Column("Username", "Created By")

                    @*grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new { id = @item.Id })  </text>,
                        header: "Detail")*@
                )
            )
    </div>

    <div class="row" style="width:180px;margin-top:10px;">
        <div class="col-md-6">
            <input type="submit" value="Approve" name="action:Approve" class="btn btn-success" />
        </div>
        @*<div class="col-md-6">
            <input type="submit" value="Reject" name="action:Reject" class="btn btn-success" />
        </div>*@
    </div>
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/Loan/LoanInstallmentApproval/LoanInstallmentApproval.js")"></script>
}



