﻿@model TonyMultipurpose.Areas.Employee.Models.Department
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color: red;text-align:center; padding:10px">Delete Department Information</h3>
<hr />

@using (Html.BeginForm("Delete", "Department", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    if (Model != null && Model.DepartmentId > 0)
    {
        @Html.HiddenFor(b => b.DepartmentId)
    }

    <div class="form-group">
        @Html.LabelFor(a => a.DepartmentName, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(b => b.DepartmentName, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(b => b.DepartmentName)
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(a => a.IsActive, new { @class = "control-label col-md-offset-2 col-sm-2" })
            <div class="col-sm-5">
                @Html.DropDownListFor(a => a.IsActive, new List<SelectListItem>()
                    {
                        new SelectListItem { Text = "Active", Value = "true" },
                        new SelectListItem { Text = "Inactive", Value = "false" }
                    }, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <div class=" col-sm-offset-4 col-sm-2 ">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
}
