﻿@model TonyMultipurpose.Areas.Loan.Models.AddtionalInfoModel
@{

    Layout = null;
    ViewBag.Title = "Approve Loan Application";
}


    <style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 100%;
    }

    #imageDisplay {
        max-width: 350px;
        max-height: 280px;
    }
</style>
 


<div class="row">
    <div class="col-md-2">
        <label id="showMessage" style="color: red; font-size: medium"></label>
    </div>

</div>

<div class="row" style="display: none">
    <div class="col-md-2">
        <label class="control-label"> Loan Referrence Id<span class="error">*</span></label>
    </div>
    <div class="col-md-6">
        @Html.TextBoxFor(a => a.LoanId, new { @class = "form-control", id = "LRefId", @readonly = "readonly", @style = "width: 500px;" })
    </div>
</div>
<br />



<table style="width: 50%; min-width: 600px;">


    <tr>
        <td width="170px" height="10px"><label class="control-label">1. Customer Detail<span class="error">*</span></label></td>
        <td><textarea type="text" id="CustomerDetail" name="CustomerDetail" class="form-control" style="min-height: 70px;" readonly="readonly"></textarea></td>
    </tr>
    <tr>
        <td width="170px" height="10px"><label class="control-label">2. Gurantor Detail<span class="error">*</span></label></td>
        <td><textarea type="text" id="GuarantorsDetail" name="GuarantorsDetail" class="form-control" style="min-height: 70px;" readonly="readonly"></textarea></td>
    </tr>
    <tr>
        <td width="170px" height="10px"><label class="control-label">3. Deviation<span class="error">*</span></label></td>
        <td><textarea type="text" id="Deviation" name="Deviation" class="form-control" style="min-height: 70px;" readonly="readonly"></textarea ></td>
    </tr>
    <tr>
        <td width="170px" height="10px"><label class="control-label">4. Approver Comment<span class="error">*</span></label></td>
        <td><textarea type="text" id="ApproverComment" name="ApproverComment" class="form-control" style="min-height: 70px;" readonly="readonly"></textarea></td>
    </tr>

</table>
<input type="hidden" id="hdfCustomerDeviationId" name="CustomerDeviationId" />
<input type="hidden" id="hdfLoanIdForAddtioanlInfo" name="LoanId" value="">

<h3>Loan Documents</h3>



<table style="width: 790px;">

    <tr>
        <td width="170px" height="10px"><label class="control-label">1. Document Name<span class="error">*</span></label></td>
        <td width="290px"><label name="DocumentName" id="DocumentName" style="width: 500px;"></label></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <img src="" alt="No Image" id="imageDisplay"/>
            <iframe id="fileDisplay" src="" width='600' height='400' allowfullscreen webkitallowfullscreen></iframe>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input id="ScanDocument_Clear" type="button" value="Close" class="btn btn-success" style="padding: 8px 15px;" />
        </td>
    </tr>

</table>
<input type="hidden" id="hiddenLoanId" />
<input type="hidden" id="hiddenScanDocumnetId" name="Id" />
<input type="hidden" id="hiddenScanDocumentImagePath" />

<div style="width: 50%; min-width: 600px;">
    <div class="tablecontainer table-responsive" id="refresh">
        <table id="ScanDocumentTable" class="display" cellspacing="0" style="width: 100%;">
            <thead>
            <tr>
                <th>Loan Id</th>
                <th>Document Name</th>
            </tr>
            </thead>
        </table>
    </div>

</div>

<h3>Signatories</h3>
<table style="width: 50%; min-width: 600px;">
    <tr>
        <td><label class="control-label">1. Name of Officer<span class="error">*</span></label></td>
        <td>
            <label name="EmpCode" id="EmpCode"></label>
        </td>
    </tr>

    <tr>
        <td><label class="control-label">2. Functional Position<span class="error">*</span></label></td>
        <td><label id="FunctionalPosition"></label></td>
    </tr>
    
    <tr>
        <td><label class="control-label">3. Designation<span class="error">*</span></label></td>
        <td>
            <label id="DesignationName"></label>
        </td>
    </tr>


    <tr>
        <td>
            <input id="Signatories_Clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 15px;" />
        </td>
    </tr>

</table>

<input type="hidden" id="hdfSignatoryId" name="Id" />
<input type="hidden" id="hdfLoanIdForSignatory" name="LoanId" />


<div style="width: 50%; min-width: 600px;">
    <div class="tablecontainer table-responsive" id="refresh">
        <table id="SignatoryDataTable" class="display" cellspacing="0" style="width: 100%;">
            <thead>
            <tr>
                <th>Loan Id</th>
                <th>Functional Position</th>
                <th>Name of Officer</th>
                <th>Designation</th>
            </tr>
            </thead>
        </table>
    </div>
</div>


<script>

    //json to date converter
    function FormateDate(jsonDate) {
        var monthNames = [
            "Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Novr", "Dec"
        ];
        var date = new Date(parseInt(jsonDate.substr(6)));
        var dd = date.getDate();
        var mm = monthNames[date.getMonth()];
        var yyyy = date.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        var formmatedDate = dd + '/' + mm + '/' + yyyy;
        return formmatedDate;
    }

    //date picker
    $('.datepicker').datepicker({
        dateFormat: "dd/M/yy",
        changeMonth: true,
        changeYear: true,
        yearRange: "-60:+0"
    });



    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        $('#UpdateCustomerData').hide();

        GetAddtionalInfoData();

        function GetAddtionalInfoData() {
            var LoanId = $('#LRefId').val();
            var data = { loanId: LoanId };
            $.ajax({
                url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetAddtionalInfoData",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (data) {
                    bindAddtionalInfoData(data);

                }
            });
        }

        function bindAddtionalInfoData(data) {

            $('#hdfLoanIdForAddtioanlInfo').val(data.data[0].LoanId);
            $('#hdfCustomerDeviationId').val(data.data[0].Id);
            $('#CustomerDetail').val(data.data[0].CustomerDetail);
            $('#GuarantorsDetail').val(data.data[0].GuarantorsDetail);
            $('#Deviation').val(data.data[0].Deviation);
            $('#ApproverComment').val(data.data[0].ApproverComment);

            $('#submitCustomerData').show();
            $('#CustomerDatar_Clear').show();
        }

        function ClearAddtionalInfoData() {
            //$('#hdfCustomerDeviationId').val('');
            $('#CustomerDetail').val('');
            $('#GuarantorsDetail').val('');
            $('#Deviation').val('');
            $('#ApproverComment').val('');
            $('#submitCustomerData').show();
            $('#UpdateCustomerData').hide();
            $('#deleteCustomerData').hide();
            document.getElementById('showMessage').innerHTML = '';
        }

        $('#CustomerDatar_Clear').click(function () {
            ClearAddtionalInfoData();
            $('#submitCustomerData').show();
            $('#UpdateCustomerData').hide();
            $('#deleteCustomerData').hide();
            $('#CustomerDatar_Clear').show();
        });

        $('#clear').click(function () {
            window.location.reload();
        });

    });

    $(document).ready(function () {
        $('#fileDisplay').hide();
        var oScanDocumentTable;
        ScanDocumentTable();

        function ScanDocumentTable() {
            oScanDocumentTable = $('#ScanDocumentTable').DataTable({
                "ajax": {
                    url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetScanDocumnetInfo",
                    "type": "get",
                    "data": {
                        "LoanId": $('#LRefId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "LoanId" },
                    { "data": "DocumentName" },
                    //{
                    //    "data": "ImagePath",
                    //    "render": function(data, type, row) {
                    //        return '<img src="' + data + '" width="40px" height="40px"/>';
                    //    }
                    //}
                ],
                "order": [[0, "desc"]],
                searching: false,
                paging: false,
                "bInfo": false
            });
            $('#ScanDocumentTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    oScanDocumentTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindDataForScanDocumentTable(oScanDocumentTable.row(this).data());
            });
        }

        function bindDataForScanDocumentTable(data) {
            $('#hiddenScanDocumnetId').val(data.Id);
            $('#LoanId').val(data.LoanId);
            document.getElementById('DocumentName').innerHTML = data.DocumentName;
            //$('#imageDisplay').attr('src', data.ImagePath);
            $('#imageDisplay').attr('src', '');
            $('#fileDisplay').attr('src', '');
            if (data.ImagePath.indexOf('.jpg') !== -1 || data.ImagePath.indexOf('.jpeg') !== -1 || data.ImagePath.indexOf('.png') !== -1 || data.ImagePath.indexOf('.gif') !== -1) {
                $('#fileDisplay').hide();
                $('#imageDisplay').show();
                $('#imageDisplay').attr('src', data.ImagePath);
            } else {
                $('#imageDisplay').hide();
                $('#fileDisplay').show();
                $('#fileDisplay').attr('src', '../../..' + data.ImagePath);
            }
            $('#hiddenScanDocumentImagePath').val(data.OldImagePath);
        }

        //scan document save area

        $("#fileUpload").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imageDisplay').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        function ClearAllData() {
            $('#DocumentName').html('');
            $('#LoanId').val('');
            $('#fileUpload').val('');
            $('#imageDisplay').attr('src', '');
            $('#fileDisplay').attr('src', '');
            $('#fileDisplay').hide();
        }

        $('#ScanDocument_Clear').click(function () {
            ClearAllData();
        });



    });

    $(document).ready(function () {

        $('#updateSignatories').hide();
        $('#deleteSignatories').hide();

        function ClearSignatoryData() {
            $('#FunctionalPosition').val('');
            $('#EmpCode').val('0');
            document.getElementById('EmpCode').innerHTML = '';
            document.getElementById('DesignationName').innerHTML = '';
            document.getElementById('FunctionalPosition').innerHTML = '';
            $('#saveSignatories').show();
            $('#updateSignatories').hide();
            $('#deleteSignatories').hide();
        }
        $('#Signatories_Clear').click(function () {
            ClearSignatoryData();
            $('#updateSignatories').hide();
            //$('#deleteSignatories').hide();
            $('#saveSignatories').show();
        });

        var oSignatoryDataTable;
        LoadSignatoryDataTable();
        function LoadSignatoryDataTable() {
            oSignatoryDataTable = $('#SignatoryDataTable').DataTable({
                "ajax": {
                    url: window.applicationBaseUrl + "Loan/ApprovedLoanList/GetSignatoryDataForDataTable",
                    "type": "get",
                    "data": {
                        "LoanId": $('#LRefId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "LoanId" },
                    { "data": "FunctionalPosition" },
                    { "data": "EmployeeName" },
                    { "data": "DesignationName" }


                ],
                "order": [[0, "desc"]],
                searching: false,
                paging: false,
                "bInfo": false
            });
            $('#SignatoryDataTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oSignatoryDataTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindSignatoryData(oSignatoryDataTable.row(this).data());
            });
        }

        function bindSignatoryData(data) {

            $('#hdfSignatoryId').val(data.Id);
            $('#hdfLoanIdForSignatory').val(data.LoanId);
            //$('#EmpCode').val(data.EmployeeName);
            //$('#FunctionalPosition').val(data.FunctionalPosition);
            document.getElementById('EmpCode').innerHTML = data.EmployeeName;
            document.getElementById('FunctionalPosition').innerHTML = data.FunctionalPosition;
            document.getElementById('DesignationName').innerHTML = data.DesignationName;
            $('#Signatories_Clear').show();
        }

    });

</script>


