﻿@model TonyMultipurpose.Areas.Loan.Models.MonthlyIncome
@{
    Layout = null;

}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>

<div class="row">
    <div class="col-md-3">
        <label id="showMessage" style="color: red; font-size: medium"></label>
    </div>
    <div class="col-md-4">

        <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="NotASavedLoan">
        <input type="hidden" id="hdfAccounts" name="hdfAccounts" value="">
        <input type="hidden" id="hdfCustomerId" name="hdfCustomerId" value="">
    </div>
</div>

<table style="width: 100%;">
    <tr>
        <td style="width: 50%">
            <fieldset style="padding-top: 10px; border: 1px solid #666; border-radius: 8px; box-shadow: 0 0 10px #666; background: #fff; min-height: 440px;">
                <h3>Monthly Income</h3>
                <div class="col-md-10">
                    <label id="MonthlyIncome_showMessage" style="color: red; font-size: medium"></label>
                </div>
                <table cellspacing="0" class="table table-bordered" style="width: 100%;">
                    <tr>
                        <td style="width:200px">
                            <label class="control-label"> Loan Id</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "MonthlyIncome_LoanId", @readonly = "readonly" })
                            @Html.ValidationMessageFor(l => l.LoanId, "", new { @class = "text-danger", @style = "color:red" })
                            <input type="hidden" id="hdfMonthlyIncomeId" name="MonthlyIncomeId" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownList("IncomeType", new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Agriculture", Value = "1"},
                                new SelectListItem {Text = "Salary", Value = "2"},
                                new SelectListItem {Text = "House Rent", Value = "3"},
                                new SelectListItem {Text = "Business", Value = "4"},
                                new SelectListItem {Text = "Select Income Type", Value = "0", Selected = true}
                            }, new { id = "IncomeType", @class = "form-control" })
                        </td>
                        <td><input type="text" name="Amount" id="Amount" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownList("SpouseIncomeType", new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Agriculture", Value = "1"},
                                new SelectListItem {Text = "Salary", Value = "2"},
                                new SelectListItem {Text = "House Rent", Value = "3"},
                                new SelectListItem {Text = "Business", Value = "4"},
                                new SelectListItem {Text = "Spouse Income", Value = "0", Selected = true}
                            }, new { id = "SpouseIncomeType", @class = "form-control" })
                        </td>
                        <td><input type="text" name="SpouseAmount" id="SpouseAmount" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Other Income</label></td>
                        <td><input type="text" name="OtherIncomeAmount" id="OtherIncomeAmount" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Foreign Remittance</label></td>
                        <td><input type="text" name="ForeignRemitAmount" id="ForeignRemitAmount" class="form-control" readonly="readonly" /></td>

                    </tr>
                    <tr>
                        <td><label class="control-label">Total</label></td>
                        <td><input type="text" name="TotalAmount" id="TotalAmount" class="form-control" readonly="readonly" /></td>

                    </tr>
                    <tr style="display: none">
                        <td colspan="2">
                            <div class="tablecontainer table-responsive">
                                <table align="left" id="MonthlyIncomeTable" class="display" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Loan Id</th>
                                            <th>IncomeType</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th colspan="2" style="text-align: right">Total:</th>
                                            <th id="xx"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </td>
                    </tr>

                </table>
            </fieldset>
        </td>

        <td style="width: 50%">
            <fieldset style="padding-top: 10px; border: 1px solid #666; border-radius: 8px; box-shadow: 0 0 10px #666; background: #fff;">
                <h3>Monthly Expense</h3>

                <table class="table table-bordered" style="width: 100%;">
                    <tr>
                        <td style="width:200px"><label class="control-label"> Loan Id</label></td>
                        <td>
                            @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "MonthlyExpense_LoanId", @readonly = "readonly" })
                            @Html.ValidationMessageFor(l => l.LoanId, "", new { @class = "text-danger", @style = "color:red" })
                            <input type="hidden" id="hdfMonthlyExpenseId" name="MonthlyExpenseId" value="">
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Family Expense</label></td>
                        <td><input type="text" name="FamilyExpense" id="FamilyExpense" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Children Education</label></td>
                        <td><input type="text" name="ChildrenEducation" id="ChildrenEducation" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Existing EMI</label></td>
                        <td><input type="text" name="ExistingEMI" id="ExistingEMI" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Others Expense</label></td>
                        <td><input type="text" name="OthersExpense" id="OthersExpense" class="form-control" readonly="readonly" /></td>
                    </tr>

                    <tr>
                        <td><label class="control-label">Total</label></td>
                        <td><input type="text" name="TotalExpense" id="TotalExpenseAmount" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="">Surplus Income : </label></td>
                        <td><label id="labelSurplusIncome" class="form-control"></label></td>
                    </tr>

                </table>
            </fieldset>
        </td>
    </tr>
</table>


<h3>Additional Loan Info</h3>

<table class="table table-bordered" style="width: 790px; display:none;">
    <tr>
        <td>
            <input type="hidden" id="hdfAdditionalLoanDetail" name="AdditionalLoanDetail" value="">
            <label class="control-label">Referrence Id</label>
            @Html.EditorFor(model => model.LoanId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </td>
    </tr>

</table>

<div class="tablecontainer table-responsive">
    <table id="AdditionalTable" class="display" style="min-width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th style="min-width: 200px;">Institute Name</th>
                <th>Loan Amount</th>
                <th>Loan Type</th>
                <th>Installment Amount</th>
                <th>Account No</th>
                <th>Account Name</th>
                <th style="min-width: 90px;">Start Date</th>
                <th style="min-width: 90px;">Expire Date</th>
                <th>Present Outs Tk.</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="4" style="text-align: right">Total:</th>
                <th></th>
                <th colspan="4"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>


<h3>Bank/NGO Performance</h3>
<table class="table table-bordered" style="width: 790px;">
    <tr style="display:none;">
        <td>
            <label class="control-label"> Loan Id</label>
            <label id="Bankperformance_showMessage" style="color: red; font-size: medium"></label>
            @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "Bankperformance_LoanId", @readonly = "readonly" })
            <input type="hidden" id="hdfBankperformanceId" name="BankperformanceId" value="">
        </td>

    </tr>

</table>

<div class="tablecontainer table-responsive">
    <table id="BankperformanceTable" class="display" style="min-width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th style="min-width: 200px;">Bank/NGO name</th>
                <th>Acc No</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Debit Amount</th>
                <th>Credit Amount</th>
                <th>Avg</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="5" style="text-align: right">Total:</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<table style="width: 100%">
    <tr>
        <td width="50%">
            <fieldset>
                <legend>Financial Justification</legend>
                <table style="width: 100%" border="1">
                    <thead>
                        <tr class="success">
                            <td>Installment Type</td>
                            <td>Weekly</td>
                            <td>Monthly</td>
                            <td>M.Decision</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td rowspan="8">

                                <table style="width: 50%">
                                    <tr>
                                        <td>
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td><label class="control-label">Loan No</label></td>
                                                    <td><label name="LoanNo" id="managementLoanNo" class="form-control" readonly="readonly"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Loan Amount<span class="error">*</span></label></td>
                                                    <td><label type="text" name="managementLoanAmount" id="managementLoanAmount" class="form-control" readonly="readonly"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Installment Type</label></td>
                                                    <td><label name="managementInstallmentType" id="managementInstallmentType" class="form-control" readonly="readonly"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Interest Rate</label></td>
                                                    <td><label name="managementInterestRate" id="managementInterestRate" class="form-control" readonly="readonly"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Installment No</label></td>
                                                    <td><label name="managementInstallmentNo" id="managementInstallmentNo" class="form-control" readonly="readonly"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Installment Amount</label></td>
                                                    <td><label name="managementInstallmentAmount" id="managementInstallmentAmount" class="form-control" readonly="readonly"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Date</label></td>
                                                    <td><label id="LoanDisburseDate" name="LoanDisburseDate" class="form-control" readonly="readonly"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Expiry Date</label></td>
                                                    <td><label id="LoanExpiryDate" name="LoanExpiryDate" class="form-control" readonly="readonly"></label></td>
                                                </tr>

                                            </table>

                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>Loan Amount</td>
                            <td><label id="labelweeklyLoanAmount" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyLoanAmount" class="col-sm-2 col-form-label"></label></td>

                        </tr>
                        <tr>
                            <td>Installment Type </td>
                            <td><label id="labelweeklyInstallmentType" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyInstallmentType" class="col-sm-2 col-form-label"></label></td>

                        </tr>
                        <tr>
                            <td>Interest Rate </td>
                            <td><label id="labelweeklyInterestRate" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyInterestRate" class="col-sm-2 col-form-label"></label></td>

                        </tr>
                        <tr>
                            <td>Total Installment  </td>
                            <td><label id="labelweeklyNoInstallment" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyNoInstallment" class="col-sm-2 col-form-label"></label></td>

                        </tr>
                        <tr>
                            <td>Installment Amount </td>
                            <td><label id="labelweeklyInstallmentAmount" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyInstallmentAmount" class="col-sm-2 col-form-label"></label></td>

                        </tr>
                        <tr>
                            <td>Customer Equity </td>
                            <td style="display: none"><label id="labelweeklyEquity" class="col-sm-2 col-form-label"></label></td>
                            <td style="display: none"><label id="labelmonthlyEquity" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelweeklyEquity1" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyEquity1" class="col-sm-2 col-form-label"></label></td>
                        </tr>
                        <tr>
                            <td>DBR Ratio </td>
                            <td style="display: none"><label id="labelweeklyDbr" class="col-sm-2 col-form-label"></label></td>
                            <td style="display: none"><label id="labelmonthlyDbr" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelweeklyDbr1" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyDbr1" class="col-sm-2 col-form-label"></label></td>
                        </tr>

                    </tbody>
                </table>


            </fieldset>
        </td>

        <td width="2%"></td>
    </tr>

</table>



    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script>
    var emiTotal;
    var oAdditionalTable;
    (function () {
        var z;
        ShowData();
        function ShowData() {
            oAdditionalTable = $('#AdditionalTable').DataTable({
                "ajax": {
                    "url": window.applicationBaseUrl + "Loan/ApprovedLoanList/GetAdditionalLoanInfoById",
                    "type": "get",
                    "data": {
                        "LoanId": $('#MonthlyIncome_LoanId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "AdditionalLoanDetailId",
                        "width": "25px",
                        "render": function (data) {
                            return '<input class="form-control" id="AdditionalLoanDetailId" name="AdditionalLoanDetailId" type="text" readonly="readonly"  value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "InstituteName",
                        "width": "130px",
                        "render": function (data) {
                            return '<input class="form-control" id="InstituteName" name="InstituteName" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "LoanAmount",
                        "render": function (data) {
                            return '<input class="form-control" id="LoanAmount" name="LoanAmount" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "LoanType",
                        "render": function (data) {
                            return '<input class="form-control" id="LoanType" name="LoanType" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "Installment",
                        "render": function (data) {
                            return '<input class="form-control" id="Installment" name="Installment" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "AccountNo",
                        "render": function (data) {
                            return '<input class="form-control" id="AccountNo" name="AccountNo" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "AccountName",
                        "render": function (data) {
                            return '<input class="form-control" id="AccountName" name="AccountName" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "StartDate",
                        "render": function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            var mon = monthNumToName(month);
                            var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                            // bindDatePickerforstdate();
                            return '<input class="form-control" id="StartDate" name="StartDate" type="text" readonly="readonly" value = "' + datadate + '"  >';
                        }
                    },
                    {
                        "data": "ExpireDate",
                        "render": function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            var mon = monthNumToName(month);
                            var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                            //  bindDatePickerforexdate();
                            return '<input class="form-control" id="ExpireDate" name="ExpireDate" type="text" readonly="readonly" value = "' + datadate + '"  >';
                        }
                    },
                    {
                        "data": "PresentOutAmount",
                        "render": function (data) {
                            return '<input class="form-control" id="PresentOutAmount" name="PresentOutAmount" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    }
                ],
                ordering: false,
                searching: false,
                paging: false,
                "bInfo": false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    emiTotal = api
                        .column(4, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    var PresentOut = api
                        .column(9, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(4).footer()).html(
                        emiTotal
                    );

                    $(api.column(9).footer()).html(
                        PresentOut
                    );
                    z = emiTotal;
                }
            });
        };

        Finance();

    })();

    /**********************************************************************/

    function Finance() {
        var data = {
            LoanId: $('#MonthlyIncome_LoanId').val()
        }
        $.ajax({
            url: window.applicationBaseUrl + "Loan/ApprovedLoanList/Finance",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (obj) {
                if (obj.loanHistoryInfo.InstallmentTypeId === 1) {
                    document.getElementById('labelmonthlyInstallmentType').innerHTML = 'Monthly';
                    document.getElementById('labelweeklyInstallmentType').innerHTML = obj.loanHistoryInfo.InstallmentTypeName;
                }

                if (obj.loanHistoryInfo.InstallmentTypeId === 2) {
                    document.getElementById('labelweeklyInstallmentType').innerHTML = 'Weekly';
                    document.getElementById('labelmonthlyInstallmentType').innerHTML = obj.loanHistoryInfo.InstallmentTypeName;
                }
                document.getElementById('labelSurplusIncome').innerHTML = parseFloat(obj.surplusIncome);

                document.getElementById('labelweeklyLoanAmount').innerHTML = obj.loanHistoryInfo.LoanAmount;
                if (obj.loanHistoryInfo.AccountSetupId == 12) {
                    document.getElementById('labelweeklyInterestRate').innerHTML = obj.loanHistoryInfo.InterestRateToDisplay + '%';
                } else {
                    document.getElementById('labelweeklyInterestRate').innerHTML = obj.loanHistoryInfo.InterestRate + '%';
                }
                
                document.getElementById('labelweeklyNoInstallment').innerHTML = obj.loanHistoryInfo.WeeklyInstallmentNumber;
                document.getElementById('labelweeklyInstallmentAmount').innerHTML = obj.loanHistoryInfo.WeeklyInstallmentAmount;
                document.getElementById('labelweeklyDbr1').innerHTML = obj.loanHistoryInfo.WeeklyDbr + '%';
                document.getElementById('labelweeklyEquity1').innerHTML = obj.loanHistoryInfo.Equity + '%';

                document.getElementById('labelmonthlyLoanAmount').innerHTML = obj.loanHistoryInfo.LoanAmount;
                if (obj.loanHistoryInfo.AccountSetupId == 12) {
                    document.getElementById('labelmonthlyInterestRate').innerHTML = obj.loanHistoryInfo.InterestRateToDisplay + '%';
                } else {
                    document.getElementById('labelmonthlyInterestRate').innerHTML = obj.loanHistoryInfo.InterestRate + '%';
                }              
                document.getElementById('labelmonthlyNoInstallment').innerHTML = obj.loanHistoryInfo.MonthlyInstallmentNumber;
                document.getElementById('labelmonthlyInstallmentAmount').innerHTML = obj.loanHistoryInfo.MonthlyInstallmentAmount;
                document.getElementById('labelmonthlyDbr1').innerHTML = obj.loanHistoryInfo.MonthlyDbr + '%';
                document.getElementById('labelmonthlyEquity1').innerHTML = obj.loanHistoryInfo.Equity + '%';


                document.getElementById('managementLoanNo').innerHTML = obj.info.LoanNo;

                if (obj.loanHistoryInfo.AccountSetupId == 12) {
                    document.getElementById('managementInterestRate').innerHTML = obj.info.InterestRateToDisplay + '%';
                } else {
                    document.getElementById('managementInterestRate').innerHTML = obj.info.InterestRate + '%';
                }
                
                document.getElementById('managementLoanAmount').innerHTML = obj.info.LoanAmount;
                document.getElementById('managementInstallmentAmount').innerHTML = obj.info.InstallmentAmount;
                document.getElementById('managementInstallmentNo').innerHTML = obj.info.NumberOfInstallment;
                document.getElementById('LoanDisburseDate').innerHTML = obj.info.LoanDate;
                document.getElementById('LoanExpiryDate').innerHTML = obj.info.LoanExpiryDate;
                document.getElementById('managementInstallmentType').innerHTML = obj.info.InstallmentTypeName;

            },
            error: function () {
            }
        });
    }

    var oBankperformanceTable;
    BankperformanceTable();

    function BankperformanceTable() {
        oBankperformanceTable = $('#BankperformanceTable').DataTable({
            "ajax": {
                "url": window.applicationBaseUrl + "Loan/ApprovedLoanList/GetAllBankperformanceInfo",
                "type": "get",
                "data": {
                    "LoanId": $('#Bankperformance_LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "BankperformanceId",
                    "width": "30px",
                    //"visible": false,
                    "render": function (data) {
                        return '<input class="form-control" id="BankperformanceId" name="BankperformanceId" type="text" readonly="readonly"  value =" ' + data + '">';
                    }
                },
                {
                    "data": "NgoName",
                    "width": "130px",
                    "render": function (data) {
                        return '<input class="form-control" id="NgoName" type="text" name="NgoName" readonly="readonly" value =" ' + data + '">';
                    }
                },
                {
                    "data": "AccNo",
                    "render": function (data) {
                        return '<input class="form-control" id="AccNo" name="AccNo" type="text" readonly="readonly"  value =" ' + data + '">';
                    }
                },
                {
                    "data": "FromDate",
                    //"visible": false,
                    "render": function (data) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        var mon = monthNumToName(month);
                        var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                        return '<input class="form-control" id="FromDate" name="FromDate" type="text"  readonly="readonly" value = "' + datadate + ' " >';
                    }
                },
                {
                    "data": "ToDate",
                    "render": function (data) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        var mon = monthNumToName(month);
                        var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                        return '<input class="form-control" id="ToDate" name="ToDate" type="text" readonly="readonly"  value = "' + datadate + ' " >';
                    }
                },
                {
                    "data": "DebitAmount",
                    "render": function (data) {
                        return '<input class="form-control" id="DebitAmount" name="DebitAmount" type="text" readonly="readonly"  value =" ' + data + '">';
                    }
                },
                {
                    "data": "CreditAmount",
                    "render": function (data) {
                        return '<input class="form-control" id="CreditAmount" name="CreditAmount" type="text" readonly="readonly" value =" ' + data + '">';
                    }
                },
                {
                    "data": "Avg",
                    "render": function (data) {
                        return '<input class="form-control" id="Avg" name="Avg" type="text" readonly="readonly"  value =" ' + Math.round(data) + '">';
                    }
                }
            ],
            //"order": [[0, "desc"]],
            ordering: false,
            searching: false,
            paging: false,
            "bInfo": false,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };

                // Total over all pages
                total = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                var drTotal = api
                    .column(5, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var crTotal = api
                    .column(6, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var avgTotal = api
                    .column(7, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Update footer
                $(api.column(5).footer()).html(
                    drTotal
                );
                $(api.column(6).footer()).html(
                    crTotal
                );
                $(api.column(7).footer()).html(
                    Math.round(avgTotal)
                );
            }
        });
    }



    var incomeTotal;
    var x;

    MonthlyInformatiom();
    /// ======== Monthly Informtion========
    function MonthlyInformatiom() {
        var loanId = $('#MonthlyIncome_LoanId').val();
        var data = { loanId: loanId };
        $.ajax({
            url: window.applicationBaseUrl + "Loan/ApprovedLoanList/GetAllMonthlyIncomeInfo",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (data) {
                $('#Amount').val(data.data[0].Amount);
                $('#IncomeType').val(data.data[0].IncomeType);
                $('#OtherIncomeAmount').val(data.data[0].OtherIncomeAmount);
                $('#SpouseAmount').val(data.data[0].SpouseAmount);
                $('#SpouseIncomeType').val(data.data[0].SpouseIncomeType);
                $('#ForeignRemitAmount').val(data.data[0].ForeignRemitAmount);
                $('#TotalAmount').val(data.data[0].TotalIncome);

            }
        });
    }


    var months = [
        'Jan', 'Feb', 'Mar', 'Apr', 'May',
        'Jun', 'Jul', 'Aug', 'Sep',
        'Oct', 'Nov', 'Dec'
    ];

    function monthNumToName(monthnum) {
        return months[monthnum - 1] || '';
    }


    var expenseTotal;
    var y;

    MonthlyExpenseInformatiom();
    function MonthlyExpenseInformatiom() {
        var loanId = $('#MonthlyExpense_LoanId').val();
        var data = { loanId: loanId };
        $.ajax({
            url: window.applicationBaseUrl + "Loan/ApprovedLoanList/GetAllMonthlyExpenseInfo",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (data1) {
                $('#FamilyExpense').val(data1.data[0].FamilyExpense);
                $('#ChildrenEducation').val(data1.data[0].ChildrenEducation);
                $('#ExistingEMI').val(data1.data[0].ExistingEMI);
                $('#OthersExpense').val(data1.data[0].OthersExpense);
                $('#TotalExpenseAmount').val(data1.data[0].TotalExpense);
            }
        });
    }


    function NetIncomeCalculation() {
        var Amount = parseFloat($('#Amount').val());
        var SpouseAmount = parseFloat($('#SpouseAmount').val());
        var OtherIncomeAmount = parseFloat($('#OtherIncomeAmount').val());
        var ForeignRemitAmount = parseFloat($('#ForeignRemitAmount').val());
        var totalAmount = parseFloat(SpouseAmount + Amount + OtherIncomeAmount + ForeignRemitAmount);
        $('#TotalAmount').val(totalAmount);
    }

    function NetExpenseCalculation() {
        var FamilyExpense = parseFloat($('#FamilyExpense').val());
        var ChildrenEducation = parseFloat($('#ChildrenEducation').val());
        var ExistingEMI = parseFloat($('#ExistingEMI').val());
        var OthersExpense = parseFloat($('#OthersExpense').val());
        var totalAmount = parseFloat(FamilyExpense + ChildrenEducation + ExistingEMI + OthersExpense);
        $('#TotalExpenseAmount').val(totalAmount);
    }


</script>





