﻿@using TonyMultipurpose.Areas.Loan.Models;
@model LoanModel


@{
    var Ishecked = string.Empty;
    if (Model.IsDepositsFromSaving)
    {
        Ishecked = "checked";
    }
    ViewBag.Title = "Approve Loan Application";
}


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <style>
        /*Adding some css for looks good*/
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 1px solid #BFAEAE !important;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: left;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }

        #hideid {
            display: none;
        }

        .formatedTable td {
            padding-bottom: 6px;
        }

        .formatedTable input {
            padding-right: 210px;
        }

        .form-group {
            margin-bottom: 7px;
        }
    </style>




<div class="container panel panel-default" style="float: left" id="tabs">
    <ul>
        <li><a href="#basicInfo">Basic Information</a></li>
        <li id="gaurantorInfoTab"><a href="#gaurantorInfo">Gaurantor</a></li>
        <li id="financialInfoTab"><a href="#Financial">Financial</a></li>
        <li id="commentsAndSignatoryInfoTab"><a href="#CommentsAndSignatory">Comments And Signatory</a></li>
        <li id="customersChequeInfoTab"><a href="#CustomersCheque">Customers Cheque</a></li>
    </ul>
    <div class="row" style="margin-left: 50px;">
        <label id="showMessage" style="color: red; font-size: medium"></label>
        <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="@ViewBag.LoanId">
    </div>
    <div id="basicInfo">
        <div class="container">
            <div class="row form-group">
                <div class="col-md-8">

                    <br />
                    <div class="form-group">
                        <table width="100%">
                            <tr>
                                <td width="150px"><label class="control-label">1. Loan Id<span class="error">*</span></label></td>
                                <td width="300px"><label id="LoanId" name="LoanId" readonly="readonly">@Model.LoanId</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">2. Loan No<span class="error">*</span></label></td>
                                <td width="300px"><label id="LoanNo" name="LoanNo" readonly="readonly">@Model.LoanNo</label></td>
                            </tr>
                            <tr>
                                <td width="150px" height="10px"><label class="control-label">3. Loan Type<span class="error">*</span></label></td>
                                <td width="300px"><label name="LoanTypeId" id="LoanType">@Model.AccountTypeName</label></td>
                            </tr>

                            <tr>
                                <td width="150px"><label class="control-label">4. Referencee Name<span class="error">*</span></label></td>
                                <td width="300px"><label id="RefName" name="ReferenceName">@Model.ReferenceName</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">4. Customer ID<span class="error">*</span></label></td>
                                <td width="300px">
                                    <label id="CustomerId" name="CustomerId">@Model.CustomerId</label>
                                    <input type="text" id="CustomerId" name="CustomerId" class="form-control" value="" style="display:none;" />
                                </td>

                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">5. Customer Name<span class="error">*</span></label></td>
                                <td width="300px"><label id="CustomerName">@Model.CustomerName</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">6. Account Number<span class="error">*</span></label></td>
                                <td width="300px"><label name="AccountNumber" id="AccountNumber">@Model.AccountNumber</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">7. Date<span class="error">*</span></label></td>
                                <td width="300px"><label id="LoanDate" name="LoanDate">@Model.LoanDate</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">8. Loan Request Amount<span class="error">*</span></label></td>
                                <td width="300px"><label id="LoanAmount" name="LoanAmount">@Model.LoanAmount</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">9. Interest Rate<span class="error">*</span></label></td>
                                <td width="300px"><label id="InterestRate" name="InterestRate">@Model.InterestRateToDisplay</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">10. Installment Type<span class="error">*</span></label></td>
                                <td width="300px"><label name="InstallmentTypeId" id="InstallmentTypeId">@Model.InstallmentTypeName</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">11. Installment No<span class="error">*</span></label></td>
                                <td width="300px"><label id="NumberOfInstallment" name="NumberOfInstallment">@Model.NumberOfInstallment</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">12. Extra Fee<span class="error">*</span></label></td>
                                <td width="300px"><label id="ExtraFee" name="ExtraFee"></label>@Model.ExtraFee</td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">13. Purpose<span class="error">*</span></label></td>
                                <td width="300px"><label id="PurposeOfLoan" name="PurposeOfLoan">@Model.PurposeOfLoan</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">14. Purpose Cost<span class="error">*</span></label></td>
                                <td width="300px"><label id="TotalAssetCost" name="TotalAssetCost">@Model.TotalAssetCost</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">15. Supplier<span class="error">*</span></label></td>
                                <td width="300px"><label id="DistributorName" name="DistributorName">@Model.DistributorName</label></td>
                            </tr>
                            @*<tr>
                                    <td width="150px"><label class="control-label">16. Total Purchase Amount<span class="error">*</span></label></td>
                                    <td width="300px"><label id="TotalPurchaseAmount" name="TotalPurchaseAmount">@Model.TotalPurchaseAmount</label></td>
                                </tr>*@
                            <tr>
                                <td width="150px"><label class="control-label">17. Residental Condition<span class="error">*</span></label></td>
                                <td width="300px"><label name="ResidentialConditionId" id="ResidentialCondition">@Model.ResidentialConditionType</label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">18. Is Deposit From Saving<span class="error">*</span></label></td>
                                <td width="300px"><input checked="checked" class="form-check-input" id="IsDepositsFromSaving" name="IsDepositsFromSaving" type="checkbox" @(Ishecked) /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-4" id="CustomerInfo">
                    <div class="col-md-12">
                        <img src="@ViewBag.CustomerInfo.CustomerImage" alt="No Image" id="customerImage" class="img-responsive" style="height: 150px; width: 150px;" />
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Customer Name</label>
                        </div>
                        <div class="col-md-8">
                            : &nbsp; <label id="LabelCustomerName">@ViewBag.CustomerInfo.CustomerName</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Father's Name</label>
                        </div>
                        <div class="col-md-8">
                            : &nbsp;  <label id="FatherName">@ViewBag.CustomerInfo.FatherName</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Mother's Name</label>
                        </div>
                        <div class="col-md-8">
                            : &nbsp;  <label id="LabelMotherName">@ViewBag.CustomerInfo.MotherName</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Spouse Name</label>
                        </div>
                        <div class="col-md-8">
                            : &nbsp;  <label id="LabelSpouseName">@ViewBag.CustomerInfo.SpouseName</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Date Of Birth</label>
                        </div>
                        <div class="col-md-8">
                            : &nbsp;  <label id="LabelDateOfBirth">@ViewBag.CustomerInfo.DateOfBirth.ToString("dd/MMM/yyyy")</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">NID</label>
                        </div>
                        <div class="col-md-8">
                            : &nbsp; <label id="LabelNationalId">@ViewBag.CustomerInfo.NationalId</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Organization / Institution </label>
                        </div>
                        <div class="col-md-8">
                            : &nbsp; <label id="LabelOccupationAndPosition">@ViewBag.CustomerInfo.OccupationAndPosition</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Present Address</label>
                        </div>
                        <div class="col-md-8">
                            : &nbsp; <label id="LabelPresentAddress">@ViewBag.CustomerInfo.PresentAddress</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Permanent Address</label>
                        </div>
                        <div class="col-md-8">
                            : &nbsp; <label id="LabelPermanentAddress">@ViewBag.CustomerInfo.PermanentAddress</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label"> Designation / Position</label>
                        </div>
                        <div class="col-md-8">
                            : &nbsp; <label id="LabelPosition">@ViewBag.CustomerInfo.Position</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">  Profession / Income Source</label>
                        </div>
                        <div class="col-md-8">
                            : &nbsp; <label id="LabelProfession">@ViewBag.CustomerInfo.CustomerIncomeSource</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="gaurantorInfo">
    </div>
    <div id="CommentsAndSignatory">
    </div>

    <div id="Financial">

    </div>

    <div id="CustomersCheque">

    </div>
</div>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>
    $(function () {
        $("#tabs").tabs();
    });
    (function () {

        $('#clear').click(function () {
            window.location.reload();
        });



        $('#gaurantorInfoTab').on('click', function () {
            $('#gaurantorInfo').load(window.applicationBaseUrl + "Loan/ApprovedLoanList/Guarantor?loanId=" + $('#hdfLoanId').val());
        });


        $('#commentsAndSignatoryInfoTab').on('click', function () {
            $('#CommentsAndSignatory').load(window.applicationBaseUrl + "Loan/ApprovedLoanList/CommentsAndSignatory?loanId=" + $('#hdfLoanId').val());
        });

        $('#customersChequeInfoTab').on('click', function () {
            $('#CustomersCheque').load(window.applicationBaseUrl + "Loan/ApprovedLoanList/CustomersChequeInfo?loanId=" + $('#hdfLoanId').val());
        });


        $('#financialInfoTab').on('click', function () {
            $('#Financial').load(window.applicationBaseUrl + "Loan/ApprovedLoanList/FinancialJustification?loanId=" + $('#hdfLoanId').val());
        });



    })();

</script>


