﻿

@model TonyMultipurpose.Areas.Loan.Models.Guarantor


@{
    ViewBag.Title = "Approve Loan Application";
    Layout = null;
}


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 100%;
        }
    </style>


<form id="Guarantor_ClearAll ">
    <div class="row form-group">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <label id="Guarantor_showMessage" style="color: red; font-size: medium"></label>
                </div>
                <div class="col-md-2">
                    <input type="hidden" id="hdfGuarantorId" name="GuarantorId" value="">
                </div>
            </div>

            <table width="100%">
                <tr>
                    <td width="150px"><label class="control-label">Loan Id</label></td>
                    <td width="300px">@Html.TextBoxFor(a => a.LoanId, new { id = "Guarantor_LoanId", @readonly = "readonly" })</td>
                </tr>

                <tr>
                    <td width="150px"><label class="control-label">1. Guarantor Roll</label></td>
                    <td width="300px"><label type="text" id="Guarantor_GuarantorRoll" name="GuarantorRoll"></label></td>
                    <td colspan="2" rowspan="4">
                        <table>
                            <tr>
                                <td width="200px"></td>
                                <td width="200px">
                                    <div class="form-group">
                                        <img id='img-upload' width="300" height="150" style="border:2px solid orange;" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">2. Guarantor Name</label></td>
                    <td width="300px"><label type="text" id="Guarantor_GuarantorName" name="GuarantorName"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">3. Father's Name</label></td>
                    <td width="300px"><label type="text" id="Guarantor_FatherName" name="FatherName"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">4. Mother's Name</label></td>
                    <td width="300px"><label type="text" id="Guarantor_MotherName" name="MotherName"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">5. Spouse Name</label></td>
                    <td width="300px"><label type="text" id="Guarantor_SpouseName" name="SpouseName"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">6. Relation with Applicant</label></td>
                    <td width="300px"><label type="text" id="Guarantor_RelationWithApplicant" name="RelationWithApplicant"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">7. Date of Birth</label></td>
                    <td width="300px"><label type="text" id="Guarantor_DateofBirth" name="DateofBirth"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">9. Occupation</label></td>
                    <td width="300px"><label type="text" id="Guarantor_Occupation" name="Occupation"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">10. Designation</label></td>
                    <td width="300px"><label type="text" id="Guarantor_Designation" name="Designation"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">11. Institute Name</label></td>
                    <td width="300px"><label type="text" id="Guarantor_InstituteName" name="InstituteName"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">12. Institute Address</label></td>
                    <td width="300px"><label type="text" id="Guarantor_InstituteAddress" name="InstituteAddress"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">13. Monthly Income</label></td>
                    <td width="300px"><label type="text" id="Guarantor_MonthlyIncome" name="MonthlyIncome"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">14. Present Address</label></td>
                    <td width="300px"><label type="text" id="Guarantor_CurrentAddress" name="CurrentAddress"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">15. Residential Condition</label></td>
                    <td width="300px"><label name="ResidentialConditionId" id="GResidentialCondition"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">16. Business Address</label></td>
                    <td width="300px"><label type="text" id="Guarantor_BusinessAddress" name="BusinessAddress"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">17. Parmanent Address</label></td>
                    <td width="300px"><label type="text" id="Guarantor_PermanentAddress" name="PermanentAddress"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">18. Mobile No</label></td>
                    <td width="300px"><label type="text" id="Guarantor_ContactNo" name="ContactNo"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">19. NID No</label></td>
                    <td width="300px"><label type="text" id="Guarantor_NID" name="NID"></label></td>
                </tr>
                <tr>
                    <td width="150px"><label class="control-label">20. Loan Status with TMC</label></td>
                    <td width="300px"><label type="text" id="Guarantor_LoanStatusWithTmc" name="LoanStatusWithTmc"></label></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input id="Guarantor_Clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 15px;" />
                    </td>

                </tr>
            </table>

        </div>
    </div>


</form>


<div class="tablecontainer table-responsive">
    <table id="GuarantorTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th>Loan Id</th>
                <th>Name</th>
                <th>NID</th>
                <th>Father Name</th>
                <th>Mother Name</th>
                <th>Occupation</th>
                <th>Designation</th>
                <th>Institute Name</th>
                <th>Institute Address</th>
                <th>Current Address</th>
                <th>Permanent Address</th>
                <th>Contact No</th>
            </tr>
        </thead>
    </table>
</div>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script>

    $(function () {

        var oGuarantorTable;
        loadGuarantorTable();
        function loadGuarantorTable() {
            oGuarantorTable = $('#GuarantorTable').DataTable({
                "ajax": {
                    "url": window.applicationBaseUrl + 'Loan/ApprovedLoanList/GetAllGurantorInfo',
                    "type": "get",
                    "data": {
                        "LoanId": $('#Guarantor_LoanId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "LoanId" },
                    { "data": "GuarantorName" },
                    { "data": "NID" },
                    { "data": "FatherName" },
                    { "data": "MotherName" },
                    { "data": "Occupation" },
                    { "data": "Designation" },
                    { "data": "InstituteName" },
                    { "data": "InstituteAddress" },
                    { "data": "CurrentAddress" },
                    { "data": "PermanentAddress" },
                    { "data": "ContactNo" },
                ],
                "order": [[0, "desc"]],
                searching: false,
                paging: false,
                "bInfo": false
            });
            $('#GuarantorTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oGuarantorTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindDataGuarantor(oGuarantorTable.row(this).data());
            });
        }
        function bindDataGuarantor(data) {
            $('#hdfGuarantorId').val(data.GuarantorId);
            $('#img-upload').attr('src', data.ImagePath);
            document.getElementById('Guarantor_GuarantorName').innerHTML = data.GuarantorName;
            document.getElementById('Guarantor_NID').innerHTML = data.NID;
            document.getElementById('Guarantor_FatherName').innerHTML = data.FatherName;
            document.getElementById('Guarantor_MotherName').innerHTML = data.MotherName;
            document.getElementById('Guarantor_Occupation').innerHTML = data.Occupation;
            document.getElementById('Guarantor_Designation').innerHTML = data.Designation;
            document.getElementById('Guarantor_InstituteName').innerHTML = data.InstituteName;
            document.getElementById('Guarantor_InstituteAddress').innerHTML = data.InstituteAddress;
            document.getElementById('Guarantor_CurrentAddress').innerHTML = data.CurrentAddress;
            document.getElementById('Guarantor_PermanentAddress').innerHTML = data.PermanentAddress;
            document.getElementById('Guarantor_ContactNo').innerHTML = data.ContactNo;
            document.getElementById('Guarantor_GuarantorRoll').innerHTML = data.GuarantorRoll;
            document.getElementById('Guarantor_SpouseName').innerHTML = data.SpouseName;
            document.getElementById('Guarantor_RelationWithApplicant').innerHTML = data.RelationWithApplicant;
            document.getElementById('Guarantor_DateofBirth').innerHTML = data.DateofBirth;
            document.getElementById('Guarantor_MonthlyIncome').innerHTML = data.MonthlyIncome;
            document.getElementById('Guarantor_BusinessAddress').innerHTML = data.BusinessAddress;
            document.getElementById('Guarantor_LoanStatusWithTmc').innerHTML = data.LoanStatusWithTmc;
            document.getElementById('GResidentialCondition').innerHTML = data.ResidentialConditionType;


            $('#saveGuarantor').hide();
            $('#UpdateGuarantor').show();
            $('#deleteGuarantor').show();
        }
        // caler function
        $('#Guarantor_Clear').click(function () {
            guarantorClearAll();
        });
        function guarantorClearAll() {
            $('#hdfGuarantorId').val('');
            $('#img-upload').attr('src', '');
            document.getElementById('Guarantor_GuarantorName').innerHTML = '';
            document.getElementById('Guarantor_NID').innerHTML = '';
            document.getElementById('Guarantor_FatherName').innerHTML = '';
            document.getElementById('Guarantor_MotherName').innerHTML = '';
            document.getElementById('Guarantor_Occupation').innerHTML = '';
            document.getElementById('Guarantor_Designation').innerHTML = '';
            document.getElementById('Guarantor_InstituteName').innerHTML = '';
            document.getElementById('Guarantor_InstituteAddress').innerHTML = '';
            document.getElementById('Guarantor_CurrentAddress').innerHTML = '';
            document.getElementById('Guarantor_PermanentAddress').innerHTML = '';
            document.getElementById('Guarantor_ContactNo').innerHTML = '';
            document.getElementById('Guarantor_GuarantorRoll').innerHTML = '';
            document.getElementById('Guarantor_SpouseName').innerHTML = '';
            document.getElementById('Guarantor_RelationWithApplicant').innerHTML = '';
            document.getElementById('Guarantor_DateofBirth').innerHTML = '';
            document.getElementById('Guarantor_MonthlyIncome').innerHTML = '';
            document.getElementById('Guarantor_BusinessAddress').innerHTML = '';
            document.getElementById('Guarantor_LoanStatusWithTmc').innerHTML = '';
            document.getElementById('GResidentialCondition').innerHTML = '';

        }
    });


</script>
