﻿
@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.Loan.ViewModels.ContinuousLoanViewModel>
@{

    ViewBag.Title = "Continuous Loan Transaction Approval";
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 500, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
}
@section Styles{
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
        .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
        .btn-labeled {padding-top: 0;padding-bottom: 0;}
        .btn { margin-bottom:10px; }
    </style>
}

<hr />
<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>

@using (Html.BeginForm("ContinuousLoanApprovalIndex", "ContinuousLoan", FormMethod.Post))
{
    <div>
        @grid.GetHtml(
            tableStyle: "table table-bordered",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                    //Here I am going to add checkbox column
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@item.TransactionId" name="TransactionId" /> </text>,
                        header: "{checkall}"
                        ),
                    grid.Column("TransactionId", "Transaction Id"),
                    grid.Column("VoucherNo", "Voucher No"),
                    grid.Column("LoanId", "Loan No"),
                    grid.Column("TransactionDateShow", "Transaction Date"),
                     grid.Column("CustomerId", "Customer Id"),
                    grid.Column("CustomerName", "Customer Name"),
                    grid.Column("Credit", "Deposit Amount"),
                    grid.Column("Debit", "Withdraw Amount"),
                     grid.Column("Outstanding", "Outstanding"),
                     grid.Column("AvailableBalance", "AvailableBalance"),
                    grid.Column("Photo", format: @<text><img src="@item.CustomerImage" height="40px" width="40px" /></text>),
                    grid.Column(
                        format: @<text> <input type="text" name="@item.TransactionId" /> </text>,
                        header: "Reject Reason"
                        ),
                    grid.Column("CreatedName", "Created By"),
                    grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new { id = @item.TransactionId }, new { target = "_blank" })  </text>,
                        header: "Detail")
                )
            )


        <div class="row" style="width:180px;margin-top:10px;">
            <div class="col-md-6">
                <input type="submit" value="Approve" name="action:Approve" class="btn btn-success" onclick="return confirm('Do you want to Approve?');"/>
            </div>
            <div class="col-md-6">
                <input type="submit" value="Reject" name="action:Reject" class="btn btn-danger" onclick="return confirm('Do you want to Reject?');"/>
            </div>
            @*<button type="button" class="btn btn-labeled btn-danger">
                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancel</button>*@
        </div>
    </div>


}

@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/Loan/ContinuousLoan/ContinuousLoanApproval.js")"></script>
}




