﻿@using TonyMultipurpose.Areas.Loan.ViewModels
@model ContinuousLoanViewModel
@{
    ViewBag.Title = "Continuous Loan Transaction Detail";
}
@section Styles{
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 1px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }

    #hideid {
        display: none;
    }
</style>
}
<div class="panel panel-default" style="">
    @*<div class="panel-heading"><h2>Continuous Loan Transaction Detail </h2></div>*@
    <div class="panel-body">
        <table width="100%">

            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <label class="control-label" style="min-width: 160px">Transaction Id</label>
                            </td>
                            <td>
                                <input type="text" id="TransactionId" class="form-control" value="@Model.TransactionId" readonly="readonly" style="min-width: 300px"/>
                                <span class="error">space </span>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <label class="control-label">Transaction Date</label>
                            </td>
                            <td>
                                <input type="text" id="TransactionDateShow" class="form-control" value="@Model.TransactionDateShow" readonly="readonly"/>
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Loan Id</label>
                            </td>
                            <td>
                                <input type="text" id="LoanId" class="form-control" value="@Model.LoanId" readonly="readonly"/>
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Withdraw Amount</label>
                            </td>
                            <td>
                                <input type="text" id="Debit" class="form-control" value="@Model.Debit" readonly="readonly"/>
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Deposit Amount</label>
                            </td>
                            <td>
                                <input type="text" id="Credit" class="form-control" value="@Model.Credit" readonly="readonly"/>
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Outstanding</label>
                            </td>
                            <td>
                                <input type="text" id="Outstanding" class="form-control" value="@Model.Outstanding" readonly="readonly"/>
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Available Balance</label>
                            </td>
                            <td>
                                <input type="text" id="AvailableBalance" class="form-control" value="@Model.AvailableBalance" readonly="readonly"/>
                                <span class="error">space </span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="control-label">Customer Id</label>
                            </td>
                            <td>
                                <input type="text" id="CustomerId" class="form-control" value="@Model.CustomerId" readonly="readonly" />
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Customer Name</label>
                            </td>
                            <td>
                                <input type="text" id="CustomerName" class="form-control" value="@Model.CustomerName" readonly="readonly" />
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Cheque Entry Status</label>
                            </td>
                            <td>
                                <input type="text" id="ChequeEntryStatus" class="form-control" value="@Model.ChequeEntryStatus" readonly="readonly"/>
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Bank Name</label>
                            </td>
                            <td>
                                <input type="text" id="BankName" class="form-control" value="@Model.BankName" readonly="readonly"/>
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Bank Account No</label>
                            </td>
                            <td>
                                <input type="text" id="BankAccountNo" class="form-control" value="@Model.BankAccountNo" readonly="readonly"/>
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Cheque No</label>
                            </td>
                            <td>
                                <input type="text" id="ChequeNo" class="form-control" value="@Model.ChequeNo" readonly="readonly" />
                                <span class="error">space </span>
                            </td>
                        </tr>

                       
                        <tr>
                            <td>
                                <label class="control-label">Created Name</label>
                            </td>
                            <td>
                                <input type="text" id="CreatedName" class="form-control" value="@Model.CreatedName" readonly="readonly" />
                                <span class="error">space </span>
                            </td>
                        </tr>


                        
                        <tr>
                            <td></td>
                            <td><a class="btn btn-link" href="@Url.Action("ContinuousLoanApprovalIndex", "ContinuousLoan",new { Area = "Loan" })"><i class="glyphicon glyphicon-arrow-left"></i> Back to List</a></td>
                        </tr>
                    </table>

                </td>
            </tr>


        </table>


    </div>
</div>
