﻿@using CrystalDecisions.CrystalReports.Engine
@model TonyMultipurpose.Areas.Transaction.Models.TransactionModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Account Closing";
}

@using (Html.BeginForm("Index", "ClosingSavings", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.Id > 0)
    {
        @Html.HiddenFor(d => d.Id)
    }
    <div>

        <table class="table" style="width: 90%">
            <tr>
                <td>

                    <table class="table">
                        <tr>
                            <td> <label class="control-label">Date</label></td>
                            <td>
                                <input type="text" id="TransactionDate" name="TransactionDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" readonly="readonly" />

                            </td>
                            <td><span class="error">Transaction Date is required.</span></td>
                        </tr>
                        <tr>
                            <td> <label class="control-label">A/C No.</label></td>
                            <td>
                                <input type="text" id="AccountNumber" name="AccountNumber" class="form-control" /> @*onkeypress="return IsDouble(event);"*@
                            </td>
                            @*<td><span class="error">A/C no. is required.</span></td>*@
                            <td><span class="error">**</span></td>
                        </tr>
                        <tr>
                            <td> <label class="control-label">Account Type</label></td>
                            <td><input type="text" id="AccountTypeName" name="AccountTypeName" class="form-control" readonly="readonly" /></td>
                            @*<td><span class="error"></span></td>*@
                        </tr>
                        <tr>
                            <td> <label class="control-label">Opening Date</label></td>
                            <td>
                                <input type="text" id="OpeningDate" name="OpeningDate" class="form-control" readonly="readonly" />
                                @*<span class="error">Opening Date is required.</span>*@
                            </td>
                        </tr>
                        <tr>
                            <td> <label class="control-label">Customer Name</label></td>
                            <td><input type="text" id="CustomerName" name="CustomerName" class="form-control" readonly="readonly" /></td>
                        </tr>

                        <tr>
                            <td> <label class="control-label">Balance</label></td>
                            <td><input type="text" id="Balance" name="Balance" class="form-control" readonly="readonly" /></td>
                        </tr>

                        <tr>
                            <td><label class="control-label">Paid From</label></td>
                            <td>
                                <select name="COAId" id="ChartOfAccount" class="form-control"></select>
                                <span class="error">Select Value</span>
                            </td>
                            <td><span class="error">**</span></td>
                        </tr>

                        @*<tr>
                                <td> <label class="control-label">Amount</label></td>
                                <td>
                                    <input type="text" id="Amount" name="Amount" class="form-control" onkeypress="return IsDouble(event);"/>
                                    @Html.Label(" ", new {@class = "col-md-10", id = "MessageForNumberToWordConvert"})
                                    @Html.Label(" ", new {@class = " col-md-offset-4", id = "MessageForExistChek"})
                                    <span class="error">Amount is required.</span>
                                </td>

                            </tr>*@
                        <tr>
                            <td></td>
                            <td colspan="2">
                                <input id="submit" type="button" value="Close Account" class="btn btn-success"/>
                            </td>
                        </tr>
                    </table>

                </td>
                <td valign="top">
                    <div class="img-responsive" style="vertical-align: top">
                        <img src="" alt="No Image" width="200px" height="200px" id="CustomerImage" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
        <input type="hidden" id="InterestRate" name="InterestRate" class="form-control" />
        <input type="hidden" id="AccountSetupId" name="AccountSetupId" class="form-control" />
        <input type="hidden" id="CustomerId" name="CustomerId" class="form-control" />


}
@section styles
{
    <style>
        .table {
            border-bottom: 0px !important;
        }

            .table th, .table td {
                border: 1px !important;
            }

        .fixed-table-container {
            border: 0px !important;
        }

        .formatedTable td {
            padding-bottom: 6px;
        }

        .formatedTable input {
            padding-right: 210px;
        }

        .container {
            border: none;
        }

        span.error {
            display: block;
            visibility: hidden;
            color: red;
            /*font-weight: bold;*/
            font-size: 100%;
        }
    </style>
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/Transaction/SavingsAccountClosing.js")"></script>
}


