﻿@model TonyMultipurpose.Areas.Loan.Models.InstallmentInformation

<div class="term-loan">
    <div>
        <img src="" alt="No Image" style="width: 220px; height: 200px;" id="customerImage"/>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Customer Name</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelCustomerName"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Outstanding</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelOutstanding"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Total Fine Interest</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelTotalFineInterest"></label>
        </div>
       
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Total Unpaid Principle</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelTotalUnpaidPrinciple"></label>
        </div>
       
    </div>           
</div>

