﻿@using CrystalDecisions.ReportAppServer.ReportDefModel

@{
    ViewBag.Title = "Installment Information";
}

<style>
    span.field-validation-error {
        color: red;
    }
</style>


@* DataTable - CSS *@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
@*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />*@

@* DataTable - JS *@
@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@



<div class="tablecontainer table-responsive">

    <a class="popup btn btn-primary" href='@Url.Action("SaveInstallmentInformation", "LoanInstallment", new {Area = "Loan"})'>Add New Installment Information</a>

    <table id="myDatatable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Loan Id</th>
                <th>Installment Date</th>
                <th>Particular</th>
                <th>Principle Amount</th>
                <th>Interest Amount</th>
                <th>Installment Amount</th>
                <th>Outstanding</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/Loan/LoanInstallment/InstallmentList.js")"></script>
}



