﻿@model TonyMultipurpose.Areas.Loan.Models.InstallmentInformation
@{
    ViewBag.Title = "SaveInstallmentInformation";
    Layout = null;
}


@using (Html.BeginForm("SaveInstallmentInformation", "LoanInstallment", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.Id > 0)
    {
        @Html.HiddenFor(d => d.Id)
    }

    <div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Loan Id</label>
                <input class="form-control" type="text" id="LoanId" name="LoanId">
                @Html.ValidationMessageFor(a => a.LoanId, "", new { @class = "text-danger", @style = "color:red" })
            </div>

            <div class="form-group">
                <label for="" class="control-label">Installment Date</label>
                <input class="form-control" type="text" id="InstallmentDate" name="InstallmentDate" value="@DateTime.Now.ToString("dd/MMMM/yyyy")">
                @Html.ValidationMessageFor(a => a.InstallmentDate, "", new { @class = "text-danger", @style = "color:red" })

            </div>
            <div class="form-group">
                <label for="" class="control-label">Particular</label>
                <input class="form-control" type="text" id="Particular" name="Particular">
                @Html.ValidationMessageFor(a => a.Particular, "", new {@class = "text-danger", @style = "color:red"})

            </div>

            <input type="hidden" id="RemainingOutstanding" name="RemainingOutstanding">
            <input type="hidden" id="InstallmentAmount" name="InstallmentAmount">

        </div>
        <div class="col-md-6">
            <div>
                <img src="" alt="No Image" style="width:250px;height:250px;" id="customerImage" class="img-responsive" />
            </div>
            <div class="">
                <label class="control-label">Customer Name:</label>
            </div>
            <div class="">
                <label id="LabelCustomerName"></label>
            </div>
            <div class="">
                <label class="control-label">Father Name:</label>
            </div>
            <div class="">
                <label id="LabelFatherName"></label>
            </div>
            <div class="">
                <label class="control-label">Installment Amount:</label>
            </div>
            <div class="">
                <label id="LabelInstallmentAmount"></label>
            </div>
            <div class="">
                <label class="control-label">Extra Fee:</label>
            </div>
            <div class="">
                <label id="LabelExtraFee"></label>
            </div>
            <div class="">
                <label class="control-label">Outstanding:</label>
            </div>
            <div class="">
                <label id="LabelOutstanding"></label>
            </div>

        </div>
        
    </div>


    <div class="form-group">

        <button type="submit" class="btn btn-primary">Save</button>

    </div>


}

<script src="@Url.Content("~/Scripts/Custom/Loan/LoanInstallment/SaveInstallment.js")"></script>

