﻿@model TonyMultipurpose.Areas.Transaction.Models.TransactionModel
@{
    var imagaPath = !string.IsNullOrEmpty(Model.CustomerImage) ? Model.CustomerImage : "Uploads/Customer/NotFound.png";
}
<input type="hidden" id="withdrawableAmount" value="@Model.Balance" />
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Customer Continuous Loan Status</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <img src="@Url.Content("~/" + imagaPath)" alt="Customer Image" class="img-thumbnail profile-image" />
            </div>
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-condensed">
                    <colgroup>
                        <col class="col-md-3 col-sm-4 col-xs-6" />
                        <col class="col-md-9 col-sm-8 col-xs-6" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>
                                Name
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.CustomerName)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Father's Name
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.FatherName)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Account Type
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.AccountTypeName)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Balance
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Balance)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


