﻿@model TonyMultipurpose.Areas.Transaction.Models.TransactionModel

<div class="continuous-loan">
    <div>
        <img src="" alt="No Image" style="width: 220px; height: 200px;" id="customerImage2" />
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Customer Limit</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelCustomerLoanLimit"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <label class="control-label">Available Balance</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="ConLabelAvailableBalance"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <label class="control-label">Outstanding</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="ConLabelOutstanding"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <label class="control-label">Customer Name</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="ConLabelCustomerName"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <label class="control-label">Father Name</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="ConLabelFatherName"></label>
            <input type="hidden" id="hdfCustomerId"/>
            <input type="hidden" id="hdfOutstanding"/>
            <input type="hidden" id="hdfAvailableBalance"/>
        </div>
    </div>
</div>

