﻿@model TonyMultipurpose.Areas.Transaction.Models.TransactionModel

<div class="continuous-loan">

    <div class="form-group">
        <label class="col-md-3 control-label">Loan No</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="ConLoanId" name="LoanId">
            <span class="error">Please select Loan No</span>
        </div>
    </div>
    @*<div class="form-group">
        <label class="col-md-3 control-label">Transaction Date</label>
        <div class="col-md-9">
            <input class="form-control" type="text" id="ConTransactionDate" name="TransactionDate" value="@DateTime.Now.ToString("dd/MMM/yyyy")" disabled="disabled">
            <span class="error">*</span>
        </div> 
    </div>*@
    <div class="form-group">
        <label class="col-md-3 control-label">Payment Type</label>
        <div class="col-md-7">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="ConIsChequeEntry" name="IsChequeEntry"> Cheque
            </label>
        </div>
    </div>
    <div class="form-group" id="Conloan_Bank">
        <label class="col-md-3 control-label" id="Conlblloan_Bank">Bank Name</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="ConloanBankName" name="BankName" readonly="readonly">
        </div>
    </div>
    <div class="form-group" id="Conloan_Account">
        <label class="col-md-3 control-label" id="Conlblloan_Account">Bank Acc No</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="ConloanBankAccount" name="BankAccountNo" readonly="readonly">
        </div>       
    </div>
    <div class="form-group" id="Conloan_Cheque">
        <label class="col-md-3 control-label" id="Conlblloan_Cheque">Cheque No</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="ConloanChequeNo" name="ChequeNo" maxlength="49">
        </div>        
    </div>
    <div class="form-group" id="ConPA" style="margin-bottom: 0px">
        <label class="col-md-3 control-label">Deposit Amount</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="ConDepositAmount" name="DepositAmount" onkeypress="return IsDouble(event);" maxlength="14">
        </div>
        <span class="error">Please enter amount</span>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-7">
            <textarea type="text" id="InwordsConDepositAmount" name="InwordsConDepositAmount" class="form-control TextFontSize" style="height: 50px;" readonly="readonly"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Particular</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="ConParticular" name="Particular" maxlength="49">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-7">
            <input type="button" value="Deposit Amount" class="btn btn-success" id="btnConDepositAmount" />
        </div>
    </div>
</div>

