﻿@model TonyMultipurpose.Areas.Transaction.Models.TransactionModel

<div class="deposit-form">
    @using (Html.BeginForm("Index", "Transaction", FormMethod.Post, new { @class = "form-horizontal", @id = "depositeTransaction" }))
    {
        @Html.AntiForgeryToken()

        if (Model != null && Model.Id > 0)
        {
            @Html.HiddenFor(d => d.Id)
        }

        <div class="form-group">
            <label class="col-md-3 control-label">A/C No.</label>
            <div class="col-md-7">
                <input type="text" id="AccountNumber" name="AccountNumber" class="form-control TextFontSize" onkeypress="return IsDouble(event);" />
                <span class="error">A/C no. is required.</span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-3 control-label">Payment Type</label>
            <div class="col-md-7">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="IsCashEntry" checked="checked" name="IsCashEntry"> Cash
                </label>
            </div>
        </div>
        <div class="form-group" id="divBankName">
            <label id="bankNameLbl" class="col-md-3 control-label">Bank Name</label>
            <div class="col-md-7">
                <input type="text" id="BankName" name="BankName" class="form-control TextFontSize" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group" id="divBankAccountNo">
            <label id="bankAccountNoLbl" class="col-md-3 control-label">Bank Accoun No</label>
            <div class="col-md-7">
                <input type="text" id="BankAccountNo" name="BankAccountNo" class="form-control TextFontSize" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group" id="divChequeNo">
            <label id="chequeNoLbl" class="col-md-3 control-label">Cheque No</label>
            <div class="col-md-7">
                <input type="text" id="ChequeNo" name="ChequeNo" class="form-control TextFontSize" maxlength="199"/>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0px">
            <label class="col-md-3 control-label">Amount</label>
            <div class="col-md-7">
                <input type="text" id="Amount" name="Amount" class="form-control TextFontSize" onkeypress="return IsDouble(event);" maxlength="14"/>
                <span class="error">Amount is required.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-7">
                <textarea type="text" id="MessageForNumberToWordConvert" name="MessageForNumberToWordConvert" class="form-control TextFontSize" style="height: 50px;" readonly="readonly"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Particular</label>
            <div class="col-md-7">
                <input class="form-control TextFontSize" type="text" id="DepositParticular" name="DepositParticular" maxlength="99">
            </div>
        <div></div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-7">
                <input id="submit" type="button" value="Save" class="btn btn-success" />
            </div>
            
        </div>
    }
</div>

