﻿@model TonyMultipurpose.Areas.Transaction.Models.TransactionModel

<div class="deposit-form">
    <div style="width: 200px;">
        <img src="" alt="No Image" class="img img-responsive img-thumbnail" id="CustomerImage"/>
    </div>
    <div class="form-group">
        <p>
            <span id="CustomerName" style="font-weight: bold"></span>
        </p>
        <p>
            <span id="BranchName" style="font-weight: bold"></span>
        </p>
        <p>
            <span id="AccountTypeName" style="font-weight: bold"></span>
        </p>
        <p>
            <span id="Balance" style="font-weight: bold;color:blue;"></span>
        </p>
    </div>
</div>

