﻿@model TonyMultipurpose.Areas.Transaction.Models.TransactionModel

<div class="term-loan">
    <div>
        <img src="" alt="No Image" style="width: 220px; height: 200px;" id="customerImage"/>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Installment No</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelInstallmentNo"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Customer Name</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelCustomerName"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Outstanding</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelOutstanding" style="color:red"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Schedule Payment</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelInstallmentAmount"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">BeginningBalance</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelBeginningBalance"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Principle</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelPrinciple"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Interest</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelInterest"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">EndingBalance</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelEndingBalance"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Extra Payment</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelExtraPayment"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4" style="display:none">
            <label class="control-label">Fine Interest</label>
        </div>
        <div class="col-md-8" style="display:none">
            :&nbsp;<label id="LabelFineInterest"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Total Fine Interest</label>
        </div>
        <div class="col-md-8" >
            :&nbsp;<label id="LabelTotalFineInterest"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4" style="display:none">
            <label class="control-label">Unpaid Principle</label>
        </div>
        <div class="col-md-8" style="display:none">
            :&nbsp;<label id="LabelUnpaidPrinciple"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Total Unpaid Principle</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelTotalUnpaidPrinciple"></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label class="control-label">Extra Deposit Tk</label>
        </div>
        <div class="col-md-8">
            :&nbsp;<label id="LabelExtraFee"></label>
        </div> 
    </div>           
</div>

