﻿@model TonyMultipurpose.Areas.Transaction.Models.TransactionModel

<div class="term-loan">
    <div class="form-group">
        <label class="col-md-3 control-label">Loan No</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="LoanNo" name="LoanNo">
            <span class="error">Loan No required.</span>
        </div>
    </div>
    @*<div class="form-group">
        <label class="col-md-3 control-label">Installment Date</label>
        <div class="col-md-9">
            <input class="form-control" type="text" id="InstallmentDate" name="InstallmentDate">
        </div>
    </div>*@
    <div class="form-group">
        <label class="col-md-3 control-label">Payment Type</label>
        <div class="col-md-7">
            <label class="form-check-label" for="IsChequeEntry">
                <input class="form-check-input" type="checkbox" id="IsChequeEntry" name="IsChequeEntry"> Cheque
            </label>
        </div>
    </div>
    <div class="form-group" id="loan_Bank">
        <label class="col-md-3 control-label" id="lblloan_Bank">Bank Name</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="loanBankName" name="loanBankName" readonly="readonly">
        </div>
    </div>
    <div class="form-group" id="loan_Account">
        <label class="col-md-3 control-label" id="lblloan_Account">Bank Acc No</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="loanBankAccount" name="loanBankAccount" readonly="readonly">
        </div>
    </div>
    <div class="form-group" id="loan_Cheque">
        <label class="col-md-3 control-label" id="lblloan_Cheque">Cheque No</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="loanChequeNo" name="loanChequeNo" maxlength="49">
        </div>
    </div>
    <div class="form-group" id="EF">
        <label class="col-md-3 control-label">Extra Deposit Tk.</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="ExtraFee" name="ExtraFee" maxlength="6">
        </div>
    </div>
    <div class="form-group" id="PA" style="margin-bottom: 0px">
        <label class="col-md-3 control-label">Total Payment</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="TotalPayment" name="TotalPayment" maxlength="14">
            <span class="error">Total Payment is required.</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-7">
            <textarea type="text" id="InwordsTermLoanDepositAmount" name="InwordsTermLoanDepositAmount" class="form-control TextFontSize" style="height: 50px;" readonly="readonly"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Particular</label>
        <div class="col-md-7">
            <input class="form-control TextFontSize" type="text" id="Particular" name="Particular" maxlength="49">
            <span class="error">Particular is required.</span>
        </div>
    </div>

    <input type="hidden" id="RemainingOutstanding" name="RemainingOutstanding">
    <input type="hidden" id="InstallmentAmount" name="InstallmentAmount">
    <input type="hidden" id="DueInstallmentAmount" name="InstallmentAmount">

    <div class="form-group">
        <div class="col-md-offset-3 col-md-7">
            <input type="button" value="Save Installment" class="btn btn-success" id="submitInstallment" />
        </div>
    </div>
</div>

