﻿<div class="form-horizontal">

    <div class="form-group">
        <label for="TransactionDate" class="control-label col-md-3">
            Date
        </label>
        <div class="col-md-9">
            <input type="text" name="TransactionDate" id="TransactionDate" value="@DateTime.Now.ToString("dd/MMM/yyyy")" class="form-control input-sm"/>
        </div>
    </div>

    <div class="form-group">
        <label for="VoucherNo" class="control-label col-md-3">
            Voucher No
        </label>
        <div class="col-md-9">
            <input type="text" name="VoucherNo" id="VoucherNo" class="form-control input-sm"/>
        </div>
    </div>

    <div class="form-group">
        <label for="ChartOfAccountId" class="control-label col-md-3">
            Paid From
        </label>
        <div class="col-md-9">
            <select name="ChartOfAccountId" id="ChartOfAccountId" class="form-control"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="AvailableBalance" class="control-label col-md-3">
            Available Balance
        </label>
        <div class="col-md-9">
            <input type="text" name="AvailableBalance" id="AvailableBalance" class="form-control input-sm"/>
        </div>
    </div>

    <div class="form-group">
        <label for="WithdrawType" class="control-label col-md-3">
            Withdraw Type
        </label>
        <div class="col-md-9">
            <input type="text" name="WithdrawType" id="WithdrawType" class="form-control input-sm"/>
        </div>
    </div>

    <div class="form-group">
        <label for="AccountNumber" class="control-label col-md-3">
            Account No.
        </label>
        <div class="col-md-9">
            <input type="text" name="AccountNumber" id="AccountNumber" class="form-control input-sm"/>
        </div>
    </div>

    <div class="form-group">
        <label for="LoanId" class="control-label col-md-3">
            Loan No
        </label>
        <div class="col-md-9">
            <input type="text" name="LoanId" id="LoanId" class="form-control input-sm"/>
        </div>
    </div>
    
    <div class="checkbox col-md-offset-3">
        <label class="control-label">
            <input type="checkbox" id="IsCashEntry" readonly="readonly" checked="checked"> Cash Transaction
        </label>
    </div>

    <div class="form-group">
        <label for="BankName" class="control-label col-md-3">
            Bank Name
        </label>
        <div class="col-md-9">
            <input type="text" name="BankName" id="BankName" class="form-control input-sm" readonly="readonly" />
        </div>
    </div>

    <div class="form-group">
        <label for="BankAccountNo" class="control-label col-md-3">
            Bank A/C No
        </label>
        <div class="col-md-9">
            <input type="text" name="BankAccountNo" id="BankAccountNo" class="form-control input-sm" readonly="readonly" />
        </div>
    </div>

    <div class="form-group">
        <label for="ChequeNo" class="control-label col-md-3">
            Bank A/C No
        </label>
        <div class="col-md-9">
            <input type="text" name="ChequeNo" id="ChequeNo" class="form-control input-sm" readonly="readonly" />
        </div>
    </div>

    <div class="form-group">
        <label for="WithdrawAmount" class="control-label col-md-3">
            Withdraw Amount
        </label>
        <div class="col-md-9">
            <input type="text" name="WithdrawAmount" id="WithdrawAmount" class="form-control input-sm"/>
            <span class="info" id="AmountInWords"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="Particular" class="control-label col-md-3">
            Particular
        </label>
        <div class="col-md-9">
            <input type="text" name="Particular" id="Particular" class="form-control input-sm"/>
        </div>
    </div>

</div>
