﻿@using System.Web.Mvc.Html
@model TonyMultipurpose.Areas.Transaction.Models.TransactionModel
@{
    ViewBag.Title = "Deposit Transaction";
}


<div class="row">
    <div class="col-sm-6">
        <form class="form form-horizontal">
            <p>
                <span id="showMessage" style="color: red; font-size: medium"></span>
            </p>
            <div class="form-group">
                <label class="col-md-3 control-label">Date</label>
                <div class="col-md-7">
                    <input type="text" id="TransactionDate" name="TransactionDate" class="form-control TextFontSize" value="@DateTime.Now.ToString("dd/MMM/yyyy")" readonly="readonly" />
                    <span class="error">Date is required.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Voucher No</label>
                <div class="col-md-7">
                    <input type="text" id="VoucherNo" name="VoucherNo" class="form-control TextFontSize" maxlength="50" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Type</label>
                <div class="col-md-7">
                    @Html.DropDownList("TT", new List<SelectListItem>()
                        {
                            new SelectListItem {Text = "SB/SB2", Value = "Deposit"},
                            new SelectListItem {Text = "Loan", Value = "Loan"},
                            new SelectListItem {Text = "Continuous Loan", Value = "ContinuousLoanDeposit"}
                        }, new { @class = "form-control", id = "TT" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Received In</label>
                <div class="col-md-7">
                    <select name="COAId" id="ChartOfAccount" class="form-control "></select>
                    <span class="error">Please select Received In</span>
                </div>
            </div>
            <div>
                @Html.Partial("_ContinuousLoanDeposit")
                @Html.Partial("_TermLoanInstallMent")
                @Html.Partial("_DepositForm")
            </div>

        </form>
    </div>
    <div class="col-sm-6">
        <div>
            @Html.Partial("_ContinuousLoanDepositRightPart")
            @Html.Partial("_TermLoanInstallMentRightPart")
            @Html.Partial("_DepositFormRightPart")
        </div>
    </div>
</div>
<input type="hidden" id="InterestRate" name="InterestRate" class="form-control" />
<input type="hidden" id="AccountSetupId" name="AccountSetupId" class="form-control" />
<input type="hidden" id="hdfInstallmentTypeId" class="form-control" />
<input type="hidden" id="hdfNumberOfInstallment" class="form-control" />

@section styles
{
    <style>
        .table {
            border-bottom: 0px !important;
        }

            .table th, .table td {
                border: 1px !important;
            }

        .fixed-table-container {
            border: 0px !important;
        }

        .formatedTable td {
            padding-bottom: 6px;
        }

        .formatedTable input {
            padding-right: 210px;
        }

        .container {
            border: none;
        }

        span.error {
            display: none;
            color: red;
            /*font-weight: bold;*/
            font-size: 100%;
        }

        .control-label {
            text-align: left !important;
        }

        .form-group {
            margin-bottom: 3px;
        }

        .TextFontSize {
            font-size: 18px;
        }
    </style>
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/Transaction/Transaction_Deposit.js")"></script>
}