﻿@using System.Web.Mvc.Html
@model TonyMultipurpose.Areas.Transaction.Models.TransactionModel
@{    
    ViewBag.Title = "Withdraw Transaction";
}



<div class="container panel panel-default" style="float: left">
    @*<div class="panel-heading">
        <h3> Withdraw Cash Transaction</h3>
    </div>*@
    <div class="panel-body ">
        <div class="row">
            <div class="form form-horizontal">

            <div class="col-md-6">

                <div class="col-md-7 col-md-offset-3">
                    <p>
                        <span id="showMessage" style="color: green; font-size: 20px;"></span>
                    </p>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Date</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" id="TransactionDate" name="TransactionDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" readonly="readonly"/>
                    </div>
                    <div class="col-md-1">
                        <span class="error">*</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Voucher No</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" id="VoucherNo" name="VoucherNo" class="form-control" maxlength="49"/>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Paid From</label>
                    </div>
                    <div class="col-md-7">
                        <select name="COAId" id="ChartOfAccount" class="form-control"></select>
                    </div>
                    <div class="col-md-1">
                        <span class="error">*</span>
                    </div>
                </div>

                <div class="form-group" style="color:blueviolet;">
                    <div class="col-md-3">
                        <label class="control-label">Balance</label>
                    </div>
                    <div class="col-md-7">
                        <label id="ABalance"></label>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="control-label">Type</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DropDownList("TT", new List<SelectListItem>()
                        {
                            new SelectListItem {Text = "SB/SB2", Value = "Withdraw"},
                            new SelectListItem {Text = "Continuous Loan", Value = "ContinuousLoan"}
                        }, new {@class = "form-control", id = "TT"})
                    </div>
                </div>

                <div id="WithdrawForm">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="control-label">A/C No.</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" id="AccountNumber" name="AccountNumber" class="form-control" onkeypress="return IsDouble(event);"/>

                        </div>
                        <div class="col-md-1"><span class="error">*</span></div>
                    </div>
                </div>

                <div id="ContinuousLoanForm">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">Loan No</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="LoanId" name="LoanId">
                        </div>
                        <div class="col-md-1"><span class="error">*</span></div>
                    </div>
                </div>

                <div id="CashEntryCheckbox" class="form-group" style="display:none;">
                    <div class="col-md-3">
                        <label class="control-label"></label>
                    </div>
                    <div class="col-md-7">
                        <label class="control-label"><input type="checkbox" name="IsCashEntry" id="IsCashEntry" checked="checked"/> Cash</label>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div id="divBankName" class="form-group">
                    <div class="col-md-3">
                        <label id="bankNameLbl">Bank Name</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" id="BankName" name="BankName" class="form-control" readonly="readonly"/>
                    </div>
                    <div class="col-md-1"></div>

                </div>

                <div class="form-group" id="divBankAccountNo">
                    <div class="col-md-3">
                        <label id="bankAccountNoLbl">Bank Accoun No</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" id="BankAccountNo" name="BankAccountNo" class="form-control" readonly="readonly"/>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="form-group" id="divChequeNo">
                    <div class="col-md-3">
                        <label id="chequeNoLbl">Cheque No</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" id="ChequeNo" name="ChequeNo" class="form-control" maxlength="199"/>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Amount</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" id="Amount" name="Amount" class="form-control" onkeypress="return IsDouble(event);" maxlength="14"/>
                        @Html.Label(" ", new {@class = "col-md-10", id = "MessageForNumberToWordConvert"})
                        @Html.Label(" ", new {@class = " col-md-offset-4", id = "MessageForExistChek"})
                    </div>
                    <div class="col-md-1"><span class="error">*</span></div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label id="ParticularLbl">Particular</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" id="Particular" name="Particular" class="form-control" maxlength="99"/>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-8">
                        <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 10px 40px"/>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-7">
                        <input type="button" value="Withdraw Amount" class="btn btn-success" style="padding: 10px 40px" id="btnWithdrawAmount"/>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <input type="hidden" id="RemainingOutstanding" name="RemainingOutstanding">
                <input type="hidden" id="InstallmentAmount" name="InstallmentAmount">
                <input type="hidden" id="DueInstallmentAmount" name="InstallmentAmount">
                <input type="hidden" id="InterestRate" name="InterestRate" class="form-control"/>
                <input type="hidden" id="AccountSetupId" name="AccountSetupId" class="form-control"/>

            </div>
                <div class="col-md-6">
                    <div class="img-responsive" style="vertical-align: top">
                        <img src="" alt="No Image" style="width: 200px; height: 200px;" id="CustomerImage" />
                    </div>
                    <div id="AccountInfo" style="display: none;">
                        <div><label style="color:purple; font-weight:bold;" id="CustomerName"></label></div>
                        <div><label id="CenterName"></label></div>
                        <div><label  id="AccountTypeName"></label></div>
                        <div>
                            <label style="color:blue;" id="Balance"></label>
                        </div>
                    </div>
                    <div id="LoanInfo" style="display: none;">
                        
                        <div class="clearfix"></div>
                        <div class="col-md-3">
                            <label class="control-label">Customer Limit: </label>
                        </div>
                        <div class="col-md-7">
                            :&nbsp;<label id="LabelCustomerLoanLimit"></label>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-3">
                            <label class="control-label">Balance</label>
                        </div>
                        <div class="col-md-7">
                            :&nbsp;<label style="color:blue;" id="LabelAvailableBalance"></label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3">
                            <label class="control-label">Outstanding</label>
                        </div>
                        <div class="col-md-7">
                            :&nbsp;<label style="color:red;" id="LabelOutstanding"></label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3">
                            <label class="control-label">Customer Name</label>
                        </div>
                        <div class="col-md-7">
                            :&nbsp;<label id="LabelCustomerName"></label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3">
                            <label class="control-label">Father Name</label>
                        </div>
                        <div class="col-md-7">
                            :&nbsp;<label id="LabelFatherName"></label>
                        </div>
                    </div>
                    <input type="hidden" id="hdfCustomerId" />
                    <input type="hidden" id="hdfOutstanding" />
                    <input type="hidden" id="hdfAvailableBalance" />
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    <style>
    .table {
        border-bottom: 0px !important;
    }

        .table th, .table td {
            border: 1px !important;
        }

    .fixed-table-container {
        border: 0px !important;
    }

    .formatedTable td {
        padding-bottom: 6px;
    }

    .formatedTable input {
        padding-right: 210px;
    }

    .container {
        border: none;
    }

    .form-group {
        margin-bottom: 3px;
    }

    span.error {
        display: block;
        visibility: hidden;
        color: red;
        /*font-weight: bold;*/
        font-size: 100%;
    }
</style>
}

@section scripts
{   
    <script src="@Url.Content("~/Scripts/Custom/Transaction/Transaction_Withdraw.js")"></script>
}