﻿@model TonyMultipurpose.Areas.Loan.Models.AddtionalInfoModel
@{

    Layout = null;
    ViewBag.Title = "Approve Loan Application";
}

    <style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 100%;
    }

    #imageDisplay {
        max-width: 350px;
        max-height: 280px;
    }
</style>
   
<div class="row">
    <div class="col-md-2">
        <label id="showMessage" style="color: red; font-size: medium"></label>
    </div>

</div>

<div class="row" style="display: none">
    <div class="col-md-2">
        <label class="control-label"> Loan Referrence Id<span class="error">*</span></label>
    </div>
    <div class="col-md-6">
        @Html.TextBoxFor(a => a.LoanId, new { @class = "form-control", id = "LRefId", @readonly = "readonly", @style = "width: 500px;" })
    </div>
</div>
<br />



<table style="width: 50%; min-width: 600px;">


    <tr>
        <td width="170px" height="10px"><label class="control-label">1. Customer Detail<span class="error">*</span></label></td>
        <td><textarea type="text" id="CustomerDetail" name="CustomerDetail" class="form-control" style="min-height: 70px;" readonly="readonly"></textarea></td>
    </tr>
    <tr>
        <td width="170px" height="10px"><label class="control-label">2. Gurantor Detail<span class="error">*</span></label></td>
        <td><textarea type="text" id="GuarantorsDetail" name="GuarantorsDetail" class="form-control" style="min-height: 70px;" readonly="readonly"></textarea></td>
    </tr>
    <tr>
        <td width="170px" height="10px"><label class="control-label">3. Deviation<span class="error">*</span></label></td>
        <td><textarea type="text" id="Deviation" name="Deviation" class="form-control" style="min-height: 70px;" readonly="readonly"></textarea ></td>
    </tr>
    <tr>
        <td width="170px" height="10px"><label class="control-label">4. Approver Comment<span class="error">*</span></label></td>
        <td><textarea type="text" id="ApproverComment" name="ApproverComment" class="form-control" style="min-height: 70px;"></textarea></td>
    </tr>

    <tr>
        <td></td>
        <td>
            <input id="submitCustomerData" type="button" value="Save" class="btn btn-success" style="padding: 8px 15px;" />

            <input id="UpdateCustomerData" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
        </td>
    </tr>

</table>
<input type="hidden" id="hdfCustomerDeviationId" name="CustomerDeviationId" />
<input type="hidden" id="hdfLoanIdForAddtioanlInfo" name="LoanId" value="">

<h3>Loan Documents</h3>



<table style="width: 790px;">

    <tr>
        <td width="170px" height="10px"><label class="control-label">1. Document Name<span class="error">*</span></label></td>
        <td width="290px"><label name="DocumentName" id="DocumentName" style="width: 500px;"></label></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <img src="" alt="No Image" id="imageDisplay"/>
            <iframe id="fileDisplay" src="" width='600' height='400' allowfullscreen webkitallowfullscreen></iframe>
            @*<input type="file" name="fileUpload" id="fileUpload" />*@
        </td>
    </tr>




    <tr>
        <td></td>
        <td>
            <input id="ScanDocument_Clear" type="button" value="Close" class="btn btn-success" style="padding: 8px 15px;" />
        </td>
    </tr>

</table>
<input type="hidden" id="hiddenLoanId" />
<input type="hidden" id="hiddenScanDocumnetId" name="Id" />
<input type="hidden" id="hiddenScanDocumentImagePath" />

<div style="width: 50%; min-width: 600px;">
    <div class="tablecontainer table-responsive" id="refresh">
        <table id="ScanDocumentTable" class="display" cellspacing="0" style="width: 100%;">
            <thead>
                <tr>
                    <th>Loan Id</th>
                    <th>Document Name</th>
                </tr>
            </thead>
        </table>
    </div>

</div>
<h3>Signatories</h3>
<table style="width: 50%; min-width: 600px;">
    <tr>
        <td><label class="control-label">1. Name of Officer<span class="error">*</span></label></td>
        <td>
            <select name="EmpCode" id="EmpCode" class="form-control js-example-basic-single"></select>
        </td>
    </tr>

    <tr>
        <td><label class="control-label">2. Functional Position<span class="error">*</span></label></td>
        <td><label id="FunctionalPosition"></label></td>
        @*<td><input type="text" id="FunctionalPosition" name="FunctionalPosition" class="form-control"/></td>*@
    </tr>
    
    <tr>
        <td><label class="control-label">3. Designation<span class="error">*</span></label></td>
        <td>
            <label id="DesignationName"></label>
        </td>
    </tr>


    <tr>
        <td></td>
        <td>
            <input id="saveSignatories" type="button" value="Add" class="btn btn-success" style="padding: 8px 15px;" />

            <input id="updateSignatories" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
            <input id="deleteSignatories" type="button" value="Delete" class="btn btn-danger" style="padding: 8px 15px;"/>
            <input id="Signatories_Clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 15px;" />
        </td>
    </tr>

</table>

<input type="hidden" id="hdfSignatoryId" name="Id" />
<input type="hidden" id="hdfLoanIdForSignatory" name="LoanId" />


<div style="width: 50%; min-width: 600px;">
    <div class="tablecontainer table-responsive" id="refresh">
        <table id="SignatoryDataTable" class="display" cellspacing="0" style="width: 100%;">
            <thead>
                <tr>
                    <th>Loan Id</th>
                    <th>Functional Position</th>
                    <th>Name of Officer</th>
                    <th>Designation</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script>
    //json to date converter
    function FormateDate(jsonDate) {
        var monthNames = [
            "Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Novr", "Dec"
        ];
        var date = new Date(parseInt(jsonDate.substr(6)));
        var dd = date.getDate();
        var mm = monthNames[date.getMonth()];
        var yyyy = date.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        var formmatedDate = dd + '/' + mm + '/' + yyyy;
        return formmatedDate;
    }

    //date picker
    $('.datepicker').datepicker({
        dateFormat: "dd/M/yy",
        changeMonth: true,
        changeYear: true,
        yearRange: "-60:+0"
    });


    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        $('#UpdateCustomerData').hide();

        GetAddtionalInfoData();

        function GetAddtionalInfoData() {
            var LoanId = $('#LRefId').val();
            var data = { loanId: LoanId };
            $.ajax({
                url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetAddtionalInfoData",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (data) {
                    bindAddtionalInfoData(data);
                }
            });
        }

        function bindAddtionalInfoData(data) {
            $('#hdfLoanIdForAddtioanlInfo').val(data.data[0].LoanId);
            $('#hdfCustomerDeviationId').val(data.data[0].Id);
            $('#CustomerDetail').val(data.data[0].CustomerDetail);
            $('#GuarantorsDetail').val(data.data[0].GuarantorsDetail);
            $('#Deviation').val(data.data[0].Deviation);
            $('#ApproverComment').val(data.data[0].ApproverComment);

            $('#submitCustomerData').show();
            $('#CustomerDatar_Clear').show();
        }


        $('#submitCustomerData').click(function () {

            var isValid = CheckValidation();
            if (isValid) {
                var data = Bindata();
                $.ajax({
                    url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/SaveLoanCustomerDetails",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            document.getElementById('showMessage').style.color = "green";
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                        //$('#hdfLoanId').val('');
                    }
                });

            }
        });

        function Bindata() {

            var data = {
                Id: $('#hdfCustomerDeviationId').val(),
                LoanId: $('#LRefId').val(),
                CustomerDetail: $('#CustomerDetail').val(),
                GuarantorsDetail: $('#GuarantorsDetail').val(),
                Deviation: $('#Deviation').val(),
                ApproverComment: $('#ApproverComment').val()
            }
            return data;
        }

        function ClearAddtionalInfoData() {
            //$('#hdfCustomerDeviationId').val('');
            $('#CustomerDetail').val('');
            $('#GuarantorsDetail').val('');
            $('#Deviation').val('');
            $('#ApproverComment').val('');
            $('#submitCustomerData').show();
            $('#UpdateCustomerData').hide();
            $('#deleteCustomerData').hide();
            document.getElementById('showMessage').innerHTML = '';
        }

        $('#CustomerDatar_Clear').click(function () {
            ClearAddtionalInfoData();
            $('#submitCustomerData').show();
            $('#UpdateCustomerData').hide();
            $('#deleteCustomerData').hide();
            $('#CustomerDatar_Clear').show();
        });


        function CheckValidation() {
            var isValid = true;

            if ($('#LRefId').val().trim() === '') {
                isValid = false;
                $('#LRefId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#LRefId').parent().prev().find('span').css('visibility', 'hidden');
            }

            if ($('#CustomerDetail').val().trim() === '' && $('#Deviation').val().trim() === '' && $('#ApproverComment').val().trim() === '' && $('#ApproverComment').val().trim() === '') {
                isValid = false;
                $('#CustomerDetail').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#CustomerDetail').parent().prev().find('span').css('visibility', 'hidden');
            }

            //if ($('#CustomerDetail').val().trim() === '') {
            //    isValid = false;
            //    $('#CustomerDetail').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#CustomerDetail').parent().prev().find('span').css('visibility', 'hidden');
            //}
            //if ($('#GuarantorsDetail').val().trim() === '') {
            //    isValid = false;
            //    $('#GuarantorsDetail').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#GuarantorsDetail').parent().prev().find('span').css('visibility', 'hidden');
            //}
            //if ($('#Deviation').val().trim() === '') {
            //    isValid = false;
            //    $('#Deviation').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#Deviation').parent().prev().find('span').css('visibility', 'hidden');
            //}
            //if ($('#ApproverComment').val().trim() === '') {
            //    isValid = false;
            //    $('#ApproverComment').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#ApproverComment').parent().prev().find('span').css('visibility', 'hidden');
            //}

            return isValid;
        }



        $('#clear').click(function () {
            window.location.reload();
        });

    });


    $(document).ready(function () {
        $('#fileDisplay').hide();
        var oScanDocumentTable;
        ScanDocumentTable();

        function ScanDocumentTable() {
            oScanDocumentTable = $('#ScanDocumentTable').DataTable({
                "ajax": {
                    "url": window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetScanDocumnetInfo",
                    "type": "get",
                    "data": {
                        "LoanId": $('#LRefId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "LoanId" },
                    { "data": "DocumentName" },
                    //{
                    //    "data": "ImagePath",
                    //    "render": function(data, type, row) {
                    //        return '<img src="' + data + '" width="40px" height="40px"/>';
                    //    }
                    //}
                ],
                "order": [[0, "desc"]],
                searching: false,
                paging: false,
                "bInfo": false
            });
            $('#ScanDocumentTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    oScanDocumentTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindDataForScanDocumentTable(oScanDocumentTable.row(this).data());
            });
        }

        function bindDataForScanDocumentTable(data) {
            $('#hiddenScanDocumnetId').val(data.Id);
            $('#LoanId').val(data.LoanId);
            document.getElementById('DocumentName').innerHTML = data.DocumentName;
            //$('#imageDisplay').attr('src', data.ImagePath);
            $('#imageDisplay').attr('src', '');
            $('#fileDisplay').attr('src', '');
            if (data.ImagePath.indexOf('.jpg') !== -1 || data.ImagePath.indexOf('.jpeg') !== -1 || data.ImagePath.indexOf('.png') !== -1 || data.ImagePath.indexOf('.gif') !== -1) {
                $('#fileDisplay').hide();
                $('#imageDisplay').show();
                $('#imageDisplay').attr('src', data.ImagePath);
            } else {
                $('#imageDisplay').hide();
                $('#fileDisplay').show();
                $('#fileDisplay').attr('src', '../../..' + data.ImagePath);
            }
            $('#hiddenScanDocumentImagePath').val(data.OldImagePath);
        }

        //scan document save area

        $("#fileUpload").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imageDisplay').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        function ClearAllData() {
            $('#DocumentName').html('');
            $('#LoanId').val('');
            $('#fileUpload').val('');
            $('#imageDisplay').attr('src', '');
            $('#fileDisplay').attr('src', '');
            $('#fileDisplay').hide();
        }

        $('#ScanDocument_Clear').click(function () {
            ClearAllData();
        });



    });

    $(document).ready(function () {

        $('#updateSignatories').hide();
        $('#deleteSignatories').hide();


        loadEmployee();
        function loadEmployee() {
            $("#EmpCode").empty();
            $.ajax({
                type: "GET",
                url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetBranchWiseEmployee",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#EmpCode").append('<option value="0">--Select Employee--</option>');
                    $.each(data, function (key, value) {
                        $("#EmpCode").append('<option value=' + value.EmpCode + '>' + value.EmployeeName + '</option>');
                    });
                }
            });
        }

        $("#EmpCode").change(function () {
            var EmpCode = $("#EmpCode").val();
            var json = {
                EmpCode: EmpCode
            };
            $.ajax({
                type: "POST",
                url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetDesignationByEmpCode",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {

                    document.getElementById('DesignationName').innerHTML = data.DesignationName;
                    document.getElementById('FunctionalPosition').innerHTML = data.FunctionalPosition;
                    exitsEmployeeSignatoriesTable();
                }
            });
        });

        function exitsEmployeeSignatoriesTable() {
            var empCode = $("#EmpCode").val();
            var loanId = $('#LRefId').val();
            var json = { empCode: empCode, loanId: loanId };
            $.ajax({
                type: "POST",
                url: window.applicationBaseUrl + "Loan/CheckLoanApplication/ExitsEmployeeSignatoriesTable",
                contentType: "application/json",
                data: JSON.stringify(json),
                success: function (data) {
                    $("#saveSignatories").removeAttr('disabled');
                    $("#updateSignatories").removeAttr('disabled');
                    if (data === false) {
                        $("#saveSignatories").attr('disabled', 'disabled');
                        $("#updateSignatories").attr('disabled', 'disabled');
                        alert('This Employee already Exists!');
                    }
                }
            });
        }

        $('#saveSignatories').click(function () {
            var isValid = checkSignatoryDataValidation();
            if (isValid) {
                var data = bindSignatoryData();
                //console.log(data);
                $.ajax({
                    url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/SaveSignatoryData",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            oSignatoryDataTable.ajax.reload();
                            document.getElementById('showMessage').style.color = "green";
                            ClearSignatoryData();
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                    }
                });

            }
        });

        $('#deleteSignatories').click(function () {
            var isValid = checkSignatoryDataValidation();
            if (isValid) {
                var data = bindSignatoryData();
                $.ajax({
                    url: window.applicationBaseUrl + "Loan/Loan/DeleteSignatoryData",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            oSignatoryDataTable.ajax.reload();
                            document.getElementById('showMessage').style.color = "green";
                            ClearSignatoryData();
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                    }
                });

            }
        });

        function checkSignatoryDataValidation() {
            var isValid = true;

            if ($('#LRefId').val().trim() === '') {
                isValid = false;
                $('#LRefId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#LRefId').parent().prev().find('span').css('visibility', 'hidden');
            }

            //if ($('#FunctionalPosition').val().trim() === '') {
            //    isValid = false;
            //    $('#FunctionalPosition').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#FunctionalPosition').parent().prev().find('span').css('visibility', 'hidden');
            //}

            if ($('#EmpCode').val().trim() === '0') {
                isValid = false;
                $('#EmpCode').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#EmpCode').parent().prev().find('span').css('visibility', 'hidden');
            }
            return isValid;
        }
        function bindSignatoryData() {

            var data = {
                LoanId: $('#LRefId').val(),
                FunctionalPosition: document.getElementById('FunctionalPosition').innerHTML,
                EmpCode: $('#EmpCode option:selected').val()
            }
            return data;
        }
        function ClearSignatoryData() {
            $('#FunctionalPosition').val('');
            $('#EmpCode').val('0');
            document.getElementById('DesignationName').innerHTML = '';
            document.getElementById('FunctionalPosition').innerHTML = '';
            $('#saveSignatories').show();
            $('#updateSignatories').hide();
            $('#deleteSignatories').hide();
        }
        $('#Signatories_Clear').click(function () {
            ClearSignatoryData();
            $('#updateSignatories').hide();
            //$('#deleteSignatories').hide();
            $('#saveSignatories').show();
        });
        var oSignatoryDataTable;
        loadSignatoryDataTable();
        function loadSignatoryDataTable() {
            oSignatoryDataTable = $('#SignatoryDataTable').DataTable({
                "ajax": {
                    "url": window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetSignatoryDataForDataTable",
                    "type": "get",
                    "data": {
                        "LoanId": $('#LRefId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "LoanId" },
                    { "data": "FunctionalPosition" },
                    { "data": "EmployeeName" },
                    { "data": "DesignationName" }


                ],
                "order": [[0, "desc"]],
                searching: false,
                paging: false,
                "bInfo": false
            });
            $('#SignatoryDataTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oSignatoryDataTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindSignatoryData(oSignatoryDataTable.row(this).data());
            });
        }

        function bindSignatoryData(data) {
            $('#hdfSignatoryId').val(data.Id);
            $('#hdfLoanIdForSignatory').val(data.LoanId);
            $('#EmpCode').val(data.EmpCode);
            //$('#FunctionalPosition').val(data.FunctionalPosition);
            document.getElementById('FunctionalPosition').innerHTML = data.FunctionalPosition;
            document.getElementById('DesignationName').innerHTML = data.DesignationName;

            $('#saveSignatories').hide();
            $('#updateSignatories').show();
            $('#deleteSignatories').show();
            $('#Signatories_Clear').show();
        }
        //update signatory


        $('#updateSignatories').click(function () {

            var isValid = checkSignatoryDataValidationForUpdate();

            if (isValid) {
                var data = bindSignatoryDataForUpdate();
                $.ajax({
                    url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/UpdateSignatoryData",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            oSignatoryDataTable.ajax.reload();
                            document.getElementById('showMessage').style.color = "green";
                            ClearSignatoryData();
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                    }
                });

            }
        });


        function checkSignatoryDataValidationForUpdate() {
            var isValid = true;
            if ($('#hdfSignatoryId').val().trim() === '') {
                isValid = false;
                $('#hdfSignatoryId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#hdfSignatoryId').parent().prev().find('span').css('visibility', 'hidden');
            }

            if ($('#LRefId').val().trim() === '') {
                isValid = false;
                $('#LRefId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#LRefId').parent().prev().find('span').css('visibility', 'hidden');
            }

            //if ($('#FunctionalPosition').val().trim() === '') {
            //    isValid = false;
            //    $('#FunctionalPosition').parent().prev().find('span').css('visibility', 'visible');
            //}
            //else {
            //    $('#FunctionalPosition').parent().prev().find('span').css('visibility', 'hidden');
            //}

            if ($('#EmpCode').val().trim() === '0') {
                isValid = false;
                $('#EmpCode').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#EmpCode').parent().prev().find('span').css('visibility', 'hidden');
            }
            return isValid;
        }
        function bindSignatoryDataForUpdate() {
            var data = {
                Id: $('#hdfSignatoryId').val(),
                LoanId: $('#LRefId').val(),
                FunctionalPosition: document.getElementById('FunctionalPosition').innerHTML,
                EmpCode: $('#EmpCode option:selected').val()
            }
            return data;
        }
    });
</script>


