﻿@using TonyMultipurpose.Areas.Loan.Models;
@model IEnumerable<LoanModel>


@{
    ViewBag.Title = "Approve Loan Application";

}

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 1px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }

    #hideid {
        display: none;
    }

    .formatedTable td {
        padding-bottom: 6px;
    }

    .formatedTable input {
        padding-right: 210px;
    }

    .form-group {
        margin-bottom: 7px;
    }
</style>
    }

<div class="container panel panel-default" style="float: left" id="tabs">
    <ul>
        <li><a href="#basicInfo">Basic Information</a></li>
        <li id="gaurantorInfoTab"><a href="#gaurantorInfo">Gaurantor</a></li>
        <li id="financialInfoTab"><a href="#Financial">Financial</a></li>
        <li id="commentsAndSignatoryInfoTab"><a href="#CommentsAndSignatory">Comments And Signatory</a></li>
        <li id="customersChequeInfoTab"><a href="#CustomersCheque">Customers Cheque</a></li>
    </ul>
    <div class="row" style="margin-left: 50px;">
        <label id="showMessage" style="color: red; font-size: medium"></label>
        <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="NotASavedLoan">
    </div>
    <div id="basicInfo">
        <div class="container">
            <div class="row form-group">
                <div class="col-md-8">

                    <div class="row">

                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-4">

                            <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="NotASavedLoan">
                        </div>
                    </div>

                    <br />
                    <div class="form-group">
                        <table width="100%">

                            <tr>
                                <td width="150px" height="10px"><label class="control-label">1. Loan Type<span class="error">*</span></label></td>
                                <td width="300px"><label name="LoanTypeId" id="LoanType"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">2. Referrence Id<span class="error">*</span></label></td>
                                <td width="300px"><label id="RefId" name="LoanId" readonly="readonly"></label></td>
                            </tr>
                            @*<tr>
                                    <td width="150px"><label style="color: red">3. Deskpatch/Ref<span class="error">*</span></label></td>
                                    <td width="300px"><label class="control-label"></label></td>
                                </tr>*@
                            <tr>
                                <td width="150px"><label class="control-label">3. Referencee Name<span class="error">*</span></label></td>
                                <td width="300px"><label id="RefName" name="ReferenceName"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">4. Customer ID<span class="error">*</span></label></td>
                                <td width="300px">
                                    <label id="CustomerId" name="CustomerId"></label>
                                    <input type="text" id="CustomerId" name="CustomerId" class="form-control" value="" style="display:none;" />
                                </td>

                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">5. Customer Name<span class="error">*</span></label></td>
                                <td width="300px"><label id="CustomerName"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">6. Account Number<span class="error">*</span></label></td>
                                <td width="300px"><label name="AccountNumber" id="AccountNumber"></label></td>
                                @*<select name="AccountNumber" id="AccountNumber" class="form-control" style="display:none;"></select>*@
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">7. Date<span class="error">*</span></label></td>
                                <td width="300px"><label id="LoanDate" name="LoanDate"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">8. Loan Request Amount<span class="error">*</span></label></td>
                                <td width="300px"><label id="LoanAmount" name="LoanAmount"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">9. Interest Rate<span class="error">*</span></label></td>
                                <td width="300px"><label id="InterestRate" name="InterestRate"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">10. Installment Type<span class="error">*</span></label></td>
                                <td width="300px"><label name="InstallmentTypeId" id="InstallmentTypeId"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">11. Installment No<span class="error">*</span></label></td>
                                <td width="300px"><label id="NumberOfInstallment" name="NumberOfInstallment"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">12. Extra Fee<span class="error">*</span></label></td>
                                <td width="300px"><label id="ExtraFee" name="ExtraFee"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">13. Purpose<span class="error">*</span></label></td>
                                <td width="300px"><label id="PurposeOfLoan" name="PurposeOfLoan"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">14. Purpose Cost<span class="error">*</span></label></td>
                                <td width="300px"><label id="TotalAssetCost" name="TotalAssetCost"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">15. Supplier<span class="error">*</span></label></td>
                                <td width="300px"><label id="DistributorName" name="DistributorName"></label></td>
                            </tr>
                            @*<tr>
                                <td width="150px"><label class="control-label">16. Total Purchase Amount<span class="error">*</span></label></td>
                                <td width="300px"><label id="TotalPurchaseAmount" name="TotalPurchaseAmount"></label></td>
                            </tr>*@
                            <tr>
                                <td width="150px"><label class="control-label">17. Residental Condition<span class="error">*</span></label></td>
                                <td width="300px"><label name="ResidentialConditionId" id="ResidentialCondition"></label></td>
                            </tr>
                            <tr>
                                <td width="150px"><label class="control-label">18. Is Deposit From Saving<span class="error">*</span></label></td>
                                <td width="300px"><input checked="checked" class="form-check-input" id="IsDepositsFromSaving" name="IsDepositsFromSaving" type="checkbox" value="1" /></td>
                            </tr>
                            @*<tr>
                                    <td width="150px"><label class="control-label">19. COA Code<span class="error">*</span></label></td>
                                    <td width="300px"><label name="AccountName" id="COA_accountName"></label></td>
                                </tr>*@
                        </table>
                    </div>
                </div>
                <div class="col-md-4" id="CustomerInfo" style="display:none;">
                    <div class="col-md-12">
                        <img src="" alt="No Image" id="customerImage" class="img-responsive" style="height:150px;width:150px;" />
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>

        <div class="tablecontainer table-responsive">
            <table id="LoanTable" class="display" cellspacing="0" style="width:100%;">
                <thead>
                    <tr>
                        <th>Loan Id</th>
                        <th>Loan Type Name</th>
                        <th>Loan Date</th>
                        @*<th>Loan Expire Date</th>*@
                        <th>Customer Name</th>
                        <th>Account Number</th>
                        <th>Loan Amount</th>
                        <th>Interest Rate</th>
                        <th>EMI</th>
                        <th>Installment Type Name</th>
                        <th>User Name</th>
                        <th>Print</th>
                    </tr>
                </thead>
            </table>
        </div>


    </div>

    <div id="gaurantorInfo">
    </div>
    <div id="CommentsAndSignatory">
    </div>

    <div id="Financial">

    </div>

    <div id="CustomersCheque">

    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(function () {
            $("#tabs").tabs();
        });

        (function () {
            var oTable;
            $(document).ready(function () {
                loadTable();
            });

            $('#submitChecked').attr('disabled', 'disabled');

            function loadTable() {
                oTable = $('#LoanTable').DataTable({
                    "ajax": {
                        "url": window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetCheckedLoanInfo",
                        "type": "get",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "LoanId" },
                        { "data": "AccountTypeName" },
                        { "data": "LoanDate" },
                        //{ "data": "LoanExpiryDate" },
                        { "data": "CustomerName" },
                        { "data": "AccountNumber" },
                        { "data": "LoanAmount" },
                        { "data": "InterestRate" },
                        { "data": "InstallmentAmount" },
                        { "data": "InstallmentTypeName" },
                        { "data": "UserName" },
                        {
                            "data": "LoanId",
                            "width": "50px",
                            "render": function (data) {
                                var url = window.applicationBaseUrl + "Loan/LoanApplicationApproval/PrintLoanApplication?loanId=" + data;
                                return '<a class="btn btn-info" target="_blank" href="' + url + '">Print</a>';
                            }
                        }
                    ],
                    "order": [[0, "desc"]],
                });
                $('#LoanTable tbody').on('click', 'tr', function () {

                    $('#submitChecked').removeAttr('disabled');

                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    }
                    else {
                        oTable.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                    bindDataToControls(oTable.row(this).data());

                });
            }

            function bindDataToControls(data) {

                $('#hdfLoanId').val(data.LoanId);
                document.getElementById('CustomerName').innerHTML = data.CustomerName;
                document.getElementById('AccountNumber').innerHTML = data.AccountNumber;
                document.getElementById('LoanType').innerHTML = data.AccountTypeName;
                document.getElementById('RefId').innerHTML = data.LoanId;
                document.getElementById('RefName').innerHTML = data.ReferenceName;
                document.getElementById('LoanDate').innerHTML = data.LoanDate;
                document.getElementById('LoanAmount').innerHTML = data.LoanAmount;
                document.getElementById('InterestRate').innerHTML = data.InterestRate;
                document.getElementById('InstallmentTypeId').innerHTML = data.InstallmentTypeName;
                document.getElementById('NumberOfInstallment').innerHTML = data.NumberOfInstallment;
                document.getElementById('ExtraFee').innerHTML = data.ExtraFee;
                document.getElementById('PurposeOfLoan').innerHTML = data.PurposeOfLoan;
                //document.getElementById('TotalPurchaseAmount').innerHTML = data.TotalPurchaseAmount;
                document.getElementById('TotalAssetCost').innerHTML = data.TotalAssetCost;
                document.getElementById('DistributorName').innerHTML = data.DistributorName;
                //document.getElementById('COA_accountName').innerHTML = data.AccountCode;
                document.getElementById('ResidentialCondition').innerHTML = data.ResidentialConditionType;
                if (data.IsDepositsFromSaving == true) {
                    $("#IsDepositsFromSaving").attr('checked', true);
                }
                else {
                    $("#IsDepositsFromSaving").attr('checked', false);
                }
                document.getElementById('CustomerId').innerHTML = data.CustomerId;
                $("#CustomerId").change();
                document.getElementById('labelweeklyLoanAmount').innerHTML = data.LoanAmount;
                document.getElementById('labelweeklyInterestRate').innerHTML = data.InterestRate;
                document.getElementById('labelweeklyNoInstallment').innerHTML = data.NumberOfInstallment;
                document.getElementById('labelweeklyInstallmentAmount').innerHTML = data.InstallmentAmount;
                document.getElementById('labelweeklyInstallmentType').innerHTML = data.InstallmentTypeName;

                $('#submit').val('Update');
            }

            // Get customer Information
            $("#CustomerId").change(function () {
                //   $('#AccountNumber').empty();
                var customerId = document.getElementById('CustomerId').innerHTML;
                var json = { customerId: customerId };

                $.ajax({
                    type: "POST",
                    url: window.applicationBaseUrl + "Loan/Loan/GetCustomerInfo",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $('#CustomerInfo').show();
                        $('#customerImage').attr('src', data.CustomerImage);
                        $('#CustomerName').val(data.CustomerName);
                    }
                });
            });


            $('#clear').click(function () {
                window.location.reload();
            });

            $('#gaurantorInfoTab').on('click', function () {
                $('#gaurantorInfo').load(window.applicationBaseUrl + "Loan/LoanApplicationApproval/Guarantor?loanId=" + $('#hdfLoanId').val());
            });

            $('#commentsAndSignatoryInfoTab').on('click', function () {
                $('#CommentsAndSignatory').load(window.applicationBaseUrl + "Loan/LoanApplicationApproval/CommentsAndSignatory?loanId=" + $('#hdfLoanId').val());
            });

            $('#customersChequeInfoTab').on('click', function () {
                $('#CustomersCheque').load(window.applicationBaseUrl + "Loan/LoanApplicationApproval/CustomersChequeInfo?loanId=" + $('#hdfLoanId').val());
            });

            $('#financialInfoTab').on('click', function () {
                $('#Financial').load(window.applicationBaseUrl + "Loan/LoanApplicationApproval/FinancialJustification?loanId=" + $('#hdfLoanId').val());
            });


        })();
    </script>
}
