﻿@model TonyMultipurpose.Areas.Accounts.Models.COA

@{
    ViewBag.Title = "Balance Sheet Configuration";
}



@using (Html.BeginForm("SaveBalanceSheet", "FinancialTransaction", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{

    <div class="container panel panel-default" style="float: left">
        @*<div class="panel-heading">
            <h3>Balance Sheet Configuration</h3>
        </div>*@
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-6">
                    <label id="showErrorMessage" style="margin-left: 10px; color: red; font-size: medium"></label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GroupId, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-4">
                    @Html.DropDownListFor(x => x.GroupId, new SelectList(Model.AccountGroups, "GroupId", "GroupName"),
                        "--Select Group--"
                        , new {@class = "form-control", id = "GroupId"})
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Category Name</label>
                <div class="col-md-4">
                    <select name="CategoryName" id="CategoryName" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BalanceSheetName, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-4">
                    @Html.EditorFor(model => model.BalanceSheetName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.BalanceSheetName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input  id="btn_submit" type="submit" value="Save" class="btn btn-primary" style="margin-bottom: 20px; margin-top: 20px;"/>
                <input id="updateBalanceSheet" type="button" value="Update" class="btn btn-success" style="margin-bottom: 20px; margin-top: 20px;"/>
                <input id="BalanceSheet_Clear" type="button" value="Clear" class="btn btn-danger" style="margin-bottom: 20px; margin-top: 20px;"/>
            </div>





        </div>
    </div>


    <input type="hidden" id="hdfBalanceSheetConfigId"/>

}

<div class="form-group" style="overflow:scroll; height:450px;">
    <div class="tablecontainer table-responsive" id="refresh">
        <table id="BalanceSheetDataTable" class="display" cellspacing="0" style="width: 100%;">
            <thead>
            <tr>
                <th>Group Name</th>
                <th>Category Name</th>
                <th>Name</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<br/>

@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>

<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        /*font-weight: bold;*/
        font-size: 100%;
    }
</style>
 
}

@section scripts
{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
   <script src="~/Scripts/Custom/FinancialTransactions/FinancialTransaction/BalanceSheet.js"></script> 
}



