﻿@model TonyMultipurpose.Areas.FinancialTransactions.Models.FinancialTransactionsModel

@{
    ViewBag.Title = "Contra Entry";

    
}


@using (Html.BeginForm("ContraEntryReport", "FinancialTransaction", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", target = "_blank" }))
{
    @Html.AntiForgeryToken()
    <div class="container panel panel-default" style="float: left">
        @*<div class="panel-heading">
            <h3>Contra Entry</h3>
        </div>*@

        <div class="panel-body">
            <div class="row form-group">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <label id="showMessage" style="color:red;font-size:medium"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Voucher Type</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="VoucherType" name="VoucherType" value="Contra" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-6">
                    <input type="button" value="New" class="btn btn-primary"  id="btnNew" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Date<span class="error">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="TransactionDate" name="TransactionDate" class="form-control datepicker" readonly="readonly" value="@DateTime.Now.ToString("dd-MMM-yyyy")"/>
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Voucher No</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="VoucherNo" name="VoucherNo" class="form-control" readonly="readonly" />
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Voucher Code</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="VoucherCode" name="VoucherCode" class="form-control" />
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <br />
            <div class="form-group">
                <div class="col-md-1">
                    <label class="control-label">Entry Type<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <select name="EntryType" id="EntryType" class="form-control">
                        <option value="">--Entry Type--</option>
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <label class="control-label">Account Code<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <select name="AccountCode" id="AccountCode" class="form-control"></select>
                </div>
                <div class="col-md-1">
                    <label class="control-label">Account Name</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="AccountName" name="AccountName" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <label class="control-label">Particular<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="Particular" name="Particular" placeholder="Particular" class="form-control" />
                </div>
                <div class="col-md-1">
                    <label class="control-label">Debit<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <input type="number" id="Debit" name="Debit" placeholder="Debit" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-1">
                    <label class="control-label">Credit<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <input type="number" id="Credit" name="Credit" placeholder="Credit" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <label class="control-label">Remarks</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="Remarks" name="Remarks" placeholder="Remarks" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <input type="checkbox" name="CheckEntry" id="CheckEntry">
                    <label class="control-label">Cheque Entry<span class="error">*</span></label>
                </div>
                <div class="col-md-1 cheque">
                    <label class="control-label">Cheque No<span class="error">*</span></label>
                </div>
                <div class="col-md-3 cheque">
                    <input type="text" id="ChequeNo" name="ChequeNo" placeholder="Cheque No" class="form-control" />
                </div>
                <div class="col-md-1 cheque">
                    <label class="control-label">Issue Date<span class="error">*</span></label>
                </div>
                <div class="col-md-3 cheque">
                    <input type="text" id="IssueDate" name="IssueDate" placeholder="Issue Date" readonly="readonly" class="form-control datepicker" />
                </div>
            </div>
            <div class="form-group cheque">
                <div class="col-md-1">
                    <label class="control-label">Bank Name<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="BankName" name="BankName" placeholder="Bank Name" readonly="readonly" class="form-control">
                </div>
                <div class="col-md-1">
                    <label class="control-label">Branch Name</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="BranchName" name="BranchName" placeholder="Branch Name" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-1">
                    <label class="control-label">A/C No<span class="error">*</span></label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="BankAccountNo" name="BankAccountNo" placeholder="A/C No" readonly="readonly" class="form-control" />
                </div>
            </div>
            <input type="hidden" id="hdnRowId" />
            <input type="hidden" id="hdnAccountCode"/>
            <input type="hidden" id="hdnGroupId"/>
            <input type="hidden" id="hdnGroupName"/>
            <input type="hidden" id="hdnCategoryId"/>
            <input type="hidden" id="hdnCategoryName"/>
            <input type="hidden" id="hdnClientCode"/>
            <input type="hidden" id="hdnClientName"/>
            <input type="hidden" id="hdnSupplierCode"/>
            <input type="hidden" id="hdnSupplierName" />
            <div class="form-group">
                <div class="col-md-1">
                    
                </div>
                <div class="col-md-11">                   
                    <div class="form-group row" style="margin-left:0px;">
                        <input type="button" id="btnAdd"  value="Add" class="btn btn-primary"/>
                        <input type="button" id="btnUpdate" value="Update" class="btn btn-primary" />
                        <input type="button" id="btnDelete" value="Delete" class="btn btn-primary" />
                        <input type="button" id="btnClear" value="Clear" class="btn btn-primary" />
                    </div>
                </div>
            </div>

            <div class="tablecontainer table-responsive">
                <table id="tblTransaction" class="display" cellspacing="0" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Sl.</th>
                            <th>Entry Type</th>
                            <th>Account Code</th>
                            <th>Account Name</th>
                            <th>Particular</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Cheque No.</th>
                            <th>Bank Name</th>
                            <th>Branch Name</th>
                            <th>A/C No.</th>
                        </tr>
                    </thead>
                </table>
            </div>


            <div class="form-group">
                <div class="col-md-10">

                </div>
                <div class="col-md-1">
                    <input type="button" value="Save" class="btn btn-primary" style="margin-bottom:20px; margin-top:20px;" id="btnSave" />
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Preview" class="btn btn-primary" id="btnPreview" style="margin-bottom:20px; margin-top:20px;"/>
                </div>
            </div>
        </div>


    </div>

}

@section styles
{
    <style>
        span.error {
            display: block inline;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
}

@section scripts
{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom/FinancialTransactions/FinancialTransaction/ContraEntry.js"></script>
}
