﻿@model TonyMultipurpose.Areas.FinancialTransactions.Models.FinancialTransactionsModel

@{
    ViewBag.Title = "Account to Account Transfer";

    
}

@using (Html.BeginForm("JournalEntryReport", "FinancialTransaction", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", target = "_blank" }))
{
    @Html.AntiForgeryToken()
    <div class="container panel panel-default" style="float: left">
        @*<div class="panel-heading">
            <h3>Account to Account Transfer</h3>
        </div>*@

        <div class="panel-body">
            <div class="row form-group">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <label id="showMessage" style="color:red;font-size:medium"></label>
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-md-2">
                    <label class="control-label">Voucher Type</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="VoucherType" name="VoucherType" value="Journal" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="form-group hidden">
                <div class="col-md-2">
                    <label class="control-label">Date<span class="error">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="TransactionDate" name="TransactionDate" class="form-control datepicker" readonly="readonly" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Voucher No</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="VoucherNo" name="VoucherNo" class="form-control" readonly="readonly" />
                </div>
                <div class="col-md-6">
                    <input type="button" value="New" class="btn btn-primary" id="btnNew" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Voucher Code</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="VoucherCode" name="VoucherCode" class="form-control" />
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Account From<span class="error">*</span></label>
                </div>
                <div class="col-md-4">
                    <select name="AccountCode" id="AccountCode" class="form-control js-example-basic-single"></select>
                </div>
                <div class="col-md-6">
                    <span id="AcountFromCodeBalance" name="AcountFromCodeBalance" class="control-label thick"></span>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <div class="col-md-2">
                    <label class="control-label"></label>
                </div>
                <div class="col-md-4">
                    <textarea type="text" id="InwordsAcountFromCodeBalance" name="InwordsAcountFromCodeBalance" class="form-control" style="height: 50px;" readonly="readonly"></textarea>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Credit Reason<span class="error">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="Particular" name="Particular" class="form-control" />
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Account To<span class="error">*</span></label>
                </div>
                <div class="col-md-4">
                    <select name="AccountToCode" id="AccountToCode" class="form-control js-example-basic-single"></select>
                </div>
                <div class="col-md-6">
                    <span id="AcountToCodeBalance" name="AcountToCodeBalance" class="control-label thick"></span>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <div class="col-md-2">
                    <label class="control-label"></label>
                </div>
                <div class="col-md-4">
                    <textarea type="text" id="InwordsAcountToCodeBalance" name="InwordsAcountToCodeBalance" class="form-control" style="height: 50px;" readonly="readonly"></textarea>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label">Amount<span class="error">*</span></label>
            </div>
            <div class="col-md-4">
                <input type="number" step=".01" id="Amount" name="Amount" class="form-control"/>
            </div>
            <div class="col-md-6">
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Inwords</label>
                </div>
                <div class="col-md-4">
                    <textarea type="text" id="InwordsAmount" name="InwordsAmount" class="form-control" style="height: 50px;" readonly="readonly"></textarea>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Debit Reason<span class="error">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="DebitReason" name="DebitReason" class="form-control" />
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">
                    <input type="checkbox" name="CheckEntry" id="CheckEntry">
                    <label class="control-label">Cheque Entry<span class="error">*</span></label>
                </div>
            </div>
            <div id="checkInfo">
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">Cheque No<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="ChequeNo" name="ChequeNo" placeholder="Cheque No" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">Issue Date<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="IssueDate" name="IssueDate" placeholder="Issue Date" readonly="readonly" class="form-control datepicker" />
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="AccountFromBankInfo">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-4">
                            <span style="font-weight: bold;">Account From Bank Information</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">Bank Name<span class="error">*</span></label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="BankName" name="BankName" placeholder="Bank Name" readonly="readonly" class="form-control">
                        </div>
                    </div>
                    <div class="form-group cheque">
                        <div class="col-md-2">
                            <label class="control-label">Branch Name</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="BranchName" name="BranchName" placeholder="Branch Name" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">A/C No<span class="error">*</span></label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="BankAccountNo" name="BankAccountNo" placeholder="A/C No" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" id="AccountToBankInfo">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-4">
                            <span style="font-weight: bold;">Account To Bank Information</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">Bank Name<span class="error">*</span></label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="AccountToBankName" name="AccountToBankName" placeholder="Bank Name" readonly="readonly" class="form-control">
                        </div>
                    </div>
                    <div class="form-group cheque">
                        <div class="col-md-2">
                            <label class="control-label">Branch Name</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="AccountToBranchName" name="AccountToBranchName" placeholder="Branch Name" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">A/C No<span class="error">*</span></label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="AccountToBankAccountNo" name="AccountToBankAccountNo" placeholder="A/C No" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="hdnAccountCode" />
            <input type="hidden" id="hdnAccountName" />
            <input type="hidden" id="hdnGroupId" />
            <input type="hidden" id="hdnGroupName" />
            <input type="hidden" id="hdnCategoryId" />
            <input type="hidden" id="hdnCategoryName" />
            <input type="hidden" id="hdnClientCode" />
            <input type="hidden" id="hdnClientName" />
            <input type="hidden" id="hdnSupplierCode" />
            <input type="hidden" id="hdnSupplierName" />

            <input type="hidden" id="hdnAccountToCode" />
            <input type="hidden" id="hdnAccountToName" />
            <input type="hidden" id="hdnAccountToGroupId" />
            <input type="hidden" id="hdnAccountToGroupName" />
            <input type="hidden" id="hdnAccountToCategoryId" />
            <input type="hidden" id="hdnAccountToCategoryName" />
            <input type="hidden" id="hdnAccountToClientCode" />
            <input type="hidden" id="hdnAccountToClientName" />
            <input type="hidden" id="hdnAccountToSupplierCode" />
            <input type="hidden" id="hdnAccountToSupplierName" />

            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-1">
                    <input type="button" value="Save" class="btn btn-primary" style="margin-bottom:20px; margin-top:20px;" id="btnSave" />
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Preview" class="btn btn-primary" id="btnPreview" style="margin-bottom:20px; margin-top:20px;" />
                </div>
            </div>
        </div>


    </div>

}

@section styles
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<style>
    span.error {
        display: block inline;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    .thick {
        font-weight: bold;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

}

@section scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/Scripts/Custom/FinancialTransactions/FinancialTransaction/JournalEntry.js"></script>
}
