﻿@model TonyMultipurpose.Areas.FinancialTransactions.Models.PaymentDetailsModel
@{
    ViewBag.Title = "Financial Transaction Details";
}

@using (Html.BeginForm("Index", "FinancialTransaction", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", target = "_blank" }))
{
    <div class="container panel panel-default" style="float: left">
        @{
            var For = string.Empty;
            var To = string.Empty;
            var ForBank = string.Empty;
            var ToBank = string.Empty;

            var ForReason = string.Empty;
            var ToReason = string.Empty;
            var ForReasonValue = string.Empty;
            var ToReasonValue = string.Empty;

            var Title = string.Empty;

            var ForBankName = string.Empty;
            var ForBranchName = string.Empty;
            var ForBankAccountNo = string.Empty;
            var ToBankName = string.Empty;
            var ToBranchName = string.Empty;
            var ToBankAccountNo = string.Empty;

            if (Model.VoucherType == "Voucher Payment")
            {
                For = "Payment For";
                To = "Payment By";
                ForReason = "Debit Reason";
                ToReason = "Credit Reason";
                ForReasonValue = @Model.DebitReason;
                ToReasonValue = @Model.CreditReason;

                Title = "Voucher Payment Details";
                ForBank = @Model.PayTo;
                ToBank = @Model.ReceiveFrom;
                ForBankName = @Model.AccountToBankName;
                ForBranchName = @Model.AccountToBranchName;
                ForBankAccountNo = @Model.AccountToBankAccountNo;
                ToBankName = @Model.BankName;
                ToBranchName = @Model.BranchName;
                ToBankAccountNo = @Model.BankAccountNo;
            }
            else if (Model.VoucherType == "Voucher Receipt")
            {
                For = "Received From";
                To = "Received By";
                ForBank = @Model.ReceiveFrom;
                ToBank = @Model.PayTo;

                ForReason = "Credit Reason";
                ToReason = "Debit Reason";
                ForReasonValue = @Model.CreditReason;
                ToReasonValue = @Model.DebitReason;

                Title = "Voucher Receipt Details";

                ForBankName = @Model.BankName;
                ForBranchName = @Model.BranchName;
                ForBankAccountNo = @Model.BankAccountNo;
                ToBankName = @Model.AccountToBankName;
                ToBranchName = @Model.AccountToBranchName;
                ToBankAccountNo = @Model.AccountToBankAccountNo;

            }
            else if (Model.VoucherType == "Journal")
            {
                For = "Account From";
                To = "Account To";
                ForBank = @Model.ReceiveFrom;
                ToBank = @Model.PayTo;

                ForReason = "Credit Reason";
                ToReason = "Debit Reason";
                ForReasonValue = @Model.CreditReason;
                ToReasonValue = @Model.DebitReason;

                Title = "Journal Details";

                ForBankName = @Model.BankName;
                ForBranchName = @Model.BranchName;
                ForBankAccountNo = @Model.BankAccountNo;
                ToBankName = @Model.AccountToBankName;
                ToBranchName = @Model.AccountToBranchName;
                ToBankAccountNo = @Model.AccountToBankAccountNo;
            }
            else
            {
                For = "Payment For";
                To = "Payment By";
                ForBank = @Model.PayTo;
                ToBank = @Model.ReceiveFrom;

                ForReason = "Debit Reason";
                ToReason = "Credit Reason";
                ForReasonValue = @Model.DebitReason;
                ToReasonValue = @Model.CreditReason;

                Title = "Transaction Details";

                ForBankName = @Model.BankName;
                ForBranchName = @Model.BranchName;
                ForBankAccountNo = @Model.BankAccountNo;
                ToBankName = @Model.AccountToBankName;
                ToBranchName = @Model.AccountToBranchName;
                ToBankAccountNo = @Model.AccountToBankAccountNo;
            }

        }

        <div class="panel-heading">
            <h3>@Title</h3>
        </div>

        <div class="panel-body">         

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Voucher No</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="VoucherNo" name="VoucherNo" value="@Model.VoucherNo" class="form-control" readonly="readonly" />
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Voucher Code</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="VoucherCode" name="VoucherCode" value="@Model.VoucherCode" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-6">

                </div>
            </div>
           

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">@For</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="AccountToCode" name="AccountToCode" value="@ForBank" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">@ForReason</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="DebitReason" name="DebitReason" value="@ForReasonValue" readonly="readonly" class="form-control" />
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">@To<span class="error">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="AccountCode" name="AccountCode" value="@ToBank" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">@ToReason</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="CreditReason" name="CreditReason" value="@ToReasonValue" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-6">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Amount<span class="error">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="number" step=".01" id="Amount" name="Amount" value="@Model.Amount" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-6">
                </div>
            </div>

            @if (Model.IsChequePayment)
            {
                <div class="form-group cheque">
                    <div class="col-md-2">
                        <label class="control-label">Cheque No<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="ChequeNo" name="ChequeNo" value="@Model.ChequeNo" readonly="readonly" placeholder="Cheque No" class="form-control" />
                    </div>
                </div>
                <div class="form-group cheque">
                    <div class="col-md-2">
                        <label class="control-label">Issue Date<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="IssueDate" name="IssueDate" value="@Model.ChequeIssueDate.ToString("dd-MMM-yyyy")" placeholder="Issue Date" readonly="readonly" class="form-control datepicker" />
                    </div>
                </div>
            }

            @if (Model.AccountToBankName != string.Empty)
            {
                <div class="form-group cheque">
                    <div class="col-md-2">
                        <label class="control-label"></label>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">@For Bank Information</label>
                    </div>

                </div>

                <div class="form-group cheque">
                    <div class="col-md-2">
                        <label class="control-label">Bank Name<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="AccountToBankName" name="AccountToBankName" value="@ForBankName" placeholder="Bank Name" readonly="readonly" class="form-control">
                    </div>
                </div>
                <div class="form-group cheque">
                    <div class="col-md-2">
                        <label class="control-label">Branch Name</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="AccountToBranchName" name="AccountToBranchName" value="@ForBranchName" placeholder="Branch Name" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="form-group cheque">
                    <div class="col-md-2">
                        <label class="control-label">A/C No<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="BankAccountNo" name="BankAccountNo" placeholder="A/C No" value="@ForBankAccountNo" readonly="readonly" class="form-control" />
                    </div>
                </div>
            }
           
            @if (Model.BankName != string.Empty)
            {
                <div class="form-group cheque">
                    <div class="col-md-2">
                        <label class="control-label"></label>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">@To Bank Information</label>
                    </div>

                </div>
                <div class="form-group cheque">
                    <div class="col-md-2">
                        <label class="control-label">Bank Name<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="BankName" name="BankName" value="@ToBankName" placeholder="Bank Name" readonly="readonly" class="form-control">
                    </div>
                </div>
                <div class="form-group cheque">
                    <div class="col-md-2">
                        <label class="control-label">Branch Name</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="BranchName" name="BranchName" value="@ToBranchName" placeholder="Branch Name" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="form-group cheque">
                    <div class="col-md-2">
                        <label class="control-label">A/C No<span class="error">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="BankAccountNo" name="BankAccountNo" placeholder="A/C No" value="@ToBankAccountNo" readonly="readonly" class="form-control" />
                    </div>
                </div>
            }

            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-1">
                    <a class="popup btn btn-primary" href="@Url.Action("Index", "FTApproval",new { Area = "FinancialTransactions" })">Back To List</a>
                </div>
            </div>
        </div>
    </div>

   }
@section styles
{
    
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    span.error {
        display: block inline;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

}

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
}
