﻿@model TonyMultipurpose.Areas.Setup.Models.TermsAndConditions

@{
    ViewBag.Title = "Terms & Conditions";
   
}

@section Styles{
    <style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 100%;
    }
</style>
    }
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="row form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color:red;font-size:medium"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label">Account Type</label>
            </div>
            <div class="col-md-3">
                <select name="AccountTypeId" id="AccountTypeId" class="form-control"></select>
            </div>
            <div class="col-md-1">
                <span class="error">**</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label">Terms & Conditions</label>
            </div>
            <div class="col-md-8">
                <textarea name="TermsAndConditionsContent" id="TermsAndConditionsContent" class="form-control" style="height: 400px;"></textarea>
            </div>
            <div class="col-md-1">
                <span class="error">**</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <input type="button" id="btnSave" value="Save" class="btn btn-success" />
            </div>
            <div class="col-md-1">
               
            </div>
        </div>
    </div>
}


@section Scripts{
    <script src="//cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
    <script src="~/Scripts/Custom/Setup/TermsAndConditions_Save.js"></script>
}

