﻿@using TonyMultipurpose.Areas.Loan.Models;
@model IEnumerable<LoanModel>
@{
    ViewBag.Title = "Loan Closing";
}
@section Styles{
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <style>
    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 1px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .formatedTable td {
        padding-bottom: 6px;
    }

    .formatedTable input {
        padding-right: 210px;
    }
</style>
    }


<div class="panel panel-default" style="" id="tabs">
    @*<div class="panel-heading">
        <h2>Loan List For Closing </h2>
    </div>*@
    <br/>
@*<div class="tablecontainer table-responsive">*@

    <div class="table table-bordered">
        <table id="LoanTable" class="display" cellspacing="0" style="width: 100%;">
            <thead>
            <tr>
                <th>Loan Id</th>
                <th>Loan No</th>
                <th>Loan Type Name</th>
                <th>Loan Date</th>
                <th>Loan Expire Date</th>
                <th>Customer Name</th>
                <th>Account Number</th>
                <th>Loan Amount</th>
                <th>Interest Rate</th>
                <th>EMI</th>
                <th>Installment Type Name</th>
                <th>User Name</th>
                <th>Details</th>
                <th>Close</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Scripts/Custom/Loan/LoanClosing/LoanClosingList.js")"></script>
}
 









