﻿@using System.Web.UI.WebControls
@model TonyMultipurpose.Areas.Setup.Models.AccountTypeSetup
@{
    ViewBag.Title = "Account Type Setup";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Delete", "AccountTypeSetup", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (Model != null && Model.AccountSetupId > 0)
        {
            @Html.HiddenFor(c => c.AccountSetupId)
        }
        <div class="form-group">
            @Html.LabelFor(model => model.AccountTitleId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("AccountTitleId", new List<SelectListItem>()
            {
                 new SelectListItem {Text = "-Select Account Title-", Value = ""},
                new SelectListItem {Text = "Loan", Value = "Loan"},
                new SelectListItem {Text = "Deposit", Value = "Deposit"}
            }, new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(c => c.AccountTitleId, "", new { @class = "text-danger", @style = "color: red" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.AccountTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.AccountTypeName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountTypeCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.AccountTypeCode, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.DropDownList("IsActive", new List<SelectListItem>()
                {
                    new SelectListItem {Text = "Active", Value = "true"},
                    new SelectListItem {Text = "Inactive", Value = "false"}
                }, new {@class = "form-control", disabled = "disabled"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="popup btn btn-primary" href="@Url.Action("Index", "AccountTypeSetup",new { Area = "Setup" })">Back To List</a>
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>

    </div>
}