﻿
@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.Setup.Models.AccountTypeSetup>


@{
    ViewBag.Title = "Index";
}
@section Styles{
    <style>
    span.field-validation-error {
        color: red;
    }
</style>
    }



<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(a => a.AccountTitleId).Titled("Account Title").Sortable(true).Filterable(true);
    columns.Add(a => a.AccountTypeName).Titled("Account Type Name").Sortable(true).Filterable(true);
    columns.Add(a => a.AccountTypeCode).Titled("Account Type Code").Sortable(true).Filterable(true);
    columns.Add(a => a.UserStatus).Titled("Status").Sortable(true).Filterable(true);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.AccountSetupId, @class = "btn btn-primary" })).Titled("<span>Edit</span>");
    columns.Add()
   .Encoded(false)
   .Sanitized(false)
   .SetWidth(30)
   .RenderValueAs(a => Html.ActionLink("Delete", "Delete", new { id = a.AccountSetupId })).Titled("Delete");
}).WithPaging(10).Sortable(true)

    <a class="popup btn btn-primary" href="@Url.Action("Save", "AccountTypeSetup",new { Area = "Setup" })" style="margin-bottom:20px; margin-top:20px;">Add New Account Type</a>
</div>
