﻿
@model TonyMultipurpose.Areas.Employee.Models.EducationalQualification

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2 style="text-align:center; padding:10px">Edit Educational Qualification Information</h2>

@using (Html.BeginForm("Edit", "EducationalQualification", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.EQualificationId > 0)
    {
        @Html.HiddenFor(d => d.EQualificationId)
    }

    <div class="form-group">
        @Html.LabelFor(d => d.ExamName, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(d => d.ExamName, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.ExamName, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.InstitutionName, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(d => d.InstitutionName, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.InstitutionName, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Board_University, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(d => d.Board_University, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Board_University, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Session, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(d => d.Session, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Session, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.PassingYear, new { @class = "control-label col-md-offset-2 col-sm-2 " })
        <div class="col-sm-3">
           @Html.TextBoxFor(a=>a.PassingYear, new { @class = "form-control" })           
            @Html.ValidationMessageFor(d => d.PassingYear, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
<div class="form-group">
    @Html.LabelFor(a => a.Grade_GPA, new { @class = "control-label col-md-offset-2 col-sm-2 " })
    <div class="col-sm-3">
        @Html.TextBoxFor(a=>a.Grade_GPA, new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Grade_GPA, "", new { @class = "text-danger", @style = "color:red" })
    </div>
</div>
    <div class="form-group">
        @Html.LabelFor(ui => ui.IsActive, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.DropDownList("IsActive", new List<SelectListItem>()
                {
                    new SelectListItem { Text = "Active", Value = "true" },
                    new SelectListItem { Text = "Inactive", Value = "false" }
                }, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-2 ">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Beck To Save Page", "Save")
</div>


<script type="text/javascript">

     $(document).ready(function () {
         $('.datepicker').datepicker({
             dateFormat: "dd/M/yy",
             changeMonth: true,
             changeYear: true,
             yearRange: "-60:+0"
         });

     });
</script>
