﻿@model TonyMultipurpose.Areas.Employee.Models.EducationalQualification
@using GridMvc.Html
@{
    ViewBag.Title = "Save";
    var employeename = ViewBag.employeeName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
                        
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<style>
    #fieldset {
        border-bottom: 1px solid gray;
    }

    .EmployeeId {
        width: 120px;
    }
</style>
@using (Html.BeginForm("Save", "EducationalQualification", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.EQualificationId > 0)
    {
        @Html.HiddenFor(d => d.EQualificationId)
    }
   
    <div class="container">
        <div class="master">
            <h2>Employee</h2>
            <table class="table table-responsive">
                <tr>
                    <td class="col-md-2">
                        <label class="control-label">Employee Name</label>
                    </td>
                    <td>
                        <select name="EmployeeId" class="EmployeeId form-control " id="EmployeeId">
                            @if (employeename != null)
                            {
                                <option value="0">Select</option>
                                foreach (var name in employeename)
                                {
                                    <option value="@name.EmployeeId">@name.EmployeeName</option>
                                }
                            }
                        </select>
                        <span class="error">Select EmployeeName</span>
                    </td>
                </tr>
            </table>
        </div>
        @if (ViewBag.message != null)
        {
        <h3>@ViewBag.message</h3>
        }
       <div class="master">
           <h2>Educatin Information</h2>
           <table class="table table-responsive">
               <tr>                   
                   <th>Exam Name</th>
                   <th>Institution Name</th>
                   <th>Board University</th>
                   <th>Session</th>
                   <th>Passing Year</th>
                   <th>Grade GPA</th>
                   <th>Edit</th>
                   <th>Delete</th>
               </tr>
               <tbody class="a " id="result"></tbody>
           </table>
       </div>


        <div>
            <input type="button" value="Add Education" id="show" class="btn btn-primary" />
           
        </div>


        <div class="details" id="hiddenValue">
            <h2>Add Education</h2>
            <table class="table table-responsive">
                <tr>
                    <td>Exam Name</td>
                    <td>Institution Name</td>
                    <td>Board University</td>
                    <td>Session</td>
                    <td>Passing Year</td>
                    <td>Grade GPA</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="mycontainer" id="mainrow">
                    <td>
                        @Html.TextBoxFor(a => a.ExamName, new { id = "ExamName", @class = "ExamName form-control" })                       
                        <span class="error">Valid ExamName required</span>
                    </td>
                    <td>
                        <input type="text" name="InstitutionName" id="InstitutionName" class="InstitutionName form-control" />
                        <span class="error">Valid InstitutionName required</span>
                    </td>
                    <td>
                        <input type="text" name="Board_University" id="Board_University" class="Board_University form-control" />
                        <span class="error">Valid Board_University required</span>
                    </td>
                    <td>
                        <input type="text" name="Session" id="Session" class="Session form-control" />
                        <span class="error">Valid Session required</span>
                    </td>
                    <td>
                       @Html.TextBoxFor(a=>a.PassingYear, new { @class= "form-control PassingYear", id= "PassingYear" })
                        <span class="error">Valid PassingYear required</span>
                    </td>
                    <td>
                        <input type="text" name="Grade_GPA" id="Grade_GPA" class="Grade_GPA form-control" />
                        <span class="error">Valid Grade_GPA required</span>
                    </td>
                    <td>
                        <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
                    </td>
                </tr>
            </table>
            <div id="EducationAdd">
                <table class="table table-responsive" id="EducationAddItems"></table>
                <span id="EducationAdderror" style="color:red"></span>

            </div>
            <div style="padding:10px 0; text-align:right">
                <input id="submit" type="button" value="Save Education" class="btn btn-warning" style="padding:10px 20px" />
            </div>
        </div>

    </div>
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        //$('.datepicker').datepicker({
        //    dateFormat: "yy",
        //    changeMonth: false,
        //    changeYear: true,
        //    yearRange: "-60:+0",
           
        //});
       
        $("#EmployeeId").change(function () {

            var deptId = $("#EmployeeId").val();
            $("#result").empty();
            var json = {
                employeeId: deptId
            };
            $code = "";
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllEmployeeNameById", "EducationalQualification")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);
                    $.each(data, function (key, value) {
                        //alert(key);
                        $("#result").append('<tr> <td>' + value.ExamName + '</td> <td>' + value.InstitutionName + '</td><td>' + value.Board_University + '</td><td>' + value.Session + '</td><td>' + value.PassingYear + '</td><td>' + value.Grade_GPA + '</td><td>' + '<a href="/Employee/EducationalQualification/Edit/?id=' + value.EQualificationId + '">Edit</a>' + '</td><td>' + '<a href="/Employee/EducationalQualification/Delete/' + value.EQualificationId + '">Delete</a>' + '</td></tr>');

                    });
                }
            });
        });

        $("#hiddenValue").hide();
        $("#show").click(function () {
            $("#hiddenValue").show();
        });
    });



    $(document).ready(function () {
        //Add button click event
        $('#add').click(function () {
            //validation and add order items
            var isAllValid = true;

            //if ($('#EmployeeId').val() == "0") {
            //    isAllValid = false;
            //    $('#EmployeeId').siblings('span.error').css('visibility', 'visible');
            //}
            //else {
            //    $('#EmployeeId').siblings('span.error').css('visibility', 'hidden');
            //}

            if (!($('#ExamName').val().trim() != '')) {
                isAllValid = false;
                $('#ExamName').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#ExamName').siblings('span.error').css('visibility', 'hidden');
            }


            if (!($('#InstitutionName').val().trim() != '')) {
                isAllValid = false;
                $('#InstitutionName').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#InstitutionName').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#Board_University').val().trim() != '')) {
                isAllValid = false;
                $('#Board_University').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Board_University').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#Session').val().trim() != '')) {
                isAllValid = false;
                $('#Session').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Session').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#PassingYear').val().trim() != '' && (parseInt($('#PassingYear').val()) || 0))) {
                isAllValid = false;
                $('#PassingYear').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#PassingYear').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#Grade_GPA').val().trim() != '' && (parseFloat($('#Grade_GPA').val()) || 0))) {
                isAllValid = false;
                $('#Grade_GPA').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Grade_GPA').siblings('span.error').css('visibility', 'hidden');
            }

            if (isAllValid) {
                var $newRow = $('#mainrow').clone().removeAttr('id');
                //$('.EmployeeId', $newRow).val($('#EmployeeId').val());


                //Replace add button with remove button
                $('#add', $newRow).addClass('remove').val('Remove').removeClass('btn-success').addClass('btn-danger');

                //remove id attribute from new clone row
                $('#ExamName,#InstitutionName,#Board_University,#Session,#PassingYear,#Grade_GPA,#add', $newRow).removeAttr('id');
                $('span.error', $newRow).remove();
                //append clone row
                $('#EducationAddItems').append($newRow);

                //clear select data
                //$('#EmployeeId').val('0');
                $('#ExamName,#InstitutionName,#Board_University,#Session,#PassingYear,#Grade_GPA').val('');
                $('#EducationAdderror').empty();
            }

        })

        //remove button click event
        $('#EducationAddItems').on('click', '.remove', function () {
            $(this).parents('tr').remove();
        });

        $('#submit').click(function () {
            var isAllValid = true;


            //validate order items
            $('#EducationAdderror').text('');
            var list = [];
            var errorItemCount = 0;

            $('#EducationAddItems tbody tr').each(function (Save, ele) {
                if (
                    //$('select.EmployeeId', this).val() == "0" ||
                   $('.ExamName', this).val() == "" ||
                    $('.InstitutionName', this).val() == "" ||
                    $('.Board_University', this).val() == "" ||
                    $('.Session', this).val() == "" ||
                    $('.PassingYear', this).val() == "" ||
                    $('.Grade_GPA', this).val() == ""
                   ) {
                    errorItemCount++;

                    $(this).addClass('error');
                } else {

                    var orderItem = {
                        EmployeeId: $("#EmployeeId").val(),
                        ExamName: ($('.ExamName', this).val()),
                        InstitutionName: ($('.InstitutionName', this).val()),
                        Board_University: $('.Board_University', this).val(),
                        Session: ($('.Session', this).val()),
                        PassingYear: ($('.PassingYear', this).val()),
                        Grade_GPA: ($('.Grade_GPA', this).val()),
                    };
                    list.push(orderItem);
                    $(this).val('Please wait...');
                    $.ajax({
                        type: 'POST',

                        url: '/EducationalQualification/Save',
                        data: JSON.stringify(orderItem),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data.status) {
                                alert('Successfully saved');
                                //here we will clear the form

                                $('#EducationAddItems').empty();
                            }
                            else {
                                alert('Error');
                            }
                            $('#submit').val('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#submit').val('Save');
                        }

                    });

                }
            })


        });
    });
    //LoadEmployeeInfo($('#EmployeeId'));

</script>

<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
    
</style>