﻿@model IEnumerable<TonyMultipurpose.Areas.FinancialTransactions.Models.LookUpModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Look Up Menu";
    int rowVal = 0;
}

<div class="table table-responsive">

    <a class="popup btn btn-primary" href="~/FinancialTransactions/LookUpMenu/Save" style="margin-bottom:20px; margin-top:20px;">Add New Look Up </a>

    @Html.Grid(Model).Columns(columns =>
{
    columns.Add().Titled("SL.No.").RenderValueAs(item => (rowVal = rowVal + 1).ToString());
    columns.Add(a => a.AccountType).Titled("Account Type").Sortable(false).Filterable(false);
    columns.Add(a => a.AccountCode).Titled("Account Code with Name").Sortable(false).Filterable(false);
    //columns.Add()
    //.Encoded(false)
    //.Sanitized(false)
    //.SetWidth(30)
    //.RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.Id, @class = "btn btn-primary" })).Titled("Edit");
    // columns.Add()
    //.Encoded(false)
    //.Sanitized(false)
    //.SetWidth(30)
    //.RenderValueAs(a => Html.ActionLink("Delete", "Delete", new { id = a.Id })).Titled("Delete");
}).WithPaging(500).Sortable(true)


</div>
