﻿@model TonyMultipurpose.Areas.FinancialTransactions.Models.LookUpModel

@{
    ViewBag.Title = "Save Look Up Menu";
}

@using (Html.BeginForm("Save", "LookUpMenu", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    //@Html.AntiForgeryToken()


    <div class="container panel panel-default" style="float: left">
        <div class="panel-heading">
            <h3>Save Look Up Menu</h3>
        </div>
        <div class="panel-body">
            @*<div class="form-group">
                <div class="col-md-6">
                    <label id="showErrorMessage" style="margin-left: 10px;color:red;font-size:medium"></label>
                </div>
            </div>*@

            <div class="form-group">
            @Html.LabelFor(model => model.AccountTypeId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.DropDownListFor(x => x.AccountTypeId, new SelectList(@ViewBag.AccountTypeList, "AccountTypeId", "AccountType"),
                "--Select Account Type--"
                , new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.AccountTypeId, "", new {@class = "text-danger"})
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.COAId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(x => x.COAId, new SelectList(Model.ListOfCoaHeads, "COAId", "AccountName"),
                "--Select Chart Of Account Head--"
                , new { @class = "form-control", id = "GroupId" })
                    @Html.ValidationMessageFor(model => model.COAId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">

                <a class="popup btn btn-primary" href="~/FinancialTransactions/LookUpMenu/Index" style="margin-bottom:20px; margin-top:20px;">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary" style="margin-bottom:20px; margin-top:20px;" id="btn_submit" />
            </div>
        </div>
    </div>
    
}


