﻿@model TonyMultipurpose.Areas.Member.Models.FamilyDetail
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
   // var employeename = ViewBag.employeeName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<style>
    #fieldset {
        border-bottom: 1px solid gray;
    }

    .EmployeeId {
        width: 120px;
    }
</style>
@using (Html.BeginForm("Save", "Family", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.FamilyId > 0)
    {
        @Html.HiddenFor(d => d.FamilyId)
    }

    <div class="container">
        <div class="master">
            <h2>Member</h2>
            <table class="table table-responsive">
                <tr>
                    <td class="col-md-2">
                        <label class="control-label">Account Number</label>
                    </td>
                    <td>
                        <input type="text" id="AccountNumber" name="AccountNumber" class="AccountNumber form-control">
                        <span class="error">Enter Account Number</span>
                    </td>
                    <td class="col-md-2">
                        <label class="control-label">Member Name</label>
                    </td>
                    <td>
                        <input type="text" id="MemberId" name="MemberId" class="MemberId form-control">
                        <span class="error">Select Member Name</span>
                    </td>
                </tr>
            </table>
        </div>
        @if (ViewBag.message != null)
        {
            <h3>@ViewBag.message</h3>
        }
        <div class="master">
            <h2>Family Member Information</h2>
            <table class="table table-responsive">
                <tr>
                    <th>Family Member Name</th>
                    <th>Age</th>
                    <th>Relation</th>
                    <th>Educational Qualification</th>
                    <th>Occupation</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tbody class="a " id="result"></tbody>
            </table>
        </div>


        <div>
            <input type="button" value="Add" id="show" class="btn btn-primary" />

        </div>


        <div class="details" id="hiddenValue">
            <h2>Add Family Member</h2>
            <table class="table table-responsive">
                <tr>
                    <td>Family Member Name</td>
                    <td>Age</td>
                    <td>Relation</td>
                    <td>Educational Qualification</td>
                    <td>Occupation</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="mycontainer" id="mainrow">
                    <td>
                        @Html.TextBoxFor(a => a.FamilyMemberName, new { id = "FamilyMemberName", @class = "FamilyMemberName form-control" })
                        <span class="error">Valid Family MemberName required</span>
                    </td>
                    <td>
                        <input type="text" name="Age" id="Age" class="Age form-control" />
                        <span class="error">Valid Age required</span>
                    </td>
                    <td>
                        <input type="text" name="Relation" id="Relation" class="Relation form-control" />
                        <span class="error">Valid Relation required</span>
                    </td>
                    <td>
                        <input type="text" name="EducationalQualification" id="EducationalQualification" class="EducationalQualification form-control" />
                        <span class="error">Valid EducationalQualification required</span>
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.Occupation, new { @class = "form-control Occupation", id = "Occupation" })
                        <span class="error">Valid Occupation required</span>
                    </td>
                    <td>
                        <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
                    </td>
                </tr>
            </table>
            <div id="FamilyMemberAdd">
                <table class="table table-responsive" id="FamilyMemberAddItems"></table>
                <span id="FamilyMemberAdderror" style="color:red"></span>

            </div>
            <div style="padding:10px 0; text-align:right">
                <input id="submit" type="button" value="Save Family Member" class="btn btn-warning" style="padding:10px 20px" />
            </div>
        </div>

    </div>
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/MyScript.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        $("#AccountNumber").change(function () {

            var accountNumber = $("#AccountNumber").val();
            $("#result").empty();
            var json = {
                accountNumber: accountNumber
            };
            $code = "";
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllFamilyDetailByAcc", "Family")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);
                    $.each(data, function (key, value) {
                        //alert(key);
                        $("#result").append('<tr> <td>' + value.ExamName + '</td> <td>' + value.InstitutionName + '</td><td>' + value.Board_University + '</td><td>' + value.Session + '</td><td>' + value.PassingYear + '</td><td>' + value.Grade_GPA + '</td><td>' + '<a href="/Employee/EducationalQualification/Edit/' + value.EQualificationId + '">Edit</a>' + '</td><td>' + '<a href="/Employee/EducationalQualification/Delete/' + value.EQualificationId + '">Delete</a>' + '</td></tr>');

                    });
                }
            });
        });

        $("#hiddenValue").hide();
        $("#show").click(function () {
            $("#hiddenValue").show();
        });





    });
</script>

<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>







