﻿
@model TonyMultipurpose.Areas.CSS.Models.CSSModel
@{
    ViewBag.Title = "Css Pre Mature Encashment";
}


@using (Html.BeginForm("Index", "PreMatureEncashment", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.Id > 0)
    {
        @Html.HiddenFor(d => d.Id)
    }
    <div class="container panel panel-default" style="float: left">
        @*<div class="panel-heading">
            <h3>Css Pre Mature Encashment</h3>
        </div>*@ 
        <br />
        <div class="col-md-12 col-sm-10">
            <div class="col-md-9 col-sm-7">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">A/C No.</label>
                    </div>
                    <div class="col-md-6" style="height:42px !important">
                        <input type="text" id="AccountNumber" name="AccountNumber" class="form-control" onkeypress="return IsDouble(event);" placeholder="Type account no" />
                        <span class="error">Account No required</span>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Customer Id</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="CustomerId" name="CustomerId" class="form-control" readonly="readonly" />
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Customer Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="CustomerName" class="form-control" readonly="readonly" />
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Installment Number</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="InstallmentNumber" name="InstallmentNumber" class="form-control" readonly="readonly" />
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Accrued Balance (Tk)</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="AccruedBalance" name="AccruedBalance" class="form-control" readonly="readonly" />
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Current Balance (Tk)</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="Balance" name="Balance" class="form-control" readonly="readonly" />
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Interest Rate</label>
                    </div>
                    <div class="col-md-6" style="height:42px !important">
                        <input type="text" id="InterestRate" name="InterestRate" onkeypress="return IsDouble(event);" class="form-control" />
                        <span class="error">Interest rate is required</span>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Pre Mature Amount (Tk)</label>
                    </div >
                    <div class="col-md-6" style="height: 40px !important">
                        <input type="text" id="PreMatureAmount" name="PreMatureAmount" class="form-control" readonly="readonly"/>
                        <span class="error">Pre Mature Amount is required</span>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Paid From</label>
                    </div>
                    <div class="col-md-6" style="height:40px !important">
                        <select name="COAId" id="ChartOfAccount" class="form-control"></select>
                        <span class="error">Select value</span>
                    </div>

                </div>


            </div>

            <div class="col-md-3">
                <div valign="top">
                    <div class="img-responsive" style="vertical-align: top">
                        <img src="" alt="No Image" width="200px" height="200px" id="CustomerImage" />
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-right: 50px; text-align: center">
            <input id="submit" type="button" value="Withdraw" class="btn btn-success" style="padding: 10px 40px" />
        </div>

        <input type="hidden" id="hdfAccruedWithBalance" name="AccruedWithBalance" class="form-control" readonly="readonly" />
        <input type="hidden" id="hdfCompanyBenefit" name="CompanyAmount" class="form-control" readonly="readonly" />


    </div>
}

@section styles
{
    <style type="text/css">
    .table {
        border-bottom: 0px !important;
    }

        .table th, .table td {
            border: 1px !important;
        }

    .fixed-table-container {
        border: 0px !important;
    }

    .formatedTable td {
        padding-bottom: 6px;
    }

    .formatedTable input {
        padding-right: 210px;
    }

    .container {
        border: none;
    }

    span.error {
        display: block;
        visibility: hidden;
        color: red;
        /*font-weight: bold;*/
        font-size: 100%;
    }

    .form-group {
        margin-bottom: 7px;
    }
</style>
}
@section scripts
{

<script src="~/Scripts/Custom/CSS/PrematureEncashmentIndex.js"></script>
}