﻿<style>
     span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 100%;
        }
</style>
@model TonyMultipurpose.Areas.Loan.Models.BankCheckList
@{
    ViewBag.Title = "BankCheckList";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>

    @Html.HiddenFor(model => model.LoanId)
    <div class="row">
        <div class="col-md-2">
            <label>Referrence Id</label>
        </div>
        <div class="col-md-6">
            <label id="RefIdForBankCheque"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Bank Name</label>
        </div>
        <div class="col-md-6">
            <label id="BankName"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Account Number</label>
        </div>
        <div class="col-md-6">
            <label id="AccNumber"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Cheque Number</label>
        </div>
        <div class="col-md-6">
            <label id="ChequeNumber"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Description</label>
        </div>
        <div class="col-md-6">
            <label id="Description"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Image</label>
        </div>
        <div class="col-md-6">
            <img src="" alt="No Image" id="Image" class="img-responsive" style="height:80px;width:80px;" />
        </div>
    </div>


    <div class="tablecontainer table-responsive" id="refresh">
        <table id="BankCheckListTable" class="display" cellspacing="0" style="width: 100%;">
            <thead>
            <tr>
                <th>Loan Id</th>
                <th>Bank Name</th>
                <th>Account Number</th>
                <th>Cheque Number</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
            </thead>
        </table>
    </div>
</form>
<script>
    $('#UpdateBankCheckList').hide();
    $('#deleteBankCheckList').hide();
    // Load Function function
    var oBankCheckListTable;
    BankCheckListTable();
    function BankCheckListTable() {
        oBankCheckListTable = $('#BankCheckListTable').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllBankCheckListInfo", "Loan", new { Area = "Loan" })',
                "type": "get",
                "data": {
                    "LoanId": $('#LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "LoanId" },
                { "data": "BankName" },
                { "data": "AccountNumber" },
                { "data": "ChequeId" },
                { "data": "Description" },
                {
                    "data": "Path",
                    "render": function (data, type, row) {
                        return '<img src="' + data + '" height="40px" width="40px" />';
                    }
                }
            ],
            "order": [[0, "desc"]],
            searching: false,
            paging: false,
            "bInfo": false
        });
        $('#BankCheckListTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oBankCheckListTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            bindDataBankCheckList(oBankCheckListTable.row(this).data());
        });
    }
    function bindDataBankCheckList(data) {
        document.getElementById('RefIdForBankCheque').innerHTML = data.LoanId;
        document.getElementById('BankName').innerHTML = data.BankName;
        document.getElementById('ChequeNumber').innerHTML = data.ChequeId;
        document.getElementById('AccNumber').innerHTML = data.AccountNumber;
        document.getElementById('Description').innerHTML = data.Description;
        document.getElementById('Image').src = data.Path;
    }
   


</script>