﻿
@model TonyMultipurpose.Areas.Loan.Models.LoanCustomerChequeInfo
@{
    ViewBag.Title = "Loan";
    Layout = null;
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 100%;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }
</style>
<div class="row form-group">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <label id="ChequeInfo_showMessage" style="color: red; font-size: medium"></label>
            </div>
            <div class="col-md-2">
                <input type="hidden" id="hdfLoanCustomerChequeInfoId" name="LoanCustomerChequeInfoId" value="">
            </div>
        </div>

        <table cellspacing="0">
            <tr>
                <td width="150px"><label class="control-label">1. Loan Id<span class="error">*</span></label></td>
                <td width="300px">@Html.TextBoxFor(a => a.LoanId, new { @class = "form-control", id = "ChequeInfo_LoanId", @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td width="150px"><label class="control-label">2. Account Name<span class="error">*</span></label></td>
                <td width="300px"><input type="text" id="ChequeInfo_AccountName" name="AccountName" class="form-control" value="" /></td>
            </tr>
            <tr>
                <td width="150px"><label class="control-label">3. Account No<span class="error">*</span></label></td>
                <td width="300px"><input type="text" id="ChequeInfo_AccountNo" name="AccountNo" class="form-control" value="" /></td>
            </tr>
            <tr>
                <td width="150px"><label class="control-label">4. Cheque No<span class="error">*</span></label></td>
                <td width="300px"><input type="text" id="ChequeInfo_ChequeNo" name="ChequeNo" class="form-control" value="" /></td>
            </tr>
            <tr>
                <td width="150px"><label class="control-label">5. Bank Name<span class="error">*</span></label></td>
                <td width="300px"><input type="text" id="ChequeInfo_BankName" name="BankName" class="form-control" /></td>
            </tr>
            <tr>
                <td colspan="4">
                    <input id="saveChequeInfo" type="button" value="Save" class="btn btn-success" style="padding: 8px 15px;" />
                    <input id="UpdateChequeInfo" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
                    <input id="deleteChequeInfo" type="button" value="Delete" class="btn btn-success" style="padding: 8px 15px;" />
                    <input id="ChequeInfo_Clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 15px;" />
                </td>

            </tr>
        </table>
    </div>
</div>
<div style="width: 50%; min-width: 600px;">
    <div class="tablecontainer table-responsive">
        <table id="ChequeInfoTable" class="display" cellspacing="0" style="width:100%;">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Account Name</th>
                    <th>Account No</th>
                    <th>Cheque No</th>
                    <th>Bank Name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>

    $(function () {
        document.getElementById('showMessage').innerHTML = '';
    });

    $(function () {


        $('#UpdateChequeInfo').hide();
        $('#deleteChequeInfo').hide();
        var oChequeInfoTable;
        loadChequeInfoTable();
        function loadChequeInfoTable() {
            oChequeInfoTable = $('#ChequeInfoTable').DataTable({
                "ajax": {
                    "url": window.applicationBaseUrl + "Loan/CheckLoanApplication/GetAllLoanCustomerChequeInfo",
                    @*'@Url.Action("GetAllLoanCustomerChequeInfo", "CheckLoanApplication", new { Area = "Loan" })',*@
                    "type": "get",
                    "data": {
                        "LoanId": $('#ChequeInfo_LoanId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": null,
                        "width": "10px",
                        "className": "dt-center"
                    },
                    { "data": "AccountName" },
                    { "data": "AccountNo" },
                    { "data": "ChequeNo" },
                    { "data": "BankName" }
                ],
                "order": [[0, "asc"]],
                searching: false,
                paging: false,
                "bInfo": false
            });
            $('#ChequeInfoTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oChequeInfoTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindDataChequeInfo(oChequeInfoTable.row(this).data());
            });
        }

        oChequeInfoTable.on('order.dt search.dt', function () {
            oChequeInfoTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        function bindDataChequeInfo(data) {
            $('#hdfLoanCustomerChequeInfoId').val(data.LoanCustomerChequeInfoId);
            $('#ChequeInfo_AccountName').val(data.AccountName);
            $('#ChequeInfo_AccountNo').val(data.AccountNo);
            $('#ChequeInfo_ChequeNo').val(data.ChequeNo);
            $('#ChequeInfo_BankName').val(data.BankName);
            $('#saveChequeInfo').show();
            //$('#UpdateChequeInfo').show();
            $('#deleteChequeInfo').show();
        }
        // caler function
        $('#ChequeInfo_Clear').click(function () {
            chequeInfoClearAll();
        });
        function chequeInfoClearAll() {
            $('#hdfLoanCustomerChequeInfoId').val('');
            $('#ChequeInfo_AccountName').val('');
            $('#ChequeInfo_AccountNo').val('');
            $('#ChequeInfo_ChequeNo').val('');
            $('#ChequeInfo_BankName').val('');
            $('#saveChequeInfo').show();
            $('#deleteChequeInfo').hide();
            //$('#UpdateChequeInfo').hide();
            document.getElementById('showMessage').innerHTML = '';
        }

        $('#saveChequeInfo').click(function () {
            var isAllDataValid = checkValidation();

            if (isAllDataValid) {
                var data = bindData();
                $.ajax({
                    url: window.applicationBaseUrl + "Loan/CheckLoanApplication/CustomersChequeInfo",
                    @*// '@Url.Action("CustomersChequeInfo", "CheckLoanApplication", new { Area = "Loan" })',*@
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            oChequeInfoTable.ajax.reload();
                            $('#saveChequeInfo').show();
                            $('#deleteChequeInfo').hide();
                            //$('#UpdateChequeInfo').hide();
                            document.getElementById('showMessage').style.color = "green";
                            chequeInfoClearAll();
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                    }
                });
            }
        });

        function bindData() {
            var data = {
                LoanId: $('#ChequeInfo_LoanId').val(),
                LoanCustomerChequeInfoId: $('#hdfLoanCustomerChequeInfoId').val(),
                AccountName: $('#ChequeInfo_AccountName').val(),
                AccountNo: $('#ChequeInfo_AccountNo').val(),
                ChequeNo: $('#ChequeInfo_ChequeNo').val(),
                BankName: $('#ChequeInfo_BankName').val()
            }
            return data;
        }

        $('#deleteChequeInfo').click(function () {
            if (confirm("Are you sure?")) {
                var data = {
                    LoanCustomerChequeInfoId: $('#hdfLoanCustomerChequeInfoId').val()
                }
                $.ajax({
                    url: window.applicationBaseUrl + "Loan/CheckLoanApplication/DeleteLoanCustomerChequeInfo",
                    @*// '@Url.Action("DeleteLoanCustomerChequeInfo", "CheckLoanApplication", new { Area = "Loan" })',*@
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.oCommonResult.Status == true) {
                            oChequeInfoTable.ajax.reload();
                            chequeInfoClearAll();
                            $('#saveChequeInfo').show();
                            $('#ChequeInfo_Clear').show();
                            $('#deleteChequeInfo').hide();
                            $('#UpdateChequeInfo').hide();
                            document.getElementById('showMessage').style.color = "green";
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                    }
                });
            }
            return false;
        });


        function checkValidation() {
            var isValid = true;
            if ($('#ChequeInfo_LoanId').val().trim() === '') {
                isValid = false;
                $('#ChequeInfo_LoanId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#ChequeInfo_LoanId').parent().prev().find('span').css('visibility', 'hidden');
            }

            return isValid;
        }
    });

</script>





