﻿
@model TonyMultipurpose.Areas.Loan.Models.MonthlyExpense
@{
    ViewBag.Title = "Expense";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    @Html.HiddenFor(model => model.LoanId)
    <div class="row">
        <div class="col-md-2">
            <label>Referrence Id</label>
        </div>
        <div class="col-md-6">
            <label id="RefIdForExpense"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Expense Type</label>
        </div>
        <div class="col-md-6">
            <label id="ExpenseType"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Amount</label>
        </div>
        <div class="col-md-6">
            <label id="Amount"></label>
        </div>
    </div>

    <div class="tablecontainer table-responsive">
        <table id="MonthlyExpenseTable" class="display" cellspacing="0" style="width:100%;">
            <thead>
                <tr>
                    <th>Loan Id</th>
                    <th>ExpenseType</th>
                    <th>Amount</th>
                </tr>
            </thead>
        </table>
    </div>
</form>
<script>
    // Load Function function
    var oMonthlyExpenseTable;
    MonthlyExpenseTable();
    function MonthlyExpenseTable() {
        oMonthlyExpenseTable = $('#MonthlyExpenseTable').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllMonthlyExpenseInfo", "Loan", new { Area = "Loan" })',
                "type": "get",
                "data": {
                    "LoanId": $('#LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "LoanId" },
                { "data": "ExpenseType" },
                { "data": "Amount" },
            ],
            "order": [[0, "desc"]],
            searching: false,
            paging: false,
            "bInfo": false
        });
        $('#MonthlyExpenseTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oMonthlyExpenseTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            bindDataMonthlyExpense(oMonthlyExpenseTable.row(this).data());
        });
    }
    function bindDataMonthlyExpense(data) {
        document.getElementById('RefIdForExpense').innerHTML = data.LoanId;
        document.getElementById('ExpenseType').innerHTML = data.ExpenseType;
        document.getElementById('Amount').innerHTML = data.Amount;
    }
</script>