﻿@model TonyMultipurpose.Areas.Loan.Models.MonthlyIncome


@{
    ViewBag.Title = "Income";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    @Html.HiddenFor(model => model.LoanId)
    <div class="row">
        <div class="col-md-2">
            <label>Referrence Id</label>
        </div>
        <div class="col-md-6">
            <label id="RefIdForIncome"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Income Type</label>
        </div>
        <div class="col-md-6">
            <label id="IncomeType"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Amount</label>
        </div>
        <div class="col-md-6">
            <label id="Amount"></label>
        </div>
    </div>
    <div class="tablecontainer table-responsive">
        <table id="MonthlyIncomeTable" class="display" cellspacing="0" style="width:100%;">
            <thead>
                <tr>
                    <th>Loan Id</th>
                    <th>IncomeType</th>
                    <th>Amount</th>
                </tr>
            </thead>
        </table>
    </div>
</form>
<script>
    var oMonthlyIncomeTable;
    MonthlyIncomeTable();
    function MonthlyIncomeTable() {
        oMonthlyIncomeTable = $('#MonthlyIncomeTable').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllMonthlyIncomeInfo", "Loan", new { Area = "Loan" })',
                "type": "get",
                "data": {
                    "LoanId": $('#LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "LoanId" },
                { "data": "IncomeType" },
                { "data": "Amount" },
            ],
            "order": [[0, "desc"]],
            searching: false,
            paging: false,
            "bInfo": false
        });
        $('#MonthlyIncomeTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oMonthlyIncomeTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            bindDataGuarantor(oMonthlyIncomeTable.row(this).data());
        });
    }
    function bindDataGuarantor(data) {
        document.getElementById('RefIdForIncome').innerHTML = data.LoanId;
        document.getElementById('IncomeType').innerHTML = data.IncomeType;
        document.getElementById('Amount').innerHTML = data.Amount;
    }
</script>