﻿@model TonyMultipurpose.Areas.Loan.Models.AdditionalLoanDetail
@{
    ViewBag.Title = "Additional Loan Info";
    Layout = null;
}

<form id="popupForm">
    @Html.HiddenFor(model => model.LoanId)
    <div class="row">
        <div class="col-md-2">
            <label>Referrence Id</label>
        </div>
        <div class="col-md-6">
            <label id="RefIdForAdditional"></label>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Institute Name</label>
        </div>
        <div class="col-md-6">
            <label id="AdditionalInstituteName"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Loan Amount</label>
        </div>
        <div class="col-md-6">
            <label id="AdditionalLoanAmount"></label>
        </div>
    </div>
</form>
<div class="tablecontainer table-responsive">
    <table id="AdditionalTable" class="display" cellspacing="0" style="width: 100%;">
        <thead>
            <tr>
                <th>Loan Id</th>
                <th>Institute Name</th>
                <th>Loan Amount</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    (function () {
        var oAdditionalTable;
        ShowData();

        //functions
        function ShowData() {
            oAdditionalTable = $('#AdditionalTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetAdditionalLoanInfoById", "CheckLoanApplication", new {Area = "Loan" })',
                    "type": "get",
                    "data": {
                        "LoanId": $('#LoanId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "LoanId" },
                    { "data": "InstituteName" },
                    { "data": "LoanAmount" }
                ],
                searching: false,
                paging: false,
                "bInfo": false
            });

            $('#AdditionalTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oAdditionalTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindAdditionalLoanData(oAdditionalTable.row(this).data());
            });
        };

        function bindAdditionalLoanData(data) {
            document.getElementById('RefIdForAdditional').innerHTML = data.LoanId;
            document.getElementById('AdditionalInstituteName').innerHTML = data.InstituteName;
            document.getElementById('AdditionalLoanAmount').innerHTML = data.LoanAmount;
        }
    })();
</script>


