﻿@using CrystalDecisions.CrystalReports.Engine
@model TonyMultipurpose.Areas.FixedDeposit.Models.FixedDepositModel
@{
    ViewBag.Title = "Fixed Deposit Encashment";
}

@using (Html.BeginForm("Index", "MatureFD", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.Id > 0)
    {
        @Html.HiddenFor(d => d.Id)
    }

    <div class="container panel panel-default" style="float: left">
        @*<div class="panel-heading">
            <h3>Fixed Deposit Encashment</h3>
        </div>*@
        <div class="panel-body">
            <table class="table" style="width: 90%">
                <tr>
                    <td>
                        <table class="table">
                            <tr>
                                <td> <label class="control-label">A/C No.</label></td>
                                <td><input type="text" id="AccountNumber" name="AccountNumber" class="form-control" onkeypress="return IsInteger(event);" placeholder="Type account no" /></td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Customer Id</label></td>
                                <td><input type="text" id="CustomerId" name="CustomerId" class="form-control" readonly="readonly" /></td>
                                <td><span class="error">**</span></td>
                            </tr>

                            <tr>
                                <td><label class="control-label">Customer Name</label></td>
                                <td><input type="text" id="CustomerName" class="form-control" readonly="readonly" /></td>
                                <td><span class="error">**</span></td>
                            </tr>

                            <tr>
                                <td><label class="control-label">Capital</label></td>
                                <td><input type="text" id="Capital" name="Capital" class="form-control" readonly="readonly" /></td>
                                <td><span class="error">**</span></td>
                            </tr>

                            <tr>
                                <td><label class="control-label">Interest Rate</label></td>
                                <td><input type="text" id="InterestRate" class="form-control" readonly="readonly" /></td>
                                <td><span class="error">**</span></td>
                            </tr>

                            <tr>
                                <td><label class="control-label">Duration (Month)</label></td>
                                <td><input type="text" id="DurationofMonth" name="DurationofMonth" class="form-control" readonly="readonly" /></td>
                                <td><span class="error">**</span></td>
                            </tr>

                            <tr>
                                <td><label class="control-label">Transaction Date</label></td>
                                <td>
                                    <input type="text" id="TransactionDate" name="TransactionDate" class="form-control" readonly="readonly" />
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Mature Date</label></td>
                                <td>
                                    <input type="text" id="MatureDate" name="MatureDate" class="form-control" readonly="readonly" />
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Curent Balance</label></td>
                                <td><input type="text" id="MatureAmount" name="MatureAmount" class="form-control" readonly="readonly"/></td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                @*<td><label class="control-label">Total Accrued</label></td>*@
                                <td><label class="control-label">Generated Interest</label></td>
                                <td><input type="text" id="InterestAmount" name="InterestAmount" class="form-control" readonly="readonly" /></td>
                                <td><span class="error">**</span></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Paid From</label></td>
                                <td>
                                    <select name="COAId" id="ChartOfAccount" class="form-control"></select>
                                </td>
                                <td><span class="error">**</span></td>
                            </tr>


                            <tr>
                                <td></td>
                                <td><input id="submit" type="button" value="Withdraw" class="btn btn-success" style="padding: 10px 40px" /></td>
                                
                            </tr>
                        </table>
                    </td>

                    <td>
                        <div class="img-responsive" style="vertical-align: top">
                            <img src="" alt="No Image" width="200px" height="200px" id="CustomerImage" />
                        </div>
                    </td>
                </tr>
            </table>

            
        </div>
        <input style="display:none" type="text" id="hdfTransactionDate" name="hdfTransactionDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" readonly="readonly" />

    </div>

}

@section styles
{
   <style type="text/css">
    .table {
        border-bottom: 0px !important;
    }

        .table th, .table td {
            border: 1px !important;
        }

    .fixed-table-container {
        border: 0px !important;
    }

    .formatedTable td {
        padding-bottom: 6px;
    }

    .formatedTable input {
        padding-right: 210px;
    }

    .container {
        border: none;
    }

    span.error {
        display: block;
        visibility: hidden;
        color: red;
        /*font-weight: bold;*/
        font-size: 100%;
    }
</style> 
}

@section scripts
{
    <script src="~/Scripts/Custom/FixedDeposit/MatureFD.js">
       </script>
}
