﻿@model TonyMultipurpose.Areas.Setup.Models.AssignUserRole
@{
    Layout = null;
}

<div style="width: 100%">

    <div class="form-group row">
        @Html.LabelFor(a => a.BranchId, new { @class = "control-label col-sm-2" })
        <div class="col-sm-3">
            @Html.DropDownListFor(
            x => x.BranchId,
            new SelectList(Model.branchInfo, "BranchId", "BranchName"),
            "--Select Branch--", new { @class = "form-control" }
            )
            @Html.ValidationMessageFor(c => c.BranchId, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>


    <div class="form-group row">
        @Html.LabelFor(a => a.UserDetailId, new {@class = "control-label col-sm-2"})
        <div class="col-sm-3">
            @Html.DropDownListFor(
                x => x.UserDetailId,
                new SelectList(Model.userDetail, "UserDetailId", "UserName"),
                "--Select Username--", new {@class = "form-control"}
                )
            @Html.ValidationMessageFor(c => c.UserDetailId, "", new {@class = "text-danger", @style = "color:red"})
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(a => a.RoleId, new {@class = "control-label col-sm-2"})
        <div class="col-sm-3">
            @Html.DropDownListFor(
                x => x.RoleId,
                new SelectList(Model.roleInfo, "RoleId", "RoleName"),
                "--Select Role Name--", new {@class = "form-control"}
                )
            @Html.ValidationMessageFor(c => c.RoleId, "", new {@class = "text-danger", @style = "color:red"})
        </div>
    </div>
</div>
