﻿
@model TonyMultipurpose.Areas.Employee.Models.Training

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2 style="text-align:center; padding:10px">Edit Training Information</h2>

@using (Html.BeginForm("Edit", "Training", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.TrainingId > 0)
    {
        @Html.HiddenFor(d => d.TrainingId)
    }

    <div class="form-group">
        @Html.LabelFor(d => d.EmployeeId, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(d => d.EmployeeId, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.EmployeeId, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.OrganizationName, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(d => d.OrganizationName, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.OrganizationName, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.TrainingTitle, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(d => d.TrainingTitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.TrainingTitle, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.TrainingDuration, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(d => d.TrainingDuration, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.TrainingDuration, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.TrainingYear, new { @class = "control-label col-md-offset-2 col-sm-2 " })
        <div class="col-sm-3">
            @Html.TextBoxFor(d => d.TrainingYear, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.TrainingYear, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(ui => ui.IsActive, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.DropDownList("IsActive", new List<SelectListItem>()
                {
                    new SelectListItem { Text = "Active", Value = "true" },
                    new SelectListItem { Text = "Inactive", Value = "false" }
                }, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-2 ">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Save")
</div>


