﻿@model TonyMultipurpose.Areas.Employee.Models.Training
@using GridMvc.Html
@{
    ViewBag.Title = "Save";
    var employeename = ViewBag.employeeName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<style>
    #fieldset {
        border-bottom: 1px solid gray;
    }

    .EmployeeId {
        width: 120px;
    }
</style>
@using (Html.BeginForm("Save", "Training", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @*@Html.AntiForgeryToken()*@

    if (Model != null && Model.TrainingId > 0)
    {
        @Html.HiddenFor(d => d.TrainingId)
    }

    <div class="container">
        <div class="master">
            <h2>Employee</h2>
            <table class="table table-responsive">
                <tr>
                    <td class="col-md-2">
                        <label class="control-label">Employee Name</label>
                    </td>
                    <td>
                        <select name="EmployeeId" class="EmployeeId form-control " id="EmployeeId">
                            @if (employeename != null)
                            {
                                <option value="0">Select</option>
                                foreach (var name in employeename)
                                {
                                    <option value="@name.EmployeeId">@name.EmployeeName</option>
                                }
                            }
                        </select>
                        <span class="error">Select EmployeeName</span>
                    </td>
                </tr>
            </table>
        </div>
        @if (ViewBag.message != null)
        {
            <h3>@ViewBag.message</h3>
        }
        <div class="master">
            <h2>Training Information</h2>
            <table class="table table-responsive">
                <tr>
                    <th>Organization Name</th>
                    <th>Training Title</th>
                    <th>Training Duration</th>
                    <th>Training Year</th>                   
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tbody class="a " id="Training"></tbody>
            </table>
        </div>


        <div>
            <input type="button" value="Add Training" id="show" class="btn btn-primary" />

        </div>


        <div class="details" id="hiddenValue">
            <h2>Add Training</h2>
            <table class="table table-responsive">
                <tr>
                    <td>Organization Name</td>
                    <td>Training Title</td>
                    <td>Training Duration</td>
                    <td>Training Year</td>  
                    <td>&nbsp;</td>
                </tr>
                <tr class="mycontainer" id="mainrow">
                    <td>
                        @Html.TextBoxFor(a => a.OrganizationName, new { id = "OrganizationName", @class = "OrganizationName form-control" })
                        <span class="error">Valid Organization Name required</span>
                    </td>
                    <td>
                        <input type="text" name="TrainingTitle" id="TrainingTitle" class="TrainingTitle form-control" />
                        <span class="error">Valid TrainingTitle required</span>
                    </td>
                    <td>
                        <input type="text" name="TrainingDuration" id="TrainingDuration" class="TrainingDuration form-control" />
                        <span class="error">Valid Training Duration required</span>
                    </td>
                    <td>
                        <input type="text" name="TrainingYear" id="TrainingYear" class="TrainingYear form-control" />
                        <span class="error">Valid Training Year required</span>
                    </td>                    
                    <td>
                        <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
                    </td>
                </tr>
            </table>
            <div id="TrainingAdd">
                <table class="table table-responsive" id="TrainingAddItems"></table>
                <span id="TrainingAdderror" style="color:red"></span>

            </div>
            <div style="padding:10px 0; text-align:right">
                <input id="submit" type="button" value="Save Training" class="btn btn-warning" style="padding:10px 20px" />
            </div>
        </div>

    </div>
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        //$('.datepicker').datepicker({
        //    dateFormat: "yy",
        //    changeMonth: false,
        //    changeYear: true,
        //    yearRange: "-60:+0",

        //});

        $("#EmployeeId").change(function () {

            var deptId = $("#EmployeeId").val();
            $("#Training").empty();
            var json = {
                employeeId: deptId
            };
            $code = "";
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllEmployeeTrainingInfoById", "Training")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);
                    $.each(data, function (key, value) {
                        //alert(key);
                        $("#Training").append('<tr> <td>' + value.OrganizationName + '</td> <td>' + value.TrainingTitle + '</td><td>' + value.TrainingDuration + '</td><td>' + value.TrainingYear + '</td><td>' + '<a href="/Employee/Training/Edit/' + value.TrainingId + '">Edit</a>' + '</td><td>' + '<a href="/Employee/Training/Delete/' + value.TrainingId + '">Delete</a>' + '</td></tr>');

                    });
                }
            });
        });

        $("#hiddenValue").hide();
        $("#show").click(function () {
            $("#hiddenValue").show();
        });
    });




    $(document).ready(function () {
        //Add button click event
        $('#add').click(function () {
            //validation and add order items
            var isAllValid = true;

            if (!($('#OrganizationName').val().trim() != '')) {
                isAllValid = false;
                $('#OrganizationName').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#OrganizationName').siblings('span.error').css('visibility', 'hidden');
            }


            if (!($('#TrainingTitle').val().trim() != '')) {
                isAllValid = false;
                $('#TrainingTitle').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#TrainingTitle').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#TrainingDuration').val().trim() != '')) {
                isAllValid = false;
                $('#TrainingDuration').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#TrainingDuration').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#TrainingYear').val().trim() != '')) {
                isAllValid = false;
                $('#TrainingYear').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#TrainingYear').siblings('span.error').css('visibility', 'hidden');
            }
            if (isAllValid) {
                var $newRow = $('#mainrow').clone().removeAttr('id');
                //$('.EmployeeId', $newRow).val($('#EmployeeId').val());


                //Replace add button with remove button
                $('#add', $newRow).addClass('remove').val('Remove').removeClass('btn-success').addClass('btn-danger');

                //remove id attribute from new clone row
                $('#OrganizationName,#TrainingTitle,#TrainingDuration,#TrainingYear,#add', $newRow).removeAttr('id');
                $('span.error', $newRow).remove();
                //append clone row
                $('#TrainingAddItems').append($newRow);

                //clear select data
                //$('#EmployeeId').val('0');
                $('#OrganizationName,#TrainingTitle,#TrainingDuration,#TrainingYear').val('');
                $('#TrainingAdderror').empty();
            }

        })

        //remove button click event
        $('#TrainingAddItems').on('click', '.remove', function () {
            $(this).parents('tr').remove();
        });

        $('#submit').click(function () {
            var isAllValid = true;


            //validate order items
            $('#TrainingAdderror').text('');
            var list = [];
            var errorItemCount = 0;

            $('#TrainingAddItems tbody tr').each(function (Save, ele) {
                if (
                    //$('select.EmployeeId', this).val() == "0" ||
                   $('.OrganizationName', this).val() == "" ||
                    $('.TrainingTitle', this).val() == "" ||
                    $('.TrainingDuration', this).val() == "" ||
                    $('.TrainingYear', this).val() == ""
                   ) {
                    errorItemCount++;

                    $(this).addClass('error');
                } else {

                    var orderItem = {
                        EmployeeId: $("#EmployeeId").val(),
                        OrganizationName: ($('.OrganizationName', this).val()),
                        TrainingTitle: ($('.TrainingTitle', this).val()),
                        TrainingDuration: $('.TrainingDuration', this).val(),
                        TrainingYear: ($('.TrainingYear', this).val()),
                    };
                    list.push(orderItem);
                    $(this).val('Please wait...');
                    $.ajax({
                        type: 'POST',

                        url: '/Training/Save',
                        data: JSON.stringify(orderItem),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data.status) {
                                alert('Successfully saved');
                                //here we will clear the form

                                $('#TrainingAddItems').empty();
                            }
                            else {
                                alert('Error');
                            }
                            $('#submit').val('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#submit').val('Save');
                        }

                    });

                }
            })


        });
    });
    //LoadEmployeeInfo($('#EmployeeId'));

</script>

<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>