﻿@using System.Runtime.InteropServices
@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.HR.Models.AttendanceModel>
@{
    ViewBag.Title = "Attendance Entry";
    var grid = new WebGrid(source: Model, canPage: true,
    canSort: true, rowsPerPage: 1000, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
}



@using (Html.BeginForm("Attendance", "Attendance", FormMethod.Post))
{
    <div>
        <div class="row form-group">
            <div class="col-md-8">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <label id="showMessage" style="color:green;font-size:medium"></label>
                    <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="NotASavedLoan">
                </div>
            </div>
        </div>
        <div>
            <label class="control-label"><b>Date </b></label>
            <input type="text" name="AttendanceDate" id="AttendanceDate" value="@DateTime.Now.ToString("dd/MMM/yyyy")" />
            @*<label class="control-label">@DateTime.Now.ToString("dd/MMM/yyyy")</label>*@
            <label style="padding-left:594px"><b>In Time</b></label>
            <input type="text" id="InTimeInput" name="InTimeInput" style="width:80px" />
            <label style="padding-left:151px"><b>Out Time</b></label>
            <input type="text" id="OutTimeInput" name="OutTimeInput" style="width:80px" />
        </div>
        <div id="grdAttendance">
            @grid.GetHtml(
                tableStyle: "table table-bordered",
                htmlAttributes: new {id = "checkableGrid"},
                columns: grid.Columns
                    (
                        //Here I am going to add checkbox column
                        grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),

                        grid.Column(
                            format: @<text> <input type="checkbox" value="@item.AttendanceStatus" name="AttendanceStatus" id="AttendanceStatus" checked=@(item.AttendanceStatus == "1" ? true: false) />
                <input type="hidden" value="@item.EmpId" name="EmpId" readonly="readonly" id="EmpId" class="EmpId form-control" /> </text>,
                            header: "{checkall}"
                            ),
                        grid.Column(
                            format: @<text> <input type="text" value="@item.EmployeeName" name="EmployeeName" readonly="readonly" id="EmployeeName" class="EmployeeName form-control" /> </text>,
                            header: "Employee Name"
                            ),
                        grid.Column(
                            format: @<text> <input type="text" value="@item.Designation" name="Designation" readonly="readonly" id="Designation" class="Designation form-control" /> </text>,
                            header: "Designation"
                            ),
                        grid.Column(
                            format: @<text> <input type="text" value="@item.InTime" name="InTime" id="InTime" class="form-control InTime" /></text>,
                            header: "In Time"
                            ),
                        grid.Column(
                            format: @<text> <input type="text" value="@item.OutTime" name="OutTime" id="OutTime" class="form-control OutTime" /></text>,
                            header: "Out Time"
                            ),
                        grid.Column(
                            format: @<text> <input type="text" value="@item.Comments" name="Comments" id="Comments" class="form-control Comments" /> </text>,
                            header: "Comments"
                            )
            @*grid.Column(columnName: "InTime", header: "In Time", format: @<text><input type="text" id="InTime" class="InTime" name="InTime"></text>),*@




                    //grid.Column("OutTime"),
            @*grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new { EmpCode = @item.EmpId }, new { target = "_blank" })  </text>,
                header: "Detail")*@

                    )
                )
        </div>
        <div class="row" style="width:180px;margin-top:10px;">
            <div class="col-md-6">
                <input type="button" value="Save" id="submit" name="action:Attendance" class="btn btn-success" />
            </div>
        </div>
    </div>
}
@section styles
{
@*    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 100%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/HR/Attendence.js")"></script>
}







