﻿@model TonyMultipurpose.Areas.Accounts.Models.COA

@{
    ViewBag.Title = "Chart of Accounts";
}

@using (Html.BeginForm("Delete", "COA", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()


    <div class="container panel panel-default" style="float: left">
        <div class="panel-heading">
            <h3>Chart of Accounts</h3>
        </div>
        <div class="panel-body">
            @if (Model != null && Model.COAId > 0)
            {
                @Html.HiddenFor(c => c.COAId)
            }
            <div class="form-group">
                @Html.LabelFor(model => model.AccountCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.AccountCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AccountCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AccountName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">

            <a class="popup btn btn-primary" href="~/Accounts/COA/Index" style="margin-bottom:20px; margin-top:20px;">Back to List</a>
            <input type="submit" value="Delete" class="btn btn-primary" style="margin-bottom:20px; margin-top:20px;" />
        </div>

    </div>
}
