﻿@model TonyMultipurpose.Areas.Accounts.Models.COA

@{
    ViewBag.Title = "Update Chart Of Accounts";
}

@using (Html.BeginForm("Edit", "COA", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()


    <div>
        @*<div class="panel-heading">
                <h3>Chart of Accounts</h3>
            </div>*@
        <div class="panel panel-default" style="padding: 20px" id="tabs">
            <ul>
                <li>
                    <a href="#accountMaster">Account Master</a>
                </li>
                <li>
                    <a href="#bank">Bank</a>
                </li>
                <li>
                    <a href="#supplier">Supplier</a>
                </li>
                <li>
                    <a href="#client">Client</a>
                </li>
            </ul>
            <br />
            @if (Model != null && Model.COAId > 0)
            {
                @Html.HiddenFor(c => c.COAId)
            }
            <div class="form-group">
                <div class="col-md-6">
                    <label id="showErrorMessage" style="margin-left: 10px;color:red;font-size:medium"></label>
                </div>
            </div>
            <div class="panel-body customCOAStyle" id="accountMaster">
                <div class="form-group">
                    @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.GroupId, new SelectList(Model.AccountGroups, "GroupId", "GroupName"),
                "--Select Group--"
                , new { @class = "form-control", id = "GroupId" })
                    </div>
                </div>



                <div class="form-group">
                    <label class="control-label col-md-2">Category Name</label>
                    <div class="col-md-4">
                        <select name="CategoryName" id="CategoryName" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AccountCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.AccountCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AccountCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AccountName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Balance Sheet Name</label>
                    <div class="col-md-4">
                        <select name="BalanceSheetId" id="BalanceSheetId" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        @Html.CheckBoxFor(model => model.IsTransactional, htmlAttributes: new { @class = "control-checkbox", id = "IsTransactional" })
                        @Html.LabelFor(model => model.IsTransactional, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        @Html.CheckBoxFor(model => model.IsSubCode, htmlAttributes: new { @class = "control-checkbox", id = "IsSubCode" })
                        @Html.LabelFor(model => model.IsSubCode, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>

                <div class="form-group" id="dvsubcode" style="display:none;">
                    <label class="control-label col-md-2">SubCode</label>
                    <div class="col-md-4">
                        <select name="SubCodeId" id="SubCodeId" class="form-control"></select>
                    </div>
                    @*@Html.LabelFor(model => model.SubCodeId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(x => x.SubCodeId, new SelectList(Model.COACategoryInfo, "Id", "CategoryName"),
                        "--Select Sub Code Name--"
                        , new { @class = "form-control" })
                            </div>*@
                </div>

                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        @*<input type="checkbox" name="IsActive" checked>*@
                        @Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new {@class = "control-checkbox"})
                        @Html.Label("Is Active", htmlAttributes: new {@class = "control-label"})
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        @Html.CheckBoxFor(model => model.IsBankAccount, htmlAttributes: new { @class = "control-checkbox", id = "IsBankAccount" })
                        @Html.LabelFor(model => model.IsBankAccount, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Opening Balance", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6 row">
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Debit, new { htmlAttributes = new { @class = "form-control", placeholder = "Debit Balance" } })
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Credit, new { htmlAttributes = new { @class = "form-control", placeholder = "Credit Balance" } })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Opening Balance Date</label>
                    <div class="col-md-2">
                        <input type="text" name="OpeningBalanceDate" id="OpeningBalanceDate" class="form-control" value="@Model.OpeningBalanceDate.ToString("dd-MMM-yyyy")" />
                    </div>
                </div>

            </div>
            <div class="panel-body customCOAStyle" id="bank">
                <div class="form-group">
                    @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BankAccountNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.BankAccountNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BankAccountNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel-body customCOAStyle" id="supplier">
                <div class="form-group">
                    @Html.LabelFor(model => model.SupplierName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SupplierCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SupplierCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SupplierCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SupplierCompany, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SupplierCompany, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SupplierCompany, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel-body customCOAStyle" id="client">
                <div class="form-group">
                    @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ClientCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ClientCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ClientCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ClientCompany, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ClientCompany, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ClientCompany, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.CPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPhone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <a class="btn btn-link" href="@Url.Action("Index", "COA",new { Area = "Accounts" })"><i class="glyphicon glyphicon-arrow-left"></i> Back to List</a>
            <button type="submit" value="Update" class="btn btn-yahoo" style="margin-bottom:20px; margin-top:20px;" id="btn_submit">
                <i class="glyphicon glyphicon-floppy-saved"></i> Update
            </button>
        </div>

    </div>



}
@section styles
{
    <style id="customCOAStyle">
        .customCOAStyle {
            padding-top: 10px;
            border: 1px solid #666;
            border-radius: 8px;
            box-shadow: 0 0 10px #666;
            background: #fff;
            height: auto;
            min-height: 200px;
        }
    </style>
}

@section scripts
{
    <script>
        var COACategoryId = @Html.Raw(Json.Encode(Model.COACategoryId));
        var SubCodeId =  @Html.Raw(Json.Encode(Model.SubCodeId));
        var BalanceSheetId =@Html.Raw(Json.Encode(Model.BalanceSheetId));
    </script>

    <script src="~/Scripts/Custom/Accounts/CoaEdit.js"></script>

}


