﻿@model IEnumerable<TonyMultipurpose.Areas.Accounts.ViewModels.ChartofAccountsViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Chart Of Accounts";
    WebGrid grid = new WebGrid(source: Model.OrderBy(o=>o.masterAccount.AccountCode), canSort: false, canPage: true,rowsPerPage: 50);
    
}

@section styles
{
    
    <style>
        /*Here I will write some css for looks good*/

        th, td {
            padding: 5px;
        }

        th {
            background-color: rgb(248, 248, 248);
        }

        #gridT, #gridT tr {
            border: 1px solid #0D857B;
        }

        #subT, #subT tr {
            border: 1px solid #f3f3f3;
        }

        #subT {
            margin: 0px 0px 0px 2px;
            padding: 2px;
            width: 100%;
        }

        #subT th {
            font-size: 12px;
        }

        .hoverEff {
            cursor: pointer;
        }

        .hoverEff:hover {
            background-color: rgb(248, 242, 242);
        }

        .expand {
            background-image: url('../../../../Content/themes/base/images/pm.png');
            background-position-x: -22px;
            background-repeat: no-repeat;
        }

        .collapse {
            background-image: url('../../../../Content/themes/base/images/pm.png');
            background-position-x: -2px;
            background-repeat: no-repeat;
        }
    </style>
}

<div id="main" style="padding:25px; background-color:white;" >
    <a class="popup btn btn-primary" href="~/Accounts/COA/Save" style="margin-bottom:20px; margin-top:20px;">Add New Chart Of Accounts </a>
    @grid.GetHtml(
        tableStyle: "table table-bordered table-condensed",
        htmlAttributes: new { id = "gridT", width = "100%" },
        columns: grid.Columns(
            grid.Column("masterAccount.AccountCode", "Account Code"),
            grid.Column("masterAccount.AccountName", "Account Name"),
            grid.Column("masterAccount.Description", "Description"),
            grid.Column("masterAccount.GroupName", "Group Name"),
            grid.Column("masterAccount.CategoryName", "Category Name"),
            grid.Column("masterAccount.BalanceSheetName", "Balance Sheet Name"),
            grid.Column("masterAccount.SupplierName", "Supplier Name"),
            grid.Column("masterAccount.ClientName", "Client Name"),
            grid.Column("masterAccount.BankName", "Bank Name"),
                        @*grid.Column(format: @<text><input type='button' value='Edit' onclick="window.location.href='@Url.Action("Edit","COA", new { id ="@item.AccountCode" })'" /></text>),*@
            grid.Column(format: @<text>@Html.ActionLink("Edit", "Edit", new { id = @item.masterAccount.COAId }) </text>,
                header: "Edit"),

            grid.Column(format: (a) =>
            {
                WebGrid subGrid = new WebGrid(source: a.subAccounts);
                return subGrid.GetHtml(
                    htmlAttributes: new { id = "subT" },
                    columns: subGrid.Columns(
                        subGrid.Column("AccountCode", "Account Code"),
                        subGrid.Column("AccountName", "Account Name"),
                        subGrid.Column("Description", "Description"),
                        subGrid.Column("GroupName", "Group Name"),
                        subGrid.Column("CategoryName", "Category Name"),
                        subGrid.Column("SupplierName", "Supplier Name"),
                        subGrid.Column("ClientName", "Client Name"),
                        subGrid.Column("BankName", "Bank Name"),
                        subGrid.Column(format: @<text>@Html.ActionLink("Edit", "Edit", new { id = @item.COAId }) </text>)
                        )
                    );
            })
            )
        )
</div>

@section scripts
{
    
<script src="~/Scripts/Custom/Accounts/CoaIndex.js"></script>

}
