﻿@model TonyMultipurpose.Areas.HR.Models.LeaveInformation
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;

}
@using (Html.BeginForm("", "", FormMethod.Post))
{


    <div class="container panel panel-default" style="float: left">
        <div class="panel-heading"><h2>Leave Aprove Information</h2></div>
        <div class="panel-body ">
            <table style="width:500px">
                <tr>
                    <td>
                        <label class="control-label">Employee Code</label>
                    </td>
                    <td>
                        <input type="text" id="EmpCode" name="EmpCode" class="form-control" value="@Model.EmpCode" readonly="readonly" />
                        <span class="error">space </span>
                    </td>

                </tr>

                <tr>
                    <td>
                        <label class="text-info">Employee Name</label>
                    </td>
                    <td>
                        <input type="text" id="EmployeeName" name="EmployeeName" class="form-control" value="@Model.EmployeeName" readonly="readonly" />
                        <span class="error">space </span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="text-info">Leave Type</label>
                    </td>
                    <td>
                        <input type="text" id="LTypeId" name="LTypeId" class="form-control" value="@Model.LeaveTypeName" readonly="readonly" />
                        <span class="error">space </span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="text-info">Description</label>
                    </td>
                    <td>
                        <input type="text" id="Description" name="Description" class="form-control" value="@Model.Description" readonly="readonly" />
                        <span class="error">space </span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="text-info">From Date</label>
                    </td>
                    <td>
                        <input type="text" id="FromDate" name="FromDate" class="form-control" value="@Model.FromDate.ToString("dd/MMM/yyyy")" />
                        <span class="error">space </span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="text-info">To Date</label>
                    </td>
                    <td>
                        <input type="text" id="ToDate" name="ToDate" class="form-control" value="@Model.ToDate.ToString("dd/MMM/yyyy")" />
                        <span class="error">space </span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="text-info">Total Leave Count</label>
                    </td>
                    <td>
                        <input type="text" id="LeaveDays" name="LeaveDays" class="form-control" value="@Model.LeaveDays" readonly="readonly" />
                        <span class="error">space </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row col-md-offset-2">
            <div class="col-md-6">
                <input type="submit" value="Approve" id="Approve" name="action:LeaveApproval" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }


    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 1px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }

    #hideid {
        display: none;
    }
</style>
<script>

    $('#ToDate').change(function () {
        $('#LeaveDays').empty();
        var fromDate = $('#FromDate').val();
        var toDate = $('#ToDate').val();
        var data = { fromDate: fromDate, toDate: toDate };
        $.ajax({
            url: '@Url.Action("GetHolidayInformation", "Leave", new { Area = "HR" })',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#LeaveDays').val(data + '  Days');
            },
            error: function () {
            }
        });

    });
    $('#FromDate').datepicker({
        dateFormat: 'dd/M/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+60",
        type: Text
    }).click(function () { $(this).focus(); });

    $('#ToDate').datepicker({
        dateFormat: 'dd/M/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+60",
        type: Text
    }).click(function () { $(this).focus(); });

</script>