﻿@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.HR.Models.LeaveInformation>
@{
    ViewBag.Title = "Leave Approval";
    var grid = new WebGrid(source: Model, canPage: true,
canSort: true, rowsPerPage: 1000, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
}


@using (Html.BeginForm("LeaveApproval", "Leave", FormMethod.Post))
{
    <div class="container">
        <br />

        <div class="row form-group">
            @grid.GetHtml(
             tableStyle: "gridtable",
             htmlAttributes: new { id = "checkableGrid" },
             columns: grid.Columns
                 (
                     //Here I am going to add checkbox column
                     grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                     grid.Column(
                         format: @<text> <input type="checkbox" value="@item.EmpCode" name="Id" /> </text>,
                         header: "{checkall}"
                         ),
                     grid.Column("EmpCode", "Employee Code"),

                     grid.Column("EmployeeName", "Employee Name"),
                     grid.Column("LeaveTypeName", "Leave Type"),
                     grid.Column("Description", "Description"),
                     grid.Column("FromDate", "From Date", format:
         (item) => string.Format("{0:dd/MMM/yyyy}", item.FromDate)),
                     grid.Column("ToDate", "To Date", format:
         (item) => string.Format("{0:dd/MMM/yyyy}", item.ToDate)),
                     grid.Column("LeaveDays", "Leave Days"),
                     grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new { EmpCode = @item.EmpCode }, new { target = "_blank" })  </text>,
                         header: "Detail")
                 )
             )
        </div>
        <div class="row" style="width:180px;margin-top:10px;">
            <div class="col-md-6">
                <input type="submit" value="Approve" id="Approve" name="action:LeaveApproval" class="btn btn-success" />
            </div>
        </div>
    </div>
}
@section styles
{
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 100%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>
}
@section scripts
{
    
    <script src="~/Scripts/Custom/HR/LeaveApproval.js"></script>
}

