﻿@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.HR.Models.LeaveInformation>
@{
    ViewBag.Title = "Leave Entry";
}


   


@using (Html.BeginForm("LeaveApproval", "Leave", FormMethod.Post))
{
    <div class="container">
        <div class="row form-group" id="popUpBtn">
            <div class="col-md-8">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <label id="showMessage" style="color:red;font-size:medium"></label>
                    <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="NotASavedLoan">
                </div>
            </div>
        </div>
        <div class="row form-group">

            <fieldset style="padding-top:10px; border:1px solid #666; border-radius:8px; box-shadow:0 0 10px #666; background:#fff; height:400px">

                <div class="col-md-12">
                    <h4>Leave Entry</h4>

                    <table cellspacing="10" cellpadding="10" class="table table-bordered" width="100%">
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Employee Code</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="EmpCode" name="EmpCode" class="form-control" placeholder="Type Employee Code"/>
                            </td>
                            <td width="200px" class="text-info">
                                <label class="text-info">Employee Name</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="EmployeeName" name="EmployeeName" class="form-control" readonly="readonly"/>
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Leave Type</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px"><select name="LTypeId" id="LTypeId" class="form-control"></select></td>
                            <td width="200px" class="text-info"><label class="text-info">Description</label></td>
                            <td width="200px"><input type="text" id="Description" name="Description" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">From Date</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px"><input type="text" id="FromDate" name="FromDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" /></td>
                            <td width="200px" class="text-info">
                                <label class="text-info">To Date</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px"><input type="text" id="ToDate" name="ToDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" /></td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info"><label class="text-info">Total Leave Count</label></td>
                            <td width="200px"><label id="TotalLeaveCount" class="text-info"></label></td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
                                <input id="clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                                <input id="UpdateLeave" type="button" value="Update" class="btn btn-success" style="padding: 8px 15px;" />
                            </td>

                        </tr>
                    </table>


                </div>

            </fieldset>
        </div>

        <br />

    </div>
}
<div class="tablecontainer table-responsive">
        <table id="LeaveTable" class="display" cellspacing="0" style="width:100%;">
            <thead>
                <tr>
                    <th>Employee Code</th>
                    <th>Employee Name</th>
                    <th>Leave Type</th>
                    <th>Description</th>
                    <th>From Date </th>
                    <th>To Date</th>
                    <th>Leave Days</th>

                </tr>
            </thead>
        </table>
    </div>
@section styles
{
    <style type="text/css">
    
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 100%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom/HR/LeaveEntry.js"></script>
}






