﻿
@using GridMvc.Html
@using TonyMultipurpose.Infrastructure.Common
@using TonyMultipurpose.Infrastructure.Helpers

@model IEnumerable<TonyMultipurpose.Models.AssignUserRole>

@{
    ViewBag.Title = "Assign User Role";
    WebGrid grid = new WebGrid(Model, canPage: true,
       canSort: true, rowsPerPage: 10, ajaxUpdateContainerId: "grdUserRole");
}


@using (Html.BeginForm("Index", "AssignUserRole", FormMethod.Get, new { @class = "form-inline" }))
{

    <div class="form-group">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Save", "AssignUserRole")"> Add New Assign User Role </a>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" id="search" name="search" class="form-control input-sm search-box" placeholder="Enter Search Keywords" />
            <div class="input-group-btn">
                <button class="btn btn-default btn-sm" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>
}

<div class="table-responsive">
    @grid.Table(
    tableStyle: "table table-bordered table-striped table-condensed",
        htmlAttributes: new { id = "grdUserRole" },
        columns: grid.Columns
        (
            grid.Column("SL", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("Username", "User Name"),
            grid.Column("RoleName", "Role"),
            grid.Column("BranchName", "Branch Name"),
            grid.Column("UserStatus", "Status"),           
            grid.Column(style: "grid-action-column", format: @<text>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.UrmId }, new { target = "_blank" })</li>
                    </ul>
                </div>
            </text>,
                header: "Action")
        ))


    @grid.PagerList(WebGridPagerModes.All, paginationStyle: "pagination", numericLinksCount: 10)

</div>

@*<div class="code-cut">
    <a class="popup btn btn-primary" href="~/AssignUserRole/Save/0" style="margin-bottom: 20px; margin-top: 20px;">Add New Assign User Role</a>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(a => a.Username).Titled("User Name").Sortable(true).Filterable(true);
    columns.Add(a => a.RoleName).Titled("Role").Sortable(true).Filterable(true);
    columns.Add(a => a.BranchName).Titled("Branch Name").Sortable(true).Filterable(true);
    columns.Add(a => a.UserStatus).Titled("Status").Sortable(true).Filterable(true);

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.UrmId, @class = "btn btn-primary" })).Titled("<span>Edit</span>");

}).WithPaging(10).Sortable(true)

</div>*@
@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/Common/AssignUserRoleList.js")"></script>
}
@section styles
{
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
}

