﻿@model TonyMultipurpose.Models.AssignUserRole
@{
    ViewBag.Title = "Add Assign User Role";
}


@*<h3>Assign User Role.</h3>
<h4>Here you can assign a specific role to an user.</h4>
<hr />*@

@using (Html.BeginForm("Save", "AssignUserRole", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.UrmId > 0)
    {
        @Html.HiddenFor(b => b.UrmId)
    }

    @Html.Action("GetAllDropdownInfo", "AssignUserRole")

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}
