﻿
@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.Loan.ViewModels.SettlementViewModel>
@{

    ViewBag.Title = "Settlement Approval";
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 500, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
}


@section Styles{
    <style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>
    }
<h2>Settlement Approval</h2>
<hr />
<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>

@using (Html.BeginForm("ApprovalIndex", "Settlement", FormMethod.Post))
{
    <div class="table-responsive">
        @grid.GetHtml(
            tableStyle: "table gridtable",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                    //Here I am going to add checkbox column
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@item.SettlementId" name="SettlementId" /> </text>,
                        header: "{checkall}"
                        ),
                    grid.Column("LoanNo", "Loan No"),
                    grid.Column("SettlementTypeName", "Settlement Type"),
                    grid.Column("SettlementDate", "Settlement Date"),
                     grid.Column("CurrentInterest", "CurrentInterest"),
                      grid.Column("CurrentInstallmentAmount", "CurrentInstallmentAmount"),
                       grid.Column("UpdatedInterest", "UpdatedInterest"),
                        grid.Column("UpdatedInstallmentAmount", "UpdatedInstallmentAmount"),
                    grid.Column("Reason", "Settlement Reason"),
                    grid.Column("CustomerName", "Customer Name"),
                    grid.Column("Photo", format: @<text><img src="@item.CustomerImage" height="40px" width="40px" /></text>),
                    grid.Column(
                        format: @<text> <input type="text" name="@item.SettlementId" /> </text>,
                        header: "Reject Reason"
                        ),
                    grid.Column("CreatedName", "Created By")
                    @*grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new { id = @item.SettlementId }, new { target = "_blank" })  </text>,
                        header: "Detail")*@
                )
            )


        <div class="row" style="width:180px;margin-top:10px;">
            <div class="col-md-6">
                <input type="submit" value="Approve" name="action:Approve" class="btn btn-success" />
            </div>
            <div class="col-md-6">
                <input type="submit" value="Reject" name="action:Reject" class="btn btn-danger" />
            </div>
        </div>
    </div>


}
@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/Loan/Settlement/ApprovalIndex.js")"></script>
}
