﻿@using System.Data
@model TonyMultipurpose.Areas.Loan.Models.SettlementModel

@{
    ViewBag.Title = "Edit";
    Layout = null;

}

@* DataTable - CSS *@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />

@* DataTable - JS *@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>



<h2>Edit Settlement Info</h2>
<hr />

@using (Html.BeginForm("Edit", "Settlement", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.SettlementId > 0)
    {
        @Html.HiddenFor(s => s.SettlementId)
    }

    <div>
        <label class="control-label"> Settlement Type</label>
        @Html.DropDownListFor(s=>s.SettlementTypeId, new List<SelectListItem>()
            {
                new SelectListItem {Text = "-Select Settlement Type-", Value = " "},
                new SelectListItem {Text = "Death", Value = "1"},
                new SelectListItem {Text = "Pay at a time", Value = "2"},
                new SelectListItem {Text = "Hide in  abroad", Value = "3"}

            }, new { @class = "form-control", id = "SettlementTypeId", style = "width: 250px" })
        @Html.ValidationMessageFor(s => s.SettlementTypeId, "", new { @class = "text-danger", @style = "color:red" })
       
    </div>
        <br />
        <div>
            <label class="control-label"> Loan Id</label>
            @Html.TextBoxFor(s => s.LoanId, new { @class = "form-control", style = "width: 250px" })
            @Html.ValidationMessageFor(s => s.LoanId, "", new { @class = "text-danger", @style = "color:red" })
        </div>
        <br />
        <div>
            <label class="control-label"> Settlement Date</label>
            @Html.TextBoxFor(s => s.SettlementDateShow, new { @class = "form-control", style = "width: 250px" })
        </div>
        <div>
            <label class="control-label"> Settlement Reason</label>
            @Html.TextAreaFor(s => s.Reason, new { @class = "form-control", style = "width: 250px" })
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">Update</button>
         
        </div>
        
}
<script src="@Url.Content("~/Scripts/Custom/Loan/Settlement/EditSettelment.js")"></script>