﻿@using TonyMultipurpose.Areas.Loan.Models;
@model IEnumerable<LoanModel>

@{
    ViewBag.Title = "Settlement";

}

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<style>
    span.error {
        /*display: block inline;*/
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    div.row {
        margin-bottom: 5px;
    }
</style>
    }






<div class="container">
    <div class="row form-group" id="popUpBtn">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color:red;font-size:medium"></label>
                <input type="hidden" id="hdfSettlementId" name="SettlementId" value="NotASavedLoan">
                <input type="hidden" id="hdfInstallmentTypeId" name="hdfInstallmentTypeId">
                <input type="hidden" id="hdfInstallmentNo" name="hdfInstallmentNo">
                <input type="hidden" id="hdfAccountType" name="hdfAccType">
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Settlement Type<span class="error">*</span></label>
                </div>
                <div class="col-md-4">
                    <select name="SettlementTypeId" id="SettlementType" class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Settlement Date<span class="error">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="SettlementDate" name="SettlementDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Loan No<span class="error">*</span> </label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="LoanNo" name="LoanNo" class="form-control" placeholder="Type Loan No"/>
                </div>              
                <div class="col-md-2">
                    <label class="control-label">Reason<span class="error">*</span> </label>
                </div>
                <div class="col-md-4">
                    <textarea type="text" id="Reason" name="Reason" class="form-control" placeholder="Type settlement reason here.."></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Current Interest<span class="error">*</span> </label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="CurrentInterest" name="CurrentInterest" class="form-control" readonly="readonly" />
                </div>
                <div class="col-md-2">
                    <label class="control-label">Current Installment Amount<span class="error">*</span> </label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="CurrentInstallmentAmount" name="CurrentInstallmentAmount" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Updated Interest<span class="error">*</span> </label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="UpdatedInterest" name="UpdatedInterest" class="form-control" value="" />
                </div>
                <div class="col-md-2">
                    <label class="control-label">Updated Installment Amount<span class="error">*</span> </label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="UpdatedInstallmentAmount" name="UpdatedInstallmentAmount" class="form-control" readonly="readonly" />
                </div>
            </div>

        </div>

        <div class="col-md-4" id="CustomerInfo" style="display:none;">
            <div class="col-md-12">
                <img src="" alt="No Image" id="customerImage" class="img-responsive" style="height:150px;width:150px;" />
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Customer Name:</label>
                </div>
                <div class="col-md-8">
                    <label id="CustomerName" class="CustInfo"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Father's Name:</label>
                </div>
                <div class="col-md-8">
                    <label id="FatherName" class="CustInfo"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Loan Type:</label>
                </div>
                <div class="col-md-8">
                    <label id="lblLoanType" class="CustInfo"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Loan Amount:</label>
                </div>
                <div class="col-md-8">
                    <label id="LoanAmount" class="CustInfo"></label>
                </div>
            </div>
          
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Mobile:</label>
                </div>
                <div class="col-md-8">
                    <label id="Mobile" class="CustInfo"></label>
                </div>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2" id="btnSave" >
            <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
        </div>
        <div class="col-md-2" id="btnUpdate" style="display: none;">
            <input id="update" type="button" value="Update" class="btn btn-success" style="padding: 8px 24px;"/>
        </div>
        <div class="col-md-2" id="btnDelete" style="display: none;" >
            <input id="delete" type="button" value="Delete" class="btn btn-danger" style="padding: 8px 24px;" />
        </div>
        <div class="col-md-2">
            <input id="clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
        </div>
    </div>
</div>

<div class="tablecontainer table-responsive">
  
    <table id="SettlementTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                
                <th>Loan No</th>
                <th>Settlement Type Name</th>
                <th>Settlement Date</th>
                <th>Current Interest</th>
                <th>Current Installment Amount</th>
                <th>Updated Interest</th>
                <th>Updated Installment Amount</th>
                <th>Reason</th>
                <th>User Name</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Scripts/Custom/Loan/Settlement/SattlementList.js")"></script>
}




