﻿@using System.Data
@model TonyMultipurpose.Areas.Loan.Models.SettlementModel

@{
    ViewBag.Title = "Save";
    Layout = null;

}

@* DataTable - CSS *@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
@*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />*@

@* DataTable - JS *@
@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@


<h2>Add Settlement Info</h2>
<hr/>

@using (Html.BeginForm("Save", "Settlement", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.SettlementId > 0)
    {
        @Html.HiddenFor(s => s.SettlementId)
    }

        <div>
            <label class="control-label"> Settlement Type</label>
            @Html.DropDownListFor(s=>s.SettlementTypeId, new List<SelectListItem>()
            {
                new SelectListItem {Text = "-Select Settlement Type-", Value = " "},
                new SelectListItem {Text = "Death", Value = "1"},
                new SelectListItem {Text = "Pay at a time", Value = "2"},
                new SelectListItem {Text = "Hide in  abroad", Value = "3"}

            }, new {@class = "form-control", id = "SettlementTypeId", style = "width: 250px"})
            @Html.ValidationMessageFor(s => s.SettlementTypeId, "", new { @class = "text-danger", @style = "color:red" })
       
        </div>
        <br/>
        <div>
            <label class="control-label"> Loan Id</label>
            @Html.TextBoxFor(s => s.LoanId, new {@class = "form-control", style = "width: 250px" })
            @Html.ValidationMessageFor(s => s.LoanId, "", new { @class = "text-danger", @style = "color:red" })
        </div>
        <br/>
        <div>
            <label class="control-label"> Settlement Date</label>
            @Html.TextBoxFor(s => s.SettlementDate, new { @class = "form-control", style = "width: 250px" })
        </div>
        <div>
            <label class="control-label"> Settlement Reason</label>
            @Html.TextAreaFor(s => s.Reason, new {@class = "form-control", style = "width: 250px"})
        </div>
        <br/>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
        @*<button type="submit" id="test" class="btn btn-danger">Reload</button>*@
    </div>
  

        //DataTable area
        @*<div id="myDiv">
           <div style="width:90%; margin:0 auto" class="tablecontainer table-responsive">
                
                <table id="saveDatatable" class="table table-striped table-bordered table-hover table-condensed" style="width: 98%">
                    <thead>
                        <tr>
                            <th>SettlementId</th>
                            <th>Loan Id</th>
                            <th>Settlement Type Name</th>
                            <th>Settlement Date</th>
                            <th>Reason</th>
                            <th>Action</th>
                          
                        </tr>
                    </thead>
                </table>
            </div>

            <script>
                $(document).ready(function() {
                    var oTable = $('#saveDatatable').DataTable({
                        "ajax": {
                            "url": '@Url.Action("GetUnApprovedSattlementInfo", "Settlement", new {Area = "Loan"})',
                            "type": "get",
                            "datatype": "json"
                        },

                        "columns": [
                            { "data": "SettlementId" },
                            { "data": "LoanId" },
                            { "data": "SettlementTypeName" },

                            //{ "data": "SettlementDate" },
                            {
                                "data": "SettlementDate",
                                "render": function(data) {
                                    var date = new Date(data.SettlementDate);
                                    var month = date.getMonth() + 1;
                                    return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                                }
                            },
                            { "data": "Reason" },
                            //{
                            //    "data": "SettlementId",
                            //    "width": "50px",
                            //    "render": function(data) {
                            //        return '<a class="popup" href="~/Loan/Settlement/Edit/' + data + '">Edit</a>';
                            //    }
                            //}

                            {
                                "data": "SettlementId",
                                "width": "50px",
                                "render": function (data) {
                                    return '<a  id = "popupForm" href="Save/' + data + '">Edit</a>';
                                }
                               
                            }
                        ]
                    });

                });


            </script>


        </div>*@

}

<script src="@Url.Content("~/Scripts/Custom/Loan/Settlement/SaveSettelment.js")"></script>