﻿@using TonyMultipurpose.Infrastructure.Helpers
@model IEnumerable<TonyMultipurpose.Areas.Setup.Models.NoticeInfo>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-9">
        Left content
    </div>
    <div class="col-sm-3">     
        @using (Html.DefaultPanel("Notices", "panel-primary notice-box"))
        {
            <marquee behavior="scroll" direction="up" scrollamount="2" style="min-height: 200px;" onmouseover="this.stop();" onmouseout="this.start();">
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <p>
                            <a href="@Url.Action("Details", "NoticeInfo", new {Area = "Setup", id = item.Id})" target="_blank">
                                @Html.DisplayFor(m => item.NoticeTitle) 
                            </a>
                        </p>
                            
                    }
                }
                else
                {
                    <p>
                        Currently No Notice Available!!!
                    </p>
                }

            </marquee>
        }
    </div>
</div>