﻿
@{
    ViewBag.Title = "Monthly Benefit Premature Encashment";
}
@section Styles{
    <style type="text/css">
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 0px;
    }

    span.error {
        display: none;
        color: red;
        font-size: 100%;
    }
</style>
    }

<div>
    <table class="table" style="width: 90%">
        <tr>
            <td>
                <table class="table">
                    <tr>
                        <td> <label class="control-label">Transaction Date</label></td>
                        <td>
                            <input type="text" id="TransactionDate" name="TransactionDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" />
                            <span class="error">Transaction Date is required.</span>
                        </td>
                    </tr>
                    <tr>
                        <td> <label class="control-label">A/C No.</label></td>
                        <td>
                            <input type="text" id="AccountNumber" name="AccountNumber" class="form-control" />
                            <span class="error">A/C No. is required.</span>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="control-label">Customer Name</label></td>
                        <td><input type="text" id="CustomerName" name="CustomerName" class="form-control" readonly="readonly" /></td>
                    </tr>

                    <tr>
                        <td><label class="control-label">Deposite Amount</label></td>
                        <td><input type="text" id="DepositAmount" name="DepositAmount" class="form-control" readonly="readonly"/></td>
                    </tr>

                    <tr>
                        <td><label class="control-label">Benefit Amount</label></td>
                        <td><input type="text" id="MBAmount" name="MBAmount" class="form-control" readonly="readonly" /></td>
                    </tr>

                    <tr>
                        <td><label class="control-label">Duration</label></td>
                        <td><input type="text" id="DurationYear" name="DurationYear" class="form-control" readonly="readonly" /></td>
                    </tr>

                    <tr id="SRate">
                        <td><label class="control-label">Interest Rate</label></td>
                        <td><input type="text" id="SavingsInterestRate" name="SavingsInterestRate" class="form-control" onkeypress="return IsDouble(event);" /></td>
                    </tr>

                    <tr id="Due">
                        <td><label class="control-label">Withdrawal Amount</label></td>
                        <td><input type="text" id="DueAmount" name="DueAmount" class="form-control" readonly="readonly"/></td>
                    </tr>

                    <tr>
                        <td><label class="control-label">Total Amount</label></td>
                        <td><input type="text" id="TotalAmount" name="TotalAmount" class="form-control" readonly="readonly"/></td>
                    </tr>

                    <tr>
                        <td><label class="control-label">Paid from</label></td>
                        <td>
                            <select name="COAId" id="ChartOfAccount" class="form-control"></select>
                            <span class="error">Select Value</span>
                        </td>
                    </tr>
                       
                    <tr>
                        <td></td>
                        <td><input id="submit" type="button" value="Withdraw" class="btn btn-primary" style="padding: 10px 40px" /></td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <div class="img-responsive" style="vertical-align:top">
                    <img src="" alt="No Image" width="200px" height="200px" id="CustomerImage" />
                </div>
            </td>
        </tr>
    </table>
    <input type="hidden" id="hdfReturnAmount" />
    @*<input type="hidden" id="hdfInstallmentYear" />*@
    <input type="hidden" id="hdfCustomerId" />
    @*<input type="hidden" id="hdfInterestRate" />
    <input type="hidden" id="hdfDuration" />*@
    <input type="hidden" id="hdfMatureDate" />
    <input type="hidden" id="hdfOpeningDate" />
</div>


@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/MonthlyBenefit/PrematureEncashment.js")"></script>
}
