﻿@using TonyMultipurpose.Infrastructure.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        TMC Limited @if (!string.IsNullOrEmpty(ViewBag.Title))
        {<text>| @ViewBag.Title</text>}
    </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/adminstyle")
    @RenderSection("styles", false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    @Scripts.Render("~/bundles/jquery")
    <script>
        var applicationBaseUrl = "@Url.Content("~/")";
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        @Html.Partial("_AdminHeader")
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        @Html.Partial("_AdminLeftSideBar")
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @using (Html.DefaultPanel(string.IsNullOrEmpty(ViewBag.Title) ? "TMC Limited" : (string)ViewBag.Title))
                {
                    @RenderBody()
                }

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_AdminFooter")
    </div>
    <!-- ./wrapper -->
    @Html.Partial("_PleaseWait")
    @Html.Partial("_AdminScript")
    @RenderSection("scripts", false)
</body>
</html>
