﻿@using CrystalDecisions.CrystalReports.Engine
@using TonyMultipurpose.DAL
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="@Url.Content("~/AdminLTE/img/logo-50.jpg")" class="img img-responsive" /></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="@Url.Content("~/AdminLTE/img/logo-50.jpg")" class="img pull-left" /> <b>TMC</b> Limited</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@Url.Content("~/AdminLTE/img/user2-160x160.jpg")" class="user-image" alt="User Image">
                        <span class="hidden-xs">@SessionUtility.TMSessionContainer.UserName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="@Url.Content("~/AdminLTE/img/user2-160x160.jpg")" class="img-circle" alt="User Image">
                            <p>
                                @SessionUtility.TMSessionContainer.UserName
                                <small>@SessionUtility.TMSessionContainer.BranchName</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("EditUserPassword", "UserDetail", new { id=SessionUtility.TMSessionContainer.UserID})" class="btn btn-default btn-flat">Change Password</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("LogOff", "UserLogin", new {Area=""})" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
