﻿@using TonyMultipurpose.DAL
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            @if (SessionUtility.TMSessionContainer.UserID != 0)
            {
                @Html.Action("Admin", "Navigation", new { Area = "" })
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>