﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Design and Developed by <strong><a href="http://www.juvenilepacersbd.com/" target="_blank">Juvenile Pacers</a></strong>.
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year.ToString() <a href="#">TMC Limited</a>.</strong> All rights
    reserved.
</footer>