﻿@using TonyMultipurpose.DAL
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@


    @* css *@
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    @* javascript *@
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/gridmvc.js"></script>

    <!--Date Picker Start-->
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    @*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    @*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <!--Date Picker End-->

    @*<link href="~/Content/style.css" rel="stylesheet" />*@

</head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">

                <!--Side Bar section-->
                <div class="col-md-3 left_col">
                    @if (SessionUtility.TMSessionContainer.UserID != 0)
                    {
                        @Html.Action("Index", "Navigation", new { Area = "" })
                    }
                    @*<div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="~/Home" class="site_title"><i class="fa fa-paw"></i> <span>Company Name</span></a>
                        </div>
                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="~/Content/themes/base/images/tom_cruise1.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>Rashed</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <br />
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">

                                <ul class="nav side-menu">
                                    <li>
                                        <a href="index.html"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-edit"></i> Member Option <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#">Add Member</a></li>
                                            <li><a href="#">Add Bank Account</a></li>
                                            <li><a href="#">Member Details</a></li>
                                            <li><a href="#">Take Loan</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-desktop"></i> Operations <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#">Elements</a></li>
                                            <li><a href="#">Deposit</a></li>
                                            <li><a href="#">Deposit Share</a></li>
                                            <li><a href="#">Icons</a></li>
                                            <li><a href="#">Glyphicons</a></li>
                                            <li><a href="#">Widgets</a></li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#">Tables</a></li>
                                            <li><a href="#">Table Dynamic</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-bar-chart-o"></i> Bank Data <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#">All Member</a></li>
                                            <li><a href="#">All Saving</a></li>
                                            <li><a href="#">All Loan</a></li>
                                            <li><a href="#">All Account</a></li>
                                            <li><a href="#">Other Charts</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-clone"></i> Utilities <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#">Dummy</a></li>
                                            <li><a href="#">Dummy</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /sidebar menu End -->
                    </div>*@
                </div>
                <!--Side Bar section End-->
                <!-- Top Navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="" style="width: 220px;">
                                    @*<a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="~/Content/themes/base/images/tom_cruise1.jpg" alt="">@SessionUtility.TMSessionContainer.UserName<span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="~/UserLogin/Login"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    </ul>*@
                                    <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="~/Content/themes/base/images/tony.jpg" alt="">@SessionUtility.TMSessionContainer.UserName<span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="~/UserLogin/LogOff"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Top Navigation End -->
                <!-- Page Content -->
                <div class="right_col" role="main">
                    <!--Tiles -->
                    <div class="tile_count">
                        @*<div class="col-md-9 col-sm-9 col-xs-10">
                            @RenderBody()
                        </div>*@
                        @RenderBody()
                        @*<div class="col-md-5">

                        </div>*@

                    </div>
                    <!-- Tiles End -->
                    <!--Content Area-->
                    <div class="row">


                        <div class="col-md-12 col-sm-12 col-xs-12 content_area">

                            <!--- All Content Goes Here -->

                        </div>


                    </div>
                    <!--Content Area End-->

                </div>
                <!--page content End-->
            </div>
        </div><div style="clear: both; height: 40px;"></div>
        <!-- footer content -->
    <footer>
        <div class="text-center footer">
            Copyright &copy; @DateTime.Now.Year.ToString() <a target="_blank" href="http://juvenilepacersbd.com/">Juvenile PacersBD</a>. All rights reserved.
        </div>
        <div class="clearfix"></div>
    </footer>
    @Html.Partial("_PleaseWait")
        <!-- /footer content -->
        <!-- jQuery -->
        @*<script src="asset/vendors/jquery/dist/jquery.min.js"></script>*@
        <!-- Bootstrap -->
        @*<script src="asset/vendors/bootstrap/dist/js/bootstrap.min.js"></script>*@

        <!-- Custom Theme Scripts -->
    @*<script src="asset/js/custom.min.js"></script>*@
        <script src="~/Scripts/custom.min.js"></script>

    </body>



@*<body>  
<div class="container-flued">
        <div class="row">
            <div class="navbar navbar-inverse jpnav">
                <div class="container">
                </div>
            </div>
            <div class="col-sm-2 col-lg-2 col-xl-2 jpkm">

                @if (SessionUtility.TMSessionContainer.UserID != 0)
                {
                    @Html.Action("Index", "Navigation", new { Area = "" })
                }
            </div>
            <div class="col-md-10 jpkm1">

                @RenderBody()
                <hr />


            </div>
            <div class="row jpftkm">
                <div class="col-md-12  text-center">
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Tony Multipurpose, Bangladesh</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

</body>*@
</html>


















