﻿@model TonyMultipurpose.Areas.Share.ViewModels.CustomerViewModel
<table class="table table-bordered table-condensed">
    <tr>
        <td colspan="4">
            <img src="@Model.CustomerImage" alt="No Image" class="img-responsive img-thumbnail profile-image" />
        </td>
    </tr>
    <tr class="slateblue blanchedalmond">
        <td style="width: 20px;">01</td>
        <td style="width: 100px;">Account Title</td>
        <td style="width: 5px;">:</td>
        <td>@Model.CustomerName</td>
    </tr>
    <tr>
        <td>02</td>
        <td>Father Name</td>
        <td>:</td>
        <td>@Model.FatherName</td>
    </tr>
    <tr>
        <td>03</td>
        <td>Mother Name</td>
        <td>:</td>
        <td>@Model.MotherName</td>
    </tr>
    <tr>
        <td>04</td>
        <td>NID</td>
        <td>:</td>
        <td>@Model.NationalId</td>
    </tr>
    <tr>
        <td>05</td>
        <td>Current Share</td>
        <td>:</td>
        <td>@Model.CurrentShareQty</td>
    </tr>

</table>
