﻿<div class="row">
    <div class="col-xs-8">
        <table class="table table-bordered table-condensed">
            <tr class="slateblue blanchedalmond">
                <td class="td-number-column">01</td>
                <td class="td-title-column">Account Title</td>
                <td class="td-colon-column">:</td>
                <td id="FromCustomerTitle"></td>
            </tr>
            <tr>
                <td class="td-number-column">02</td>
                <td class="td-title-column">Name In Bangla </td>
                <td class="td-colon-column">:</td>
                <td></td>
            </tr>
            <tr>
                <td class="td-number-column">03</td>
                <td class="td-title-column">Father Name</td>
                <td class="td-colon-column">:</td>
                <td>@Model.dtCommon.Rows[0]["FatherName"]</td>
            </tr>
            <tr>
                <td class="td-number-column">04</td>
                <td class="td-title-column">Mother Name</td>
                <td class="td-colon-column">:</td>
                <td>@Model.dtCommon.Rows[0]["MotherName"]</td>
            </tr>
            <tr>
                <td class="td-number-column">05</td>
                <td class="td-title-column">NID No</td>
                <td class="td-colon-column">:</td>
                <td>@Model.dtCommon.Rows[0]["NationalId"]</td>
            </tr>

        </table>
    </div>

    <div class="col-xs-offset-2 col-xs-2">
        <div class="pull-right">
            <img src="@Model.dtCommon.Rows[0]["CustomerImage"]" alt="No Image" class="img img-responsive img-thumbnail customer-image" />
        </div>
    </div>
</div>