﻿@model TonyMultipurpose.Areas.Share.ViewModels.ShareTransferViewModel
@using TonyMultipurpose.Infrastructure.Helpers

@{
    ViewBag.Title = "Share Transfer";
}


<div class="row">
    <div class="col-sm-4">
        @using (Html.BeginForm("Index", "ShareTransfer", FormMethod.Post, new { @class = "form-horizontal", @id = "shareTransfer" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class="text-danger" })

            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.IssuedDate, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.IssuedDate, new { @readonly="readonly" })
                    @Html.BootstrapValidationMessageFor(model => model.IssuedDate)
                </div>
            </div>


            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.VoucherNo, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.VoucherNo)
                    @Html.BootstrapValidationMessageFor(model => model.VoucherNo)
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4" for="FromCustDisplayId">From Customer</label>
                <div class="col-md-8">
                    <input type="text" name="FromCustDisplayId" id="FromCustDisplayId" class="form-control input-sm"/>
                    @Html.TextBoxFor(model => model.FromCustomerId, new { @class="hidden"})
                    @Html.BootstrapValidationMessageFor(model => model.FromCustomerId)
                </div>
            </div>


            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.FromParticular, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.FromParticular)
                    @Html.BootstrapValidationMessageFor(model => model.FromParticular)
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4" for="ToCustDisplayId">To Customer</label>
                <div class="col-md-8">
                    <input type="text" name="ToCustDisplayId" id="ToCustDisplayId" class="form-control input-sm" />
                    @Html.TextBoxFor(model => model.ToCustomerId, new { @class = "hidden" })
                    @Html.BootstrapValidationMessageFor(model => model.ToCustomerId)
                </div>
            </div>


            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.ToParticular, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.ToParticular)
                    @Html.BootstrapValidationMessageFor(model => model.ToParticular)
                </div>
            </div>


            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Qty, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.Qty)
                    @Html.BootstrapValidationMessageFor(model => model.Qty)
                </div>
            </div>
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.PricePerShare, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.PricePerShare, new { @readonly = "readonly" })
                    @Html.BootstrapValidationMessageFor(model => model.PricePerShare)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input id="submit" type="submit" value="Transfer" class="btn btn-success" />
                </div>

            </div>
        }
    </div>
    <div class="col-sm-4">
        @using (Html.DefaultBox("From Customer"))
        {
            <div id="fromCustomerInfo"></div>
        }
    </div>
    <div class="col-sm-4">
        @using (Html.DefaultBox("To Customer"))
        {
            <div id="toCustomerInfo"></div>
        }
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/Share/Share_Transfer.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
}