﻿@using TonyMultipurpose.Infrastructure.Helpers

@{
    ViewBag.Title = "Share Transfer";
}


<div class="row">
    <div class="col-sm-4">
        @using (Html.BeginForm("Index", "ShareTransfer", FormMethod.Post, new { @class = "form-horizontal", @id = "shareTransfer" }))
        {
            @Html.AntiForgeryToken()
            <p>
                <span id="showMessage" style="color: red; font-size: medium"></span>
            </p>
            <div class="form-group">
                <label class="col-md-4 control-label">Date</label>
                <div class="col-md-7">
                    <input type="text" id="IssuedDate" name="IssuedDate" class="form-control TextFontSize" value="@DateTime.Now.ToString("dd/MMM/yyyy")" readonly="readonly" />
                    <span class="error">Date is required.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Voucher No</label>
                <div class="col-md-7">
                    <input type="text" id="VoucherNo" name="VoucherNo" class="form-control TextFontSize" maxlength="50"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">From Customer</label>
                <div class="col-md-7">
                    <input type="text" id="FromCustomer" name="FromCustomer" class="form-control TextFontSize" maxlength="50"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">From Particular<span class="error">*</span></label>
                <div class="col-md-7">
                    <input type="text" id="FromParticular" name="FromParticular" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">To Customer</label>
                <div class="col-md-7">
                    <input type="text" id="ToCustomer" name="ToCustomer" class="form-control TextFontSize" maxlength="50"/>
                </div>
            </div>
            <div class="form-group">
                    <label class="col-md-4 control-label">To Particular<span class="error">*</span></label>
                <div class="col-md-7">
                    <input type="text" id="ToParticular" name="ToParticular" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                    <label class="col-md-4 control-label">Amount<span class="error">*</span></label>
                <div class="col-md-7">
                    <input type="number" step=".01" id="Amount" name="Amount" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input id="submit" type="submit" value="Transfer" class="btn btn-success" />
                </div>

            </div>
        }
    </div>
    <div class="col-sm-4">
        @using (Html.DefaultBox("From Customer"))
        {
            <div id="fromCustomerInfo"></div>
        }
    </div>
    <div class="col-sm-4">
        @using (Html.DefaultBox("To Customer"))
        {
            <div id="toCustomerInfo"></div>
        }
    </div>
</div>
@section styles
{
    <style>
        .table {
            border-bottom: 0px !important;
        }

            .table th, .table td {
                border: 1px !important;
            }

        .fixed-table-container {
            border: 0px !important;
        }

        .formatedTable td {
            padding-bottom: 6px;
        }

        .formatedTable input {
            padding-right: 210px;
        }

        .container {
            border: none;
        }

        span.error {
            display: none;
            color: red;
            /*font-weight: bold;*/
            font-size: 100%;
        }

        .control-label {
            text-align: left !important;
        }

        .form-group {
            margin-bottom: 3px;
        }

        .TextFontSize {
            font-size: 18px;
        }
    </style>
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/Share/Share_Transfer.js")"></script>
}