﻿@model TonyMultipurpose.Areas.Share.ViewModels.SharePurchaseViewModel
@using TonyMultipurpose.Infrastructure.Helpers

@{
    ViewBag.Title = "Customer Share Purchase";
}


<div class="row">
    <div class="col-sm-8">
        @using (Html.BeginForm("", "SharePurchase", FormMethod.Post, new { @class = "form-horizontal", @id = "shareTransfer" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.PricePerShare)

            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.IssuedDate, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.IssuedDate, new { @readonly = "readonly" })
                    @Html.BootstrapValidationMessageFor(model => model.IssuedDate)
                </div>
            </div>


            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.VoucherNo, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.VoucherNo)
                    @Html.BootstrapValidationMessageFor(model => model.VoucherNo)
                </div>
            </div>


            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.CustomerId, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.CustomerId)
                    @Html.BootstrapValidationMessageFor(model => model.CustomerId)
                </div>
            </div>


            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Particular, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.Particular)
                    @Html.BootstrapValidationMessageFor(model => model.Particular)
                </div>
            </div>
            
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Amount, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.Amount)
                    @Html.BootstrapValidationMessageFor(model => model.Amount)
                </div>
            </div>
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.PricePerShare, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.PricePerShare, new { @readonly = "readonly" })
                    @Html.BootstrapValidationMessageFor(model => model.PricePerShare)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input id="submit" type="submit" value="Transfer" class="btn btn-success" />
                </div>

            </div>
        }
    </div>
    <div class="col-sm-4">
        @using (Html.DefaultBox("From Customer"))
        {
            <div id="fromCustomerInfo"></div>
        }
    </div>
   
</div>


@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/Share/Share_Transfer.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

