﻿@using CrystalDecisions.ReportAppServer.DataDefModel
@using CrystalDecisions.ReportAppServer.ReportDefModel
@using TonyMultipurpose.Infrastructure.Helpers
@model TonyMultipurpose.Models.Reports

@{
    ViewBag.Title = "Reports";
}

@using (Html.BeginForm("Index", "Reports", FormMethod.Post, new { target = "_blank" }))
{
    //using (Html.DefaultPanel("Reports Viewer", "panel-info"))
    //{

    <div class="form-group row" id="divReportType">
        <div class="col-md-2">
            <label class="control-label">Report Type</label>
        </div>
        <div class="col-md-5">
            @Html.DropDownListFor(r => r.ReportType, new List<SelectListItem>
            {
                new SelectListItem {Text = "- Select Type -", Value = ""},
                new SelectListItem {Text = "Deposit", Value = "Deposit"},
                new SelectListItem {Text = "Loan", Value = "Loan"},
                new SelectListItem {Text = "Accounts", Value = "Accounts"},
                new SelectListItem {Text = "HR", Value = "HR"},
                new SelectListItem {Text = "Share", Value = "Share"},
                new SelectListItem {Text = "System", Value = "System"}
            }, new { @class = "form-control", id = "ReportType" })
        </div>
        <div class="col-md-5">
            <span class="error">**</span>
        </div>
    </div>

    <div class="form-group row" id="divReportName" style="display: none;">
        <div class="col-md-2">
            <label class="control-label">Report Name</label>
        </div>
        <div class="col-md-5">
            @Html.DropDownListFor(r => r.ReportName, new List<SelectListItem>
            {
                new SelectListItem {Text = "-Select Type-", Value = ""},
                //new SelectListItem {Text = "Customer Entry Report", Value = "CustomerEntryReport"},
                new SelectListItem {Text = "Account Statement (Number wise)", Value = "AccountNumberWiseReport"},
                //new SelectListItem {Text = "Loan Application", Value = "TestReport"},
                new SelectListItem {Text = "Product wise All Account", Value = "DepositStatement"},
                new SelectListItem {Text = "Periodic Details Ledger Report", Value = "PeriodicDateWiseDetailsLedeger"},
                new SelectListItem {Text = "Withdraw Report (Datewise)", Value = "DateWiseWithdrawReport"},
                new SelectListItem {Text = "Transaction Report (Datewise)", Value = "DateWiseAllTransactionReport"},
                new SelectListItem {Text = "Deposit Report (Datewise)", Value = "DateWiseDepositReport"},
                new SelectListItem {Text = "Periodic Account Codewise Summary Report", Value = "PeriodicDateWiseTrialBalance"},
                new SelectListItem {Text = "Periodic Trial Balance", Value = "PeriodicTrialBalanceDetailsReport"}, /*Periodic DateWise Trial Balance*/
                new SelectListItem {Text = "Periodic Balance Sheet Report", Value = "PeriodicDateWiseBalanceSheet"},
                // new SelectListItem {Text = "Next Month Matured Account Report", Value = "NextMonthMaturedAccountReport"},
                //new SelectListItem {Text = "Account Opening Report", Value = "AccountOpeningReport"},
                new SelectListItem {Text = "Closing Account Report (Product/Branch)", Value = "AccountClosingReport"},
                new SelectListItem {Text = "Reverse Entry Report", Value = "ReverseEntryReport"},
                new SelectListItem {Text = "Loan Installment Shedule Report", Value = "LoanWiseInstallmentReport"},
                new SelectListItem {Text = "Paid Installment Report", Value = "DateWisePaidInstallmentReport"},
                new SelectListItem {Text = "Due Installment Report", Value = "DateWiseUnPaidInstallmentReport"},
                new SelectListItem {Text = "Loan Installment Status Report", Value = "LoanAccountWiseInstallmentReport"},
                new SelectListItem {Text = "Continuous Loan Transaction(Loan Id Wise) Report", Value = "ConLoanTransactionLoanIdWiseReport"},
                //new SelectListItem {Text = "Continuous Loan Limit Amount Wise Report", Value = "ContinuousLoanLimitAmountWiseReport"}
                //new SelectListItem {Text = "Expense Statement Report", Value = "ExpenseStatementReport"},
                new SelectListItem {Text = "Income Statement Report", Value = "IncomeStatementReport"},
                //new SelectListItem {Text = "Profit And Lost Statement Report", Value = "ProfitAndLostStatementReport"},
                new SelectListItem {Text = "Employee Attendance Report", Value = "EmployeeAttendanceReport"},
                new SelectListItem {Text = "Salary Process Report", Value = "SalaryProcessReport"},
                new SelectListItem {Text = "Monthly Payslip Report", Value = "MonthlyPayslipReport"},
                new SelectListItem {Text = "Loan Approval Report", Value = "LoanApprovalReport"},
                new SelectListItem {Text = "DetailList Report", Value = "DetailListReport"},
                new SelectListItem {Text = "Share Holding Position", Value = "ShareHoldingPosition"},
                new SelectListItem {Text = "System User List", Value = "UserListReport"}
            }, new { @class = "form-control", id = "ReportName" })
        </div>
        <div class="col-md-5">
            <span class="error">**</span>
        </div>
    </div>

    <div class="form-group row" id="divAccountTypeName" style="display: none;">
        <div class="col-md-2">
            <label class="control-label">Deposit Type asdf</label>
        </div>
        <div class="col-md-5">
            <select name="AccountType" id="AccountType" class="form-control"></select>
        </div>
        <div class="col-md-5"></div>
    </div>

    <div class="form-group row" id="divBranch" style="display: none;">
        <div class="col-md-2">
            <label class="control-label">Branch Name</label>
        </div>
        <div class="col-md-5">
            @Html.DropDownListFor(model => model.BranchId, new SelectList(@ViewBag.BranchInfo, "BranchId", "BranchName"), "--Select Branch--", new { @class = "form-control", id = "BranchName" }
         )
        </div>
        <div class="col-md-5"></div>
    </div>

    <div class="form-group row" id="divCustomerId" style="display: none;">
        <div class="col-md-2">
            <label class="control-label">Customer Id</label>
        </div>
        <div class="col-md-5">
            <input type="text" id="CustomerId" name="CustomerId" class="form-control" placeholder="Type Customer Id" onkeypress="return IsInteger(event);" />
        </div>
        <div class="col-md-5"></div>
    </div>

    <div class="form-group row" id="divAccountNo" style="display: none;">
        <div class="col-md-2">
            <label class="control-label">Account Number</label>
        </div>
        <div class="col-md-5">
            <input type="text" id="AccountNumber" name="AccountNumber" class="form-control" placeholder="Type account No" onkeypress="return IsInteger(event);" />
        </div>
        <div class="col-md-5">
            <span class="error">**</span>
        </div>
    </div>

    <div class="form-group row" id="divLoanId" style="display: none;">
        <div class="col-md-2">
            <label class="control-label">Loan Id</label>
        </div>
        <div class="col-md-5">
            <input type="text" id="LoanId" name="LoanId" class="form-control" placeholder="Type Loan Id" />
        </div>
        <div class="col-md-5">
            <span class="error">**</span>
        </div>
    </div>
    <div class="form-group row" id="divLoanNo" style="display: none;">
        <div class="col-md-2">
            <label class="control-label">Loan No</label>
        </div>
        <div class="col-md-5">
            <input type="text" id="LoanNo" name="LoanNo" class="form-control" placeholder="Type Loan No" />
        </div>
        <div class="col-md-5">
            <span class="error">**</span>
        </div>
    </div>

    @*@*this div only account closing*@
    @*<div class="form-group row" id="divAccountNoForClosing">
            <div class="col-md-2">Account Number</div>
            <div class="col-md-5">
                <input type="text" id="AccountNumberForClosing" name="AccountNumber" class="form-control" placeholder="Type account No" onkeypress="return IsInteger(event);" />
            </div>
            <div class="col-md-5"></div>
        </div>*@

    <div class="form-group row" id="divAccounCode" style="display: none;">
        <div class="col-md-2">
            <label class="control-label">Account Code</label>
        </div>
        <div class="col-md-5">
            <input type="text" id="AccounCode" class="form-control" name="AccountCode" placeholder="Type AccounCode" onkeypress="return IsInteger(event);" />
        </div>
        <div class="col-md-5"></div>
    </div>

    <div class="form-group row" id="Date" style="display: none;">
        <div class="col-md-2">
            <label id="lblDateFrom">Date From</label>
        </div>
        <div class="col-md-2">
            <input type="text" id="FromDate" class="form-control" name="FromDate" readonly="readonly" />
            @*value="@DateTime.Now.ToString("dd-MMM-yyyy ")"*@
        </div>
        @*<div class="col-md-5"><span class="error">**</span></div>*@
        <div class="col-md-1 to">
            <label class="control-label">To</label>
        </div>
        <div class="col-md-2 to">
            <input type="text" id="ToDate" class="form-control" name="ToDate" readonly="readonly" />
        </div>
        <div class="col-md-5"><span class="error">**</span></div>
    </div>

    <div class="form-group row" id="divAmount" style="display: none;">
        <div class="col-md-2">
            <label class="control-label">Amount</label>
        </div>
        <div class="col-md-5">
            <input type="text" id="Amount" class="form-control" name="Amonut" placeholder="Type Amount" onkeypress="return IsInteger(event);" />
        </div>
        <div class="col-md-5"></div>
    </div>

    <div class="form-group row" id="divStatus" style="display: none;">
        <div class="col-md-2">
            <label class="control-label">IsActive</label>
        </div>
        <div class="col-md-5">
            @Html.DropDownListFor(a => a.IsActive, new List<SelectListItem>
            {
                new SelectListItem {Text = "Active", Value = "True"},
                new SelectListItem {Text = "Inactive", Value = "False"}
            }, new { @class = "form-control", id = "Status" })
        </div>
        <div class="col-md-5"></div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            @*<input type="button" value="Create" onclick="location.href='@Url.Action("Test", "Reports")'" />
                @Html.ActionLink("link text", "Test", "Reports")*@
        </div>
        <div class="col-md-2">
            <button type="submit" id="submit" class="btn btn-primary" style="padding: 10px 40px">View Report</button>
        </div>
        <div class="col-md-8">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.ReportFormat, "PDF") PDF
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.ReportFormat, "Excel", new { @checked = "checked" }) Excel
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.ReportFormat, "CSV") CSV
            </label>
        </div>
    </div>
    <div class="row">

    </div>
}
@*@using (Html.BeginForm("Test", "Reports", FormMethod.Post, new { target = "_blank" }))
    {
        <button type="submit" id="submit" class="btn btn-primary" style="padding: 10px 40px">View Report22</button>
    }*@



@section styles
{
    <style>
        span.error {
            color: red;
            display: block;
            font-size: 100%;
            font-weight: bold;
            visibility: hidden;
        }
    </style>
}

@section scripts
{
    <script src="~/Scripts/Custom/Common/Reports.js"></script>
}
