﻿
@model TonyMultipurpose.Models.UserDetailPartial

@{
    ViewBag.Title = "Delete";
}


<h3 style="color: red;">Delete Information.</h3>
<hr />

@using (Html.BeginForm("Delete", "UserDetail", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    if (Model != null && Model.UserDetailId > 0)
    {
        @Html.HiddenFor(ui => ui.UserDetailId)
    }

    <div class="form-group">
        @Html.LabelFor(ui => ui.Username, new { @class = "control-label col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(ui => ui.Username, new { @class = "form-control", disabled = "disabled" })
            @Html.ValidationMessageFor(ui => ui.Username, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.CompanyName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.DropDownListFor(
            x => x.CompanyId,
            new SelectList(@ViewBag.CompanyInfo, "CompanyId", "CompanyName"),
            "", new { @class = "form-control" }
            )
            @Html.ValidationMessageFor(c => c.CompanyId, "", new { @class = "text-danger", disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.BranchName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.DropDownListFor(
            x => x.BranchId,
            new SelectList(@ViewBag.BranchInfo, "BranchId", "BranchName", "")
            , new { @class = "form-control", disabled = "disabled" }
            )
            @Html.ValidationMessageFor(c => c.BranchId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(ui => ui.IsActive, new { @class = "control-label col-sm-2" })
        <div class="col-sm-3">
            @Html.DropDownList("IsActive", new List<SelectListItem>()
        {
            new SelectListItem {Text = "Active", Value = "true"},
            new SelectListItem {Text = "Inactive", Value = "false"}
        }, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>