﻿@model IEnumerable<TonyMultipurpose.Models.UserDetail>
@using TonyMultipurpose.Infrastructure.Common
@using TonyMultipurpose.Infrastructure.Helpers

@using GridMvc.Html
@{
    ViewBag.Title = "User List";
    WebGrid grid = new WebGrid(Model, canPage: true,
     canSort: true, rowsPerPage: 10, ajaxUpdateContainerId: "grdUser");
}

@using (Html.BeginForm("Index", "AssignUserRole", FormMethod.Get, new { @class = "form-inline" }))
{

    <div class="form-group" style="margin: 10px 0;">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Save", "UserDetail")"> Add New User</a>
    </div>

}

<div class="table-responsive">
    @grid.Table(
    tableStyle: "table table-bordered table-striped table-condensed",
        htmlAttributes: new { id = "grdUser" },
        columns: grid.Columns
        (
            grid.Column("SL", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("Username", "Username"),
             grid.Column("BranchName", "Branch"),
            grid.Column("CompanyName", "Company"),
            grid.Column("UserStatus", "Status"),
            grid.Column(style: "grid-action-column", format: @<text>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.UserDetailId }, new { target = "_blank" })</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.UserDetailId }, new { target = "_blank" })</li>
                    </ul>
                </div>
            </text>,
                header: "Action")
        ))


    @grid.PagerList(WebGridPagerModes.All, paginationStyle: "pagination", numericLinksCount: 10)

</div>

@*<div class="code-cut">
    <a class="popup btn btn-primary" href="~/UserDetail/Save/0" style="margin-bottom:20px; margin-top:20px;">Add New User</a>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(u => u.Username).Titled("Username").Sortable(true).Filterable(true);
    columns.Add(u => u.BranchName).Titled("Branch").Sortable(true).Filterable(true);
    columns.Add(u => u.CompanyName).Titled("Company").Sortable(true).Filterable(true);
    columns.Add(u=> u.UserStatus).Titled("Status").Sortable(true).Filterable(true);
    columns.Add()
    .Titled("Edit")
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(u => Html.ActionLink("Edit", "Edit", new { id = u.UserDetailId }));
    columns.Add()
    .Titled("Delete")
  .Encoded(false)
  .Sanitized(false)
  .SetWidth(30)
  .RenderValueAs(u => Html.ActionLink("Delete", "Delete", new { id = u.UserDetailId }));
}).WithPaging(5).Sortable(true)

</div>*@