﻿@model IEnumerable<TonyMultipurpose.Models.UserDetail>

@using GridMvc.Html
@{
    ViewBag.Title = "Reset user password";
}

<h2>Reset Password</h2>


<div class="code-cut">
    @*<a class="popup btn btn-primary" href="/UserDetail/Save/0" style="margin-bottom:20px; margin-top:20px;">Add New User</a>*@
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(u => u.Username).Titled("Username").Sortable(true).Filterable(true);
    columns.Add(u => u.BranchName).Titled("Branch").Sortable(true).Filterable(true);
    columns.Add(u => u.CompanyName).Titled("Company").Sortable(true).Filterable(true);
    columns.Add(u => u.UserStatus).Titled("Status").Sortable(true).Filterable(true);
    columns.Add()
    .Titled("Edit")
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(50)
    .RenderValueAs(u => Html.ActionLink("Reset Password", "EditUserPassword", new { id = u.UserDetailId }));
    
}).WithPaging(5).Sortable(true)

</div>