﻿
@model TonyMultipurpose.Models.UserDetail

@{
    ViewBag.Title = "Save";
}


<h3 style="color:green;">Save Information.</h3>
<hr />

@using (Html.BeginForm("Save", "UserDetail", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    if (Model != null && Model.UserDetailId > 0)
    {
        @Html.HiddenFor(ui => ui.UserDetailId)
    }

    <div class="form-group">
        @Html.LabelFor(ui => ui.Username, new { @class = "control-label col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(ui => ui.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(ui => ui.Username, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(ui => ui.Password, new { @class = "control-label col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(ui => ui.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(ui => ui.Password, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(ui => ui.ConfirmPassword, new {@class = "control-label col-sm-2"})
        <div class="col-sm-3">
            @Html.TextBoxFor(ui => ui.ConfirmPassword, new {@class = "form-control"})
            @Html.ValidationMessageFor(ui => ui.ConfirmPassword, "", new {@class = "text-danger", @style = "color:red"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.CompanyName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.DropDownListFor(
            x => x.CompanyId,
            new SelectList(@ViewBag.CompanyInfo, "CompanyId", "CompanyName"),
            "--Select Company--", new { @class = "form-control" }
            )
            @Html.ValidationMessageFor(c => c.CompanyId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.BranchName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.DropDownListFor(
            x => x.BranchId,
            new SelectList(@ViewBag.BranchInfo, "BranchId", "BranchName"),
            "--Select Branch--", new { @class = "form-control" }
            )
            @Html.ValidationMessageFor(c => c.BranchId, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
}