﻿@model TonyMultipurpose.Areas.Employee.Models.ScanDocument
@using GridMvc.Html
@{
    ViewBag.Title = "Save";
    var employeename = ViewBag.employeeName;
    var typename = ViewBag.typeName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<style>
    #fieldset {
        border-bottom: 1px solid gray;
    }

    .EmployeeId {
        width: 120px;
    }
    /*#hiddenValue{
         display: block;
        visibility: hidden;
    }*/
</style>
@using (Html.BeginForm("Save", "ScanDocument", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.EmployeeId > 0)
    {
        @Html.HiddenFor(d => d.EmployeeId)
    }
    <div class="container">
        <div class="master">
            <h2>Employee</h2>
            <table class="table table-responsive">
                <tr>
                    <td class="col-md-2">
                        <label class="control-label">Employee Name</label>
                    </td>
                    <td>
                        <select name="EmployeeId" class="EmployeeId form-control " id="EmployeeId">
                            @if (employeename != null)
                            {
                                <option value="0">Select</option>
                                foreach (var name in employeename)
                                {
                                    <option value="@name.EmployeeId">@name.EmployeeName</option>
                                }
                            }
                        </select>
                        <span class="error">Select EmployeeName</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="master">
            <h2>Scan Document</h2>
            <table class="table table-responsive">
                <tr>
                    <th>Document Type Name</th>
                    <th>Document Name</th>
                    <th>Image</th>
                </tr>
                <tbody class="a " id="result"></tbody>
            </table>
        </div>
        

        <div>
            <input type="button" value="Add Scan Document" id="show" class="btn btn-primary" />
        </div>


        <div class="details" id="hiddenValue">
            <h2>Add Scan Document</h2>
            <table class="table table-responsive">
                <tr>
                    <td>Document Type Name</td>
                    <td>Document Name</td>
                    <td>Image</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="mycontainer" id="mainrow">
                    <td>
                        <select name="DocumentTypeId" class="DocumentTypeId form-control " id="DocumentTypeId">
                            @if (typename != null)
                            {
                                <option value="0">Select</option>
                                foreach (var name in typename)
                                {
                                    <option value="@name.DocumentTypeId">@name.TypeName</option>
                                }
                            }
                        </select>
                        <span class="error">Select Document Type</span>
                    </td>
                    <td>
                        <input type="text" name="DocumentName" id="DocumentName" class="DocumentName form-control" />
                        <span class="error">Valid DocumentName required</span>
                    </td>
                    <td>
                        <input type="file" name="File"  id="File" class="File form-control" />
                        @*<span class="error">Valid Image required</span>*@
                    </td>
                    <td>
                        <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
                    </td>
                </tr>
            </table>
            <div id="ScanDocAdd">
                <table class="table table-responsive" id="ScanDocAddItems"></table>
                <span id="ScanDocAdderror" style="color:red"></span>

            </div>
            <div style="padding:10px 0; text-align:right">
                <input id="submit" type="button" value="Save Scan Document" class="btn btn-warning" style="padding:10px 20px" />
            </div>
        </div>

    </div>
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/myScripts.js"></script>


<script type="text/javascript">

    $(document).ready(function () {


        $("#EmployeeId").change(function () {

            var deptId = $("#EmployeeId").val();
            $("#result").empty();
            var json = {
                employeeId: deptId
            };
            $code = "";
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllEmployeeInfoById", "ScanDocument")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);
                    $.each(data, function (key, value) {
                        //alert(key);
                        $("#result").append('<tr> <td>' + value.TypeName + '</td> <td>' + value.DocumentName + '</td><td>' + value.Image + '</td></tr>');

                    });
                }
            });
        });

        $("#hiddenValue").hide();
        $("#show").click(function () {
            $("#hiddenValue").show();
        });

        //$("#show").CapacityChart(function () {
        //    $("#hiddenValue").show();
        //});
    });
</script>

<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>