﻿@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.FinancialTransactions.Models.FinancialTransactionsModel>
@{
    ViewBag.Title = "ApproveTransaction";
}

<h2>Approved Financial Transaction List</h2>
<hr />
@*<div class="tablecontainer table-responsive">*@
<table id="TransactionTable" class="display" cellspacing="0" style="width:100%;">
    <thead>
    <tr>
       
        <th>Transaction Id</th>
        <th>Transaction Date</th>
        <th>Voucher</th>
        <th>Voucher Type</th>
        <th>Particular</th>
        <th>Bank Name</th>
        <th>Client Name</th>
        <th>Supplier Name</th>
        <th>Account Code</th>
        <th>Account Name</th>
        <th>Category Name</th>
        <th>Group Name</th>
        <th>Credit</th>
        <th>Debit</th>
        <th>Voucher Report</th>
    </tr>
    </thead>
</table>
@*</div>*@

@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
@*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />*@

<style>
    /*Adding some css for looks good*/
    span.error {
        display: inline-block;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 1px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }

    #hideid {
        display: none;
    }

    .formatedTable td {
        padding-bottom: 6px;
    }

    .formatedTable input {
        padding-right: 210px;
    }

    .form-group {
        margin-bottom: 7px;
    }
</style>
}

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/Custom/FinancialTransactions/FTApproval/ApproveTransaction.js"></script>
}




