﻿@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.FinancialTransactions.Models.FinancialTransactionsModel>
@{
    ViewBag.Title = "Financial Transactions Approval";
    var grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 1000, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
}


@* Here  I am going to add some css for better looks *@



@*<h2>Financial Transaction Approval</h2>*@
<hr />
<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>
<hr />
@using (Html.BeginForm("", "FTApproval", FormMethod.Post))
{
    <div class="table-responsive">
        @grid.GetHtml(
            tableStyle: "table table-bordered table-condensed",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                    //Here I am going to add checkbox column
                    grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@item.TransactionId" name="Id" /> </text>,
                        header: "{checkall}"
                        ),
                    grid.Column("TransactionId", "Transaction Id"),
                    grid.Column("TransactionDate", "Transaction Date", format:
        (item) => string.Format("{0:dd/MMM/yyyy}", item.TransactionDate)),
                    grid.Column("VoucherNo", "Voucher"),
                    grid.Column("VoucherType", "Voucher Type"),
                    grid.Column("Particular", "Particular"),
                    grid.Column("BankName", "Bank Name"),
                    grid.Column("ClientName", "Client Name"),
                    grid.Column("SupplierName", "Supplier Name"),
                    grid.Column("AccountCode", "AccountCode"),
                    grid.Column("AccountName", "Account Name"),
                    grid.Column("CategoryName", "Category Name"),
                    grid.Column("GroupName", "Group Name"),
                    grid.Column("Credit", "Credit"),
                    grid.Column("Debit", "Debit"),
                    grid.Column(
                        format: @<text> <input type="text" name="@item.TransactionId" /> </text>,
                        header: "Reject Reason"
                        ),
                     grid.Column("CreatedName", "Created Name"),
                    grid.Column(format: @<text>@Html.ActionLink("Detail", "Details", "FinancialTransaction", new { VoucherNo = @item.VoucherNo }, new { target = "_blank" })  </text>,
                        header: "Detail")
                )
            )
    </div>

    <div class="row" style="width:180px;margin-top:10px;">
        <div class="col-md-6">
            <input type="submit" value="Approve" name="action:Approve" class="btn btn-success" />
        </div>
        <div class="col-md-6">
            <input type="submit" value="Reject" name="action:Reject" class="btn btn-success" />
        </div>
    </div>
}

@section styles
{
    <style type="text/css">
        
         table.gridtable {
             font-family: verdana,arial,sans-serif;
             font-size: 11px;
             color: #333333;
             border-width: 1px;
             border-color: #666666;
             border-collapse: collapse;
         }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    </style>
}

@* Here I am going to add some Jquery Code *@

@section scripts
{

    <script src="~/Scripts/Custom/FinancialTransactions/FTApproval/Index.js"></script>

}
