﻿@model IEnumerable<TonyMultipurpose.Areas.FinancialTransactions.Models.CompanyBankInfo>
@using GridMvc.Html

@{
    ViewBag.Title = "Company Bank Info";
    var grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 20, ajaxUpdateContainerId: "checkableGrid"); /*ajaxUpdateCallback: "checkBoxHeader();"*/
    int rowVal = 0;
}


<h1>@ViewBag.Title</h1>
<hr />
<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>
<a class="popup btn btn-primary" href="~/FinancialTransactions/CompanyBankInfo/Save" style="margin-bottom:20px; margin-top:20px;">Add New Bank </a>
<div>


    @grid.GetHtml(
        tableStyle: "gridtable",
        htmlAttributes: new { id = "checkableGrid" },
        columns: grid.Columns
            (
                //Here I am going to add checkbox column
                grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                grid.Column("BankName", "Bank Name"),
                grid.Column("BankAccountNo", "Bank Account No"),
                grid.Column("BranchName", "Branch Name"),
                grid.Column(format: @<text>@Html.ActionLink("Edit", "Edit", new { id = @item.BankId }, new { target = "_blank" }) </text>,
                    header: "Edit"),
            grid.Column(format: @<text>@Html.ActionLink("Delete", "Delete", new { id = @item.BankId }, new { onclick = "return ConfirmDelete('Are you sure?');" }) </text>,
                    header: "Delete")
            )
        )


</div>

@section styles
{
    <style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

            /*table.gridtable td{color: green;}*/

            table.gridtable td a:visited {
                color: red;
            }
</style>
}

@section scripts
{

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/Custom/FinancialTransactions/CompanyBankInfo/Index.js"></script>
}





