﻿@model TonyMultipurpose.Areas.FinancialTransactions.Models.CompanyBankInfo

@{
    ViewBag.Title = "Branch";
}


@using (Html.BeginForm("Save", "CompanyBankInfo", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.COAId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(x => x.COAId, new SelectList(Model.CoaInfo, "COAId", "AccountName"),
                "-- Select COA --"
                , new { @class = "form-control" })
                @*<span class="error">Please Select Company Name</span>*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BankName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.BankName, new {@class = "form-control", id = "BranchCode"})
                @Html.ValidationMessageFor(model => model.BankName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BankAccountNo, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.EditorFor(model => model.BankAccountNo, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.BankAccountNo, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="popup btn btn-primary" href="@Url.Action("Index", "CompanyBankInfo",new { Area = "FinancialTransactions" })">Back To List</a>
                <input type="submit" value="Save" class="popup btn btn-primary" />
            </div>
        </div>
    </div>
}

