﻿
@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.CSS.Models.CSSModel>
@{
    ViewBag.Title = "CSS Approval";
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 500, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
}

<h2>Unapproved Transactions(CSS)</h2>
<hr />
<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>
<hr />
@using (Html.BeginForm("", "CSSApproval", FormMethod.Post))
{
    <div id="mainDiv">
        @grid.GetHtml(
            tableStyle: "gridtable",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                    //Here I am going to add checkbox column
                    grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@item.TransactionId" name="Id" /> </text>,
                        header: "{checkall}"
                        ),
                    grid.Column("TransactionId", "Transaction Id"),
                    grid.Column("TransactionDate", "Transaction Date", format:
                    (item) => string.Format("{0:dd/MMM/yyyy}", item.TransactionDate)),
                    grid.Column("CustomerId", "Customer Id"),
                    grid.Column("CustomerName", "Customer Name"),
                    grid.Column("Mobile", "Mobile"),
                    grid.Column("AccountNumber", "Account Number"),
                    grid.Column("InstallmentAmount", "Installment Amount"),
                    grid.Column("InterestRate", "Interest Rate"),
                    grid.Column("MatureAmount", "Mature Amount"),
                    grid.Column("MatureDate", "Mature Date", format:
                    (item) => string.Format("{0:dd/MMM/yyyy}", item.MatureDate)),
                    grid.Column("TransactionType", "Transaction Type"),
                    grid.Column("InstallmentNumber", "Installment Number"),
                    grid.Column("Particular", "Installment Month"),
                    grid.Column("Amount", "Amount"),
                    grid.Column("Fine", "Fine"),
                    grid.Column(
                        format: @<text> <input type="text" name="@item.TransactionId" /> </text>,
                        header: "Reject Reason"
                        ),
                    grid.Column("Username", "Created By")
                    @*grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new { id = @item.Id })  </text>,
                        header: "Detail")*@
                )
            )
    </div>

    <div class="row" style="width:180px;margin-top:10px;">
        <div class="col-md-6">
            <input type="submit" value="Approve" name="action:Approve" class="btn btn-success" />
        </div>
        <div class="col-md-6">
            <input type="submit" value="Reject" name="action:Reject" class="btn btn-success" />
        </div>
    </div>
}

@section styles
{
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
        /*#mainDiv{
        overflow-y: scroll;
    }*/
</style>
}

@section scripts
{
    
<script src="~/Scripts/Custom/CSS/CssApprovalIndex.js"></script>
}



