﻿@model TonyMultipurpose.Areas.Employee.Models.Designation

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2>Delete</h2>

@using (Html.BeginForm("Delete", "Designation", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.DesignationId > 0)
    {
        @Html.HiddenFor(d => d.DesignationId)
    }

    <div class="form-group">
        @Html.LabelFor(d => d.DesignationName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(d => d.DesignationName, new { @class = "form-control", disabled = "disabled" })
            @Html.ValidationMessageFor(d => d.DesignationName, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(ui => ui.IsActive, new { @class = "control-label col-sm-2" })
        <div class="col-sm-3">
            @Html.DropDownList("IsActive", new List<SelectListItem>()
                {
                    new SelectListItem { Text = "Active", Value = "true" },
                    new SelectListItem { Text = "Inactive", Value = "false" }
                }, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>