﻿@using GridMvc.Html
@using TonyMultipurpose.Areas.HR.ViewModels
@model EmployeeInfoViewBoth
@{
    ViewBag.Title = "Employee Approval";
    WebGrid grid = new WebGrid(source: Model.UnApprovedEmployeeInfo, canPage: true,
        canSort: true, rowsPerPage: 500, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
    WebGrid grid1 = new WebGrid(source: Model.ApprovedEmployeeInfo, canPage: true,
        canSort: true, rowsPerPage: 500, ajaxUpdateContainerId: "checkableGrid1");
    int rowVal1 = 0;
}


@* Here  I am going to add some css for better looks *@



<h2>UnApproved EmployeeInfoList</h2>
<hr />
@*<div class="col-md-8">

    <div class="form-group col-md-5">
        <label class="control-label">Search  </label>
        <input type="text" id="search" class="form-control" placeholder="search"/>
    </div>

    </div>*@
<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>
<hr />
@using (Html.BeginForm("Approval", "Employee", FormMethod.Post)) 
{
    <div>
        @grid.GetHtml(
            tableStyle: "table table-bordered",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                    //Here I am going to add checkbox column
                    grid.Column("SL.No.", format: item => rowVal = rowVal + 1),
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@item.EmpId" name="Id" /> </text>,
                        header: "{checkall}"
                        ),
                    grid.Column("EmpCode", "Employee Code"),
                    grid.Column("EmployeeName", "Employee Name"),
                    grid.Column("DesignationName", "Designation Name"),
                    grid.Column("JoiningDate", "Joining Date", format:
                               (item) => string.Format("{0:dd/MMM/yyyy}", item.JoiningDate)),
                    grid.Column("BranchName", "Branch Name"),
                    grid.Column("MobileNo", "Mobile No")
                    @*grid.Column(
                    format: @<text> <input type="text" name="@item.EmpId" /> </text>,
                    header: "Reject Reason"
                    ),*@
                //grid.Column("Username", "Created By"),
                    @*grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new { id = @item.EmpId }, new { target = "_blank" })  </text>,
                        header: "Detail")*@
                )
            )
    </div>
    <div class="row" style="width:180px;margin-top:10px;">
        <div class="col-md-6">
            <input type="submit" value="Approve" name="action:Approve" class="btn btn-success" />
        </div>
        @*<div class="col-md-6">
            <input type="submit" value="Reject" name="action:Reject" class="btn btn-success" />
        </div>*@
    </div>

}

<hr/>
<h2>Approved EmployeeInfoList</h2>
<hr/>
<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="AEsearch" class="form-control" placeholder="search"/>
</div>
<hr/>
<div>
    @grid1.GetHtml(
            tableStyle: "table table-bordered",
            htmlAttributes: new { id = "checkableGrid1" },
            columns: grid1.Columns
                (
                    //Here I am going to add checkbox column
                    grid1.Column("SL.No.", format: item => rowVal1 = rowVal1 + 1),
                    grid1.Column("EmpCode", "Employee Code"),
                    grid1.Column("EmployeeName", "Employee Name"),
                    grid1.Column("DesignationName", "Designation Name"),
                    grid1.Column("JoiningDate", "Joining Date", format:
                               (item) => string.Format("{0:dd/MMM/yyyy}", item.JoiningDate)),
                    grid1.Column("BranchName", "Branch Name"),
                    grid1.Column("MobileNo", "Mobile No")
                )
            )
</div>

@* Here I am going to add some Jquery Code *@
@section styles
{
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    </style>
}
@section scripts
{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/Custom/HR/EmployeeApproval.js"></script>
}
