﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<EmployeeInformation>
@{
    ViewBag.Title = "Add New Employee";





}

<div class="panel panel-default" style="" id="tabs">
    <ul>
        <li>
            <a href="#basicInfo">Basic Information</a>
        </li>
        <li>
            <a href="#education">Education</a>
        </li>
        <li>
            <a href="#experience">Experience</a>
        </li>
    </ul>
    <br />
    <div class="row form-group">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color:red;font-size:medium"></label>
                <input type="hidden" id="hdfEmpId" name="hdfEmpId" />
                <input type="hidden" id="hdfExisitngImagePath" name="hdfExisitngImagePath" />
            </div>
        </div>
    </div>

    <div class="panel-body" id="basicInfo">
        <div class="row form-group">
            <fieldset style="padding-top:10px; border:1px solid #666; border-radius:8px; box-shadow:0 0 10px #666; background:#fff; height:auto">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Employee Code</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="EmpCode" name="EmpCode" class="form-control" readonly="readonly" />
                            </td>
                            <td colspan="2" rowspan="4">
                                <table>
                                    <tr>
                                        <td width="200px"></td>
                                        <td width="200px">
                                            <div class="form-group">
                                                <label class="control-label">Upload Image</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-default btn-file">
                                                            Browse… <input type="file" id="ImageFile" />
                                                        </span>
                                                    </span>
                                                    <input type="text" class="form-control" readonly>
                                                </div>

                                                <img id='img-upload' width="300" height="120" style="border:2px solid orange;" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">First Name</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="FirstName" name="FirstName" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Last Name</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="LastName" name="LastName" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Father Name</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="FatherName" name="FatherName" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Mother Name</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="MotherName" name="MotherName" class="form-control" />
                            </td>
                            <td width="200px" class="text-info">
                                <label class="text-info">NID</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="NID" name="NID" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Department</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <select name="DeptId" id="DeptId" class="form-control"></select>
                            </td>
                            <td width="200px" class="text-info">
                                <label class="text-info">Marital Status</label>
                            </td>
                            <td width="200px">
                                <select name="MaritalStatus" id="MaritalStatus" class="form-control">
                                    <option value="" selected>--Select--</option>
                                    <option value="single">Single</option>
                                    <option value="married">Married</option>
                                    <option value="widowed">Widowed</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Designation</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <select name="DesigId" id="DesigId" class="form-control"></select>
                            </td>
                            <td width="200px" class="text-info">
                                <label class="text-info">Functional Designation</label>
                            </td>
                            <td width="200px">
                                <select name="FunctionalId" id="FunctionalDesignation" class="form-control"></select>
                            </td>
                        </tr>

                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Branch</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <select name="BranchId" id="BranchId" class="form-control"></select>
                            </td>
                            <td width="200px" class="text-info">
                                <label class="text-info">Mobile No</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="MobileNo" name="MobileNo" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Joining Date</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="JoiningDate" name="JoiningDate" class="form-control datepicker" value="@DateTime.Now.ToString("dd/MMM/yyyy")" readonly />
                            </td>
                            <td width="200px" rowspan="2" class="text-info">
                                <label class="text-info">Present Address</label>
                            </td>
                            <td width="200px" rowspan="2">
                                <textarea id="PresentAddress" name="PresentAddress" class="form-control" style="height:80px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Date of Birth</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="DOB" name="DOB" class="form-control datepicker" value="@DateTime.Now.ToString("dd/MMM/yyyy")" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Current Salary</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="CurrentSalary" name="CurrentSalary" class="form-control" />
                            </td>
                            <td width="200px" rowspan="2" class="text-info">
                                <label class="text-info">Permanent Address</label>
                            </td>
                            <td width="200px" rowspan="2">
                                <textarea id="PermanentAddress" name="PermanentAddress" class="form-control" style="height:80px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Religion</label>
                            </td>
                            <td width="200px">
                                <select name="Religion" id="Religion" class="form-control">
                                    <option value="" selected>--Select--</option>
                                    <option value="islam">Islam</option>
                                    <option value="hinduism">Hinduism</option>
                                    <option value="christianity">Christianity</option>
                                    <option value="buddhism">Buddhism</option>
                                    <option value="Others">Others</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Gender</label>
                            </td>
                            <td width="200px">
                                <select name="Gender" id="Gender" class="form-control">
                                    <option value="" selected>--Select--</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="others">Others</option>
                                    <option value="Third Gender">Third Gender</option>
                                </select>
                            </td>

                            <td width="200px" class="text-info">
                                <label class="text-info">Email ID</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="EmailId" name="EmailId" class="form-control" />
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <input id="btnSave" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
                                <input id="btnEdit" type="button" value="Update" class="btn btn-success" style="padding: 8px 24px;" />
                                <input id="btnDelete" type="button" value="Delete" class="btn btn-success" style="padding: 8px 24px;" />
                                <input id="btnclear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                            </td>
                        </tr>


                        <tr>
                            <td colspan="4">
                                <div class="tablecontainer table-responsive">
                                    <table id="basicInfoTable" class="display" cellspacing="0" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Employee Name</th>
                                                <th>Designation</th>
                                                <th>Department</th>
                                                <th>Branch</th>
                                                <th>Mobile</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </fieldset>
        </div>
    </div>

    @*Education*@
    <div class="panel-body" id="education">
        <div class="row form-group">
            <fieldset style="padding-top:10px; border:1px solid #666; border-radius:8px; box-shadow:0 0 10px #666; background:#fff; height:auto">
                <div class="col-md-7">
                    <input type="hidden" id="hdfEducationId" name="hdfEducationId" />
                    <table class="table table-bordered">
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Employee Code</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="EdEmpCode" name="EdEmpCode" class="form-control" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Degree Name</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="DegreeName" name="DegreeName" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Institute Name</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="InstituteName" name="InstituteName" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Grade</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="Grade" name="Grade" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Passing Year</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <select name="PassingYear" id="PassingYear" class="form-control"></select>
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Description</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="Description" name="Description" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input id="btnSaveEducation" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
                                <input id="btnEditEducation" type="button" value="Update" class="btn btn-success" style="padding: 8px 24px;" />
                                <input id="btnDeleteEducation" type="button" value="Delete" class="btn btn-success" style="padding: 8px 24px;" />
                                <input id="btnclearEducation" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="tablecontainer table-responsive">
                                    <table id="educationalInfoTable" class="display" cellspacing="0" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Degree Name</th>
                                                <th>Grade</th>
                                                <th>Institute Name</th>
                                                <th>Passing Year</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>

    @*Experience*@
    <div class="panel-body" id="experience">
        <div class="row form-group">
            <fieldset style="padding-top:10px; border:1px solid #666; border-radius:8px; box-shadow:0 0 10px #666; background:#fff; height:auto">
                <div class="col-md-7">
                    <input type="hidden" id="hdfExperienceId" name="hdfExperienceId" />
                    <table class="table table-bordered">
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Employee Code</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="ExEmpCode" name="ExEmpCode" class="form-control" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Institute</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="Institute" name="Institute" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Year of Experience</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="YearOfExperience" name="YearOfExperience" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Position</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="Position" name="Position" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">From</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="From" name="From" class="form-control datepicker" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">To</label>
                            </td>
                            <td width="200px">
                                <input type="text" id="To" name="To" class="form-control datepicker" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input id="btnSaveExperience" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
                                <input id="btnEditExperience" type="button" value="Update" class="btn btn-success" style="padding: 8px 24px;" />
                                <input id="btnDeleteExperience" type="button" value="Delete" class="btn btn-success" style="padding: 8px 24px;" />
                                <input id="btnclearExperience" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="tablecontainer table-responsive">
                                    <table id="experienceInfoTable" class="display" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Instiute</th>
                                                <th>Years of Experience</th>
                                                <th>Position</th>
                                                <th>From</th>
                                                <th>To</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>
@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
        span.error {
            display: block inline;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }

        #img-upload {
            width: 100%;
        }
    </style>
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom/HR/EmployeeSave.js"></script>
}

