﻿
@using GridMvc.Html
@using TonyMultipurpose.Infrastructure.Common
@using TonyMultipurpose.Infrastructure.Helpers

@model IEnumerable<TonyMultipurpose.Models.RoleInfo>
@{
    ViewBag.Title = "User Role";
    WebGrid grid = new WebGrid(Model, canPage: true,
      canSort: true, rowsPerPage: 10, ajaxUpdateContainerId: "grdRole");
}

@using (Html.BeginForm("Index", "AssignUserRole", FormMethod.Get, new { @class = "form-inline" }))
{

    <div class="form-group"  style="margin: 10px 0;">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Save", "RoleInfo")"> Add New Role</a>
    </div>
   
}

<div class="table-responsive">
    @grid.Table(
    tableStyle: "table table-bordered table-striped table-condensed",
        htmlAttributes: new { id = "grdRole" },
        columns: grid.Columns
        (
            grid.Column("SL", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("RoleName", "Role"),
            grid.Column("CompanyName", "Company Name"),
            grid.Column("UserStatus", "Status"),
            grid.Column(style: "grid-action-column", format: @<text>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.RoleId }, new { target = "_blank" })</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.RoleId }, new { target = "_blank" })</li>
                    </ul>
                </div>
            </text>,
                header: "Action")
        ))


    @grid.PagerList(WebGridPagerModes.All, paginationStyle: "pagination", numericLinksCount: 10)

</div>



@*<div class="code-cut">
    <a class="popup btn btn-primary" href="~/RoleInfo/Save/0" style="margin-bottom: 20px; margin-top: 20px;">Add New Role</a>
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(a => a.RoleName).Titled("Role Name").Sortable(true).Filterable(true);
        columns.Add(a => a.CompanyName).Titled("Company Name").Sortable(true).Filterable(true);
        columns.Add(a => a.UserStatus).Titled("Status").Sortable(true).Filterable(true);
        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new {id = a.RoleId, @class = "btn btn-primary"})).Titled("<span>Edit</span>");
        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(a => Html.ActionLink("Delete", "Delete", new {id = a.RoleId})).Titled("Delete");
    }).WithPaging(10).Sortable(true)

</div>*@

@section styles
{
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
}

