﻿@model TonyMultipurpose.Models.RoleInfo
@{
    ViewBag.Title = "Role";
}


<h3>Add Role Name </h3>
<hr />

@using (Html.BeginForm("Save", "RoleInfo", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.RoleId > 0)
    {
        @Html.HiddenFor(b => b.RoleId)
    }



    <div class="form-group">

        @Html.LabelFor(a => a.CompanyName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-3">
            @Html.DropDownListFor(x => x.CompanyId, new SelectList(Model.Companies, "CompanyId", "CompanyName"), "--Select Company Name--", new { @class = "form-control" }
            )
            @Html.ValidationMessageFor(b => b.CompanyId, "", new { @class = "text-danger", @style = "color:red" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.RoleName, new {@class = "control-label col-sm-2"})
        <div class="col-sm-3">
            @Html.TextBoxFor(b => b.RoleName, new {@class = "form-control"})
            @Html.ValidationMessageFor(b => b.RoleName, "", new {@class = "text-danger", @style = "color:red"})
        </div>
    </div>



        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
}


<div>
    <a class="popup btn btn-primary" href="~/RoleInfo/Index" style="margin-bottom:20px; margin-top:20px;">Back To List</a>
</div>