﻿@model TonyMultipurpose.Areas.Share.ViewModels.SharePurchaseViewModel
@using TonyMultipurpose.Infrastructure.Helpers
@using TonyMultipurpose.Areas.Share.Models;
@using TonyMultipurpose.Infrastructure.Common
@using TonyMultipurpose.Infrastructure.Helpers

@{
    ViewBag.Title = "Customer Share Purchase";
}


<div class="row">
    <div class="col-sm-5"> 
        @using (Html.BeginForm("Index", "SharePurchase", FormMethod.Post, new { @class = "form-horizontal", @id = "sharePurchase" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.PricePerShare)
@*            @Html.HiddenFor(model => model.COAId)*@

            <div class="row form-group">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <label id="showMessage" style="color: red; font-size: medium"></label>
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.IssuedDate, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.IssuedDate, new { @readonly = "readonly" })
                    @Html.BootstrapValidationMessageFor(model => model.IssuedDate)
                </div>
            </div>


            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.VoucherNo, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.VoucherNo)
                    @Html.BootstrapValidationMessageFor(model => model.VoucherNo)
                </div>
            </div>


            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.CustomerId, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.CustomerId)
                    @Html.BootstrapValidationMessageFor(model => model.CustomerId)
                </div>
            </div>
                        
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Amount, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.Amount)
                    @Html.BootstrapValidationMessageFor(model => model.Amount)
                </div>
            </div>
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.PricePerShare, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.PricePerShare, new { @readonly = "readonly" })
                    @Html.BootstrapValidationMessageFor(model => model.PricePerShare)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Total Amount</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="TotalAmount" name="TotalAmount" readonly="readonly" class="form-control" maxlength="15" onkeypress="return IsInteger(event);" />
                </div>
             
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Particular, "col-md-4")
                <div class="col-md-8">
                    @Html.BootstrapTextBoxFor(model => model.Particular)
                    @Html.BootstrapValidationMessageFor(model => model.Particular)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Received By<span class="error">*</span></label>
                </div>
                <div class="col-md-8">
                    <select name="COAId" id="COAId" class="form-control"></select>
                </div>
               
            </div>

            <div class="form-group">
                <div class="col-md-4">

                </div>
                <div class="col-md-8">
                    @Html.CheckBoxFor(model => model.IsChequePayment)
                    @*<input type="checkbox" name="IsChequePayment" id="IsChequePayment">*@
                    <label class="control-label">Cheque Entry<span class="error">*</span></label>
                </div>
            </div>
            <div id="checkInfo">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">Cheque No<span class="error">*</span></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="ChequeNo" name="ChequeNo" placeholder="Cheque No" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">Issue Date<span class="error">*</span></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="ChequeIssuedDate" name="ChequeIssuedDate" placeholder="Issue Date" readonly="readonly" class="form-control datepicker" />
                    </div>
                </div>
            </div>
            <div id="BankInfo">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">Bank Name<span class="error">*</span></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="BankName" name="BankName" placeholder="Bank Name" readonly="readonly" class="form-control">
                    </div>
                </div>
                <div class="form-group cheque">
                    <div class="col-md-4">
                        <label class="control-label">Branch Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="BranchName" name="BranchName" placeholder="Branch Name" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">A/C No<span class="error">*</span></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="BankAccountNo" name="BankAccountNo" placeholder="A/C No" readonly="readonly" class="form-control" />
                    </div>
                </div>
            </div>
            @*<input type="hidden" id="hdnAccountToId" name="COAId"/>
            <input type="hidden" id="hdnAccountToCode" name="COAId"/>
            <input type="hidden" id="hdnAccountToName" name="COAId"/>
            <input type="hidden" id="hdnAccountToGroupId" name="COAId"/>
            <input type="hidden" id="hdnAccountToGroupName" name="COAId"/>
            <input type="hidden" id="hdnAccountToCategoryId" name="COAId"/>
            <input type="hidden" id="hdnAccountToCategoryName" name="COAId"/>
            <input type="hidden" id="hdnAccountToClientCode" name="COAId"/>
            <input type="hidden" id="hdnAccountToClientName" name="COAId"/>
            <input type="hidden" id="hdnAccountToSupplierCode" name="COAId"/>
            <input type="hidden" id="hdnAccountToSupplierName" name="COAId"/>*@

            <input type="hidden" id="hdBalance" />
            <input type="hidden" id="hdIssuedQty"/>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input id="submit" type="submit" value="Save" class="btn btn-success" />
                </div>

            </div>
        }
    </div>
    <div class="col-sm-7">
        @using (Html.DefaultBox("Customer"))
        {
            <div id="customerInfo"></div>
        }
    </div>
   
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />


<style>
    span.error {
        display: block inline;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    .thick {
        font-weight: bold;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>


@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="@Url.Content("~/Scripts/Custom/Share/Share_Purchase.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

