﻿@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.FinancialTransactions.Models.FinancialTransactionsModel>
@{
    ViewBag.Title = "Cheque Clearence";
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 500, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
}


@* Here  I am going to add some css for better looks *@

<hr />
<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>
<hr />
@using (Html.BeginForm("", "ChequeClearence", FormMethod.Post))
{
    <div>
        @grid.GetHtml(
            tableStyle: "table table-bordered",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                    //Here I am going to add checkbox column
                    grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@item.Id" name="Id" /> </text>,
                        header: "{checkall}"
                        ),
                    
                    grid.Column("TransactionDate", "Transaction Date", format:
                               (item) => string.Format("{0:dd/MMM/yyyy}", item.TransactionDate)),
                    grid.Column("ChequeIssueDate", "ChequeIssue Date", format:
                               (item) => string.Format("{0:dd/MMM/yyyy}", item.ChequeIssueDate)),
                    grid.Column("TransactionId", "Transaction Id"),
                    grid.Column("VoucherType", "Voucher Type"),
                    grid.Column("VoucherCode", "Voucher Code"),
                    grid.Column("Particular", "Particular"),
                    grid.Column("AccountCode", "Account Code"),
                    grid.Column("AccountName", "Account Name"),
                    grid.Column("BankName", "Bank Name"),
                    grid.Column("BankAccountNo", "Bank Account No"),
                    grid.Column("ChequeNo", "Cheque No"),
                    grid.Column("Debit", "Debit"),
                     grid.Column("Credit", "Credit"),
                      grid.Column("Remarks", "Remarks"),
                    @*grid.Column(
                        format: @<text> <input type="text" name="@item.TransactionId" /> </text>,
                        header: "Reject Reason"
                        ),*@
                    grid.Column("UserStatus", "Created By"),
                    grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new { Id = @item.Id }, new { target = "_blank" })  </text>,
                        header: "Detail")
                )
            )
    </div>
    <div class="row" style="width:180px;margin-top:10px;">
        <div class="col-md-6">
            <input type="submit" value="Clearence" name="action:Clearence" class="btn btn-success" />
        </div>
        @*<div class="col-md-6">
            <input type="submit" value="Reject" name="action:Reject" class="btn btn-success" />
        </div>*@
    </div>

}

@section styles
{
   <style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>
}

@section scripts
{
    @* Here I am going to add some Jquery Code *@
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/Custom/FinancialTransactions/ChequeClearence/ChequeClearence.js"></script>
}