﻿@model TonyMultipurpose.Areas.FinancialTransactions.Models.FinancialTransactionsModel
@{
    ViewBag.Title = " Fixed Deposit Transaction Detail";
}

<div class="container panel panel-default" style="float: left">
<div class="panel-heading">
    <h2>Fixed Deposit Info </h2>
</div>
<div class="panel-body">
<table width="100%">

<tr>
<td>
<table>

    <tr>
        <td>
            <label class="control-label">Transaction Date</label>
        </td>
        <td>
            <input type="text" id="TransactionDate" class="form-control" value="@Model.TransactionDate.ToString("dd/MMM/yyyy")" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label">ChequeIssue Date </label>
        </td>
        <td>
            <input type="text" id="ChequeIssueDate" class="form-control" value="@Model.ChequeIssueDate.ToString("dd/MMM/yyyy")" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label">Transaction Id</label>
        </td>
        <td>
            <input type="text" id="TransactionId" class="form-control" value="@Model.TransactionId" readonly="readonly"/>
            <span class="error">space </span>
        </td>

    </tr>
    <tr>
        <td>
            <label class="control-label">Voucher Type</label>
        </td>
        <td>
            <input type="text" id="VoucherType" class="form-control" value="@Model.VoucherType" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>

    <tr>
        <td>
            <label class="control-label">Voucher Code</label>
        </td>
        <td>
            <input type="text" id="VoucherCode" class="form-control" value="@Model.VoucherCode" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>

    <tr>
        <td>
            <label class="control-label">Particular</label>
        </td>
        <td>
            <input type="text" id="Particular" class="form-control" value="@Model.Particular" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>

    <tr>
        <td>
            <label class="control-label">Account Name</label>
        </td>
        <td>
            <input type="text" id="AccountName" class="form-control" value="@Model.AccountName" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>

    <tr>
        <td>
            <label class="control-label">Account Code</label>
        </td>
        <td>
            <input type="text" id="AccountCode" class="form-control" value="@Model.AccountCode" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>

    <tr>
        <td>
            <label class="control-label">Bank Account No</label>
        </td>
        <td>
            <input type="text" id="BankAccountNo" class="form-control" value="@Model.BankAccountNo" readonly="readonly"/>
            <span class="error">space </span>
        </td>

    </tr>
    <tr>
        <td>
            <label class="control-label">Bank Name</label>
        </td>
        <td>
            <input type="text" id="BankName" class="form-control" value="@Model.BankName" readonly="readonly"/>
            <span class="error">space </span>
        </td>

    </tr>

    <tr>
        <td>
            <label class="control-label">Cheque No</label>
        </td>
        <td>
            <input type="text" id="ChequeNo" class="form-control" value="@Model.ChequeNo" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>

    <tr>
        <td>
            <label class="control-label">BranchName</label>
        </td>
        <td>
            <input type="text" id="BranchName" class="form-control" value="@Model.BranchName" readonly="readonly"/>
            <span class="error">space </span>
        </td>

    </tr>

    <tr>
        <td>
            <label class="control-label">Credit</label>
        </td>
        <td>
            <input type="text" id="Credit" class="form-control" value="@Model.Credit" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label">Debit</label>
        </td>
        <td>
            <input type="text" id="Debit" class="form-control" value="@Model.Debit" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label">Entry Type</label>
        </td>
        <td>
            <input type="text" id="EntryType" class="form-control" value="@Model.EntryType" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label">Is Advance Payment</label>
        </td>
        <td>
            <input type="text" id="IsAdvancePayment" class="form-control" value="@Model.IsAdvancePayment" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label">Is Cheque Payment</label>
        </td>
        <td>
            <input type="text" id="IsChequePayment" class="form-control" value="@Model.IsChequePayment" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>
    @*<tr>
                            <td>
                                <label class="control-label">Is Approved</label>
                            </td>
                            <td>
                                <input type="text" id="IsApproved" class="form-control" value="@Model.IsApproved" readonly="readonly" />
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Is Cleared</label>
                            </td>
                            <td>
                                <input type="text" id="IsCleared" class="form-control" value="@Model.IsCleared" readonly="readonly" />
                                <span class="error">space </span>
                            </td>
                        </tr>*@
    <tr>
        <td>
            <label class="control-label">Created By</label>
        </td>
        <td>
            <input type="text" id="Username" class="form-control" value="@Model.UserStatus" readonly="readonly"/>
            <span class="error">space </span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><a class="popup btn btn-primary" href="@Url.Action("Index", "FDApproval", new {Area = "FixedDeposit"})">Back To List</a></td>
    </tr>

</table>
</td>
</tr>
</table>
</div>
</div>

@section styles
{
    <style>
    /*Adding some css for looks good*/
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 90%;
        }


        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 1px solid #BFAEAE !important;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: left;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }

        #hideid {
            display: none;
        }
    </style>
}