﻿@using TonyMultipurpose.Areas.Loan.Models;
@model IEnumerable<LoanModel>

@{
    ViewBag.Title = "Client Info";
}




<div class="container">
<br/>
    <div class="row form-group">
        <div class="row">
            <div class="col-md-2">                
            </div>
            <div class="col-md-6">
                <label id="showMessage" style="color:red;font-size:medium"></label> 
            </div>
              
        </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Client Code</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="ClientCode" name="ClientCode" class="form-control" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Client Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="ClientName" name="ClientName" class="form-control" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Company Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="Company" name="Company" class="form-control" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Phone</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="Phone" name="Phone" class="form-control" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">COA Code</label>
                </div>
                <div class="col-md-6">
                    <select name="AccountName" id="COA_accountName" class="form-control"></select>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
            <input id="clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
        </div>
    </div>
</div>

<div class="tablecontainer table-responsive">
    <table id="ClientInfoTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th>Client Code</th>
                <th>Client Name</th>
                <th>Company Name</th>
                <th>Phone</th>
                <th>COA Code</th>                
            </tr>
        </thead>
    </table>
</div>

@section styles
{
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<style>
    span.error {
        display: block inline;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    div.row {
        margin-bottom: 5px;
    }
</style>
}

@section scripts
{
    <script src="~/Scripts/Custom/FinancialTransactions/ClientInfo/ClientInfoSave.js"></script>
}


