﻿@model IEnumerable<TonyMultipurpose.Areas.Accounts.ViewModels.AccountsViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Reverse Entry";
    var grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 500);
    int rowVal = 0;
}
@section styles
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        #TransactionDate {
            position: relative;
            z-index: 100000;
        }
    </style>
}


<h2>Reverse Entry Info </h2>
<hr />
<div class="container panel panel-default" style="float: left">
    @using (Html.BeginForm("Index", "ReverseEntry", FormMethod.Post))
    {
        <div class="panel-body">
            <div class="form-group" id="Date" style="width: 700px">
                <label class="control-label col-sm-2" for="TransactionDate">Date</label>
                <div class="col-sm-3">
                    <input type="text" id="TransactionDate" name="TransactionDate" class="form-control" value="@(ViewBag.TransactionDate??DateTime.Now.ToString("dd/MMM/yyyy"))" />
                </div>
                <div style="padding-right: 50px; text-align: center">
                    <button type="submit" class="btn btn-primary" style="padding: 10px 40px">View Transaction</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="input-group col-md-3">
            <span class="input-group-addon">Search</span>
            <input type="text" id="search" class="form-control" placeholder="search" />
        </div>
        <hr />
        <div id="gridData">
            @grid.GetHtml(
                tableStyle: "gridtable",
                columns: grid.Columns
                    (
                        //Here I am going to add checkbox column
                        grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                        grid.Column("AccountType", "Account Type"),
                        grid.Column("TransactionId", "Transaction Id"),
                        grid.Column("TransactionType", "Transaction Type"),
                        grid.Column("TransactionDate", "Transaction Date", format: (item) => string.Format("{0:MMM/dd/yyyy}", item.TransactionDate)),
                        grid.Column("CustomerId", "Customer Id"),
                        grid.Column("CustomerName", "Account Title"),
                        grid.Column("Mobile", "Mobile"),
                        grid.Column("AccountNumber", "Account Number"),
                        grid.Column("InterestRate", "Interest Rate"),
                        grid.Column("Amount", "Amount"),
                        grid.Column("MatureAmount", "Mature Amount"),
                        grid.Column("MatureDate", "Mature Date", format: (item) => string.Format("{0:MM/dd/yyyy}", item.MatureDate)),
                        grid.Column("Fine", "Fine"),
                        grid.Column("InstallmentNumber", "Installment Number"),
                        grid.Column("InstallmentMonth", "Installment Month"),
                        grid.Column("Username", "Created By"),
                        grid.Column(format: @<text> <input type="button" id="@(string.Concat(item.TransactionId, "_", item.AccountSetupId))" value="Reverse" name="action:Reverse" class="btn btn-success ReverseButton" /></text>,
                            header: "Action")
                    )
                )
        </div>
        }
    </div>

@section scripts
{
    
<script src="~/Scripts/Custom/Accounts/ReverseEntryIndex.js"></script>
}

