﻿@using CrystalDecisions.CrystalReports.Engine
@using TonyMultipurpose.Areas.Customer.Models
@model TonyMultipurpose.Areas.Customer.Models.CustomerModel
@{
    ViewBag.Title = "Customer";
}

<div class="container panel panel-default" style="float: left" id="tabs">
    <ul>
        <li><a href="#customerInfo">Basic Information</a></li>
        <li><a href="#businessInfo">Business Information</a></li>
        <li><a href="#bankDetailInfo">Bank Detail Information</a></li>
        @*<li>
            <div style="position: relative; right: -378px; top: -7.3px;">
                <div class="form-group">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-1">
                        <input id="submit" type="button" value="New" class="btn btn-primary" style="padding: 10px 40px"/>
                    </div>
                </div>
            </div>
        </li>*@
       
    </ul>

    <div style="margin-top:10px;">
        <input id="submit" type="button" value="Save" class="btn btn-primary" style="padding: 5px 15px;" />
    </div>
<div id="customerInfo">
<table>

<tr>
    <td>
        <label class="control-label">1. Customer Id</label>
    </td>
    <td>
        <input type="text" id="CustomerId" class="form-control" name="CustomerId" readonly="readonly" value="< New Entry >"/>
    </td>
    <td><span class="error">**</span></td>
    <td>

        <div class="form-group">

            <div class="col-md-3">
                <input id="new" type="button" value="New" class="btn btn-primary" style="padding: 10px 40px"/>

            </div>
            <div class="col-md-1">


            </div>
            <div class="col-md-3">
                <input id="edit" type="button" value="Edit" class="btn btn-primary" style="padding: 10px 40px"/>
            </div>

        </div>
    </td>

</tr>

<tr>
    <td>
        <label class="control-label">2. Entry Date</label>
    </td>
    <td>
        <input type="text" id="CustomerEntryDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")"/>
    </td>
    <td><span class="error">**</span></td>
</tr>
<tr>
    <td>
        <label class="control-label">3. Customer Name</label>
    </td>
    <td>
        <input type="text" id="CustomerName" class="form-control" maxlength="99"/>
    </td>
    <td><span class="error">**</span></td>
</tr>

<tr>
    <td>
        <label class="control-label">4. Father Name</label>
    </td>
    <td>
        <input type="text" id="FatherName" class="form-control" maxlength="99"/>
    </td>
    <td><span class="error">**</span></td>
</tr>
<tr>
    <td>
        <label class="control-label">5. Mother Name</label>
    </td>
    <td>
        <input type="text" id="MotherName" class="form-control" maxlength="99"/>
    </td>
    <td><span class="error">**</span></td>
</tr>
<tr>
    <td>
        <label class="control-label">6. Spouse Name</label>
    </td>
    <td>
        <input type="text" id="SpouseName" class="form-control" maxlength="99"/>
    </td>
    <td><span class="error">**</span></td>
</tr>

<tr>
    <td>
        <label class="control-label">7. NID No</label>
    </td>
    <td>
        <input type="text" id="NationalId" class="form-control" maxlength="24"/>
    </td>
    <td><label id="messageForDuplicateNIDCheck"></label></td>
</tr>
    <tr>
        <td>
            <label class="control-label">8. Birth Certificate Id</label>
        </td>
        <td>
            <input type="text" id="BirthCertificateNo" class="form-control"  maxlength="24"/>
        </td>
        <td><span class="error">**</span></td>
    </tr>
<tr>
    <td>
        <label class="control-label">9. Date Of Birth</label>
    </td>
    <td>
        <input type="text" id="DateOfBirth" class="form-control" readonly="readonly"/>
    </td>
    <td><span class="error">**</span></td>
</tr>
    <tr>

        <td>
            <label class="control-label">10. Nationality</label>
        </td>
        <td>
            @Html.DropDownListFor(a => a.Nationality, new List<SelectListItem>()
        {
            new SelectListItem {Text = "Bangladeshi", Value = "Bangladeshi"},
            new SelectListItem {Text = "Others", Value = "Others"}
        }, new { @class = "form-control", id = "Nationality" })
        </td>
        <td><span class="error">**</span></td>
    </tr>
<tr>
    <td>
        <label class="control-label">11. Gender</label>
    </td>
    <td>
        @Html.DropDownListFor(a => a.Gender, new List<SelectListItem>()
        {
            new SelectListItem {Text = "Male", Value = "male"},
            new SelectListItem {Text = "Female", Value = "female"},
            new SelectListItem {Text = "Others", Value = "other"}
        }, new {@class = "form-control"})
    </td>
    <td><span class="error">**</span></td>
</tr>
    <tr>
        <td>
            <label class="control-label">12. Present Address</label>
        </td>
        <td>
            <textarea id="PresentAddress" style="width: 100%" class="form-control"  maxlength="299"></textarea>
        </td>
        <td><span class="error">**</span></td>
    </tr>
    <tr>
        <td>
            <label class="control-label">13. Permanent Address</label>
        </td>
        <td>
            <textarea id="PermanentAddress" style="width: 100%" class="form-control" maxlength="299"></textarea>
        </td>
        <td><span class="error">**</span></td>
    </tr>
    
<tr>
    <td>
        <label class="control-label">14. Mobile</label>
    </td>
    <td>
        <input type="text" id="Mobile" class="form-control" onchange="return mobileNumber(this)" maxlength="14"/>
    </td>
    <td><span class="error">**</span></td>
</tr>

    <tr>
        <td>
            <label class="control-label">15. Another Cell No</label>
        </td>
        <td>
            <input type="text" id="AnotherCellNo" class="form-control" maxlength="14"/>
        </td>
        <td><span class="error">**</span></td>
    </tr>

<tr>
    <td>
        <label class="control-label">16. Email</label>
    </td>
    <td>
        <input type="text" id="Email" class="form-control" onchange="return validateEmailAddress(this.value)" maxlength="49"/>
    </td>
    <td><span class="error">**</span></td>
</tr>

    <tr>
        <td>
            <label class="control-label">17. Profession/Income Source</label>
        </td>
        <td>
            <input type="text" id="CustomerIncomeSource" class="form-control" maxlength="49"/>
        </td>
        <td><span class="error">**</span></td>
    </tr>
    <tr>
        <td>
            <label class="control-label">18. Organization/Institution</label>
        </td>
        <td>
            <input type="text" id="OccupationAndPosition" class="form-control" maxlength="99"/>
        </td>
        <td><span class="error">**</span></td>
    </tr>
    <tr>
        <td>
            <label class="control-label">19. Designation/Position</label>
        </td>
        <td>
            <input type="text" id="Position" class="form-control" maxlength="99"/>
        </td>
        <td><span class="error">**</span></td>
    </tr>
<tr>
    <td>
        <label class="control-label">20. Image</label>
    </td>
    <td>
        <img src="" alt="No Image" width="300px" height="300px" id="imageDisplay"/>
        <input type="file" name="fileUpload" id="fileUpload"/>
    </td>
    <td><span class="error">**</span></td>
</tr>
</table>
</div>
    <div id="businessInfo">

        <table>
            <tr>
                <td>
                    <label class="control-label">1. TIN NO</label>
                </td>
                <td>
                    <input type="text" id="TINNo" class="form-control" maxlength="49"/>
                </td>
                <td><span class="error">**</span></td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">2. Trade License</label>
                </td>
                <td>
                    <input type="text" id="TradeLicenseNo" class="form-control" maxlength="49"/>
                </td>
                <td><span class="error">**</span></td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">3. Trade Lic Authority</label>
                </td>
                <td>
                    <input type="text" id="TradeLicAuthority" class="form-control" maxlength="49"/>
                </td>
                <td><span class="error">**</span></td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">4. Trade License Issue Date</label>
                </td>
                <td>
                    <input type="text" id="TradeLicenseDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")"/>
                </td>
                <td><span class="error">**</span></td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">5. Office Address</label>
                </td>
                <td>
                    <textarea id="OfficeAddress" style="width: 100%" class="form-control" maxlength="299"></textarea>
                </td>
                <td><span class="error">**</span></td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">6. Office No</label>
                </td>
                <td>
                    <input type="text" id="Office" class="form-control" maxlength="14"/>
                </td>
                <td><span class="error">**</span></td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">7. T&T No</label>
                </td>
                <td>
                    <input type="text" id="Home" class="form-control" maxlength="14"/>
                </td>
                <td><span class="error">**</span></td>
            </tr>
            
            <tr>
                <td>
                    <label class="control-label">8. Driving License No</label>
                </td>
                <td>
                    <input type="text" id="DrivingLicenseNo" class="form-control" maxlength="49"/>
                </td>
                <td><span class="error">**</span></td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">9. Registration No</label>
                </td>
                <td>
                    <input type="text" id="RegistrationNo" class="form-control" maxlength="49"/>
                </td>
                <td><span class="error">**</span></td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">10. Registration Authority</label>
                </td>
                <td>
                    <input type="text" id="RegistrationAuthority" class="form-control" maxlength="49"/>
                </td>
                <td><span class="error">**</span></td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">11. Passport No</label>
                </td>
                <td>
                    <input type="text" id="PassportNo" class="form-control" maxlength="49"/>
                </td>
                <td><span class="error">**</span></td>
            </tr>
            <tr>

                <td>
                    <label class="control-label">12. Passport Expire Date</label>
                </td>
                <td>
                    <input type="text" id="PassportExpireDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")"/>
                </td>
                <td><span class="error">**</span></td>
            </tr>
           
            
            
            
        </table>

    </div>

<div id="bankDetailInfo">

    <table width="100%">
        <tr>
            <td>
                <label class="control-label">Bank/NGO/CLUB</label>
            </td>
            <td>
                <label class="control-label">Branch Name</label>
            </td>
            <td>
                <label class="control-label">Account Type</label>
            </td>

        </tr>
        <tr>

            <td>
                <input type="text" id="BankName" class="form-control bankDetailInput" maxlength="99"/>
                <span class="error">Name is required</span>
            </td>
            <td>
                <input type="text" id="BranchName" class="form-control bankDetailInput" maxlength="99"/>
                <span class="error">Branch Name is Required</span>
            </td>
            <td>
                <select id="AccountType" class="form-control bankDetailInput">
                    <option value="0">select account type</option>
                    <option value="Deposit">Deposit</option>
                    <option value="Loan">Loan</option>
                </select>
                <span class="error">Account Type required</span>
            </td>

            <td>
                <input type="button" id="add" value="Add Record" class="btn btn-danger"/>
                <input type="button" id="update" value="Update Record" class="btn btn-group-sm btn-primary"/>
            </td>
            <td>
                <input type="text" id="hideid"/>
            </td>
        </tr>
    </table>
    <hr/>
    <div id="BankItems" class="tablecontainer table table-striped table-hover">

    </div>
</div>

    <input type="hidden" id="hiddenCustomerId" />
    <input type="hidden" id="hiddenCustomerName" />
    <input type="hidden" id="hiddenCustomerImagePath" />

</div>


@section styles
{
    
    <style>
        /*Adding some css for looks good*/
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 100%;
        }


        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 1px solid #BFAEAE !important;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: left;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }

        #hideid {
            display: none;
        }

        .formatedTable td {
            padding-bottom: 6px;
        }

        .formatedTable input {
            padding-right: 210px;
        }

        .form-group {
            margin-bottom: 7px;
        }
    </style>
}
@section scripts
{
    
    
<script src="~/Scripts/Custom/Customer/CustomerCreate.js"></script>
}










