﻿@using TonyMultipurpose.Infrastructure.Common
@using TonyMultipurpose.Infrastructure.Helpers
@model IEnumerable<TonyMultipurpose.Areas.Customer.Models.CustomerModel>
@{
    ViewBag.Title = "Customer Information";
    WebGrid grid = new WebGrid(Model, canPage: true,
        canSort: true, rowsPerPage: 20, ajaxUpdateContainerId: "grdCustomer");
}


@using (Html.BeginForm("Index", "Customer", FormMethod.Get, new { @class = "form-inline" }))
{

    <div class="form-group">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "Customer")">+ Add New Customer </a>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" id="search" name="search" class="form-control input-sm search-box" placeholder="Enter Search Keywords"/>
            <div class="input-group-btn">
                <button class="btn btn-default btn-sm" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>
}

<div class="table-responsive">
    @grid.Table(
    tableStyle: "table table-bordered table-striped table-condensed",
        htmlAttributes: new { id = "grdCustomer" },
        columns: grid.Columns
        (
            grid.Column("SL", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("CustomerEntryDate", "Entry Date", (item) => string.Format("{0:dd/MMM/yyyy}", item.CustomerEntryDate)),
            grid.Column("CustomerId", "Customer Id"),
            grid.Column("CustomerName", "Customer Name"),
            grid.Column("Mobile", "Mobile"),
            grid.Column("FatherName", "Father Name"),
            grid.Column("BranchId", "Center Name"),
            grid.Column("BranchId", "Center Name2"),
            grid.Column("DateOfBirth", "Birth Date", (item) => string.Format("{0:dd/MMM/yyyy}", item.DateOfBirth)),
            grid.Column("CustomerImage", header: "Image", style: "grid-image-column", format: @<text><img src="@(Url.Content("~/" + item.CustomerImage))" class="grid-image" /></text>),
            grid.Column(style: "grid-action-column", format: @<text>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }, new { target = "_blank" })</li>
                        <li>@Html.ActionLink("Detail", "CustomerDetail", new { id = item.CustomerId }, new { target = "_blank" })</li>
                        <li>@Html.ActionLink("Print", "CreatePDF", new { id = item.CustomerId, name = item.CustomerName }, new { target = "_blank" })</li>
                    </ul>
                </div>
            </text>,
                header: "Action")
        ))


    @grid.PagerList(WebGridPagerModes.All, paginationStyle: "pagination", numericLinksCount: 10)

</div>