﻿@using System.Data
@model TonyMultipurpose.Areas.Customer.Models.CustomerModel

@{
    ViewBag.Title = "Customer Detils";
    Layout = null;
    var a = "";
    var row = 0;
}
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<style>
    .borderSet > th {
        border: 1px solid black;
    }

    .borderSet > td {
        border: 1px solid black;
    }

    .mainHedder {
        text-align: center;
        font-weight: bold;
    }

    .GroupBold {
        font-weight: bold;
        padding-bottom: 50px;
    }

    .table > tr > td {
        border-top: 0px !important;
    }

    #rowLine {
        color: #f00;
        background-color: black;
        height: 1px;
    }

    #tdDelete {
        border: 0px !important;
    }

    #tdWidth {
        width: 50px !important;
    }

    #borderRight {
        border-right: 1px !important;
    }
</style>
<style>
    table {
        background-color: tr class="borderSet"ansparent;
    }

    caption {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #777;
        text-align: left;
    }

    th {
        text-align: left;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

        .table > thead > tr class="borderSet" > th,
        .table > tbody > tr class="borderSet" > th,
        .table > tfoot > tr class="borderSet" > th,
        .table > thead > tr class="borderSet" > td,
        .table > tbody > tr class="borderSet" > td,
        .table > tfoot > tr class="borderSet" > td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        .table > thead > tr class="borderSet" > th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
        }

        .table > caption + thead > tr class="borderSet":first-child > th,
        .table > colgroup + thead > tr class="borderSet":first-child > th,
        .table > thead:first-child > tr class="borderSet":first-child > th,
        .table > caption + thead > tr class="borderSet":first-child > td,
        .table > colgroup + thead > tr class="borderSet":first-child > td,
        .table > thead:first-child > tr class="borderSet":first-child > td {
            border-top: 0;
        }

        .table > tbody + tbody {
            border-top: 2px solid #ddd;
        }

        .table .table {
            background-color: #fff;
        }

    .table-condensed > thead > tr class="borderSet" > th,
    .table-condensed > tbody > tr class="borderSet" > th,
    .table-condensed > tfoot > tr class="borderSet" > th,
    .table-condensed > thead > tr class="borderSet" > td,
    .table-condensed > tbody > tr class="borderSet" > td,
    .table-condensed > tfoot > tr class="borderSet" > td {
        padding: 5px;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

    .table {
        border-collapse: collapse;
    }

    .table-bordered > thead > tr class="borderSet" > th,
    .table-bordered > tbody > tr class="borderSet" > th,
    .table-bordered > tfoot > tr class="borderSet" > th,
    .table-bordered > thead > tr class="borderSet" > td,
    .table-bordered > tbody > tr class="borderSet" > td,
    .table-bordered > tfoot > tr class="borderSet" > td {
        border: 1px solid #ddd;
    }

    .table-bordered > thead > tr class="borderSet" > th,
    .table-bordered > thead > tr class="borderSet" > td {
        border-bottom-width: 2px;
    }

    .table-str class="borderSet"iped > tbody > tr class="borderSet":nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-hover > tbody > tr class="borderSet":hover {
        background-color: #f5f5f5;
    }

    table col[class*="col-"] {
        position: static;
        display: table-column;
        float: none;
    }

    table td[class*="col-"],
    table th[class*="col-"] {
        position: static;
        display: table-cell;
        float: none;
    }

    .table > thead > tr class="borderSet" > td.active,
    .table > tbody > tr class="borderSet" > td.active,
    .table > tfoot > tr class="borderSet" > td.active,
    .table > thead > tr class="borderSet" > th.active,
    .table > tbody > tr class="borderSet" > th.active,
    .table > tfoot > tr class="borderSet" > th.active,
    .table > thead > tr class="borderSet".active > td,
    .table > tbody > tr class="borderSet".active > td,
    .table > tfoot > tr class="borderSet".active > td,
    .table > thead > tr class="borderSet".active > th,
    .table > tbody > tr class="borderSet".active > th,
    .table > tfoot > tr class="borderSet".active > th {
        background-color: #f5f5f5;
    }

    .table-hover > tbody > tr class="borderSet" > td.active:hover,
    .table-hover > tbody > tr class="borderSet" > th.active:hover,
    .table-hover > tbody > tr class="borderSet".active:hover > td,
    .table-hover > tbody > tr class="borderSet":hover > .active,
    .table-hover > tbody > tr class="borderSet".active:hover > th {
        background-color: #e8e8e8;
    }

    .table > thead > tr class="borderSet" > td.success,
    .table > tbody > tr class="borderSet" > td.success,
    .table > tfoot > tr class="borderSet" > td.success,
    .table > thead > tr class="borderSet" > th.success,
    .table > tbody > tr class="borderSet" > th.success,
    .table > tfoot > tr class="borderSet" > th.success,
    .table > thead > tr class="borderSet".success > td,
    .table > tbody > tr class="borderSet".success > td,
    .table > tfoot > tr class="borderSet".success > td,
    .table > thead > tr class="borderSet".success > th,
    .table > tbody > tr class="borderSet".success > th,
    .table > tfoot > tr class="borderSet".success > th {
        background-color: #dff0d8;
    }

    .table-hover > tbody > tr class="borderSet" > td.success:hover,
    .table-hover > tbody > tr class="borderSet" > th.success:hover,
    .table-hover > tbody > tr class="borderSet".success:hover > td,
    .table-hover > tbody > tr class="borderSet":hover > .success,
    .table-hover > tbody > tr class="borderSet".success:hover > th {
        background-color: #d0e9c6;
    }

    .table > thead > tr class="borderSet" > td.info,
    .table > tbody > tr class="borderSet" > td.info,
    .table > tfoot > tr class="borderSet" > td.info,
    .table > thead > tr class="borderSet" > th.info,
    .table > tbody > tr class="borderSet" > th.info,
    .table > tfoot > tr class="borderSet" > th.info,
    .table > thead > tr class="borderSet".info > td,
    .table > tbody > tr class="borderSet".info > td,
    .table > tfoot > tr class="borderSet".info > td,
    .table > thead > tr class="borderSet".info > th,
    .table > tbody > tr class="borderSet".info > th,
    .table > tfoot > tr class="borderSet".info > th {
        background-color: #d9edf7;
    }

    .table-hover > tbody > tr class="borderSet" > td.info:hover,
    .table-hover > tbody > tr class="borderSet" > th.info:hover,
    .table-hover > tbody > tr class="borderSet".info:hover > td,
    .table-hover > tbody > tr class="borderSet":hover > .info,
    .table-hover > tbody > tr class="borderSet".info:hover > th {
        background-color: #c4e3f3;
    }

    .table > thead > tr class="borderSet" > td.warning,
    .table > tbody > tr class="borderSet" > td.warning,
    .table > tfoot > tr class="borderSet" > td.warning,
    .table > thead > tr class="borderSet" > th.warning,
    .table > tbody > tr class="borderSet" > th.warning,
    .table > tfoot > tr class="borderSet" > th.warning,
    .table > thead > tr class="borderSet".warning > td,
    .table > tbody > tr class="borderSet".warning > td,
    .table > tfoot > tr class="borderSet".warning > td,
    .table > thead > tr class="borderSet".warning > th,
    .table > tbody > tr class="borderSet".warning > th,
    .table > tfoot > tr class="borderSet".warning > th {
        background-color: #fcf8e3;
    }

    .table-hover > tbody > tr class="borderSet" > td.warning:hover,
    .table-hover > tbody > tr class="borderSet" > th.warning:hover,
    .table-hover > tbody > tr class="borderSet".warning:hover > td,
    .table-hover > tbody > tr class="borderSet":hover > .warning,
    .table-hover > tbody > tr class="borderSet".warning:hover > th {
        background-color: #faf2cc;
    }

    .table > thead > tr class="borderSet" > td.danger,
    .table > tbody > tr class="borderSet" > td.danger,
    .table > tfoot > tr class="borderSet" > td.danger,
    .table > thead > tr class="borderSet" > th.danger,
    .table > tbody > tr class="borderSet" > th.danger,
    .table > tfoot > tr class="borderSet" > th.danger,
    .table > thead > tr class="borderSet".danger > td,
    .table > tbody > tr class="borderSet".danger > td,
    .table > tfoot > tr class="borderSet".danger > td,
    .table > thead > tr class="borderSet".danger > th,
    .table > tbody > tr class="borderSet".danger > th,
    .table > tfoot > tr class="borderSet".danger > th {
        background-color: #f2dede;
    }

    .table-hover > tbody > tr class="borderSet" > td.danger:hover,
    .table-hover > tbody > tr class="borderSet" > th.danger:hover,
    .table-hover > tbody > tr class="borderSet".danger:hover > td,
    .table-hover > tbody > tr class="borderSet":hover > .danger,
    .table-hover > tbody > tr class="borderSet".danger:hover > th {
        background-color: #ebcccc;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

    media screen and (max-width: 767px) {
        .table-responsive;

    {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }

    .table-responsive > .table {
        margin-bottom: 0;
    }

        .table-responsive > .table > thead > tr class="borderSet" > th,
        .table-responsive > .table > tbody > tr class="borderSet" > th,
        .table-responsive > .table > tfoot > tr class="borderSet" > th,
        .table-responsive > .table > thead > tr class="borderSet" > td,
        .table-responsive > .table > tbody > tr class="borderSet" > td,
        .table-responsive > .table > tfoot > tr class="borderSet" > td {
            white-space: nowrap;
        }

    .table-responsive > .table-bordered {
        border: 0;
    }

        .table-responsive > .table-bordered > thead > tr class="borderSet" > th:first-child,
        .table-responsive > .table-bordered > tbody > tr class="borderSet" > th:first-child,
        .table-responsive > .table-bordered > tfoot > tr class="borderSet" > th:first-child,
        .table-responsive > .table-bordered > thead > tr class="borderSet" > td:first-child,
        .table-responsive > .table-bordered > tbody > tr class="borderSet" > td:first-child,
        .table-responsive > .table-bordered > tfoot > tr class="borderSet" > td:first-child {
            border-left: 0;
        }

        .table-responsive > .table-bordered > thead > tr class="borderSet" > th:last-child,
        .table-responsive > .table-bordered > tbody > tr class="borderSet" > th:last-child,
        .table-responsive > .table-bordered > tfoot > tr class="borderSet" > th:last-child,
        .table-responsive > .table-bordered > thead > tr class="borderSet" > td:last-child,
        .table-responsive > .table-bordered > tbody > tr class="borderSet" > td:last-child,
        .table-responsive > .table-bordered > tfoot > tr class="borderSet" > td:last-child {
            border-right: 0;
        }

        .table-responsive > .table-bordered > tbody > tr class="borderSet":last-child > th,
        .table-responsive > .table-bordered > tfoot > tr class="borderSet":last-child > th,
        .table-responsive > .table-bordered > tbody > tr class="borderSet":last-child > td,
        .table-responsive > .table-bordered > tfoot > tr class="borderSet":last-child > td {
            border-bottom: 0;
        }
</style>

<div class="container">
    <div class="form-group">
        <div class="col-md-6">
            <h3 class="mainHedder">TMC Limited</h3>
            <h4 class="mainHedder">@Model.dtCommon.Rows[0]["CustomerName"]</h4>
            <h4 class="mainHedder">@Model.dtCommon.Rows[0]["CustomerId"]</h4>
        </div>
    </div>
    <div class="img-responsive" style="width:300px; margin-left:400px">
        <img src="" alt="No Image" width="120px" height="120px" id="CustomerImage" />
        <input type="hidden" id="hdfCustomerImage" value="@Model.dtCommon.Rows[0]["CustomerImage"]" />
    </div>
    <div style="width:300px; margin-left:550px;clear:left">
        <table class="table">
            <tr>
                <td> Date</td>
                <td> : </td>
                <td>@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["CustomerEntryDate"])</td>
            </tr>
            <tr>
                <td>Inputer Name</td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["Username"]</td>
            </tr>
            <tr>
                <td>Branch Code</td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["BranchCode"]</td>
            </tr>
            <tr>
                <td>Branch Name</td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["BranchName"]</td>
            </tr>

        </table>
    </div>

    <div>
        <p style="color: blueviolet; font-size: 18px;">
            Cutomer Details Information as per customer declaration
        </p>
    </div>
    <div>
        <table class="table">
            <tr class="borderSet">
                <td id="tdDelete">01.</td>
                <td id="tdWidth"> Father's Name</td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["FatherName"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">02.</td>
                <td> Mother's Name</td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["MotherName"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">03.</td>
                <td>Spouse's Name</td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["SpouseName"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">04.</td>
                <td>NID No</td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["NationalId"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">05.</td>
                <td>Birth Certificate ID</td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["BirthCertificateNo"] </td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">06.</td>
                <td>Date Of Birth</td>
                <td> : </td>
                <td>@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["DateOfBirth"])</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">07.</td>
                <td>Nationality </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["Nationality"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">08.</td>
                <td>Gender</td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["Gender"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">09.</td>
                <td>Present Address </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["PresentAddress"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">10.</td>
                <td>Permanent Address </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["PermanentAddress"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">11.</td>
                <td>Mobile No </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["Mobile"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">12.</td>
                <td>Another Cell No </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["AnotherCellNo"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">13.</td>
                <td>Email Id </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["Email"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">14.</td>
                <td>Profession </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["CustomerIncomeSource"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">15 a.</td>
                <td>Organization </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["OccupationAndPosition"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b.</td>
                <td>Designation </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["Position"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">16.</td>
                <td>Tin No </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["TINNo"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">17 a.</td> 
                <td>Trade License </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["TradeLicenseNo"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b.</td>
                <td>Issue Date </td>
                <td> : </td>
                <td>@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["TradeLicenseDate"])</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.</td>
                <td> Issue Authority </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["TradeLicAuthority"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">18 a.</td>
                <td>Office Address </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["OfficeAddress"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b.</td>
                <td>Office Cell No. </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["Office"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.</td>
                <td> T&T No</td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["Home"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">19.</td>
                <td>Driving License No </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["DrivingLicenseNo"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">20 a.</td>
                <td>Registration No </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["RegistrationNo"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b.</td>
                <td>Registration Authority </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["RegistrationAuthority"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">21 a.</td>
                <td>Passport No. </td>
                <td> : </td>
                <td>@Model.dtCommon.Rows[0]["PassportNo"]</td>
            </tr>
            <tr class="borderSet">
                <td id="tdDelete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b.</td>
                <td>Expire date  </td>
                <td> : </td>
                <td>@String.Format("{0:d/MMM/yyyy}", Model.dtCommon.Rows[0]["PassportExpireDate"])</td>
            </tr>
        <tr class="borderSet">
            <td id="tdDelete">22.</td>
            <td id="tdDelete">Bank/NGO Details</td>
            <td>:</td>
            <td>
                <table class="table">
                    <tr style="background-color: blanchedalmond;">
                        <th></th>
                        <th>Bank Name</th>
                        <th>Branch</th>
                        <th>Account Type</th>
                    </tr>
                    @{
                        int i = 96;
                        foreach (DataRow r in Model.dtCommon.Rows)
                        {
                            i = i + 1;
                            char character = (char)i;
                            <tr>
                                <td>@character .</td>
                                <td>@r["BankName"]</td>
                                <td>@r["BankBranchName"]</td>
                                <td>@r["AccountType"]</td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
        @*@{
            int i = 0;
            foreach (DataRow r in Model.dtCommon.Rows)
            {
                i = i + 1;
                <tr class="borderSet">
                    <td id="tdDelete"></td>
                    <td id="tdDelete"></td>
                    <td>@i</td>
                    <td>
                        <table class="table">
                            <tr>
                                <td colspan="2">@r["BankName"]</td>
                                <td>@r["BankBranchName"]</td>
                                <td>@r["AccountType"]</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        }*@
            @*<tr class="borderSet">
                <td id="tdDelete"> </td>
                <td id="tdDelete"></td>
                <td>b</td>
                <td>
                    <table class="table">
                        <tr>
                            <td>@Model.dtCommon.Rows[1]["BankName"]</td>
                            <td></td>
                            <td>@Model.dtCommon.Rows[1]["BankBranchName"]</td>
                            <td>@Model.dtCommon.Rows[1]["AccountType"]</td>
                        </tr>
                    </table>
                </td>

            </tr>
            <tr class="borderSet">
                <td id="tdDelete"></td>
                <td id="tdDelete"></td>
                <td>c</td>
                <td>
                    <table class="table">
                        <tr>
                            <td>@Model.dtCommon.Rows[2]["BankName"]</td>
                            <td></td>
                            <td>@Model.dtCommon.Rows[2]["BankBranchName"]</td>
                            <td>@Model.dtCommon.Rows[2]["AccountType"]</td>
                        </tr>
                    </table>
                </td>

            </tr>*@
        </table>
    </div>
<br/>
<br/>
<br/>
    <p id="rowLine" style="margin-left:780px; width:140px"></p>
    <p style="text-align:right;"><span><b>Customer  Signature</b></span></p>
    <div>
        <table class="table">
            <tr class="borderSet">
                <td id="tdDelete"></td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p style="width:140px"><span><b>@Model.dtCommon.Rows[0]["Username"]</b></span>  <br />with seal and sign</p>
                </td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p><span><b>Authorized Officer</b></span> <br />with seal and sign</p>
                </td>
                <td id="tdDelete">
                    <p id="rowLine" style="width:140px"></p>
                    <p><b>Manager </b><br />with seal and sign</p>
                </td>
                @*<td id="tdDelete"></td>*@
            </tr>
        </table>
    </div>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    a();
    function a(){
        var image = $('#hdfCustomerImage').val();
        $('#CustomerImage').attr('src', image);
        console.log(image);
    }
</script>