﻿
@model IEnumerable<TonyMultipurpose.Areas.Member.Models.MemberInfo>

@using GridMvc.Html
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="code-cut">
    <a class="popup btn btn-primary" href="/Member/MemberInfo/Save/0" style="margin-bottom:20px; margin-top:20px;">Add New Member</a>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(m => m.AccountNumber).Titled("Account Number").Sortable(true).Filterable(true);
    columns.Add(m => m.MemberName).Titled("Member Name").Sortable(true).Filterable(true);
    columns.Add(m => m.AccountTitle).Titled("Account Title").Sortable(true).Filterable(true);
    columns.Add(m => m.AccountTypeName).Titled("Account Type Name").Sortable(true).Filterable(true);
    columns.Add(m => m.ContactNumber).Titled("Contact Number").Sortable(true).Filterable(true);
    columns.Add(m => m.GenderName).Titled("Gender").Sortable(true).Filterable(true);
    //columns.Add(m => m.TradeLicenceNo).Titled("Trade Licence No").Sortable(true).Filterable(true);
    //columns.Add(m => m.TradeLicenceIssueDate).Titled("Licence Issue Date").Sortable(true).Filterable(true);
    //columns.Add(m => m.RegistrationNumber).Titled("Registration Number").Sortable(true).Filterable(true);
    //columns.Add(m => m.RegistrationAuthority).Titled("Registration Authority").Sortable(true).Filterable(true);
    //columns.Add(m => m.InvolvementType).Titled("Involvement Type").Sortable(true).Filterable(true);
    //columns.Add(m => m.FatherName).Titled("Father Name").Sortable(true).Filterable(true);
    //columns.Add(m => m.MotherName).Titled("Mother Name").Sortable(true).Filterable(true);
    //columns.Add(m => m.SpouseName).Titled("Spouse Name").Sortable(true).Filterable(true);
    //columns.Add(m => m.Nationality).Titled("Nationality").Sortable(true).Filterable(true);
    //columns.Add(m => m.NID).Titled("NID").Sortable(true).Filterable(true);
    //columns.Add(m => m.DateOfBirth).Titled("Birth Date").Sortable(true).Filterable(true);

    //columns.Add(m => m.Occupation).Titled("Occupation").Sortable(true).Filterable(true);
    //columns.Add(m => m.PassportNumber).Titled("Passport Number").Sortable(true).Filterable(true);
    //columns.Add(m => m.PassportExpireDate).Titled("Passport Expire Date").Sortable(true).Filterable(true);
    //columns.Add(m => m.TINNumber).Titled("TIN Number").Sortable(true).Filterable(true);
    //columns.Add(m => m.DrivingLicenseNumber).Titled("Driving License Number").Sortable(true).Filterable(true);
    //columns.Add(m => m.PresentAddress).Titled("PresentAddress").Sortable(true).Filterable(true);
    //columns.Add(m => m.ParmanentAdress).Titled("Parmanent Adress").Sortable(true).Filterable(true);

    //columns.Add(m => m.Email).Titled("Email").Sortable(true).Filterable(true);
    //columns.Add(m => m.IncomeSource).Titled("Income Source").Sortable(true).Filterable(true);
    columns.Add(m => m.UserStatus).Titled("Status").Sortable(true).Filterable(true);

    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(m => Html.ActionLink("Edit", "Edit", new { id = m.MemberId }));
    columns.Add()
  .Encoded(false)
  .Sanitized(false)
  .SetWidth(30)
  .RenderValueAs(m => Html.ActionLink("Details", "Details", new { id = m.MemberId }));
}).WithPaging(10).Sortable(true)

</div>