﻿@using TonyMultipurpose.Areas.Member.Models
@model TonyMultipurpose.Areas.Member.Models.MemberInfo
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Save Member Information</h2>

@using (Html.BeginForm("Save", "MemberInfo", FormMethod.Post, new {@class = "form-horizontal", @role = "form"}))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    if (Model != null && Model.MemberId > 0)
    {
        @Html.HiddenFor(m => m.MemberId)
    }

    <div class="row">

        <div class="container-fluid">

            <div class="row">

                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.MemberName, new {@class = "control-label"})
                    <div class="input-icon right">
                        @Html.TextBoxFor(b => b.MemberName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(b => b.MemberName, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.AccountTitle, new {@class = "control-label", @style = "padding-left: 20px"})
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(b => b.AccountTitle, new {@class = "form-control"})
                        @Html.ValidationMessageFor(b => b.AccountTitle, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.AccountTypeId, new {@class = "control-label", @style = "padding-left: 20px"})
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.DropDownListFor(x => x.AccountTypeId, new SelectList(Model.accountTypeNames, "AccountTypeId", "AccountTypeName"), "--Select Account Type--", new {@class = "form-control"})
                        @Html.ValidationMessageFor(c => c.AccountTypeId, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.InvolvementType, new {@class = "control-label", @style = "padding-left: 20px"})
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.DropDownListFor(
                            x => x.InvolvementId,
                            new SelectList(Model.involvementTypes, "InvolvementId", "InvolvementType"),
                            "--Select Account Type--", new {@class = "form-control"}
                            )
                        @Html.ValidationMessageFor(c => c.InvolvementId, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.ContactNumber, new {@class = "control-label"})
                    <div class="input-icon right">
                        @Html.TextBoxFor(b => b.ContactNumber, new {@class = "form-control"})
                        @Html.ValidationMessageFor(b => b.ContactNumber, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.NID, new {@class = "control-label ", style = "padding-left: 20px" })
                    <div class="input-icon right"style="padding-left: 20px">
                        @Html.TextBoxFor(b => b.NID, new {@class = "form-control"})
                        @Html.ValidationMessageFor(b => b.NID, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.Gender, new {@class = "control-label", @style = "padding-left: 20px"})
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.DropDownListFor(a => a.Gender, new List<SelectListItem>()
                        {
                            new SelectListItem {Text = "Male", Value = "1"},
                            new SelectListItem {Text = "Female", Value = "2"},
                            new SelectListItem {Text = "Others", Value = "3"}

                        }, "--Select Gender--", new {@class = "form-control"})
                        @Html.ValidationMessageFor(d => d.Gender, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.Nationality, new {@class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(b => b.Nationality, new {@class = "form-control"})
                        @Html.ValidationMessageFor(b => b.Nationality, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.FatherName, new {@class = "control-label"})
                    <div class="input-icon right">
                        @Html.TextBoxFor(b => b.FatherName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(b => b.FatherName, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.MotherName, new {@class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(b => b.MotherName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(b => b.MotherName, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.SpouseName, new {@class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(b => b.SpouseName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(b => b.SpouseName, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.DateOfBirth, new {@class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right"style="padding-left: 20px">
                        @Html.TextBoxFor(a => a.DateOfBirth, new {@class = "form-control datepicker", Value = ""})
                        @Html.ValidationMessageFor(a => a.DateOfBirth, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-6">
                    @Html.LabelFor(a => a.PresentAddress, new {@class = "control-label"})
                    <div class="input-icon right"style="padding-right: 30px">
                        @Html.TextAreaFor(a => a.PresentAddress, new {@class = "form-control", @rows = "2"})
                        @Html.ValidationMessageFor(a => a.PresentAddress, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(a => a.ParmanentAdress, new {@class = "control-label", @style = "padding-left: 10px" })
                    <div class="input-icon right"style="padding-right: 55px">
                        @Html.TextAreaFor(a => a.ParmanentAdress, new {@class = "form-control", @rows = "2"})
                        @Html.ValidationMessageFor(a => a.ParmanentAdress, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.Email, new {@class = "control-label"})
                    <div class="input-icon right">
                        @Html.TextBoxFor(b => b.Email, new {@class = "form-control"})
                        @Html.ValidationMessageFor(b => b.Email, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.IncomeSource, new {@class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right"style="padding-left: 20px">
                        @Html.TextBoxFor(b => b.IncomeSource, new {@class = "form-control"})
                        @Html.ValidationMessageFor(b => b.IncomeSource, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.Occupation, new {@class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right"style="padding-left: 20px">
                        @Html.TextBoxFor(b => b.Occupation, new {@class = "form-control"})
                        @Html.ValidationMessageFor(b => b.Occupation, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.TradeLicenceNo, new {@class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right"style="padding-left: 20px">
                        @Html.TextBoxFor(a => a.TradeLicenceNo, new {@class = "form-control"})
                        @Html.ValidationMessageFor(a => a.TradeLicenceNo, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>


            </div>

           <div class="row">
            <div class="form-group col-md-3">
                @Html.LabelFor(a => a.TradeLicenceIssueDate, new {@class = "control-label"})
                <div class="input-icon right ">
                    @Html.TextBoxFor(a => a.TradeLicenceIssueDate, new {@class = "form-control datepicker", Value = ""})
                    @Html.ValidationMessageFor(a => a.TradeLicenceIssueDate, "", new {@class = "text-danger", @style = "color:red"})
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(a => a.RegistrationNumber, new {@class = "control-label", @style = "padding-left: 20px" })
                <div class="input-icon right"style="padding-left: 20px">
                    @Html.TextBoxFor(a => a.RegistrationNumber, new {@class = "form-control"})
                    @Html.ValidationMessageFor(a => a.RegistrationNumber, "", new {@class = "text-danger", @style = "color:red"})
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(a => a.RegistrationAuthority, new {@class = "control-label", @style = "padding-left: 20px" })
                <div class="input-icon right"style="padding-left: 20px">
                    @Html.TextBoxFor(a => a.RegistrationAuthority, new {@class = "form-control"})
                    @Html.ValidationMessageFor(a => a.RegistrationAuthority, "", new {@class = "text-danger", @style = "color:red"})
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.TINNumber, new {@class = "control-label", @style = "padding-left: 20px" })
                <div class="input-icon right"style="padding-left: 20px">
                    @Html.TextBoxFor(b => b.TINNumber, new {@class = "form-control"})
                    @Html.ValidationMessageFor(b => b.TINNumber, "", new {@class = "text-danger", @style = "color:red"})
                </div>
            </div>




        </div>

           <div class="row">
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.PassportNumber, new {@class = "control-label"})
                <div class="input-icon right">
                    @Html.TextBoxFor(b => b.PassportNumber, new {@class = "form-control"})
                    @Html.ValidationMessageFor(b => b.PassportNumber, "", new {@class = "text-danger", @style = "color:red"})
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.PassportExpireDate, new {@class = "control-label", @style = "padding-left: 20px" })
                <div class="input-icon right"style="padding-left: 20px">
                    @Html.TextBoxFor(b => b.PassportExpireDate, new {@class = "form-control datepicker", Value = ""})
                    @Html.ValidationMessageFor(b => b.PassportExpireDate, "", new {@class = "text-danger", @style = "color:red"})
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.DrivingLicenseNumber, new {@class = "control-label", @style = "padding-left: 20px" })
                <div class="input-icon right"style="padding-left: 20px">
                    @Html.TextBoxFor(b => b.DrivingLicenseNumber, new {@class = "form-control"})
                    @Html.ValidationMessageFor(b => b.DrivingLicenseNumber, "", new {@class = "text-danger", @style = "color:red"})
                </div>
            </div>

        </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

            

        </div>

    </div>







    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}