﻿@using CrystalDecisions.ReportAppServer.ReportDefModel

@{
    ViewBag.Title = "Installment Information";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    span.field-validation-error {
        color: red;
    }
</style>


@* DataTable - CSS *@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
@*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />*@

@* DataTable - JS *@
@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@



<div class="tablecontainer table-responsive">

    <a class="popup btn btn-primary" href='@Url.Action("SaveInstallmentInformation", "LoanInstallment", new {Area = "TermLoan"})'>Add New Installment Information</a>

    <table id="myDatatable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Loan Id</th>
                <th>Entry Date</th>
                <th>Installment Date</th>
                <th>Particular</th>
                <th>Installment Amount</th>
                <th>Deposited Amount</th>
                <th>Interest Amount</th>
                <th>Principle Amount</th>
                <th>Outstanding</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>

<script>
        $(document).ready(function() {
            var oTable = $('#myDatatable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetInstallmentInformation", "LoanInstallment", new {Area = "TermLoan"})',
                    "type": "get",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "Id" },
                    { "data": "LoanId" },
                    { "data": "EntryDate" },
                    { "data": "InstallmentDate" },
                    { "data": "Particular" },
                    { "data": "InstallmentAmount" },
                    { "data": "DepositedAmount" },
                    { "data": "InterestAmount" },
                    { "data": "PrincipleAmount" },
                    { "data": "Outstanding" },
                    {
                        "data": "Id",
                        "width": "50px",
                        "render": function(data) {
                            return '<a class="popup" href="/Accounts/AccountHead/Edit/' + data + '">Edit</a>';
                        }
                    },
                    {
                        "data": "Id",
                        "width": "50px",
                        "render": function(data) {
                            return '<a class="popup" href="/Accounts/AccountHead/Delete/' + data + '">Delete</a>';
                        }
                    }
                ]
            });
            $('.tablecontainer').on('click', 'a.popup', function(e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            });

            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function() {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow"  style="color:Black;"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: true,
                        autoOpen: false,
                        resizable: true,
                        model: true,

                        title: '@ViewBag.Title',
                        height: 790,
                        width: 650,
                        close: function () {

                            $dialog.dialog('destroy').remove();
                        }
                    });

                $('.popupWindow').on('submit', '#popupForm', function(e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function(data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    });

                    e.preventDefault();
                });

                $dialog.dialog('open');
            }
        })
</script>



