﻿@model TonyMultipurpose.Areas.TermLoan.Models.InstallmentInformation
@{
    ViewBag.Title = "SaveInstallmentInformation";
    Layout = null;
}


@using (Html.BeginForm("SaveInstallmentInformation", "LoanInstallment", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.Id > 0)
    {
        @Html.HiddenFor(d => d.Id)
    }

    <div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Loan Id</label>
                <input class="form-control" type="text" id="LoanId" name="LoanId">
                @Html.ValidationMessageFor(a => a.LoanId, "", new { @class = "text-danger", @style = "color:red" })
            </div>

            <div class="form-group">
                <label for="" class="control-label">Entry Date</label>
                <input class="form-control" type="text" id="EntryDate" name="EntryDate" value="@DateTime.Now.ToString("dd/MMM/yyyy")">
                @Html.ValidationMessageFor(a => a.EntryDate, "", new { @class = "text-danger", @style = "color:red" })

            </div>
            <div class="form-group">
                <label for="" class="control-label">Installment Date</label>
                <input class="form-control" type="text" id="InstallmentDate" name="InstallmentDate">
                @Html.ValidationMessageFor(a => a.InstallmentDate, "", new { @class = "text-danger", @style = "color:red" })

            </div>
            <div class="form-group">
                <label for="" class="control-label">Particular</label>
                <input class="form-control" type="text" id="Particular" name="Particular">
                @Html.ValidationMessageFor(a => a.Particular, "", new { @class = "text-danger", @style = "color:red" })

            </div>
            <div class="form-group">
                <label for="" class="control-label">Interest Amount</label>
                <input class="form-control" type="text" id="InterestAmount" name="InterestAmount">
                @Html.ValidationMessageFor(a => a.InterestAmount, "", new { @class = "text-danger", @style = "color:red" })
            </div>

            <div class="form-group">
                <label for="" class="control-label">Deposited Amount</label>
                <input class="form-control" type="text" id="DepositedAmount" name="DepositedAmount">
                @Html.ValidationMessageFor(a => a.DepositedAmount, "", new { @class = "text-danger", @style = "color:red" })

            </div>
            <div class="form-group">
                <label for="" class="control-label">Installment Amount</label>
                <input class="form-control" type="text" id="InstallmentAmount" name="InstallmentAmount">
                @Html.ValidationMessageFor(a => a.InstallmentAmount, "", new { @class = "text-danger", @style = "color:red" })

            </div>
            <div class="form-group">
                <label for="" class="control-label">Principle Amount</label>
                <input class="form-control" type="text" id="PrincipleAmount" name="PrincipleAmount">
                @Html.ValidationMessageFor(a => a.PrincipleAmount, "", new { @class = "text-danger", @style = "color:red" })

            </div>

            <div class="form-group">

                <label for="" class="control-label">Outstanding</label>
                <input class="form-control" type="text" id="Outstanding" name="Outstanding">
                @Html.ValidationMessageFor(a => a.Outstanding, "", new { @class = "text-danger", @style = "color:red" })

            </div>

        </div>
        <div class="col-md-6">
            <div>
                <img src="" alt="No Image" style="width:250px;height:250px;" id="customerImage" class="img-responsive" />
            </div>
            <div class="form-group">
                <label id="CustomerId">Customer Id : </label>
            </div>

            <div class="form-group">
                <label id="CustomerName">Customer Name : </label>
            </div>

            <div class="form-group">
                <label id="CustomerFatherName">Customer Father Name : </label>
            </div>
            <div class="form-group">
                <label id="ExtraFee">Extra Fee : </label>
            </div>

        </div>
        <div class="form-group">

            <button type="submit" class="btn btn-primary">Save</button>

        </div>
    </div>





}


<script>
    $(function () {
        $('#EntryDate').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+60",
            type: Text
        }).click(function () { $(this).focus(); });
        $('#InstallmentDate').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+60",
            type: Text
        }).click(function () { $(this).focus(); });

        $("#LoanId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("AutoCompleteTermLoanId", "LoanInstallment", new { Area = "TermLoan" })',
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item, value: item };
                            }));
                    }
                });
            },
            messages: {
                noResults: "",
                results: ""
            }
        });

    });

    $(document).ready(function() {
        $("#LoanId").change(function () {
            var LoanId = $("#LoanId").val();
            var json = {
                LoanId: LoanId
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetTermLoanInfoByLoanId", "LoanInstallment", new { Area = "TermLoan" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $('#CustomerId').html(data.CustomerId);
                    $('#CustomerName').html(data.CustomerName);
                    $('#CustomerFatherName').html(data.FatherName);
                    $('#ExtraFee').html(data.ExtraFee);
                    $('#customerImage').attr('src', data.CustomerImage);
                    var lAmount = parseFloat(data.PrincipleAmount);
                    var iAmount = parseFloat(data.InterestAmount);
                    var no = data.NumberOfInstallment;
                    var principle = parseFloat(lAmount + iAmount);
                    var fee = parseFloat(data.ExtraFee);
                    $('#PrincipleAmount').val(principle);
                    var perInstallmentAmount = principle / no;
                    $('#InstallmentAmount').val(perInstallmentAmount);
                    var perInterestAmount = iAmount / no;
                    $('#InterestAmount').val(perInterestAmount);
                    $('#DepositedAmount').val(perInterestAmount + perInstallmentAmount + fee);
                }
            });
        });
    });
</script>

