﻿@model TonyMultipurpose.Areas.Employee.Models.Experience
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm("Delete", "Experience", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    if (Model != null && Model.ExperienceId > 0)
    {
        @Html.HiddenFor(b => b.ExperienceId)
    }

    <div class="form-group">
        @Html.LabelFor(a => a.OrganizationName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(b => b.OrganizationName, new { @class = "form-control" ,@disabled = "disabled"})
            @Html.ValidationMessageFor(b => b.OrganizationName, "", new { @class = "text-danger" })
        </div>
    </div>


    @*<div class="form-group">
            @Html.LabelFor(a => a.Position, new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.DropDownListFor(
                x => x.CountryId,
                new SelectList(Model.CountryInfo, "CountryId", "CountryName"),
                "--Select Country--", new { @class = "form-control" }
                )
                @Html.ValidationMessageFor(c => c.CountryId, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(a => a.Position, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.Position, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(a => a.Position, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.JoiningDate, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.JoiningDate, new { @class = "form-control datepicker", @disabled = "disabled" })
            @Html.ValidationMessageFor(a => a.JoiningDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.EndingDate, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.EndingDate, new { @class = "form-control datepicker", @disabled = "disabled" })
            @Html.ValidationMessageFor(a => a.EndingDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Responsibility, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.Responsibility, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(a => a.Responsibility, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>
}

