﻿
    @model TonyMultipurpose.Areas.Employee.Models.Experience
@using GridMvc.Html
@{
    ViewBag.Title = "Save";
    var employeename = ViewBag.employeeName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<style>
    #fieldset {
        border-bottom: 1px solid gray;
    }

    .EmployeeId {
        width: 120px;
    }
</style>
@using (Html.BeginForm("Save", "Experience", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.ExperienceId > 0)
    {
        @Html.HiddenFor(d => d.ExperienceId)
    }
    <div class="form-group">
        <h2>Employee</h2>
    <table class="table table-responsive">
        <tr>
            <td class="col-md-4">
                <label class="control-label">Employee Name</label>
            </td>
            <td>
                <select name="EmployeeId" class="EmployeeId form-control " id="EmployeeId">
                    @if (employeename != null)
                    {
                        <option value="0">Select</option>
                        foreach (var name in employeename)
                        {
                            <option value="@name.EmployeeId">@name.EmployeeName</option>
                        }
                    }
                </select>
                <span class="error">Select EmployeeName</span>
            </td>
        </tr>
    </table>
        </div>
        <div class="form-group">
            <h2>Experience Information</h2>
            <table class="table table-responsive">
                <tr>
                    <th>Organization Name</th>
                    <th>Position</th>
                    <th>Joining Date</th>
                    <th>Ending Date</th>
                    <th>Responsibility</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tbody class="a" id="result"></tbody>
            </table>
        </div>


        <div>
            <input type="button" value="Add Experience" id="show" class="btn btn-primary" />

        </div>


        <div class="form-group">
            <h2>Add Experience</h2>
            <table class="table table-responsive">
                <tr>
                    <td>Organization Name</td>
                    <td>Position</td>
                    <td>Joining Date</td>
                    <td>Ending Date</td>
                    <td>Responsibility</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="mycontainer" id="mainrow">
                    <td>
                        @Html.TextBoxFor(a => a.OrganizationName, new { id = "OrganizationName", @class = "OrganizationName form-control" })
                        <span class="error">Valid Organization Name required</span>
                    </td>
                    <td>
                        <input type="text" name="Position" id="Position" class="Position form-control" />
                        <span class="error">Valid Position required</span>
                    </td>
                    <td>
                        <input type="text" name="JoiningDate" id="JoiningDate" class="JoiningDate form-control" />
                        <span class="error">Valid Joining Date required</span>
                    </td>
                    <td>
                        <input type="text" name="EndingDate" id="EndingDate" class="EndingDate form-control" />
                        <span class="error">Valid Ending Date required</span>
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.Responsibility, new { @class = "form-control Responsibility", id = "Responsibility" })
                        <span class="error">Valid Responsibility required</span>
                    </td>
                    
                    <td>
                        <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
                    </td>
                </tr>
            </table>
            <div id="ExperienceAdd">
                <table class="table table-responsive" id="ExperienceAddItems"></table>
                <span id="ExperienceAdderror" style="color:red"></span>

            </div>
        <div style="padding: 10px 0; text-align: right">
            <input id="submit" type="button" value="Save Experience" class="btn btn-warning" style="padding: 10px 20px"/>
        </div>
</div>
}



<script type="text/javascript">

    $(document).ready(function () {
        $(function () {
            $('#JoiningDate').datepicker({
                dateFormat: 'dd/M/yy', changeMonth: true,
                changeYear: true, yearRange: "-60:+60"
            }).click(function () { $(this).focus(); });
        });
        $(function () {
            $('#EndingDate').datepicker({
                dateFormat: 'dd/M/yy', changeMonth: true,
                changeYear: true, yearRange: "-60:+60"
            }).click(function () { $(this).focus(); });
        });

        $("#EmployeeId").change(function () {

            var deptId = $("#EmployeeId").val();
            $("#result").empty();
            var json = {
                employeeId: deptId
            };
            $code = "";
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllEmployeeById", "Experience")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);
                    $.each(data, function (key, value) {
                        //alert(key);
                        $("#result").append('<tr> <td>' + value.OrganizationName + '</td> <td>' + value.Position + '</td><td>' + value.JoiningDate + '</td><td>' + value.EndingDate + '</td><td>' + value.Responsibility + '</td><td>' + '<a href="/Employee/Experience/Edit/' + value.ExperienceId + '">Edit</a>' + '</td><td>' + '<a href="/Employee/Experience/Delete/' + value.ExperienceId + '">Delete</a>' + '</td></tr>');

                    });
                }
            });
        });

        $("#hiddenValue").hide();
        $("#show").click(function () {
            $("#hiddenValue").show();
        });
    });




    $(document).ready(function () {
        //Add button click event

        $('#add').click(function () {
            //validation and add order items
            var isAllValid = true;

            if (!($('#OrganizationName').val().trim() != '')) {
                isAllValid = false;
                $('#OrganizationName').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#OrganizationName').siblings('span.error').css('visibility', 'hidden');
            }


            if (!($('#Position').val().trim() != '')) {
                isAllValid = false;
                $('#Position').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Position').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#JoiningDate').val().trim() != '')) {
                isAllValid = false;
                $('#JoiningDate').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#JoiningDate').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#EndingDate').val().trim() != '')) {
                isAllValid = false;
                $('#EndingDate').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#EndingDate').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#Responsibility').val().trim() != '')) {
                isAllValid = false;
                $('#Responsibility').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Responsibility').siblings('span.error').css('visibility', 'hidden');
            }
            if (isAllValid) {
                var $newRow = $('#mainrow').clone().removeAttr('id');
                //$('.EmployeeId', $newRow).val($('#EmployeeId').val());


                //Replace add button with remove button
                $('#add', $newRow).addClass('remove').val('Remove').removeClass('btn-success').addClass('btn-danger');

                //remove id attribute from new clone row
                $('#OrganizationName,#Position,#JoiningDate,#EndingDate,#Responsibility,#add', $newRow).removeAttr('id');
                $('span.error', $newRow).remove();
                //append clone row
                $('#ExperienceAddItems').append($newRow);

                //clear select data
                //$('#EmployeeId').val('0');
                $('#OrganizationName,#Position,#JoiningDate,#EndingDate,#Responsibility').val('');
                $('#ExperienceAdderror').empty();
            }

        })

        //remove button click event
        $('#ExperienceAddItems').on('click', '.remove', function () {
            $(this).parents('tr').remove();
        });

        $('#submit').click(function () {
            var isAllValid = true;


            //validate order items
            $('#ExperienceAdderror').text('');
            var list = [];
            var errorItemCount = 0;

            $('#ExperienceAddItems tbody tr').each(function (Save, ele) {
                if (
                    //$('select.EmployeeId', this).val() == "0" ||
                   $('.OrganizationName', this).val() == "" ||
                    $('.Position', this).val() == "" ||
                    $('.JoiningDate', this).val() == "" ||
                    $('.EndingDate', this).val() == "" ||
                    $('.Responsibility', this).val() == ""
                   ) {
                    errorItemCount++;

                    $(this).addClass('error');
                } else {

                    var orderItem = {
                        EmployeeId: $("#EmployeeId").val(),
                        OrganizationName: ($('.OrganizationName', this).val()),
                        Position: ($('.Position', this).val()),
                        JoiningDate: $('.JoiningDate', this).val(),
                        EndingDate: ($('.EndingDate', this).val()),
                        Responsibility: ($('.Responsibility', this).val()),
                    };
                    list.push(orderItem);
                    $(this).val('Please wait...');
                    $.ajax({
                        type: 'POST',

                        url: '/Experience/Save',
                        data: JSON.stringify(orderItem),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data.status) {
                                alert('Successfully saved');
                                //here we will clear the form

                                $('#ExperienceAddItems').empty();
                            }
                            else {
                                alert('Error');
                            }
                            $('#submit').val('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#submit').val('Save');
                        }

                    });

                }
            })


        });
    });
    //LoadEmployeeInfo($('#EmployeeId'));

</script>

<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>