﻿@using TonyMultipurpose.Areas.Share.Models;
@model IEnumerable<TonyMultipurpose.Areas.Share.Models.AuthorizedShareInfo>
@using TonyMultipurpose.Infrastructure.Common
@using TonyMultipurpose.Infrastructure.Helpers
@{
    ViewBag.Title = "Share Entry";
    WebGrid grid = new WebGrid(Model, canPage: true,
      canSort: true, rowsPerPage: 20, ajaxUpdateContainerId: "AuthorizedShareTable");
}

<div id="tabs">

    <ul>
        <li>
            <a href="#AuthorizedShareInfo">Authorized</a>
        </li>
        <li>
            <a href="#IssuedShareInfo">Issued</a>
        </li>
        <li>
            <a href="#PaidUpShareInfo">Paid Up</a>
        </li>
    </ul>
    <br />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <label id="showErrorMessage" style="margin-left: 10px; color: red; font-size: medium"></label>
                    <input type="hidden" id="hdfAuthoId" name="hdfAuthoId" />
                </div>
            </div>
        </div>
    </div>


<div id="AuthorizedShareInfo">
    <div class=" row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">Date</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="TransactionDate" name="TransactionDate" readonly="readonly" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")"/>
                </div>
                <div class="col-md-1">
                    <span class="error">**</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">Amount</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="AuthorizedAmount" name="AuthorizedAmount" class="form-control" maxlength="12" onkeypress="return IsInteger(event);"/>
                </div>
                <div class="col-md-1">
                    <span class="error">**</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">Base Value</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="APricePerShare" name="PricePerShare" class="form-control" maxlength="6" onkeypress="return IsInteger(event);"/>
                </div>
                <div class="col-md-1">
                    <span class="error">**</span>
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-3">
                    <label class="control-label">No Of Share</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="NoOfShare" name="NoOfShare" class="form-control" maxlength="6" onkeypress="return IsInteger(event);"/>
                </div>
                <div class="col-md-1">
                    <span class="error">**</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">Particular</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="Particular" name="Particular" class="form-control"/>
                </div>
                <div class="col-md-1">
                    <span class="error">**</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">

                </div>
                <div class="col-md-8">
                    <input type="button" id="Authorizesubmit" value="Save" class="btn btn-primary" style="padding: 12px 48px;"/>
                    <input type="button" id="AuthorizesubmitEdit" value="Update" class="btn btn-primary" style="padding: 12px 48px;" />
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <div class="tablecontainer table-responsive">
            <table id="AuthorizedShareTable" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Particular</th>
                        <th>No Of Share</th>
                        <th>Per Share Value</th>
                        <th>Amount</th>
                    </tr>
                </thead>
            </table>
        </div>
</div>

    <div id="IssuedShareInfo">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Date</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="IssuedDate" name="IssuedDate" readonly="readonly" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" />
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Authorize Share</label>
                    </div>
                    <div class="col-md-8">
                        <select name="AuthorizedAmount" id="AuthorizedShare" class="form-control"></select>
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Issue Quantity</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="IssuedQty" name="IssuedQty" class="form-control" maxlength="6" onkeypress="return IsInteger(event);"/>
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Base Value</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="PricePerShare" name="PricePerShare" class="form-control" maxlength="6" onkeypress="return IsInteger(event);"/>
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Issued Amount</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="IssuedAmount" name="IssuedAmount" class="form-control" maxlength="12" onkeypress="return IsInteger(event);"/>
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Remaining Issued</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="Balance" name="Balance" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Particular</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="IssuedParticular" name="Particular" class="form-control" maxlength="49">
                    </div>
                    <div class="col-md-1">
                        <span class="error">**</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-8">
                        <input type="button" id="Issuedsubmit" value="Save" class="btn btn-primary" style="padding: 12px 48px;"/>
                        <input type="button" id="IssuedsubmitEdit" value="Update" class="btn btn-primary" style="padding: 12px 48px;" />
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <br />
        <br />

        <div class="tablecontainer table-responsive">
            <table id="IssuedShareTable" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Particular</th>
                        <th>No Of Share</th>
                        <th>Per Share Value</th>
                        <th>Amount</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div id="PaidUpShareInfo">
        <div class="tablecontainer table-responsive">
            <table id="ShareTransactionTable" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>Paid Up Share </th>
                        <th>Base Value</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
            </table>
        </div>
      
    </div>
</div>

@section styles
{
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
        .table {
            border-bottom: 0px !important;
        }

            .table th, .table td {
                border: 1px !important;
            }

        .fixed-table-container {
            border: 0px !important;
        }



        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 100%;
        }
    </style>
}

@section scripts
{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script>

        $(function() {
            $("#tabs").tabs();
            authorizedShareTable();
            issuedShareTable();
            shareTransactionTable();
            $('#AuthorizesubmitEdit').hide();
            $('#IssuedsubmitEdit').hide();
        });

        $('#TransactionDate').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+60"
        }).click(function() { $(this).focus(); });

        $('#IssuedDate').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+60"
        }).click(function () { $(this).focus(); });

        //+++++++++++++========== Authorize Script Start ++++++===============//
        var oTable;

        function authorizedShareTable() {
            oTable = $('#AuthorizedShareTable').DataTable({
                "ajax": {
                    "url": window.applicationBaseUrl + "Share/ShareEntry/GetAllAuthorizeShareInfo",
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "TransactionDate",
                        "render": function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            var mon = monthNumToName(month);
                            return date.getDate() + "/" + mon + "/" + date.getFullYear();
                        }
                    },
                    { "data": "Particular" },
                    { "data": "NoOfShare" },
                    { "data": "PricePerShare" },
                    { "data": "AuthorizedAmount" }
                ],
                ordering: false,
                sorting: false
            });
            $('#AuthorizedShareTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindDataToControls(oTable.row(this).data());
            });
        }

        function bindDataToControls(data) {
            $('#AuthorizesubmitEdit').show();
            $('#Authorizesubmit').hide();
            $('#hdfAuthoId').val(data.Id);
            var date = new Date(data.TransactionDate);
            var month = date.getMonth() + 1;
            var mon = monthNumToName(month);
            var transDate = date.getDate() + "/" + mon + "/" + date.getFullYear();
            $('#TransactionDate').val(transDate);
            $('#Particular').val(data.Particular);
            $('#NoOfShare').val(data.NoOfShare);
            $('#APricePerShare').val(data.PricePerShare);
            $('#AuthorizedAmount').val(data.AuthorizedAmount);
        }

        $('#AuthorizedAmount').keyup(function() {
            var authorizedAmount = parseInt($('#AuthorizedAmount').val());
            var noOfShare = parseInt($('#NoOfShare').val());
            if (!isNaN(noOfShare)) {
                var pricepershare = parseInt(authorizedAmount / noOfShare);
                $('#APricePerShare').val(pricepershare);
            }
            var aPricePerShare = parseInt($('#APricePerShare').val());
            if (!isNaN(aPricePerShare)) {
                var totalshare = parseInt(authorizedAmount / aPricePerShare);
                $('#NoOfShare').val(totalshare);
            }
        });

        $('#NoOfShare').keyup(function() {
            var authorizedAmount = parseInt($('#AuthorizedAmount').val());
            var noOfShare = parseInt($('#NoOfShare').val());
            if (!isNaN(authorizedAmount)) {
                var pricepershare = parseInt(authorizedAmount / noOfShare);
                $('#APricePerShare').val(pricepershare);
            }
            var aPricePerShare = parseInt($('#APricePerShare').val());
            if (!isNaN(aPricePerShare)) {
                var totalAmount = parseInt(aPricePerShare * noOfShare);
                $('#AuthorizedAmount').val(totalAmount);
            }
        });

        $('#APricePerShare').keyup(function() {
            var authorizedAmount = parseInt($('#AuthorizedAmount').val());
            var aPricePerShare = parseInt($('#APricePerShare').val());
            if (!isNaN(authorizedAmount)) {
                var nSahre = parseInt(authorizedAmount / aPricePerShare);
                $('#NoOfShare').val(nSahre);
            }
            var noOfShare = parseInt($('#NoOfShare').val());
            if (!isNaN(noOfShare)) {
                var totalAmount = parseInt(aPricePerShare * noOfShare);
                $('#AuthorizedAmount').val(totalAmount);
            }
        });

        $('#Authorizesubmit').click(function () {
            var isValid = checkValidation();
            if (isValid) {
                var data = {
                    TransactionDate: $('#TransactionDate').val(),
                    AuthorizedAmount: $('#AuthorizedAmount').val(),
                    PricePerShare: $('#APricePerShare').val(),
                    NoOfShare: $('#NoOfShare').val(),
                    Particular: $('#Particular').val()
                };
                $.ajax({
                    type: "POST",
                    url: window.applicationBaseUrl + "Share/ShareEntry/SaveShareEntry",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (d) {
                        $('#AuthorizedAmount').val('');
                        $('#APricePerShare').val('');
                        $('#NoOfShare').val('');
                        $('#Particular').val('');
                        oTable.ajax.reload();
                        document.getElementById('showErrorMessage').innerHTML = d._oCommonResult.Message;
                    }
                });
            }
        });

        $('#AuthorizesubmitEdit').click(function () {
            var isValid = checkValidation();
            if (isValid) {
                var data = {
                    TransactionDate: $('#TransactionDate').val(),
                    AuthorizedAmount: $('#AuthorizedAmount').val(),
                    PricePerShare: $('#APricePerShare').val(),
                    NoOfShare: $('#NoOfShare').val(),
                    Particular: $('#Particular').val(),
                    Id: $('#hdfAuthoId').val()
                };
                $.ajax({
                    type: "POST",
                    url: window.applicationBaseUrl + "Share/ShareEntry/UpdateShareEntry",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (d) {
                        $('#AuthorizesubmitEdit').hide();
                        $('#Authorizesubmit').show();
                        $('#AuthorizedAmount').val('');
                        $('#APricePerShare').val('');
                        $('#NoOfShare').val('');
                        $('#Particular').val('');
                        oTable.$('tr.selected').removeClass('selected');
                        oTable.ajax.reload();
                        document.getElementById('showErrorMessage').innerHTML = d._oCommonResult.Message;
                    }
                });
            }
        });

        function checkValidation() {
            var isValid = true;
            if ($('#TransactionDate').val().trim() === '') {
                isValid = false;
                $('#TransactionDate').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#TransactionDate').parent().next().find('span').css('visibility', 'hidden');
            }
            if ($('#AuthorizedAmount').val().trim() === '') {
                isValid = false;
                $('#AuthorizedAmount').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#AuthorizedAmount').parent().next().find('span').css('visibility', 'hidden');
            }
            if ($('#APricePerShare').val().trim() === '') {
                isValid = false;
                $('#APricePerShare').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#APricePerShare').parent().next().find('span').css('visibility', 'hidden');
            }
            if ($('#NoOfShare').val().trim() === '') {
                isValid = false;
                $('#NoOfShare').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#NoOfShare').parent().next().find('span').css('visibility', 'hidden');
            }
            if ($('#Particular').val().trim() === '') {
                isValid = false;
                $('#Particular').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#Particular').parent().next().find('span').css('visibility', 'hidden');
            }
            return isValid;
        }
        //// ===========  Authorize Script End +++++++++++==========//

        //// ===========  Issue Script Start +++++++++++==========//

        //Retrive Transaction ID
        $(document).ready(function () {
            $(function () {
                $("#AuthorizedShare").empty();
                $.ajax({
                    type: "POST",
                    url: window.applicationBaseUrl + "Share/ShareEntry/GetAuthorizeShare",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(),
                    success: function (data) {
                        $("#AuthorizedShare").append('<option value="0">--Select--</option>');
                        $.each(data, function (key, value) {
                            $("#AuthorizedShare").append('<option value=' + value.Id + '>' + value.Total + '</option>');
                        });
                    }
                });
            });
        });

        $('#AuthorizedShare').change(function () {
            //$('#AuthorizedShare').empty();
            var authorizedShareId = $("#AuthorizedShare").val();
            var json = { authorizedShareId: authorizedShareId };
            $.ajax({
                type: "POST",
                url: window.applicationBaseUrl + "Share/ShareEntry/GetRemainingIssued",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $('#Balance').val(data.RemainingBalance);
                }
            });
        });

        var issueTable;

        function issuedShareTable() {
            issueTable = $('#IssuedShareTable').DataTable({
                "ajax": {
                    "url": window.applicationBaseUrl + "Share/ShareEntry/GetAllIssuedShareInfo",
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "IssuedDate",
                        "render": function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            var mon = monthNumToName(month);
                            return date.getDate() + "/" + mon + "/" + date.getFullYear();
                        }
                    },
                    { "data": "Particular" },
                    { "data": "IssuedQty" },
                    { "data": "PricePerShare" },
                    { "data": "IssuedAmount" }
                ],
                ordering: false,
                sorting: false
            });
            $('#IssuedShareTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindIssuedDataToControls(issueTable.row(this).data());
            });
        }

        function bindIssuedDataToControls(data) {
            console.log(data);
            $('#IssuedsubmitEdit').show();
            $('#Issuedsubmit').hide();
            $('#hdfAuthoId').val(data.Id);
            $('#AuthorizedShare').val(data.AuthorizedShareInfoId);
            $('#AuthorizedShare').change();
            var date = new Date(data.IssuedDate);
            var month = date.getMonth() + 1;
            var mon = monthNumToName(month);
            var transDate = date.getDate() + "/" + mon + "/" + date.getFullYear();
            $('#IssuedDate').val(transDate);
            $('#IssuedParticular').val(data.Particular);
            $('#IssuedQty').val(data.IssuedQty);
            $('#PricePerShare').val(data.PricePerShare);
            $('#IssuedAmount').val(data.IssuedAmount);
        }


        $('#IssuedQty').keyup(function () {
            //var balance = $('#Balance').val();
            var issuedQty = parseInt($('#IssuedQty').val());
            //if (issuedQty <= balance) {
                var pricePerShare = parseInt($('#PricePerShare').val());
                if (!isNaN(pricePerShare)) {
                    var iAmount = parseInt(issuedQty * pricePerShare);
                    $('#IssuedAmount').val(iAmount);
                }
                var issuedAmount = parseInt($('#IssuedAmount').val());
                if (!isNaN(issuedAmount)) {
                    var baseValue = parseInt(issuedAmount / issuedQty);
                    $('#PricePerShare').val(baseValue);
                }
            //} else {
            //    alert('Not Available Quantity!!');
            //}
        });

        $('#IssuedAmount').keyup(function () {
            //var balance = $('#Balance').val();
            var issuedAmount = parseInt($('#IssuedAmount').val());
            var issuedQty = parseInt($('#IssuedQty').val());
            //if (issuedQty <= balance) {
                if (!isNaN(issuedQty)) {
                    var baseValue = parseInt(issuedAmount / issuedQty);
                    $('#PricePerShare').val(baseValue);
                }
                var pricePerShare = parseInt($('#PricePerShare').val());
                if (!isNaN(pricePerShare)) {
                    var iqty = parseInt(issuedAmount / pricePerShare);
                    $('#IssuedQty').val(iqty);
                }
            //}
            //else {
            //    alert('Not Available Quantity!!');
            //}
        });

        $('#PricePerShare').keyup(function () {
            //var balance = $('#Balance').val();
            var issuedQty = parseInt($('#IssuedQty').val());
            var pricePerShare = parseInt($('#PricePerShare').val());
            //if (issuedQty <= balance) {
                if (!isNaN(issuedQty)) {
                    var iAmount = parseInt(issuedQty * pricePerShare);
                    $('#IssuedAmount').val(iAmount);
                }
                var issuedAmount = parseInt($('#IssuedAmount').val());
                if (!isNaN(issuedAmount)) {
                    var baseValue = parseInt(issuedAmount / issuedQty);
                    $('#PricePerShare').val(baseValue);
                }
            //}
            //else {
            //    alert('Not Available Quantity!!');
            //}
        });

        $('#Issuedsubmit').click(function() {
            var isValid = checkIssuedValidation();
            if (isValid) {
                var data = {
                    IssuedDate: $('#IssuedDate').val(),
                    IssuedAmount: $('#IssuedAmount').val(),
                    PricePerShare: $('#PricePerShare').val(),
                    IssuedQty: $('#IssuedQty').val(),
                    Particular: $('#IssuedParticular').val(),
                    AuthorizedShareInfoId: $('#AuthorizedShare option:selected').val()
                };
                $.ajax({
                    type: "POST",
                    url: window.applicationBaseUrl + "Share/ShareEntry/SaveIssuedShareInfo",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (d) {
                        $('#IssuedAmount').val('');
                        $('#PricePerShare').val('');
                        $('#IssuedQty').val('');
                        $('#IssuedParticular').val('');
                        $('#AuthorizedShare').val('0');
                        $('#Balance').val('');
                        document.getElementById('showErrorMessage').innerHTML = d._oCommonResult.Message;
                        issueTable.ajax.reload();
                    }
                });
            }
        });

        $('#IssuedsubmitEdit').click(function () {
            var isValid = checkIssuedValidation();
            if (isValid) {
                var data = {
                    IssuedDate: $('#IssuedDate').val(),
                    IssuedAmount: $('#IssuedAmount').val(),
                    PricePerShare: $('#PricePerShare').val(),
                    IssuedQty: $('#IssuedQty').val(),
                    Particular: $('#IssuedParticular').val(),
                    Id: $('#hdfAuthoId').val(),
                    AuthorizedShareInfoId: $('#AuthorizedShare option:selected').val()
                };
                $.ajax({
                    type: "POST",
                    url: window.applicationBaseUrl + "Share/ShareEntry/UpdateIssuedShareInfo",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (d) {
                        $('#IssuedsubmitEdit').hide();
                        $('#Issuedsubmit').show();
                        $('#IssuedAmount').val('');
                        $('#PricePerShare').val('');
                        $('#IssuedQty').val('');
                        $('#IssuedParticular').val('');
                        $('#AuthorizedShare').val('0');
                        $('#Balance').val('');
                        issueTable.$('tr.selected').removeClass('selected');
                        issueTable.ajax.reload();
                        document.getElementById('showErrorMessage').innerHTML = d._oCommonResult.Message;
                    }
                });
            }
        });

        function checkIssuedValidation() {
            var isValid = true;

            if ($('#IssuedDate').val().trim() === '') {
                isValid = false;
                $('#IssuedDate').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#IssuedDate').parent().next().find('span').css('visibility', 'hidden');
            }
            if ($('#AuthorizedShare').val().trim() === '0') {
                isValid = false;
                $('#AuthorizedShare').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#AuthorizedShare').parent().next().find('span').css('visibility', 'hidden');
            }
            if ($('#IssuedQty').val().trim() === '') {
                isValid = false;
                $('#IssuedQty').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#IssuedQty').parent().next().find('span').css('visibility', 'hidden');
            }
            if ($('#PricePerShare').val().trim() === '') {
                isValid = false;
                $('#PricePerShare').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#PricePerShare').parent().next().find('span').css('visibility', 'hidden');
            }
            if ($('#IssuedAmount').val().trim() === '') {
                isValid = false;
                $('#IssuedAmount').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#IssuedAmount').parent().next().find('span').css('visibility', 'hidden');
            }
            if ($('#Balance').val().trim() === '') {
                isValid = false;
                $('#Balance').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#Balance').parent().next().find('span').css('visibility', 'hidden');
            }
            if ($('#IssuedParticular').val().trim() === '') {
                isValid = false;
                $('#IssuedParticular').parent().next().find('span').css('visibility', 'visible');
            } else {
                $('#IssuedParticular').parent().next().find('span').css('visibility', 'hidden');
            }
            return isValid;
        }

        ///===========   Issue  Srcipt End ============================

        ///===========   PaidUp  Srcipt Start ============================
        var shareTable;
        function shareTransactionTable() {
            shareTable = $('#ShareTransactionTable').DataTable({
                "ajax": {
                    "url": window.applicationBaseUrl + "Share/ShareEntry/GetPaidUpShareInfo",
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "SoldQty" },
                    { "data": "PricePerShare" },
                    { "data": "PaidUpAmount" }
                ],
                ordering: false,
                sorting: false
            });
        }

        ///===========   PaidUp  Srcipt End ============================


        var months = [
            'Jan', 'Feb', 'Mar', 'Apr', 'May',
            'Jun', 'Jul', 'Aug', 'Sep',
            'Oct', 'Nov', 'Dec'
        ];

        function monthNumToName(monthnum) {
            return months[monthnum - 1] || '';
        }

        function IsInteger(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;

            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            else if (charCode === 13 || charCode === 46) {
                return false;
            }
            return true;
        }
    </script>
}