﻿@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.MonthlyBenefit.Models.MBModel>
@{
    ViewBag.Title = "Monthly Benefit Approval";
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 500, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
}

@section Styles{
    <style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

            /*table.gridtable td{color: green;}*/

            table.gridtable td a:visited {
                color: red;
            }
</style>
    }

<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>
<hr />
@using (Html.BeginForm("", "Approval", FormMethod.Post))
{
    <div class="table-responsive">
        @grid.GetHtml(
            tableStyle: "table table-bordered",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                     //Here I am going to add checkbox column
                     grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                     grid.Column(
                        format: @<text> <input type="checkbox" value="@item.TransactionId" name="Id" /> </text>,
                        header: "{checkall}"
                        ),

                grid.Column("AccountNumber", "Account Number"),
                grid.Column("TransactionId", "Transaction Id"),
                grid.Column("TransactionDate", "Transaction Date", format:
        (item) => string.Format("{0:dd/MMM/yyyy}", item.TransactionDate)),
                grid.Column("TransactionType", "Transaction Type"),
                grid.Column("CustomerId", "Customer"),
                grid.Column("CustomerName", "Customer Name"),
                grid.Column("Balance", "Amount"),
                grid.Column(
                        format: @<text> <input type="text" name="@item.TransactionId" /> </text>,
                        header: "Reject Reason"
                        ),
                grid.Column("Username", "Created By")
                    )
            )
    </div>
    <div class="row" style="width:180px;margin-top:10px;">
        <div class="col-md-6">
            <input type="submit" value="Approve" name="action:Approve" class="btn btn-success" />
        </div>
        <div class="col-md-6">
            <input type="submit" value="Reject" name="action:Reject" class="btn btn-warning"/>
        </div>
    </div>
}



@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/MonthlyBenefit/Approval.js")"></script>
}









