﻿@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.Share.Models.AuthorizedShareInfo>
@{
    ViewBag.Title = "Share Transactions Approval";
    var grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 1000, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
}


@* Here  I am going to add some css for better looks *@



@*<h2>Financial Transaction Approval</h2>*@
<hr />
<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>
<hr />
@using (Html.BeginForm("", "ShareApproval", FormMethod.Post))
{
    <div class="table-responsive">
        @grid.GetHtml(
            tableStyle: "table table-bordered table-condensed",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                    //Here I am going to add checkbox column
                    grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@item.Id + @item.EntryType" name="Id" /> </text>,
                        header: "{checkall}"
                        ),
                    grid.Column("TransactionId", "Transaction"),
                    grid.Column("TransactionDate", "Transaction Date", format:
        (item) => string.Format("{0:dd/MMM/yyyy}", item.TransactionDate)),

                    grid.Column("EntryType", "Entry Type"),
                    grid.Column("Particular", "Particular"),
                    grid.Column("AuthorizedAmount", "Amount"),
                    grid.Column("NoOfShare", "Share Qty"),
                    grid.Column("PricePerShare", "Base Value"),

                    grid.Column(
                        format: @<text><input type="text"/><input type="hidden" name="RejectReason" value="@item.TransactionId" /> </text>,
                        header: "Reject Reason"
                        )
                        
                )
            )
    </div>

    <div class="row" style="width:180px;margin-top:10px;">
        <div class="col-md-6">
            <input type="submit" value="Approve" name="action:Approve" class="btn btn-success" onclick="return confirm('Do you want to Approve?')" />
        </div>
        <div class="col-md-6">
            <input type="submit" value="Reject" name="action:Reject" class="btn btn-warning" onclick="return confirm('Do you want to Reject?')" />
        </div>
    </div>
}

@section styles
{
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
    </style>
}
@section scripts
{
    <script src="~/Scripts/Custom/Share/ShareApproval.js"></script>
}
