﻿
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
@{
    var employeename = ViewBag.employeeName;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeAllInformation</title>
    <style>
        table, th, td{
            border:2px solid black;
        }
        th{background-color: LightSeaGreen  ;}
        h2{
            font-weight:bold;
            padding-top:20px;
        }
                        
    </style>
    <link href="~/Content/customStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="master">
            <h2>Employee</h2>
            <table class="table table-responsive">
                <tr>
                    <td class="col-md-2">
                        <label class="control-label">Employee Name</label>
                    </td>
                    <td>
                        <select name="EmployeeId" class="EmployeeId form-control " id="EmployeeId">
                            @if (employeename != null)
                            {
                                <option value="0">Select</option>
                                foreach (var name in employeename)
                                {
                                    <option value="@name.EmployeeId">@name.EmployeeName</option>
                                }
                            }
                        </select>                        
                    </td>
                </tr>
            </table>
        </div>

        <div class="master kmjptb">
            <h2>Employee Basic Information</h2>
            <table class="table table-responsive">
                <tr>
                    <th>Department Name</th>
                    <th>Designation Name</th>
                    @*<th>Father Name</th>
                    <th>Mother Name</th>*@
                    <th>Blood Group</th>
                    <th>Date Of Birth</th>
                    <th>Email</th>
                    @*<th>Gender</th>
                    <th>Marital Status</th>*@
                    <th>National Id</th>
                    @*<th>Nationality</th>*@
                    <th>Phone</th>
                    @*<th>Religion</th>*@
                    <th>Present Address</th>
                    <th>Permanent Address</th>
                    <th>Joining Date</th>
                    <th>Ending Date</th>
                    <th>Probation Period</th>                    
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tbody class="a " id="EmployeeInfo"></tbody>
            </table>
        </div>

        <div class="master kmjptb1">
            <h2>Education Information</h2>
            <table class="table table-responsive">
                <tr>
                    <th>Exam Name</th>
                    <th>Institution Name</th>
                    <th>Board University</th>
                    <th>Session</th>
                    <th>Passing Year</th>
                    <th>Grade GPA</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tbody class="a " id="Education"></tbody>
            </table>
        </div>

        <div class="master kmjptb2">
            <h2>Experience Information</h2>
            <table class="table table-responsive">
                <tr>
                    <th>Organization Name</th>
                    <th>Position</th>
                    <th>Joining Date</th>
                    <th>Ending Date</th>
                    <th>Responsibility</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tbody class="a" id="Experience"></tbody>
            </table>
        </div>

        <div class="master kmjptb3">
            <h2>Training Information</h2>
            <table class="table table-responsive">
                <tr>
                    <th>Organization Name</th>
                    <th>Training Title</th>
                    <th>Training Duration</th>
                    <th>Training Year</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tbody class="a " id="Training"></tbody>
            </table>
        </div>
    </div>



</body>
</html>


<script type="text/javascript">

    $(document).ready(function () {
        $("#EmployeeId").change(function () {

            var deptId = $("#EmployeeId").val();
            $("#result").empty();
            var json = {
                employeeId: deptId
            };
            $code = "";
            $.ajax({
                type: "POST",
                url: '@Url.Action("EmployeeInformationById", "EmployeeDetail")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);
                    $.each(data, function (key, value) {
                        //alert(key);
                        $("#EmployeeInfo").append('<tr> <td>' + value.DepartmentName + '</td> <td>' + value.DesignationName + '</td><td>' + value.BloodGroup + '</td><td>' + value.DateOfBirth + '</td><td>' + value.Email + '</td><td>' + value.NationalId + '</td><td>' + value.Phone + '</td><td>' + value.PresentAddress + '</td><td>' + value.PermanentAddress + '</td><td>' + value.JoiningDate + '</td><td>' + value.EndingDate + '</td><td>' + value.ProbationPeriod + '</td><td>' + '<a href="/Employee/EmployeeDetail/Edit/' + value.EQualificationId + '">Edit</a>' + '</td><td>' + '<a href="/Employee/EducationalQualification/Delete/' + value.EQualificationId + '">Delete</a>' + '</td></tr>');

                    });
                }
            });
        });



        $("#EmployeeId").change(function () {

            var deptId = $("#EmployeeId").val();
            $("#result").empty();
            var json = {
                employeeId: deptId
            };
            $code = "";
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllEmployeeNameById", "EducationalQualification")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);
                    $.each(data, function (key, value) {
                        //alert(key);
                        $("#Education").append('<tr> <td>' + value.ExamName + '</td> <td>' + value.InstitutionName + '</td><td>' + value.Board_University + '</td><td>' + value.Session + '</td><td>' + value.PassingYear + '</td><td>' + value.Grade_GPA + '</td><td>' + '<a href="/Employee/EducationalQualification/Edit/' + value.EQualificationId + '">Edit</a>' + '</td><td>' + '<a href="/Employee/EducationalQualification/Delete/' + value.EQualificationId + '">Delete</a>' + '</td></tr>');

                    });
                }
            });
        });


        $("#EmployeeId").change(function () {

            var deptId = $("#EmployeeId").val();
            $("#result").empty();
            var json = {
                employeeId: deptId
            };
            $code = "";
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllEmployeeById", "Experience")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);
                    $.each(data, function (key, value) {
                        //alert(key);
                        $("#Experience").append('<tr> <td>' + value.OrganizationName + '</td> <td>' + value.Position + '</td><td>' + value.JoiningDate + '</td><td>' + value.EndingDate + '</td><td>' + value.Responsibility + '</td><td>' + '<a href="/Employee/Experience/Edit/' + value.ExperienceId + '">Edit</a>' + '</td><td>' + '<a href="/Employee/Experience/Delete/' + value.ExperienceId + '">Delete</a>' + '</td></tr>');

                    });
                }
            });
        });

        $("#EmployeeId").change(function () {

            var deptId = $("#EmployeeId").val();
            $("#Training").empty();
            var json = {
                employeeId: deptId
            };
            $code = "";
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllEmployeeTrainingInfoById", "Training")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);
                    $.each(data, function (key, value) {
                        //alert(key);
                        $("#Training").append('<tr> <td>' + value.OrganizationName + '</td> <td>' + value.TrainingTitle + '</td><td>' + value.TrainingDuration + '</td><td>' + value.TrainingYear + '</td><td>' + '<a href="/Employee/Training/Edit/' + value.TrainingId + '">Edit</a>' + '</td><td>' + '<a href="/Employee/Training/Delete/' + value.TrainingId + '">Delete</a>' + '</td></tr>');

                    });
                }
            });
        });
    });
</script>