﻿@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.Employee.Models.EmployeeDetail>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="table table-responsive">
    <a class="popup btn btn-primary" href="/Employee/EmployeeDetail/Save/0" style="margin-bottom:20px; margin-top:20px;">Add New Employee</a>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(a => a.EmployeeName).Titled("Employee Name").Sortable(true).Filterable(true);
    columns.Add(a => a.DesignationName).Titled("Designation Name").Sortable(true).Filterable(true);
    columns.Add(a => a.DepartmentName).Titled("Department Name").Sortable(true).Filterable(true);
    columns.Add(a => a.FatherName).Titled("Father Name").Sortable(true).Filterable(true);
    columns.Add(a => a.MotherName).Titled("Mother Name").Sortable(true).Filterable(true);
    columns.Add(a => a.SpouseName).Titled("Spouse Name").Sortable(true).Filterable(true);
    columns.Add(a => a.Gender).Titled("Gender").Sortable(true).Filterable(true);
    columns.Add(a => a.DateOfBirth).Titled("Birth Date").Sortable(true).Filterable(true);
    columns.Add(a => a.MaritalStatus).Titled("Marital Status").Sortable(true).Filterable(true);
    columns.Add(a => a.Phone).Titled("Phone").Sortable(true).Filterable(true);
    columns.Add(a => a.Email).Titled("Email").Sortable(true).Filterable(true);
    columns.Add(a => a.Nationality).Titled("Nationality").Sortable(true).Filterable(true);
    columns.Add(a => a.NationalId).Titled("NationalId").Sortable(true).Filterable(true);
    columns.Add(a => a.Religion).Titled("Religion").Sortable(true).Filterable(true);
    columns.Add(a => a.PresentAddress).Titled("PresentAddress").Sortable(true).Filterable(true);
    columns.Add(a => a.PermanentAddress).Titled("PermanentAddress").Sortable(true).Filterable(true);
    columns.Add(a => a.BloodGroup).Titled("BloodGroup").Sortable(true).Filterable(true);
    columns.Add(a => a.JoiningDate).Titled("Joining Date").Sortable(true).Filterable(true);
    columns.Add(a => a.EndingDate).Titled("Ending Date").Sortable(true).Filterable(true);
    columns.Add(a => a.ProbationPeriod).Titled("ProbationPeriod").Sortable(true).Filterable(true);

    //columns.Add(a => a.EmployeeId).Titled("Employee Id").Sortable(true).Filterable(true);
    columns.Add().Titled("Edit")
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.EmployeeId }));
    columns.Add().Titled("Delete")
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
   .RenderValueAs(a => Html.ActionLink("Delete", "Delete", new { id = a.EmployeeId }));
}).WithPaging(5).Sortable(true)

</div>

