﻿@using TonyMultipurpose.Areas.Employee.Models
@model TonyMultipurpose.Areas.Employee.Models.EmployeeDetail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Save";
}

<h2>Save</h2>

<hr />

@using (Html.BeginForm("Save", "EmployeeDetail", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    if (Model != null && Model.EmployeeId > 0)
    {
        @Html.HiddenFor(b => b.EmployeeId)
    }


    <div class="row">

        <div class="container-fluid">

            <div class="row">

                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.EmployeeName, new { @class = "control-label" })
                    <div class="input-icon right">
                        @Html.TextBoxFor(b => b.EmployeeName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(b => b.EmployeeName, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.FatherName, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(b => b.FatherName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(b => b.FatherName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.MotherName, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(b => b.MotherName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(b => b.MotherName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.SpouseName, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(b => b.SpouseName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(b => b.SpouseName, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.Phone, new { @class = "control-label"})
                    <div class="input-icon right">
                        @Html.TextBoxFor(a => a.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.Email, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right " style="padding-left: 20px">
                        @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.NationalId, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(a => a.NationalId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.NationalId, "", new { @class = "text-danger" })
                    </div>
                </div>
                </div>
                <div class="row">

                <div class="form-group col-md-3">
                    @Html.LabelFor(a => a.PresentAddress, new { @class = "control-label" })
                    <div class="input-icon right">
                        @Html.TextAreaFor(a => a.PresentAddress, new { @class = "form-control", @rows = "2" })
                        @Html.ValidationMessageFor(a => a.PresentAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(a => a.PermanentAddress, new {@class = "control-label", @style = "padding-left: 20px"})
                        <div class="input-icon right" style="padding-left: 20px">
                            @Html.TextAreaFor(a => a.PermanentAddress, new {@class = "form-control", @rows = "2"})
                            @Html.ValidationMessageFor(a => a.PermanentAddress, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    


                </div>

        <div class="row">



            @*<div class="form-group col-md-4">
                    @Html.LabelFor(a => a.Gender, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.DropDownList("Gender", EnumHelper.GetSelectList(typeof(Gender)), "--Select Gender--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(b => b.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>*@


            <div class="form-group col-md-3">
                @Html.LabelFor(a => a.Gender, new {@class = "control-label"})
                <div class="input-icon right">
                    @Html.RadioButtonFor(a => a.Gender, "Male") Male &nbsp;&nbsp;
                    @Html.RadioButtonFor(a => a.Gender, "Female") Female
                    @Html.ValidationMessageFor(b => b.Gender, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(a => a.MaritalStatus, new {@class = "control-label", @style = "padding-left: 20px"})
                <div class="input-icon right" style="padding-left: 20px">
                    @Html.RadioButtonFor(a => a.MaritalStatus, "Married") Married &nbsp;&nbsp;
                    @Html.RadioButtonFor(a => a.MaritalStatus, "Married") Unmarried
                    @Html.ValidationMessageFor(b => b.MaritalStatus, "", new {@class = "text-danger"})
                </div>
            </div>


            

        </div>

        <div class="row">

            <div class="form-group col-md-3">
                @Html.LabelFor(a => a.Nationality, new { @class = "control-label"})
                <div class="input-icon right">
                    @Html.DropDownListFor(a => a.Nationality, new List<SelectListItem>()
                {
                    new SelectListItem {Text = "Bangladeshi", Value = "1"}
                }, "--Select Nationality--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Nationality, "", new { @class = "text-danger", @style = "color:red" })
                </div>
            </div>


            <div class="form-group col-md-3">
                @Html.LabelFor(a => a.Religion, new { @class = "control-label", @style = "padding-left: 20px" })
                <div class="input-icon right" style="padding-left: 20px">
                    @*@Html.EnumDropDownListFor(b => b.Religion, "--Select Religion--", new {@class = "form-control"})*@
                    @Html.DropDownList("Religion", EnumHelper.GetSelectList(typeof(Religion)), "--Select Religion--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(b => b.Religion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(a => a.BloodGroup, new { @class = "control-label", @style = "padding-left: 20px" })
                <div class="input-icon right" style="padding-left: 20px">
                    @Html.DropDownListFor(a => a.BloodGroup, new List<SelectListItem>()
                    {
                        new SelectListItem {Text = "A+", Value = "1"},
                        new SelectListItem {Text = "A-", Value = "2"},
                        new SelectListItem {Text = "B+", Value = "3"},
                        new SelectListItem {Text = "B-", Value = "4"},
                        new SelectListItem {Text = "O+", Value = "5"},
                        new SelectListItem {Text = "O-", Value = "6"},
                        new SelectListItem {Text = "AB+", Value = "7"},
                        new SelectListItem {Text = "AB-", Value = "8"}
                    }, "--Select BloodGroup--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.BloodGroup, "", new { @class = "text-danger", @style = "color:red" })
                </div>
            </div>

        </div>


        <div class="row">

                <div class="form-group col-md-2">
                    @Html.LabelFor(a => a.DateOfBirth, new { @class = "control-label" })
                    <div class="input-icon right">
                        @Html.TextBoxFor(a => a.DateOfBirth, new { @class = "form-control datepicker", Value = "" })
                        @Html.ValidationMessageFor(a => a.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-2">
                    @Html.LabelFor(a => a.DepartmentId, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.DropDownListFor(
                            x => x.DepartmentId,
                            new SelectList(Model.department, "DepartmentId", "DepartmentName"),
                            "--Select Department--", new { @class = "form-control" }
                            )
                        @Html.ValidationMessageFor(c => c.DepartmentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-2">
                    @Html.LabelFor(a => a.DesignationId, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.DropDownListFor(
                    x => x.DesignationId,
                    new SelectList(Model.designation, "DesignationId", "DesignationName"),
                    "--Select Designation--", new { @class = "form-control" }
                    )
                        @Html.ValidationMessageFor(c => c.DesignationId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group col-md-2">
                    @Html.LabelFor(a => a.JoiningDate, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(a => a.JoiningDate, new { @class = "form-control datepicker", Value = "" })
                        @Html.ValidationMessageFor(a => a.JoiningDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-2">
                    @Html.LabelFor(a => a.EndingDate, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(a => a.EndingDate, new { @class = "form-control datepicker", Value = "" })
                        @*@Html.ValidationMessageFor(a => a.EndingDate, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group col-md-2">
                    @Html.LabelFor(a => a.ProbationPeriod, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(a => a.ProbationPeriod, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.ProbationPeriod, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>


            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        </div>
    </div>



}



