﻿.grid-image {
  height: 40px; }

.grid-image-column {
  width: 70px; }

.grid-action-column {
  width: 100px; }

.search-box {
  min-width: 300px; }

.notice-box {
  min-height: 300px; }

.form-group {
  margin: 2px 0; }

.table thead tr th {
  vertical-align: top; }

.profile-image {
  height: 150px; }

.control-label {
  text-align: left !important; }

.input-validation-error {
  border: solid 1px #a94442; }

