﻿@using TonyMultipurpose.Areas.FinancialTransactions.Models;
@model IEnumerable<AutoDebitCreditModel>

@{
    ViewBag.Title = "Auto Debit Credit";
}


<div class="container">
    <div class="row form-group">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color: red; font-size: medium"></label>
                <input type="hidden" id="hdfId"/>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">Account From (Savings)<span class="error">*</span> </label>
                </div>
                <div class="col-md-5">
                    <input type="text" id="AccountFrom" name="AccountFrom" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">Type</label>
                </div>
                <div class="col-md-5">
                    <input type="text" id="AccountFromType" name="AccountFromType" class="form-control" readonly="readonly"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">Account To (CSS)<span class="error">*</span></label>
                </div>
                <div class="col-md-5">
                    <input type="text" name="AccountTo" id="AccountTo" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">Type</label>
                </div>
                <div class="col-md-5">
                    <input type="text" id="AccountToType" name="AccountToType" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">Amount<span class="error">*</span></label>
                </div>
                <div class="col-md-5">
                    <input type="number" step=".01" id="Amount" name="Amount" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">Is Auto</label>
                </div>
                <div class="col-md-4">
                    <input type="checkbox" checked="checked" class="form-check-input" id="IsAuto" name="IsAuto" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <input id="btnSave" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
            <input id="btnEdit" type="button" value="Update" class="btn btn-success" style="padding: 8px 24px;"/>
            <input id="btnClear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
        </div>
    </div>
</div>

<div class="tablecontainer table-responsive">
    <table id="AutoDebitCreditTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
        <tr>
            <th>Id</th>
            <th>Account From</th>
            <th>Account To</th>
            <th>Amount</th>
            <th>Status</th>
            <th>User Name</th>
        </tr>
        </thead>
    </table>
</div>

@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<style>
    span.error {
        display: inline-block;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    div.row {
        margin-bottom: 3px;
    }
</style>

}

@section scripts
{
    <script src="~/Scripts/Custom/FinancialTransactions/AutoDebitCredit/Index.js">
        </script>
}

