﻿@using TonyMultipurpose.Areas.Customer.Models;
@model IEnumerable<CustomerModel>

@{
    ViewBag.Title = "Send SMS";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <style>
    span.error {
        display: block inline;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    div.row {
        margin-bottom: 5px;
    }
</style>
    }





<div class="tablecontainer table-responsive">
    <table id="CustomerTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                <th>Customer Name</th>
            </tr>
        </thead>
    </table>
    <input id="Message" name="Message" type="text" class="form-control" />
    <input id="SendSMS" type="button" value="Send" class="btn btn-success" />
</div>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Scripts/Custom/Setup/SMS_Index.js")"></script>
}




