﻿@using TonyMultipurpose.Areas.Customer.Models;
@model IEnumerable<CustomerModel>

@{
    ViewBag.Title = "Send Email";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<style>
    span.error {
        display: block inline;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    div.row {
        margin-bottom: 5px;
    }
</style>
    }






<div class="panel-body" id="basicInfo">
    <div class="row form-group">
        <fieldset style="padding-top:10px; border:1px solid #666; border-radius:8px; box-shadow:0 0 10px #666; background:#fff; height:auto">
            <div class="col-md-12">
                <div class="col-md-7">
                    <table cellspacing="10" cellpadding="10" class="table table-bordered">
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">To</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="Fromemail" name="Fromemail" class="form-control" />
                            </td>
                        </tr>

                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">From</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="Toemail" name="Toemail" class="form-control" />
                            </td>
                        </tr>

                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Cc</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="Ccemail" name="Ccemail" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Bcc</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="Bccemail" name="Bccemail" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Subject</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <input type="text" id="Subject" name="Subject" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-info">
                                <label class="text-info">Body</label>
                                <span class="error">*</span>
                            </td>
                            <td width="200px">
                                <textarea type="text" id="Body" name="Body" class="form-control" style="height: 100px; width: 500px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <input id="btnSave" type="button" value="Send" class="btn btn-success" style="padding: 8px 24px;" />
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

        </fieldset>

        <div class="tablecontainer table-responsive">
            <table id="CustomerTable" class="display" cellspacing="0" style="width:100%; display:none;">
                <thead>
                    <tr>
                        <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                        <th>Customer Name</th>
                    </tr>
                </thead>
            </table>
            
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Scripts/Custom/Setup/SMS_SendCustomerDetail.js")"></script>
}



