﻿@model TonyMultipurpose.Areas.Setup.Models.InterestRateEntry


@{
    ViewBag.Title = "Interest Rate Entry";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Interest Rate</h2>

@using (Html.BeginForm("Edit", "InterestRateEntry", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AccountTitleId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("AccountTitleId", new List<SelectListItem>()
            {
                 new SelectListItem {Text = "--Select Account Title--", Value = ""},
                new SelectListItem {Text = "Loan", Value = "Loan"},
                new SelectListItem {Text = "Deposit", Value = "Deposit"}
            }, new { @class = "form-control", id = "AccountTitle",disabled="disabled" })
                @Html.ValidationMessageFor(c => c.AccountTitleId, "", new { @class = "text-danger", @style = "color: red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.AccountTypeName, new { htmlAttributes = new { @class = "form-control" } })*@
                @*<select name="AccountType" id="AccountType" class="form-control"></select>*@
                @Html.EditorFor(model => model.AccountTypeName, new { htmlAttributes = new { @class = "form-control",disabled = "disabled" } })
                @*<span class="error">**</span>*@
                @Html.ValidationMessageFor(c => c.AccountTypeName, "", new { @class = "text-danger", @style = "color: red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InterestRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.InterestRate, new { htmlAttributes = new { @class = "form-control", onkeypress = "return IsDouble(event);" } })
                @Html.ValidationMessageFor(model => model.InterestRate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ShowDate, new { htmlAttributes = new { @class = "form-control datepicker", id = "SDate" } })
                @* @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})*@
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.DropDownList("Duration", new List<SelectListItem>()
                {
                    new SelectListItem {Text = "--Select Duration--", Value = ""},
                    new SelectListItem {Text = "3 Months", Value = "3M"},
                    new SelectListItem {Text = "6 Months", Value = "6M"},
                    new SelectListItem {Text = "12 Months", Value = "12M"}
                }, new {@class = "form-control", id = "AccountTitle"})
                @Html.ValidationMessageFor(c => c.Duration, "", new { @class = "text-danger", @style = "color: red" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.DropDownList("IsActive", new List<SelectListItem>()
                {
                    new SelectListItem {Text = "Active", Value = "true"},
                    new SelectListItem {Text = "Inactive", Value = "false"}
                }, new {@class = "form-control"})
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="popup btn btn-primary"  href="@Url.Action("Index", "InterestRateEntry",new { Area = "Setup" })">Back To List</a>
                <input type="submit" value="Update" class="popup btn btn-primary" />
            </div>
        </div>

    </div>
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/Setup/InterestRateEntry_Edit.js")"></script>
}








