﻿
@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.Setup.Models.InterestRateEntry>


@{
    ViewBag.Title = "Interest Rate Entry";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    int rowVal = 0;
}

@section Styles{
    <style>
    span.field-validation-error {
        color: red;
    }
</style>
    }


<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add().Titled("Sr.No.").RenderValueAs(item => (rowVal = rowVal + 1).ToString());
    columns.Add(a => a.AccountTitleId).Titled("Account Title").Sortable(true).Filterable(true);
    columns.Add(a => a.AccountTypeName).Titled("Account Type Name").Sortable(true).Filterable(true);
    columns.Add(a => a.InterestRate).Titled("Interest Rate").Sortable(true).Filterable(true);
    columns.Add(a => a.ShowDate).Titled("Date").Sortable(true).Filterable(true);
    //columns.Add(a => a.Duration).Titled("Duration").Sortable(true).Filterable(true);

    columns.Add(a => a.UserStatus).Titled("Status").Sortable(true).Filterable(true);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.Id })).Titled("<span>Edit</span>");
    // columns.Add()
    //.Encoded(false)
    //.Sanitized(false)
    //.SetWidth(30)
    //.RenderValueAs(a => Html.ActionLink("Delete", "Delete", new { id = a.AccountSetupId })).Titled("Delete");
}).WithPaging(500).Sortable(true)

    <a class="popup btn btn-primary"  href="@Url.Action("Save", "InterestRateEntry",new { Area = "Setup" })" style="margin-bottom:20px; margin-top:20px;">Add New Interest Entry</a>
</div>
