﻿@model TonyMultipurpose.Areas.Employee.Models.DocumentType
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "DocumentType", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    if (Model != null && Model.DocumentTypeId > 0)
    {
        @Html.HiddenFor(b => b.DocumentTypeId)
    }

    <div class="form-group">
        @Html.LabelFor(a => a.TypeName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(b => b.TypeName, new { @class = "form-control" })
            @Html.ValidationMessageFor(b => b.TypeName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
}









