﻿@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.Employee.Models.DocumentType>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="table table-responsive">
    <a class="popup btn btn-primary" href="/Employee/DocumentType/Save/0" style="margin-bottom:20px; margin-top:20px;">Add New Type</a>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(a => a.TypeName).Titled("Type Name").Sortable(true).Filterable(true);
    columns.Add().Titled("Edit")
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.DocumentTypeId }));
    columns.Add().Titled("Delete")
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(a => Html.ActionLink("Delete", "Delete", new { id = a.DocumentTypeId }));
}).WithPaging(5).Sortable(true)

</div>

