﻿@using TonyMultipurpose.Areas.Member.Models
@model TonyMultipurpose.Areas.Member.Models.NomineeDetail
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Save Nominee Information</h2>

@using (Html.BeginForm("Save", "Nominee", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    if (Model != null && Model.NomineeId > 0)
    {
        @Html.HiddenFor(n => n.NomineeId)
    }


    <div class="row">
        <div class="container-fluid">

            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.AccountNumber, new {@class = "control-label"})
                    <div class="input-icon right">
                        @Html.TextBoxFor(n => n.AccountNumber, new {@class = "form-control",id="AccountNumber"})
                        @Html.ValidationMessageFor(n => n.AccountNumber, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                @*<div class="form-group col-md-3">
                    @Html.LabelFor(a => a.MemberId, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.DropDownListFor(
                            x => x.MemberId,
                            new SelectList(Model.memberNames, "MemberId", "MemberName"),
                            "--Select Account Type--", new { @class = "form-control" }
                            )
                        @Html.ValidationMessageFor(c => c.MemberId, "", new { @class = "text-danger", @style = "color:red" })
                    </div>
                </div>*@
                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.MemberName, new { @class = "control-label", @style = "padding-left: 20px" })
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(n => n.MemberName, new { @class = "form-control",id="MemberName" })
                        @Html.ValidationMessageFor(n => n.MemberName, "", new { @class = "text-danger", @style = "color:red" })
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.NomineeName, new {@class = "control-label"})
                    <div class="input-icon right">
                        @Html.TextBoxFor(n => n.NomineeName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(n => n.NomineeName, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.NomineeFatherName, new {@class = "control-label", @style = "padding-left: 20px"})
                    <div class="input-icon right"style="padding-left: 20px">
                        @Html.TextBoxFor(n => n.NomineeFatherName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(n => n.NomineeFatherName, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.NomineeMotherName, new {@class = "control-label", @style = "padding-left: 20px"})
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(n => n.NomineeMotherName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(n => n.NomineeMotherName, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.SpouseName, new {@class = "control-label"})
                    <div class="input-icon right">
                        @Html.TextBoxFor(n => n.SpouseName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(n => n.SpouseName, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.ContactNumber, new {@class = "control-label", @style = "padding-left: 20px"})
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(n => n.ContactNumber, new {@class = "form-control"})
                        @Html.ValidationMessageFor(n => n.ContactNumber, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.DateOfBirth, new {@class = "control-label", @style = "padding-left: 20px"})
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(n => n.DateOfBirth, new {@class = "form-control"})
                        @Html.ValidationMessageFor(n => n.DateOfBirth, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.Nationality, new {@class = "control-label"})
                    <div class="input-icon right">
                        @Html.TextBoxFor(n => n.Nationality, new {@class = "form-control"})
                        @Html.ValidationMessageFor(n => n.Nationality, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.NID, new {@class = "control-label", @style = "padding-left: 20px"})
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(n => n.NID, new {@class = "form-control"})
                        @Html.ValidationMessageFor(n => n.NID, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.Occupation, new {@class = "control-label", @style = "padding-left: 20px"})
                    <div class="input-icon right" style="padding-left: 20px">
                        @Html.TextBoxFor(n => n.Occupation, new {@class = "form-control"})
                        @Html.ValidationMessageFor(n => n.Occupation, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(n => n.Designation, new {@class = "control-label"})
                    <div class="input-icon right">
                        @Html.TextBoxFor(n => n.Designation, new {@class = "form-control"})
                        @Html.ValidationMessageFor(n => n.Designation, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
                <div class="form-group col-md-8">
                    @Html.LabelFor(n => n.Address, new {@class = "control-label", @style = "padding-left: 20px"})
                    <div class="input-icon right" style="padding: 1px 24px">
                        @Html.TextAreaFor(n => n.Address, new {@class = "form-control " })
                        @Html.ValidationMessageFor(n => n.Address, "", new {@class = "text-danger", @style = "color:red"})
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>




    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>


    <script>
        $("#AccountNumber").change(function () {
            var accountNo = $("#AccountNumber").val();
            var json = { accountNo: accountNo };
            $('#MemberName').empty();

            $.ajax({
                type: "POST",
                url: "/Member/Nominee/GetMemberNameByAccountNo",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),

                success: function (memberName) {
                    
                    $('#MemberName').val(memberName.MemberName);
                    $('#MemberName').attr('disabled','disabled');
                },

            });
        });

        $("#AccountNumber").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Member/Nominee/AutoCompleteAccountNumber",
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }))
                    }
                })
            },
            messages: {
                noResults: "",
                results: ""
            }
        });

    </script>
}