﻿@using TonyMultipurpose.Infrastructure.Helpers
@model IEnumerable<TonyMultipurpose.Models.Navigation>


@if (!Model.Equals(null))
{
    foreach (var menu in Model.ToList())
    {
        if (menu.ParentId != null || menu.HasSubMenu.Equals(true))
        {
            if (menu.ParentId == null)
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i>
                        <span>@menu.MenuName</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" id="@menu.MenuId">
                        @foreach (var submenu in Model)
                        {
                            if (menu.MenuId == submenu.ParentId)
                            {

                                using (Html.JpMenuLinkByAction(submenu.ActionName, submenu.ControllerName, submenu.AreaName, submenu.MenuName))
                                {
                                    
                                }
                            }
                        }
                    </ul>
                </li>
            }

        }
        else
        {
            <li>
                @if (menu.ParentId == null)
                {
                    <a href="@Url.Action(menu.ActionName, menu.ControllerName, new {Area = menu.AreaName}, null)">

                        <i class="fa fa-home"></i>
                        <span>@menu.MenuName</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                }
            </li>
        }
    }
}
else
{
    @Html.Action("Login", "UserLogin")
}
