﻿@using GridMvc.Html
@using TonyMultipurpose.Areas.Setup.Models
@model IEnumerable<Company>

@{
    ViewBag.Title = "Company List";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table table-responsive">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(a => a.CompanyName).Titled("Company Name").Sortable(true).Filterable(true);
    columns.Add(a => a.Address).Titled("Address").Sortable(true).Filterable(true);
    columns.Add(a => a.Phone).Titled("Phone").Sortable(true).Filterable(true);
    columns.Add(a => a.Fax).Titled("Fax").Sortable(true).Filterable(true);
    columns.Add(a => a.Email).Titled("Email").Sortable(true).Filterable(true);
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.CompanyId, @class = "btn btn-primary" })).Titled("Edit");
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(a => Html.ActionLink("Delete", "Delete", new { id = a.CompanyId })).Titled("Delete");
}).WithPaging(10).Sortable(true)

    <a class="popup btn btn-primary" href="@Url.Action("Save", "Company", new {Area = "Setup"})" style="margin-bottom: 20px; margin-top: 20px;">Add New Company </a>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/Setup/CompanyList.js")"></script>
}

