﻿@using TonyMultipurpose.Areas.Loan.Models
@model SettlementModel
@{
    ViewBag.Title = " Saving Transaction Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<div class="container panel panel-default" style="float: left">
    <div class="panel-heading"><h2>Settlement Info</h2></div>
    <div class="panel-body">
        <table width="100%">

            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <label>Loan Id</label>
                            </td>
                            <td>
                                <input type="text" id="LoanId" class="form-control" value="@Model.LoanId" readonly="readonly" />
                                <span class="error">space </span>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <label>Settlement Type</label>
                            </td>
                            <td>
                                <input type="text" id="SettlementTypeName" class="form-control" value="@Model.SettlementTypeName" readonly="readonly" />
                                <span class="error">space </span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Settlement Date</label>
                            </td>
                            <td>
                                <input type="text" id="SettlementDateShow" class="form-control" value="@Model.SettlementDateShow" readonly="readonly" />
                                <span class="error">space </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Reason</label>
                            </td>
                            <td>
                                <input type="text" id="Reason" class="form-control" value="@Model.Reason" readonly="readonly" />
                                <span class="error">space </span>
                            </td>
                        </tr>

                        
                        <tr>
                            <td></td>
                            <td><a class="popup btn btn-primary" href="@Url.Action("Index", "SettlementApproval",new { Area = "Loan" })">Back To List</a></td>
                        </tr>
                    </table>

                </td>
            </tr>


        </table>


    </div>
</div>
<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }


    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 1px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }

    #hideid {
        display: none;
    }
</style>