﻿
@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.Loan.Models.SettlementModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Settlement Approval";
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        canSort: true, rowsPerPage: 500, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
}


@* Here  I am going to add some css for better looks *@

<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>

<h2>Settlement Approval</h2>
<hr />
<div class="input-group col-md-3">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="search" />
</div>
<hr />
@using (Html.BeginForm("Index", "SettlementApproval", FormMethod.Post)) //@*"Approve","SavingsApproval", FormMethod.Post*@
{
    <div>
        @grid.GetHtml(
            tableStyle: "gridtable",
            htmlAttributes: new { id = "checkableGrid" },
            columns: grid.Columns
                (
                    //Here I am going to add checkbox column
                    grid.Column(
                        format: @<text> <input type="checkbox" value="@item.SettlementId" name="SettlementId" /> </text>,
                        header: "{checkall}"
                        ),
                    grid.Column("LoanId", "Loan Id"),
                    grid.Column("SettlementTypeName", "Settlement Type"),
                    grid.Column("SettlementDateShow", "Settlement Date"),
                    grid.Column("Reason", "Reason"),
                    @*grid.Column(
                        format: @<text> <input type="text" name="@item.SettlementId" /> </text>,
                        header: "Reject Reason"
                        ),*@
                    grid.Column("CreatedName", "Created By"),
                    grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new { id = @item.SettlementId }, new { target = "_blank" })  </text>,
                        header: "Detail")
                )
            )
    </div>
    <div class="row" style="width:180px;margin-top:10px;">
        <div class="col-md-6">
            <input type="submit" value="Approve" name="action:Approve" class="btn btn-success" />
        </div>
        @*<div class="col-md-6">
            <input type="submit" value="Reject" name="action:Reject" class="btn btn-success" />
        </div>*@
    </div>

}

@* Here I am going to add some Jquery Code *@
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script>
    $(document).ready(function () {

        // 1st replace first column header text with checkbox
        checkBoxHeader();

        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {
            var totalRows = $("#checkableGrid td :checkbox").length;
            var checked = $("#checkableGrid td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#checkableGrid").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#cbSelectAll").removeAttr("checked");
            }
        });

        $("#search").keyup(function () {
            filter = new RegExp($(this).val(), 'i');
            $("#checkableGrid tbody tr").filter(function () {
                $(this).each(function () {
                    found = false;
                    $(this).children().each(function () {
                        content = $(this).html();
                        if (content.match(filter)) {
                            found = true;
                        }
                    });
                    if (!found) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });


    });
    function checkBoxHeader() {
        $("#checkableGrid th").each(function() {
            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                $(this).text('');
                $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                $(this).append("<span>Select All</span>");
            }
        });

        $("#cbSelectAll").on("click", function () {
            var ischecked = this.checked;
            $('#checkableGrid').find("input:checkbox").each(function () {
                this.checked = ischecked;
            });
        });
    }
</script>