﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<AdvanceAdjustmentModel>

@{
    ViewBag.Title = "Employee Advance Adjustment";
}



<table id="AdvanceAdjustmentTable" class="display table-responsive" style="width:100%;">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Advance Date</th>
            <th>Advance Amount</th>
            <th>Description</th>
            <th>Effective Date</th>
            <th>Installment Number</th>
            <th>Approve</th>
        </tr>
    </thead>
</table>
@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />


    <style>
        span.error {
            display: block inline;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>
}

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom/HR/AdvanceAdjustmentApproval.js"></script>
}





