﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<BenefitModel>

@{
    ViewBag.Title = "Benefit Entry";
    
}



<div class="container">
    <div class="row form-group">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color:red;font-size:medium"></label>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <fieldset style="padding-top:10px; border:1px solid #666; background:#fff; height:390px">
            <div class="col-md-10">
                <table  class="table table-bordered" style="width:100%;">
                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Employee Code</label>
                            <span class="error">*</span>
                        </td>
                        <td width="200px"><input type="text" id="EmpId" name="EmpId" class="form-control" placeholder="Type Employee Code"/></td>
                        <td width="200px" class="text-info"><label class="text-info">Employee Name</label></td>
                        <td width="200px"><label id="EmployeeName"></label></td>
                    </tr>

                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Benefit Type</label>
                            <span class="error">*</span>
                        </td>
                        <td width="200px">
                            <select name="BenefitType" id="BenefitType" class="form-control">
                                <option value="0">--Select Benefit Type</option>
                                <option value="1">Festival Bonus</option>
                                <option value="2">Performance Bonus</option>
                                <option value="3">Other Bonus</option>
                            </select>
                        </td>
                        <td width="200px" class="text-info"><label class="text-info">Designation</label></td>
                        <td width="200px"><label id="Designation"></label></td>
                    </tr>

                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Benefit Date</label>
                            <span class="error">*</span>
                        </td>
                        <td width="200px"><input type="text" id="BenefitDate" name="BenefitDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")"/></td>
                        <td width="200px" class="text-info"><label class="text-info">Center</label></td>
                        <td width="200px"><label id="Center"></label></td>
                    </tr>

                    <tr>
                        <td width="200px" class="text-info"><label class="text-info">Description</label></td>
                        <td width="200px"><input type="text" id="Description" name="Description" class="form-control"/></td>
                        <td width="200px" class="text-info"><label class="text-info">NID</label></td>
                        <td width="200px"><label id="NID"></label></td>
                    </tr>

                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Benefit Amount</label>
                            <span class="error">*</span>
                        </td>
                        <td width="200px"><input type="text" id="BenefitAmount" name="BenefitAmount" class="form-control" onkeypress="return IsInteger(event);" /></td>  
                    </tr>

                    <tr>
                        <td colspan="4">
                            <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;"/>
                            <input id="submit1" type="button" value="Update" class="btn btn-success" style="padding: 8px 24px;"/>
                            <input id="clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;"/>
                        </td>
                    </tr>

                </table>
            </div>
        </fieldset>
    </div>
</div>

<div class="tablecontainer table-responsive">
    <table id="EmpBenefitTable" class="display" style="width:100%;">
        <thead>
            <tr>
                <th>EmpCode</th>
                <th>Benefit Type</th>
                <th>Benefit Amount</th>
                <th>Benefit Date </th>
                <th>Description</th>
            </tr>
        </thead>
    </table>
</div>
@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom/HR/BenefitEntry.js">

    
</script>
}

