﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<BenefitModel>

@{
    ViewBag.Title = "Benefit Approval";
}








<table id="EmpBenefitTable" class="display" style="width:100%;">
    <thead>
        <tr>
            <th>EmpCode</th>
            <th>Employee Name</th>
            <th>Benefit Type</th>
            <th>Benefit Amount</th>
            <th>Benefit Date </th>
            <th>Description</th>
            <th>Approve</th>
        </tr>
    </thead>
</table>

@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom/HR/BenefitApproval.js"></script>
}

