﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<Designation>

@{
    ViewBag.Title = "Designation Entry";
    
}



<div class="container">
    <div class="row form-group">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color:red;font-size:medium"></label>
                <input type="hidden" id="hdfDesignationId" name="DesigId" />
            </div>
        </div>
    </div>
    <div class="row form-group">

        <fieldset style="padding-top:10px; border:1px solid #666; border-radius:8px; box-shadow:0 0 10px #666; background:#fff; height:180px">

            <div class="col-md-10">

                <table cellspacing="10" cellpadding="10" class="table table-bordered" style="width:100%;">
                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Designation Name </label>
                        </td>
                        <td width="200px"><input type="text" id="DesignationName" name="DesignationName" class="form-control" placeholder="Type Designation Name" /></td>

                        <td width="200px" class="text-info"><label class="text-info">Code</label>
                            <span class="error">*</span></td>
                        <td width="200px"><input type="text" id="DesignationCode" name="DesignationCode" class="form-control" placeholder="Type Designation Code" /></td>
                        <td width="200px" class="text-info">
                            <label class="text-info">Functional Designation</label>
                            
                        </td>
                        <td width="200px"><input type="text" id="FunctionalDesignation" name="FunctionalDesignation" class="form-control" placeholder="Type Functional Designation" /></td>
                    </tr>

                    <tr>
                        <td colspan="6">
                            <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
                            <input id="submit1" type="button" value="Update" class="btn btn-success" style="padding: 8px 24px;" />
                            <input id="clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                        </td>

                    </tr>
                </table>
            </div>

        </fieldset>
    </div>

</div>

<div class="tablecontainer table-responsive">
    <table id="DesignationTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th>Designation Name</th>
                <th>Code</th>
                <th>Functional Designation</th>
            </tr>
        </thead>
    </table>
</div>


@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />


    <style>
        span.error {
            display: block inline;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom/HR/Designation.js"></script>
}
