﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<LeaveInformation>

@{
    ViewBag.Title = "Leave Entry";
    
}



<div class="container">
    <div class="row form-group" id="popUpBtn">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color:red;font-size:medium"></label>
                <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="NotASavedLoan">
            </div>
        </div>
    </div>
    <div class="row form-group">

        <fieldset style="padding-top:10px; border:1px solid #666; border-radius:8px; box-shadow:0 0 10px #666; background:#fff; height:260px">

            <div class="col-md-10">
                @*<div class="label-primary">Leave Entry</div>*@

                <table cellspacing="10" cellpadding="10" class="table table-bordered" width="100%">
                    <tr>
                        <td width="200px" class="text-info"><label class="text-info">Employee Code</label></td>
                        <td width="200px"><input type="text" id="EmpId" name="EmpId" class="form-control" placeholder="Type Employee Code" /></td>
                        <td width="200px" class="text-info"><label class="text-info">Employee Name</label></td>
                        <td width="200px"><input type="text" id="EmployeeName" name="EmployeeName" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td width="200px" class="text-info"><label class="text-info">Leave Type</label></td>
                        <td width="200px"><select name="LTypeId" id="LTypeId" class="form-control"></select></td>
                        <td width="200px" class="text-info"><label class="text-info">Description</label></td>
                        <td width="200px"><input type="text" id="Description" name="Description" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td width="200px" class="text-info"><label class="text-info">From Date </label></td>
                        <td width="200px"><input type="text" id="FromDate" name="FromDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" /></td>
                        <td width="200px" class="text-info"><label class="text-info">To Date</label></td>
                        <td width="200px"><input type="text" id="ToDate" name="ToDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" /></td>
                    </tr>
                    <tr>
                        <td width="200px" class="text-info"><label class="text-info">Total Leave Count</label></td>
                        <td width="200px"><label id="TotalLeaveCount" class="text-info"></label></td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
                            <input id="clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                        </td>

                    </tr>
                </table>


            </div>

        </fieldset>
    </div>

</div>

<div class="tablecontainer table-responsive">
    <table id="LoanTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th>Leave Type</th>
                <th>From Date </th>
                <th>To Date</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
</div>


@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />


    <style>
        span.error {
            display: block inline;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script>


    (function () {
        $('#FromDate').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+60",
            type: Text
        }).click(function () { $(this).focus(); });
        $('#ToDate').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+60",
            type: Text
        }).click(function () { $(this).focus(); });

        GetLeaveType();
        function GetLeaveType() {
            $('#LTypeId').empty();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetLeaveType", "LeaveInformation", new { Area = "HR" })',
                contentType: "application/json; charset=utf-8",
                //data: JSON.stringify(json),
                success: function (data) {
                    $("#LTypeId").append('<option value="0">--Select Type--</option>');
                    $.each(data, function (key, value) {
                        $("#LTypeId").append('<option value=' + value.LTypeId + '>' + value.LeaveTypeName + '</option>');
                    });
                }
            });
        }
        $('#submit').click(function () {
            var isValid = true;// CheckValidation();
            if (isValid) {
                var data = {
                    LTypeId: $('#LTypeId option:Selected').val(),
                    FromDate: $('#FromDate').val(),
                    ToDate: $('#ToDate').val(),
                };
                $.ajax({
                    url: '@Url.Action("SaveLeaveEntry", "LeaveInformation", new { Area = "HR" })',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.objCommonResult.Status==true) {
                            alert(d.objCommonResult.Status);
                        }
                        //if (d.oCommonResult.Status == true) {
                        //    oTable.ajax.reload();
                        //    $('#submit').val('Save');
                        //    document.getElementById('showMessage').style.color = "green";
                        //    $('#hdfLoanId').val(data.LoanId);
                        //}
                        //document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        //document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                        //$('#hdfLoanId').val('');
                    }
                });

            }
        });
        $("#EmpId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("AutoCompleteEmployeeCode", "LeaveInformation", new { Area = "HR" })',
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }));
                    }
                });
            },
            messages: {
                noResults: "",
                results: ""
            }
        });
        $("#EmpId").change(function () {
            $('#EmployeeName').empty();
            var EmpId = $("#EmpId").val();
            var json = { EmpId: EmpId };

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetEmployeeNameByEmpId", "LeaveInformation", new { Area = "HR" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $('#EmployeeName').val(data.EmployeeName);

                }
            });
        });
        @*var oTable;
        $(document).ready(function () {
            loadTable();
        });
        function loadTable() {
            oTable = $('#LoanTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("SaveDepartment", "HR", new {Area = "HR" })',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "DepartmentId" },
                    { "data": "DepartmentName" },
                    { "data": "IsActive" }
                ],
                "order": [[0, "desc"]],
            });
            $('#LoanTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindDataToControls(oTable.row(this).data());
            });
        }



        function bindDataToControls(data) {

            document.getElementById('loantype').innerHTML = data.LoanTypeName;
            document.getElementById('CustomerId').innerHTML = data.CustomerId;
            document.getElementById('RefId').innerHTML = data.LoanId;
            document.getElementById('RefName').innerHTML = data.ReferenceName;
            document.getElementById('LoanDate').innerHTML = data.LoanDate;
            document.getElementById('LoanAmount').innerHTML = data.LoanAmount;
            document.getElementById('InterestRate').innerHTML = data.InterestRate;
            document.getElementById('InstallmentType').innerHTML = data.InstallmentTypeName;
            document.getElementById('NumberOfInstallment').innerHTML = data.NumberOfInstallment;
            document.getElementById('ExtraFee').innerHTML = data.ExtraFee;
            document.getElementById('PurposeOfLoan').innerHTML = data.PurposeOfLoan;
            document.getElementById('TotalPurchaseAmount').innerHTML = data.TotalPurchaseAmount;
            document.getElementById('TotalAssetCost').innerHTML = data.TotalAssetCost;
            document.getElementById('DistributorName').innerHTML = data.DistributorName;
            document.getElementById('LoanExpiryDate').innerHTML = data.LoanExpiryDate;
            document.getElementById('AccountNum').innerHTML = data.AccountNumber;
            document.getElementById('COA_accountName').innerHTML = data.AccountCode;
            //document.getElementById('RefId').innerHTML = data.LoanId;
            //document.getElementById('RefId').innerHTML = data.LoanId;
            //document.getElementById('RefId').innerHTML = data.LoanId;
            //document.getElementById('RefId').innerHTML = data.LoanId;
            $('#CustomerId').val(data.CustomerId);
            $("#CustomerId").change();
            //$(document).ajaxComplete(function () {
            //    $('#AccountNumber').val(data.AccountNumber);
            //});
            //$('#loantype').val(data.LoanTypeId);
            //$('#RefId').val(data.LoanId);
            $('#hdfLoanId').val(data.LoanId);
            //$('#RefName').val(data.ReferenceName);
            //$('#LoanDate').val(data.LoanDate);
            //$('#LoanAmount').val(data.LoanAmount);
            //$('#InterestRate').val(data.InterestRate);
           // $('#InstallmentTypeId').val(data.InstallmentTypeId);
            //$('#NumberOfInstallment').val(data.NumberOfInstallment);
            //$('#ExtraFee').val(data.ExtraFee);
            //$('#PurposeOfLoan').val(data.PurposeOfLoan);
           // $('#TotalPurchaseAmount').val(data.TotalPurchaseAmount);
           // $('#TotalAssetCost').val(data.TotalAssetCost);
            ///$('#DistributorName').val(data.DistributorName);
            //$('#LoanExpiryDate').val(data.LoanExpiryDate);

        }









        // Get customer Information
        $("#CustomerId").change(function () {
            $('#AccountNumber').empty();
            var customerId = $("#CustomerId").val();
            var json = { customerId: customerId };

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCustomerInfo", "Loan", new { Area = "Loan" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $('#CustomerInfo').show();
                    $('#customerImage').attr('src', data.CustomerImage);
                    document.getElementById('CustomerName').innerHTML = data.CustomerName;
                    document.getElementById('FatherName').innerHTML = data.FatherName;
                    document.getElementById('MotherName').innerHTML = data.MotherName;
                    document.getElementById('DateofBirth').innerHTML = FormateDate(data.DateOfBirth);
                    document.getElementById('Nationality').innerHTML = data.Nationality;
                    document.getElementById('Occupation').innerHTML = data.OccupationAndPosition;
                    document.getElementById('PAddress').innerHTML = data.PresentAddress;
                    document.getElementById('Mobile').innerHTML = data.Mobile;
                    GetAccountNumber(customerId);
                }
            });
        });

        $('#submit').click(function () {
            var isValid = true;// CheckValidation();
            if (isValid) {
                var IsActive;
                if ($('#chkdepartment').prop("checked") === true) {
                    IsActive = 1;
                }
                else {
                    IsActive = 0;
                }
                var data = {

                    IsActive: IsActive,
                    DepartmentName: $('#department').val()
                };
                $.ajax({
                    url: '@Url.Action("SaveDepartment", "HR", new { Area = "HR" })',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        $('#hdfLoanId').val('');
                        if (d.oCommonResult.Status == true) {
                            oTable.ajax.reload();
                            $('#submit').val('Save');
                            document.getElementById('showMessage').style.color = "green";
                            $('#hdfLoanId').val(data.LoanId);
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                        $('#hdfLoanId').val('');
                    }
                });

            }
        });

        $('#clear').click(function () {
            window.location.reload();
        });

        function CheckValidation() {
            var isValid = true;
            if ($('#LoanType').val().trim() === '0') {
                isValid = false;
                $('#LoanType').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#LoanType').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#RefId').val().trim() === '') {
                isValid = false;
                $('#RefId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#RefId').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#CustomerId').val().trim() === '') {
                isValid = false;
                $('#CustomerId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#CustomerId').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#AccountNumber').val() === '0') {
                isValid = false;
                $('#AccountNumber').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#AccountNumber').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#LoanDate').val().trim() === '') {
                isValid = false;
                $('#LoanDate').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#LoanDate').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#LoanAmount').val().trim() === '') {
                isValid = false;
                $('#LoanAmount').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#LoanAmount').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#InterestRate').val().trim() === '') {
                isValid = false;
                $('#InterestRate').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#InterestRate').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#InstallmentTypeId').val() === '0') {
                isValid = false;
                $('#InstallmentTypeId').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#InstallmentTypeId').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#NumberOfInstallment').val().trim() === '') {
                isValid = false;
                $('#NumberOfInstallment').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#NumberOfInstallment').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#ExtraFee').val().trim() === '') {
                isValid = false;
                $('#ExtraFee').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#ExtraFee').parent().prev().find('span').css('visibility', 'hidden');
            }
            if ($('#LoanExpiryDate').val().trim() === '') {
                isValid = false;
                $('#LoanExpiryDate').parent().prev().find('span').css('visibility', 'visible');
            }
            else {
                $('#LoanExpiryDate').parent().prev().find('span').css('visibility', 'hidden');
            }
            return isValid;
        }

        //json to date converter
        function FormateDate(jsonDate) {
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Novr", "Dec"
            ];
            var date = new Date(parseInt(jsonDate.substr(6)));
            var dd = date.getDate();
            var mm = monthNames[date.getMonth()];
            var yyyy = date.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            var formmatedDate = dd + '/' + mm + '/' + yyyy;
            return formmatedDate;
        }



        //popup
        $('.popup').on('click', function (e) {
            e.preventDefault();
            var loanId = $('#hdfLoanId').val();
            if ($('#hdfLoanId').val() === 'NotASavedLoan') {
                return false;
            }
            else {
                var link = $(this).attr('href') + "?loanId=" + loanId;
                OpenPopup(link, $(this).data("title"));
            }

        });

        function OpenPopup(pageUrl, title) {
            var $pageContent = $('<div/>');
            $pageContent.load(pageUrl, function () {
                $('#popupForm', $pageContent).removeData('validator');
                $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
            });

            $dialog = $('<div class="popupWindow"  style="color:Black;"></div>')
                .html($pageContent)
                .dialog({
                    draggable: true,
                    autoOpen: false,
                    resizable: true,
                    model: true,
                    title: title,
                    height: 650,
                    width: 800,
                    close: function () {
                        $dialog.dialog('destroy').remove();
                    }
                });
            $dialog.dialog('open');
        }*@

    })();
</script>
}
