﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<HolidayModel>

@{
    ViewBag.Title = "Company Holidays";

}



<div class="container">
    <div class="row form-group">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color:red;font-size:medium"></label>
                <input type="hidden" id="hdfId" name="HolidayId" />
            </div>
        </div>
    </div>
    <div class="row form-group">

        <fieldset style="padding-top:10px; border:1px solid #666; border-radius:8px; box-shadow:0 0 10px #666; background:#fff; height:280px">

            <div class="col-md-10">

                <table cellspacing="10" cellpadding="10" class="table table-bordered" style="width:100%;">
                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Holiday</label>
                            <span class="error">*</span>
                        </td>
                        <td width="200px"><input type="text" id="Holiday" name="Holiday" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" /></td>
                    </tr>
                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Holiday Type</label>
                            <span class="error">*</span>
                        </td>
                        <td width="200px"><input type="text" id="HolidayType" name="HolidayType" class="form-control" placeholder="Type Holiday Name" /></td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
                            <input id="submit1" type="button" value="Update" class="btn btn-success" style="padding: 8px 24px;" />
                            <input id="clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                        </td>

                    </tr>
                </table>
            </div>

        </fieldset>
    </div>

</div>

<div class="tablecontainer table-responsive">
    <table id="HolidayTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th>Holiday Id</th>
                <th>Holiday</th>
                <th>Holiday Type</th>
            </tr>
        </thead>
    </table>
</div>


@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />

    <style>
        span.error {
            display: block inline;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom/HR/HoliDay.js"></script>
}


