﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<LeaveInformation>

@{
    ViewBag.Title = "Leave Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<style>
    span.error {
        display: block inline;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    div.row {
        margin-bottom: 5px;
    }
</style>

<div class="container">
    <div class="row form-group" id="popUpBtn">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color:red;font-size:medium"></label>
                <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="NotASavedLoan">
            </div>
        </div>
    </div>
    <div class="row form-group">

        <fieldset style="padding-top:10px; border:1px solid #666; border-radius:8px; box-shadow:0 0 10px #666; background:#fff; height:260px">

            <div class="col-md-12">
                <h4>Leave Entry</h4>

                <table cellspacing="10" cellpadding="10" class="table table-bordered" width="100%">
                    <tr>
                        <td width="200px" class="text-info"><label class="text-info">Employee Code</label></td>
                        <td width="200px"><input type="text" id="EmpCode" name="EmpCode" class="form-control" placeholder="Type Employee Code" /></td>
                        <td width="200px" class="text-info"><label class="text-info">Employee Name</label></td>
                        <td width="200px"><input type="text" id="EmployeeName" name="EmployeeName" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td width="200px" class="text-info"><label class="text-info">Leave Type</label></td>
                        <td width="200px"><select name="LTypeId" id="LTypeId" class="form-control"></select></td>
                        <td width="200px" class="text-info"><label class="text-info">Description</label></td>
                        <td width="200px"><input type="text" id="Description" name="Description" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td width="200px" class="text-info"><label class="text-info">From Date </label></td>
                        <td width="200px"><input type="text" id="FromDate" name="FromDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" /></td>
                        <td width="200px" class="text-info"><label class="text-info">To Date</label></td>
                        <td width="200px"><input type="text" id="ToDate" name="ToDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" /></td>
                    </tr>
                    <tr>
                        <td width="200px" class="text-info"><label class="text-info">Total Leave Count</label></td>
                        <td width="200px"><label id="TotalLeaveCount" class="text-info"></label></td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
                            <input id="clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                        </td>

                    </tr>
                </table>


            </div>

        </fieldset>
    </div>

</div>
<br />
<br />
<div class="tablecontainer table-responsive">
    <table id="LeaveTable" class="display" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Leave Type</th>
                <th>Description</th>
                <th>From Date </th>
                <th>To Date</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
</div>

<script>

    (function () {
        var oLeaveTable;
        LeaveTable();
        function LeaveTable() {
            oLeaveTable = $('#LeaveTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetAllLeaveInfo", "HR", new { Area = "HR" })',
                    "type": "get",
                },
                "columns": [
                    { "data": "EmpCode" },
                    { "data": "EmployeeName" },
                    { "data": "LeaveTypeName" },
                    { "data": "Description" },
                    { "data": "FromDate" },
                    { "data": "ToDate" },
                    { "data": "UserStatus" },
                ],
                "order": [[0, "desc"]],
                searching: false,
                paging: false,
                "bInfo": false
            });
            $('#LeaveTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oLeaveTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                bindLeaveEntry(oLeaveTable.row(this).data());
            });
        }
        function bindLeaveEntry(data) {
            $('#hdfMonthlyExpenseId').val(data.MonthlyExpenseId);
            $('#MonthlyExpense_TypeId').val(data.ExpenseTypeId);
            $('#MonthlyExpense_Amount').val(data.Amount);
            $('#MonthlyExpense_LoanId').val(data.LoanId);
            //$('#saveMonthlyExpense').hide();
            //$('#UpdateMonthlyExpense').show();
            //$('#deleteMonthlyExpense').show();
        }

        $('#FromDate').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+60",
            type: Text
        }).click(function () { $(this).focus(); });

        $('#ToDate').datepicker({
            dateFormat: 'dd/M/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+60",
            type: Text
        }).click(function () { $(this).focus(); });

        GetLeaveType();
        function GetLeaveType() {
            $('#LTypeId').empty();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetLeaveType", "HR", new { Area = "HR" })',
                contentType: "application/json; charset=utf-8",
                //data: JSON.stringify(json),
                success: function (data) {
                    $("#LTypeId").append('<option value="0">--Select Type--</option>');
                    $.each(data, function (key, value) {
                        $("#LTypeId").append('<option value=' + value.LTypeId + '>' + value.LeaveTypeName + '</option>');
                    });
                }
            });
        }
        function ClearData() {
            $('#EmpCode').val('');
            $('#EmployeeName').val('');
            $('#LTypeId').val('');
            $('#Description').val('');
            $('#FromDate').val('');
            $('#ToDate').val('');
        }
        $('#clear').click(function () {
            ClearData();
        })
       // GetHolidayInformation();
       //var  holidayifno= [];
        function GetHolidayInformation() {
            $.ajax({
                url: '@Url.Action("GetHolidayInformation", "HR", new { Area = "HR" })',
                type: "Get",
                //data: JSON.stringify(data),
                //dataType: "JSON",
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (key, value) {
                         holidayifno = value.Holiday;
                    });
                    console.log(holidayifno);
                },
                error: function () {
                   

                }
            });
        }
        $('#submit').click(function () {
            var isValid = true;// CheckValidation();
            if (isValid) {
                var fromdate = $('#FromDate').val();
                var todate = $('#ToDate').val();
                $.ajax({
                    url: '@Url.Action("GetHolidayInformation", "HR", new { Area = "HR" })',
                    type: "Get",
                    //data: JSON.stringify(data),
                    //dataType: "JSON",
                    contentType: "application/json",
                    success: function (data) {
                        for (var a = fromdate; a <= todate; a++) {
                            var date = a;
                        $.each(data, function (key, value) {
                            if (date == value.Holiday) {
                                return 0;
                            }
                            else {
                                var TotalDate = date;
                            }
                            
                            alert(TotalDate);
                            
                            
                        });
                        }
                    },
                    error: function () {


                    }
                });

                var data={
                    EmpCode: $('#EmpCode').val(),
                    EmployeeName:$('#EmployeeName').val(),
                    LTypeId: $('#LTypeId option:selected').val(),
                    Description:$('#Description').val(),
                    FromDate:$('#FromDate').val(),
                    ToDate:$('#ToDate').val(),

                }
                $.ajax({
                    url: '@Url.Action("SaveLeaveEntry", "HR", new { Area = "HR" })',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.Status == true) {
                            //oTable.ajax.reload();
                            document.getElementById('showMessage').style.color = "green";
                            ClearData();
                        }
                        document.getElementById('showMessage').innerHTML = d.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                       
                    }
                });

            }
        });
        $("#EmpCode").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("AutoCompleteEmployeeCode", "HR", new { Area = "HR" })',
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }));
                    }
                });
            },
            messages: {
                noResults: "",
                results: ""
            }
        });
        $("#EmpCode").change(function () {
            $('#EmployeeName').empty();
            var EmpCode = $("#EmpCode").val();
            var json = { EmpCode: EmpCode };

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetEmployeeNameByEmpCode", "HR", new { Area = "HR" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $('#EmployeeName').val(data.EmployeeName);

                }
            });
        });
       
      
    })();
</script>





