﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<EmployeeSalaryInformation>
@{
    ViewBag.Title = "Employee Salary Information";
}

<div class="panel panel-default" style="" id="tabs">

    <div class="row form-group">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color:red;font-size:medium"></label>
                <input type="hidden" id="hdfEmpId" name="hdfEmpId" />
            </div>
        </div>
    </div>

    <div class="panel-body" id="basicInfo">
        <div class="row form-group">
            <fieldset style="padding-top:10px; border:1px solid #666; border-radius:8px; box-shadow:0 0 10px #666; background:#fff; height:auto">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <table cellspacing="10" cellpadding="10" class="table table-bordered">
                            <tr>
                                <td width="200px" class="text-info">
                                    <label class="text-info">Employee Code</label>
                                    <span class="error">*</span>
                                </td>
                                <td width="200px">
                                    <input type="text" id="EmpCode" name="EmpCode" class="form-control" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td width="200px" class="text-info">
                                    <label class="text-info">Efficient Date</label>
                                    <span class="error">*</span>
                                </td>
                                <td width="200px">
                                    <input type="text" id="EfficientDate" name="EfficientDate" value="@DateTime.Now.ToString("dd/MMM/yyyy")" class="form-control datepicker" readonly />
                                </td>
                            </tr>
                            
                            <tr>
                                <td width="200px" class="text-info">
                                    <label class="text-info">New Salary</label>
                                    <span class="error">*</span>
                                </td>
                                <td width="200px">
                                    <input type="text" id="UpdatedSalary" name="UpdatedSalary" class="form-control"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <input id="btnSave" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
                                    <input id="btnEdit" type="button" value="Update" class="btn btn-success" style="padding: 8px 24px;" />
                                    @*<input id="btnDelete" type="button" value="Delete" class="btn btn-success" style="padding: 8px 24px;" />*@
                                    <input id="btnclear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                                </td>
                            </tr>

                        </table>
                        </div>

                    <div class="col-md-8">
                        <table cellspacing="10" cellpadding="10" class="table table-bordered"  id="empInfo">
                            
                            <tr>
                                <td colspan="2" rowspan="5">
                                    <table>
                                        <tr>
                                            <td width="200px"></td>
                                            <td width="200px">
                                                <div class="form-group">
                                                    <label class="control-label">Employee Image</label>
                                                    <img id='img-upload' width="300" height="120" style="border:2px solid orange;" />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="200px" class="text-info">
                                    <label class="text-info">Employee Name</label>
                                </td>
                                <td width="200px">
                                    <label id="labelEmployeeName" name="labelEmployeeName" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td width="200px" class="text-info">
                                    <label class="text-info">Designation</label>
                                </td>
                                <td width="200px">
                                    <label id="labelEmployeeDesignation" name="labelEmployeeDesignation" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td width="200px" class="text-info">
                                    <label class="text-info">Department</label>
                                </td>
                                <td width="200px">
                                    <label type="text" id="labelEmployeeDepartment" name="labelEmployeeDepartment" class="form-control"/>
                                </td>
                            </tr>
                            <tr>
                                <td width="200px" class="text-info">
                                    <label class="text-info">Current Salary</label>
                                </td>
                                <td width="200px">
                                    <label type="text" id="labelCurrentSalary" name="labelCurrentSalary" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 250px;">
                                    <table cellspacing="10" cellpadding="10" class="table table-bordered" id="empAllowanceInfo">
                                        <tr>
                                            <td width="200px" class="text-info">
                                                <label class="text-info">DA</label>
                                            </td>
                                            <td width="200px">
                                                <label id="labelBasic" name="labelBasic" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="200px" class="text-info">
                                                <label class="text-info">HRA</label>
                                            </td>
                                            <td width="200px">
                                                <label id="labelHouserent" name="labelHouserent" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="200px" class="text-info">
                                                <label class="text-info">Convence</label>
                                            </td>
                                            <td width="200px">
                                                <label id="labelMedical" name="labelMedical" class="form-control" />
                                            </td>
                                        </tr>
                                        
                                        @*<tr>
                                            <td width="200px" class="text-info">
                                                <label class="text-info">Other</label>
                                            </td>
                                            <td width="200px">
                                                <label id="labelOther" name="labelOther" class="form-control" />
                                            </td>
                                        </tr>*@
                                    </table>
                                </td>
                                



                            </tr>

                        </table>
                    </div>

                    
                </div>

            </fieldset>

            <div class="tablecontainer table-responsive">
                <table id="salaryInfoTable" class="display" cellspacing="0" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Current Salary</th>
                            <th>New Salary</th>
                            <th>Efficient Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


</div>


@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    

    <style>
        span.error {
            display: block inline;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        #img-upload {
            width: 100%;
        }
    </style>
}
@section scripts
{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Custom/HR/SalaryInformation.js">
    
</script>
}
