﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<EmployeeSalaryInformation>
@{
    ViewBag.Title = "Employee Salary Information"; 
}

    <table id="salaryInfoTable" class="display table-responsive" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Current Salary</th>
                <th>New Salary</th>
                <th>Efficient Date</th>
                <th>Approved</th>
            </tr>
        </thead>
    </table>



@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
   

    <style>
        span.error {
            display: block inline;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        #img-upload {
            width: 100%;
        }
    </style>
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom/HR/SalaryApproval.js">
        
    </script>
}