﻿@using TonyMultipurpose.Areas.HR.ViewModels;
@model IEnumerable<SalaryProcessesViewModel>
@{
    ViewBag.Title = "Salary Processes";
}

@*<div class="container panel panel-default" style="float: left" id="tabs">*@
    <div class="panel panel-default" style="" id="tabs">
        <div class="row form-group">
            <div class="col-md-8">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <label id="showMessage" style="color: red; font-size: medium"></label>
                    <input type="hidden" id="hdfEmpId" name="hdfEmpId" />
                </div>
            </div>

        </div>


        <div class="panel-body" id="basicInfo">
            <div class="row form-group">
                <fieldset style="padding-top: 10px; border: 1px solid #666; border-radius: 8px; box-shadow: 0 0 10px #666; background: #fff; height: auto">
                    <div class="col-md-12">
                        <div class="col-md-7">
                            <table cellspacing="10" cellpadding="10" class="table table-bordered" width="100%">
                                <tr>
                                    <td width="200px" class="text-info">
                                        <label class="text-info">Select Date</label>
                                        <span class="error">*</span>
                                    </td>
                                    <td width="200px">
                                        <input type="text" id="ProcessDate" name="ProcessDate" value="@DateTime.Now.ToString("dd/MMM/yyyy")" class="form-control" />
                                    </td>
                                </tr>



                                <tr>
                                    <td colspan="4">
                                        <input id="btnProcess" type="button" value="Process" class="btn btn-success" style="padding: 8px 24px;" />
                                        <input id="btnclear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                                    </td>
                                </tr>

                            </table>
                        </div>



                    </div>

                </fieldset>
                <br />
                <div id="FirstDt">

                </div>
                <div class="tablecontainer table-responsive">
                    <table id="salaryProcessTable" class="display" cellspacing="0" style="width: 100%;">
                        <thead>
                            <tr>
                                @*<th>SL No</th>*@
                                <th>Name Of Employee</th>
                                <th>Salary Month</th>
                                <th>DL Book No</th>
                                <th>Basic Salary</th>
                                <th>DA</th>
                                <th>HRA</th>
                                <th>Tele Bill & Conveyance</th>
                                <th>Gross Salary</th>
                                <th>PF</th>
                                <th>E. aid Fund</th>
                                <th>Total Deduction</th>
                                <th>Net Salary</th>
                            </tr>
                        </thead>
                    </table>
                </div>



            </div>
        </div>


    </div>


@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    

    <style>
        span.error {
            display: block inline;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        #img-upload {
            width: 100%;
        }
    </style>
}
@section scripts
{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Custom/HR/SalaryProcesses.js"></script>
}

