﻿@using GridMvc.Html
@model IEnumerable<TonyMultipurpose.Areas.HR.ViewModels.SalaryProcessesViewModel>
@{
    ViewBag.Title = "Salary Process Approval";
    
    var grid = new WebGrid(source: Model, canPage: true,
canSort: true, rowsPerPage: 1000, ajaxUpdateContainerId: "checkableGrid", ajaxUpdateCallback: "checkBoxHeader();");
    int rowVal = 0;
}


@using (Html.BeginForm("SalaryProcessesApproval", "HR", FormMethod.Post))
{
    <br/>
    <div class="row">

        <div class="col-md-1">
            <label class="control-label">Select Date</label>
        </div>
        <div class="col-md-3">
            <input type="text" id="ProcessDate" name="ProcessDate" value="@DateTime.Now.ToString("dd/MMM/yyyy")" class="form-control" width="50px"/>
        </div>
      
    </div>
        <br />

    <div class="">
        <br />

      

        <div class="form-group">
            @grid.GetHtml(
             tableStyle: "table table-bordered",
             htmlAttributes: new { id = "checkableGrid" },
             columns: grid.Columns
                 (
                     //Here I am going to add checkbox column
                     grid.Column("Sr.No.", format: item => rowVal = rowVal + 1),
                     grid.Column(
                         format: @<text> <input type="checkbox" value="@item.SalaryId" name="Id" /> </text>,
                         header: "{checkall}"
                         ),
                        grid.Column("EmployeeName", "Employee Name"),
                        grid.Column("SalaryMonth", "Salary Month", format: (item) => string.Format("{0:dd/MMM/yyyy}", item.SalaryMonth)),
                        grid.Column("DlBookNumber", "DL Book Number"),
                        grid.Column("BasicSalary", "Basic Salary"),
                        grid.Column("DA", "DA"),
                        grid.Column("HRA", "HRA"),
                        grid.Column("TeleBillAndConveyance", "Tele Bill & Conveyance"),
                        grid.Column("Gross", "Gross Salary"),
                        grid.Column("PF", "PF"),
                        grid.Column("EFund", "E. aid Fund"),
                        grid.Column("TotalDeduction", "Total Deduction"),
                        grid.Column("NetSalary", "Net Salary")

                     //grid.Column("FromDate", "From Date", format: (item) => string.Format("{0:dd/MMM/yyyy}", item.FromDate)),
                     
                     @*grid.Column(format: @<text>@Html.ActionLink("Detail", "Detail", new { SalaryId = @item.SalaryId }, new { target = "_blank" })  </text>,header: "Detail")*@
                 )
             )
        </div>
        <div class="row" style="width: 180px; margin-top: 10px;">
            <div class="col-md-6">
                <input type="submit" value="Approve" id="Approve" name="action:SalaryProcessesApproval" class="btn btn-success"/>
            </div>
        </div>
        <br/>
        <br/>
    </div>
}

@section styles
{
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 100%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>
}
@section scripts
{
<script src="~/Scripts/Custom/HR/SalaryProcessesApproval.js">

   </script>
}
