﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<TransferRecordModel>

@{
    ViewBag.Title = "Transfer Entry";
    
}



<div class="container">
    <div class="row form-group">
        <div class="col-md-8">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label id="showMessage" style="color:red;font-size:medium"></label>
            </div>
        </div>
    </div>
    <div class="row form-group">

        <fieldset style="padding-top:10px; border:1px solid #666; background:#fff; height:380px">

            <div class="col-md-10">

                <table  class="table table-bordered" style="width:100%;">
                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Employee Code</label>
                            <span class="error">*</span>
                        </td>
                        <td width="200px"><input type="text" id="EmpId" name="EmpId" class="form-control" placeholder="Type Employee Code"/></td>
                        <td width="200px" class="text-info"><label class="text-info">Employee Name</label></td>
                        <td width="200px"><label id="EmployeeName"></label></td>
                    </tr>

                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">To</label>
                            <span class="error">*</span>
                        </td>
                        <td width="200px"><select name="BranchCode" id="BranchCode" class="form-control"></select></td>
                        <td width="200px" class="text-info"><label class="text-info">Designation</label></td>
                        <td width="200px"><label id="Designation"></label></td>
                    </tr>

                    <tr>
                        <td width="200px" class="text-info">
                            <label class="text-info">Transfer Date </label>
                            <span class="error">*</span>
                        </td>
                        <td width="200px"><input type="text" id="TransferDate" name="TransferDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")"/></td>
                        <td width="200px" class="text-info"><label class="text-info">Center</label></td>
                        <td width="200px"><label id="Center"></label></td>
                    </tr>

                    <tr>
                        <td width="200px" class="text-info"><label class="text-info">Transfer Reason</label></td>
                        <td width="200px"><input type="text" id="Reason" name="Reason" class="form-control" placeholder="Type Transfer Reason" /></td>
                        <td width="200px" class="text-info"><label class="text-info">NID</label></td>
                        <td width="200px"><label id="NID"></label></td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <input id="submit" type="button" value="Save" class="btn btn-success" style="padding: 8px 24px;" />
                            <input id="submit1" type="button" value="Update" class="btn btn-success" style="padding: 8px 24px;" />
                            <input id="clear" type="button" value="Clear" class="btn btn-success" style="padding: 8px 24px;" />
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
</div>

<div class="tablecontainer table-responsive">
    <table id="TransferRecordTable" class="display" style="width:100%;">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>From Branch </th>
                <th>To Branch</th>
                <th>Transfer Reason</th>
                <th>Transfer Date</th>
            </tr>
        </thead>
    </table>
</div>



@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />

    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Custom/HR/TransferEntry.js">

    </script>
}