﻿@using TonyMultipurpose.Areas.HR.Models;
@model IEnumerable<TransferRecordModel>

@{
    ViewBag.Title = "Transfer Approval";
    
}



<table id="TransferRecordTable" class="display" style="width:100%;">
    <thead>
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>From Branch </th>
        <th>To Branch</th>
        <th>Transfer Reason</th>
        <th>Transfer Date</th>
        <th>Approve</th>
    </tr>
    </thead>
</table>



@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />


    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-weight: bold;
            font-size: 130%;
        }

        div.row {
            margin-bottom: 5px;
        }
    </style>
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom/HR/TransferApproval.js">
        
    </script>
}




