﻿

@{
    ViewBag.Title = "CSS Installment Deposit";
}



<div class="container panel panel-default" style="float: left">
    @*<div class="panel-heading">
        <h3>CSS Installment Deposit</h3>
    </div>*@
    <div class="panel-body">
        <table class="table" style="width: 100%">
            <tr>
                <td>
                    <table class="table">
                        <tr>
                            <td> <label class="control-label">Transaction Date</label></td>
                            <td>
                                <input type="text" id="TransactionDate" name="TransactionDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" readonly="readonly" />
                                <span class="error">Transaction Date is required.</span>
                            </td>
                        </tr>
                        <tr>
                            <td> <label class="control-label">A/C No.</label></td>
                            <td>
                                <input type="text" id="AccountNumber" name="AccountNumber" class="form-control" onkeypress="return IsDouble(event);" />
                                <span class="error">A/C No. is required.</span>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="control-label">Customer Name</label></td>
                            <td><input type="text" id="CustomerName" name="CustomerName" class="form-control" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Father Name</label></td>
                            <td><input type="text" id="FatherName" name="FatherName" class="form-control" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Mother Name</label></td>
                            <td><input type="text" id="MotherName" name="MotherName" class="form-control" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Mobile No.</label></td>
                            <td><input type="text" id="Mobile" name="Mobile" class="form-control" readonly="readonly"/></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Received In</label></td>
                            <td><select name="COAId" id="ChartOfAccount" class="form-control"></select>
                                <span class="error">Select Value</span>
                            </td>
                        </tr>


                        <tr id="hideTable">
                            <td colspan="2">
                                <table class="table" id="masum" >
                                    <tr class="borderSet">
                                        <th><input type="checkbox" id="chkAll" class="checkbox" /></th>
                                        <th>Installment No</th>
                                        <th>Installment Month</th>
                                        <th>Installment Amount</th>
                                    </tr>
                                    <tbody id="SaleData"></tbody>
                                </table>
                            </td>
                        </tr>
                        <tr id="hideRow">
                            <td> <label class="control-label">Fine</label></td>
                            <td>
                                <span><input type="text" id="atFine" name="Fine" onkeypress="return IsDouble(event);" />  % </span>
                                <input type="text" id="atFine" class="fineShow" readonly="readonly" />
                                <input type="text" id="msgForFine" disabled="disabled" style="color:red"/>
                            </td>
                            <td>                               
                                @*<input type="text" id="msgForFine" disabled="disabled" />*@
                            </td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td><input id="submit" type="submit" value="Save" class="btn btn-primary" style="padding: 10px 40px" /></td>
                        </tr>

                    </table>
                </td>
                <td valign="top">
                    <div class="img-responsive" style="vertical-align:top">
                        <img src="" alt="No Image" width="200px" height="200px" id="CustomerImage" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body" id="hideTableAll">
        <h3 style="text-align:center; padding-bottom:10px">Previous Installment Record</h3>
        <table class="table" id="hideTableAll" style="width: 90%">
            <tr class="borderSet">
                <th>Transaction Date</th>
                <th>Installment No</th>
                <th>Installment Month</th>
                <th>Installment Amount</th>
            </tr>
            <tbody id="allDataShowForCssDeposit"></tbody>
        </table>
    </div>

    <input type="hidden" id="hdfInstallmentMonth" />
    <input type="hidden" id="hdfInstallmentYear" />
    <input type="hidden" id="hdfCustomerId" />
    <input type="hidden" id="hdfInterestRate" />
    <input type="hidden" id="hdfDuration" />
    <input type="hidden" id="hdfMatureDate" />
    <input type="hidden" id="hdfMatureAmount" />
    <input type="hidden" id="hdfAccruedBalance" />
</div>

@section styles
{
    <style type="text/css">
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 0px;
    }

    span.error {
        display: none;
        color: red;
        font-size: 100%;
    }

    .borderSet > th {
        border: 1px solid black !important;
    }

    .borderSet > td {
        border: 1px solid black !important;
    }

    #colorRed {
        color: red !important;
    }
</style>
}


@section scripts
{
  
<script src="~/Scripts/Custom/CSS/CssIndex.js"></script>
}


