﻿@model TonyMultipurpose.Areas.FinancialTransactions.Models.AccountGroupModel

@{
    ViewBag.Title = "AccountGroup";
}

@using (Html.BeginForm("Delete", "AccountGroup", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="container panel panel-default" style="float: left">
        <div class="panel-heading">
            <h3>Account Group</h3>
        </div>
        <div class="panel-body">
            @if (Model != null && Model.GroupId > 0)
            {
                @Html.HiddenFor(c => c.GroupId)
            }
            <div class="form-group">
                @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <a class="popup btn btn-primary" href="@Url.Action("Index", "AccountGroup",new { Area = "FinancialTransactions" })">Back To List</a>
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
}



