﻿@using GridMvc.Html
@using TonyMultipurpose.Areas.FinancialTransactions.Models
@model IEnumerable<AccountGroupModel>

@{
    ViewBag.Title = "AccountGroup";
    int rowVal = 0;
}
<a class="popup btn btn-primary" href="@Url.Action("Save", "AccountGroup",new { Area = "FinancialTransactions" })" style="margin-bottom:20px; margin-top:20px;">Add New Account Group </a>
<div class="table table-responsive">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add().Titled("Sr.No.").RenderValueAs(item => (rowVal = rowVal + 1).ToString());
    columns.Add(a => a.GroupName).Titled("Group Name").Sortable(true).Filterable(true);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.GroupId, @class = "btn btn-primary" })).Titled("Edit");
    // columns.Add()
    //.Encoded(false)
    //.Sanitized(false)
    //.SetWidth(30)
    //.RenderValueAs(a => Html.ActionLink("Delete", "Delete", new { id = a.GroupId })).Titled("Delete");
}).WithPaging(10).Sortable(true)

   
</div>

