﻿@model TonyMultipurpose.Areas.FinancialTransactions.Models.AccountGroupModel

@{
    ViewBag.Title = "AccountGroup";
}

@using (Html.BeginForm("Save", "AccountGroup", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="container panel panel-default" style="float: left">
        <div class="panel-heading">
            <h3>Account Group</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-6">
                    <label id="showErrorMessage" style="margin-left: 10px;color:red;font-size:medium"></label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" },id= "GroupName" })
                    @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <a class="popup btn btn-primary" href="@Url.Action("Index", "AccountGroup",new { Area = "FinancialTransactions" })">Back To List</a>
                <input type="submit" value="Save" class="popup btn btn-primary" id="btn_submit" />
            </div>
        </div>
    </div>

}

@section scripts
{
    <script src="~/Scripts/Custom/FinancialTransactions/AccountGroup/Save.js"></script>
}




