﻿@model TonyMultipurpose.Areas.Loan.Models.MonthlyIncome
@{
    Layout = null;

}


<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-weight: bold;
        font-size: 130%;
    }

    div.row {
        margin-bottom: 5px;
    }
</style>



<div class="row">
    <div class="col-md-3">
        <label id="showMessage" style="color: red; font-size: medium"></label>
    </div>
    <div class="col-md-4">
        <input type="hidden" id="hdfLoanId" name="hdfLoanId" value="NotASavedLoan">
        <input type="hidden" id="hdfAccounts" name="hdfAccounts" value="">
        <input type="hidden" id="hdfCustomerId" name="hdfCustomerId" value="">
    </div>
</div>

<table>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td><label id="MonthlyExpense_showMessage" style="color: red; font-size: medium"></label></td>
    </tr>
    <tr>
        <td style="width: 50%">
            <fieldset style="padding-top: 10px; border: 1px solid #666; border-radius: 8px; box-shadow: 0 0 10px #666; background: #fff; min-height: 440px;">
                <h3>Monthly Income</h3>
                <div class="col-md-10">
                    <label id="MonthlyIncome_showMessage" style="color: red; font-size: medium"></label>
                </div>
                <table cellspacing="0" class="table table-bordered" style="width: 100%;">
                    <tr>
                        <td style="width:200px">
                            <label class="control-label"> Loan Id</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "MonthlyIncome_LoanId", @readonly = "readonly" })
                            @Html.ValidationMessageFor(l => l.LoanId, "", new { @class = "text-danger", @style = "color:red" })
                            <input type="hidden" id="hdfMonthlyIncomeId" name="MonthlyIncomeId" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownList("IncomeType", new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Agriculture", Value = "1"},
                                new SelectListItem {Text = "Salary", Value = "2"},
                                new SelectListItem {Text = "House Rent", Value = "3"},
                                new SelectListItem {Text = "Business", Value = "4"},
                                new SelectListItem {Text = "Select Income Type", Value = "0", Selected = true}
                            }, new { id = "IncomeType", @class = "form-control" })
                        </td>
                        <td><input type="text" name="Amount" id="Amount" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownList("SpouseIncomeType", new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Agriculture", Value = "1"},
                                new SelectListItem {Text = "Salary", Value = "2"},
                                new SelectListItem {Text = "House Rent", Value = "3"},
                                new SelectListItem {Text = "Business", Value = "4"},
                                new SelectListItem {Text = "Spouse Income", Value = "0", Selected = true}
                            }, new { id = "SpouseIncomeType", @class = "form-control" })
                        </td>
                        <td><input type="text" name="SpouseAmount" id="SpouseAmount" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Other Income</label></td>
                        <td><input type="text" name="OtherIncomeAmount" id="OtherIncomeAmount" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Foreign Remittance</label></td>
                        <td><input type="text" name="ForeignRemitAmount" id="ForeignRemitAmount" class="form-control" readonly="readonly" /></td>

                    </tr>
                    <tr>
                        <td><label class="control-label">Total</label></td>
                        <td><input type="text" name="TotalAmount" id="TotalAmount" class="form-control" readonly="readonly" /></td>

                    </tr>
                    <tr style="display: none">
                        <td colspan="2">
                            <div class="tablecontainer table-responsive">
                                <table align="left" id="MonthlyIncomeTable" class="display" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Loan Id</th>
                                            <th>IncomeType</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th colspan="2" style="text-align: right">Total:</th>
                                            <th id="xx"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </td>
                    </tr>

                </table>
            </fieldset>
        </td>

        <td style="width: 50%">
            <fieldset style="padding-top: 10px; border: 1px solid #666; border-radius: 8px; box-shadow: 0 0 10px #666; background: #fff;">
                <h3>Monthly Expense</h3>

                <table cellspacing="0" class="table table-bordered" style="width: 100%;">
                    <tr>
                        <td style="width:200px"><label class="control-label"> Loan Id</label></td>
                        <td>
                            @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "MonthlyExpense_LoanId", @readonly = "readonly" })
                            @Html.ValidationMessageFor(l => l.LoanId, "", new { @class = "text-danger", @style = "color:red" })
                            <input type="hidden" id="hdfMonthlyExpenseId" name="MonthlyExpenseId" value="">
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Family Expense</label></td>
                        <td><input type="text" name="FamilyExpense" id="FamilyExpense" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Children Education</label></td>
                        <td><input type="text" name="ChildrenEducation" id="ChildrenEducation" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Existing EMI</label></td>
                        <td><input type="text" name="ExistingEMI" id="ExistingEMI" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Others Expense</label></td>
                        <td><input type="text" name="OthersExpense" id="OthersExpense" class="form-control" readonly="readonly" /></td>
                    </tr>

                    <tr>
                        <td><label class="control-label">Total</label></td>
                        <td><input type="text" name="TotalExpense" id="TotalExpenseAmount" class="form-control" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td><label class="">Surplus Income : </label></td>
                        <td><label id="labelSurplusIncome" class="form-control"></label></td>
                    </tr>

                </table>
            </fieldset>
        </td>
    </tr>
</table>
<h3>Additional Loan Info</h3>

<table cellspacing="0" class="table table-bordered" style="width: 790px; display:none;">
    <tr>
        <td>
            <input type="hidden" id="hdfAdditionalLoanDetail" name="AdditionalLoanDetail" value="">
            <label class="control-label">Referrence Id</label>
            @Html.EditorFor(model => model.LoanId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </td>
    </tr>

</table>

<div class="tablecontainer table-responsive">
    <table id="AdditionalTable" class="display" style="min-width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th style="min-width: 200px;">Institute Name</th>
                <th>Loan Amount</th>
                <th>Loan Type</th>
                <th>Installment Amount</th>
                <th>Account No</th>
                <th>Account Name</th>
                <th style="min-width: 90px;">Start Date</th>
                <th style="min-width: 90px;">Expire Date</th>
                <th>Present Outs Tk.</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="4" style="text-align: right">Total:</th>
                <th></th>
                <th colspan="4"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    @*<input type="button" id="addadditonLoan" value="+" class="btn btn-success" />
        <input type="button" id="DeductadditonLoan" value="-" class="btn btn-success" />*@
    @*<input id="updateAdditionalLoanInfo" type="button" value="Save" class="btn btn-success" style="padding: 8px 15px;" />*@
</div>


<h3>Bank/NGO Performance</h3>
<table cellspacing="0" class="table table-bordered" style="width: 790px;">
    <tr style="display:none;">
        <td>
            <label class="control-label"> Loan Id</label>
            <label id="Bankperformance_showMessage" style="color: red; font-size: medium"></label>
            @Html.TextBoxFor(l => l.LoanId, new { @class = "form-control", id = "Bankperformance_LoanId", @readonly = "readonly" })
            <input type="hidden" id="hdfBankperformanceId" name="BankperformanceId" value="">
        </td>

    </tr>

    @*<tr class="form-group row" style="margin-left: 0px;">

            <td>
                <label class="control-label">Statement Date From</label>
            </td>

            <td>
                <input type="text" id="DateFrom" name="FromDate" class="form-control">
            </td>
            <td>
                <label class="control-label"> To Date</label>
            </td>
            <td>
                <input type="text" id="DateTo" name="ToDate" class="form-control">
            </td>

        </tr>*@

</table>

<div class="tablecontainer table-responsive">
    <table id="BankperformanceTable" class="display" style="min-width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th style="min-width: 200px;">Bank/NGO name</th>
                <th>Acc No</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Debit Amount</th>
                <th>Credit Amount</th>
                <th>Avg</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="5" style="text-align: right">Total:</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<table style="width: 50%">
    <tr>
        <td width="50%">
            <fieldset>
                <legend>Financial Justification111</legend>
                <table style="width: 100%" border="1">
                    <thead>
                        <tr class="success">
                            <td>Installment Type</td>
                            <td>Weekly</td>
                            <td>Monthly</td>
                            <td>M.Decision</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td rowspan="8">
                                <table style="width: 90%">
                                    <tr>
                                        <td>
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td><label class="control-label">Loan No<span class="error">*</span></label></td>
                                                    <td><input type="text" name="LoanNo" id="LoanNo" class="form-control" readonly="readonly" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Loan Amount<span class="error">*</span></label></td>
                                                    <td><input type="text" name="managementLoanAmount" id="managementLoanAmount"  class="form-control" onkeypress="return IsInteger(event);" maxlength="16" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Installment Type</label></td>
                                                    <td>
                                                        <select name="managementInstallmentType" id="managementInstallmentType" class="form-control">
                                                           
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Interest Rate<span class="error">*</span></label></td>
                                                    <td><input type="text" name="managementInterestRate" id="managementInterestRate"   class="form-control" onkeypress="return IsDouble(event);" maxlength="6" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Installment No</label></td>
                                                    <td><input type="text" name="managementInstallmentNo" id="managementInstallmentNo" class="form-control" onkeypress="return IsInteger(event);" maxlength="4" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Installment Amount</label></td>
                                                    <td><input type="text" name="managementInstallmentAmount" id="managementInstallmentAmount"   class="form-control" onkeypress="return IsDouble(event);" maxlength="14" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Date<span class="error">*</span></label></td>
                                                    <td><input type="text" id="LoanDisburseDate" name="LoanDisburseDate" value="@DateTime.Now.ToString("dd/MMM/yyyy")" class="form-control" readonly="readonly" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Expiry Date</label></td>
                                                    <td><input type="text" id="LoanExpiryDate" name="LoanExpiryDate"  class="form-control" readonly="readonly" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Paid From<span class="error">*</span></label></td>
                                                    <td><select name="AccountName" id="COA_accountName" class="form-control"></select></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Available Balance</label></td>
                                                    <td><span id="AccountBalance" style="font-weight: bold"></span></td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>Loan Amount</td>
                            <td><label id="labelweeklyLoanAmount" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyLoanAmount" class="col-sm-2 col-form-label"></label></td>

                        </tr>
                        <tr>
                            <td>Installment Type </td>
                            <td><label id="labelweeklyInstallmentType" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyInstallmentType" class="col-sm-2 col-form-label"></label></td>

                        </tr>
                        <tr>
                            <td>Interest Rate </td>
                            <td><label id="labelweeklyInterestRate" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyInterestRate" class="col-sm-2 col-form-label"></label></td>

                        </tr>
                        <tr>
                            <td>Total Installment  </td>
                            <td><label id="labelweeklyNoInstallment" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyNoInstallment" class="col-sm-2 col-form-label"></label></td>

                        </tr>
                        <tr>
                            <td>Installment Amount </td>
                            <td><label id="labelweeklyInstallmentAmount" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyInstallmentAmount" class="col-sm-2 col-form-label"></label></td>

                        </tr>
                        <tr>
                            <td>Customer Equity </td>
                            <td style="display: none"><label id="labelweeklyEquity" class="col-sm-2 col-form-label"></label></td>
                            <td style="display: none"><label id="labelmonthlyEquity" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelweeklyEquity1" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyEquity1" class="col-sm-2 col-form-label"></label></td>
                        </tr>
                        <tr>
                            <td>DBR Ratio </td>
                            <td style="display: none"><label id="labelweeklyDbr" class="col-sm-2 col-form-label"></label></td>
                            <td style="display: none"><label id="labelmonthlyDbr" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelweeklyDbr1" class="col-sm-2 col-form-label"></label></td>
                            <td><label id="labelmonthlyDbr1" class="col-sm-2 col-form-label"></label></td>
                        </tr>

                    </tbody>
                </table>


            </fieldset>
        </td>

        <td width="2%"></td>
    </tr>
    <tr>
        <div class="row">
            <div class="col-md-2">
                <input id="submitApprove" type="button" value="Approve" class="btn btn-primary" style="padding: 8px 24px;width: 150px" onclick="return confirm('Are you sure to approve?')" />
            </div>
            <div class="col-md-2">
                <input id="submitReject" type="button" value="Reject" class="btn btn-primary" style="padding: 8px 24px;width: 150px" />
            </div>
            <div class="col-md-2">
                <input id="submitGenerateLoanId" type="button" value="Generate Loan Id" class="btn btn-primary" style="padding: 8px 24px;width: 150px" />
            </div>
        </div>
    </tr>

</table>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js">
</script>
<script>
    var emiTotal;
    var oAdditionalTable;
    (function () {
        var z;
        ShowData();
        function ShowData() {
            oAdditionalTable = $('#AdditionalTable').DataTable({
                "ajax": {
                    "url": window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetAdditionalLoanInfoById",
                    "type": "get",
                    "data": {
                        "LoanId": $('#LoanId').val()
                    },
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "AdditionalLoanDetailId",
                        "width": "25px",
                        "render": function (data) {
                            return '<input class="form-control" id="AdditionalLoanDetailId" name="AdditionalLoanDetailId" type="text" readonly="readonly"  value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "InstituteName",
                        "width": "130px",
                        "render": function (data) {
                            return '<input class="form-control" id="InstituteName" name="InstituteName" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "LoanAmount",
                        "render": function (data) {
                            return '<input class="form-control" id="LoanAmount" name="LoanAmount" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "LoanType",
                        "render": function (data) {
                            return '<input class="form-control" id="LoanType" name="LoanType" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "Installment",
                        "render": function (data) {
                            return '<input class="form-control" id="Installment" name="Installment" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "AccountNo",
                        "render": function (data) {
                            return '<input class="form-control" id="AccountNo" name="AccountNo" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "AccountName",
                        "render": function (data) {
                            return '<input class="form-control" id="AccountName" name="AccountName" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    },
                    {
                        "data": "StartDate",
                        "render": function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            var mon = monthNumToName(month);
                            var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                            // bindDatePickerforstdate();
                            return '<input class="form-control" id="StartDate" name="StartDate" type="text" readonly="readonly" value = "' + datadate + '"  >';
                        }
                    },
                    {
                        "data": "ExpireDate",
                        "render": function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            var mon = monthNumToName(month);
                            var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                            //  bindDatePickerforexdate();
                            return '<input class="form-control" id="ExpireDate" name="ExpireDate" type="text" readonly="readonly" value = "' + datadate + '"  >';
                        }
                    },
                    {
                        "data": "PresentOutAmount",
                        "render": function (data) {
                            return '<input class="form-control" id="PresentOutAmount" name="PresentOutAmount" type="text" readonly="readonly" value = "' + data + '"  >';
                        }
                    }
                ],
                ordering: false,
                searching: false,
                paging: false,
                "bInfo": false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    emiTotal = api
                        .column(4, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    var PresentOut = api
                        .column(9, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(4).footer()).html(
                        emiTotal
                    );


                    $(api.column(9).footer()).html(
                        Math.round(PresentOut)
                    );

                    z = emiTotal;
                }
            });
        };

        Finance();

    })();

    /**********************************************************************/

    function Finance() {
        var data = {
            LoanId: $('#MonthlyIncome_LoanId').val()
        }
        $.ajax({
            url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/Finance",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (obj) {
                $('#hdfLoanId').val(obj.info.LoanId);
                $('#hdfAccounts').val(obj.info.AccountSetupId);
                $('#hdfCustomerId').val(obj.info.CustomerId);

                if ($('#hdfAccounts').val() == 3) {
                    $('#managementInstallmentAmount').attr('disabled', 'disabled');
                    $('#managementInstallmentNo').attr('disabled', 'disabled');
                    $('#managementInstallmentType').attr('disabled', 'disabled');
                }

                var netEmi = emiTotal;

                var netIncome = obj.netIncome.TotalIncome;
                var netExpense = obj.netExpense.TotalExpense;

                var surplusIncome = parseFloat(netIncome - netExpense);

                document.getElementById('labelSurplusIncome').innerHTML = surplusIncome;

                if (obj.info.AccountSetupId === 1 || obj.info.AccountSetupId === 12) {
                    if (obj.info.InstallmentTypeId == 1) {
                        document.getElementById('labelweeklyLoanAmount').innerHTML = obj.info.LoanAmount;
                        if (obj.info.AccountSetupId === 12) {
                            document.getElementById('labelweeklyInterestRate').innerHTML =
                                obj.info.InterestRateToDisplay + '%';
                        } else {
                            document.getElementById('labelweeklyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        }
                        //document.getElementById('labelweeklyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        document.getElementById('labelweeklyNoInstallment').innerHTML = obj.info.NumberOfInstallment;
                        document.getElementById('labelweeklyInstallmentAmount').innerHTML = obj.info.InstallmentAmount;
                        document.getElementById('labelweeklyInstallmentType').innerHTML = obj.info.InstallmentTypeName;
                        var netEmi = emiTotal;

                        var netIncome = obj.netIncome.TotalIncome;
                        var netExpense = obj.netExpense.TotalExpense;

                        var surplusIncome = parseFloat(netIncome - netExpense);
                        //$('#labelSurplusIncome').val(surplusIncome);
                        document.getElementById('labelSurplusIncome').innerHTML = surplusIncome;
                        var db = 0;
                        if (surplusIncome !== 0) {
                            db = parseFloat((obj.info.InstallmentAmount + netEmi) / surplusIncome);
                        }
                        //var db = parseFloat((obj.info.InstallmentAmount + netEmi) / surplusIncome);
                        var dbR = parseFloat(db * 100).toFixed(2);
                        document.getElementById('labelweeklyDbr').innerHTML = Math.round(dbR);
                        document.getElementById('labelweeklyDbr1').innerHTML = Math.round(dbR) + '%';


                        var eq = 0;
                        if (obj.info.TotalAssetCost !== 0) {
                            eq = parseFloat((obj.info.TotalAssetCost - obj.info.LoanAmount) / obj.info.TotalAssetCost);
                        }
                        var eqR = parseFloat(eq * 100).toFixed(2);
                        document.getElementById('labelweeklyEquity').innerHTML = Math.round(eqR);
                        document.getElementById('labelweeklyEquity1').innerHTML = Math.round(eqR) + '%';

                        /***********************************************************************************************************/

                        document.getElementById('labelmonthlyLoanAmount').innerHTML = obj.info.LoanAmount;
                        if (obj.info.AccountSetupId === 12) {
                            document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRateToDisplay + '%';
                        }
                        else {
                            document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        }
                        //document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        document.getElementById('labelmonthlyNoInstallment').innerHTML = 12;
                        document.getElementById('labelmonthlyInstallmentType').innerHTML = 'Monthly';

                        var r = parseFloat(obj.info.InterestRate) / 1200;
                        var a = parseFloat(obj.info.LoanAmount * r);
                        var b = parseFloat(Math.pow(1 + r, -12));
                        var c = 1 - b;
                        var installmentAmount = Math.round(a / c);
                        document.getElementById('labelmonthlyInstallmentAmount').innerHTML = installmentAmount.toFixed(2);

                        var mdb = parseFloat((installmentAmount + netEmi) / surplusIncome);
                        var mdbR = parseFloat(mdb * 100).toFixed(2);
                        document.getElementById('labelmonthlyDbr').innerHTML = Math.round(mdbR);
                        document.getElementById('labelmonthlyEquity').innerHTML = Math.round(eqR);
                        document.getElementById('labelmonthlyDbr1').innerHTML = Math.round(mdbR) + '%';
                        document.getElementById('labelmonthlyEquity1').innerHTML = Math.round(eqR) + '%';
                    }

                    if (obj.info.InstallmentTypeId == 2) {
                        document.getElementById('labelmonthlyLoanAmount').innerHTML = obj.info.LoanAmount;
                        if (obj.info.AccountSetupId === 12) {
                            document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRateToDisplay + '%';
                        }
                        else {
                            document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        }
                        //document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRate;
                        document.getElementById('labelmonthlyNoInstallment').innerHTML = obj.info.NumberOfInstallment;
                        document.getElementById('labelmonthlyInstallmentAmount').innerHTML = obj.info.InstallmentAmount;
                        document.getElementById('labelmonthlyInstallmentType').innerHTML = obj.info.InstallmentTypeName;
                        document.getElementById('labelSurplusIncome').innerHTML = surplusIncome;
                        var db = parseFloat((obj.info.InstallmentAmount + netEmi) / surplusIncome);
                        var dbR = parseFloat(db * 100).toFixed(2);
                        document.getElementById('labelmonthlyDbr').innerHTML = Math.round(dbR);
                        document.getElementById('labelmonthlyDbr1').innerHTML = Math.round(dbR) + '%';
                        var eq = parseFloat((obj.info.TotalAssetCost - obj.info.LoanAmount) / obj.info.TotalAssetCost);
                        var eqR = parseFloat(eq * 100).toFixed(2);
                        document.getElementById('labelmonthlyEquity').innerHTML = Math.round(eqR);
                        document.getElementById('labelmonthlyEquity1').innerHTML = Math.round(eqR) + '%';

                        /***********************************************************************************************************/
                        document.getElementById('labelweeklyLoanAmount').innerHTML = obj.info.LoanAmount;
                        if (obj.info.AccountSetupId === 12) {
                            document.getElementById('labelweeklyInterestRate').innerHTML =
                                obj.info.InterestRateToDisplay + '%';
                        } else {
                            document.getElementById('labelweeklyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        }
                        //document.getElementById('labelweeklyInterestRate').innerHTML = obj.info.InterestRate + '%';
                        document.getElementById('labelweeklyInstallmentType').innerHTML = 'Weekly';
                        document.getElementById('labelweeklyNoInstallment').innerHTML = 46;

                        var r = parseFloat(obj.info.InterestRate) / 5200;
                        var a = parseFloat(obj.info.LoanAmount * r);
                        var b = parseFloat(Math.pow(1 + r, -46));
                        var c = 1 - b;
                        var installmentAmount = Math.round(a / c);
                        document.getElementById('labelweeklyInstallmentAmount').innerHTML = installmentAmount.toFixed(2);

                        var wdb = parseFloat((installmentAmount + netEmi) / surplusIncome);
                        var wdbR = parseFloat(wdb * 100).toFixed(2);
                        document.getElementById('labelweeklyDbr').innerHTML = Math.round(wdbR);
                        document.getElementById('labelweeklyEquity').innerHTML = Math.round(eqR);

                        document.getElementById('labelweeklyDbr1').innerHTML = Math.round(wdbR) + '%';
                        document.getElementById('labelweeklyEquity1').innerHTML = Math.round(eqR) + '%';
                    }
                } else if (obj.info.AccountSetupId === 3) {
                    document.getElementById('labelweeklyLoanAmount').innerHTML = obj.info.LoanAmount;
                    document.getElementById('labelweeklyInterestRate').innerHTML = obj.info.InterestRate + '%';
                    document.getElementById('labelmonthlyLoanAmount').innerHTML = obj.info.LoanAmount;
                    document.getElementById('labelmonthlyInterestRate').innerHTML = obj.info.InterestRate + '%';
                }

            },
            error: function () {
            }
        });
    }


    var oBankperformanceTable;
    BankperformanceTable();

    function BankperformanceTable() {
        oBankperformanceTable = $('#BankperformanceTable').DataTable({
            "ajax": {
                "url": window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetAllBankperformanceInfo",
                "type": "get",
                "data": {
                    "LoanId": $('#Bankperformance_LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "BankperformanceId",
                    "width": "30px",
                    //"visible": false,
                    "render": function (data) {
                        return '<input class="form-control" id="BankperformanceId" name="BankperformanceId" type="text" readonly="readonly"  value =" ' + data + '">';
                    }
                },
                {
                    "data": "NgoName",
                    "width": "130px",
                    "render": function (data) {
                        return '<input class="form-control" id="NgoName" type="text" name="NgoName" readonly="readonly" value =" ' + data + '">';
                    }
                },
                {
                    "data": "AccNo",
                    "render": function (data) {
                        return '<input class="form-control" id="AccNo" name="AccNo" type="text" readonly="readonly"  value =" ' + data + '">';
                    }
                },
                {
                    "data": "FromDate",
                    //"visible": false,
                    "render": function (data) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        var mon = monthNumToName(month);
                        var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                        return '<input class="form-control" id="FromDate" name="FromDate" type="text"  readonly="readonly" value = "' + datadate + ' " >';
                    }
                },
                {
                    "data": "ToDate",
                    "render": function (data) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        var mon = monthNumToName(month);
                        var datadate = date.getDate() + "/" + mon + "/" + date.getFullYear();
                        return '<input class="form-control" id="ToDate" name="ToDate" type="text" readonly="readonly"  value = "' + datadate + ' " >';
                    }
                },
                {
                    "data": "DebitAmount",
                    "render": function (data) {
                        return '<input class="form-control" id="DebitAmount" name="DebitAmount" type="text" readonly="readonly"  value =" ' + data + '">';
                    }
                },
                {
                    "data": "CreditAmount",
                    "render": function (data) {
                        return '<input class="form-control" id="CreditAmount" name="CreditAmount" type="text" readonly="readonly" value =" ' + data + '">';
                    }
                },
                {
                    "data": "Avg",
                    "render": function (data) {
                        return '<input class="form-control" id="Avg" name="Avg" type="text" readonly="readonly"  value =" ' + Math.round(data) + '">';
                    }
                }
            ],
            //"order": [[0, "desc"]],
            ordering: false,
            searching: false,
            paging: false,
            "bInfo": false,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                var drTotal = api
                    .column(5, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var crTotal = api
                    .column(6, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var avgTotal = api
                    .column(7, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Update footer
                $(api.column(5).footer()).html(
                    drTotal
                );
                $(api.column(6).footer()).html(
                    crTotal
                );
                $(api.column(7).footer()).html(
                    Math.round(avgTotal)
                );
            }
        });
    }




    var incomeTotal;
    var x;

    //====== Load Function function=========
    var oMonthlyIncomeTable;
    MonthlyIncomeTable();

    function MonthlyIncomeTable() {
        oMonthlyIncomeTable = $('#MonthlyIncomeTable').DataTable({
            "ajax": {
                "url": window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetAllMonthlyIncomeInfo",
                "type": "get",
                "data": {
                    "LoanId": $('#MonthlyIncome_LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "LoanId" },
                { "data": "IncomeType" },
                { "data": "Amount" },
            ],
            "order": [[0, "desc"]],
            searching: false,
            paging: false,
            "bInfo": false,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total = api
                    .column(2)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                incomeTotal = api
                    .column(2, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(2).footer()).html(
                    incomeTotal
                );
                x = incomeTotal;
            }
        });
        MonthlyInformatiom();
    }

    /// ======== Monthly Informtion========
    function MonthlyInformatiom() {
        var loanId = $('#MonthlyIncome_LoanId').val();
        var data = { loanId: loanId };
        $.ajax({
            url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetAllMonthlyIncomeInfo",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (data) {
                if (data.data[0].Amount === 0) {
                    $('#Amount').val('');
                } else {
                    $('#Amount').val(data.data[0].Amount);
                }
                if (data.data[0].SpouseAmount === 0) {
                    $('#SpouseAmount').val('');
                } else {
                    $('#SpouseAmount').val(data.data[0].SpouseAmount);
                }
                if (data.data[0].OtherIncomeAmount === 0) {
                    $('#OtherIncomeAmount').val('');
                } else {
                    $('#OtherIncomeAmount').val(data.data[0].OtherIncomeAmount);
                }
                if (data.data[0].ForeignRemitAmount === 0) {
                    $('#ForeignRemitAmount').val('');
                } else {
                    $('#ForeignRemitAmount').val(data.data[0].ForeignRemitAmount);
                }
                $('#IncomeType').val(data.data[0].IncomeType);
                $('#SpouseIncomeType').val(data.data[0].SpouseIncomeType);
                $('#TotalAmount').val(data.data[0].TotalIncome);
                //console.log(data);
                //$('#Amount').val(data.data[0].Amount);
                //$('#IncomeType').val(data.data[0].IncomeType);
                //$('#OtherIncomeAmount').val(data.data[0].OtherIncomeAmount);
                //$('#SpouseAmount').val(data.data[0].SpouseAmount);
                //$('#SpouseIncomeType').val(data.data[0].SpouseIncomeType);
                //$('#ForeignRemitAmount').val(data.data[0].ForeignRemitAmount);
                //$('#TotalAmount').val(data.data[0].TotalIncome);

            }
        });
    }


    var months = [
        'Jan', 'Feb', 'Mar', 'Apr', 'May',
        'Jun', 'Jul', 'Aug', 'Sep',
        'Oct', 'Nov', 'Dec'
    ];

    function monthNumToName(monthnum) {
        return months[monthnum - 1] || '';
    }


    var expenseTotal;
    var y;
    //=========== Load Function function ==========
    var oMonthlyExpenseTable;
    MonthlyExpenseTable();

    function MonthlyExpenseTable() {
        oMonthlyExpenseTable = $('#MonthlyExpenseTable').DataTable({
            "ajax": {
                "url": window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetAllMonthlyExpenseInfo",
                "type": "get",
                "data": {
                    "LoanId": $('#MonthlyExpense_LoanId').val()
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "LoanId" },
                { "data": "FamilyExpense" },
                { "data": "ChildrenEducation" },
            ],
            "order": [[0, "desc"]],
            searching: false,
            paging: false,
            "bInfo": false,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total = api
                    .column(2)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                expenseTotal = api
                    .column(2, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(2).footer()).html(
                    expenseTotal
                );
                y = expenseTotal;
            }
        });
        MonthlyExpenseInformatiom();
    }

    ///// ========= MonthlyExpenseInformatiom ============

    function MonthlyExpenseInformatiom() {
        var loanId = $('#MonthlyExpense_LoanId').val();
        var data = { loanId: loanId };
        $.ajax({
            url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetAllMonthlyExpenseInfo",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (data) {
                if (data.data[0].FamilyExpense === 0) {
                    $('#FamilyExpense').val('');
                } else {
                    $('#FamilyExpense').val(data.data[0].FamilyExpense);
                }
                if (data.data[0].ChildrenEducation === 0) {
                    $('#ChildrenEducation').val('');
                } else {
                    $('#ChildrenEducation').val(data.data[0].ChildrenEducation);
                }
                if (data.data[0].ExistingEMI === 0) {
                    $('#ExistingEMI').val('');
                } else {
                    $('#ExistingEMI').val(data.data[0].ExistingEMI);
                }
                if (data.data[0].OthersExpense === 0) {
                    $('#OthersExpense').val('');
                } else {
                    $('#OthersExpense').val(data.data[0].OthersExpense);
                }
                $('#TotalExpenseAmount').val(data.data[0].TotalExpense);
                //$('#FamilyExpense').val(data.data[0].FamilyExpense);
                //$('#ChildrenEducation').val(data.data[0].ChildrenEducation);
                //$('#ExistingEMI').val(data.data[0].ExistingEMI);
                //$('#OthersExpense').val(data.data[0].OthersExpense);
                //$('#TotalExpenseAmount').val(data.data[0].TotalExpense);
            }
        });
    }


    function NetIncomeCalculation() {
        var Amount = parseFloat($('#Amount').val());
        var SpouseAmount = parseFloat($('#SpouseAmount').val());
        var OtherIncomeAmount = parseFloat($('#OtherIncomeAmount').val());
        var ForeignRemitAmount = parseFloat($('#ForeignRemitAmount').val());
        var totalAmount = parseFloat(SpouseAmount + Amount + OtherIncomeAmount + ForeignRemitAmount);
        $('#TotalAmount').val(totalAmount);
    }

    function NetExpenseCalculation() {
        var FamilyExpense = parseFloat($('#FamilyExpense').val());
        var ChildrenEducation = parseFloat($('#ChildrenEducation').val());
        var ExistingEMI = parseFloat($('#ExistingEMI').val());
        var OthersExpense = parseFloat($('#OthersExpense').val());
        var totalAmount = parseFloat(FamilyExpense + ChildrenEducation + ExistingEMI + OthersExpense);
        $('#TotalExpenseAmount').val(totalAmount);
    }


    /*******************************************************************************************************************************************/
    $('#LoanDisburseDate').datepicker({
        dateFormat: 'dd/M/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+60",
        type: Text
    }).click(function () { $(this).focus(); });
    $('#LoanExpiryDate').datepicker({
        dateFormat: 'dd/M/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+60",
        type: Text
    }).click(function () { $(this).focus(); });

    $(function () {
        $("#COA_accountName").empty();
        $.ajax({
            type: "GET",
            url: window.applicationBaseUrl + "Loan/Loan/Get_COAaccountCodeInfo",
            contentType: "application/json; charset=utf-8",
            //data: JSON.stringify(json),
            success: function (data) {
                $("#COA_accountName").append('<option value="0">--Select Code--</option>');
                $.each(data, function (key, value) {
                    $("#COA_accountName").append('<option value=' + value.COAId + '>' + value.AccountCode + '</option>');
                    //alert(value.AccountCode);
                });
            }
        });
    });

    $(function () {
        $("#managementInstallmentType").empty();
        $.ajax({
            type: "POST",
            url: window.applicationBaseUrl + "Loan/Loan/GetInstallmentType",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#managementInstallmentType").append('<option value="0">--Select installment Type--</option>');
                $.each(data, function (key, value) {
                    $("#managementInstallmentType").append('<option value=' + value.InstallmentTypeId + '>' + value.InstallmentTypeName + '</option>');
                });
            }
        });
    });

    $('#managementLoanAmount').change(function () {
        if ($('#hdfAccounts').val() == 1) {
            // CalculateManagementEmi();
        }

    });
    $('#managementInterestRate').change(function () {
        // CalculateManagementEmi();
    });
    $('#managementInstallmentNo').change(function () {
        //alert('');
        CalculateManagementEmi();
    });
    $('#managementInstallmentType').change(function () {
        // CalculateManagementEmi();
    });


    var loanAmount;
    var interestRate;
    var numberOfInstallment;
    var interestAmount;
    var installmentAmount;
    var principleWithInterest;
    var totalInterest;

    //masum
    function CalculateManagementEmi() {
        //alert($('#hdfAccounts').val());
        loanAmount = parseInt($('#managementLoanAmount').val());
        //interestRate = parseFloat($('#managementInterestRate').val()) / 100;

        if (parseInt($('#hdfAccounts').val()) === 12) {
            /// interestRate = parseFloat($('#managementInterestRate').val()) * 2;
            interestRate = parseFloat($('#managementInterestRate').val());
        } else {
            interestRate = parseFloat($('#managementInterestRate').val());
        }

        numberOfInstallment = parseInt($('#managementInstallmentNo').val());
        if ($('#managementInstallmentType option:selected').val() == 2) {
            alert('qq');
            interestAmount = Math.round(parseFloat((loanAmount * interestRate) / 1200));
            //var r = parseFloat($('#managementInterestRate').val()) / 1200;
            var r = interestRate / 1200;
            var a = parseFloat(loanAmount * r);
            var b = parseFloat(Math.pow(1 + r, -numberOfInstallment));
            var c = 1 - b;
            installmentAmount = Math.round(a / c).toFixed(2);
            $('#managementInstallmentAmount').val(installmentAmount);
            principleWithInterest = parseFloat(installmentAmount * numberOfInstallment);
            totalInterest = Math.round(parseFloat(principleWithInterest - loanAmount));

        }


        if ($('#managementInstallmentType option:selected').val() == 1 && parseInt($('#hdfAccounts').val()) === 12) {
            alert('ss');
            var numberOfInstallment = parseInt($('#managementInstallmentNo').val());
            interestAmount = Math.round(parseFloat((loanAmount * interestRate) / 100));
            //var r = parseFloat($('#managementInterestRate').val()) / 5200;
            //var r = interestRate / 5200;
            //var a = parseFloat(loanAmount * r);
            //var b = parseFloat(Math.pow(1 + r, -numberOfInstallment));
            //var c = 1 - b;
            //installmentAmount = Math.round(a / c).toFixed(2);
            //console.log(interestAmount+loanAmount)/numberOfInstallment)
            $('#managementInstallmentAmount').val((interestAmount + loanAmount) / numberOfInstallment);
            principleWithInterest = parseFloat(installmentAmount * numberOfInstallment);
            totalInterest = Math.round(parseFloat(principleWithInterest - loanAmount));
        }
        else {
            // alert('ss');
            interestAmount = Math.round(parseFloat((loanAmount * interestRate) / 5200));
            //var r = parseFloat($('#managementInterestRate').val()) / 5200;
            var r = interestRate / 5200;
            var a = parseFloat(loanAmount * r);
            var b = parseFloat(Math.pow(1 + r, -numberOfInstallment));
            var c = 1 - b;
            installmentAmount = Math.round(a / c).toFixed(2);
            $('#managementInstallmentAmount').val(installmentAmount);
            principleWithInterest = parseFloat(installmentAmount * numberOfInstallment);
            totalInterest = Math.round(parseFloat(principleWithInterest - loanAmount));
        }


    }

    $('#submitApprove').click(function () {
        var LoanId = $('#hdfLoanId').val();
        if (LoanId !== 'NotASavedLoan') {
            var isValid = CheckValidation();

            if (isValid) {
                var data = Bindata();
                $.ajax({
                    url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/ApproveLoan",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        $('#hdfLoanId').val('');
                        if (d.oCommonResult.Status == true) {
                            window.location.reload();

                            document.getElementById('showMessage').style.color = "green";
                            $('#hdfLoanId').val(data.LoanId);
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                        $('#hdfLoanId').val('');
                    }
                });

            }
        } else {
            alert('Plz select data from table');
        }




    });


    function Bindata() {

        //var loanAmount = parseInt($('#managementLoanAmount').val());
        //var interestRate = parseFloat($('#managementInterestRate').val()) / 100;
        //var numberOfInstallment = parseInt($('#managementInstallmentNo').val());

        //if ($('#managementInstallmentType option:selected').val() == 2) {
        //    var interestAmount = parseFloat((loanAmount * interestRate) / 12);
        //    var r = parseFloat($('#managementInterestRate').val()) / 1200;
        //    var a = parseFloat(loanAmount * r);
        //    var b = parseFloat(Math.pow(1 + r, -numberOfInstallment));
        //    var c = 1 - b;
        //    var installmentAmount = (a / c).toFixed(2);
        //    //$('#managementInstallmentAmount').val(installmentAmount);
        //    var principleWithInterest = parseFloat(installmentAmount * numberOfInstallment);
        //    var totalInterest = parseFloat(principleWithInterest - loanAmount);

        //}
        //if ($('#managementInstallmentType option:selected').val() == 1) {
        //    var interestAmount = parseFloat((loanAmount * interestRate) / 52);
        //    var r = parseFloat($('#managementInterestRate').val()) / 5200;
        //    var a = parseFloat(loanAmount * r);
        //    var b = parseFloat(Math.pow(1 + r, -numberOfInstallment));
        //    var c = 1 - b;
        //    var installmentAmount = (a / c).toFixed(2);
        //    //$('#managementInstallmentAmount').val(installmentAmount);
        //    var principleWithInterest = parseFloat(installmentAmount * numberOfInstallment);
        //    var totalInterest = parseFloat(principleWithInterest - loanAmount);
        //}

        //CalculateManagementEmi();
        var interestRateToDisplay = parseFloat($('#managementInterestRate').val());
        if (parseInt($('#hdfAccounts').val()) === 12) {
            interestRate = interestRateToDisplay * 2;
        } else {
            interestRate = interestRateToDisplay;
        }

        var data = {
            LoanNo: $('#LoanNo').val(),
            AccountSetupId: $('#hdfAccounts').val(),
            LoanId: $('#hdfLoanId').val(),
            LoanExpiryDate: $('#LoanExpiryDate').val(),
            InterestAmount: interestAmount,
            //InstallmentAmount: installmentAmount,
            InstallmentAmount: $('#managementInstallmentAmount').val(),
            LoanDate: $('#LoanDisburseDate').val(),
            LoanAmount: loanAmount,
            //InterestRate: $('#managementInterestRate').val(),managementInstallmentNo
            InterestRate: interestRate,
            InterestRateToDisplay: interestRateToDisplay,
            InstallmentTypeId: $('#managementInstallmentType option:selected').val(),
            NumberOfInstallment: $('#managementInstallmentNo').val(),
            COAId: $('#COA_accountName option:selected').val(),
            TotalInterest: totalInterest,
            CustomerId: $('#hdfCustomerId').val(),

            MonthlyInstallmentNumber: document.getElementById('labelmonthlyNoInstallment').innerHTML,
            WeeklyInstallmentNumber: document.getElementById('labelweeklyNoInstallment').innerHTML,
            MonthlyInstallmentAmount: document.getElementById('labelmonthlyInstallmentAmount').innerHTML,
            WeeklyInstallmentAmount: document.getElementById('labelweeklyInstallmentAmount').innerHTML,
            MonthlyDbr: document.getElementById('labelmonthlyDbr').innerHTML.replace('%', ''),
            WeeklyDbr: document.getElementById('labelweeklyDbr').innerHTML.replace('%', ''),
            Equity: document.getElementById('labelweeklyEquity').innerHTML.replace('%', '')

        }

        return data;

    }





    $('#submitReject').click(function () {
        var LoanId = $('#hdfLoanId').val();
        if (LoanId !== 'NotASavedLoan') {
            var isValid = true;
            if (isValid) {

                var LoanId = $('#hdfLoanId').val();
                var data = { loanId: LoanId };

                $.ajax({
                    url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/RejectLoan",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        $('#hdfLoanId').val('');
                        if (d.oCommonResult.Status == true) {
                            document.getElementById('showMessage').style.color = "green";
                            //  $('#hdfLoanId').val(data.LoanId);
                            window.location.reload();
                        }
                        document.getElementById('showMessage').innerHTML = d.oCommonResult.Message;
                    },
                    error: function () {
                        document.getElementById('showMessage').innerHTML = 'Error. Please try again.';
                        // $('#hdfLoanId').val('');
                    }
                });

            }
        } else {

            alert('Plz select data from table');

        }

    });

    $('#submitGenerateLoanId').click(function () {
        var LoanId = $('#hdfLoanId').val();
        if (LoanId !== 'NotASavedLoan') {
            var loanType = $("#hdfAccounts").val();

            var json = {
                loanType: loanType
            };
            $.ajax({
                type: "POST",
                url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetLoanNo",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $('#LoanNo').val(data);
                    if (loanType === '3') {
                        var mNames = new Array("Jan", "Feb", "Mar",
                            "Apr", "May", "Jun", "Jul", "Aug", "Sep",
                            "Oct", "Nov", "Dec");

                        var d = new Date();
                        var year = d.getFullYear() + 1;
                        var month = d.getMonth();
                        var day = d.getDate();
                        var c = day + "/" + mNames[month] + "/" + year;
                        $("#LoanExpiryDate").val(c);
                    }
                }
            });
        } else {
            alert('Plz select data from table');
        }


    });


    function CheckValidation() {
        var isValid = true;

        if ($('#LoanDisburseDate').val().trim() === '') {
            isValid = false;
            $('#LoanDisburseDate').parent().prev().find('span').css('visibility', 'visible');
        } else {
            $('#LoanDisburseDate').parent().prev().find('span').css('visibility', 'hidden');
        }
        if ($('#LoanNo').val().trim() === '') {
            isValid = false;
            $('#LoanNo').parent().prev().find('span').css('visibility', 'visible');
        } else {
            $('#LoanNo').parent().prev().find('span').css('visibility', 'hidden');
        }
        if ($('#managementLoanAmount').val().trim() === '') {
            isValid = false;
            $('#managementLoanAmount').parent().prev().find('span').css('visibility', 'visible');
        } else {
            $('#managementLoanAmount').parent().prev().find('span').css('visibility', 'hidden');
        }
        if ($('#managementInterestRate').val().trim() === '') {
            isValid = false;
            $('#managementInterestRate').parent().prev().find('span').css('visibility', 'visible');
        } else {
            $('#managementInterestRate').parent().prev().find('span').css('visibility', 'hidden');
        }
        //if ($('#LoanExpiryDate').val().trim() === '') {
        //    isValid = false;
        //    $('#LoanExpiryDate').parent().prev().find('span').css('visibility', 'visible');
        //} else {
        //    $('#LoanExpiryDate').parent().prev().find('span').css('visibility', 'hidden');
        //}
        if ($('#COA_accountName').val().trim() === '0') {
            isValid = false;
            $('#COA_accountName').parent().prev().find('span').css('visibility', 'visible');
        } else {
            $('#COA_accountName').parent().prev().find('span').css('visibility', 'hidden');
        }

        var availableBalance = parseFloat($("#AccountBalance").text());
        var loanAmount = parseFloat($('#managementLoanAmount').val());
        if (loanAmount > availableBalance) {
            alert('InSufficient Balance!!!');
            isValid = false;
        }
        return isValid;
    }



    $("#managementInstallmentNo").change(function () {


        var installmentNo = $("#managementInstallmentNo").val();
        var startDate = $("#LoanDisburseDate").val();
        var type = $('#managementInstallmentType option:selected').val();

        var json = {
            NumberOfInstallment: installmentNo,
            LoanDate: startDate,
            InstallmentTypeId: type
        };

        $.ajax({
            type: "POST",
            url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetExpiryDate",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            success: function (data) {
                $("#LoanExpiryDate").val(data.info.LoanExpiryDate);
            }
        });
    });


    function IsInteger(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;

        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        else if (charCode == 13 || charCode == 46) {
            return false;
        }
        status = "";
        return true;
    }

    function IsDouble(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;

        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
            return false;
        }
        else if (charCode == 13) {
            return false;
        }
        status = "";
        return true;
    }


    $('#COA_accountName').change(function () {
        $.ajax({
            type: "POST",
            url: window.applicationBaseUrl + "Loan/LoanApplicationApproval/GetAccountCodeInfo",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ coaId: $('#COA_accountName').val() }),
            success: function (data) {
                $('#AccountBalance').text(data.Balance);
            }
        });
    });
</script>




